[2021-03-18 13:46] aclevername commented on #1565
eksctl hands off the majority of the authentication handling to the aws-sdk-go. Since [aws-sdk-go version 1.37.0](https://github.com/aws/aws-sdk-go/releases/tag/v1.37.0) they added support for AWS SSO. If you try the latest version of eksctl `v0.40.0` I think it will work as we've bumped to use the latest aws-sdk-go. I haven't been able to test this, @DanielAmmar @bitva77 @aibou please let me know

[2021-03-18 13:57] Callisto13 commented on #3445
I would definitely recommend switching to Flux 2 if the option to run separate commands is possible.

[2021-03-18 14:00] wat-usmdon commented on #3445
This fixes it for me

[code]

I'll probably use the separate commands for now anyway.

[2021-03-18 14:19] aclevername opened #3448 "Move `any-commit` job from CircleCI to Github Actions"
We've had some problems with CircleCI not running recently https://github.com/weaveworks/eksctl/pull/3443 and its much easier for people to understand whats happening when its a Github Action.

[2021-03-18 14:39] Callisto13 commented on #3445
Cool, and thanks for the fix tip 😄

[2021-03-18 15:48] liranp commented on #3442
Fixed by #3447.

[2021-03-18 15:48] #3442 closed

[2021-03-18 16:46] Callisto13 commented on #3446
Note: GPU AMI `amazon-eks-gpu-node-1.xx-v20210310` has rolled back to not use that config file again.

[2021-03-18 22:13] GaboFDC commented on #188
Bumping this, should be a important feature to have

[2021-03-19 05:25] rafaelbmoraes opened #3452 "Scale existing cluster fails when cluster created specifying instanceRoleName on node groups"
**What happened?**
Running :
[code]
Throws error Error:
[code]
**How to reproduce it?**
Create a cluster and set only a custom instanceRoleName without specifying an arn

**Versions**

[code]

[2021-03-19 16:36] marciogmorales opened #3459 "AWS Load Balancer Controller v2.1.3 + EKSCTL (Multiple tagged SGs)"
Hello,
I'm using eksctl to launch an Amazon EKS cluster consisting of:

1 Managed Linux node
2 Windows Nodes

The Windows nodes by default has two Security Groups created and attached:

1 - ClusterSharedNodeSecurityGroup
2 - SG for communication between the control plane and worker nodes in group windows-ng-ltsc

However,
When trying to launch a **Type: Loadbalancer (NLB)** I receive the following

[2021-03-19 16:40] #3439 closed

[2021-03-19 17:28] aclevername commented on #3459
Thanks for opening the issue @marciogmorales !

https://github.com/kubernetes/kubernetes/blob/68b4e26caf6ede7af577db4af62fb405b4dd47e6/staging/src/k8s.io/legacy-cloud-providers/aws/aws.go#L4111-L4138 the error is coming back from the AWS cloud provider. It looks for the `kuberntes.io/cluster/<name>` tag on the security groups attached to an EC2 Instance, and appears to not like it when more than o

[2021-03-19 19:03] marciogmorales commented on #3459
Thanks for the quickly feedback.

This is happening on my Windows node (instance i-0f7XXXX). The kuberntes.io/cluster/<name> tag has begin created on both SGs.

Here are some screenshots of the Tags created:

**ClusterSharedNodeSecurityGroup:**
![Screen Shot 2021-03-19 at 1 57 30 PM](https://user-images.githubusercontent.com/26945091/111830225-a85f1e80-88bb-11eb-84a5-316299ddcc01.png)

**NodeSecur

[2021-03-19 19:17] aclevername commented on #3459
Thanks @marciogmorales. I don't see the `kubernetes/clusters/<name>` tag on the screenshot above for `ClusterSharedNodeSecurityGroup`. Are you sure you have the correct SG's? Are those two the same reported in the error? `the tagged groups were sg-0cf0274a15cb31e9a(eksctl-eks-windows-nodegroup-windows-ng-ltsc-SG-7ZXXXXXZ) sg-04be95eb6f37ad123(eks-cluster-sg-eks-windows-1XXXX7)`

[2021-03-20 04:42] jescarri commented on #2364
bumping the feature request.

[2021-03-22 04:49] TBBle commented on #2331
I'd still like this improvement.

[2021-03-22 10:27] cPu1 opened #3461 "Integrate with EC2 instance selector"
Implement this proposal: https://github.com/weaveworks/eksctl/blob/main/docs/proposal-007-instance-selector-dry-run.md

[2021-03-22 14:26] viktormohl commented on #2371
Hello, the above options add the respective AWS Policies to the NodeGroup, please see the iam.go-file l. 19 and iam_helper.go l.165 (https://github.com/weaveworks/eksctl.git).

[code]

[code]

[2021-03-22 16:00] Callisto13 opened #3464 "Investigate bootstrapping"
1. Why does eksctl do this? https://github.com/weaveworks/eksctl/blob/main/docs/current-001-node_bootstrap.md
2. Can we not? Can we just use the one which comes in the AMIs and remove our own?
3. What will break?

[2021-03-22 20:44] jyotimahapatra opened #3465 "EFA security group not attached to the EFA network cards"
I created an efa enabled eks cluster following the instructions [here](https://github.com/weaveworks/eksctl/pull/2688#issue-494900848).

The cluster got created successfully, but i see an issue in security groups that will prevent efa workloads from executing.

The Cfn for Managed node group did create a efa security group called EFASG
<img width="1245" alt="Screen Shot 2021-03-22 at 1 42 18 PM" s

[2021-03-23 02:13] #3252 closed

[2021-03-23 05:32] liangxibing commented on #1030
Will anyone take a look at this? We have some EBS volume enforce tagging policy.
So we can't use user data to add tags later but only when invoking EC2 RunInstances API.

[2021-03-23 10:16] aibou commented on #1565
Thank you for your notification! I tried to authenticate for AWS SSO with eksctl `v0.41.0`, and it was successful! 😄
I appreciate very much your corporation. Thank you!

[2021-03-23 10:24] aclevername commented on #1565
Amazing! Glad it worked :smile:

closing the issue as its now resolved.

[2021-03-23 10:24] #1565 closed

[2021-03-23 18:55] rtripat opened #3472 "Use correct Service Principal for IAM roles created for cluster & fargate pods"
**What were you trying to accomplish?**
Trying to create a cluster with a fargate profile

**What happened?**
eksctl creates two roles
1. ClusterRole
2. PodExecutionRole

Both these roles have two SPs: `eks.amazonaws.com` and `eks-fargate-pods.amazonaws.com`. Instead, ClusterRole should have `eks.amazonaws.com` and PodExecutionRole should have `eks-fargate-pods.amazonaws.com`

**How to reproduce i

[2021-03-25 02:40] TwoAbove commented on #2981
This would be really good to have :+1:

Any updates on the timeline? I don't have enough knowledge to submit a PR unfortunately

[2021-03-25 03:04] #3413 closed

[2021-03-25 09:18] YYSU commented on #2174
Can't wait to see this !

[2021-03-25 09:19] #3249 closed

[2021-03-25 10:27] aclevername commented on #2174
Docs will be out with this weeks release, I'm going to close this issue now as the work is done! 😄

[2021-03-25 10:27] #2174 closed

[2021-03-25 12:28] #3472 closed

[2021-03-25 18:00] #3465 closed

[2021-03-25 18:04] Callisto13 commented on #3249
@jlbutler we've added some things for the interim 👍

[2021-03-25 18:27] mohantangirala opened #3477 "Nodegroup creation failed"
Hello,

My eksctl version is 0.41.0

Taken the sample config file from the https://eksctl.io/usage/creating-and-managing-clusters/.
With managed node groups and custom subnets (which have internet access)
when creating the cluster , it failed with
[code]
When created the cluster with out node group, it created properly with out no issues,
When trying to add a new node group again the same error ap

[2021-03-26 09:11] aclevername commented on #3477
Thanks for opening the issue @mohantangirala. Can you provide the cluster config used and the full eksctl output? Thanks.

[2021-03-26 09:17] Callisto13 commented on #3477
@aclevername when we get to the bottom of this can we remember to update the issue name with the cause? Should make search-ability and troubleshooting in the future easier.

[2021-03-26 11:14] aclevername opened #3480 "Integration test failures"
Of the last 5 integration test failures, 4 of have been a `kube-test-harness` failure:
https://github.com/weaveworks/eksctl/runs/2199521416?check_suite_focus=true
https://github.com/weaveworks/eksctl/runs/2163525767?check_suite_focus=true
https://github.com/weaveworks/eksctl/runs/2158537822?check_suite_focus=true
https://github.com/weaveworks/eksctl/runs/2147046970?check_suite_focus=true

[code]

[2021-03-26 20:44] jlbutler commented on #3249
@Callisto13 thank you so much! I owe you one, or a few. Looks great!

[2021-03-27 01:49] #2786 closed

[2021-03-27 01:49] #1826 closed

[2021-03-27 01:49] #1141 closed

[2021-03-29 08:27] toabctl commented on #3436
Hey @dholbach :)
would you accept patches to fix the snap build and do snap builds as part of a PR so at least the build is not breaking again?

[2021-03-29 08:37] aclevername commented on #3480
latest run failed for the same reason in the managed suite https://github.com/weaveworks/eksctl/runs/2215904530?check_suite_focus=true#step:7:25585

[2021-03-29 08:40] tobias-zeptio opened #3484 "Error when trying to create unmanaged nodegroup in cloudformation cluster"
I get a error when I try to create an unmanaged nodegroup for a cluster created through cloudformation.

[code]

This is the command I run:

[code]

And this is the cloudformation:

[code]

**Versions**
[code]

[2021-03-29 08:45] aclevername commented on #3484
Thanks for opening the issue @tobias-zeptio . The docs for this functionality hasn't been pushed to our live site yet, but you can find it [here](https://github.com/weaveworks/eksctl/blob/6c120df97f32912c4bdefe3fe0bb93840dde2bd5/userdocs/src/usage/unowned-clusters.md#creating-nodegroups). You need to provide a VPC spec in the cfg file when creating nodegroups for clusters not created by eksctl

[2021-03-29 09:01] Callisto13 commented on #3484
gah, just saw a typo in the example yaml 🤦‍♀️

[2021-03-29 09:03] Callisto13 commented on #3484
i will also pr a thing so that a nice error is returned if no vpc conf is provided. could have sworn i already did that but maybe i only go as far as thinking about it

[2021-03-29 09:42] #3484 closed

[2021-03-29 14:40] aclevername commented on #3436
Thanks for bumping the issue @toabctl , we will discuss bringing this back in this weeks planning and get back to you :smile:

[2021-03-30 01:48] #3283 closed

[2021-03-30 01:48] #3281 closed

[2021-03-30 08:40] aclevername commented on #3459
closing due to inactivity

[2021-03-30 08:40] #3459 closed

[2021-03-30 08:43] #2986 closed

[2021-03-30 08:45] #3341 closed

[2021-03-30 11:12] Callisto13 commented on #3464
## Why do we override all node bootstrapping for unmanaged nodegroups?

Eksctl started providing its own bootstrapping about 2.5 years ago.

The design is documented [here](https://github.com/weaveworks/eksctl/blob/main/docs/current-001-node_bootstrap.md).

The bootstrap scripts were based on the official ones found either online (in the case they were publicly shared), or by locating them on disk

[2021-03-30 13:11] aclevername commented on #3480
it appear the failures are being caused by a change in an external dependency. In both the managed and crud suites we deploy the [test-http](https://github.com/weaveworks/eksctl/blob/main/integration/data/test-http.yaml) daemonset that curls a series of different endpoints to ensure a cluster with a [mixture of public and private nodegroups](https://github.com/weaveworks/eksctl/blob/f2fcc39fb87f11

[2021-03-30 14:55] #3426 closed

[2021-03-31 01:48] #2567 closed

[2021-03-31 03:15] teochenglim opened #3496 "critical feature update nodegroup resource is missing"
**What feature/behavior/change do you want?**
That's no update nodegroup in the CLI?
Let's say i created an EKS cluster using a yaml input files. That's no way i can update a nodegroup number?

[code]

**Why do you want this feature?**

Use yaml file to create cluster to keep the consistency of cluster creation and often we keep this file as source of truth in a git repo and allow multiple enginee

[2021-03-31 13:19] Callisto13 opened #3497 "Write unit tests for pkg/eks/nodegroup_service"
Final missing piece of https://github.com/weaveworks/eksctl/pull/3476

[2021-03-31 13:39] #3461 closed

[2021-03-31 15:55] #3480 closed

[2021-03-31 19:45] mikestef9 opened #3506 "Support for multiple AMI release versions in managed node groups"
**What feature/behavior/change do you want?**
EKS managed node groups now allows you to pass any AMI release version for a managed node group, instead of only the latest version. See https://github.com/aws/containers-roadmap/issues/810. eksctl needs to expose a way to pass through the AMI release version.

Ex.

[code]

**Why do you want this feature?**
For consistency between dev/test and prod env

[2021-04-01 01:54] #1481 closed

[2021-04-01 02:05] TBBle commented on #1481
Aw, dang. I forgot to comment earlier. >_<

[2021-04-01 08:04] Callisto13 commented on #3070
@mikestef9 / @tabern could you summarise a response to this please?

[2021-04-01 08:05] Callisto13 commented on #2364
@mikestef9 / @tabern could one of you summarise our decision on this please?

[2021-04-01 08:29] andreamaruccia commented on #2946
Is it possible to reduce the loglevel for retryable errors in some way?

[2021-04-01 10:39] rust84 commented on #3238
We need this because we are using a self-hosted gitlab server and there doesn't seem to be a way to set the hostname.

[2021-04-01 10:55] runtman commented on #3238
+1

[2021-04-01 21:04] ndmikkelsen commented on #3238
+1

[2021-04-01 21:04] darnone opened #3514 "Running eksctl in Docker results with ExpiredToken error"
We are trying to deploy an eks cluster.  Running from shell scripts natively works with no problems.

For automation we are using Docker to hold all of the deployment tools - eksctl, kubectl, etc. The deployment is executed with a `docker-compose up` on an ec2 bastion server in a different account that is routed to a new account with no vpc. The `network_mode` in the `docker-compose.yaml` file is

[2021-04-02 01:57] #3311 closed

[2021-04-03 20:23] lloydchang opened #3516 "capacity-optimized-prioritized isn't supported by eksctl yet even though it's a valid option for EC2 Spot Instances"
`capacity-optimized-prioritized` isn't supported by `eksctl` yet even though it's a valid option for EC2 Spot Instances according to https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-fleet-configuration-strategies.html

It appears that `eksctl` https://github.com/weaveworks/eksctl/pull/1883 and https://github.com/weaveworks/eksctl/pull/1883/files#diff-7b28fc939dfa83d6e1aae36e225442c39303a854

[2021-04-04 08:01] vidurb commented on #1003
Just encountered the same problem in `0.43.0`.

[2021-04-04 08:37] lloydchang opened #3520 "Support EKS 1.20"
Support EKS 1.20 release in April, 2021
• https://github.com/awsdocs/amazon-eks-user-guide/blob/master/doc_source/kubernetes-versions.md#amazon-eks-kubernetes-release-calendar
• https://github.com/aws/containers-roadmap/issues/1244

[2021-04-05 13:22] FireballDWF commented on #3441
@Callisto13 I'm the AWS ProServe Global lead for Outposts, with fulltime access to an Outpost that I can use for testing.  The changes which are needed is when creating a subnet, need to supply the OutpostArn attribute to the CreateSubnet API.  And when calling RunInstances, CreateVolumes, or LaunchTemplates APIs, need to specify gp2 ebs volumes types (or let it default, just don't specify gp3 (as

[2021-04-05 13:28] FireballDWF commented on #3441
It would also be nice to support a command line parameter of the equivalent of the config file attribute nodeGroup:volumeType for people looking to automate without having to generate a config file.

[2021-04-05 18:58] FireballDWF commented on #3441
Alternatively for testing, if you want to do it yourself, I can help you get access to the Outpost Test Lab on a 1 scheduled week at a time basis.

[2021-04-06 07:30] Callisto13 commented on #3441
Thanks @FireballDWF your help would be great 😀 .

We have a product meeting today and I will put this on the agenda.

This should already exist on `create cluster/nodegroup` commands as `--node-volume-type`.

[2021-04-06 08:28] aston-r opened #3528 "InsufficientCapabilitiesException error while updating existent IAMServiceAccounts"
Hi,

STR:
- define IAMServiceAccount and run `eksctl create iamserviceaccount --config-file cluster.yaml`
[code]
- add one more policy and run `eksctl update iamserviceaccount --config-file cluster.yaml`

[code]

Here is an error:
[code]

I think it is due to the fact that I have static roleName for the service account, since according to AWS documentation (https://docs.aws.amazon.com/AWSCloudForm

[2021-04-06 09:35] aclevername commented on #2447
https://github.com/weaveworks/eksctl/pull/2688

[2021-04-06 09:35] #2447 closed

[2021-04-06 13:13] kr3cj opened #3531 "instanceSelector should ignore unavailable instanceTypes"
The new [instanceSelector](https://github.com/weaveworks/eksctl/pull/3498) feature looks awesome and has the potential to simplify our eks config yaml as well as make it more intuitive and increase supportability.

**What feature/behavior/change do you want?**
I was testing the new [`instanceSelector`](https://github.com/weaveworks/eksctl/issues/3461) feature available in [`eksctl 0.44.0-rc.0`](ht

[2021-04-06 13:42] cPu1 commented on #3531
Thanks for the great feedback! The `ec2-instance-selector` library, which eksctl delegates to, does support specifying a set of availability zones to check EC2 capacity offered in specific AZs. However, eksctl currently does not pass this information. We'll start working on it soon.

[2021-04-06 14:51] msven opened #3532 "Updating nodegroup min/max size without desired capacity resets desired capacity to CF value"
**What were you trying to accomplish?**
I was testing the newly merged functionality provided in #3511 which was trying to fix #2332

Specifically I was trying out

    eksctl scale nodegroup --nodes-max 5 --cluster myCluster --name myNg

**What happened?**
My nodegroups had previously scaled up nodes via the cluster autoscaler, so the current desired capacity differed from what was set in the clo

[2021-04-06 15:05] msven commented on #3532
The issue it closed had the following use case described:

It sounds like to achieve that, `eksctl scale` as you say may need to detect the current capacity and update the cloudformation stack with that value in order to avoid cloudformation from rescaling the nodegroup to match the old desired capacity.

It could be the PR mentioned it only changed the number of mandatory fields, but if that was

[2021-04-06 15:13] aclevername commented on #3532
Ah your absolutely right, I will re-open the issue and address. Thanks!

[2021-04-06 15:16] msven commented on #3532
With #2332 being re-opened I am closing this issue.

Thanks!

[2021-04-06 15:16] #3532 closed

[2021-04-06 15:44] elementalvoid commented on #3531
👋 Would it be possible to expose the allow-list and/or deny-list feature of the library while changes are being made?

We've performed some profiling of different instance classes with our workloads and found that certain ones aren't something we want to adopt in production (`t3` specifically). They'd be _great_ for staging/dev environments but for production, we try to stick with other instance c

[2021-04-06 18:35] TBBle commented on #2332
As a status update, #3511 has introduced the ability to change the minSize and maxSize of a NodeGroup without changing desiredCapacity, but has the side-effect that the ASG's size is reset to the desiredCapacity of the NodeGroup (by updating CloudFormation).

The Cluster Autoscaler interaction we need for the use case of this ticket is that somehow we need the minSize/maxSize to come from eksctl -

[2021-04-07 02:05] FireballDWF commented on #3441
Ok, I see --node-volume-type now was actually in the --help output, my mind had just skipped over it.  Thank you.

I don't see a option to specify pre-existing subnets like a nodegroup equivalent of the create clusters --vpc-private-subnets so does that already exist?  Or is it on your roadmap/todo list, or should I submit an issue to request it?

[2021-04-07 07:52] Callisto13 commented on #3441
As a config file is preferred, we deliberately don't expose a lot of configuration via flags. Check out the config [schema](https://eksctl.io/usage/schema/) and the [VPC docs](https://eksctl.io/usage/vpc-networking/#vpc-networking).

[2021-04-07 13:31] cPu1 opened #3536 "Support CoreDNS and kube-proxy in EKS add-ons"
More details: https://github.com/aws/containers-roadmap/issues/1159

[2021-04-07 13:33] nmaupu commented on #3528
Same problem here, thanks for posting this !

[2021-04-07 15:21] mikestef9 opened #3539 "iamidentitymapping command does not honor multiple groups"
Seeing different behavior based on the cli input format

[code]

[code]

I'd expect the second command to produce the same output as the first

**Versions**
0.43.0

[2021-04-07 15:27] aclevername commented on #3539
Thanks for opening the issue @mikestef9

This appears to be caused by the fact we use a `StringVarArray` instead of a `StringSlice` for the flag

https://github.com/spf13/pflag/blob/85dd5c8bc61cfa382fecd072378089d4e856579d/string_array.go#L75-L78
[code]

For example we using `StringSlice` for [vpc subnets flag](https://github.com/weaveworks/eksctl/blob/b1221cda49bc357ebc5f3caae054dc4821fbf0d8/pkg/

[2021-04-07 17:17] gjtempleton opened #3540 "ManagedNodeGroups Launch without documented default volume size"
**What were you trying to accomplish?**

Launch managed node groups with the documented default 80GB root volumes.

**What happened?**

The managed node groups were created with no configuration of storage in the launch template, and therefore launched instead with only 20GB of storage as the default of the launch template.

**How to reproduce it?**

Create a cluster using managed and unmanaged no

[2021-04-07 17:36] deliahu commented on #643
@michaelbeaumont I was just wondering if this feature is still on the roadmap, as supporting Elastic Inference is a common request among [cortex](https://github.com/cortexlabs/cortex) users (we use `eksctl` to help configure users' clusters).

[2021-04-08 01:55] #916 closed

[2021-04-08 01:55] #777 closed

[2021-04-08 07:54] Callisto13 commented on #3017
Oh actually I solved this with https://github.com/weaveworks/eksctl/pull/3492

[2021-04-08 07:54] #3017 closed

[2021-04-08 08:06] #3349 closed

[2021-04-08 08:12] aclevername commented on #2332
Yeah this is quite frustrating. I think the best solution is for eksctl to treat the ASG as the source of truth for min/max/desired after the nodegroups created. We have a similar PR open currently to change the `eksctl get nodegroup` output to fetch desired from the ASG https://github.com/weaveworks/eksctl/pull/3515

`DesiredCapacity` would default to `minSize` if not specified https://docs.aws.a

[2021-04-08 09:48] #3516 closed

[2021-04-08 09:49] aclevername commented on #3528
Thanks for opening the issue @aston-r, I will take a look :smile:

[2021-04-08 09:53] aclevername commented on #3540
might be related to https://github.com/weaveworks/eksctl/issues/2776 which was fixed. @gjtempleton can you try again with the latest version of eksctl? `0.33` is quite old :smile:

[2021-04-08 09:58] Callisto13 commented on #3514
Hi @darnone could you check the session expiration of the `~/.aws/credentials` that the docker container is using?

[2021-04-08 10:11] #2331 closed

[2021-04-08 12:59] TBBle commented on #2332
Interesting. I expect taht a CF update that does not include `DesiredCapacity` would not cause this to be *reset* to `MinSize`, i.e. that default is only used when creating the ASG from CF. The notes on [the `UpdateAugoScalingGroup` API](https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_UpdateAutoScalingGroup.html) imply that it works this way, assuming CF is calling that API when a CF

[2021-04-08 13:05] aclevername commented on #2332
it might be, although I've found cloudformation often does thins you don't expected :wink:

I'm going to go ahead with changing the `scale` command to use the ASG as the source of truth, I think its inevitable that the values in the CF stack will go out of date.

[2021-04-08 14:44] #3497 closed

[2021-04-08 17:36] gjtempleton commented on #3540
Hi @aclevername, thanks for the quick response. I've just tested again with version 0.44 and you're correct, this is resolved.

Closing.

[2021-04-08 17:36] #3540 closed

[2021-04-08 23:37] karlmutch commented on #3477
I am seeing something very similar with 0.43.0.  I see the node groups being created and the CloudFormation console also shows then present.  However the EKS console does not display the node groups.  Also any nodes that area created are however visible in the EC2 console and kubectl of course sees them.

This is fine except it seems to trip up the Kubernetes 1.19 autoscaler which fails to create

[2021-04-08 23:39] karlmutch commented on #3477
I am seeing something very similar with 0.43.0. But in my case I see the node groups being created and the CloudFormation console also shows then present. However the EKS console does not display the node groups. Also any nodes that area created are however visible in the EC2 console and kubectl of course sees them.

This is fine except it seems to trip up the Kubernetes 1.19 autoscaler which fail

[2021-04-09 06:44] cPu1 commented on #3516
Closed by https://github.com/weaveworks/eksctl/pull/3519

[2021-04-09 06:46] cPu1 opened #3545 "Manage IAM identity cluster access with EKS API"
More details: https://github.com/aws/containers-roadmap/issues/185

[2021-04-09 08:29] Callisto13 commented on #3477
@karlmutch It seems like you are seeing something else, but I am not sure anything is wrong. Can you confirm whether you saw the same `failed to stabilize` error as the OP?

From what I can see from your output, the eksctl command succeeded and the nodes joined the cluster. Can you confirm that you have created _unmanagaed_ nodegroups? If so, these will not show up in the `aws eks list` output, no

[2021-04-09 10:17] #3539 closed

[2021-04-09 10:34] #3528 closed

[2021-04-09 12:52] #3506 closed

[2021-04-09 13:26] #2332 closed

[2021-04-09 15:53] aclevername commented on #3539
fix should be out in todays `0.45.0-rc.0`

[2021-04-09 15:53] aclevername commented on #3532
fix should be out in todays `0.45.0-rc.0`

[2021-04-09 15:53] aclevername commented on #2332
fix should be out in todays `0.45.0-rc.0`

[2021-04-09 15:53] aclevername commented on #3528
fix should be out in todays `0.45.0-rc.0`

[2021-04-09 18:19] RMartires commented on #1482
i had the same issue

my configfile:
`apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: JupyterHub
  region: ap-south-1

vpc:
  id: 'vpc-abc'
  cidr: '10.x.x.0/16'
  subnets:
    public:
      ap-south-1a:
        id: 'subnet-def'
        cidr: '10.x.x.0/24'
      ap-south-1b:
        id: 'subnet-hij'
        cidr: '10.x.x.0/24'

 nodeGroups:
   - name: ng-1
     instanceType:

[2021-04-10 01:45] msven commented on #3452
@rafaelbmoraes Could you test this behavior out with the latest release?   #3543 changed the nodegroup scale operation to no longer go through cloudformation, instead it directly modifies the asg settings.  It's possible this change either fixed this issue or you might get a different error message.

[2021-04-10 01:51] #3396 closed

[2021-04-10 01:51] #1695 closed

[2021-04-10 02:40] tarach commented on #1408
Hi,
I've just encountered this error.

Since I'm learning I didn't bother at first to create an IAM account and I was using a root with **eksctl** and one issue aside it was working fine. ( I was able to create a cluster )

I've encountered an RBAC issue which I was hoping an account other than root will help me solve.
I've created an account logged in to it via AWS Console and using **aws configu

[2021-04-10 16:28] FireballDWF opened #3553 "prefix list support for publicAccessCIDRs values"
**What feature/behavior/change do you want?**

Add support vpc prefix lists as valid values in addition to normal CIDR blocks for the values of publicAccessCIDRs in the config file and in set-public-access-cidrs util.  https://docs.aws.amazon.com/vpc/latest/userguide/managed-prefix-lists.html

**Why do you want this feature?**

Support consistency in security rules across multiple accounts/vpcs.

[2021-04-11 01:54] #633 closed

[2021-04-12 12:40] haimari commented on #3238
+1

[2021-04-12 15:43] aclevername opened #3562 "eksctl uses deprecated `beta.kubernetes.io/arch` and `beta.kubernetes.io/os` labels"
Since `1.14` the `beta.kubernetes.io/arch` and `beta.kubernetes.io/os` labels have been deprecated, in 1.19 they started to replace it with `kubernetes.io/arch` and `kubernetes.io/os`. Eksctl needs to be handle both labels for < 1.19 and only the latest for >= 1.19

https://v1-19.docs.kubernetes.io/docs/setup/release/notes/

[2021-04-12 16:34] karlmutch commented on #3477
@Callisto13 I did eventually figure out how to see the group.  I was using GPU instances and AWS did not have capacity to fulfill the request and things were never completing as far as EKS was concerned and so were invisible.  I switch to Ohio and was able to start clusters successfully. Thanks for the message.

[2021-04-12 16:43] Callisto13 opened #3563 "(Future) Breaking: overrideBootstrapCommand soon to be required with Custom AMIs for AL2 and Ubuntu unmanaged nodegroups"
# Note 1: Future change is described below, no action required from users yet
# Note 2: This is an announcement thread, not a "problem with `overrideBootstrapCommand`" thread. Please do NOT spam this thread with problems you are having. Please open a new issue with your specific failure.

## Do I need to read this issue/Will this change affect me?

![Inception Template (1)](https://user-images.git

[2021-04-12 17:21] kbroughton commented on #1070
As an AWS admin, when trying to delete via cloudformation after attempting to delete the cluster directly failed, the stack delete fails with

NodeInstanceRole:     Cannot delete entity, must detach all policies first. (Service: AmazonIdentityManagement; Status Code: 409; Error Code: DeleteConflict; Request ID: 3933db5f-xxxf09; Proxy: null)

[2021-04-12 21:01] dafelipe130 opened #3565 "Deleting addon IAM policies in a managed nodegroup via a config file does not work"
**What were you trying to accomplish?**

Given an existing managed node group with some canned IAM addon policies attached and a config file with some of those addon policies removed, issuing an `eksctl upgrade nodegroup -f config-file-with-removed-add-on-policy` will update the CFN stack and in turn update the node instance role to remove the undesired IAM inline policies

**What happened?**
It d

[2021-04-12 22:05] darnone commented on #3514
We wrote a python script that assumes the existing role for 3600 seconds an injects the credentials as env variable back into the existing process the problem is that they are lasting for 3600 seconds, however, if I inject them often enough and frequently, we can get through the deployment. It is not elegant but it works.  Not sure why the creds aren't good for an hour but that is probably a quest

[2021-04-13 06:50] cPu1 commented on #3565
`eksctl upgrade nodegroup` upgrades a nodegroup to the latest AMI version, it does not update any other fields changed in the config as nodegroups are immutable. You'll have to create a new nodegroup using the new config and [delete the old one](https://eksctl.io/usage/managing-nodegroups/#deleting-and-draining).

[2021-04-13 06:50] cPu1 commented on #3565
If you have any more questions, please feel free to open a new issue.

[2021-04-13 06:50] #3565 closed

[2021-04-13 07:23] cPu1 opened #3566 "Unowned cluster test fails when deleting the cluster"
Logs:

[code]

[2021-04-13 08:30] Callisto13 commented on #3436
Hi @toabctl thanks for your patience on this.

The team does not currently have capacity to prioritise this at the moment, in a couple of months there will be more of us so we will be able to revisit then.

In the meantime, we would be happy to consider PRs to handle things which do not require credential-led access to things 😄 .

[2021-04-13 16:51] ggml1 opened #3569 "Skip add-on compatibility checks during creation of ARM nodegroups"
**Why do you want this feature?**

When trying to create nodegroups with ARM instances, we faced an error message which did not allow us to continue.

But our addons were already updated and would support ARM instances with no problems (we were already running them with ARM nodes in other cluster). Still, we had to run the update utils in order to proceed. Running them is not ideal in our case bec

[2021-04-13 20:56] aThorp96 opened #3571 "Feature Req: export cluster OIDC ID, not just the endpoint"
**What feature/behavior/change do you want?**
Currently the cluster stack exports the `Endpoint`, something of the form `https://<OIDC ID>.gr7.us-east-2.eks.amazonaws.com`. However it would be very useful to have the OIDC ID exported as a raw value.

**Why do you want this feature?**
When writing an IAM role for an application intended to go in EKS, the role must trust the OIDC ID, but the string

[2021-04-13 22:46] RobertLucian opened #3572 "Setting up containerd with eksctl (with preBootstrapCommands)"
Already went through most tickets that talked about the following approach tangentially but couldn't find anything helpful.

#### High level

**version: 0.40.0**
**cni: 1.7.2**

We're looking to use containerd as the container runtime on our clusters. The way we thought of doing that is by adding following commands to the `preBootstrapCommands` section:

[code]

Spinning up a new cluster will end

[2021-04-14 01:50] #3411 closed

[2021-04-14 01:50] #3397 closed

[2021-04-14 08:26] Callisto13 commented on #3572
Hi @RobertLucian thanks for asking and providing lots of good detail.

This does seem like a matter of ordering and what-exists-where-at-what-time, although other vague threads on the interwebz do indicate other "things" 🤷‍♀️ . I have not tried to do this personally so have no idea  😄 .

I will hopefully have time to play around with this soon, I am interested to see what is going on. Anyone else

[2021-04-14 08:37] aclevername opened #3573 "eksctl update addons supports specifying `latest` version"
**What feature/behavior/change do you want?**
I want to be able to specify updating my addon to the latest version
CLI:
`eksctl update addon --name vpc-cni --version latest`
Config file:
[code]

**Why do you want this feature?**
so I can easily keep my addon up to date

[2021-04-14 08:42] aclevername opened #3574 "eksctl addons supports pattern matching the version"
**What feature/behavior/change do you want?**
Currently when creating an addon you have to specify a version like `v1.7.5-eksbuild.1`. As a user of addons I would like just to be able to specify `v1.7.5` or `1.7.5` and have eksctl figure out the suffix & `v` prefix
**Why do you want this feature?**
To make it easier to manage my addons

[2021-04-14 09:14] aclevername opened #3575 "eksctl delete cluster --force to ignore kubernetes API errors"
**What feature/behavior/change do you want?**
Sometimes the network setup or errors in the cluster prevent k8s API calls from working, which blocks me from deleting the cluster. E.g.:
[code]
A new `--force` flag to ignore errors caused by not being able to talk to k8s would allow the deletion to work.

**Why do you want this feature?**
To be able to delete broken clusters

[2021-04-14 09:36] aclevername commented on #3569
Thanks for opening the issue @ggml1, sounds reasonable to me.

[2021-04-14 12:21] aclevername commented on #3566
@cPu1 commenting out the KMS encryption seems to stop the tests from failing. I've ran the suite in isolation 5 times without it and they are all green:
https://github.com/weaveworks/eksctl/actions/runs/747929533
https://github.com/weaveworks/eksctl/actions/runs/747928994
https://github.com/weaveworks/eksctl/actions/runs/747928557
https://github.com/weaveworks/eksctl/actions/runs/747576853
https:/

[2021-04-14 16:07] aclevername commented on #3452
I agree with @msven, I think this change might of fixed the issue. @rafaelbmoraes  Please let us know :smile:

[2021-04-14 18:11] RobertLucian commented on #3572
Hi @Callisto13 thanks a lot for coming back with a reply! This is much appreciated!

With my limited context, yes I'd say it does feel like that would be the case.

Hmm, yes, Bottlerocket might be an alternative. Do you know if there are any disadvantages to using Bottlerocket as opposed to going with the AL2/Ubuntu EKS-optimized AMI images? Are GPUs/Inferentia nodes (and workloads) supported? And

[2021-04-14 18:25] ndmikkelsen opened #3579 "nodeGroups:overrideBootstrapCommand: /etc/eks/bootstrap.sh --docker-config-json returns 1 on line 414 of bootstrap.sh"
**What were you trying to accomplish?**
Set docker registry mirror on an unmanaged gpu nodegroup to self-hosted registry mirror for docker rate limit issues.

**What happened?**
Docker registry mirror does not get set during bootstrapping process.

**How to reproduce it?**
```eksctl create nodegroup --config-file clusters/$CLUSTER_NAME/$CLUSTER_NAME.yaml --install-nvidia-plugin=false --install-neu

[2021-04-14 20:47] rafaelbmoraes commented on #3452
@msven it fixed the issue, thanks :) :)

[2021-04-15 06:59] patstrom commented on #3432
@michaelbeaumont How do you want to proceed with this? Do you think it is worth "solving" in the first place? I think (as mentioned in [my comment in the other issue)(https://github.com/weaveworks/eksctl/issues/3191#issuecomment-797463007) it would be worthwhile to separate the concepts of control plane subnet and node group subnets but I am unsure what exactly that would entail. Should I create a

[2021-04-15 07:47] #3575 closed

[2021-04-15 08:20] #3452 closed

[2021-04-15 10:03] Callisto13 commented on #3579
Hi @ndmikkelsen thanks for asking.

Is there anything interesting in `journalctl -u kubelet.service` or `/var/log/cloud-init-output.log`?

[2021-04-15 10:32] aclevername opened #3580 "add option to wait for addon to be created"
**What feature/behavior/change do you want?**
`eksctl create addon --wait` to wait for the addon to report running before returning

**Why do you want this feature?**
so I can know in 1 command that the addon successfully created, rather than manually polling afterwards.

[2021-04-15 13:07] #3566 closed

[2021-04-15 18:26] #3569 closed

[2021-04-15 19:22] saleem-mirza opened #3584 "Allow Tags propagation to volume level in EKS"
**What feature/behavior/change do you want?**

Currently, eksctl does not propagate tags to inner resources such as ec2 volumes etc. Requesting to propagate custom tags to Volume level in EKS at time of creation and also updating existing cluster.

**Why do you want this feature?**

Custom tags are crucial to manage and maintain infrastructure resources. AWS requires adding custom tags to resource

[2021-04-16 07:33] cPu1 commented on #3433
We'll begin work on this soon.

[2021-04-16 10:49] yashvardhan-kukreja opened #3588 "eksctl create nodegroup: nodegroup gets created but doesn't join the cluster"
**What were you trying to accomplish?**

I was simply trying to create a nodegroup for an existing eks cluster in my aws account:

[code]

**What happened?**

- A nodegroup was created in my aws account. I could the cloudformation stack, created by eksctl, reporting a successful status.
- But the newly created nodegroup wasn't attached to the cluster it was supposed to be.

Apart from that, I even

[2021-04-16 10:53] aclevername commented on #3588
Thanks for opening the issue @yashvardhan-kukreja

What led you to believe this? Whats the output of `kubectl get nodes`?

[2021-04-16 11:13] yashvardhan-kukreja commented on #3588
Thanks for the quick reply.
I checked with kubectl get nodes as well, no new node was added.

Also, in the eks dashboard of my cluster, there wasn't any new entry under the nodegroups section of my cluster.

[2021-04-16 11:34] cPu1 commented on #3588
When you disable `update-auth-configmap`, eksctl skips adding the nodegroup's role ARN to the `aws-auth` ConfigMap, and without that the nodegroup can't join the cluster. You need to either add the entry to the ConfigMap manually, or recreate the nodegroup without supplying `update-auth-configmap`.

[2021-04-16 12:53] #3580 closed

[2021-04-16 20:32] karrth opened #3597 "Error retrieving node groups with v0.45.0"
Using eksctl v0.45.0, I am unable to retrieve node groups from our cluster.  I had a co-worker duplicate the error.  All of our clusters are on v1.18.  I noticed release 0.45.0-rc.1 (#3526) made EKS version 1.19 the default, but I don't see any options to specify the version of the cluster.  Once I downgraded to v0.44.0, the command worked as expected.

[code]

Please let me know if there's other

[2021-04-16 20:38] #3579 closed

[2021-04-16 20:42] ndmikkelsen commented on #3579
@Callisto13, sorry for the confusion, I am closing this. After more discovery the issue we were running into was solved by a workaround  mentioned [here](https://github.com/weaveworks/eksctl/issues/3005#issuecomment-752898871). We needed to set docker registry mirrors, and this is how we have solved this for now.

[2021-04-16 20:58] aclevername commented on #3597
@karrth thanks for opening the issue. We did make some minor changes to how we get nodegroup, could you describe what nodegroup you have and provide the output from the previous version of eksctl? Thanks

[2021-04-16 21:12] karrth commented on #3597
The nodegroups are a mix of managed and self-managed, with a mix of instances across `us-west-2a, b, c`.  The output with v0.44.0 looks as expected (the list of group is trimmed):

[code]

Can you expand on what information you're looking for in "describe what nodegroup you have" ?

[2021-04-16 21:20] aclevername commented on #3597
@karrth sorry I wasn't clear; could you provide your full output from eksctl get nodegroups? I'm hoping for some hints on how to reproduce this on our end as our tests are passing currently.

Also could you provide the output for the command that fails with the '-v 5' flag to see more verbose logs

[2021-04-17 16:14] kakarotbyte opened #3599 "Adding an option to choose the stack name that will be created when we run eksctl create call."
**What feature/behavior/change do you want?**
It will be beneficial to have a **custom CFN stack name** flag  that can be used to control the name of the stack that will be created.

**Why do you want this feature?**

When we create EKS cluster using AWS cli/console by using a name like "under_score" we will not be able to  run **create iamserviceaccount** because Limitation in CFN.

https://githu

[2021-04-18 04:45] TBBle commented on #1467
This issue hasn't mysteriously solved itself.

[2021-04-18 06:02] artyom-p commented on #3445
Same issue for me, solving that by running flux bootstrap manually after cluster is provisioned, but it would be really nice to make it work through eksctl.

[2021-04-18 16:08] ruzickap opened #3601 "gitops (Flux2) doesn't work with AWS_SESSION_TOKEN"
**What were you trying to accomplish?**
I would like to create Amazon EKS cluster with GitOps enabled (Flux 2) using `AWS_SESSION_TOKEN`:

[code]

Create cluster:

[code]

Output:

[code]

When I run flux check manually - it passed:

[code]

-> It looks like `eksctl` + gitops/flux doesn't properly handle `AWS_SESSION_TOKEN`.

**Versions**

[code]

[2021-04-19 11:28] Callisto13 commented on #1094
Update: there are some wider Strategy Things™ under discussion, and Terraform may not fit into them. This issue will be updated when there is more info.

[2021-04-19 11:30] Callisto13 commented on #3601
Thanks for reporting this @ruzickap, likely we are not carrying the local env over to the exec to Flux properly 👍

[2021-04-19 11:37] Callisto13 commented on #3599
Hey @kakarotbyte, thanks for requesting this.

There is already a PR open to allow users to prefix the created stack name https://github.com/weaveworks/eksctl/pull/3600 🎉 . We can't allow users to set the entire stack name, since `eksctl` needs certain patterns present.

As for the underscore issue, when creating stacks on clusters which were not created by `eksctl` we can sanitise the names befor

[2021-04-19 11:40] Callisto13 commented on #3584
Thanks for requesting this @saleem-mirza. The team will look into implementation soon. In the meantime if you'd like to work on this yourself we are happy to accept PRs 😀

[2021-04-19 12:53] #3531 closed

[2021-04-19 15:19] nmaupu opened #3604 "update iamserviceaccount AlreadyExistsException: ChangeSet updating-policy cannot be created"
**What were you trying to accomplish?**
I am trying to update iamserviceaccounts with the command `eksctl update iamserviceaccount`

**What happened?**
`update iamserviceaccount` works only if no previous `eksctl update iamserviceaccount` has been run without any change.
When running and no changes have to be done, the command creates a `changeset` which appears to be failing with the following st

[2021-04-19 15:43] aclevername commented on #3604
Thanks for opening the issue @nmaupu! This is definitely an oversight on our side, we will adjust it so the changeset name is unique to prevent this from occuring.

[2021-04-19 16:02] aclevername commented on #3604
Thanks for opening the issue @nmaupu

managed to successfully reproduce:
[code]

I was slightly confused at first, but after reproducing I understand. To clarify for my future self: you can update a service account multiple times fine, when you attempt an update that has no change you get:
[code]
Which is good, but it results in the ChangeSet being in a failed state in Cloudformation (I didn't rea

[2021-04-19 16:21] #3419 closed

[2021-04-19 18:04] hendoncr opened #3606 "StackName comes up blank"
When running the following command, eksctl get nodegroup --cluster -o json, "StackName" comes up blank. It works when I change eksctl from 0.45.0 to 0.44.0
@brentley

[2021-04-19 18:11] brentley commented on #3606
For context, we use "StackName" in eksworkshop, and this ends up breaking parts of the workshop.

[2021-04-20 08:08] Callisto13 commented on #3606
Interesting, thanks for reporting @brentley 👍  I imagine something small was overlooked, hopefully we should find it soon.

[2021-04-20 08:55] #3604 closed

[2021-04-20 09:07] #3562 closed

[2021-04-20 10:54] aclevername commented on #3606
I had no idea we event reported the stack name in the output!

Out of curiosity how does this get used in the workshop @brentley ? We changed the logic in `get nodegroups` to not use the cloudformation stack as the source of truth for the state of the nodegroup as it gets out of sync quickly due to autoscaling.

[2021-04-20 12:40] #3448 closed

[2021-04-20 14:07] whereisaaron commented on #1467
There has been one improvement in this area. It used to be that modifying an IAM Service account required deleting and recreating the CFN stack. This was bad because it broke cross-account permissions. This is fixed now and eksctl can modify an IAM Service Account stacks in place.

This new update-stack capability might make it easier to address this issue and move to have one stack for all IAM se

[2021-04-20 16:06] Callisto13 opened #3613 "Parallel managed nodegroup upgrades"
EKS is introducing new fields to configure how a nodegroup handles parallel upgrades.

- [x] **Create Nodegroup**

Let's add this to the config and set these fields during `create nodegroup`.

- [x] **Update Nodegroup**

These values can also be updated after the nodegroup is created via the `update-nodegroup-config` API call. We don't have an obvious eksctl command that this change could be made

[2021-04-20 21:46] karrth commented on #3597
I've validated v0.46.0-rc.0 resolves the issue - do you still want me to pull that information?

[2021-04-21 07:59] aclevername commented on #3597
yes please, thanks.

[2021-04-21 08:27] Callisto13 commented on #3572
Off the top of my head I am not sure, @aclevername did you come across anything while you were working on that volume thing?

From [the looks of things](https://github.com/bottlerocket-os/bottlerocket/issues/769) this is something they are still working out 😞 .

The list of supported regions can be seen [here](https://docs.aws.amazon.com/eks/latest/userguide/eks-optimized-ami-bottlerocket.html), c

[2021-04-21 08:29] #3445 closed

[2021-04-21 08:29] #3601 closed

[2021-04-21 08:46] aclevername commented on #3613
@Callisto13 is there a aws-container-roadmap issue for this?

[2021-04-21 08:52] Callisto13 commented on #3613
I'm told not

[2021-04-21 09:15] cPu1 commented on #3588
@yashvardhan-kukreja did this fix your issue?

[2021-04-21 09:19] yashvardhan-kukreja commented on #3588
Hi @cPu1 , we recently found that actually it was working perfectly fine only i.e. the nodes were getting added to the cluster. I checked that via kubectl get nodes.
The only misleading things was that the eks dashboard didn't list the nodegroup under the cluster (in the gui) so it got us into believing that the nodegroups were not added.

[2021-04-21 09:19] yashvardhan-kukreja commented on #3588
Anyway, thanks for your quick and active support 😄

[2021-04-21 09:20] #3588 closed

[2021-04-21 09:21] cPu1 commented on #3588
Unmanaged nodegroups do not show up in the EKS dashboard, you'll have to create EKS managed nodegroups using the `managedNodeGroups` field.

[2021-04-21 13:05] aclevername commented on #3238
+1

[2021-04-21 16:52] Callisto13 commented on #3572
Initial notes after some quick poking around:

1. Confirmed that this happens:

    SSHing into each instance and making the same exact modifications as those in the `preBootstrapCommands` section,
    followed by `systemctl daemon-reload && systemctl restart kubelet` will give me a fully functional cluster that's using
    containerd as the runtime.

    (The `yum install containerd` is not neces

[2021-04-22 05:59] suman10586 opened #3614 "IRSA wellknown policies do not support EBS and EFS controller policies"
**What were you trying to accomplish?**
Trying to use EBS and EFS controller policies with IRSA using eksctl config file

**What happened?**
Getting error:  error unmarshaling JSON: while decoding JSON: json: unknown field "ebsCSIController"

**How to reproduce it?**

[code]

**Logs**

[code]
**Anything else we need to know?**
Looking at the Feature only these wellknown policies are supported as o

[2021-04-22 08:21] Callisto13 commented on #3614
Hi @suman10586, thanks for asking.

The `ebsCSIController` will be out in the next release `0.46.0`, and if you like you can try out the [release candidate](https://github.com/weaveworks/eksctl/releases/tag/0.46.0-rc.0) which has that feature.

The `wellKnownPolicies` feature is quite new, and we are currently working out the best way to determine which policies count as "well known". For now we a

[2021-04-22 15:02] mcburn13 commented on #1030
Just want to piggyback on this; how is it in 2021 AWS doesn't allow a OU level SCP for tagging actually work because of major services that need to negate it? EBS volumes is one, and Fargate is another as from console it creates a CloudFormation stack that we require tags on , and it doesn't tag it. Come on AWS, stop creating 5000 new services per week and work on the EXISTING ONES. thanks in adva

[2021-04-22 21:27] suket22 opened #3617 "Neuron Device Plugin not installed v0.42+"
**What were you trying to accomplish?**
When creating a nodegroup using an inferentia instanceType, I expected the neuron device plugin to be installed automatically.

**What happened?**
Neuron device plugin was not installed and I was given -
[code]
While eksctl detected that I would need to install the plugin (since I used inf1.6xlarge), it seems to be thinking that I passed in `--install-neuron

[2021-04-22 22:11] aws-vrnatham opened #3618 "Neuron Device Plugin install help message is pointing to page not found"
**What were you trying to accomplish?**
When creating a nodegroup using an inferentia instanceType we are running into https://github.com/weaveworks/eksctl/issues/3617. But as workaround a link is provided and expect the link to work.

**What happened?**
The actual look provided below does not work anymore.
[code]

**How to reproduce it?**
Refer
https://github.com/weaveworks/eksctl/issues/3617

**

[2021-04-23 00:21] chrisjohnson00 opened #3620 "delete cluster including IAM role and service accounts failing"
**What were you trying to accomplish?**
Create, then destroy a cluster which contains IAM service accounts.

**What happened?**
The destroy ends with an error stating the service account is not found.  I believe it's a sequencing issue with the order of deletes.  This was working fine in a prior version (0.38 IIRC).  Executing the destroy command 2nd time clears the rest of the resources.
[code]

[2021-04-23 06:57] KagurazakaNyaa opened #3621 "Is there any way I can update the instance type of a node group without recreating the node group?"
**What help do you need?**

I am trying to find a way to update the instance type of a node group without recreating it to avoid reconfiguration of various permissions.
But I found in the EKS document about node group configuration that only the instance type can be specified when it is created.
I also checked the documentation on eksctl.io. The above command to update the node group does not seem

[2021-04-23 08:56] Callisto13 commented on #3621
Hi @KagurazakaNyaa thanks for asking.

Currently there are not many ways you can alter the nodegroup without recreating it (especially changing the instance type, which would always result in a new instance/node) . The `update` command only upgrades the version of k8s (and that is just for managed nodegroups).

We are currently discussing how we can build some reconciliation into eksctl, which wou

[2021-04-23 10:19] #3617 closed

[2021-04-23 10:19] #3618 closed

[2021-04-23 10:23] aclevername commented on #3617
Thanks for raising this. Fixed in todays release `0.47.0-rc.0`

[2021-04-23 10:23] aclevername commented on #3618
Thanks for raising this. Fixed in todays release `0.47.0-rc.0`

[2021-04-23 15:23] PierreBeucher opened #3627 "`eksctl utils update-kube-proxy` consider `kube-proxy` out-of-date even after update"
**What were you trying to accomplish?**

I tried to create a Nodegroup with ARM-based EC2 instance on some EKS cluster, and `eksctl` complained that some

[code]

Quick investigation showed that according to `eksctl`, `kube-proxy` was out of date:

[code]

However, even after update, `eksctl` still had the same issue - preventing nodegroup creation

[code]

Using version:

[code]
Verbose output of

[2021-04-23 15:25] aclevername commented on #3627
@PierreBeucher I believe this is fixed in `0.46.0` if you can give that a go :smile:
https://github.com/weaveworks/eksctl/releases/tag/0.46.0

[2021-04-23 15:57] PierreBeucher commented on #3627
Indeed it does, thanks !

[2021-04-23 16:32] aclevername commented on #3627
Perfect :smile:

[2021-04-23 16:32] #3627 closed

[2021-04-23 17:04] RobertLucian commented on #643
@michaelbeaumont we're very interested in this feature. Any updates on this one?

[2021-04-23 18:06] chrisjohnson00 commented on #3620
0.46.0 came out today and I tested this with 0.46.0 and can no longer re-produce this.  I'll now close this.

[2021-04-23 20:08] chrisjohnson00 commented on #3620
Ugh, 2nd time I used 0.46.0 I encountered the problem again.  /reopen

[2021-04-25 01:35] rverma-nsl commented on #20
@joebowbeer Just wondering did you made a decision yet, we are facing same dilemma  :)

[2021-04-26 00:59] margoeth commented on #2167
Before I made several cluster updates with eksctl 0.40.0 that took about 50 minutes and I never ran into that issue.
Now I made an update using eksctl 0.46.0 and I got that error after approximately 35 minutes.  The upgrade went through though and it seems to be "just" a problem with the observation of the process by eksctl.

Additional information:
- AWS region eu-central-1
- upgrades were all fr

[2021-04-26 12:27] kishoregv commented on #3620
I am facing the same issue, eksctl delete cluster fails with serviceaccount not found
`
2021-04-26 07:39:38 [ℹ]  deleted serviceaccount "kube-system/xxxxx"
2021-04-26 07:39:38 [ℹ]  1 error(s) occurred while deleting cluster with nodegroup(s)
2021-04-26 07:39:38 [✖]  serviceaccounts "xxxxxa" not found
`

[2021-04-26 22:24] amrragab8080 opened #3635 "P4d nodes through managed node groups not supported in us-east-2"
P4d was recently launch in us-east-2 and the underlying launch template and cloud formation has an error that p4d is not supported in us-east-2.

[code]

[code]

[code]

[2021-04-27 05:32] acjohnson commented on #2363
It would be nice if we could use the standard convention label names and for taints in eksctl
(below example doesn't work but should)
[code]
Just seems strange this doesn't work as all k8s doc says to use labels/taints in this way

[2021-04-27 08:06] Callisto13 opened #3636 "Fix and unpend GPU integration tests"
can't remember why we did this, but we should solve it

cc https://github.com/weaveworks/eksctl/pull/3428

[2021-04-27 08:14] Callisto13 commented on #3635
Thanks for reporting this @amrragab8080 .

Could you provide a bit more info please? Your full config (redacted) and if possible re-run with log level `-v=4`? (that output may be quite verbose, so linking to a gist may be helpful).

There is a good chance the issue may be outside of `eksctl` since beyond checking that the instance type is a GPU one (to set the right AMI etc), we don't do anything

[2021-04-27 08:43] Callisto13 commented on #3620
Thanks for reporting @chrisjohnson00 (and @kishoregv ). The team will look into it, let us if you see anything else which may be relevant.

Can I confirm what you said above: if you re-run the command those resources do get deleted?

[2021-04-27 10:00] TBBle commented on #2363
The [k8s docs about the NodeRestriction Admission Controller](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#noderestriction) explain why the above doesn't work for labels when they are set by the node itself (the current mechanism used by eksctl). This is the problem this ticket is tracking.

On the other hand, the taint _should_ work, as they are not so-restricted

[2021-04-27 13:12] acjohnson commented on #2363
I hit #2296 which says discussion is taking place here

[2021-04-27 13:36] TBBle commented on #2363
For labels outside the NodeRestriction Admission Controller, this is the ticket. There's not a huge amount to discuss about the problem (it's a deliberate change by k8s for clear reasons), but no one has yet tried to implement a solution in eksctl; there's some interested in implementing a solution in https://github.com/kubernetes/cloud-provider-aws/issues/110 (and then eksctl could be updated to

[2021-04-27 14:05] davisford opened #3638 "Add ability to auto-install image automation controllers"
**What feature/behavior/change do you want?**
When you install flux using the yaml spec under the `gitops` section, it works well, but it does not install the [image automation controllers](https://fluxcd.io/docs/components/image/) and there does not appear to be a way to specify it in the current spec?

The flux binary has the `--components-extra strings               list of components in additi

[2021-04-27 14:51] chrisjohnson00 commented on #3620
Correct

[2021-04-27 16:54] saleem-mirza commented on #3584
@Callisto13 I'll be submitting a PR soon.

[2021-04-27 19:57] saleem-mirza commented on #3584
@Callisto13 https://github.com/weaveworks/eksctl/pull/3639

[2021-04-27 20:44] bitva77 commented on #1805
You know how we have a `publicAccessCIDRs` list of IP's to allow access to the API?  Why not a `privateAccessCIDRs` option that adds private IP's to the SG in question here.

It appears to be the security group named `eks-cluster-sg-$ClusterName-$Random9DigitNumber` that our private IP's need to be added to.

As it is, I'm having to manually add this after the fact using a bash script and some jq

[2021-04-27 22:32] morrissimo commented on #1807
From the docs, I assumed this capability already existed! Have exactly the same use case as the OP: existing VPC, want eksctl to create new subnets with specified CIDRs in specified AZs

[2021-04-28 01:51] #2371 closed

[2021-04-28 07:24] tanvp112 commented on #3614
At very least it should support those policies applicable at managedNodeGroups.iam withAddonPolicies? On top of that it will be excellent like other aws specific policies are supported, eg. secret csi

[2021-04-28 09:19] aclevername commented on #3638
Hey @davisford thanks for opening the issue. This sounds related to https://github.com/weaveworks/eksctl/issues/3238, we are aware that we don't expose all the configuration and should be working on adding support for all (or perhaps just arbitrary) flags in the near future :smile:

[2021-04-28 10:25] artem-nefedov commented on #3620
I'm having the same issue.
Hard to catch as it's rarely reproduced (but when it is, it's very annoying).

[2021-04-28 10:55] #3573 closed

[2021-04-28 11:12] aclevername opened #3640 "Document gaps and possible complications of changing default nodegroups to managed"
What existing commands/UX would change if we changed the default behaviour to be to create managed nodegroups? could we get around that with some fixes? Evaluate the cost and potential problems.

E.g. the `--windows` node flag only works for unmanaged, we could make it so that in the event `--windows` is passed in we log a message and change the type to unmanaged.

outcome: document in this issue

[2021-04-28 12:05] kishoregv commented on #3620
Created a PR https://github.com/weaveworks/eksctl/pull/3641/commits

[2021-04-28 12:11] Callisto13 commented on #3620
nice one!

[2021-04-28 13:24] aclevername commented on #3606
@nikimanoledaki this PR broke it https://github.com/weaveworks/eksctl/pull/3543/files. We switched from looking up the Cloudformation stack to talking to the EKS api directly. This mean't we no longer generated the stack name

[2021-04-28 13:48] gkhnsmsk commented on #1408
Why do you have role here? Cant you create a cluster with an admin user, or a user which has admin rights?

[2021-04-28 15:26] brentley commented on #3606
We currently use it to figure out the IAM role name attached to the instances so we can add policies to them as needed throughout the workshop. I see the role arn has been added, so we could probably swap over to using that, but would prefer to have some "overlap" time to make that transition if possible.

[2021-04-28 22:00] kishoregv opened #3642 "Ability to rely on general timeout flag to wait for addon to be active while creating or updating"
**What feature/behavior/change do you want?**
Currently, eksctl waits for max of 5 minutes for addon to be active.
[code]
create and update command should be able to wait for max timeout specified in the general timeout flag.

**Why do you want this feature?**
We have experienced in certian cases addon is not ready in 5 mins, it would be great if we can rely on general timeout flag to wait for a s

[2021-04-28 23:44] kishoregv commented on #3642
created a [PR](https://github.com/weaveworks/eksctl/pull/3643)

[2021-04-29 01:09] cw-sakamoto opened #3644 "An error occurs when executing delete iamserviceaccount with file which listed multiple serviceaccount"
**What were you trying to accomplish?**

I'm managing serviceaccount for IRSA as a file and want to create and delete it via file.

**What happened?**

I run `eksctl create iamserviceaccount -f iam.yaml ` to create multiple serviceaccount in the file with the following contents, and then run `eksctl delete iamserviceaccount -f iam.yaml `, then I got an error.

[code]

[code]

From the log, it seem

[2021-04-29 01:42] cw-sakamoto commented on #3644
Is it the same content as https://github.com/weaveworks/eksctl/issues/3620 ?

[2021-04-29 02:08] cw-sakamoto opened #3645 "annotation in sa is not updated, is this the intended behavior?"
**What help do you need?**

If you run `create iamserviceaccount --override-existing-serviceaccounts` on a serviceaccount that already has a role listed in the annotation as shown below, the role in the annotation will not be updated.
Is this the intended behavior?

[code]

[code]

The created role is `arn:aws:iam::234188972441:role/eksctl-eks-test-addon-iamserviceaccount-Role1-1OV5TJSZST5ZU`, but

[2021-04-29 06:41] kishoregv commented on #3645
Yes, it is same as #3620

[2021-04-29 06:43] kishoregv commented on #3644
Yes, it is same as #3620

[2021-04-29 06:43] #3644 closed

[2021-04-29 06:43] kishoregv commented on #3644
Yes, it is same as #3620

[2021-04-29 08:48] Callisto13 commented on #3645
Thanks for asking @cw-sakamoto.

I am not 100% sure what the intended behaviour is here, so I will have to do some digging through the code/commit history.

On [the docs ](https://eksctl.io/usage/iamserviceaccounts/) it says:

and

So it _looks like_ that flag will take an existing service account ***without a role*** and create a role for it. I am not sure that it knows to update/adopt a role for

[2021-04-29 11:17] Callisto13 commented on #3635
Some instance types are not supported in all availability zones within a region , so that may be worth verifying as well.

[2021-04-29 15:03] #3584 closed

[2021-04-29 15:48] #3642 closed

[2021-04-29 17:51] felipemadeiros commented on #1930
https://docs.aws.amazon.com/eks/latest/userguide/specify-service-account-role.html

[2021-04-29 17:52] felipemadeiros commented on #1930
If you created EKS cluster with Terraform or AWS Console, you can create serviceaccount manually                                    Doc: https://docs.aws.amazon.com/eks/latest/userguide/specify-service-account-role.html

[2021-04-30 00:03] asalinasj commented on #1562
That worked! Adding the whole path did the trick. I set it up on Windows so it is C:\...\...\aws if anyone needs it.

[2021-04-30 00:25] cw-sakamoto commented on #3645
@Callisto13 Thanks for your comments !
I also tried `eksctl update iamserviceaccount`, but it didn't update the annotation for sa.

To give you some background, there is a bug in https://github.com/weaveworks/eksctl/issues/3644, and sa is not deleted (although we can deleted it with `kubectl`). So once I tried to see what would happen if I `eksctl create iamserviceaccount --override/update iamserv

[2021-04-30 01:17] amrragab8080 commented on #3635
I am specifically launching p4d instances in AZs in us-east-2 i know its available

[2021-04-30 22:38] chrisjohnson00 commented on #3635
I had the same issue with GPU nodes and had to limit the AZs for the instances to 2 of the 3 zones in the region.

[2021-05-01 01:53] #3322 closed

[2021-05-01 03:33] acjohnson commented on #2363
right, but why is `node-role.kubernetes.io` restricted? Isn't that the standard convention for how kubectl determines node roles?

[2021-05-01 15:41] TBBle commented on #2363
It is the standard convention for determining node roles, and per https://github.com/kubernetes/kubernetes/issues/84912, nodes are not allowed to self-assign roles.

Note that the link in that comment is now incorrect, it's moved to https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/279-limit-node-access

For example, this change ensures that nodes can't self-assign the node-role

[2021-05-01 18:44] arunrajat commented on #2510
Hi All,

Any solution is there to fix this issue

[2021-05-02 02:06] jescarri commented on #2364
Is there any update on this feature?

Tnx

[2021-05-02 04:31] acjohnson commented on #2363
ah I think I understand now. So if I want to make use of standard convention node labels I'll need to apply like `kubectl label nodes ip-172-27-121-8.ec2.internal node-role.kubernetes.io/worker=true` on my eks cluster nodes as a post provision step.

[2021-05-02 05:26] TBBle commented on #2363
That's correct. At some future point, i.e. when this ticket is resolved, eksctl should be able to apply restricted labels to nodes from the same config that currently works for unrestricted labels, but right now it has no mechanism to do that, so we're blocked until someone (perhaps https://github.com/kubernetes/cloud-provider-aws/issues/110) implements such a mechanism, and then we can use it fro

[2021-05-02 21:24] FabioSchmidberger opened #3654 "Node kubectl unable to start due to incorrect Taints Argument"
**What were you trying to accomplish?**

We tried to create a new nodegroup that was supposed to be added to the cluster.

The nodegroup had the config:

[code]

**What happened?**

The new nodegroup was created but failed to connect to the k8s cluster due to an invalid argument. An invalid `:` is at the beginning of the `--register-with-taints` argument.

**How to reproduce it?**

Create a nodegr

[2021-05-03 00:45] mataneja commented on #2364
Would appreciate if someone can explain what is needed to move this forward?

[2021-05-03 10:12] tanvp112 opened #3658 "Automate the creation of Linux bastion host"
**What feature/behavior/change do you want?**

Incorporate the Linux bastion host CF template into eksctl to enable 1 step provision for a fully functional EKS cluster with private control plan and node groups.

CF Template: https://aws.amazon.com/quickstart/architecture/linux-bastion/

**Why do you want this feature?**

Currently this is a 2 step processes. On top of that, it is possible that the

[2021-05-03 15:19] golgoth31 commented on #1408
This field allows me to assume role from one account to an other.

[2021-05-04 08:46] Callisto13 commented on #3654
Thanks for reporting this @FabioSchmidberger, we'll get a fix out asap. You are welcome to open a PR if you'd like to 👍

[2021-05-04 11:46] aws-vrnatham opened #3660 "Neuron device plugin use the public repo."
**What feature/behavior/change do you want?**
Currently for neuron device plugin only us-east-1 and us-west-2 ecr repos are used. Now that a public repo is available, use that instead of region specific one

**Why do you want this feature?**
User of inf1 instances for example in china can use this.
https://github.com/aws/aws-neuron-sdk/issues/261

[2021-05-04 13:21] #3348 closed

[2021-05-05 16:53] #3574 closed

[2021-05-05 18:39] chrisjohnson00 commented on #3620
@kishoregv  - I tested with 0.48.0-rc.0 and am still encountering this issue.  https://github.com/weaveworks/eksctl/releases/tag/0.48.0-rc.0 shows this as fixed in 0.48.0-rc.0, does it have your fix?

[2021-05-05 23:33] #3645 closed

[2021-05-06 08:32] #3654 closed

[2021-05-06 09:25] aclevername commented on #3660
Sounds good! thanks for opening the issue & PR @aws-vrnatham

[2021-05-06 10:53] Callisto13 commented on #3658
Hi @tanvp112  thanks for asking.

After some discussion, the team has decided that this is not the right direction to take `eksctl` in. We do however want to make it easier for people to make their `eksctl` clusters work with custom networking solutions. Could you please let us know what is currently difficult/impossible for you?

[2021-05-06 10:54] Callisto13 commented on #3658
Tagging in @aclevername incase anything comes up while I am away

[2021-05-06 16:54] #3660 closed

[2021-05-07 08:50] Callisto13 opened #3663 "Write/improve Flux 2 docs"
Part of [this plan](https://github.com/weaveworks/eksctl/blob/main/docs/proposal-008-flux2.md).

The Flux 2 docs are currently on the same page as the Flux 1 docs.

The docs changes should include at least, but should not be limited to:
- Document required Env vars and Flux binary version
- Make sure to link to https://fluxcd.io/ everywhere possible
- Document discovering all options by running fl

[2021-05-07 08:58] Callisto13 opened #3664 "Validate Flux flags before running cluster create"
Part of [this plan](https://github.com/weaveworks/eksctl/blob/main/docs/proposal-008-flux2.md#dry-run).

[2021-05-08 06:50] ruzickap opened #3671 "IRSA well known policies for Amazon EFS CSI dynamic provisioning"
**What feature/behavior/change do you want?**
It would be handy to have IRSA well known policies for "Amazon EFS CSI dynamic provisioning" describe here: https://aws.amazon.com/blogs/containers/introducing-efs-csi-dynamic-provisioning/

Policy file: https://raw.githubusercontent.com/kubernetes-sigs/aws-efs-csi-driver/v1.2.0/docs/iam-policy-example.json

Currently I need to configure eksctl this wa

[2021-05-08 07:24] tanvp112 commented on #3658
hi @Callisto13, @aclevername,

I don't have difficulty to deploy the bastion host. Just that since eksctl already created the cluster efficiently using CF, I wonder why eksctl does not want to automate this if vpc.clusterEndpoints.privateAccess: true. I am fine if this is not the right thing for eksctl to do, but can you please share with us the reason?

@Callisto13, by design we always use aws vp

[2021-05-09 01:50] #3070 closed

[2021-05-09 16:53] cwwarren commented on #3658
There are many options when running a private control plane including SSH bastions, EC2 self-managed VPNs and AWS managed VPNs, none of which is a clear winner and all of which have tradeoffs depending on network architecture and environment.

Maybe an alternative to this ticket is the ability to add custom CloudFormation to be deployed during cluster creation, either with defined inputs or a big

[2021-05-09 19:12] agoloAbbas commented on #3654
this issue is happening with using 0.4.8.0 and eks 1.18
[code]
I used 0.45.0 and it works fine

[2021-05-10 02:01] tanvp112 commented on #3658
Bastion host is the most economical and we can apply lots of security checks on the host itself. And there's already a standard aws CF for it. A eksctl switch that would deploy this CF along during new cluster provision will be handy. It's ok if this suggestion is turned down, no issue. But I am curious why eksctl team think this is not a right direction... maybe there's a better idea or gotcha so

[2021-05-10 05:37] cPu1 commented on #3224
This isn't stale, it's blocked on upstream support.

[2021-05-10 08:49] cPu1 opened #3677 "Stricter validation for nodegroup taints"
The current validation for taints allows unsupported taint effects to be specified. which causes the kubelet to fail.

Add stricter validation so that unsupported taint effect values are caught before attempting nodegroup creation.

[2021-05-11 10:53] #3433 closed

[2021-05-12 03:09] franklinRibe opened #3687 "eksctl utils update-coredns <set-image>"
Hello my friends,

I would like to suggest a feature that would enable us to set the image in the update default add-ons command, like **--image** for example.

Why I want this?
Ever since **_docker.io_** implemented images download limits, we have faced problems when updating our clusters. Because when we run the `eksctl utils update-coredns` command and the clusters start updating the image insi

[2021-05-12 09:10] #3606 closed

[2021-05-12 09:11] aclevername commented on #3606
this should be fixed in the next release, likely `0.51.0-rc.0` this Friday

[2021-05-12 10:28] aclevername opened #3690 "--max-pods-per-node, --node-ami and --node-security-groups are not supported for managed nodegroups"
When running `eksctl create nodegroup` we specifically disallow `--max-pods-per-node --node-ami --node-security-groups` flags in our code:
https://github.com/weaveworks/eksctl/blob/38ab603213a12014842bd55a58d93f4bb16e239b/pkg/ctl/cmdutils/nodegroup_flags.go#L62-L68

However it appears that we do use these flags config file counterparts values during the managed nodegroup creation, e.g. :

https://

[2021-05-12 10:33] cPu1 commented on #3690
I believe you meant `--max-pods-per-node`, `--node-ami` and `--node-security-groups`.

AFAIK, there's no reason not to support these flags for managed nodegroups. They're all supported features.

[2021-05-12 10:36] aclevername commented on #3690
oops yes, thanks will update.

[2021-05-12 10:37] aclevername opened #3691 "Error if --instance-name or --instance-prefix is provided for manage nodegroups during eksctl create nodegroup"
Currently we accept the flags `--instance-name, --instance-prefix, --disable-pod-imds` but don't use the values, as they are not applicable to managed nodegroups. Lets return an error when they are provided. Example:
[code]

[2021-05-12 10:52] aclevername opened #3692 "Change `eksctl create nodegroup/cluster` to create a managed nodegroup by default"
Investigation story: https://github.com/weaveworks/eksctl/issues/3640

**What feature/behavior/change do you want?**
Currently any imperative commands default to creating unmanaged nodegroups, and are specfficaly set to managed via the `--managed` flag. Lets change it so that `--managed=true` is the default. This applies to `eksctl create nodegroup` and `eksctl create cluster` (this by default cre

[2021-05-12 10:53] aclevername commented on #3692
@cPu1 is there any precedence for this sort of breaking change in the past? Wondering whats the best method for communicating this to the community. Although admittedly I think this will have a rather small impact since it only effects imperative commands

[2021-05-12 12:21] cPu1 opened #3694 "Taints in unmanaged nodegroups do not support duplicate keys"
**Problem**
Kubernetes supports specifying taints with the same key but a different taint `effect` value, e.g.,

`$ kubectl taint node <node> key1=value1:NoSchedule key1=value2:NoExecute`

This construct cannot be replicated in eksctl because the taints structure in unmanaged nodegroups is a `map[string]string`, so only one of the two keys will be preserved in the `taints` map.

Managed nodegroups

[2021-05-12 13:35] aclevername opened #3695 "Add or remove support for flag --disable-pod-imds for managed nodegroups"
Currently the flag is accepted for `eksctl create nodegroup --managed`, but it doesn't do anything. If we can add support for this functionality in managed nodegroups lets do it. Otherwise lets error if this flag is provided during a create managed nodegroup command.

[2021-05-13 01:57] #3441 closed

[2021-05-13 04:48] adrienjt commented on #3358
I have another use case: IAM service account role ARN is mapped to a Kubernetes user in another cluster (with `eksctl create iamidentitymapping`), for cross-cluster authentication: https://admiralty.io/docs/concepts/authentication#other-solutions

My workaround so far is to create a dummy policy, but I wish I didn't have to.

[2021-05-13 14:43] darnone commented on #3514
Claudia,  Awesome bird on your hand there. I worked with AWS support on this. The issue originates from assuming a role from a role.  When using an ADO AWS Shell, you provide it the AWS IAM user (and/or role to assume).  In the fine print of role assumption, it says the role max duration is only good for 15 minutes. There were two ways to resolve this - set a  parameter`aws.rolecredential.maxdurat

[2021-05-13 14:43] #3514 closed

[2021-05-13 21:50] erkules opened #3697 "overrideBootstrapCommand with default bootstrap.sh does not get CLUSTER_NAME"
**What were you trying to accomplish?**

Reading https://eksctl.io/usage/custom-ami-support/#latest-custom-ami-support I played around with overrideBootstrapCommand. All I did is using overrideBootstrapCommand the default bootstrap.sh.
I expected that it will work as not setting  overrideBootstrapCommand at all.

Using Ubuntu2004 flavor (if thats important)

**What happened?**
The Node did not joi

[2021-05-14 08:12] aclevername commented on #3640
https://github.com/weaveworks/eksctl/issues/3692 documents the changes and sub-issues that need to be done before this is completed

[2021-05-14 08:12] #3640 closed

[2021-05-14 08:31] aclevername opened #3698 "Reduce how long integration test takes"
Currently the `unowned_cluster` suite takes 2h+, the `fargate` suite takes 1h50m. The next longest test is the `managed` suite at 1h22m. Lets see if we an reduce the time taken for the suites to make it easier and cheaper to run the integration tests

https://github.com/weaveworks/eksctl/pull/3513

[2021-05-14 08:33] nikimanoledaki opened #3699 "Refactor ClusterProvider to improve mocking in Nodegroup unit tests"
**Description**
Currently, `ClusterProvider` has functions in `pkg/eks/api.go` for using AWS services and mocking calls to them, which makes sense.

However, `ClusterProvider` also has a bunch of functions in `pkg/eks/client.go`, which shouldn't belong to it because they have to do with Kube client calls. Since they are also not included in `ClusterProvider`'s interface, they are really hard to mo

[2021-05-14 08:35] aclevername commented on #3699
:100:

[2021-05-14 15:42] aclevername commented on #3695
Turns out it does work, my bad! closing.

For context:
https://github.com/weaveworks/eksctl/blob/2a08c653626bc11933a1d6c3e5b8c6e0e54f39ee/pkg/cfn/builder/nodegroup.go#L331-L344

https://github.com/weaveworks/eksctl/blob/2a08c653626bc11933a1d6c3e5b8c6e0e54f39ee/pkg/cfn/builder/managed_launch_template.go#L18

[2021-05-14 15:42] #3695 closed

[2021-05-14 17:36] aThorp96 commented on #3571
Is there a better place to submit this sort of feature request for better visibility?

[2021-05-15 22:07] ghassen1khalil commented on #1293
I'm using `eksctl` version **0.49.0** and I'm still getting this error :

`2021-05-15 23:49:50 [✖]  AWS::AutoScaling::AutoScalingGroup/NodeGroup: CREATE_FAILED – "You must use a valid fully-formed launch template. The requested configuration is currently not supported. Please check the documentation for supported configurations. (Service: AmazonAutoScaling; Status Code: 400; Error Code: Validation

[2021-05-16 07:59] tanvp112 opened #3705 "Add/Remove policy for FargatePodExecutionRole"
**What feature/behavior/change do you want?**

Currently, cluster provisioned with fargateProfiles and later on manually enabled with Fargate logging; when come to eksctl delete cluster:

stack's status of nodegroup named ... is **DELETE_FAILED**

This is because the FargatePodExecutionRole cannot be deleted when the logging policy is still attached to it.

It will be great if there is similar mec

[2021-05-16 15:11] #3520 closed

[2021-05-17 06:27] virendrasuryavanshi opened #3706 "waiting for CloudFormation stack "xxxx-xxxx-eksctl-cluster": ResourceNotReady: failed waiting for successful resource state"
**What were you trying to accomplish?**

Trying to create a cluster with managed node group via eksctl

**What happened?**

[code]

**How to reproduce it?**

[code]
**Logs**

**Anything else we need to know?**

**OS**
macOS Big Sur 11.3.1

It seems similar to issue #715

**Versions**

[code]

**eksctl**
`0.37.0`

**kubectl**
[code]

[2021-05-17 08:20] aclevername commented on #3706
Thanks for opening the issue @virendrasuryavanshi . Your using quite an old version of eksctl, can you try again with the latest? Thanks

[2021-05-17 09:23] virendrasuryavanshi commented on #3706
@aclevername I have upgraded eksctl to the latest version `0.49.0` but eksctl returns **_ResourceNotFoundException_**  while the cluster is provisioning and as a result I believe the following [issue](https://github.com/weaveworks/eksctl/issues/715#issuecomment-481133909) is occurring

[code]

[2021-05-17 09:34] cPu1 opened #3709 "Support Bottlerocket as a node AMI family for managed nodegroups"
Managed nodegroups using Bottlerocket can be created by supplying a custom AMI and a bootstrap script, e.g.,:

[code]

Unmanaged nodegroups, however, support this via the `amiFamily` field.

Add native support for Bottlerocket for managed nodegroups so that they can be created by setting `amiFamily` to `Bottlerocket`.

[2021-05-17 10:32] aclevername commented on #3706
I think you need to delete the existing cluster before attempting to re-create it. I'd also recommend adding the `--wait` flag to the `eksctl delete cluster` to ensure the stack is deleted before you attempt to recreate

[2021-05-17 12:11] virendrasuryavanshi commented on #3706
@aclevername The cluster is not getting created, it doesn't exist.

[code]

[2021-05-17 12:38] dbluxo commented on #3563
Hi @Callisto13, should this already work? Today I created a new unmanaged nodegroup with custom AMI (based on Amazon EKS optimized Amazon Linux AMI with the ID: ami-07edd1ff4d841185c) with eksctl version 0.49.0 and unlike usual I added an `overrideBootstrapCommand` in my eksctl config:

[code]

1. In the logs of eksctl appears this message anyway?:

[code]

2. If I provide an `overrideBootstrapCom

[2021-05-17 13:42] steffakasid opened #3714 "Setup aws-load-balancer-controler prerequisites via eksctl"
I try to setup my cluster with [aws-load-balancer-controler](https://docs.aws.amazon.com/eks/latest/userguide/aws-load-balancer-controller.html). The AWS documentation describes that it would be necessary to attach `curl -o iam_policy_v1_to_v2_additional.json https://raw.githubusercontent.com/kubernetes-sigs/aws-load-balancer-controller/v2.1.3/docs/install/iam_policy_v1_to_v2_additional.json`. I f

[2021-05-17 16:04] steffakasid commented on #3714
It seems that the necessary iam policy is created by eksctl. Looks like I had another issue. I'll currently recreate my cluster and try again. I'll come back if I have more.

[2021-05-17 16:14] cwwarren opened #3717 "Automatically add cluster-autoscaler ASG tags without IAM and for `node-template` labels/taints"
**What feature/behavior/change do you want?**

`eksctl` should automatically generate the appropriate cluster-autoscaler ASG tags for unmanaged node groups.

1. The core cluster/enable flag tags should not be dependent on IAM roles granted. For example we manage cluster-autoscaler's access through IRSA and disable IMDS for all pods.
2. Label/taints should be automatically translated to cluster-aut

[2021-05-17 17:55] steffakasid commented on #3714
Hm something seems to be missing / be wrong: I'm getting the following result:
[code]

[2021-05-17 19:52] kr3cj opened #3718 "instanceSelector support for allow/deny list"
We are starting to use the (`instanceSelector`)[https://github.com/weaveworks/eksctl/pull/3498] feature in some our EKS configs. It greatly simplifies our configuration and is easier to understand. Thank you for this feature.

However, in order to use it everywhere, we would need to be able to specify some kind of allow/deny list for specific instanceTypes.

The reason we need this is because we'v

[2021-05-18 01:59] #3477 closed

[2021-05-18 03:46] joshthebeast opened #3719 "Create EKS Fully-Private cluster with bottlerocket"
**What were you trying to accomplish?**

I would like to create a EKS Fully-Private cluster with **bottlerocket** using eksctl. However, it seems the bottlerocket worker nodes are not able to join the cluster.

**What happened?**

I can see the error message `Error: timed out (after 25m0s) waiting for at least 2 nodes to join the cluster and become ready in "self"` after the worker node stack been

[2021-05-18 03:51] joshthebeast commented on #3719
I found an existing issue [[EKS] [request]: VPC endpoint support for EKS API #298
](https://github.com/aws/containers-roadmap/issues/298). Not sure if they are related. Does bottlerocket need to run `bootstrap.sh` to connect themselves to the cluster ?

[2021-05-18 07:12] #3677 closed

[2021-05-18 08:36] aclevername opened #3726 "eksctl delete cluster fails due to SG having dependency violation"
Recent integration test run failure https://github.com/weaveworks/eksctl/runs/2606488877?check_suite_focus=true#step:7:24839

Output:

[code]

Looking at the Cloudformation stack, the delete got stuck at deleting the SG, eventually causing the stack deletion to timeout and fail.

[code]

Looking at `sg-08d9adba3bbb4b96e` it fails to delete because it as a ENI attached
[code]

The ENI has two SG's

[2021-05-18 08:52] rverma-nsl commented on #3709
But wouldn't it be better to provide the capability of amiFamily here too, we don't want to fetch the amiid periodically.

[2021-05-18 09:05] virendrasuryavanshi commented on #3706
/kind help
/kind improvement

[2021-05-18 09:08] virendrasuryavanshi commented on #3706
/kind help
/kind improvement

[2021-05-18 09:12] aclevername commented on #3706
Hi @virendrasuryavanshi

This is attempting to create a nodegroup for a cluster the doesn't exist. You might want to run `eksctl create cluster` instead of `create nodegroup`. This will create the cluster, and any nodegroups specified in the config file.

[2021-05-18 09:24] virendrasuryavanshi commented on #3706
@aclevername I tried to create the cluster itself first before posting the issue here

[code]

You can have a look at the [yaml](https://raw.githubusercontent.com/pixie-labs/pixie-demos/main/eks-workshop/clusterconfig.yaml) file

[2021-05-18 09:27] aclevername commented on #3706
The cluster does not exist, as shown by:

I would try the originally command again :smile:

[2021-05-18 10:48] tanvp112 commented on #3714
Beware that latest aws-load-balancer-controller 2.2.0 IAM policy has breaking change. eksctl supplied policy may have not updated yet.

[2021-05-18 11:10] steffakasid commented on #3714
Thanks for your comment. I'll check that.

[2021-05-18 12:20] hintofbasil opened #3727 "Upgrading cluster after upgrading node version fails validation"
**What were you trying to accomplish?**

We were trying to upgrade out clusters from Kubernetes v1.18 to v1.19.

[code]

We currently hard code the AMI version we use for each of our node groups.  This allows us fine grained control over when up grade our nodes.

While our cluster was running Kubernetes v1.18.9 the nodes were running v1.19.6.

**What happened?**

The cluster failed to update with

[2021-05-18 13:20] cPu1 commented on #3709
This is what the issue is about. It'll let you create a managed nodegroup using Bottlerocket by setting `amiFamily` to `Bottlerocket`, same as in unmanaged nodegroups.

[2021-05-18 14:12] aclevername commented on #3726
Could potentially related to https://github.com/weaveworks/eksctl/pull/523#issuecomment-461623452

Its possible the ENI cleanup code doesn't work properly for unowned clusters

[2021-05-18 15:48] #2364 closed

[2021-05-18 15:51] aclevername opened #3729 "managed inferentia nodes"
does it work with eksctl? If not lets! Do we test it in our integraiton tests? If not lets!

[2021-05-18 18:43] mataneja commented on #2364
@mikestef9 @aclevername Ocean by Spot is a native integration to EKS. Effectively,
                Ocean ~=  EKS Managed Node Groups

Can you please help us understand where the discrepancy is?

[2021-05-18 23:34] benwaffle opened #3730 "Throttle errors go to stdout even when eksctl output is set to json format"
**What were you trying to accomplish?**
parse the output of `eksctl get iamserviceaccount --name cluster-autoscaler-aws-cluster-autoscaler -o json --cluster $CLUSTER_NAME`

**What happened?**
The API call was throttled
[code]
this error message went to stdout, so I cannot use `jq` to parse the output.

I would have expected the error message to go to stderr, and after a retry the JSON would go to

[2021-05-19 05:38] steffakasid commented on #3714
It seems that you were right. I added the latest policy version manually and it works fine :)

[2021-05-19 05:38] #3714 closed

[2021-05-19 07:00] virendrasuryavanshi commented on #3706
@aclevername I tried a different approach, I created the cluster through AWS Console and then tried to create a managed nodegroup via eksctl but it gives following errors

[code]

I also find a previous issue #2008 which is similar to this problem

[2021-05-19 07:53] hintofbasil commented on #3727
We have realised we were using the wrong AMI id for the cluster version we were using.
We now have nodes running the same k8s version as our cluster.  Keeping this open though as it does feel like the logic here is incorrect - even if users shouldn't really find themselves in this situation.

[2021-05-19 07:56] virendrasuryavanshi commented on #3706
Even trying to create a cluster through eksctl with managed nodegroup also seems to have issues!

[code]

[2021-05-19 07:59] aclevername commented on #3706
[code]

It appears your account does not have enough resources to create a new VPC for the cluster.

[2021-05-19 07:59] #3706 closed

[2021-05-19 08:37] virendrasuryavanshi commented on #3706
@aclevername Ahh, Sorry for the trouble. My default region had reached its VPC Limit.
Changing the region worked.

Thank you for helping with this, really appreciate it.

[2021-05-19 12:27] aclevername commented on #3727
Thanks for opening the issue and the update @hintofbasil

Do you still believe the statement `It seems that eksctl checked the versions of the cluster and nodes, saw they were different and assumed the nodes were outdated however the nodes were actually a higher version.` is correct? That does sound like something worth fixing if so.

[2021-05-19 12:35] nikimanoledaki opened #3732 "Remove deprecated command "wait-nodes""

[2021-05-19 13:53] hintofbasil commented on #3727
Yes.  That's a good summary of the issue.

[2021-05-19 20:58] Leankit-Stuart-Will opened #3733 "IAM permissions for aws-load-balancer-control v2.2.0 require change"
**What were you trying to accomplish?**
Use awsLoadBalancerController wellKnownPolicies

**What happened?**
ingress creation errored out due to authorization issues

**How to reproduce it?**
Install a k8s cluster using eksctl config file with:
[code]

**Logs**
kube-system for aws-load-balancer-controller logs show:
`{"level":"error","ts":1621353948.307852,"logger":"controller","msg":"Reconciler er

[2021-05-19 21:25] Leankit-Stuart-Will commented on #3733
PR to address this is at https://github.com/weaveworks/eksctl/pull/3734

[2021-05-20 07:12] cPu1 commented on #3714
This has been fixed by https://github.com/weaveworks/eksctl/pull/3734, it'll be out in the next release.

[2021-05-20 07:25] yufan022 opened #3735 "The fully-private cluster created with eksctl 0.48.0 does not work, but everything works fine with eksctl 0.38.0"
**What help do you need?**

Create a `fully-private` cluster by `eksctl 0.48.0`, nodes can't join the cluster.
But I use the same configuration to create a cluster by `eksctl` 0.38.0, everything is ok.

What's the difference between the two versions?
Why can't the nodes work in the cluster created by `ekscl 0.48.0`?

[code]

[code]

[code]

nodes
[code]

[code]

[2021-05-20 07:28] cPu1 commented on #3735
Thanks for opening a detailed issue. This may be related to https://github.com/weaveworks/eksctl/issues/3719. We're already looking into it.

[2021-05-20 09:28] #3691 closed

[2021-05-20 09:30] ollevche commented on #274
Hey there! Any update? Have the same issue

[2021-05-20 11:25] #3690 closed

[2021-05-20 12:52] #2847 closed

[2021-05-20 12:55] aclevername commented on #3730
ah this is annoying! Thanks for raising the issue @benwaffle , we will take a look :smile:

[2021-05-20 21:12] darnone commented on #1807
This would definitely be a very useful feature.  I was just searching if there was a way to do this and come across this.  The above feature would generate the necessary networking for you rather than having to use CloudFormation or Terraform to first create the infrastructure and then use eksctl to redeploy in the existing VPC. It is like putting both steps together. So is this not yet available?

[2021-05-21 07:37] MartinEmrich commented on #3563
Hi! Just testing 0.51.0-rc0.... I get this message, but I have no custom AMI. (just `ami: auto` which AFAIK should use the newest appropriate AWS-provided AMI). Will this affect me?

[2021-05-21 08:08] FelixRodriguezJara opened #3738 "EKS Cluster upgrade fails on china cluster because of coredns labeling"
**What were you trying to accomplish?**

EKS version upgrade to 1.18

**What happened?**

Running eksctl upgrade command on the cluster fails:

[code]

`kubectl get deployment coredns --namespace kube-system -o yaml` returns the following

[code]

The tag generated eks.amazonaws.com with eksctl doesn’t match the deployment tag eks.amazonaws.com.cn.

This needs to be fixed, as it will block further

[2021-05-21 08:57] #3636 closed

[2021-05-21 09:20] #3663 closed

[2021-05-21 10:20] #3536 closed

[2021-05-21 11:49] #3694 closed

[2021-05-21 13:01] #3735 closed

[2021-05-21 15:16] YYSU commented on #3719
@cPu1 I can see the PR https://github.com/weaveworks/eksctl/pull/3737 was merged. Does this PR also fix this issue ?

[2021-05-21 15:27] aclevername opened #3744 "i/o timeout flake during create cluster"
Sometimes the AWS api flakes for kubectl commands, lets re-try when that happens. Example failure during `eksctl create cluster`: https://github.com/weaveworks/eksctl/runs/2640416864?check_suite_focus=true

[code]

[2021-05-21 16:16] kr3cj opened #3747 "`eksctl upgrade nodegroup --config-file...` ignores `releaseVersion` from config-file"
The new [releaseVersion parameter in managedNodeGroups](https://github.com/weaveworks/eksctl/pull/3544) is awesome. It allows us to have more fine grained control over eks ami release versions and a more predictable/reliable upgrade process.

However, we noticed that when one calls `eksctl upgrade nodegroup --config-file my-file.yaml --cluster my-cluster`, it ignores any `releaseVersion` parameter

[2021-05-21 16:36] aclevername opened #3748 "[Known Issue] CoreDNS and Kube-proxy addons fail to create during eksctl create cluster"
## Issue
Creating the `coredns` or `kube-proxy` addon as part of `eksctl create cluster `fails. This is because it attempts to create the addons before the nodegroups, resulting in the addon failing to be created as theres no nodes for the addon pods to get deployed onto

## Workaround

Create the cluster without the `coredns` or `kube-proxy` addon, and then create the addons manually after the cl

[2021-05-21 16:48] cPu1 commented on #3719
Yes, that PR fixes this issue. We plan on cutting a release with the fix on Monday.

[2021-05-21 20:03] #3733 closed

[2021-05-22 01:56] #3432 closed

[2021-05-22 03:12] bitva77 commented on #2774
Just want to say that if this feature means I can stop gitops'ing `eksctl` with bash scripts, this would be such a win.

/going back into my hole now

[2021-05-22 06:52] TBBle commented on #1467
This issue hasn't mysteriously solved itself.

[2021-05-23 19:23] knkarthik opened #3750 "Nodes fail to join cluster when scaling up from 0"
**What were you trying to accomplish?**
I have a nodegroup where scaling up from zero was working perfectly but recently the scaled up nodes started failing to join cluster.

**What happened?**
Cluster autoscaler scales up node but node fails to join cluster.

**How to reproduce it?**
Here's the nodegroup config:

[code]
**I've several nodegroups that uses similar configurations that are all worki

[2021-05-24 07:23] cPu1 commented on #3719
@YYSU I misread the title of the issue and have removed my earlier comment. That PR fixes the issue for Amazon Linux 2 and Ubuntu nodegroups but not for Bottlerocket. We'll be working on a fix for Bottlerocket soon.

[2021-05-24 07:48] YYSU commented on #3719
@cPu1 Thanks for checking this issue. It's great to hear that !

[2021-05-24 08:27] aclevername commented on #3750
Thanks for opening the issue @knkarthik , is this reproducible with the latest version of eksctl?

[2021-05-24 08:59] cw-sakamoto commented on #3572
We need change `aws-cni`setting for `containerd`.  Do you have this setting?
https://github.com/aws/amazon-vpc-cni-k8s#container-runtime

After making this setting, it worked with `preBootstrapCommands` below.
(eksctl 0.51.0)
[code]

[code]

The configuration file of kubelet service has changed since 0.47.0.
FYI: https://github.com/weaveworks/eksctl/releases/tag/0.47.0

[2021-05-24 09:26] yufan022 commented on #3735
@cPu1
I have another problem. Could you please take a look at it? Thank you very much!

[code]
Node can't join to cluster when I set `withOIDC:true` on fully-private cluster , `kubectl get nodes` state is `NotReady` all the time.

I guess it's related to [this](https://github.com/weaveworks/eksctl/pull/1788), Why is this PR not merged into the main branch?
How can I set `withOIDC: true` on `fully-

[2021-05-24 09:27] yufan022 commented on #3735
@cPu1
I have another problem. Could you please take a look at it? Thank you very much!

[code]
Node can't join to cluster when I set `withOIDC:true` and `privateCluster.enabled: true`, `kubectl get nodes` state is `NotReady` all the time.
[code]

I guess it's related to [this](https://github.com/weaveworks/eksctl/pull/1788), Why is this PR not merged into the main branch?
How can I set `withOIDC:

[2021-05-24 09:29] yufan022 opened #3752 "Node always `NotReady` in fully-private cluster when `withOIDC: true`"
[code]
Node can't join to cluster when I set `withOIDC:true` and `privateCluster.enabled: true`, `kubectl get nodes` state is `NotReady` all the time.
[code]

How can I set `withOIDC: true` on `fully-private cluster`?

kubelet log
[code]

[2021-05-24 09:44] Callisto13 commented on #3563
Sorry for the slow response folks, I have been away for a while.

@dbluxo the legacy codepath will still be present for a while longer: ie, you don't _yet_ need to provide an `overrideBootstrapCommand` when using a custom AMI, currently just non-custom AMIs are on the new codepath. Looking back the wording is not clear, I will update the notice above. Sorry for the confusion 😅 .

@MartinEmrich I d

[2021-05-24 11:30] Callisto13 commented on #3514
Cool! Thanks for the update and the information @darnone 👍

[2021-05-24 14:48] aclevername commented on #3748
fixed in eksctl 0.52.0-rc.0

[2021-05-24 14:48] #3748 closed

[2021-05-24 15:13] Callisto13 commented on #3697
Hi @erkules thanks for asking.

Could you supply the rest of the `overrideBootstrapCommand` you are providing? Specifically the bit that is calling the native `/etc/eks/bootstrap.sh`.

[2021-05-24 15:19] Callisto13 commented on #3717
Hi @cwwarren, thanks for this super detailed feature request!

The team will review and schedule for work if it makes sense to us. You are also very welcome to PR something 😄 .

[2021-05-24 16:13] Callisto13 commented on #3572
Thanks @cw-sakamoto !

More general info: containerd will be the default runtime in EKS from 1.21, which should not be far away.

[2021-05-25 10:00] Callisto13 commented on #3738
Thanks for reporting @FelixRodriguezJara, the team will schedule this for work asap. You are also welcome to submit a PR yourself 👍

[2021-05-25 10:11] Callisto13 commented on #3687
Hi @franklinRibe, would you be able to provide some logs/tracing of what you are seeing?

The coredns image used is not from docker.io, but from a public AWS ECR, so we a a bit surprised that you are seeing docker rate limit errors.

[2021-05-25 22:14] cwwarren commented on #3717
Thanks, I've started a draft change that implements this, diving into the code was pleasantly easier than expected!

Once I get a little further I'll submit a PR to discuss some of the design decisions such as the proposed field addition to enable the tags.

[2021-05-25 22:19] cwwarren commented on #3717
This may not actually be required with upcoming cluster-autoscaler changes. I'll probably put my work on hold until I investigate this more.

https://github.com/kubernetes/autoscaler/pull/3968/files?short_path=d2e8da7#diff-d2e8da736c0abb21137db9ae8fb3f20a92a9abc7f874b7bc21e03cda3e04a167

[2021-05-26 03:48] tsuka716 opened #3764 "`get nodegroup` does not repoert `ASG NAME` if specify `--name`"
# The details of this issue

I want to get ASG NAME of Node Group.

I executed `eksctl get node` command. If I specified `--name` option, eksctl did not report ASG NAME.

[code]

However, if I do NOT specify `--name` option, eksctl will report ASG NAME.
(I masked my cluster and ASG name.)

[code]

# Verbose log

<details>
<summary>The verbose log (with `-v 4` option)</summary>

[code]

</details>

[2021-05-26 08:18] Callisto13 commented on #3717
Awesome, thanks @cwwarren 🚀

[2021-05-26 08:28] Callisto13 commented on #3764
Thanks for reporting this @tsuka716 !

The team will schedule this for work, but you are also very welcome to submit a PR 😄

[2021-05-26 11:30] cPu1 opened #3768 "Support Ubuntu as a node AMI family for managed nodegroups"
Users should be able to create Ubuntu nodes in managed nodegroups by setting `amiFamily` to `Ubuntu1804` or `Ubuntu2004`

[2021-05-26 11:54] FelixRodriguezJara commented on #3738
We resolved this issue by reapplying coredns yaml with labels not having .cn suffix.

[2021-05-26 11:54] #3738 closed

[2021-05-26 14:24] stela-leon opened #3769 "self managed group via eksctl"
Hey there,

I am trying to create a self managed nodegroup via eksctl(0.51) as a workaround to support windows nodes. I have a kubernetes cluster running in my backend running linux nodes only.

What I did was to enable windows successfully like this:

`eksctl utils install-vpc-controllers --cluster ${data.aws_eks_cluster....name} --approve`

Then I was trying to create a nodegroup  following the

[2021-05-26 14:42] stela-leon commented on #3769
hi thank you for your answer. This fails from the command line too, can you please tell me how I can run this via command line?

[2021-05-26 14:44] #3260 closed

[2021-05-26 15:02] cPu1 commented on #3769
You can set the VPC in a ClusterConfig file and pass it as `eksctl create nodegroup -f config.yaml`.

[code]

It's not required if the cluster was created with eksctl.

[2021-05-27 01:52] ahmeddrawy opened #3771 "failed to wait for control plane: timed out waiting for control plane after 25m0s"
**What were you trying to accomplish?**

**What happened?**

**How to reproduce it?**

**Logs**

**Anything else we need to know?**

**Versions**

[code]

[2021-05-27 02:10] #3597 closed

[2021-05-27 07:46] ttirtawi opened #3772 "Stalled EKSCTL due to Adds-On Creation"
I'm using the following manifest to create a new cluster (with 3 adds-on) with eksctl version 0.51.0:

[code]

The process stalled when tried to create coredns (it waited for 25 minutes). Only `vpc-cni` that successfully created:

[code]

I've checked CloudFormation and found only 3 stacks created & none of it had an error.

[code]

EKSCTL didn't continue to create the instance group. What did I m

[2021-05-27 08:04] Callisto13 commented on #3771
Hi @ahmeddrawy, there is not enough information here for us to investigate. Please refer to the [bug report guide](https://github.com/weaveworks/eksctl/blob/main/CONTRIBUTING.md#bug-report-guide) and provide as much information as possible.

[2021-05-27 08:04] aclevername commented on #3772
@ttirtawi this was fixed in the latest release https://github.com/weaveworks/eksctl/issues/3748#issuecomment-847093517

[2021-05-27 09:20] ttirtawi commented on #3772
@aclevername Thanks, confirmed just testing using 0.52.0-rc.0 and all addons created successfully.

[2021-05-27 09:20] #3772 closed

[2021-05-27 10:48] Callisto13 commented on #3769
Our docs for creating nodegroups on clusters not created by eksctl: https://eksctl.io/usage/unowned-clusters/

[2021-05-27 11:54] stela-leon commented on #3769
Thank you so much for your help. Managed to make this work.

[2021-05-27 11:55] #3769 closed

[2021-05-27 12:05] nikimanoledaki commented on #2931
Very happy to see that there is a long-term goal about `ClusterProvider`! :) Here are some thoughts after doing some work around this in #3728.

## What is the provider? (Part 2)
As pointed out by @aclevername, the `ClusterProvider` is an [interface](https://github.com/weaveworks/eksctl/blob/d64049cc2da36edd0a99099ad1065562fcdc38c2/pkg/apis/eksctl.io/v1alpha5/types.go#L517-L532) for making calls t

[2021-05-27 12:43] #3730 closed

[2021-05-27 13:21] #3744 closed

[2021-05-27 14:18] knkarthik commented on #3750
v0.51.0 seems to have fixed this issue, thanks @aclevername . I'm closing this issue.

[2021-05-27 14:18] #3750 closed

[2021-05-28 08:45] santosh07bec commented on #3441
I do not see any support for Outpost in eksctl yet. Can this issue be re-opened to add Outpost capabilities in eksctl?

[2021-05-28 08:49] santosh07bec opened #3779 "AWS Outpost support for eksctl"
AWS Supports creating EKS Worker nodes on AWS Outpost, however eksctl doesn't support that yet. I think it will be good to add this capability into eksctl.

I opened a feature request for this earlier (#3441 ) and it was closed due to inactivity and no update was provided on it. I am opening it again to see if there is any possibility of eksctl supporting resource provisioning on AWS Outpost.

[2021-05-28 09:27] Callisto13 commented on #3779
Hi @santosh07bec, sorry the old issue got closed.

Would you be able to help us understand what is missing from eksctl right now? The team is not hugely familiar with Outposts (we don't have access to any), but eksctl does provide pretty flexible configuration; after a chat the team feel at least pieces _should_ be possible. Could you tell us what is not working for you at the moment?

[2021-05-28 10:50] santosh07bec commented on #3779
At this time to create Node Group on Outpost Subnet, we need to create a Subnet manually on Outpost and then use that in NodeGroup config to create the nodes in the Outpost Subnet which basically launches the instances on Outpost. In order for the eksctl to support nodeGroup creation on Outpost, I think we need the ability to specify the Outpost ARN in "create nodegroup" command which can be used

[2021-05-28 12:16] steffakasid opened #3780 "Support for AWS CNI custom CIDR Ranges?"
**What help do you need?**

Is there a way to configure custom subnets used by AWS CNI? I'm trying to setup the following: https://aws.amazon.com/premiumsupport/knowledge-center/eks-multiple-cidr-ranges/

But I don't like the fully manual way ;)

[2021-05-28 13:05] Callisto13 commented on #3780
Hey @steffakasid are these the things you are after?
- [docs](https://eksctl.io/usage/vpc-networking/#change-vpc-cidr)
- [example yaml](https://github.com/weaveworks/eksctl/blob/main/examples/24-nodegroup-subnets.yaml)

[2021-05-28 13:10] steffakasid commented on #3780
Unfortunately not. As I understand the subnets settings are mostly for placing the nodes. But what I would like to do:

- Place all Nodes in [subnet1, subnet2, subnet3]
- Use [subnet4, subnet5, subnet6] for all PODs (assigned via AWS CNI)

Or did I miss understood something?

[2021-05-28 13:18] #3709 closed

[2021-05-28 13:19] Callisto13 commented on #3780
Aaah I see now, sorry I spaced on CNI. AFAIK eksctl does not expose a way to configure that right now

[2021-05-28 16:54] duttab49 commented on #3432
@michaelbeaumont @patstrom I see the issue is closed without any resolution. Please check.
We need the solution in eksctl.

[2021-05-28 17:59] steffakasid commented on #3780
Ok thanks a lot. I found this: https://github.com/aws/eks-charts/tree/master/stable/aws-vpc-cni

I think that will do fine with our automation.

Regards
Steffen

[2021-05-28 17:59] #3780 closed

[2021-05-29 02:14] #3621 closed

[2021-05-29 04:35] eze8789 commented on #3764
Hi @Callisto13, I found the same bug and I was fixing it, here is a [PR](https://github.com/weaveworks/eksctl/pull/3785) for this if you want to link it.

[2021-05-29 11:48] Morriz opened #3786 "update defense in depth link that is from 2007"
as the title says, in your docs you see it:

https://eksctl.io/usage/kms-encryption/

Wouldn't you rather point to more up to date information?

[2021-05-30 00:49] freedev commented on #1578
Hi, it seems there is still same issue:

[code]

The problem was solved when I deleted the Cloudformation stack eksctl-solr-fradv-prod-nodegroup-workers-m5zn-medium

[2021-05-30 15:41] MrFishFinger commented on #1979
not directly related to this topic, but the same error message can occur if eksctl is run with the incorrect AWS profile set.
the solution for me was to run eksctl like this:
[code]

[2021-05-31 00:15] consideRatio commented on #3459
Hi @aclevername, I've run into this specific error as well and hope to revive this debugging effort (`eksctl version: 0.52.0`). I've tried to provide as much information as I can below.

### Info: background
- I have created the entire cluster recently
- I have multiple node groups but they are all linux based on just different sizes.
- I have not created any AWS SecurityGroup manually or similarl

[2021-05-31 12:33] vvazharksi opened #3788 "Creating windows node group is removing Security group outbound rule 0.0.0.0/0"
Hi,

When using eksctl for creation of windows node group, the security group outbound rule 0.0.0.0/0 is getting removed and deployment stuck until I add it manually back.

My cluster is fully private, I am noticing this behaviour when I specify the privateNetworking: true flag for the Windows node group.

I believe that this is not expected behaviour any idea what might be causing this or how I c

[2021-05-31 14:18] steffakasid commented on #3563
Hi,

I've added to my unmanaged nodegroup:
[code]
As we're using a custom AMI (which is basically based on the offical EKS AMIs we just need to add a few things for compliance reasons). In fact the nodes were not able to join the cluster.

I receive the following error:
`Error: timed out (after 25m0s) waiting for at least 1 nodes to join the cluster and become ready in "bizhub-1a-green"`

After re

[2021-05-31 14:25] cPu1 commented on #3563
Hi @steffakasid, Is that the entirety of your `overrideBootstrapCommand` config? Can you help us debug your issue by enabling SSH and checking the logs in one of your instances in the nodegroup?

Additionally, can you try using [managed nodegroups](https://eksctl.io/usage/eks-managed-nodes/) with your custom AMI and  the same `overrideBootstrapCommand`, and see if it works?

[2021-05-31 14:29] dbluxo commented on #3563
@cPu1 I have already posted some logs above: https://github.com/weaveworks/eksctl/issues/3563#issuecomment-842290454 With managed nodegroups it works (same AMI).

[2021-05-31 16:39] Callisto13 commented on #3563
@dbluxo @steffakasid neither of you need to add the `overrideBootstrapCommand` _yet_. This notice is for a future breaking change, not a current one.

[2021-05-31 17:47] consideRatio commented on #3459
I updated my comment with the resolution for me to the issue, see https://github.com/weaveworks/eksctl/issues/3459#issuecomment-851087056.

[2021-05-31 17:59] steffakasid commented on #3563
Thanks a lot for clarifying @Callisto13

[2021-06-01 01:18] rverma-nsl commented on #3786
Wouldn't it be nice if eksctl take care of bootstrapping the kms key too? That will also simplify the policy on the key side.

[2021-06-01 02:15] #642 closed

[2021-06-01 08:09] Callisto13 commented on #3764
🚀  awesome! Thanks @eze8789!

[2021-06-01 08:28] Callisto13 commented on #3786
@Morriz do you have a link to an up to date doc?

[2021-06-01 08:30] Callisto13 commented on #3788
Hi @vvazharksi, thanks for asking. Could you please supply your full cluster config (any sensitive info redacted), thanks!

[2021-06-01 08:51] #3764 closed

[2021-06-01 09:02] #3671 closed

[2021-06-01 09:22] cPu1 commented on #3768
Closed by #3789

[2021-06-01 09:22] #3768 closed

[2021-06-01 14:09] santosh07bec commented on #3779
Sorry for the delay.

Yes it works because as of now EKS cluster can't be created in Outpost, we can only create worker node in Outpost and connect that back to In Region EKS Cluster.

[2021-06-01 15:44] aclevername opened #3793 "scaling managed nodegroups to 0"
does eksctl let you create and  scale managed nodegroups to 0? Lets find out and add support if we don't

[2021-06-01 15:48] Callisto13 opened #3794 "Kubernetes v1.16 End of Support (September 27th, 2021)"
Corresponding AWS ticket coming soon.

[2021-06-02 07:31] cPu1 opened #3795 "Ubuntu no longer works in unmanaged nodegroups"
PR https://github.com/weaveworks/eksctl/pull/3637 reset the changes to cgroup drivers, which involves passing these settings to Docker, but the Ubuntu bootstrap script is still referencing the missing config file.

[2021-06-02 09:44] #3795 closed

[2021-06-02 11:19] Callisto13 commented on #3638
This will be available in the next release `0.53.0`.

[2021-06-02 11:19] #3638 closed

[2021-06-02 13:38] aclevername commented on #3613
@Callisto13 to document `eksctl edit` (or something like that) migration path

[2021-06-02 14:25] Morriz commented on #3786
@Callisto13 maybe that is just not the data people need anymore and you wish to stay in context? Not up to me to write about that. I would stray from posting (links to) generic information/documentation...

[2021-06-02 14:45] nikimanoledaki commented on #3671
Hi @ruzickap, the well-known policies for the EFS CSI driver will be included in today's release of eksctl 0.53! 😊

Thanks for raising this and please let us know if there is any issue or if we can help with anything else.

[2021-06-03 13:23] cPu1 commented on #3747
It's not just the `releaseVersion` field that's ignored, the `upgrade nodegroup` command does not work with a config file at all. The reason being that eksctl does not support upgrading all nodegroups specified in a config file, and it'd be a confusing UX to support passing `--config-file` and `--name` simultaneously to specify the nodegroup to update from a config file. Although you did find a bu

[2021-06-03 14:49] Morriz opened #3800 "attachPolicyARNs without default policies breaks install"
**What were you trying to accomplish?**

Installing using a config file that specifies `attachPolicyARNs`.

**What happened?**

This breaks if the default policies (as described in the bottom of this doc: https://eksctl.io/usage/iam-policies/#attaching-policies-by-arn) are not provided.

But now my real problem is with the lack of eksctl NOT providing those in the installer when the docs say those

[2021-06-03 15:32] Morriz commented on #3800
I updated my OP to show what EKS _really_ expects nowadays, as I also got an error that it expects `arn:aws:iam::aws:policy/AmazonEC2ContainerRegistryReadOnly` to be present, which your docs don't mention.

[2021-06-03 17:35] watcher00090 commented on #1408
I had this error also. It turned out that I had a typo in the cluster's region: I was putting an extraneous dash in front: I was writing `-us-east-2` instead of `us-east-2`. Removing the extraneous dash made the error go away.

[2021-06-03 20:09] wongma7 opened #3801 "cluster delete panics if default ~/kube/config doesn't exist and can't be locked*"
**What were you trying to accomplish?**

call `eksctl cluster delete` in an AWS Lambda where there is no ~/.kube directory and the filesystem is read-only

**What happened?**

deletion failed and eksctl panicked. eksctl is trying to remove the cluster context from my "global" .kube/config but I don't have a .kube/config. eksctl should no-op and continue with deletion instead of panicking.

stacktr

[2021-06-03 20:25] kevin-lindsay-1 commented on #2752
Having this same issue, and everything works if right before the VPC controllers start being added; hard to say as to the exact cause, but until I figure out a way to get past this hurdle I need to assume this is the cause.

[2021-06-04 09:30] #3245 closed

[2021-06-04 10:33] JosephOmo opened #3805 "eksctl version 0.52.0 eks cluster update fails with CloudFormation throttle error."
<!--
We noticed that when we ran eksctl command to update our eks cluster from version 1.19 to 1.20 we are receiving CloudFormation API throttling error:
❯ eksctl upgrade cluster --name example --approve
2021-06-04 11:28:50 [ℹ] eksctl version 0.52.0
2021-06-04 11:28:50 [ℹ] using region eu-central-1
2021-06-04 11:28:51 [!] retryable error (Throttling: Rate exceeded
status code: 400, request id: 80-

[2021-06-04 10:36] JosephOmo commented on #3805
<!--
We noticed that when we ran eksctl command to update our eks cluster from version 1.19 to 1.20 we are receiving CloudFormation API throttling error:
❯ eksctl upgrade cluster --name example --approve
2021-06-04 11:28:50 [ℹ] eksctl version 0.52.0
2021-06-04 11:28:50 [ℹ] using region eu-central-1
2021-06-04 11:28:51 [!] retryable error (Throttling: Rate exceeded
status code: 400, request id: 80-

[2021-06-04 10:46] nikimanoledaki commented on #3805
Hi, thanks for raising a new bug. Could you please provide more info about this bug by following the [bug reporting template](https://github.com/weaveworks/eksctl/issues/new?assignees=&labels=kind%2Fbug&template=bug_report.md&title=) to help us understand and reproduce the issue? Thanks.

[2021-06-04 11:00] nikimanoledaki opened #3806 "`--version` flag for creating managed nodegroups with specific k8s version is not setting k8s version"
## Managed nodegroup inherits cluster's k8s version despite `--version` being set
Creating a managed nodegroup with a k8s version that is different from the cluster k8s version is not really doing anything: the nodegroup inherits the version of the cluster.

Output of trying to create a managed ng with a k8s version that is different from that of the cluster:
[code]

In the output above, there is

[2021-06-04 11:03] nikimanoledaki opened #3807 "unable to set k8s version to managed ng with `--version`"
**What were you trying to accomplish?**

Tried creating a managed nodegroup with a k8s version that is different from the cluster's k8s version.

**What happened?**

**[Bug]** This did not work and the nodegroup inherited the cluster's k8s version rather than the one that was set.

**[Missing feature]** Another issue is that, currently, the k8s version of a nodegroup is not being returned when we

[2021-06-04 11:09] aclevername commented on #3806
@nikimanoledaki I think this might only get used in `unmanaged` clusters? since you can't really control the version of `managed` clusters, you can only create them at the same version of the cluster AFAIK?

[2021-06-04 11:44] ihormudryy opened #3808 "EKS cluster name has different regex pattern than eksctl which leads to errors"
I tried to run command the command for my EKS cluster e.g bla_bla_bla which was legitimately created:
`eksctl create iamserviceaccount \
    --name iam-test \
    --namespace default \
    --cluster bla_bla_bla \
    --attach-policy-arn arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess \
    --approve \
    --override-existing-serviceaccounts
`

got error
`2021-06-04 13:36:55 [✖]  creating CloudForma

[2021-06-04 12:28] nikimanoledaki opened #3809 "Return k8s version when listing nodegroup(s)"
Currently, the k8s version of a nodegroup is not returned when doing `get nodegroup`.

The nodegroup's version can only be retrieved by checking through the AWS console.

[2021-06-04 12:39] #3807 closed

[2021-06-04 12:42] nikimanoledaki commented on #3806
thanks @aclevername, in that case we should update the user docs about [managed nodegroups](https://eksctl.io/usage/managing-nodegroups/) because it's a bit confusing

[2021-06-04 12:58] nikimanoledaki commented on #3727
After doing some digging, I would reword the problem statement as: `It seems that EKS checked the versions of the cluster and nodes, saw they were different and assumed the nodes were outdated however the nodes were actually a higher version.`

The error is returned by EKS, specifically by [this](https://github.com/weaveworks/eksctl/blob/0dd8890c8e9bc46ed3b227ddb4cd671f103dbb29/pkg/eks/update.go#L

[2021-06-04 13:14] aclevername commented on #3806
I might be wrong! But that was my guess

[2021-06-04 15:04] Callisto13 commented on #3808
Hi @ihormudryy thanks for reporting.

The error is coming from the CloudFormation API which annoyingly does not allow underscore characters. I believe eksctl recently merged work which sanitises cluster names so that we do not hit this error, could you tell me your eksctl version please?

[2021-06-04 16:08] ihormudryy commented on #3808
Hi Claudia,

thanks for the quick reply! My version is 0.52.0

[2021-06-04 16:10] Callisto13 commented on #3808
okay that is very recent. I will try to find out where the work went and do a quick PR if it never made it in

[2021-06-04 18:07] kevin-lindsay-1 opened #3811 "When using a pre-existing VPC, a pre-existing security group, and an unmanaged Windows nodeGroup, the CloudFormation Stack for the Windows NodeGroup creates a security group with the same ID as the pre-existing security group, replacing its settings"
**What were you trying to accomplish?**

Creating a cluster with the following requirements:
1. Use a pre-existing VPC, subnets, and security groups (luckily, I happen to be testing this behavior before trying to apply this to a production VPC)
2. Have the VPC use a private endpoint only
3. Use an AWS VPN Client endpoint to reach the VPC and the k8s control plane

[code]

`eksctl --profile=<profil

[2021-06-04 18:09] kevin-lindsay-1 commented on #3811
I see my insanely long title and I feel no regrets. Some shame, but no regrets.

[2021-06-05 02:00] rverma-nsl opened #3812 "Managed nodegroups with bottlerocket AMI are failing"
When we have a policy for strict ebs encryption,

**What were you trying to accomplish?**
Create a managed nodegroups with taints and encrypted volume and amiFamily bottlerocket.

**What happened?**
we observe that nodes are not coming up and its fail to launch the instance. On further analysis it was observed that, since bottlerocket uses 2 volume mounts , the default 2GB volume is no longer encr

[2021-06-05 02:01] rverma-nsl commented on #3812
@cPu1 can you please have a look?

[2021-06-06 02:09] #3635 closed

[2021-06-06 02:52] cw-sakamoto commented on #3572
https://kubernetes.io/docs/setup/production-environment/container-runtimes/#containerd-systemd

I also figured out `prebootstrapCommands`, which works by changing `cgroupdriver` to `systemd`.
I install `crictl` as well, as it is useful.

[code]

[2021-06-06 06:38] thanhma opened #3813 "Scale down specific nodes and decrement desired capacity"
**What feature/behavior/change do you want?**

Can we have a feature to scale down a nodegroup by specify instance ID(s), and also decrement the desired capacity of the corresponding ASG.

This could be familiar to the [Detach ](https://docs.aws.amazon.com/autoscaling/ec2/userguide/detach-instance-asg.html)feature of ASG, which will remove the instance(s) from ASG, plus termination for these insta

[2021-06-07 08:04] aclevername opened #3814 "don't run `aws-cleanup` job during an integration test run"
The two jobs can collide, causing a failure. Lets change the schedule or add a check to make sure they don't occur at the same time.

https://github.com/weaveworks/eksctl/actions/workflows/integration-tests.yaml
https://github.com/weaveworks/eksctl/actions/workflows/aws-cleanup.yaml

[2021-06-07 08:36] Callisto13 commented on #3811
Thanks for the detailed repro @kevin-lindsay-1, we can forgive you for the long title 😉 .

Don't suppose you had ever tried this with an earlier version? No worries if not, just curious if this is a new thing which broke or if it has always been like this.

Just confirming did you mean `vpc.securityGroup` not `iam`?

[2021-06-07 08:39] Callisto13 commented on #3813
Hi @thanhma thanks for asking, the team will have a chat about this request and get back to you 👍 .

If in the meantime feel free to PR something, even just a POC 😄

[2021-06-07 08:43] Callisto13 commented on #3808
gah, we never did the work https://github.com/weaveworks/eksctl/issues/2943 🤦‍♀️  my bad, we will get to it asap

[2021-06-07 11:21] cPu1 commented on #3800
When you specify `attachPolicyARNs` in the config, eksctl does not attach the default node policies and requires you to explicitly specify them.

This is also documented in the page you linked to:

[2021-06-07 11:23] cPu1 commented on #3800
I think that example was not meant to be an exhaustive list of all required policies, but you're right to point that the example config won't work without `AmazonEC2ContainerRegistryReadOnly`.

[2021-06-07 11:49] cPu1 commented on #3801
Fixed by https://github.com/weaveworks/eksctl/pull/3802

[2021-06-07 11:49] #3801 closed

[2021-06-07 12:50] Morriz commented on #3800
Ok, thanks for acknowledging my observations. But please address the big concern about automation: why let userspace handle it when eksctl knows what the required policies are and can just add them?

[2021-06-07 15:19] morancj opened #3816 "eksctl fails trying to provision resources in AZ's with insufficient capacity, such as us-east-1e"
**What were you trying to accomplish?**
Create a new simple cluster in us-east-1

**What happened?**
`eksctl create` fails with EC2 `Resource creation cancelled` & EKS with `Cannot create cluster 'test-cluster' because us-east-1e, the targeted availability zone, does not currently have sufficient capacity to support the cluster. Retry and choose from these availability zones: us-east-1a, us-east-1

[2021-06-07 17:55] bitva77 opened #3818 "maxPodsPerNode does not work"
**What were you trying to accomplish?**

Trying to increase the number of pods running on a node

**What happened?**

I set `maxPodsPerNode: 110` when creating a `t3.medium` nodegroup.

We have the Weave CNI installed (ripped out the crappy AWS CNI)

**How to reproduce it?**

Create a nodegroup like this:

[code]

Then get the node:  `kubectl get nodes -l workload=rabbitmq -o yaml` and observe the

[2021-06-07 19:01] chrisjohnson00 commented on #3620
I've re-run my scenario with 0.52.0 3x and did not encounter the error anymore, so I'm closing this.
Thanks team!

[2021-06-08 03:59] timothyaws opened #3819 "eksctl doesn't recognise update_complete cloudformation status"
**What were you trying to accomplish?**

eksctl create cluster
**What happened?**

Just after the cloudformation template to create the cluster enters a create_complete state, a changeset is applied to the cluster template, which completes it and leaves the stack in an update_complete status, which eksctl does not recognise and becomes stuck. Issue location here https://github.com/weaveworks/eksct

[2021-06-08 07:54] aclevername commented on #3806
yes! We have some existing flag validation logic for managed vs unmanaged, so it would definitely make sense! Assuming `@nikimanoledaki I think this might only get used in unmanaged nodegroups? since you can't really control the version of managed nodegroups, you can only create them at the same version of the cluster AFAIK?` was correct :smile:

[2021-06-08 08:34] cPu1 commented on #3812
@rverma-nsl thanks for the detailed report. A [PR](https://github.com/weaveworks/eksctl/pull/3820) has been opened to address this issue and it'll be out in the next release.

[2021-06-08 08:43] Callisto13 commented on #3816
There _should_ be an equivalent top level `availabilityZones: []` field, and other `nodeGroup.availabilityZones: []`/`managedNodeGroup.availabilityZones: []` fields in the config file, could you try those?

[2021-06-08 08:47] Callisto13 commented on #3818
Thanks for reporting @bitva77, this may have been accidentally removed in our recent nodebootstrap script shakeup. We will add the functionality back asap.

[2021-06-08 08:49] Callisto13 commented on #3819
Thanks for reporting @timothyaws, we will schedule it for work soon. If you'd like to PR the fix yourself, please go ahead 👍

[2021-06-08 08:59] cPu1 commented on #3697
@erkules when using `overrideBootstrapCommand`, eksctl does not supply the `CLUSTER_NAME` and other environment variables to the script, so using the default bootstrap script in `overrideBootstrapCommand` will not work as is. Can you help us understand what you're trying to achieve?

[2021-06-08 09:09] morancj commented on #3816
Thanks. I found that, thought I'd added it to my massive missive above! Apparently not. Apologies, here it is (appended .txt for GitHub).
[cluster.yaml.txt](https://github.com/weaveworks/eksctl/files/6615113/cluster.yaml.txt)

[2021-06-08 09:12] Callisto13 commented on #3816
okay so just to tldr, the problem is that even if you specify the AZs in the config (knowing which ones have space), eksctl will create still create things wherever it wants?

[2021-06-08 09:16] morancj commented on #3816
The "problem" is that unless told otherwise, eksctl can select an AZ which is unable to fulfil the user's request.

IMO, either eksctl should check in advance if the AZ can fulfil the request, or, if that's not possible, avoid the us-east-1e AZ as it is often unable to provision these resources.

[2021-06-08 11:47] ezYakaEagle442 commented on #2943
Hi all,

I hit the same issue the --nodegroup-name

eksctl create cluster \
  --name $EKS_PROJECT \
  --version 1.19 \
  --with-oidc \
  --region $EKS_REGION \
  --zones eu-west-3a,eu-west-3b,eu-west-3c \
  --nodegroup-name **MC_my-eks** \
  --node-ami-family AmazonLinux2 \
  --nodes-min 1 \
  --nodes-max 4 \
  --node-type t2.large \
  --enable-ssm \
  --full-ecr-access \
  --alb-ingress-access

[2021-06-08 11:47] ezYakaEagle442 commented on #2943
--nodegroup-name MC-my-eks-101 runs fine

[2021-06-08 13:39] #3809 closed

[2021-06-08 14:21] greenu opened #3822 "Hardcoded kube-proxy version in eksctl"
**What were you trying to accomplish?**
Upgrade kube-proxy.

**What happened?**
kube-proxy is being downgraded `kube-proxy:v1.20.4-eksbuild.2` -> `kube-proxy:v1.20.4-eksbuild.1`
This is because of hardcoded value in kube_proxy.go:
https://github.com/weaveworks/eksctl/blob/8c022c9b8d124e9a2fdb7a09820e5a5ffec529d4/pkg/addons/default/kube_proxy.go#L159

**How to reproduce it?**
* create EKS 1.20 with

[2021-06-08 19:08] deliahu commented on #643
@mumoshu @errordeveloper I was just wondering if there were any updates on this. Thank you!

[2021-06-08 21:21] duckie commented on #778
It appears that CloudFormaton cannot tag EKS control planes either. It is overlooked because worked around as a post creation task. Still, it is definitely a limitation.

[2021-06-09 10:04] Callisto13 commented on #3822
Thanks for catching this @greenu. Feel free to submit a fix, otherwise the team will get to it when they can 👍

[2021-06-09 10:09] Callisto13 commented on #3816
🤔  I don't think we want eksctl to have opinions like that. Once we start checking for capacity in one thing, we open ourselves up to making decisions on capacity of everything else. Not to mention the whole mess of API calls that would require. Eksctl is designed on the premise that 'you know what you have, you tell us what to use'.

[2021-06-09 11:11] Callisto13 opened #3823 "Get integration tests working again"

[2021-06-09 12:40] pradeepnnv commented on #3822
I'd like to work on this issue.

[2021-06-09 12:42] Callisto13 commented on #3822
👍  all yours @pradeepnnv

[2021-06-09 14:06] patstrom opened #3824 "Add additional VPC subnets for nodegroups after cluster creation"
**What feature/behavior/change do you want?**

AWS explicitly [recommends](https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html) keeping a set of small subnets associated with the EKS cluster when creating it and launching all worker nodes and potential load balancer in separate subnets.

From my understanding this is not what eksctl currently does when setting up.

My request is for

[2021-06-09 14:26] Callisto13 commented on #3824
Hi @patstrom thanks for making this request, it makes sense to me and it would be good for eksctl to keep up with recommendations. The team will discuss soon 👍

[2021-06-09 23:51] chrisjohnson00 commented on #3620
Sorry, looks like I jumped the gun on closing this.  While it passed 3x in a row, I'm still seeing this issue with the latest (0.52.0)

[2021-06-10 08:12] #3658 closed

[2021-06-10 08:27] Callisto13 commented on #2943
Hey @ezYakaEagle442 and @qbadx, can I ask how you folks created your clusters to begin with? Did you used eksctl or some other tool?

[2021-06-10 10:54] morancj commented on #3816
If https://github.com/weaveworks/eksctl/issues/118#issuecomment-406597480 were implemented, the UX would be much improved.

[2021-06-10 13:59] nikimanoledaki opened #3827 "Bootstrap new `update nodegroup` command"
## New Feature: `eksctl update nodegroup`

The new `update nodegroup` command will be used for updating a nodegroup's configuration.

`update nodegroup` is not to be confused with `upgrade nodegroup`, which is used for upgrading a nodegroup and its resources, for example to use a different AMI with a newer k8s version.

Instead, `update nodegroup` can be used to update configuration of nodegroups.

[2021-06-11 05:48] ezYakaEagle442 commented on #2943
@Callisto13 eksctl as you can see in my above [comment](https://github.com/weaveworks/eksctl/issues/2943#issuecomment-856694191)

[2021-06-11 08:37] Callisto13 commented on #2943
Ah sorry @ezYakaEagle442 I thought you were running the same command as in the OP.

So you are creating a new cluster with new nodegroups which means the solution is simple: ensure your cluster and nodegroup names do not have an underscore `_` in them. The error is not in `eksctl` but in `CloudFormation`, which requires all stack names to match the regex `[a-zA-Z][-a-zA-Z0-9]*`. As the error is no

[2021-06-11 08:38] Callisto13 commented on #3808
Closing, please see https://github.com/weaveworks/eksctl/issues/2943#issuecomment-859390934

[2021-06-11 08:38] #3808 closed

[2021-06-11 09:48] #3812 closed

[2021-06-11 12:24] patstrom opened #3835 "Cluster Autoscaler Deployment Considerations"
**What feature/behavior/change do you want?**

The [recommended way](https://docs.aws.amazon.com/eks/latest/userguide/cluster-autoscaler.html#ca-deployment-considerations) to deploy nodegroups is to isolate them to a single AZ and enable the `--balance-similar-node-groups` for the cluster autoscaler.

I think it would be nice if eksctl could aid in this by having some sort of `tripletNodegroup` co

[2021-06-11 14:09] #3818 closed

[2021-06-11 19:40] vmpowercli opened #3838 "Cannot able to create cluster with KubernetesNetworkConfig ServiceIP CIDR"
**What were you trying to accomplish?**
Creating Cluster with ServiceIP CIDR and it wont work
[code]

**What happened?**
EKSCTL created cluster with CIDR `172.20.0.0/16`

**How to reproduce it?**

Created a Config FIle and added `KubernetesNetworkConfig:     ServiceIpv4Cidr: 172.25.0.0/23`
Ran `eksctl create cluster -f configfile`

[code]
[code]

[2021-06-12 09:41] binchenX opened #3839 "why people should use eksctl instead of aws cdk-eks"
**What help do you need?**

**Need some option/suggestion about why we should stick to eksctl, instead of using aws cdk-eks to create the cluster.**

## Context
Current we are using eksctl to create/manage eks clusters (~20 cluster at the moment in a very big cooperation, and expect to grow to 50 or 100 in 1-2 years) but there are some pushing/trend to use aws cdk to the create the cluster.

I can

[2021-06-12 10:22] binchenX commented on #813
I would pick eksctl any time of the day if we have a sdk so that we can get ride of the scripts needed to integrate with the eksctl.

related to:
https://github.com/weaveworks/eksctl/issues/3839

[2021-06-12 21:27] davidbnk opened #3840 "--max-pods-per-node not working"
**What were you trying to accomplish?**
Create small instances (t3a.micro) without the limitation of 4 pods per node

**What happened?**
Even using `--max-pods-per-node` on `eksctl create nodegroup` the limitation is still present

**How to reproduce it?**
[code]

**Logs**
The pod capacity is still 4:
[code]

**Versions**
[code]

[2021-06-13 03:17] tanvp112 opened #3841 "eksctl 0.53.0 delete cluster does not remove config of deleted cluster from .kube/config"
**What were you trying to accomplish?**

Prior to 0.53.0 when a cluster is deleted, the config for the deleted cluster is removed from .kube/config by eksctl.

**What happened?**

Config for deleted cluster remains in .kube/config

**How to reproduce it?**

eksctl create cluster
kubectl get nodes
eksctl delete cluster --name <created cluster>
kubectl get nodes => will report error since the cluste

[2021-06-13 03:57] tanvp112 commented on #3839
A plain cluster is nothing useful, eksctl does not only create a cluster, it comes with best practices for tagging, annotation, addon, policies etc... all of these are done in a declarative manner. Try do the same with CDK in imperative manner... even if it does work (put aside maintenance first), won't it be just another eksctl?

If hybrid cloud is really a concern, terraform is the right way to

[2021-06-13 17:18] vranystepan commented on #3719
I believe it's caused by `metadata.settings.kubernetes.cluster-dns-ip.setting-generator` that connects to EKS API via `pluto`.
Perhaps pluto can be customized a bit here https://github.com/bottlerocket-os/bottlerocket/blob/0fe7e8f5ac3d5a6d2994504ff1f29c8e661659cd/sources/api/pluto/src/main.rs#L273 to allow standalone call of `get_cluster_dns_from_imds_mac ` 🤷

[2021-06-14 03:45] pabloa-aluna commented on #1408
Confirmed what @watcher00090 found. My region was wrongly typed as -r us-west2

I fixed to -r us-west-2 and it worked.

[2021-06-14 05:32] binchenX opened #3842 "requires to input MFA token code everytime"
**What were you trying to accomplish?**

We are using cross account assume role to get access the eks cluster but when using eksctl each time it is promoted to input the MFA token.

[code]

While using `aws eks` command, the MFA token is cached.

configs
[code]

**What happened?**

Need to type MFA token each time.

**How to reproduce it?**

**Logs**

**Anything else we need to know?**

**Versions

[2021-06-14 07:31] cPu1 commented on #3840
This has been fixed in the latest release: https://github.com/weaveworks/eksctl/releases/tag/0.54.0-rc.0

Please try it out.

[2021-06-14 07:33] cPu1 commented on #3840
Please feel free to reopen if that doesn't fix the issue.

[2021-06-14 07:33] #3840 closed

[2021-06-14 08:06] cPu1 opened #3843 "Investigate issue with cleaning up OIDC providers"
One of our test accounts has several OIDC identity providers lying around, suggesting that they're not being cleaned up in some cases.

[2021-06-14 08:24] Callisto13 commented on #3841
Thanks for reporting @tanvp112, the team will get on it asap but feel free to submit a fix if you like 👍

[2021-06-14 08:32] Callisto13 commented on #3838
@vmpowercli could you please provide the error you are seeing? If possible, re-run the command with logging level increased `-v=4`.

[2021-06-14 09:26] veereshhalagegowda commented on #2510
I see this issue with version 0.52.0 and 0.53.0, any updates on this issue?

[2021-06-14 09:53] cPu1 commented on #3818
This bug fix is out in the latest RC.

[2021-06-14 10:28] patstrom commented on #3824
Hey! Have you had time to discuss this?

[2021-06-14 10:45] Callisto13 commented on #3824
Hey @patstrom 👋  Sorry not yet, things move a little slower than that over here 😂 . It is on our agenda to discuss with all sides of the product team on Tuesday, and I will update this thread when/if anything is decided.

[2021-06-14 11:19] patstrom commented on #3824
Alright. No worries, I was just curious about the time-frame.

[2021-06-14 15:04] mpitt commented on #3563
Hi, on https://eksctl.io/usage/custom-ami-support/ it says:

I'm using version 0.53.0, not specifying `overrideBootstrapCommand` and I still get the message "Custom AMI detected [...] using legacy nodebootstrap mechanism", I assume the breaking change has been postponed. If that's the case, can the documentation be updated to reflect this?

[2021-06-14 15:05] ben-mccown opened #3846 "InsufficientCapabilitiesException when trying to upgrade cluster (originally created with CLI version v0.34.0) with a newer CLI version (v0.53.0)"
**What were you trying to accomplish?**

I have existing eksctl clusters deployed with version v0.34.0. If I am following the Amazon docs which mention updating the CLI to version v0.53.0 or newer (see link at [1], step 4) for a cluster upgrade, I experience the following problem.

[1] https://docs.aws.amazon.com/eks/latest/userguide/update-cluster.html#update-existing-cluster : Updating a cluster

[2021-06-14 15:17] ben-mccown commented on #3846
Update regarding my comment:

"I am unclear whether this is an edge case with my current cluster-config.yaml or if this is a consistent issue no matter the config, but I am working on testing further to help identify an answer to this question as well."

I see that a stack created with version 0.34.0 without specifying a serviceRoleARN does not have this issue. The stack will have CAPABILITIES_IAM

[2021-06-14 15:20] Callisto13 commented on #3563
@mpitt yep I will fix that, knew I had forgotten something 🤦‍♀️ . You will see `"Custom AMI detected [...] using legacy nodebootstrap mechanism"` whenever you set `nodeGroups[].ami:` to be `ami-xxxx` (ie setting the ID).

[2021-06-14 17:33] ben-mccown commented on #3846
Workaround is to force a manual update on the CloudFormation stack and add the capability yourself. Then you can run the upgrade command with no issues.

[code]

[2021-06-14 18:29] rverma-nsl opened #3848 "Managed nodegroup: Bottlerocket, unsupported arm64"
Pre populates amd64 ami even for arm64.
[code]

[2021-06-14 18:32] rverma-nsl commented on #3848
@cPu1  FYI

[2021-06-15 03:49] flybd5 opened #3849 "eksctl refuses to upgrade nodegroup it created"
**What were you trying to accomplish?**

Upgrade my nodegroup. The one I originally created was using instances that were too big, so i created this nodegroup-smaller nodegroup with three smaller instances and deleted the first one. When I list the nodegroups with eksctl it shows up but it doesn't show up on the EKS cluster page on aws. The nodes have no nodegroup. Now I tried to upgrade the nodes

[2021-06-15 07:21] cPu1 commented on #3849
As the error message indicates, `eksctl upgrade nodegroup` is only supported for managed nodegroups. You're trying to upgrade an unmanaged nodegroup. To create a managed nodegroup, specify your nodegroup specifications in `managedNodeGroups` instead of `nodeGroups`, or pass `--managed` if you're not using a config file.

[2021-06-15 07:23] cPu1 commented on #3849
I'm closing the issue because this is the expected behaviour. Please feel free to open a new issue if you have more questions.

[2021-06-15 07:23] #3849 closed

[2021-06-15 07:54] aclevername commented on #3793
https://github.com/aws/containers-roadmap/issues/724#issuecomment-859948729

[2021-06-15 09:00] Callisto13 commented on #3848
Nice catch, thanks @rverma-nsl 👍

[2021-06-15 09:02] Callisto13 commented on #3846
Wow thank you for giving so much detail and repro instructions @ben-mccown ❤️ . We will get on this asap, but if you find a fix in the meanwhile, feel free so submit a PR 👍

[2021-06-15 13:39] nikimanoledaki opened #3857 "Update nodegroup command accepts config file with multiple nodegroups"
Currently the `update nodegroup` command has validation for accepting only 1 nodegroup in a config file at a time. However, it would be nice to be able to iterate over multiple nodegroups, since a user might just pass the same config file that was used to create a cluster, which may have multiple nodegroups.

For more info, see discussion in #3828 with this comment:

_Originally posted by @Callist

[2021-06-15 15:39] flybd5 commented on #3849
Actually, no, this is **not** expected behavior. There is no "managed" option when creating nodegroups so the user's assumption is that they are all managed when created with EKSCTL. If that is not the case, it's a failure of whomever wrote the documentation. When the new nodegroup was created it did NOT show up on AWS as the nodegroup associated with the nodes, so that is not expected behavior.

[2021-06-15 16:40] mpitt opened #3859 "Ubuntu AMIs for K8s 1.20 fail to find credentials"
**What were you trying to accomplish?**
Creating a new nodegroup after upgrading the cluster to 1.20. I was using an AMI based on the Ubuntu AMI for EKS version 1.20 (20210609).

**What happened?**
The nodes failed to join the cluster. I inspected the logs of the kubelet on a node and found this.

[code]

**How to reproduce it?**

[code]

<details>
<summary>cluster.yaml</summary>

[code]
</details

[2021-06-15 18:50] SnowBiz opened #3860 "Error: getting list of API resources for raw REST client"
Receiving certificate error when using eksctl.
x509: certificate signed by unknown authority

[code]

I am already specifying a certificate bundle for the aws cli using the `AWS_CA_BUNDLE` environment variable.
The above operation is not appearing to respect that.

I have not been able to find anything specific to the cli in the documentation on using cert bundle for eksctl to get around this.

[2021-06-16 01:49] #3545 closed

[2021-06-16 07:08] cPu1 commented on #3859
The issue here is you're using a custom AMI by setting the `ami` field and that has triggered the legacy code path that's still using the `heptio-authenticator-aws` authenticator, but it appears that Ubuntu 20.04 AMIs do not ship with that binary. We'll work on this soon.

[2021-06-16 07:23] ilpianista commented on #3859
@cPu1 FYI the AMI has neither `heptio-authenticator-aws` nor `aws-iam-authenticator`. Also, `aws eks get-token` returns:

[code]

I also filled [a bug upstream](https://bugs.launchpad.net/cloud-images/+bug/1932049).

[2021-06-16 09:40] #3823 closed

[2021-06-16 10:31] ilpianista commented on #3859
So, we realized that we installed some python library that broke the awscli. `aws eks get-token` works fine in the AMI and I think `eksctl` should be updated to use that one instead of `heptio`.

[2021-06-16 10:53] cPu1 commented on #3859
Thanks for looking into it. We'll work on it.

[2021-06-16 12:29] cPu1 opened #3864 "Cluster DNS does not work with a non-default ServiceIPv4CIDR"
When a custom ServiceIPv4CIDR is set, DNS in the cluster does not work.

Example config:
[code]

[2021-06-16 13:03] Callisto13 commented on #3692
Deprecate max pods.

Potentially blocked by getting inferentia on managed

[2021-06-17 01:48] #3553 closed

[2021-06-17 01:54] vishalbollu commented on #3563
In the past I've been burnt by the `ami: auto`. As you've mentioned in the ticket, sometimes AWS would push new versions of AMIs which resulted in new nodes initializing with the new AMI and not joining cluster.

As a way to avoid this issue, I maintain a snapshot of AWS AMIs (EKS optimized AMI and EKS optimized accelerated AMI) that I've tested and set the ami to AMIs from that snapshot when spin

[2021-06-17 04:02] papillon88 opened #3865 "eksctl cannot find existing aws subnets error"
### **Steps to replicate issue**
**1)** I created a VPC as mentioned in https://docs.aws.amazon.com/AmazonECS/latest/developerguide/create-public-private-vpc.html
At the end of the activity I had below VPC config in my AWS -
_vpc cidr_ : 192.168.0.0/16
_subnet cidr :_
![image](https://user-images.githubusercontent.com/11804111/122327953-bfce9780-cefc-11eb-974d-9de1765cfe98.png)

**2)** I create a

[2021-06-17 08:17] Callisto13 commented on #3563
Hey @vishalbollu thanks for asking. This change will affect you since as far as eksctl knows you _are_ using a custom AMI.

But you do raise an interesting point: AWS does once in a while push a dodgy image which stops nodes coming up cleanly, and the obvious solution is to either get the ID of the last image that worked and set that as the `ami`, or maintain a snapshot of a good version as a back

[2021-06-17 08:31] Callisto13 commented on #3865
Hi @papillon88, could you try those commands again setting `--region us-east-1` (which I believe is where you created them originally)? Subnets are regional resources, so this may be why eksctl is having trouble finding them.

[2021-06-17 10:07] Callisto13 opened #3868 "Fix Windows integration tests"

[2021-06-17 10:08] Callisto13 opened #3869 "CircleCI vs Github Actions"
There can only be one.

This task is to investigate which thing we want to run our CI. Pros/Cons of both and a recommendation please

[2021-06-17 11:42] #3868 closed

[2021-06-17 12:32] #3859 closed

[2021-06-17 14:03] cluggas opened #3872 "Support for CloudFormation Assume Role"
**What feature/behavior/change do you want?**
When creating a CloudFormation Stack via `eksctl create cluster` I would like to be able to supply the ARN of a role that I want CloudFormation to assume when creating the resource in the stack.

This is similar to the `--role-arn` argument that is supported on the `aws cloudformation deploy` CLI command.

When set, this role appears on the Stack Info

[2021-06-17 18:41] papillon88 commented on #3865
thanks. Its worked.
`eksctl create cluster --name mycluster1 --region=us-east-1 --vpc-public-subnets="subnet-08c25c5a949df7cd9" --dry-run -v 5`

[2021-06-17 18:41] #3865 closed

[2021-06-17 18:55] nluckenbill opened #3873 "Deprecated apiVersion used for MutatingWebhookConfiguration and CertificateSigningRequest"
Hello, when creating a new admission controller, eksctl prints out the following warnings:
[code]

[code]

This can be reproduced following the instructions here\:
https://docs.aws.amazon.com/eks/latest/userguide/windows-support.html#enable-windows-support

**VERSIONS**

[code]

[2021-06-17 22:16] vmpowercli commented on #3838
@Callisto13  I dont see any error messages and here is the log

2021-06-17 18:13:20 [▶]  cfg.json = \
{
    "kind": "ClusterConfig",
    "apiVersion": "eksctl.io/v1alpha5",
    "metadata": {
        "name": "xxxxx1",
        "region": "xxxxxx",
        "version": "1.19"
    },
    "iam": {
        "withOIDC": false,
        "vpcResourceControllerPolicy": true
    },
    "vpc": {
        "id": "vpc

[2021-06-17 22:17] vmpowercli commented on #3838
BTW I re-ran the config file and it did not create the customer CIDR for ServiceIP addresses on second cluster

[2021-06-18 01:52] #3358 closed

[2021-06-18 04:05] victor-sudakov opened #3874 "A Network Load Balancer is never created in Fargate mode"
I have successfully created an EKS Fargate-based cluster with the command
[code]

I can add pods, deployments and NodePort services to it so it's operational.

**Problem description.**

When I add a LoadBalancer type service, its EXTERNAL-IP is forever stuck in the pending state, the last event in `describe` is always "Ensuring load balancer" but no Load Balancer is ever created (I checked in the

[2021-06-18 04:35] victor-sudakov commented on #3874
And it remains in this state forever

[code]

[2021-06-18 07:29] patstrom commented on #3824
Did you have a meeting?

[2021-06-18 08:07] victor-sudakov commented on #3874
Interesting, I've created a non-Fargate cluster (thought Fargate was the culprit)
[code]
and have the same problem:

[code]
What gives?

[2021-06-19 01:51] #3698 closed

[2021-06-19 01:51] #3423 closed

[2021-06-19 02:38] gohmc commented on #3874
From your screenshot, you need to install aws load balancer controller in order to use of [NLB "IP"](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/service/nlb/#ip-mode) type. IP mode is not supported using the in-tree LB controller.

If you only want NLB (instance mode) you don't need to install the aws lb controller, just remember to provision your node group with [add

[2021-06-19 02:48] gohmc commented on #3835
Good idea. Just to share, there's a new scaler on the horizon: [Karpenter](https://github.com/awslabs/karpenter). Tested on EKS, the speed to provision a node is quite impressive.

[2021-06-19 10:29] tanvp112 commented on #3841
Noted the issue was resolved with version 0.54. Thanks!

[2021-06-19 10:29] #3841 closed

[2021-06-19 17:15] victor-sudakov commented on #3874
I tried installing  the aws load balancer controller on a Fargate cluster from a Kubernetes manifest as specified in https://docs.aws.amazon.com/eks/latest/userguide/aws-load-balancer-controller.html . The  resulting aws load balancer controller requires a cert-manager, but the cert-manager would not start in a Fargate cluster because of the taints:
[code]

So I stumbled at that point and never we

[2021-06-19 18:30] tppalani opened #3875 "EKS Custom AMI managed Node group Creation Failed"
<!--
 1. bootstrap_user_data file has been created and its converted to base64 format as per the standard.

     `
     #!/bin/bash
set -ex
B64_CLUSTER_CA= <My eks cluster Certificate authority value>
API_SERVER_URL= <My EKS cluster API server URl>
/etc/eks/bootstrap.sh <cluster-name> --b64-cluster-ca $B64_CLUSTER_CA --apiserver-endpoint $API_SERVER_URL

    `
 2. cat bootstrap_user_data | base64

[2021-06-20 01:53] #3571 closed

[2021-06-20 16:09] gohmc commented on #3874
AWS LB controller does not require cert-manager to operate. Where did you get that from? Use the latest eksctl released and try the minimum steps:

Create a Fargate only cluster: _eksctl create cluster --fargate --with-oidc --name mycluster --region xx-xxxxx-x_

Follow the steps here to [install AWS LB controller](https://docs.aws.amazon.com/eks/latest/userguide/aws-load-balancer-controller.html).

[2021-06-20 17:53] #3875 closed

[2021-06-20 17:53] tppalani commented on #3875
wrong format user data

[2021-06-20 18:04] tppalani opened #3876 "AWS-eks-custom-ami-managed-node-group-bootstrap-file-not-exists"
**I'm Trying to use my custom AMI image for EKS managed Node group, below are the steps performed during EKS node group creation.

1. bootstrap_user_data file has been created and its converted to base64 format as per the standard.

`#!/bin/bash
set -ex
B64_CLUSTER_CA= <My eks cluster Certificate authority value>
API_SERVER_URL= <My EKS cluster API server URl>
/etc/eks/bootstrap.sh <cluster-name>

[2021-06-21 02:52] victor-sudakov commented on #3874
I got it from https://docs.aws.amazon.com/eks/latest/userguide/aws-load-balancer-controller.html . I went the "Kubernetes manifest" way, not the "Heml V3" way in Step 5. It says _Install cert-manager to inject certificate configuration into the webhooks._  and there is a manifest for that.

That's the document I was using. Thanks for the hint, I'll use Helm this time (instead of manifest) and see

[2021-06-21 06:07] gohmc commented on #3874
Watch out the [different](https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/2083).

You achieve HA by running pods span across AZs, LB mode is how traffic flow to your pod, either thru any of the worker node or straight to the pod IP.

Yes.

Common argument is be able to cross platform by running upstream Kubernetes on any IaaS, if your revenue justified the overhead.

[2021-06-21 07:25] victor-sudakov commented on #3874
Thanks! I've also come across [this issue](https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1606) after searching. So thank you again for your advice about using Helm, I have a working cluster now.

I asked this question because I had noticed that it takes a considerable time (in minutes) for a LB target group to be reconfigured to new IPs after a `kubectl rollout restart dep

[2021-06-21 07:29] cPu1 commented on #3824
It was brought up but we haven't discussed it at length. We're planning to review it with them this week, we'll keep you posted.

[2021-06-21 08:19] cPu1 commented on #3873
Thanks for the heads-up, we'll work on this soon.

[2021-06-21 09:28] gohmc commented on #3874
Either mode won't allow faster rollout. You can use PodDisruptionBudget to improve availability during update.

By the way, if there's no further question about eksctl for LB with Fargate you should probably close this issue.

[2021-06-21 10:18] cPu1 commented on #3848
@rverma-nsl  I was able to create a Bottlerocket nodegroup with an Arm instance type:

[code]

Can you post your nodegroup config?

[2021-06-21 10:18] victor-sudakov commented on #3874
Closing, Thanks a lot for your help!

[2021-06-21 10:18] #3874 closed

[2021-06-21 10:20] victor-sudakov commented on #3874
I'll check it out as soon as 1.21 is available for EKS!

[2021-06-21 10:32] Callisto13 commented on #3864
@cPu1 what is the problem here? I may have seen it somewhere else and want to verify

[2021-06-21 10:33] Callisto13 commented on #3838
Ah okay, so the cluster is fine but the config is being ignored. This may be fixed in a PR soon but I will check

[2021-06-21 10:58] cPu1 commented on #3864
I have updated the issue with an example. For context, it's not related to [this issue](https://github.com/weaveworks/eksctl/issues/3838#issuecomment-864925724).

[2021-06-21 11:06] Callisto13 commented on #3864
Cool 👍

[2021-06-21 11:42] aclevername commented on #3869
https://medium.com/instrument-stories/using-github-actions-and-circleci-b0a30c0a2608
https://www.devopsauthority.tech/2021/02/08/github-actions-vs-circleci-comparing-ci-cd-platforms/

Doing some reading there seems to be very little in between the two in terms of functionality. Github Actions is missing 1 big feature which is to ssh onto a failed job, this works for circle (although I've found it

[2021-06-21 11:53] Callisto13 commented on #3869
cc @mnowster

[2021-06-21 15:40] #3827 closed

[2021-06-21 21:50] ericsheris-rumble commented on #864
Hi, I just went through the process of figuring this out as well, I found this thread after a bunch of searching. I also found this doc which is where I would have expected the AZ info to be, maybe a good doc to update with this info. The majority of the doc talks about subnets and az's but only in the context of using existing. A short blurb near the top seems like it would be fitting.

https://e

[2021-06-22 07:23] cPu1 opened #3882 "SSM agent built into AL2 AMIs"
eksctl allows enabling the SSM agent via the `ssh.enableSsm` field. In a future release, the SSM agent will be included and enabled by default in Amazon Linux 2 AMIs, rendering the `enableSsm` field obsolete. Bottlerocket, too, includes the SSM agent in the control container that's enabled by default. Therefore, eksctl will stop supporting setting `ssh.enableSsm` to `false` for AL2 and Bottlerocke

[2021-06-22 07:48] victor-sudakov opened #3883 "What should be the DNS RR for the Load Balancer created by a LoadBalancer service?"
Dear Colleagues,

I create an EKS Fargate cluster in 3 AZs. As written in https://docs.aws.amazon.com/eks/latest/userguide/network-load-balancing.html , I create 3 Elastic IPs and add their IDs to the service I want to publish:

[code]
When the service starts, after a while, it gets an external DNS name like k8s-dev-hello-91c86b3a33-6383019052ad2797.elb.us-east-2.amazonaws.com which resolves to on

[2021-06-22 08:32] Callisto13 commented on #3876
Hi @tppalani thanks for asking.

Can I confirm which cli tool you are using: from the snippets you have provided it looks like you are running `aws eks` which is _not_ the `eksctl` CLI. Are you using the AWS CLI or `eksctl` for these operations? You can also check out our [docs here](https://eksctl.io/).

[2021-06-22 08:33] Callisto13 commented on #3872
Hi @cluggas thanks for asking.

The team will chat about this and get back to you. If you'd like to implement something yourself, we are happy to accept PRs 😃 .

[2021-06-22 08:34] Callisto13 commented on #3860
Hi @SnowBiz thanks for asking.

Can you confirm how you are authenticating? Eksctl does not do any authentication itself, it simply delegates to whatever you have going on locally.

[2021-06-22 09:04] cPu1 commented on #3883
This is where [ExternalDNS](https://github.com/kubernetes-sigs/external-dns) comes into play. It dynamically updates records in Route 53 with the address assigned to `LoadBalancer` services.

After installing ExternalDNS in your cluster, you would add an annotation to your service:
[code]

and ExternalDNS will ensure your Route 53 record is in sync with the LB's address.

[2021-06-22 09:40] victor-sudakov commented on #3883
Looks unnecessarily complicated to me. I've perused the aws.md tutorial. There are so many preconditions, so much manual work deploying it: creating policies and roles, applying manifests. Are you sure there is no simpler way? Does this ExternalDNS even work with Fargate-based clusters?

PS I've been told many times that K8S is there for us to concentrate on development rather than low-level thing

[2021-06-22 09:53] victor-sudakov commented on #3883
I mean, Fargate nodes are tainted with `eks.amazonaws.com/compute-type=fargate:NoSchedule`, do ExternalDNS pods tolerate that? Those of cert-manager don't, so cert-manager does not even start on Fargate.

[2021-06-22 09:58] Callisto13 commented on #3842
Hi @binchenX thanks for asking.

Eksctl does not do any authentication itself, it simply delegates.

When I auth with `aws configure` i end up with the following:

[code]

or when I auth with `gsts` I get:

[code]

and both work for me.

It could be that having `~/.aws/config` is muddling what the delegated-to authenticator picks up. Could you try moving/deleting/emptying it?

[2021-06-22 10:23] cPu1 commented on #3883
eksctl helps with creating a role with the right policies for ExternalDNS (and other popular utilities) using IAM Roles for Service Accounts.

[code]

This creates a service account named `external-dns` that can be set in the `serviceAccountName` field in the Deployment for external-dns.

[2021-06-22 10:24] cPu1 commented on #3883
Not by default, but you can configure the pods to tolerate it. If you're using the [Helm chart](https://github.com/bitnami/charts/tree/master/bitnami/external-dns), you can set the `tolerations` field.

[2021-06-22 11:14] mooperd opened #3884 "Ability to set tags when using eksctl utils associate-iam-oidc-provider"
`eksctl utils associate-iam-oidc-provider` creates rather anonymous identity providers within AWS. It would be great if these resources could be created with some kind of tag so we can keep track of what they are being used for.

[2021-06-22 12:12] cPu1 commented on #3883
Here's a working values file for the ExternalDNS Helm chart that schedules pods on Fargate.

[code]

[code]

[2021-06-22 12:33] santosh07bec commented on #3779
Callisto13, wanted to check if there is plan to implement this. I do not see it in roadmap yet.

[2021-06-22 12:44] Callisto13 commented on #3779
Hi @santosh07bec thanks for your patience, we have not made a decision on this yet.

@mikestef9 did you find time to sync up with the Outpost team on their request?

[2021-06-22 13:36] tppalani commented on #3876
@Callisto13 thanks for the response.

See first in used aws console to create launch template then using aws console I created node group.

Then I tried awscli as well to perform all the steps.

Then finally when I logged into worker node then I verified path /etc/eks directory not exist.

[2021-06-22 13:56] mnowster commented on #3869
is there a con of GithubActions about running them locally? I've heard from other teams there's some difficulties there, or it's extra slow.

[2021-06-22 13:56] mnowster commented on #3869
how about parallelisation of tests? anything about configurability of the size of machines these things run on?

[2021-06-22 13:57] mnowster commented on #3869
I wouldn't close this just yet :) sorry I'm a bit delayed in getting back to it.

And thinking out loud.

[2021-06-22 14:06] Callisto13 commented on #3876
Thanks for confirming @tppalani.

`awscli` is a different tool, so you may want to try asking in that project repo ([this one I think](https://github.com/aws/aws-cli)).  If you do use `eksctl` and have any problems, we are always happy to help.

[2021-06-22 14:08] aclevername commented on #3869
yes running them locally is painful. But you generally don't have to do that very often

We run stuff in parallel on github actions and it seems to be fine. I don't think you can configure the machine sizes in github actions, but its generally always been quite fast anyway (and was historically faster than CircleCI, although that might of changed now we upgraded our plan)

Understood :ok_hand: FYI

[2021-06-22 14:15] cPu1 commented on #3884
You're right, unlike many other resources, eksctl does not tag OIDC provider resources. I have run into this myself while trying to debug orphan OIDC provider resources which had no information about the cluster they were created for. At the very least, eksctl should tag OIDC provider resources with the cluster information, like it does for other resources. The title of your issue suggests that yo

[2021-06-22 16:08] mooperd commented on #3884
I think the default eksctl tags would suffice.

[2021-06-22 19:14] SnowBiz commented on #3860
I am authenticating via the AWS CLI. When using the AWS CLI I can either set the AWS_CA_BUNDLE with my certificate bundle or pass --no-verify-ssl on the command I am using. However, since Eksctl appears to work as a pass through to the AWS CLI it does not appear to have a way to use the same certificate bundle or an equivalent flag to '--no-verify-ssl' which causes self signed certificate errors.

[2021-06-23 08:52] #3876 closed

[2021-06-23 09:00] victor-sudakov commented on #3883
How would this config translate info an eksctl command line? Is it the equivalent of `eksctl create iamserviceaccount` ?

[2021-06-23 09:05] cPu1 commented on #3883
Yes, that's the correct command. If you're creating a new cluster, `eksctl create cluster` will also handle creating the service accounts.

[2021-06-23 09:33] tanvp112 commented on #3884
@cPu1, is it possible to include OIDC as one of the resource that will be tagged using --tags?

[2021-06-23 09:45] tanvp112 commented on #3883
please note apart from command line, you can also use eksctl with a config file like cPu1 demonstrated above. in this case, you do not need to call "eksctl create iamserviceaccount" for externalDNS anymore.

[2021-06-23 10:07] victor-sudakov commented on #3883
Do you mean that I can put all cluster creation, iamserviceaccount creation and everything into one eksctl YAML config? That's great news. Is there an example of such a catchall config so that I could adapt it to my needs?

[2021-06-23 14:10] kevin-lindsay-1 commented on #3811
I only tested it on `0.52.0`, as I just started using it and have no other baseline. As far as I know, it's not a regression.

I think you're right.

[2021-06-23 14:36] connorearl opened #3889 "--wait=false does not work when upgrading nodegroups"
When using eksctl 0.54.0 to update a managed node group from 1.19 to 1.20, the --wait=false flag still causes the command to wait for CloudFormation.

When using the --timeout flag that will make it only wait for the time specified, but the exit code is 1, causing it to fail any scripts I use the command in.

This is the command I used:
`eksctl upgrade nodegroup --cluster cluster-name --name=nodeg

[2021-06-23 15:23] aclevername commented on #3889
Definitely a bug, thanks. Looks like the value of `--wait` gets ignored.

[2021-06-23 17:18] 00void00 commented on #3155
Got `deployment.apps/coredns patched` using the aforementioned command but the update not reflected back to my master.
can you someone tell what can be done here

[2021-06-23 17:25] rothgar opened #3891 "Fix Config file schema docs page horizontal scroll"
It's impossible to view the site config name, description, and default value without scrolling. It's very frustrating.

Can we update the `md-content` in the material theme so it is wide enough to view the content without scrolling? I think I found the file that needs to be customized but I haven't figured out how to customize it yet.
https://github.com/squidfunk/mkdocs-material/blob/master/src/as

[2021-06-23 19:47] KyleMasterson opened #3892 "Better Handling of imageGCHighThresholdPercent and imageGCLowThresholdPercent kubeletExtraConfig fields"
**What feature/behavior/change do you want?**

Automatic adjustment of high and low image garbage collection thresholds based on setting one or the other. For example, if we have set `imageGCHighThresholdPercent: 70` then `imageGCLowThresholdPercent` could be set to the same value.

**Why do you want this feature?**

When using an eksctl configuration file, to specify image cache garbage collectio

[2021-06-23 20:16] rothgar opened #3893 "Add tags configuration to created subnets"
**What feature/behavior/change do you want?**
In the [cluster config schema](https://eksctl.io/usage/schema/) it would be useful to have an option to add tags to a subnet on creation. Something like

[code]

This would allow for better subnet tracking and also help with issues like #3341

**Why do you want this feature?**
Subnet tags are still needed for some controllers and it would be helpful to

[2021-06-23 22:36] benwaffle opened #3894 "Cannot fetch nodegroups"
**What were you trying to accomplish?**
I was trying to get the NodeInstanceRoleARN to set up IAM roles. I had just create this cluster.

**What happened?**

[code]

**How to reproduce it?**

1. Create a cluster with unmanaged node groups, defined in a ClusterConfig
2. Use `eksctl create cluster -f cluster.yaml` to do so
3. Run `eksctl get nodegroup --cluster ${CLUSTER_NAME}` to fetch nodegroup in

[2021-06-24 08:51] Callisto13 commented on #3892
Thanks for asking @KyleMasterson 👍

The `kubeletExtraConfig` setting are not "read" by `eksctl`, ie they are passed directly into the userdata and we don't check what is set. So this means users are responsible for all their values in the same way that they would be were they not using EKS/`eksctl`.

As you suggested we can add more docs around setting any kubelet config, and link to the relevant

[2021-06-24 13:05] KyleMasterson commented on #3892
Thanks for your response @Callisto13, that all makes complete sense.

Probably a much larger ask than what I was originally getting at, but you raise an interesting point around pulling logs to help users. It would be great if there was a means for `eksctl` to provide some dumps of common log locations that would normally only be accessible through `ssh` (i.e. `/var/log/messages`) when the timeout

[2021-06-24 15:44] cPu1 opened #3896 "Make EKS 1.20 the default"
EKS 1.20 will be the default in the AWS console soon.

[2021-06-24 16:33] nikimanoledaki commented on #3894
Hi, thanks for opening an issue about this! For unmanaged nodegroups, `get` uses the k8s client to get the nodegroup's k8s version. It could be that the nodes were not ready yet in the cluster if you had just created the cluster 🤔 Do you get this error even after the nodes are ready?

[2021-06-24 16:48] benwaffle commented on #3894
Some of my nodegroups are set to a minimum of 0 nodes because I only want to spin them up when needed

[2021-06-25 06:33] rverma-nsl commented on #3848
Can't reproduce. Closing it.

[2021-06-25 08:22] #3029 closed

[2021-06-25 08:49] Callisto13 commented on #3824
Hi @patstrom, after some discussion this is how we are going to initially move forward:

The AWS recommendation for cluster subnet organisation is aimed to help users handle address space in the simplest way. It is not the only recommended setup, it is just one of many which are okay. Therefore `eksctl`'s setup is still fine: it has to make a decision/have an opinion somewhere, and whatever defaul

[2021-06-25 09:23] mnowster commented on #3869
@aclevername you put a pro for GH actions that it's used by another project, this is also true for circleci, it's used by wks.

Editor point; where possible avoid words like obvious. We're looking at both of them to understand. If it was obvious, i wouldn't be asking for help and information.

Can you help me to understand more about the running locally? What about it is painful? What are some way

[2021-06-25 09:30] #3719 closed

[2021-06-25 09:30] #3864 closed

[2021-06-25 11:02] friedrich-at-adobe commented on #3894
Getting this same error after upgrading 0.53.0 to 0.54.0
I don't use managed nodegroups
https://gist.github.com/friedrich-at-adobe/8f873a641f0e713cba491709511e6113

[2021-06-25 11:29] rverma-nsl commented on #3848
Finally found the usecase where it was failing. Its failing with spot.

[code]

[2021-06-25 11:35] nikimanoledaki commented on #3894
I see, could you tell me what you do to set your nodes to 0? do you do `eksctl scale nodegroup --nodes 0` or something else?

[2021-06-25 11:37] friedrich-at-adobe commented on #3894
Correct, I have nodegroups set to zero as well.

[2021-06-25 12:50] #3894 closed

[2021-06-25 13:23] nikimanoledaki commented on #3894
We will be releasing later today with a fix for this but feel free to reopen this issue if the problem hasn't been solved for you! 😊

[2021-06-25 14:26] aclevername commented on #3869
Thats true, in the context of our team its been very valuable to copy things from https://github.com/fluxcd/source-controller and https://github.com/fluxcd/flux2/ as they are very simliar (CLIs, controllers etc). They have also even published re-usable Github Actions that we've been able to consume, e.g. [installing flux](https://github.com/fluxcd/flux2/tree/main/action)

:ok_hand: I've definitely

[2021-06-25 15:35] vmpowercli commented on #3838
Thank you

[2021-06-25 15:35] #3838 closed

[2021-06-25 17:33] benwaffle commented on #3894
Amazing, thanks for fixing it so quickly!

[2021-06-25 21:19] rhino5oh opened #3903 "Nodes fail to join cluster when specifying AMI ID - kubelet cgroup driver: "cgroupfs" is different from docker cgroup driver: "systemd""
**Bug encountered using eksctl 0.54.0**

When creating a cluster using Kubernetes 1.20, Ubuntu 2004 as the AMI family, and specifying an AMI ID, the cluster creation fails. The eksctl tool times out on the final step, waiting for nodes to become ready.

Upon further inspection SSH'ing into one of the nodes and doing a `journalctl -u snap.kubelet-eks.daemon`, I see the following message: `failed to

[2021-06-26 00:28] Kausheel opened #3904 "Documentation indicates an incorrect upgrade order (Control Plane, Addons, Nodes)"
On the "Cluster Upgrades" documentation page, the order of upgrades is listed as:

1) Upgrade the Control Plane version.
2) Update the default Addons.
3) Upgrade the Node Groups.

https://eksctl.io/usage/cluster-upgrade/

However, this is inconsistent with the recommendations from the upstream Kubernetes.io documentation, and the EKS documentation:

https://kubernetes.io/docs/tasks/administer-clus

[2021-06-26 01:45] #3436 closed

[2021-06-26 01:45] #3422 closed

[2021-06-26 13:34] seva-ramin commented on #227
Here is my hack to add the ssh-key after EKS has been provisioned. https://gist.github.com/seva-ramin/8efe3fd0c3d29c448e915b9acd6db079

[2021-06-28 07:46] patstrom commented on #3824
Hey!

Sound good. Just allowing the creation of nodegroups in other/arbitrary subnets is definitely enough for solve this issue. I haven't really tried many different combination since I didn't really wanna mess that much with a cluster running production workloads (and I didn't have time to setup a mirror and test, especially since I was told in the other issue it won't work).

Honestly one way t

[2021-06-28 08:24] Callisto13 commented on #3903
Thanks for reporting @rhino5oh .

We removed this for the newer bootstrap codepath, but it obviously still exists in the legacy codepath which you have triggered by setting a specific AMI id. Eksctl should have also set the cgroup driver to be systemd on the kubelet, but it looks like something went awry in that configuration.

Kuberenetes' recommendation is to have the driver set to systemd, but

[2021-06-28 08:45] aclevername opened #3906 "dry-run integration test flake"
flaked once over the weekend https://github.com/weaveworks/eksctl/runs/2922970725?check_suite_focus=true#step:7:33569

[code]

[2021-06-28 08:46] aclevername opened #3907 "quickstart profiles integration test flake"
Flaked once over the weekend
https://github.com/weaveworks/eksctl/runs/2920124891?check_suite_focus=true#step:7:35148

[code]

[2021-06-28 08:57] TBBle commented on #1467
@anuj0701 No, I think that the change was simply that it can update the one-stack-per-IAM Service Account. The same mechanism would be needed to implement this improvement, but it hasn't been done yet.

[2021-06-28 09:07] cPu1 commented on #3906
It does look like a flake but unfortunately, logs do not indicate the cause of the failure.

[code]

[2021-06-28 09:13] cPu1 commented on #3729
I can confirm that Inferentia works with managed nodegroups.

[2021-06-28 09:44] #3903 closed

[2021-06-28 10:18] Himangini commented on #3030
Hello 👋🏻  @javad-hajiani , just wanted to check in to see if you are still working on this 😄

[2021-06-28 10:38] victor-sudakov commented on #3883
I guess my question about DNS RRs has been answered, thank you @cPu1 and @tanvp112 !

[2021-06-28 10:44] victor-sudakov commented on #3883
I see I can get this config more or less accurately by running `eksctl create cluster` with all my desired command-line options and
`--dry-run` which will output the config.

[2021-06-28 11:01] victor-sudakov commented on #3883
In this config sample, what is a wellKnownPolicy "externalDNS"? A standard (predefined) policy name? An arbitrary policy name? A policy eksctl will create for me with required statements? A policy I should create manually before running eksctl?

[2021-06-28 11:40] cPu1 commented on #3883
A role eksctl will create for you with the required policies.

[2021-06-28 14:40] victor-sudakov commented on #3883
Where will eksctl take the definitions of the required policies? The config snippet above does not include any policy definition for the "externalDNS" policy (if this is a policy name).

[2021-06-28 15:53] rhino5oh commented on #3903
@Callisto13 Thanks for the information. Your suggestion, however, will not work. In Ubuntu 20 with Kubernetes 1.20, the snap args file for kubelet (typically found at /var/snap/kubelet-eks/39/args) contains the following: `--cgroup-driver="cgroupfs"` This file's arguments override anything in /etc/eksctl/kubelet.yaml.

I will try using your preBootstrapCommand idea and modify the snap args file in

[2021-06-28 16:28] Callisto13 commented on #3903
The fix will be out in 0.56.0-rc this week. That PR simply removes anything which tries to set the cgroupdriver. Eksctl does not attempt to alter that snap file, so as long as the various defaults stay on `cgroupfs` it should be fine.

Ah that would explain why the kubelet config written by eksctl was (mostly) ignored. This is also an example of why we abandoned trying to set this config in the ne

[2021-06-28 23:27] ajayk opened #3910 "Eksctl get nodegroup fails to describe nodes"
**What were you trying to accomplish?**
[code]

**What happened?**
[code]

**How to reproduce it?**
This bug was introduced in 0.54.0 as not seeing on earlier versions of eksctl , we had to revert back to 0.53.0

**Versions**
0.54.0

[2021-06-29 01:35] Polyhistor commented on #1578
Yea exactly, as others mentioned here. You'll usually have a rollback stack failing and you have to manually delete it from your Cloudformation dashabord. Once you do that, the command will work agai...

[2021-06-29 05:03] victor-sudakov opened #3911 "The correct procedure to use K8S persistent volumes in EKS"
Dear Colleagues,

The procedure for enabling the use of EBS volumes for EKS persistent volumes as described here: https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html - does it really have to be so complicated and manual? Or am I going the wrong path all the time?

I've been told that K8S lets you concentrate on development instead of the gory details of the platform. This does not seem t

[2021-06-29 08:12] Callisto13 commented on #3910
I believe this is a dupe of https://github.com/weaveworks/eksctl/issues/3894 which was fixed in `0.55.0-rc.0`. Please re-open if it is something else.

[2021-06-29 08:12] #3910 closed

[2021-06-29 08:53] Callisto13 commented on #3893
Hi @rothgar thanks for asking.

We didn't implement this for https://github.com/weaveworks/eksctl/issues/3341 as we didn't want to mask an EKS bug with an eksctl fix.

But we are not opposed to adding this capability if users need it for general management 😄 .

Feel free to open a PR, otherwise the team will get to it soon 👍

[2021-06-29 09:43] aclevername commented on #3729
@cPu1 do you think its worth updating the integration tests to test this or nah?

[2021-06-29 09:51] victor-sudakov opened #3912 "The aws-ebs-csi-driver Helm chart incompatible with eksctl or AWS documentation? (invalid ownership metadata)"
I'm trying to add EBS volume support to an EKS v1.20 cluster as specified in https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html

After eksctl has created the cluster and IAM roles for me, I try to install the Helm chart as specified in the docs:

[code]
and get the following error:

[code]

I'm attaching the YAML file used to create the EKS cluster (pretty vanilla).
[fargate_clusterconf

[2021-06-29 10:11] Callisto13 commented on #3911
Hi @victor-sudakov thanks for asking.

I believe you probably want to use EFS rather than EBS, since I don't think the EBS driver is supported on Fargate. https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html

Yeh it is all a bit elaborate, and I am afraid that `eksctl` doesn't have a nice one-command way of doing this.

We can make the first section of the procedure shorter. The "Create a

[2021-06-29 10:39] geoano opened #3913 "Getting error message "only one argument is allowed to be used as a name""
**What help do you need?**

Getting all the time error message which says **"only one argument is allowed to be used as a name"** when using eksctl to deploy a cluster into an existing VPC. The following code is used:

`eksctl create cluster –name= demo-eks --vpc-private-subnets= subnet-0d418554a3ebbfa1a, subnet-07ce12f7a7af9d632 --vpc-public-subnets= subnet-07a93b45f12e21028, subnet-00d13850c4bb3

[2021-06-29 10:40] victor-sudakov commented on #3911
Thanks for pointing this out, perhaps this was the reason of this error? https://github.com/weaveworks/eksctl/issues/3912

I'll remake the cluster with EFS config and try again (though I don't particularly like EFS for its credit system).

Is this https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html a valid document? Do I understand correctly that the configfile above will do the IAM part

[2021-06-29 10:46] Callisto13 commented on #3911
Possibly... although I would expect a different error, and that it would fail at different step. Note sure where the labels it is complaining about are.

Yep, I just ran through it on my own cluster and it seems legit. And yes, if you use the config as a baseline example you can start at the "Install the Amazon EFS driver" step.

[2021-06-29 10:48] victor-sudakov commented on #3911
The examples/13-iamserviceaccounts.yaml gives a simpler role definition

[code]
Are your suggested additional roleName, roleOnly and labels parameters required for correct operation?

[2021-06-29 11:15] Callisto13 commented on #3911
I think they are optional. I took a config from the docs and changed some things, most of the names are random. https://eksctl.io/usage/iamserviceaccounts/#usage-with-config-files

[2021-06-29 12:37] cPu1 commented on #3729
I think we should. This [change](https://github.com/weaveworks/eksctl/pull/3897) automatically makes the Inferentia tests use managed nodegroups. I'm contemplating adding tests for unmanaged nodegroups now.

[2021-06-30 01:17] ndegory commented on #3912
@victor-sudakov if you create the service account for the controller with `eksctl create iamserviceaccount` (or with a config file), do not ask helm to create that same service account. use `--set serviceAccount.controller.create=false`. The documentation is incorrect.

[2021-06-30 01:26] walkley opened #3916 "Exclude cn-north-1d AZ when creating EKS cluster in China Beijing region"
**Background**

AWS [launched the 3rd AZ(cn-north-1d) in Beijing region on Jun 6th](https://aws.amazon.com/about-aws/whats-new/2021/06/aws-china-beijing-region-adds-the-third-availability-zone/). These is a known issue that EKS cluster will be failed to create if specified subnets in cn-north-1d for VPC config parameters.

**What were you trying to accomplish?**

1. Creating EKS clusters with defa

[2021-06-30 01:48] #3752 closed

[2021-06-30 01:48] #3705 closed

[2021-06-30 01:48] #3687 closed

[2021-06-30 02:14] victor-sudakov commented on #3912
It's remarkable that https://docs.aws.amazon.com/eks/latest/userguide/ebs-csi.html has `serviceAccount.controller.create=true` while https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html has `controller.serviceAccount.create=false`. It's "false" this time, but note the different order: serviceAccount.controller.create vs controller.serviceAccount.create. It this intentional?

[2021-06-30 02:15] victor-sudakov commented on #3911
Just wondering what good use "labels:" can be put to.

[2021-06-30 07:24] victor-sudakov opened #3917 "aws-efs-csi-driver installation - pod remains in pending state forever"
I have created a Fargate-based EKS cluster v1.20 (the eksctl config is attached), then ran the Helm chart as specified in https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html :

[code]
When I run
`kubectl get pod -n kube-system -l "app.kubernetes.io/name=aws-efs-csi-driver,app.kubernetes.io/instance=aws-efs-csi-driver"`
as recommended by the Helm message, I notice that the efs-csi-control

[2021-06-30 07:28] victor-sudakov commented on #3911
@Callisto13 you mentioned that you have run it through on your own cluster. Did your efs-csi-controller pods start successfully? Mine are stuck in the pending state, can you please have a quick look at https://github.com/weaveworks/eksctl/issues/3917

[2021-06-30 09:50] Callisto13 commented on #3916
Thanks @walkley, could you provide some links to this "known issue"? I have searched but found nothing about this particular AZ.

[2021-06-30 09:58] walkley commented on #3916
No public message for this issue so far, I think @mikestef9 could help to confirm.

[2021-06-30 10:00] Callisto13 commented on #3916
Okay in the meantime as you have already pointed out, users can set the AZs in their config/flags.

Eksctl does not look for or make decisions based on capacity, and we encourage users to know the space in their own accounts and configure accordingly, so we will wait until we understand the nature of the problem before we hardcode avoiding that particular zone.

[2021-06-30 11:07] Callisto13 commented on #3913
I think the problem may be the spacing between flags and arguments, can you try again with this:

[code]

[2021-06-30 11:36] nikimanoledaki opened #3918 "Only expose `maxUnavailable` and `maxUnavailablePercentage` fields of `updateConfig`"
As part of #3613, we want eksctl users to be able to handle parallel upgrades of nodegroups by specifying how many nodegroups can become unavailable using `maxUnavailable` and `maxUnavailablePercentage`. In the EKS API, the console, and our code, these fields belong to `updateConfig`.

**Problem**
However, the current UX around `udpateConfig` is super confusing because it's actually referring to a

[2021-06-30 11:44] cPu1 commented on #3906
It failed again, but this time the logs contained the offending resource. The EKS cluster itself is failing to create with a `failed to stabilize: Internal error`. The same test works locally.  Reopening this issue until we determine the cause of the failure.

[2021-06-30 11:51] cPu1 commented on #3884
@tanvp112, we have pushed a change that tags OIDC resources with the cluster information. Can you help us understand your use-case as to why the default cluster tags won't suffice?

[2021-06-30 12:35] cPu1 commented on #3848
Thanks for getting back to us. I can confirm that it's a bug and we have started looking into it.

[2021-06-30 12:44] #3918 closed

[2021-06-30 14:50] nickjj opened #3919 "Add environment variable interpolation for ClusterConfig being passed into --config-file"
**What feature/behavior/change do you want?**

As far as I know it's not possible to use environment variables in the `ClusterConfig` that you pass to `--config-file`. I tried using both "`${FOO}`" and "`$(FOO)`" syntax and in both cases `eksctl` threw this error when I tried to apply it to the `region`:

`Error: checking AWS STS access -- cannot get role ARN for current session: MissingEndpoint:

[2021-07-01 01:47] #3717 closed

[2021-07-01 08:31] victor-sudakov commented on #3883
@cPu1 For some reason I cannot make external-dns work even on an EC2-based cluster. I apply the Helm chart
`helm install extdnstest1 bitnami/external-dns --set provider=aws --namespace=kube-system`
and see that the pod is running
[code]
But the DNS RRs are never created in Route53. In the pod's logs I see:

[code]

Is there something still wrong with the iam roles/permissions? Attached is my curre

[2021-07-01 09:00] nikimanoledaki commented on #3727
Closing this issue because this is intended behaviour - EKS does not recommend running a higher kube version on nodes compared to the cluster version. Also my previous comment about downgrading was wrong: downgrading nodegroups is possible by using a different custom AMI.

[2021-07-01 09:00] #3727 closed

[2021-07-01 14:08] #3857 closed

[2021-07-01 16:16] kr3cj commented on #3747
Thanks for the background info, @cPu1.

Does that mean there is no intent to support that?

In any case, it looks like `eksctl` will soon support reading the config-file on `update nodegroup` commands. I'm not sure if that's different than `upgrade nodegroup` commands though. See https://github.com/weaveworks/eksctl/pull/3914

[2021-07-01 17:00] Callisto13 commented on #3916
Update: we are going to hardcode this in since we don't know if this issue will be get fixed upstream any time soon.

[2021-07-01 21:01] chickenbeef commented on #3794
AWS ticket created:

https://github.com/aws/containers-roadmap/issues/1423

[2021-07-02 09:46] tanvp112 commented on #3884
My post was at the time when oidc was not tagged, i was just thinking if the --tags would tag oidc as well? By the way, by using --tags flag would it attempt to tag oidc twice?

[2021-07-02 09:52] #3916 closed

[2021-07-02 10:14] gohmc commented on #3883
You can find the IAM user created by eksctl and look at the policy associated; if they match the ExternalDNS required policy [here](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/aws.md#iam-policy). If they don't, you can supply your own policy via [attachPolicy](https://github.com/weaveworks/eksctl/blob/main/examples/13-iamserviceaccounts.yaml).

[2021-07-02 10:55] victor-sudakov commented on #3883
Well, I had among other things:

[code]

during cluster creation, so the external-dns role and policy should have been created and associated automatically.

[2021-07-02 11:05] gohmc commented on #3917
Fargate does not support hostNetwork which efs-csi needed.

[2021-07-02 11:19] #3848 closed

[2021-07-02 13:40] acalatayud commented on #2510
Hey team,
I'm getting the same error. I actually tried deploying a basic cluster config essentially twice (with different names) in the same VPC (quite similar to the one that was posted in this issue before). The cloudformation stack fails with the creation of the S3 Gateway endpoint because of the existing endpoint already being in the route table thus causing a route ambiguity. Even if that did

[2021-07-02 15:27] cajual commented on #1513
@ryedin not sure if this is still an issue for you but I was having the same issue until I made a minor change:

From terminal

`$ mkdir ~/.oh-my-zsh/completions`
`$ mv ~/.zsh/completion/_eksctl ~/.oh-my-zsh/completions/`

Then `vim ~/.zshrc` and modify the `fpath`:

`fpath=($fpath ~/.oh-my-zsh/completions)`
`:wq`

`$ source ~/.zshrc`

Auto-completions should work.

[2021-07-03 01:45] #3771 closed

[2021-07-04 11:05] nbusseneau opened #3929 "Regression in 0.55.0: `--spot is only valid with managed nodegroups`"
Hi,

We use `eksctl` on [`cilium/cilium-cli`](https://github.com/cilium/cilium-cli) for deploying an EKS cluster and running tests on it via GitHub Actions ([link](https://github.com/cilium/cilium-cli/blob/8d0139bb8af6b885da71c4c1d0e14af41f901274/.github/workflows/eks.yaml)).

First, we download the `latest` release:
[code]

Then, we deploy a cluster without a nodegroup:
[code]

And finally, we se

[2021-07-04 17:36] nickjj commented on #2774
I'd really like to see this too.

**Use case**: I wanted to attach a new iam addon policy to an existing cluster. I ended up doing:

1. Update my cluster config file with the new addon
2. Create a new node group with a new name (arbitrarily renamed it by adding -abc to the end of the name)
3. Delete the old node group

This worked but it was a pretty big ordeal that took over 8 minutes while waiti

[2021-07-05 03:51] dz902 commented on #3929
I can reproduce this with `0.55` and `0.56-rc1`. This is a fairly common command. It should not slipped under the radar for two releases.

[2021-07-05 05:36] walkley commented on #3916
Thanks @Callisto13, I noticed version [0.56.0-rc.0](https://github.com/weaveworks/eksctl/releases/tag/0.56.0-rc.0) was released to address this issue. However, I have questions about the behaviors of this build:
1. Creating cluster with default AZ and VPC settings, I noticed that:
  a. The selected AZs are [cn-north-1a cn-north-1b cn-north-1a]
  b. The logs indicate that there were 4 subnets in cn

[2021-07-05 07:17] victor-sudakov commented on #3917
Does it mean that neither EBS nor EFS are supported on Fargate nodes? No persistent volume possible on Fargate at all?

[2021-07-05 08:57] Callisto13 commented on #3929
Thanks for reporting @nbusseneau, after a quick bisect I found the change came with https://github.com/weaveworks/eksctl/pull/3887.

Fix will be along shortly 👍

[2021-07-05 10:08] nbusseneau commented on #3929
Can confirm I don't reproduce the issue with 0.54.0, but do with 0.55.0. Editing title.

[2021-07-05 10:09] Callisto13 commented on #3916
Point 1 I would guess that the following has happened:
1. "3" azs chosen by eksctl (in reality 2 with 1 in there twice
2. The logs are not echoing anything smart, they just see that there are "3" zones and added up that 4 are in one, 2 in the other
3. By the time subnets are created, the logic has worked out that there are really only 2 zones, so only 4 subnets are created

So yes that behaviour m

[2021-07-05 10:14] daern91 commented on #2556
Would love to have the bold part!

[2021-07-05 11:07] nikimanoledaki commented on #2556
@daern91 @koslib just chiming in to say that you are welcome to open a [feature request](https://github.com/weaveworks/eksctl/issues/new?assignees=&labels=kind%2Ffeature&template=feature_request.md&title=) or a PR with a solution, we're happy to accept those!

[2021-07-05 12:28] aclevername opened #3932 "Support EKS 1.21"
Support for kubernetes 1.21 will be out in [July](https://github.com/awsdocs/amazon-eks-user-guide/blob/master/doc_source/kubernetes-versions.md#amazon-eks-kubernetes-release-calendar), lets get a PR ready for when its released.

Container roadmap issue: https://github.com/aws/containers-roadmap/issues/1334

[2021-07-05 12:30] aclevername opened #3933 "Remove support for 1.16"
EKS 1.16 will get removed on [July 25th](https://github.com/awsdocs/amazon-eks-user-guide/blob/master/doc_source/kubernetes-versions.md#amazon-eks-kubernetes-release-calendar), lets remove it from our documentation and remove any legacy codepaths for it.

[2021-07-05 13:18] walkley commented on #3916
I know the discussion in issue #3824, it's about the requirement of having control plane and node group in different subnets. For this case, I think it's acceptable to have the same subnets  by removing "bad zone" for both control plane and node group, at least, "eksctl create cluster --region cn-north-1" will be run successfully.

However, it means we are not able to create an EKS cluster with wo

[2021-07-05 13:51] walkley commented on #3917
EKS Fargate has already support EFS: https://aws.amazon.com/about-aws/whats-new/2020/08/amazon-ek-on-aws-fargate-now-supports-amazon-efs-file-systems/

[2021-07-05 13:52] Callisto13 commented on #3933
don't we have something for this?

[2021-07-05 13:53] Callisto13 commented on #3933
yeh this is a dupe https://github.com/weaveworks/eksctl/issues/3794