[2021-01-11 15:47] henripal commented on #1482
Hi, I have a very similar issue. I am able to create a cluster with CPU nodegroups. However any GPU nodegroups get stuck in the `[ℹ]  waiting for at least 2 node(s) to become ready in "ng-train"` status.

Cluster creation with CPU only works. Cluster creation with GPU only gets the same error. Cluster creation with GPU+CPU gets the same error after succesful creation of the CPU nodegroup.

Creatin

[2021-01-12 02:45] stevensu1977 opened #3062 "withAddonPolicies albIngress not support GCR ZHY/BJS region"
**What were you trying to accomplish?**
I found `statement.go`, only return AWS global partition,  not include GCR ZHY/BJS partition "arn:aws-cn",  I already work for this issue, I can help fix it .

**What happened?**
`eksctl create cluster -f sandbox-cluster-config.yaml` get error :

`Partition \"aws\" is not valid for resource \"arn:aws:ec2:*:*:security-group/*\`

**How to reproduce it?**
you c

[2021-01-12 06:58] stevensu1977 commented on #3062
pkg/cfn/builder/statement.go

16 line: "Resource": "arn:aws:ec2:*:*:security-group/*"

[2021-01-12 09:23] #2980 closed

[2021-01-12 09:30] Callisto13 commented on #3062
Hi @stevensu1977 thanks for reporting this bug!

If you already have a fix, please go ahead and open a PR 😄

[2021-01-12 14:50] cajual opened #3065 "Node groups not instantiating with `preBootstrapCommands`"
eksctl version 0.35
k8s version 1.18.x
ca version 1.18.x

[code]

The node is created fine, the policies are attached, the capacity is appropriate and everything is as expected in the cf stack, but none of my nodes have the directory `/mount/path`

invariably this causes issues with my new pods since they get stuck in the `Init:0/1` stage with the following error:
`MountVolume.SetUp failed for vol

[2021-01-12 14:55] michaelbeaumont commented on #3065
@cajual Can you please check the `cloudinit` output at `/var/log/cloud-init-output.log` on your nodes for more information about what's being run?

[2021-01-12 15:54] cajual commented on #3065
@michaelbeaumont I have fixed this issue -- I did not realize my nodegroups did not have my newest configs so I created new nodegroups, drained the old ones, and deleted them. However, now I am dealing with another error which I will work on independently and post a new question if needed.

[2021-01-12 15:54] #3065 closed

[2021-01-12 17:09] kr3cj commented on #384
This has happened to me about a half dozen times while creating nodegroups in the last few months (on `eksctl` versions 0.34 and 0.35). In at least two of those times, the nodegroups are created but the `re-listing nodes: Unauthorized` error occurs before some nodes are ready and identity mapping finishes. So it's effectively spinning up orphaned EC2 instances that never show up in the EKS console

[2021-01-13 09:19] #3033 closed

[2021-01-13 15:41] #3062 closed

[2021-01-13 16:17] Callisto13 commented on #2891
Aaaand cloudformation API has joined the party. This is now unblocked/

[2021-01-13 18:21] marga-kinvolk opened #3070 "Add support for Flatcar Container Linux --node-ami-family"
**What feature/behavior/change do you want?**
I'd like `--node-ami-family` to support Flatcar as a valid family. Ideally, `FlatcarStable` and `FlatcarBeta`, but we could just go with the stable one.

**Why do you want this feature?**
Flatcar Container Linux is a container optimized OS. It's a drop-in replacement for CoreOS. Many previous users of CoreOS have switched to Flatcar and we know that a

[2021-01-14 11:05] urz9999 commented on #1565
In case like this one or other similar cases where AWS SSO result in incompatibilities with your library and you don't want to play with workarounds or complicated fixes, maybe you can give a try to our open-source project: [https://github.com/Noovolari/leapp](https://github.com/Noovolari/leapp). It deals with AWS SSO authentication and accounts/roles retrieval then it creates short-lived temporar

[2021-01-14 12:54] Callisto13 commented on #3070
Thanks for requesting this feature @marga-kinvolk 😃  !

The team will discuss and get back to you 👍

[2021-01-14 14:05] ajinkya933 commented on #3009
I guess the GPU is not working in my specified region:

I tried to install GPU only nodegroup using the below yaml file:
[code]
 But I get error during cluster creation itself:

[code]

Its strange because AWS mentions us-east-2 supports p2.xlarge instance. Any recommendation on which GPU will surely work in us-east-2 ?

[2021-01-14 14:57] michaelbeaumont commented on #3009
@ajinkya933 in that specific case, it looks like the create timed out. Did the nodes joined the cluster in the end?

[2021-01-14 15:54] aclevername commented on #2946
I'm going to investigate the CFN calls around `eksctl get clusters` first as this appears to cause a lot of throttling

[2021-01-14 16:13] aclevername commented on #2946
for 16 EKS clusters we issue 44 `DescribeStack` calls to cloudformation.  This is most likely the cause of the throttling:
[code]

[2021-01-14 18:33] ajinkya933 commented on #3009
@michaelbeaumont The nodes were in pending state for very long time. I had to delete the cluster.

[2021-01-14 18:45] arjun921 commented on #3009
@ajinkya933 try p3.2xlarge
P2 is an older gen and might not be as readily available as current gen.

Px where x is the generation
Higher is newer

[2021-01-14 19:38] ajinkya933 commented on #3009
For p3.2xlarge yaml
[code]

 I get error:

[code]

[2021-01-14 19:40] ajinkya933 commented on #3009
@arjun921 can you try above ^ I am not sure why is it throwing error even after assigning needed GPU

[2021-01-14 23:50] EhsanMirzaei commented on #1467
Is there any update on this plz ?

[2021-01-15 00:03] t0rr3sp3dr0 opened #3074 "kubelet cgroup driver: "systemd" is different from docker cgroup driver: "cgroupfs""
**What were you trying to accomplish?**

Create a new nodegroup of m5zn.xlarge instances using the Ubuntu2004 AMI Family.

**What happened?**

kubelet fails to start with the following error:
[code]

**How to reproduce it?**

[code]

**Versions**

[code]

[2021-01-15 07:08] 0test0 opened #3075 "[Security] Project change management"
Hello,

Apologies if this is not the appropriate channel to contact you on this topic!
We are very interested in using this project, but due to the highly regulated industry we operate in, we need to ensure any project we use pass a security evaluation.

We've noticed the `master` branch and latest `release-0.35` do not have code reviews enforced, using required_pull_request_reviews, as specified

[2021-01-15 09:12] Callisto13 commented on #3074
Hi @t0rr3sp3dr0 thanks for reporting this 👍 .

This _should_ work. The submitter of the PR which brought the cgroup driver change verified that it worked with the Ubuntu 2004 AMI family https://github.com/weaveworks/eksctl/pull/2962.

It is possible that your `preBootstrapCommand` `echo '{"registry-mirrors":["https://mirror.gcr.io"]}' > /etc/docker/daemon.json` is overwriting the `daemon.json` whi

[2021-01-15 09:21] wijde commented on #2250
Hi!
I wanted to ask, after executing this command: eksctl utils update-legacy-subnet-settings --cluster
did you have any problems?

[2021-01-15 09:23] Callisto13 commented on #3075
Hi @0test0, thanks for asking this 👍 .

I checked out our branch protection rules, and we do required that PRs to `master` and `release-0.*` receive at least 1 Owner approval before merging. (We are currently discussing bumping that up to 2.) We could consider adding `Require review from Code Owners` to those protections.

[2021-01-15 14:38] deval-graymatics commented on #1482
I can give you workaround for this (if your goal is just to create node group)
Do it using Console. It has most of the options to add node group. It never fails. I tried many times.

[2021-01-15 15:42] aclevername commented on #2174
Update list as of 15/01/2021
## Works
1. `eksctl get clusters` #2779
1. `eksctl create iamserviceaccount` #2775
1. `eksctl create iamidentitymapping`
1. `eksctl delete iamserviceaccount`
1. `eksctl delete iamidentitymapping`
1. `eksctl enable profile`
1. `eksctl enable repo`
1. `eksctl get cluster`
1. `eksctl utils associate-iam-oidc-provider`
1. `eksctl utils describe-stacks` (not applicable)
1.

[2021-01-15 15:44] aclevername opened #3077 "eksctl create nodegroup support for non-eksctl clusters"
**What feature/behavior/change do you want?**
I want to be able to create nodegroups for clusters that were not created via eksctl
**Why do you want this feature?**
So that I can utilise eksctl excellent functionality around creating nodegroups

## Questions
1. Do we want to allow managed & unmanaged?

[2021-01-15 15:54] henripal commented on #1482
Thank you! The workaround was actually the one here: https://github.com/weaveworks/eksctl/issues/3005#issuecomment-752898871

[2021-01-15 17:04] aclevername opened #3079 "eksctl scale nodegroup support for non-eksctl clusters"
**What feature/behavior/change do you want?**
I want to be able to create nodegroups in clusters that were not created via eksctl

**Why do you want this feature?**
So that I can use eksctl to manage my nodegroup scaling

# Questions:
1. The scope of this depends on https://github.com/weaveworks/eksctl/issues/3077. It might be just scaling nodegroups diretly via eks api, or also with a combination

[2021-01-16 06:12] walkley opened #3081 "Failed to create private cluster in AWS China regions"
**What were you trying to accomplish?**
create private cluster in AWS China regions(Beijing and Ningxia)

**What happened?**
Failed with below error message:
[code]

**How to reproduce it?**

create cluster with below command and config file:
[code]
eks-private-cluster.yaml:
[code]

**Logs**

[code]

**Anything else we need to know?**

The S3 Vpc Endpoint Service should be "com.amazonaws.cn-northw

[2021-01-16 09:14] jontiefer commented on #2008
Its January 16, 2020 and I am having the same struggles listed above and I attempted to create node groups in my EKS clusters both from the eksctl CLI and from the EKS console.  I get the same results. I managed to get one node group to work after setting auto assign Ipv4 in my subnets.  However, every other time it seems to fail now and even failed on the first attempt when I made those modificat

[2021-01-16 13:52] vodwood commented on #2510
Can reproduce with eksctl 0.35.0 by trying to spin up an additional private EKS cluster (privateCluster enabled:true).
Essentially this means we can not reproduce the same cluster definition file indefinitely.

[2021-01-17 11:35] tewner commented on #2008
Also having issues creating Managed NodeGroups  using a YAML file:

2021-01-17T13:27:19+02:00 [▶]  nodegroups = []

[2021-01-18 08:45] #2988 closed

[2021-01-18 08:50] Callisto13 commented on #3081
Thanks for reporting this @walkley and for identifying the problem in the code.

If you want to submit a fix we would be happy to accept, otherwise the team will get to this soon 👍

[2021-01-18 09:34] DevOpserzhao opened #3088 "volume type flag not supported for managed nodegroups"
[code]
**Versions**
[code]

[2021-01-18 09:37] DevOpserzhao commented on #3088
eksctl version
0.35.0

 kubectl version
Client Version: version.Info{Major:"1", Minor:"18+", GitVersion:"v1.18.9-eks-d1db3c", GitCommit:"d1db3c46e55f95d6a7d3e5578689371318f95ff9", GitTreeState:"clean", BuildDate:"2020-10-20T22:21:03Z", GoVersion:"go1.13.15", Compiler:"gc", Platform:"linux/amd64"}

[2021-01-18 09:40] DevOpserzhao commented on #3088
eksctl create cluster --name=eks-zxf01 --node-type t3.small --managed=true   --node-volume-size 30 --node-volume-type gp3 --nodes 1
Error: --node-volume-type is not supported for Managed Nodegroups (--managed=true)

[2021-01-18 09:54] aclevername commented on #3088
Hey @DevOpserzhao 👋 , looking at the error the issue is that we don't support specifying the `node-volume-type` for managed nodegroups.  I'm not entirely sure why its not configurable (will investigate). However in the next release of eksctl we will be making `gp3` the default https://github.com/weaveworks/eksctl/pull/3078

[2021-01-18 10:30] aclevername commented on #3088
@DevOpserzhao looking into it it appears to be a bug with our CLI flags. If you use a config file it should work, e.g.:
[code]

[2021-01-18 11:53] michaelbeaumont commented on #3051
@MAXI0008 Hi, can you please include more information about the configuration of the bastion host?

[2021-01-18 13:21] cipriantarta opened #3092 "Error: invalid Kubernetes version: strconv.ParseUint: parsing "": invalid syntax"
**What were you trying to accomplish?**

I'm trying to upgrade one of the managed node groups with the following command
`eksctl -p *** upgrade nodegroup -f eksctl/dev.yaml --cluster *** system`
(Note, stars for actual names due to privacy reasons)

**What happened?**

Nothing happens, but the error in the title is returned.

**How to reproduce it?**

Just running the above command reproduces it 1

[2021-01-18 14:40] aclevername commented on #2812
Fixed in https://github.com/weaveworks/eksctl/pull/2969. Closing.

[2021-01-18 14:40] #2812 closed

[2021-01-18 14:44] michaelbeaumont commented on #19
Closing for now

[2021-01-18 14:44] #19 closed

[2021-01-18 14:47] cdenneen commented on #2761
/label freeze

[2021-01-18 14:48] michaelbeaumont commented on #2690
May have been fixed in https://github.com/weaveworks/eksctl/pull/2999

[2021-01-18 15:00] michaelbeaumont commented on #2694
@shacharaj You may have run into https://github.com/weaveworks/eksctl/issues/1099, which was fixed recently. You can also set `kubeletExtraConfig` on nodegroups to set kubelet arguments, that may be a good fit for this issue.

[2021-01-18 15:03] Callisto13 commented on #2963
_sigh_ just be cool, stale-bot

[2021-01-18 15:15] #2955 closed

[2021-01-18 15:34] aclevername opened #3095 "Reduce length of CI runs"
Our CircleCI `test-and-build` takes roughly 15mins to run. This means that each time a PR is merged, it takes atleast 15mins for the next PR to get merged as it needs to be rebased with master and then re-run through CI. Lets try and reduce how long `test-and-build` takes

[2021-01-18 16:03] michaelbeaumont commented on #1538
Duplicate of https://github.com/weaveworks/eksctl/issues/813

[2021-01-18 16:03] #1538 closed

[2021-01-18 16:04] michaelbeaumont commented on #1537
Duplicate of https://github.com/weaveworks/eksctl/issues/813

[2021-01-18 16:04] #1537 closed

[2021-01-18 16:10] michaelbeaumont commented on #2282
@kjdelisle This should be possible now that #806 is solved.

[2021-01-18 16:10] #2282 closed

[2021-01-18 16:12] dougbyrne commented on #2263
I still desire this feature.

[2021-01-18 16:15] michaelbeaumont commented on #1543
Good to solve as part of #2964

[2021-01-18 16:24] michaelbeaumont commented on #1535
Please comment here if this is still an issue!

[2021-01-18 16:24] #1535 closed

[2021-01-18 16:28] michaelbeaumont commented on #2735
Possibly related: https://github.com/weaveworks/eksctl/issues/1672

[2021-01-18 16:33] michaelbeaumont commented on #1785
@aclevername Is this part of #3064 and https://github.com/weaveworks/eksctl/issues/1497?

[2021-01-18 16:45] michaelbeaumont commented on #1698
@aclevername You've been doing a lot of iamserviceaccount changes with #1497, wdyt?

[2021-01-18 16:46] michaelbeaumont commented on #1698
Relevant for #2774

[2021-01-18 16:48] michaelbeaumont commented on #1774
@PiotrBrzezianski  @kreempuff  Is this solved with https://github.com/weaveworks/eksctl/pull/2999?

[2021-01-18 16:50] michaelbeaumont commented on #1332
Duplicate of https://github.com/weaveworks/eksctl/issues/1551

[2021-01-18 16:50] #1332 closed

[2021-01-18 16:51] michaelbeaumont commented on #1551
Duplicate of https://github.com/weaveworks/eksctl/issues/1805 (it has more activity & history)

[2021-01-18 16:52] #1551 closed

[2021-01-18 16:55] michaelbeaumont commented on #2388
Anyone interested in this feature, please post more information/ideas/use cases about how you imagine `eksctl` supporting this feature.

[2021-01-18 16:57] michaelbeaumont commented on #2603
I don't think we'll change this. As far as I can tell, users can add the namespace themselves.

[2021-01-18 16:57] #2603 closed

[2021-01-18 17:03] michaelbeaumont commented on #2627
Duplicate of https://github.com/weaveworks/eksctl/issues/1805

[2021-01-18 17:03] michaelbeaumont commented on #2627
@chiranjib-b @infa-ddeore Am I correct in thinking that #1805 would cover your use case?

[2021-01-18 17:05] michaelbeaumont commented on #2556
@koslib Feel free to propose something/open a PR

[2021-01-18 17:06] aclevername commented on #1785
https://github.com/weaveworks/eksctl/issues/1497 is mainly focused around roles in a single cluster. This issue appears to be slightly different, it seems to want to enable a single role for use in multiple clusters, which I *think* won't work currently as we add a condition to the role associating it to the clusters OIDC provider

[2021-01-18 17:07] aclevername commented on #1497
this is currently being worked on https://github.com/weaveworks/eksctl/pull/3064 feedback/thoughts are welcome 😄

[2021-01-18 17:08] michaelbeaumont commented on #1785
@omerlh @vgribok WDYT? If I'm not mistaken, the role should have a trust policy that only permits one cluster to use it.

[2021-01-18 17:11] aclevername commented on #1698
https://github.com/weaveworks/eksctl/issues/3042 seems quite similar to this. Seems to be a varying of opinion on what should happen regarding service accounts. I outlined in a [comment](https://github.com/weaveworks/eksctl/issues/3042#issuecomment-756730328) my thoughts on having the ability to skip service account creation/annotation. I think its a good idea, particularly in the context of a git

[2021-01-18 17:14] michaelbeaumont commented on #2370
Duplicate of #1805

[2021-01-18 17:14] #2370 closed

[2021-01-18 17:19] michaelbeaumont commented on #2489
@nsmeef I could imagine a new key like `amiSSMID` and I think it would fit in the existing `pkg/ami/ssm_resolver.go` resolver

[2021-01-18 17:19] infa-ddeore commented on #2627
yes, my use case will be covered in #1805

[2021-01-18 17:19] #2627 closed

[2021-01-18 18:05] jmolero-cortical commented on #2174
Hi @aclevername thanks for you effort. At least in my case, the option 'eksctl upgrade nodegroup' is not working:

`% eksctl version
0.36.0`

`% eksctl upgrade nodegroup --name=NG-test  --cluster=testcluster   --kubernetes-version 1.18  --launch-template-version 2
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x

[2021-01-18 18:33] aclevername commented on #2174
Thanks for reporting the issue! Can you create a new bug report issue with the config file/cluster details? Thanks

[2021-01-18 19:10] michaelbeaumont commented on #1797
This should be possible using `preBootstrapCommands`.

[2021-01-18 19:10] #1797 closed

[2021-01-18 19:33] #2891 closed

[2021-01-18 21:05] michaelbeaumont commented on #1940
Duplicate of https://github.com/weaveworks/eksctl/issues/2082

[2021-01-18 21:05] #1940 closed

[2021-01-18 21:09] jmolero-cortical opened #3102 "panic: runtime error: invalid memory address with eksctl upgrade nodegroup"
**What were you trying to accomplish?**

Trying to change the launch template version of a node group in a EKS cluster NOT created with eksctl

**What happened?**

As reported at #2174 and similar to #3092. When using the command:

`eksctl upgrade nodegroup --name=NG  --cluster=testcluster  --kubernetes-version 1.18  --launch-template-version 2`

The output is the following:

[code]

**How to repr

[2021-01-19 09:09] inductor commented on #1631
._.

[2021-01-19 09:25] aclevername commented on #3102
Thanks for opening the issue @jmolero-cortical. Just to confirm, the nodegroup your trying to update was created with a launch template correct?

[2021-01-19 09:48] aclevername commented on #3102
Thanks for opening the issue @jmolero-cortical .

I've attempted to recreate this by creating a `v1.17`  nodegroup in the EKS console, with a launch template and attempted to run the same update command as you. I did not get any failures
[code]
The panic you got implies that that nodegroup doesn't have a launch template ID attached. I just want to verify that the nodegroup your attempting to updat

[2021-01-19 10:03] aclevername commented on #3092
@cipriantarta thanks for reporting this. It appears to be a bug introduced as part of recent work on the upgrade command. Previously the `--kubernetes-version` flag  was optional, this accidentally became mandatory as part of https://github.com/weaveworks/eksctl/pull/2953. I'll ensure this gets fixed ASAP.

I think a workaround for now will be to provide the `--kubernetes-version` flag with your c

[2021-01-19 10:07] aclevername commented on #3088
this should be fixed as part of the next release https://github.com/weaveworks/eksctl/pull/3090

[2021-01-19 10:07] #3088 closed

[2021-01-19 10:34] michaelbeaumont commented on #3081
Hi @walkley, unfortunately we don't have access to the China partition. Are you able to clarify why the S3 endpoint leaves out the prefix while the ECR endpoint needs it? (https://github.com/weaveworks/eksctl/issues/2568)
It's not clear to me from the AWS documentation.

[2021-01-19 10:41] cipriantarta commented on #3092
@aclevername The workaround works. Thanks!

[2021-01-19 10:57] michaelbeaumont commented on #2588
Is this still an issue?

[2021-01-19 11:14] michaelbeaumont commented on #2328
Duplicate of #2774

[2021-01-19 11:15] #2328 closed

[2021-01-19 11:25] Callisto13 commented on #2891
This is now (technically) done.

From 0.37.0 gp3 will be the default volume type for both managed and unmanaged nodes. IOPS and Throughput are configurable for both groups, BUT (and this is the "technically" bit), the ManagedNodeGroup API does not know to copy the Throughput value to its edited launch template. We will have to wait for that update for that configuration option to totally work in m

[2021-01-19 11:37] TBBle commented on #2332
I'm unaware of this being resolved at this time.

[2021-01-19 13:30] michaelbeaumont commented on #1984
Duplicate of https://github.com/weaveworks/eksctl/issues/633

[2021-01-19 13:30] #1984 closed

[2021-01-19 13:45] #2808 closed

[2021-01-19 14:00] michaelbeaumont commented on #1695
Duplicate of https://github.com/weaveworks/eksctl/issues/874

[2021-01-19 14:01] michaelbeaumont commented on #1695
@aclevername Will this be covered by https://github.com/weaveworks/eksctl/pull/3097 / https://github.com/weaveworks/eksctl/issues/874?

[2021-01-19 14:09] walkley commented on #3081
I can't get any documentation for each VPC endpoint service name either. So I extracted them from AWS China VPC endpoint console, the full list in [Beijing](https://gist.github.com/walkley/5e77386505753eed2bc33c2a14c4c45b) and [Ningxia](https://gist.github.com/walkley/01fcb5b41cfaf80ed1a84b591f227da4) region.

For the [8 VPC endpoint services used by eksctl](https://github.com/weaveworks/eksctl/bl

[2021-01-19 14:10] walkley commented on #3081
I would be happy to validate the fix if you don't have access to AWS China regions.

[2021-01-19 14:16] aclevername commented on #1695
If I'm reading the issue correctly the desired functionality that doesn't exist is to `map RBAC Roles at the cluster creation itself`, currently its a manual command you have to do afterwards and can't be specified in a configmap. The PR is currently only intended to add cluster config support, it does not add it as part of cluster creation but I'm happy for that to get included as this sounds rea

[2021-01-19 14:46] aclevername commented on #874
@muram this is currently being worked on, feedback/thoughts are welcome 😄  https://github.com/weaveworks/eksctl/pull/3097

[2021-01-19 15:22] artem-nefedov opened #3108 "Support "imagePullSecrets" for ServiceAccount created by "create cluster"/"create iamserviceaccount""
It would be great if schema for iamserviceaccounts created by eksctl allowed to specify "imagePullSecrets"  field.
Currently, you have to first create a ServiceAccount with eksctl, then patch it separately.

[2021-01-19 16:44] jmolero-cortical commented on #3102
Thanks for the quick support @aclevername . Sorry, I made a mistake, the NG had a launch template Id attached, but with the launch template I was trying to include user data and unfortunatelly in the user data I had a typo with the flag --enable-docker-bridge  (I was not including a true at the end).
Now, the behaviour is the same described at #3092
Thanks again for your time.

[2021-01-19 17:15] andyli commented on #2691
I've provided more info. Do you want anything more?

[2021-01-19 17:15] aclevername commented on #3102
👍  makes sense. We will be releasing a fix for #3092 this week. In the meantime does the workaround mentioned in the issue unblock you?

[2021-01-19 23:57] KIVagant opened #3109 "[DUPLICATE] Cannot create a service account creation AWS Load Balancer Controller (excluded?)"
**What help do you need?**

[code]
I am trying to install AWS Load Balancer Controller into a newly created EKS cluster `v1.15.12-eks-31566f`. I went through the process [described in the docs](https://www.eksworkshop.com/beginner/180_fargate/prerequisites-for-alb/) (or [here](https://docs.aws.amazon.com/eks/latest/userguide/aws-load-balancer-controller.html), or [here](https://aws.amazon.com/prem

[2021-01-20 00:05] KIVagant commented on #3109
Update: after searching by more keywords from the `eksctl` logs I found these two issues:

- https://github.com/weaveworks/eksctl/issues/2665
- https://github.com/weaveworks/eksctl/issues/1497

So I went to the CloudFormation Console and manually destroyed the `eksctl-*-addon-iamserviceaccount-kube-system-aws-load-balancer-controller` (while `eksctl-*-addon-iamserviceaccount-kube-system-aws-node`

[2021-01-20 00:05] #3109 closed

[2021-01-20 07:13] jmolero-cortical commented on #3102
Yes, the workaround works

[2021-01-20 07:28] rothgar commented on #1407
I just verified that the code still exists. I think you may need to set the `--profile` when writing the kubeconfig file. I'll do more testing to verify.

https://github.com/weaveworks/eksctl/blob/master/pkg/utils/kubeconfig/kubeconfig.go#L171-L174

[2021-01-20 13:53] #3081 closed

[2021-01-20 13:56] michaelbeaumont commented on #3081
@walkley :pray:  Thanks so much! The fix is now merged to `master`, if you can validate with `master` that'd be awesome, otherwise on Friday we'll make a release.

[2021-01-20 14:03] chanwit opened #3117 "eksctl local mode using KIND and EKS-D"
As a developer,
I'd like to create a local EKS-D cluster
so that I have an EKS-compatible cluster for development and testing purpose.

**What feature/behavior/change do you want?**

I'd like to have a command like: `eksctl create cluster --local` or something similar.
The feature would create a KIND / EKS-D cluster for me.

**Why do you want this feature?**

KIND is great but does not support EKS

[2021-01-20 14:06] michaelbeaumont commented on #3095
Down to just under 10 mins

[2021-01-20 14:11] chanwit commented on #3117
Here's also a KIND / EKS-D image, prepared by a similar technique discussed in the EKS-D project:
[code]
which can be used to develop this feature in the mean time.

[2021-01-20 15:17] walkley commented on #3081
I just downloaded the [artifact for the commit](https://app.circleci.com/pipelines/github/weaveworks/eksctl/5192/workflows/ad4a7f84-02c3-4fdc-add3-d7deabcd593d/jobs/11324/artifacts) from circleci and validated the private VPC in Ningxia region, it works well!
Thank you so much!

[code]
private-vpc-test.yaml:
[code]

output of eksctl:
[code]

[2021-01-20 15:33] Callisto13 commented on #642
Hey @errordeveloper we are looking at bringing this into scope again, can you tell us anything about complications/complexity you found when you looking into it? Hopefully you can save us covering the same ground 😄

[2021-01-20 15:40] michaelbeaumont commented on #642
I think we should only do this if we can't recreate the config from the existing resources, as that's the reason why `terraform` introduced state, but it's not clear we have the same restriction with `EKS`.

[2021-01-20 15:51] errordeveloper commented on #642
kops has the ability of discovering resources that belong to it, but it's not quite trivial and version dependent.

For deletion purposes CloudFormation is actually very handy, as you only need to delete a stack and don't need to know what are the resources that a certain version of eksctl created and how those were labeled etc. (At least that's the theory).

The reason for storing the config was

[2021-01-20 16:31] ghasemel commented on #956
I also need that, I've exported the templates using aws command but for this, you need to run the eksctl to create the stacks first.
`aws cloudformation get-template --stack-name myteststack`

[link to aws docs](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-get-template.html)

[2021-01-20 16:58] aclevername commented on #3092
Fixed in https://github.com/weaveworks/eksctl/releases/tag/0.36.1

[2021-01-20 16:58] #3092 closed

[2021-01-20 16:58] aclevername commented on #3102
Fixed in https://github.com/weaveworks/eksctl/releases/tag/0.36.1

[2021-01-20 16:59] #3102 closed

[2021-01-20 17:17] Legion2 commented on #3042
I found #3037 which conceptually covers the GitOps use case and reconciliation much better that it would be possible here. So instead of trying to implement the GitOps use case here, it should be done with the `apply` command. However, the need for an `onlyRole` option is still there even with an `apply` command.

[2021-01-20 18:55] marutiprasad commented on #2690
This issue is still happening, incase of an all private cluster.
Here is the cluster config yaml.
`apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: app-service-dev
  region: us-west-2

vpc:
  id: "vpc-11111111"
  subnets:
    private:
      us-west-2a:
        id: "subnet-dfngkaejngjg11"
      us-west-2b:
        id: "subnet-dfngkaejngjg12"
      us-west-2c:
        id: "subne

[2021-01-20 22:30] kellen-dunham commented on #2008
I am having the same issue - can't create a managed node group on a subnet without enabling public IP address on the subnet. Any help is appreciated.

[2021-01-21 01:47] marutiprasad opened #3124 "invalid value in privateCluster.additionalEndpointServices: unsupported endpoint service "log""
When creating a fully private cluster with additional end points as mentioned in the document @ https://eksctl.io/usage/eks-private-cluster/

I am getting the following message: Error: invalid value in privateCluster.additionalEndpointServices: unsupported endpoint service "log"

Here is the sample config:

[code]

[code]

[2021-01-21 08:41] cPu1 commented on #3124
Hi @marutiprasad . The service name should be `logs`. The documentation has a typo, but it will be fixed in the next release.

[2021-01-21 08:42] #3124 closed

[2021-01-21 09:00] Callisto13 commented on #2925
Closing this as I realise it is already possible to set both these things in the `kubeletExtraConfig ` section of the config file:

[code]

[2021-01-21 09:00] #2925 closed

[2021-01-21 09:09] Callisto13 commented on #2942
Thinking about this more, we are unlikely to introduce this feature in eksctl now, but it will be available when we go to 1.0.

Tags/labels can currently be updated simply by running the `eksctl unset labels` and `eksctl set labels` commands.

[2021-01-21 09:09] #2942 closed

[2021-01-21 09:37] aclevername commented on #3108
Hey @artem-nefedov, thanks for raising this.

You could instead create the serviceaccount yourself, with the imagepull secrets and then when running `eksctl create iamserviceaccount` add the `--override-existing-serviceaccounts` flag. This changes the behaviour of eksctl to patch any existing serviceaccounts with the annotation instead of attempting to create it.

We've had a fair bit of discussio

[2021-01-21 09:46] michaelbeaumont commented on #1805
This issue should address https://github.com/weaveworks/eksctl/issues/2627 as well

[2021-01-21 10:23] michaelbeaumont commented on #2942
Duplicate of #2774

[2021-01-21 10:24] michaelbeaumont commented on #3124
Fixed in https://github.com/weaveworks/eksctl/pull/3119

[2021-01-21 12:57] michaelbeaumont commented on #2961
@CameronMcAuley This option isn't supported by the command line but [you can use a config file](https://eksctl.io/usage/creating-and-managing-clusters/#using-config-files) and set the [`vpc.securityGroup`](https://eksctl.io/usage/schema/#vpc-securityGroup) option to your `AdditionalEksSG` security group. Only one security group for that EKS parameter is supported by `eksctl` right now.

[2021-01-21 13:04] michaelbeaumont commented on #2008
@jontiefer @tewner @kellen-dunham There are countless reasons node groups may fail to create. Please create separate issues and provide full configs or commands

[2021-01-21 13:10] michaelbeaumont commented on #1945
Plan: we skip the role creation like @cPu1 mentions if there aren't any profiles that need it

[2021-01-21 13:14] CameronMcAuley commented on #2961
@michaelbeaumont Thanks michael. The reason I needed to do this with the CLI command was that I wanted flexibility of automating the creation of multiple clusters with different parameters which is not very easy in YAML.

For any future viewers -- the only way I got this to work was using `sed` replacements on a template YAML file.

For example: I have a template .yaml file which have **placeholde

[2021-01-21 13:15] kellen-dunham commented on #2008
@michaelbeaumont I have an open issue which has the config and details you're needing https://github.com/weaveworks/eksctl/issues/2834. The bottom line is that as far as I know the AWS subnet has to have "Assign public IPV4" enabled, otherwise node groups can't be created in them or if this setting is disabled after the node group is created the node group becomes "Degraded" with an error similar

[2021-01-21 13:29] #2961 closed

[2021-01-21 13:43] CameronMcAuley commented on #1805
For anyone who wants to automate this:

You can only add an additional security group via the YAML config file, not in-line, and if you want to automate custom parameters you could use **sed replacement**.

See here for an example: https://github.com/weaveworks/eksctl/issues/2961

[2021-01-21 13:57] Callisto13 commented on #642
pasting in highlights from the above mentioned slack conversation for context:

one is ought to be able to look at a cluster and tell how is it configured
getting that info from AWS APIs is technically possible, but quite tedious
and actually different version of eksctl may produce different CloudFormation templates for the same config, e.g. due to a bug/workaround
and config is certainly meant to

[2021-01-21 13:58] #3000 closed

[2021-01-21 14:11] michaelbeaumont opened #3128 "Manage additional ServiceAccount fields with iam.serviceAccounts"
This issue is meant to serve as a place for discussion around which arbitrary fields on `ServiceAccount` resources should be exposed in the `eksctl` config

Existing issues:

* [`automountServiceAccountToken`](https://github.com/weaveworks/eksctl/issues/2604)
* [`imagePullSecrets`](https://github.com/weaveworks/eksctl/issues/3108)

[2021-01-21 14:11] michaelbeaumont commented on #2604
Duplicate of https://github.com/weaveworks/eksctl/issues/3128

[2021-01-21 14:11] #2604 closed

[2021-01-21 14:11] michaelbeaumont commented on #3108
Duplicate of https://github.com/weaveworks/eksctl/issues/3128

[2021-01-21 14:14] #3108 closed

[2021-01-21 14:32] michaelbeaumont commented on #2834
@kellen-dunham Can you confirm what the RouteTable looks like for your private subnets?

[2021-01-21 15:14] kellen-dunham commented on #2834
@michaelbeaumont Thanks for this information. The subnets have a NAT gateway for default and a /32 to an IGW right now for debug/admin purposes. I can remove the /32 IGW and try again. Also I see that they are using the privateCluster config, I'll add that as well see if it helps. The goal is to keep the NAT gateway so that nodes have internet but to remove the public IP from the nodes.

[2021-01-21 15:45] cPu1 opened #3130 "Add integration tests for clusters with Windows nodegroups"
There is no test coverage for clusters with Windows nodegroups. Add tests that ensure Windows clusters work even when `withOIDC` is enabled.

[2021-01-21 18:35] stevenroussey-privicy commented on #2567
IP6 is still a thing

[2021-01-21 23:23] mataneja commented on #2364
Hi @markramm / @martina-if Can we please discuss this upstreaming issue? Spot team is happy to own the maintenance burden for all things Ocean and Spot. In fact, `kops` upstream has taken a similar approach to all partner integrations. For reference, please find the equivalent ownership here:

https://github.com/kubernetes/kops/blob/d5d08a43034dd4c7242cf1faa020cf9a8c3965e2/upup/pkg/fi/cloudup/spot

[2021-01-22 01:52] javad-hajiani commented on #3030
I would like to work on this issue if possible :)

[2021-01-22 04:07] DevOpserzhao commented on #3088
region cn-northwest-1 test  success, Thank you

[2021-01-22 09:16] aclevername commented on #3128
A possible alternative solution is for eksctl to not be responsible for the creation/management of service accounts  #3042 #1698. This way the user can create and configure the service account using there normal method for handing k8s resources and can use the eksctl to either:
- Create & apply the annotation to the service account
- Create the role only, with a static name, and provide that to th

[2021-01-22 09:20] aclevername commented on #3030
Sure go for it! 😄

[2021-01-22 09:29] lvthillo commented on #2510
Same issue. @lkr2des how are you using the workaround? I'm able to create the public cluster and I try to update my cluster to a private one afterwards but I still have the same issue.

[2021-01-22 09:32] AndreaGal95 commented on #3081
Hello,

also in the region "Europe (Milan) eu-south-1" there is a bug similar to the one described above.

These are the logs:

`andrea-gallicchio@KWIN12:/mnt/c/Users/andrea.gallicchio$ eksctl create cluster -f eks-fargate.yml
[ℹ]  eksctl version 0.36.1
[ℹ]  using region eu-south-1
[✔]  using existing VPC (vpc-010798c958f4bfdff) and subnets (private:[subnet-0da7f1efbf13add01 subnet-04ecf032c30889d

[2021-01-22 09:38] Callisto13 opened #3133 "The Vpc Endpoint Service 'com.amazonaws.eu-south-1.ecr.dkr' does not exist (private cluster)"
Reported by @AndreaGal95 in https://github.com/weaveworks/eksctl/issues/3081

**What were you trying to accomplish?**
Trying to create a cluster in `eu-south-1` region

**What happened?**
Failed with:

[code]

**How to reproduce it?**
Create a cluster in region `eu-south-1`

Config:

[code]

**Logs**

[code]

**Versions**
 0.36.1

[2021-01-22 09:39] Callisto13 commented on #3081
Thanks for reporting this @AndreaGal95, I have created a new issue to track the fix for this region 👍

[2021-01-22 09:45] AndreaGal95 commented on #3081
When do you think the bug will be fixed? currently, to work around the problem, I created the cluster as 'Public', without using 'privateCluster' and 'nodeGroups', and I added these specifications later, directly in the AWS console.

Thanks in advance.

[2021-01-22 09:53] javad-hajiani commented on #3030
/assign

[2021-01-22 10:36] michaelbeaumont commented on #1222
I feel like this _might_ be solved/a part of #3066?

[2021-01-22 11:02] Callisto13 commented on #3133
(pasting in from other issue to keep context in this thread

@AndreaGal95 someone should get to it today

[2021-01-22 12:02] cPu1 commented on #3133
The `api.ecr` endpoint does not show up in a `DescribeVPCEndpointServices` call for `eu-south-1`, even though it's mentioned in this list under **Service Endpoints** (https://docs.aws.amazon.com/general/latest/gr/ecr.html):

(Although the `dkr.ecr` endpoint is missing in that list for `eu-south-1`).

These endpoints are required for a fully-private cluster to work because ECR hosts the manifest fo

[2021-01-22 12:14] AndreaGal95 commented on #3133
Consider that I have directly changed on the AWS Console the fact that the cluster is entirely private and everything works fine.

[2021-01-22 12:32] cPu1 commented on #3133
@AndreaGal95, I believe you merely changed the `API Endpoint Access` setting to `Private`. That doesn't make the cluster fully private, it only makes the API server endpoint accessible from only within the VPC. Your nodes still have access to the internet.

The fully-private cluster feature in eksctl also launches your nodegroups in fully-private subnets that have no route to an internet gateway (

[2021-01-22 12:53] aclevername commented on #1497
`eksctl update iamserviceaccount` will be out in the next release 😄

[2021-01-22 12:53] #1497 closed

[2021-01-22 13:17] michaelbeaumont commented on #3133
Looking at https://docs.aws.amazon.com/general/latest/gr/ecr.html#ecr_region it appears there is _no_ ECR DKR service at all for `eu-south-1`.

[2021-01-22 16:29] cPu1 commented on #3133
@AndreaGal95 Update: VPC endpoints for ECR  are not supported in `eu-south-1` yet, so until then eksctl can't support fully-private clusters in that region. We can, however, improve the error message to reflect that.

[2021-01-22 16:31] Callisto13 commented on #3133
@cPu1 can we have a warning in the docs for that as well plz?

[2021-01-22 17:19] Callisto13 commented on #2810
is getting labels also a thing here?

[2021-01-22 17:25] aclevername commented on #2810
I did not spot that! Yes please 😄

[2021-01-23 03:59] g-karthik opened #3142 "Overriding auto-created Launch Template etc. to enable EFA"
**What help do you need?**

I want to enable EFA for my EKS cluster+nodegroup created using `eksctl`. It's referenced in https://github.com/weaveworks/eksctl/issues/2447.

While that support is being worked on, I want an intermediate solution wherein I can make some manual changes on my AWS console to the auto-created Launch Template, etc. in order to enable EFA.

Is that doable? Can someone provi

[2021-01-24 02:57] #2908 closed

[2021-01-24 02:57] #2875 closed

[2021-01-24 02:57] #2805 closed

[2021-01-24 02:57] #2789 closed

[2021-01-24 02:57] #2787 closed

[2021-01-24 02:57] #2777 closed

[2021-01-24 02:58] #2694 closed

[2021-01-24 02:58] #2686 closed

[2021-01-24 02:58] #2654 closed

[2021-01-24 02:58] #2397 closed

[2021-01-24 02:58] #2388 closed

[2021-01-24 02:58] #2367 closed

[2021-01-24 02:58] #2360 closed

[2021-01-24 02:58] #2350 closed

[2021-01-24 02:58] #2224 closed

[2021-01-24 02:58] #2217 closed

[2021-01-24 02:58] #2181 closed

[2021-01-24 02:58] #2127 closed

[2021-01-24 02:58] #2113 closed

[2021-01-24 02:58] #2107 closed

[2021-01-24 02:58] #1973 closed

[2021-01-24 02:58] #1882 closed

[2021-01-24 02:58] #1831 closed

[2021-01-24 02:58] #1816 closed

[2021-01-24 02:58] #1785 closed

[2021-01-24 02:58] #1774 closed

[2021-01-24 02:58] #1740 closed

[2021-01-24 02:58] #1734 closed

[2021-01-24 02:58] #1721 closed

[2021-01-24 02:58] #1716 closed

[2021-01-24 02:58] #1655 closed

[2021-01-24 02:58] #1603 closed

[2021-01-24 02:58] #1597 closed

[2021-01-24 02:58] #1592 closed

[2021-01-24 02:58] #1543 closed

[2021-01-24 02:58] #1528 closed

[2021-01-24 02:58] #1512 closed

[2021-01-24 02:58] #1381 closed

[2021-01-24 02:58] #1358 closed

[2021-01-24 02:58] #1357 closed

[2021-01-24 12:34] michaelbeaumont commented on #2564
Potentially related: https://github.com/weaveworks/eksctl/issues/2787

[2021-01-25 02:09] cw-sakamoto opened #3143 "aws-node serviceaccount deleted with delete iamserviceaccount command"
**What were you trying to accomplish?**

- When I tried to delete unnecessary serviceaccounts with `eksctl delete iamserviceaccount -f ... --only-missing --approve`, `kube-system/aws-node` was deleted.

**What happened?**

- `kube-system/aws-node` has been deleted and aws-node is no longer working with  `disableIMDSv1 true, disablePodIMDS true`.
- Due to the change in https://github.com/weaveworks

[2021-01-25 02:57] #2556 closed

[2021-01-25 02:57] #2545 closed

[2021-01-25 04:20] Jeinhaus commented on #1017
I think this would still be a great feature to have.

[2021-01-25 09:22] michaelbeaumont commented on #906
Relevant for #2774

[2021-01-25 09:29] michaelbeaumont commented on #1048
https://github.com/weaveworks/eksctl/pull/1566 added support for _managed_ nodegroups

[2021-01-25 10:02] michaelbeaumont commented on #3143
@cw-sakamoto You should be able to use `create iamserviceaccount` to create `aws-node` by just specifying it in the config.

[2021-01-25 10:10] #872 closed

[2021-01-25 10:10] cw-sakamoto commented on #3143
@michaelbeaumont Thanks for your comments.

I have confirmed that it not be removed by listing it in a file with `--only-missing`.

[2021-01-25 12:11] aclevername commented on #2722
I'm going to spend some time going over to see whats tested and write it up here.

@michaelbeaumont is there any areas that standout as being weakly tested?

[2021-01-25 12:12] michaelbeaumont commented on #2722
I think the impetus was something around IRSA, which I think we have no integration tests for

[2021-01-25 14:21] michaelbeaumont commented on #916
Related https://github.com/weaveworks/eksctl/issues/2745 https://github.com/weaveworks/eksctl/issues/1356#issuecomment-686981450

[2021-01-25 16:00] michaelbeaumont commented on #2564
@nitrocode @nadenf Would either of you be willing to share your `~/.aws/config` files?

[2021-01-25 16:08] sergioteixeiraptc opened #3147 "managednodes - private network"
hello guys

having an issue creating private managed node groups
failed to run Kubelet: could not init cloud provider "aws": error finding instance Post https://ec2.eu-west-1.amazonaws.com/: dial tcp timeout on the node

only happens if i enable privateNetworking: true

[2021-01-25 16:17] aclevername commented on #2722
Existing tests:

### `addons`
- testing `eksctl CRUD addon` 👍

### `backwards_compat`
- checks that clusters created with the previous version of the CLI can be used with the current CLI
- `eksctl get/delete nodegroup`
- `eksctl utils update-legacy-subnet-settings` 👍

### `before_active`
- checks that you can delete a cluster during cluster creation *maybe*? Seems very unclear 👎

### `cluster_api`

[2021-01-25 16:19] michaelbeaumont commented on #3147
Hi, you'll need to include your entire config/CLI command.

[2021-01-25 16:29] sergioteixeiraptc commented on #3147
`apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig
metadata:
  name: ops
  region: eu-west-1
  version: "1.18"
privateCluster:
  enabled: true

iam:
  withOIDC: true

vpc:
  id: "vpc-0c9556dfe00b0a131"
  securityGroup: "sg-0c3f6006d5f88803f"
  sharedNodeSecurityGroup: "sg-0c3f6006d5f88803f"
  cidr: "10.70.0.0/16"
  subnets:
    private:
      eu-west-1a:
        id: "subnet-0209fa2ac9e625c5b"

[2021-01-25 17:40] michaelbeaumont commented on #3147
@sergioteixeiraptc Do your subnets have a route to a NAT Gateway?

[2021-01-25 17:41] sergioteixeiraptc commented on #3147
yes

[2021-01-25 17:53] sallwood-pa commented on #2721
This looks to be a problem with the linux nodegroup, if you create it with the eksctl using the switches it works fine
`eksctl create nodegroup --region <region> --cluster <cluster> --name <name> --node-type <nodetype> --nodes 1 --nodes-min 1 --nodes-max 2 --node-private-networking`

When you using the config file it does not work.

I compared the policies between the nodegroups and noticed "Amazo

[2021-01-25 19:30] #3143 closed

[2021-01-25 20:46] nitrocode commented on #2564
[code]

[2021-01-25 20:47] nadenf commented on #2564
[code]

[2021-01-26 02:41] sandan commented on #2910
Have you tried looking at https://eksctl.io/usage/troubleshooting/#subnet-id-subnet-11111111-is-not-the-same-as-subnet-22222222?

In my case, I had whitespace appended in the id value which threw off eksctl.

[2021-01-26 03:05] hans72118 opened #3148 "Support EC2 Auto Scaling Capacity Rebalancing"
Request to support EC2 auto scaling capacity rebalancing.

https://docs.aws.amazon.com/autoscaling/ec2/userguide/capacity-rebalance.html

AWS::AutoScaling::AutoScalingGroup
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-as-group.html

[2021-01-26 10:58] aclevername commented on #2810
@Callisto13 could you add integration test coverage for this as part of this work?

[2021-01-26 11:50] Callisto13 commented on #2810
Hmm alright but it'll cost you.

[2021-01-26 12:01] michaelbeaumont commented on #2564
I was able to reproduce this using `aws-vault` which functions like `hologram`.
The error is not unique to `eksctl`, see [this kops issue](https://github.com/kubernetes/kops/issues/10043#issuecomment-754717727) and is IMO a bug in `aws-sdk-go`.

`boto` handles this correctly as opposed to `aws-sdk-go`, [see `botocore`](https://github.com/boto/botocore/blob/38363876ac8911ae64baea506ed3116ea27069aa/

[2021-01-26 12:17] mihaylovmihail commented on #2891
Hi @Callisto13 ,
Thanks a lot for this really cool feature. We already try it (we manually changed the launch template and update its version in ASG) and it is really fast :)

Best Regards,
Mihail Mihaylov

[2021-01-26 12:34] Callisto13 commented on #3148
Thanks for this request @hans72118 👍

If you'd like to handle this, we are happy to accept PRs 😃

[2021-01-26 14:57] michaelbeaumont commented on #2564
@nadenf @nitrocode You're welcome to try building the branch for the above PR (#3150)

[2021-01-26 15:45] aclevername opened #3151 "Cleanup fargate role when deleting non-eksctl created clusters"
**What were you trying to accomplish?**
Trying to delete a cluster that was not created by eksctl
**What happened?**
It did not delete the fargate cloudformation stack

**Versions**
Custom built off master 308e4165

[2021-01-26 16:07] #2564 closed

[2021-01-26 17:18] Callisto13 opened #3153 "Cannot configure Throughput for managed nodegroup gp3 volumes"
**What were you trying to accomplish?**
Create a managed nodegroup with `volumeThroughput` set to `500`.

**What happened?**
The nodegroup was created, there were no errors, but the Throughput for the EBS volume is set to `125`.

**How to reproduce it?**

[code]

Then navigate to the console, and see that the volume attached to the node instance has Throughput set to 125, not 500.

**Versions**
[c

[2021-01-26 17:19] Callisto13 commented on #3153
This is an upstream issue: the ManagedNodeGroup API does not know to copy the Throughput value to its edited (and eventually used) launch template. This should be fixed within the next couple of weeks.

[2021-01-26 19:48] RamazanKara opened #3155 "eksctl fails to patch CoreDNS on deployment with config"
**What were you trying to accomplish?**
Deploying a Fargate EKS Cluster with eksctl

**What happened?**
During deployment of an EKS Cluster with eksctl. I expect CoreDNS to be assigned to the fargate profile. Instead it does not get patched and remains assigned to EC2:

[code]

Searching for EC2 in the api logs :

Unable to schedule kube-system/coredns-: no nodes are registered to the cluster; wai

[2021-01-26 21:30] kellen-dunham commented on #2834
@michaelbeaumont I was able to create the managed node groups once I removed the IGW from the private subnet. Thanks for the help!!

[2021-01-26 21:46] michaelbeaumont commented on #2834
Great to hear it's working!

[2021-01-26 21:46] #2834 closed

[2021-01-26 21:52] michaelbeaumont commented on #1273
Note: This flag will be deprecated when flux v2 support arrives.

[2021-01-26 21:52] #1273 closed

[2021-01-26 22:01] michaelbeaumont commented on #53
Closing this, please open any issues for specific issues you think might belong in `eksctl`.

[2021-01-26 22:01] #53 closed

[2021-01-27 02:11] #2967 closed

[2021-01-27 02:11] #1827 closed

[2021-01-27 08:06] lapidus79 commented on #777
Progress on this would be much appreciated

[2021-01-27 08:16] michaelbeaumont commented on #2224
Duplicate of https://github.com/weaveworks/eksctl/issues/199#issuecomment-767962571

[2021-01-27 08:18] michaelbeaumont commented on #205
`eksctl` already installs the device plugin when a gpu enabled nodegroup is created.

[2021-01-27 08:18] #205 closed

[2021-01-27 10:33] michaelbeaumont commented on #1179
Maybe I'm missing something but in order to do the Gitops tests we need to push branches somewhere so we do need _some_ private credentials?

[2021-01-27 10:44] #1179 closed

[2021-01-27 13:17] Callisto13 commented on #3155
Thanks for reporting this @RamazanKara 👍

If you'd like to work on this yourself, we are happy to accept PRs, otherwise the team will get to it soon.

[2021-01-27 13:57] aclevername commented on #2848
@nsaud01 are you still hitting this issue?

[2021-01-27 14:07] michaelbeaumont commented on #764
With the fully-private cluster feature we now have the code and the config to enable VPC endpoints, it's just a matter of not depending on `fullyPrivate.enabled == true`

[2021-01-27 14:16] Callisto13 opened #3161 "Write 2021 Roadmap/Vision"
✨

What are our goals for this year (or at least the first 6 months if the year feels a bit long)? What are our priorities and timelines?

[2021-01-27 14:47] #2722 closed

[2021-01-27 15:16] aclevername commented on #2921
I tried to recreate this issue using the same nodegroup config on `v1.18` with `eksctl 0.36.2` but had no luck:
[code]

Going to try again with `eksctl 0.33.0`

[2021-01-27 15:40] aclevername commented on #2946
a lot of throttling during `create/delete nodegroup`

[code]

[code]

[2021-01-27 16:45] StevenACoffman commented on #587
Still an issue.

[2021-01-27 17:03] aclevername commented on #2921
I couldn't reproduce on `eksctl 0.33.0`
[code]

One difference I spotted is from the original log:

[ℹ]  2 sequential tasks: { fix cluster compatibility, 1 task: { 1 task: { create managed nodegroup "spot-managed-node-group" } } }
[ℹ]  checking cluster stack for missing resources
[ℹ]  cluster stack is missing resources for Managed Nodegroups
[ℹ]  adding missing resources to cluster stack
[ℹ]  1 er

[2021-01-27 17:06] michaelbeaumont commented on #443
Duplicate of #2774

[2021-01-27 17:21] michaelbeaumont commented on #105
Duplicate of #2172

[2021-01-27 17:21] #105 closed

[2021-01-27 17:42] shkreios commented on #2921
Hey @aclevername,
I think that the cluster version got update alt least once by the AWS EKS UI and not eksctl. Could this cause the template to not be updated?
Is this maybe possible to fix by updating the CloudFormation template manually?

Thanks for your time.

[2021-01-27 17:47] aclevername commented on #2921
It's possibe, but I don't think it would cause the template to not be parsable. Have you updated it via the CLI since then?

Potentially, at the moment I don't know what could cause the template to get into a state where it can't be parsed. If its possible could you share the a redacted CloudFormation template of your cluster stack?

[2021-01-27 18:43] #3151 closed

[2021-01-27 20:10] bitva77 commented on #1030
Just to confirm:  It's the year 2021 and we have to manually add tags to EBS volumes mounted on to EC2 instances launched from EKS manually?

Like using that bash script above.

NOT COMPLAINING.  just verifying  :)

[2021-01-27 20:14] #717 closed

[2021-01-27 21:12] shkreios commented on #2921
Hey @aclevername,
the updates that I know were definitely done with the `eksctl` are `1.16` to 1.17 and `1.17` to `1.18`.

I did not find any information inside the template that needed to be obfuscated.(Pulled this out of the CloudformationTempalteDesigner)  [EKSCloudformationClusterTemplate](https://gist.github.com/shkreios/5125fd1fc83679ec0540a29158925364#file-eks_cloudformation_template-yaml)

[2021-01-28 02:12] #1240 closed

[2021-01-28 02:12] #1222 closed

[2021-01-28 07:31] michaelbeaumont commented on #640
Duplicate of #2125

[2021-01-28 07:31] #640 closed

[2021-01-28 07:33] michaelbeaumont commented on #715
Closing this issue as it's out of date, feel free to open a new issue if this is still a problem or new issues for other, unrelated problems.

[2021-01-28 07:33] #715 closed

[2021-01-28 08:19] RamazanKara commented on #3155
Thank you. I will wait for the confirmation of the team first before working on myself.

[2021-01-28 09:47] aclevername commented on #2921
Thanks for providing the template. Just to clarify, when you went to the CloudFormation stack in the console, and clicked on the `template` tab was the template in YAML or json?

When I converted the stack you have given me to json and parsed it through the same bit of code it succeeded, but if I create the stack with the YAML format it fails because when we fetch the template from AWS it returns

[2021-01-28 10:21] #2837 closed

[2021-01-28 10:30] shkreios commented on #2921
Hey @aclevername,
I opened the template inside the Template-Designer where it opened in `YAML` view. This is where I copied it from.
Selecting the`JSON` view works fine.
The Cloudformation Console shows `YAML` when just selecting the template tab.

Thanks for your time.

[2021-01-28 10:40] shkreios commented on #2921
Hey @aclevername,
I diffed the `yaml` and `json` version of the template. They don't use the same syntax when it comes to `Refs` and `Fn`, but i don't know if its still valid as an `eksctl`/`cloudformation` template.

[EKSCloudformationClusterTemplateJSON](https://gist.github.com/shkreios/ca8412a841fd6b1b52388fa6a524a655)
Thank you for your time.

[2021-01-28 11:21] aclevername commented on #2921
Hey @shkreios, I think the problem is being caused by the fact we didn't expect the template to be in `yaml` format when trying to update the stack. This cluster must of been created with a very old version of eksctl, as this issue appears to have been when we changed from yaml -> json https://github.com/weaveworks/eksctl/issues/127.

My initial reaction was to ask you to manually change the templ

[2021-01-28 12:14] aclevername commented on #2921
Doing some more testing, it appears that I made an assumption that was wrong. If the cluster was created prior to #127, it would have been created in 3 separate stacks. I narrowed down the changes to `0.1.1` for pre #127 and `0.1.2` for post #127. In `0.1.1` you get `EKS-cluster-vpc, EKS-cluster-ControlPlane and EKS-cluster-ServiceRole` all in yaml. But in`0.1.2` its 1 stack and in json

I don't k

[2021-01-28 12:26] shkreios commented on #2921
Hey  @aclevername,
maybe it helps but we have another cluster created  with eksctl eks version `1.14` which shows the same error message (`unexpected template format of the current stack`). I have not tried to create a manged nodegroup with this cluster, but of what I can tell it should be able to, because it in includes some information about this in the cluster template. The cluster template is

[2021-01-28 12:34] marga-kinvolk commented on #3070
Claudia, I understand that there's a worry that there's "significant overhead" to maintaining this. Could you let us know what the overhead is, and whether there's a way that we could help alleviate it?

As I mentioned, we're willing to put in the work to make this happen :)

[2021-01-28 12:43] aclevername commented on #2921
Interesting.. do you know what version of `eksctl` was used to create the clusters? I believe if go to the CloudFormation stack under `Stack Info` it has a `tags` section with a `alpha.eksctl.io/eksctl-version` tag (unsure at what version this was added)

I attempted this with no luck. The changeset containing json was applied, but the template remained in yaml format 😞 . If we can't find another

[2021-01-28 12:45] cPu1 opened #3166 "API server connection initially timing out after EKS reporting its status as Active"
It has been observed during testing (https://github.com/weaveworks/eksctl/pull/3165) that the Kubernetes client sometimes initially fails to connect to the API server with a timeout error, after the EKS control plane has reported its status as `Active`.

This is likely the cause of this issue https://github.com/weaveworks/eksctl/issues/2382.

[2021-01-28 12:49] shkreios commented on #2921
Hey @aclevername,
none of the clusters have this tag maybe the creation time helps you:
Production: `2019-12-31 19:38:20 UTC+0100`
Staging: `2019-08-29 14:44:53 UTC+0200`

The only tags present are: `alpha.eksctl.io/cluster-name`,`eksctl.cluster.k8s.io/v1alpha1/cluster-name`

Thank you for your time.

[2021-01-28 13:54] #3130 closed

[2021-01-28 14:02] aclevername commented on #2921
Thanks, so the cli version that could of been [0.4.3](https://github.com/weaveworks/eksctl/releases/tag/0.4.3) or lower

[2021-01-28 15:05] aclevername commented on #2921
Did your previous `eksctl upgrade cluster` commands also succeed in upgrading but fail with the message `Error: unexpected template format of the current stack`?

[2021-01-28 15:48] cPu1 commented on #2382
@dave-meier thanks for being patient. I was able to reproduce this issue a few times and a potential fix is out in https://github.com/weaveworks/eksctl/pull/3167. The cause of this issue is likely https://github.com/weaveworks/eksctl/issues/3166

[2021-01-28 19:39] shkreios commented on #2921
@aclevername yes they did

[2021-01-29 03:08] tkms0106 commented on #2876
I'd like to work on this.
Should I modify `pkg/apis/eksctl.io/v1alpha5/assets/schema.json` ?

[2021-01-29 03:08] karlo commented on #2761
I'm having the same problem

[2021-01-29 05:22] tkms0106 commented on #2876
It seems I shoud edit `pkg/apis/eksctl.io/v1alpha5/types.go` .

[2021-01-29 09:04] Callisto13 commented on #2876
Awesome! All yours @tkms0106 👍 .

Yep, editing `pkg/apis/eksctl.io/v1alpha5/types.go` (and running `make generate-all` after), will update the schema docs. You can also find the relevant section in `userdocs/src/usage/` if you want to add a little more detail. There is a small section about serving the docs locally in the [contributing guide](https://github.com/weaveworks/eksctl/blob/master/CONTRI

[2021-01-29 09:11] #3166 closed

[2021-01-29 11:14] Callisto13 commented on #3070
Hey @marga-kinvolk!

It's not so much a worry as a consideration of future effort around ensuring that the family's bootstrap script, userdata, service file continue to "work" with any version changes (or general upstream changes).

I am going to leave the voting to run a little longer, and if we do move forward we will be more than happy for you PR to this in 😉 .

[2021-01-29 11:38] PierreBeucher opened #3177 "get nodegroup (without specifying nodegroup name) returns error when no nodegroup exists instead of empty list"
**What were you trying to accomplish?**

We're trying to obtain a list of existing nodegroups as JSON or YAML, obtaining the nodegroup definition as list or an empty list like `[]` if none exists.

**What happened?**

Since `0.31.0` running `eksctl get nodegroup --cluster my-cluster -o json` without specifying nodegroup name (i.e. we want to list existing nodegroups) returns an error like:

[code]

[2021-01-29 11:40] michaelbeaumont commented on #2876
@tkms0106 Note that the possibilities for showing usage of `tags` in the schema, which show up at [/usage/schema](https://eksctl.io/usage/schema/#nodeGroups-tags) are pretty limited so I suggest adding something to the docs like @Callisto13 suggested

[2021-01-29 11:41] Callisto13 commented on #3177
Thanks for reporting this @PierreBeucher, and thanks for the thorough repro 🚀

If you have a fix in mind, we are happy to accept PRs, otherwise the team will get to this asap.

[2021-01-29 11:59] Callisto13 commented on #3177
Looks like it went in with https://github.com/weaveworks/eksctl/pull/2731

[2021-01-29 13:23] #3177 closed

[2021-01-29 13:24] Callisto13 commented on #3177
The fix will be available in 0.38.0

[2021-01-29 15:05] tkms0106 commented on #2876
@Callisto13 @michaelbeaumont Oh I didn't notice that point because I always read "[Config file schema](https://eksctl.io/usage/schema/)" page first, recently.

And I found that the description of tagging is already in "[EKS Managed Nodegroups](https://eksctl.io/usage/eks-managed-nodes/#feature-parity-with-unmanaged-nodegroups)" page.

https://github.com/weaveworks/eksctl/blob/9e00123896fa31493b617

[2021-01-29 15:06] aclevername commented on #2921
Thanks, I've done some digging and haven't been able to get to the bottom of whats caused this issue. However I think the easiest solution is to add support for parsing YAML templates in eksctl. I've opened a PR to address this https://github.com/weaveworks/eksctl/pull/3170

[2021-01-29 15:14] aclevername commented on #2946
I looked into this, I don't think we can reduce the number of Cloudformation calls at the moment. We get the stack for each nodegroup as we need to look into it to see if it's a nodegroups thats Managed or not, you can't detect this from the name. An alterntive would be to lookup in Kubernetes, but this would lean away from our approach of treating Cloudformation as the source of truth so I don't

[2021-01-29 16:03] eins commented on #1562
This error bug saved me.

I had this issue with a cronjob only. it worked well from a shell.
I added the full path in ~/.kube/config and it worked

[code]

Thanks

[2021-01-29 16:04] michaelbeaumont commented on #2876
Sure, go for it!

[2021-01-29 17:28] aclevername commented on #2237
I'm going to play around with Logrus, go-kit/log and Zap. I will update this comment with the findings

## Logrus
Example Logrus output:
![Screenshot 2021-01-29 at 17 25 33](https://user-images.githubusercontent.com/19669095/106307385-32ddb700-6257-11eb-8f5c-27fe430f444a.png)

Cons:
- No new features getting added, but its still getting bug fixes and security patches
- No setting of colors. It mig

[2021-01-29 18:39] mikestef9 commented on #3033
Confirmed this is resolved with eksctl 0.37.0. Thanks!

[2021-01-30 02:12] #1144 closed

[2021-01-30 02:12] #1133 closed

[2021-01-30 04:58] neelakansha85 commented on #1141
Can we please reopen this abs have discussion or priority set for it? It will definitely be helpful in many cases.

[2021-01-31 02:14] #1075 closed

[2021-01-31 02:14] #1073 closed

[2021-01-31 02:14] #1058 closed

[2021-01-31 02:14] #1048 closed

[2021-01-31 02:15] #991 closed

[2021-01-31 02:15] #950 closed

[2021-01-31 02:15] #921 closed

[2021-01-31 02:15] #906 closed

[2021-01-31 02:15] #905 closed

[2021-01-31 02:15] #853 closed

[2021-01-31 02:15] #849 closed

[2021-01-31 20:17] cym0301 commented on #3009
Hi all,

I am having the same issue that a GPU node group can be added to a cluster but the node is not joining the cluster.
I created a nodegroup with ssh access and then I manually scaled it up to 1 node with eksctl command. After that, I found that kubelet was not running and I had a quick check of log using journalctl and found the following:
![image](https://user-images.githubusercontent.com/

[2021-02-01 02:16] #811 closed

[2021-02-01 02:16] #778 closed

[2021-02-01 02:16] #747 closed

[2021-02-01 02:16] #699 closed

[2021-02-01 02:16] #696 closed

[2021-02-01 02:16] #683 closed

[2021-02-01 02:16] #637 closed

[2021-02-01 02:16] #636 closed

[2021-02-01 02:16] #586 closed

[2021-02-01 02:16] #474 closed

[2021-02-01 02:16] #448 closed

[2021-02-01 02:16] #440 closed

[2021-02-01 02:16] #417 closed

[2021-02-01 02:16] #274 closed

[2021-02-01 02:16] #199 closed

[2021-02-01 02:16] #188 closed

[2021-02-01 02:16] #109 closed

[2021-02-01 02:16] #108 closed

[2021-02-01 02:16] #107 closed

[2021-02-01 07:51] PierreBeucher commented on #3177
Great, thanks for your reactivity !

[2021-02-01 10:12] Callisto13 commented on #2946
Gah that's a bummer 😞  thanks for keeping on top of this.

[2021-02-01 10:12] #2810 closed

[2021-02-01 11:56] aclevername commented on #2237
@weaveworks/eksctl-reviewers thoughts?

[2021-02-01 12:05] Callisto13 commented on #2237
Nice research @aclevername 🎉

For me the choice seems a toss-up between `logrus` and forking kris-nova's. Logrus already has the features we need, so I am not too worried that it is not getting new features all the time, and it is a widely used logger so the format is one most people are used to reading. Lazy part of me says just use Logrus 🤷‍♀️

Gokit is pointless and Zap's spacing, whatever the

[2021-02-01 14:47] aclevername commented on #3155
Hey @RamazanKara , I tried to recreating this with the following config:
[code]

It deployed successfully and the CoreDNS pods have successfully scheduled onto fargate
[code]

[code]

[code]

Do you have the full log output you can provide?

[2021-02-01 16:04] aclevername commented on #2237
Yeah I think the big thing for all these packages is that they are for logging in services, our CLI use case makes it slighly different. Having the colours helps a lot IMO.

I'm assuming there is someway to get rid of Zaps odd spacing, as it felt slightly better than Logrus in terms of customization, but very little in it tbh.

[2021-02-01 16:10] aclevername commented on #2921
Support for parsing YAML templates should be out in the next release this week. I'll leave this open until we know its fixed your problem @shkreios

[2021-02-01 16:31] RamazanKara commented on #3155
Hi @aclevername. In comparison to your config we have it running on eu-central-1 with on an already created private vpc. Could it be coming from there?

Here is the Log Output of the error. The CFN Script which comes out of it runs perfectly fine. We can not try to use eksctl --fargate because we have permissionboundaries in place:

}
2021-01-26T20:47:28Z [ℹ]  created Fargate profile "dev" on EKS

[2021-02-01 16:33] RamazanKara commented on #3155
Would you need a certain part of the verbose logs? As its quite long and I am not sure of the security implications on our account structure, I would give you certain parts thats needed.

[2021-02-01 16:38] aclevername commented on #3155
This was my first thought, but Fargate just relies on having private subnets to work, so it should be fine. It also states in the docs that `eu-central-1` is supported https://docs.aws.amazon.com/eks/latest/userguide/fargate.html.

[2021-02-01 17:24] RamazanKara commented on #3155
Fargate works for us, the issue is more related to that for some reason eksctl does not try to implement anything to patch coredns to work with  ec2.  This step comes after Cloudformation which is generated from the config has been deployed successfully.  We can get it running ourselves when we take the generated Cloudformation Script and patch Core DNS manually.

[2021-02-01 17:44] aclevername commented on #3155
Do you mean `for some reason eksctl does not try to implement anything to patch coredns to work with fargate`?

I'm slightly confused by the log output. It indicates it has patched the coredns deployment to run on fargate, but that the pods of the deployment are still trying to get scheduled onto EC2

[code]

Looking at the code we only patch the deployment, as the pods should get automatically re

[2021-02-01 17:45] #3147 closed

[2021-02-01 17:47] aclevername commented on #3155
I have managed to reproduce it by duplicating your setup in `eu-central-1` with 3 private subnets

[2021-02-01 19:26] RamazanKara commented on #3155
Okay, glad this is recognized as issue.

[2021-02-02 02:12] #559 closed

[2021-02-02 02:12] #549 closed

[2021-02-02 02:12] #544 closed

[2021-02-02 02:12] #514 closed

[2021-02-02 02:12] #509 closed

[2021-02-02 02:12] #483 closed

[2021-02-02 06:29] sandan opened #3188 "question on tagging subnets in ConfigFile during create cluster"
Is it possible to tag subnets in eksctl when creating a cluster from a config file? I'd like to be able to tag my pre-existing private subnets to enable auto-discovery for elb. Something like:
[code]
The ClusterConfig above specifies adding the tag to both subnets. Is there a way to do this with other subcommands in eksctl if not `create cluster`?

[2021-02-02 08:13] cPu1 commented on #3188
@sandan tagging pre-existing subnets is not supported. When you supply your own VPC and subnets, you are responsible for tagging and setting any required attributes (like `Auto-assign public IPv4 address`). The list of standard requirements is outlined here: https://eksctl.io/usage/vpc-networking/#use-existing-vpc-other-custom-configuration

[2021-02-02 11:49] cPu1 commented on #3188
@sandan closing this for now, please open a new issue if you have more questions.

[2021-02-02 11:49] #3188 closed

[2021-02-02 11:49] aclevername opened #3190 "Invalid values provided for CloudFormation `UpdatePolicy` template"
**What were you trying to accomplish?**
Scale a nodegroup

**What happened?**
Scaling failed as we recently introduced parsing of templates using CloudFormation template struct, rather than just assuming the json/yaml response back from CloudFormation was valid https://github.com/weaveworks/eksctl/pull/3170. `failed to parse GetStackTemplate response: json: cannot unmarshal string into Go struct f

[2021-02-02 12:11] alan-ghelardi commented on #2364
+1 to include this feature in the upstream project. Ocean is widely used and having an out of the box integration with eksctl would be extremely valuable to keep a fluid GitOps workflow in the EKS/ocean management.

[2021-02-02 12:15] patstrom opened #3191 "Updating nodegroup subnets"
Hello! Our subnets have started to run out of IP addresses so I have created some new subnets, tagged them accordingly and
now I want to update the cluster config file so that existing nodegroups start using the new subnets as well. Is this possible? Or do I need to create completely new nodegroups?

Also, how would I go about updating the `vpc` config for the smoothest experience? Currently it lo

[2021-02-02 14:04] aclevername commented on #3155
This issue isn't a region related problem as the same 3 private subnet setup also reproduces the issue.

@RamazanKara doing some digging around it might be because we need to be able to connect to the outside world from within the private subnets. See: https://stackoverflow.com/questions/59649086/pod-stuck-in-pending-state-when-trying-to-schedule-it-on-aws-fargate

[code]

I found some AWS docs to

[2021-02-02 14:10] aclevername commented on #3190
I've opened https://github.com/weaveworks/eksctl/pull/3193 encase we don't fix this before we intend to release

[2021-02-02 14:15] aclevername commented on #3190
@weaveworks/eksctl-reviewers thoughts? I'm leaning with solution A atm as its a quick fix.

[2021-02-02 14:49] michaelbeaumont commented on #3190
I think better would be to replace them with `goformation` `types.Value` but solution A otherwise.

[2021-02-02 15:27] #3041 closed

[2021-02-02 15:52] aclevername commented on #3190
Do you mean setting the type as `types.Value` instead of `string` in solution A?

[2021-02-02 16:06] michaelbeaumont commented on #3190
sorry, yeah exactly

[2021-02-02 16:36] Callisto13 opened #3198 "Improve docs around using SSH keys"
They are pretty sparse. Plus options in schema are not described well.

[2021-02-02 16:41] Callisto13 commented on #3153
This is all good now 👍 .

[2021-02-02 16:42] #3153 closed

[2021-02-02 17:56] Callisto13 commented on #3079
This was marked as done but not closed, is there anything left to do here?

[2021-02-02 18:04] #3079 closed

[2021-02-02 20:13] brentley commented on #2851
I'm seeing this problem with 0.37 of eksctl also:

[ℹ]  AWS::EKS::Nodegroup/ManagedNodeGroup: UPDATE_FAILED – "Requested Nodegroup release version 1.18.9-20210125 is invalid. Allowed release version is 1.18.9-20210127 (Service: AmazonEKS; Status Code: 400; Error Code: InvalidParameterException; Request ID: fb75890f-462f-47c0-9874-1daffd0ef118; Proxy: null)"

https://gist.github.com/brentley/4cd71d

[2021-02-02 21:45] ebr commented on #1355
Currently `asgSuspendProcesses` is mentioned in the documentation, so it's expected to work. But it doesn't.

Would it be helpful to update the documentation while this is being fixed/implemented?

[2021-02-02 22:14] jwenz723 commented on #109
Would like to update my previous statement with new information that I'm aware of now. It still stands true today that you cannot install the Weave Net CNI on EKS master nodes. However, it is not true that this causes admission controllers to not function. You can get admission controllers to work by deploying the pods with host networking enabled.

[2021-02-03 05:03] acaire opened #3199 "Missing albIngress IAM Permissions for targetGroup reconcile"
Hi, we're using eksctl `0.36.1` - I'm not sure if it was intentional but #2914 (released in [0.35.0](https://github.com/weaveworks/eksctl/releases/tag/0.35.0)) removed some IAM permissions, pertinent to assigning targets to our targetgroups.

The two permissions we needed to fix the issue on our side were `ec2:DescribeInstanceStatus` and `tag:GetResources` apparent by these logs:
[code]
and

[code

[2021-02-03 09:53] michaelbeaumont commented on #2237
I'm (still) for Zap but now that we've considered forking, I think that's the better option.

[2021-02-03 10:15] #3190 closed

[2021-02-03 10:36] zafai commented on #916
We face the same problem that @danbeaulieu describes
Are there any plans to implement this?

[2021-02-03 10:53] Callisto13 commented on #3199
Hi @acaire thanks for reporting this. The updated ALB (now AWS Load Balancer Controller)  policies which went into that change were copied straight from AWS's [new policy doc](https://raw.githubusercontent.com/kubernetes-sigs/aws-alb-ingress-controller/main/docs/install/iam_policy.json), and I can see that those permissions were removed there so I didn't accidentally miss some 😄 .

Can I just conf

[2021-02-03 11:21] Callisto13 commented on #3191
Hey @patstrom, thanks for asking!

Our ability to update existing nodegroups is extremely limited currently, so you would indeed have to delete your existing nodegroups an create new ones in your new subnets. (@aclevername can correct me if I am wrong about this).

As for detailing your new subnets in the spec, we recently improved this area of the spec so that you can provide arbitrary keys in th

[2021-02-03 11:41] patstrom commented on #3191
Hey!

How does the arbitrary keys work with default subnets? Right now (with the subnet config in the OP) I do not specify a subnet at all for the nodegroups. If I were to replace the current subnets with the new one and then use `eksctl create nodegroup` (while also renaming the nodegroups, of course) would that work?

When exactly is the `vpc.subnets` config used? Only locally and when creating

[2021-02-03 12:08] aclevername commented on #3191
Hey @patstrom

By default the nodegroups are assigned to use all of the public subnets provided. You can choose to limit a nodegroup to a set subnets or an AZ under the nodegroup configuration, [docs](https://eksctl.io/usage/vpc-networking/#use-existing-vpc-other-custom-configuration). For example:

[code]

I don't believe so. Looking at a nodegroup I've created it uses the cluster cloudformation

[2021-02-03 12:16] patstrom commented on #3191
Alright, that is quite troubling for my situation.

Do note that the VPC itself is not managed by eksctl. I have re-used an existing one. Nor has it created the any of these subnets. I can see that it has specified the `SubnetsPrivate` "variable" in CloudFormation though.

So how would I go about updating the subnets? I suppose I could do with just adding more subnets to the existing list but it s

[2021-02-03 13:12] michaelbeaumont commented on #3191
Unfortunately you can't update the subnets registered with the cluster. https://github.com/aws/containers-roadmap/issues/170 is tracking that. Some comments there https://github.com/aws/containers-roadmap/issues/170#issuecomment-469371567 suggest that it's possible to launch nodes in subnets not registered with the cluster but it may be a bit of a hassle to have it work correctly.

@aclevername is

[2021-02-03 13:13] patstrom commented on #3191
And manually editing those will actually work? And not break something unexpected?

[2021-02-03 14:18] michaelbeaumont commented on #3191
I'm pretty sure it will work _assuming_ you get past the general issues around using nodes in subnets the _cluster_ isn't using as discussed in the containers-roadmap issue, which I am definitely not sure will work and have no experience with. Changing the CFN stack will only get around the `eksctl` issue with using subnets the _stack_ doesn't know about. I.e. even if the containers-roadmap issue

[2021-02-03 14:31] acaire commented on #3199
Ah interesting! Quite possibly magic on our side then, appreciate the insight thanks @Callisto13! Let me investigate further and I'll circle back with my findings.

[2021-02-03 14:36] patstrom commented on #3191
Alright, thank you for the assistance!

[2021-02-03 14:36] #3191 closed

[2021-02-03 15:35] RamazanKara commented on #3155
Hi @aclevername we actually have NAT Gateway Access. we have 0.0.0.0 routed on a Transit Gateway to a NAT Gateway.

[2021-02-03 15:37] RamazanKara commented on #3155
Don't know why NAT Gateway Access would be responsible for Fargate Selector. We can create Fargate Containers on a test environment through ecs perfectly fine.

[2021-02-03 16:15] aclevername commented on #3155
@RamazanKara could you expand upon your VPC setup, does it only contain the 3 private subnets?

When I reproduced this (or a tleast caused the same error to occur, perhaps a different way) I created a new VPC, added 3 private subnets and created the clusters using the config you used with my VPC values. I observed the following:
- The CoreDNS `Deployment` correctly has the `eks.amazonaws.com/compu

[2021-02-03 16:23] RamazanKara commented on #3155
Hi,

our setup is a VPC with 3 Subnets running a NAT Gateway through a Transit Gateway. It has endpoints for S3 and DynamoDB and the eksctl has a permissionsboundary attached. I think that is acutally all. The Cloudformation Scripts run successfully. We observe the same stuck operation. If you need any further info, feel free to request.

[2021-02-03 16:41] brentley opened #3201 "upgrading cluster managed nodegroup results in error, showing version mismatch"
**What were you trying to accomplish?**
I was running the command:
[code]

**What happened?**
The upgrade failed. The relevant error appears to be:
[code]

**How to reproduce it?**
- Begin by creating a 1.17 cluster, including a managed nodegroup (I was using us-west-2 if that matters)
- Upgrade the control plane
- upgrade the add-ons
- run the command above to upgrade the managed nodegroup
-
If u

[2021-02-03 16:48] aclevername commented on #3155
Do you see any logs in cloudwatch for fargate?

[2021-02-03 16:53] brentley commented on #3201
I'm not sure if it's noteworthy, but the `aws eks` way of upgrading the nodegroup does work:
[code]

[2021-02-03 16:56] aclevername commented on #3201
Thanks for opening the issue @brentley, couple questions:
1. did you create the cluster  & nodegroup with eksctl or directly using the EKS api?
2. Can you provide the full log output for the `upgrade` command?

Thanks!

[2021-02-03 16:58] brentley commented on #3201
I created the cluster using eksctl (I'm the maintainer of eksworkshop.com and was reviewing a PR, so the cloud9 environment + cluster was freshly created)

the full log output is attached as a gist in the original issue.

[2021-02-03 17:00] RamazanKara commented on #3155
I have logs for kube-apiserver, controller-manager,  api-server-audit, authenticator and scheduler, but no specific logs for Fargate so far.

[2021-02-03 17:10] RamazanKara commented on #3155
I will try to manually patch CoreDNS and see where that leads me. Will keep you updated.

[2021-02-03 17:13] aclevername commented on #3201
Thanks @brentley , sorry I blurred past the provided config 😄 . I'm trying to reproduce locally now.

I didn't actually know how we determined what value to use when issuing an ugprade, taking a look at the code it appears we query SSM to discover the latest available version:
https://github.com/weaveworks/eksctl/blob/20b7906f92a04bea20893cd3535ee3e818af4799/pkg/managed/service.go#L323-L336

[2021-02-03 17:19] rtripat commented on #3201
This is an issue when certain (internal) customers/accounts specify release version instead of letting the EKS API chose it for them. @aclevername is there a strong reason behind eksctl querying SSM parameter to set the release version to MNG API?

[2021-02-03 17:23] aclevername commented on #3201
👍  thanks

Since we use CloudFormation to trigger the upgrade we have to specify the version in the CloudFormation template to trigger the upgrade, we don't hit the EKS api directly. I wasn't around when this was implemented so I'm not sure what alternative methods there are for querying AWS to discover the latest version.

[2021-02-03 17:27] aclevername commented on #3201
@brentley just an FYI manually upgrading the nodegroup leaves the CloudFormation template out of date, which *might* lead to problems down the line if we rely on the value in the template anywhere else in the code

[2021-02-03 17:34] brentley commented on #3201
That makes sense, and I wasn't aware that I was on any internal list... so that explains it. Still though, I think a move away from cloudformation here might make sense. querying cloudformation as a source of truth wouldn't be as strong as querying the eks api for the current version info.

Still, though... I think this discussion might warrant moving this from a bug to maybe a feature request?

[2021-02-03 17:53] aclevername commented on #3201
We use CloudFormation quite extensively to handle all of the AWS resources we create, I think its unlikely we would move away from it unless we had a lot of good reason.  How much we use the CloudFormation template as a source of truth is an area that has potential to change, especially given how easy it is to make changes manually in the EKS console.

I think thats a reasonable feature request, a

[2021-02-03 18:20] #2964 closed

[2021-02-03 19:14] rtripat commented on #3201
We are re-evaluating if Brent's account needs to be part of this internal customer list and keep it as minimal as possible.

[2021-02-03 20:26] RamazanKara commented on #3155
@aclevername CoreDNS gets scheduled to fargate if I patch it manually with steps described here: https://docs.aws.amazon.com/eks/latest/userguide/fargate-getting-started.html . ```Normal   Scheduled        50s                fargate-scheduler  Successfully assigned kube-system/coredns-f9798b764-5dtn4 to fargate-ip-10-44-84-168.eu-central-1.compute.internal```
 So I can confirm fargate pods work on

[2021-02-04 01:56] #2633 closed

[2021-02-04 01:56] #1977 closed

[2021-02-04 01:56] #1576 closed

[2021-02-04 07:50] greenu commented on #1070
/reopen

This issue causes Kubernetes API unreachable when someone without proper k8s permission (but still AWS Admin) trying to delete cluster.
It's unreachable even for AWS Console. Seems some part of cluster, such as SG, is being deleted before fail in first iteration?

Re-run:

[2021-02-04 09:17] michaelbeaumont commented on #1070
Hi, what exactly do you mean by "it's unreachable even for AWS console?"

[2021-02-04 09:18] michaelbeaumont commented on #1977
The ordering of the fields in a YAML file has no meaning so this wouldn't have been because of that change. Please report back if this is still an issue though!

[2021-02-04 09:31] aclevername commented on #3155
Glad its fixed. Could you expand upon what exactly you did? I got the impression from the previous response that you had observed that the deployment had been patched to use fargate, so I'm not sure what you mean when you say you patched it manually?

[2021-02-04 09:32] greenu commented on #1070
In AWS EKS Web UI console you can see warnings that it unable to reach Kubernetes API and query resources from there.
It is possible to delete cluster from EKS web UI or delete CFN created by eksctl. Make sure no cluster-created entities left in VPC, such as ELB. But cluster deletion will take significant amount of time and could timeout, in this case re-run may help.

[2021-02-04 10:16] michaelbeaumont commented on #3095
More improvements:
#3202
#3112

[2021-02-04 10:23] tommy-sho opened #3203 "Set appropriate name to ASG created by managed nodegroup"
**What feature/behavior/change do you want?**

Set meaning full Auto Scaling Group name to ASG created by managed nodegroup.

**Why do you want this feature?**

when I created ASG with self managed node group, eksctl adds same name of nodegroup to ASG. (like nodegroup-1-XXX)
But when I created ASG with self managed node group, eksctl adds non-meaning name to ASG. (like eks-XXXXXXX)

I expected to

[2021-02-04 10:31] michaelbeaumont commented on #3203
@tommy-sho Unfortunately, `eksctl` has no control over this, the ASG is created internally by AWS.

[2021-02-04 10:31] #3203 closed

[2021-02-04 10:58] RamazanKara commented on #3155
I wouldnt say its really fixed considering I have to patch manually and eksctl fails. Same Error that the CoreDNS still has selectors for "ec2" is still valid.

What I did was patch the selector manually to make it work so I executed the following kubectl command:
[code]

This removes the ec2 compute type. Afterwards its gets scheduled successfully to fargate instances.

[2021-02-04 11:36] michaelbeaumont commented on #3155
Might be related to https://github.com/weaveworks/eksctl/pull/2355 which fixed https://github.com/weaveworks/eksctl/issues/2268

[2021-02-04 12:11] Callisto13 commented on #2963
Note: when coming round to remove v1 stuff, simply `rg "FLUX V1 DEPRECATION NOTICE"`.

[2021-02-04 12:20] aclevername commented on #3077
Initially I was unsure if we wanted to add support for unmanaged nodegroups, but given the EKS API can't create managed windows nodes, being able to do that on an existing clusters seems quite valuable and a good use case for using eksctl on an existing cluster.

[2021-02-04 12:44] #2588 closed

[2021-02-04 14:42] dbluxo opened #3208 "Creating managed nodegroups with custom AMI is failing since 0.37.0"
**What were you trying to accomplish?**

Creating managed nodegroups with custom AMI is failing since eksctl version `0.37.0`. It works with `0.36.2`.

**What happened?**

When creating a cluster with managed nodegroups and custom AMI, the EKS control plane is created but the nodegroups fail to join the cluster:

[code]

**How to reproduce it?**
Create a cluster with managed nodegroups and custom

[2021-02-04 14:45] #2237 closed

[2021-02-04 15:02] michaelbeaumont commented on #3208
Hi, can you please include the exact config you're using?

[2021-02-04 15:19] dbluxo commented on #3208
Hi @michaelbeaumont, sure:

[code]

[2021-02-04 15:22] aclevername opened #3209 "Delete cluster should delete the stacks even if the cluster doesn't exist"
**What were you trying to accomplish?**
Delete a cluster that failed to create as the kubernetes version wasn't supported, but the stack did get partially created.

**What happened?**
I followed the log advice in the output
[code]

And get the following error:
[code]

The stack still exists
**How to reproduce it?**
Create cluster with invalid version and try to delete it, or create cluster and man

[2021-02-04 15:57] michaelbeaumont commented on #3208
@dbluxo is your AMI based on Amazon Linux 2/the EKS recommended AMI?

[2021-02-04 16:15] dbluxo commented on #3208
@michaelbeaumont yes!

`#!/bin/bash` did the trick, with this it works!

[2021-02-04 16:23] michaelbeaumont commented on #3208
@dbluxo Great to hear, sorry that this broke. It's sort of a lucky/unlucky coincidence that it worked in this case before `0.37.0` and the bug was "fixed" in #3063 in order to fix https://github.com/weaveworks/eksctl/issues/3033

[2021-02-04 16:56] dbluxo commented on #3208
That means as it is currently under `0.37.0` should be so and as a user you have to insert `#!/bin/bash` in the `overrideBootstrapCommand`?

[2021-02-04 17:05] aclevername commented on #3201
I'm going to close the issue, feel free to open any relevant feature request issues 😄

[2021-02-04 17:05] #3201 closed

[2021-02-04 17:14] michaelbeaumont commented on #3208
Yeah, the `overrideBootstrapCommand` represents the entire user data, in accordance with [the documentation here](https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html#launch-template-custom-ami).

[2021-02-04 17:19] dbluxo commented on #3208
Ok, I see, thank you! But then the examples should be also adjusted:

- https://github.com/weaveworks/eksctl/blob/0.37.0/examples/15-managed-nodes.yaml#L43
- https://github.com/weaveworks/eksctl/blob/0.37.0/examples/22-managed-nodes-launch-template.yaml#L32

Should I create a PR for it?

[2021-02-04 17:19] aclevername commented on #2730
Hey @JoeyG1973 , the error back indicates that the actual cidr block used when the VPC was created is different to the provided, can you verify that you've set the correct value? Also might be worth taking a look at example config we have:

https://github.com/weaveworks/eksctl/blob/main/examples/04-existing-vpc.yaml

[2021-02-04 19:14] michaelbeaumont commented on #3208
True! Sure a PR would be very welcome

[2021-02-04 21:48] #3208 closed

[2021-02-04 22:33] darnone opened #3213 "How to configure ports 6783 and 6784 with NodeGroup SG?"
.

**What help do you need?**

[2021-02-04 22:49] darnone commented on #3213
I am sorry. It looks like my write up didn't take so I will try again.

I have a question around the step "edit instance security group to allow UDP, TCP on 6873, 6874 ports".  For AWS EKS, those rules go in the security group with the name of eksctl-<clustername>-cluster-ClusterSharedNodeSecurityGroup. See attached image:
![weavenet-ports](https://user-images.githubusercontent.com/6305538/1069641

[2021-02-05 00:07] rothgar commented on #1407
Just to close the loop on this. I was able to test the `--profile` flag and it works exactly as expected and I even missed that it's in the `--help` output for `write-kubeconfig`

[code]

Running this works great :+1:

[code]

[2021-02-05 07:52] m1hanick opened #3214 "VPCEndpointS3: CREATE_FAILED – Private DNS can't be enabled because the service com.amazonaws.us-east-1.s3 does not provide a private DNS name"
Hi,

Trying to create a new fully private EKS cluster with EKSCTL 0.32.0
Got the following error:
[code]

CloudFormation template contains this:
[code]

Firstly, it is surprising that it tries to create S3 endpoint with **VpcEndpointType** = '**Interface**', it was always  '**Gateway**' before.

As I've got, API call DescribeVpcEndpointServices returns two services for the S3

[code]

and maybe be

[2021-02-05 08:04] m1hanick commented on #3214
One notice, that might be important.
I've spoken with our AWS contact, and he said that S3 Interface-endpoint was introduced just recently.
It might be required to add a fix to overcome this new 'feature'.

[2021-02-05 09:40] michaelbeaumont opened #3215 "Upgrade to aws-sdk-go-v2"
[V2 of the aws-sdk-go](https://github.com/aws/aws-sdk-go-v2) [reached GA on 19.01.21](https://aws.amazon.com/blogs/developer/aws-sdk-for-go-version-2-general-availability/) and it looks like they've simplified the client, gotten rid of excessive pointer usage, cleaned up the package organization and improved error types. `v1` isn't scheduled for deprecation yet however but it seems like a worthwhi

[2021-02-05 09:47] michaelbeaumont commented on #3032
Give us a break stalebot!

[2021-02-05 10:00] Callisto13 commented on #3032
Stalebot has zero chill

[2021-02-05 10:04] #3209 closed

[2021-02-05 10:04] michaelbeaumont commented on #2691
Hi @andyli, I'm looking more into this but one thing perhaps worth trying would be leaving out `--node-ami auto` and using the default of SSM to get the recommended AMIs.

[2021-02-05 10:22] cPu1 commented on #3213
Hi @darnone , to enable all nodegroups to communicate with each other on Weave Net ports, the `ClusterSharedNodeSecurityGroup`'s must include the `ClusterSharedNodeSecurityGroup` as source for both rules. In your attached screenshot, the source should be the `eksctl--cluster-ClusterSharedNodeSecurityGroup` itself.  However, in the default setup, eksctl allows communication between nodegroups on al

[2021-02-05 10:24] m1hanick commented on #3214
BTW, here is the alert that the new PrivateLink S3 Interface endpoint does not support the PrivateDNS
 https://docs.aws.amazon.com/vpc/latest/userguide/vpce-interface.html#vpce-private-dns

[2021-02-05 10:27] michaelbeaumont commented on #1407
Thank you for checking back @rothgar! Closing this now.

[2021-02-05 10:27] #1407 closed

[2021-02-05 13:42] composer22 commented on #2690
This is still an issue w/ eksctl versions 0.36.2, 0.37.0.

Config similar to OP's

- vpc id provided
- private subnets
- but ONLY using fargate.

Tested with EKS version 1.15 and 1.18
VPC has DNS hostnames and resolution enabled
Nat gateways are assigned to private subnets and available

References:
https://docs.aws.amazon.com/eks/latest/userguide/fargate-getting-started.html
https://github.com/we

[2021-02-05 15:18] darnone commented on #3213
@cPu1, thanks for answering. That is what I was looking for. So the ports are necessary for worker node to worker node communication as opposed to cluster to nodegroup. That's why it points to itself and worker instances then have the same security group added.  Make sense. It might be worthwhile to add that info to the install and configure do page. "edit instance security group to allow UDP, TCP

[2021-02-05 15:24] cPu1 commented on #3133
The error message has been improved to reflect that the region isn't supported. We have notified AWS about the issue, however, since this isn't a bug in eksctl, I'm closing it.

[2021-02-05 15:24] #3133 closed

[2021-02-05 15:28] cPu1 commented on #3213
That's correct.

Agreed. I'll raise it with the Weave Net team. Thanks!

[2021-02-05 15:30] darnone commented on #3213
Just one more clarification. Is it for node to node communication or nodegroup to nodegroup communication or both. If I understand this correctly we can close this. Thanks for answering.

[2021-02-05 15:32] cPu1 commented on #3213
The `ClusterSharedNodeSecurityGroup` is added to all nodegroups created via eksctl, so it essentially enables node to node communication, including across nodegroups because the backing nodes / EC2 instances have the same security group attached.

[2021-02-05 16:27] saada commented on #3215
Looked into this and here are a few of the blockers to achieving this:

- [ ] https://github.com/aws/aws-sdk-go-v2/issues/786
- [ ] https://github.com/aws/aws-sdk-go-v2/issues/1114

[2021-02-05 17:04] michaelbeaumont commented on #3215
Sounds like for aws/aws-sdk-go-v2#786 we'll "just" need to manually write out the interfaces we use.

[2021-02-05 18:02] saada commented on #3215
Discussed with @richardcase and he mentioned using something like https://github.com/vburenin/ifacemaker generate the interfaces for us

[2021-02-05 18:04] richardcase commented on #3215
(or something similar to that ifacemaker)

[2021-02-05 20:54] composer22 commented on #3155
Confused at the workaround. Can you expand any other info

Still have same issue in my troubleshooting today:

us-West2

Validated 2 private subnets have nat gateways ex:
[code]

Noticed pod annotations had **compute-type: ec2** (1.18)
But deployment had compute-type: fargate

Tried

[code]

which cause pods to pickup compute-type: fargate

Issue still there.

Ran patch and restart:
[code]
Issue s

[2021-02-05 21:47] RamazanKara commented on #3155
Hi @composer22.

We have used 2 workarounds so far which worked for us.

One is the manual patching that you described. We used this exact same approach and it worked for us. The other workaround was to use a temporary managed nodegroup which we deleted afterwards.

You might wanna use ```kubectl describe pods -n kube-system``` to see what is going on. Usually if the compute type is fargate on Cor

[2021-02-06 06:37] joshdlee commented on #2364
+1 I would love to see Ocean support @markramm

[2021-02-06 10:18] composer22 commented on #3155
Thanks @RamazanKara I tried both these and they didn't work. Will keep hacking at it.

[2021-02-07 03:03] lobocode commented on #3214
@m1hanick I have exactly the same problem. And I noticed that this isn't a problem in eksctl but in the AWS API. Example, if we return with the release version of eksctl (for example, version 0.35.0), the error persists.

One possible solution:

run this yaml without the
[code]

That is, create public and then apply the following configuration:

[code]

Apparently it works. However, it spoils auto

[2021-02-07 14:20] composer22 commented on #3155
@RamazanKara

Problem solved. Related to a DNS configuration issue in the VPC, not the coredns container itself.

Cheers

c22

[2021-02-07 14:21] composer22 commented on #2690
problem solved. related to DNS config issue in vpc, not related to coredns

[2021-02-07 14:21] RamazanKara commented on #3155
Hi @composer22 can you eloborate? Did the scheduling problem also got solved?

[2021-02-08 01:43] acaire commented on #3199
Thanks @Callisto13 - After investigating it's purely due to the fact we're still running aws-alb-ingress-controller v1, and the new IAM policy you referenced only works for v2 as per: https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1302#issuecomment-717643215

Happy to close off this issue as we've mitigated it on our side, but more folks might be burnt by it (https://github

[2021-02-08 07:24] m1hanick commented on #3214
@lobocode thanks for the advice, sure I know that we can create public clusters still, cause they do not require private link endpoints.
At this point, I believe we could wait a bit for the EKSCTL team to add the fix. I have no golang  expertise, but it seems that one additional check should be added somewhere into **vpc_endpoint.go** file to make it use S3 Gateway endpoint as it was recently.

[2021-02-08 09:12] imbohyun1 opened #3220 "Launch Template of managed node group created by eksctl doesn't have specified instance type"
**What were you trying to accomplish?**

Creating managed node group with ClusterConfig(no launch template) via eksctl.

**What happened?**

When creating the managed node group on AWS console without launch template setting, it creates launch template, managed node group and other related resources. If look at the launch template, it has instance type setting such as 't3.small' or 'c5.large', whi

[2021-02-08 09:38] Callisto13 commented on #3199
Thanks for digging into this @acaire, and yes it is very useful to have this ticket here in case others are affected 🙏 . Out of interest, are you using our app-dev quickstart profile to deploy the LBC or doing it manually?

[2021-02-08 09:42] cPu1 commented on #3220
Hi @imbohyun1, eksctl sets the instance types in the `CreateNodegroup` API call, and not in the eksctl-generated launch template. This is a design decision that allows setting multiple instance types for a nodegroup, and not a bug in eksctl. Hope that helps. Please feel free to open a new issue if you have any more questions.

[2021-02-08 09:42] #3220 closed

[2021-02-08 10:23] cPu1 opened #3224 "Use SSM Parameter Store to query Ubuntu worker node AMIs"
Canonical now publishes information about the latest Ubuntu Images into SSM parameter store. Investigate whether they publish Kubernetes worker node images for Ubuntu and switch to the SSM resolver in eksctl for `Ubuntu1804` and `Ubuntu2004`. This will help deprecate and remove the `auto` image resolver in eksctl.

[2021-02-08 10:24] cPu1 commented on #3213
Closing the issue, please feel free to open a new issue if you have any more questions.

[2021-02-08 10:24] #3213 closed

[2021-02-08 11:44] lobocode commented on #3214
@m1hanick I've a question: if it is a bug in eksctl, in theory, using an old version would solve it. Or not!? For this reason, it seems to me that the problem is different. Anyway, I'm going to analyze the `vpc_endpoint.go` file and suddenly, I can find something wrong ... suddenly I can help. Well, I need to use clusters with completely private subnets as well.

[2021-02-08 11:49] cPu1 commented on #3214
@lobocode, the fully-private cluster feature does more than just disabling the public endpoint for the API server. It also launches your nodegroups in fully-private subnets that have no route to an internet gateway (either directly or via a NAT gateway). In order to support this, it uses VPC endpoints. More details available here: https://eksctl.io/usage/eks-private-cluster/

[2021-02-08 12:38] lobocode commented on #3214
Yes I understand. Including if we create the vpc endpoints manually, it is useless. Because in the execution of the recipe (cloudformation or other), it removes all the endpoints created manually, tries to recreate and gives exactly this failure. I am also suffering from the same problem. I'm trying to approach it via a bastion host.

[2021-02-08 12:45] m1hanick commented on #3214
@lobocode  thanks for your intention to help.

I conducted a small investigation, and it seems that EKSCTL does a `DescribeVpcEndpointServices` API call.
Then it selects by the service name and passes the result to the function which generates CloudFormation template.
And the thing is that for the S3 service (in my case 'com.amazonaws.us-east-1.s3' ) that API call returns two entities, one for ser

[2021-02-08 12:52] cPu1 commented on #3214
@m1hanick I was just typing the result from my investigation and saw your comment. Your analysis is spot-on. Additionally, this does not affect all regions as the `DescribeVPCEndpointServices` call appears to return items in a different order for `us-west-2`, where the gateway endpoint for S3 appears after the interface endpoint and ends up overwriting the preferred endpoint type for S3.

I'll pus

[2021-02-08 13:39] lobocode commented on #3214
I'm having this problem in sa-east-1 and us-east-1

[2021-02-08 14:30] #1355 closed

[2021-02-08 16:24] aclevername commented on #2690
i'm glad you managed to fix it @composer22. Could you expand upon exactly what was causing the problem and how you fixed it 😄 ? Thanks!

[2021-02-08 16:40] aclevername commented on #3095
I think CircleCI is now becoming a factor, times used to be under 10 mins consistently since the changes above but recently its been between 12-20 minutes

https://github.com/weaveworks/eksctl/pull/3230/checks?check_run_id=1856204643
https://github.com/weaveworks/eksctl/pull/3222/checks?check_run_id=1854644447

[2021-02-08 16:48] michaelbeaumont commented on #3095
I think it's "Saving cache" step that can take over 6 minutes if something has changed in the dependencies

[2021-02-08 18:30] darnone opened #3235 "Environment Variables in Eksctl"
Is it possible to reference environment variables in eksctl?  I am writing a bash script to deploy a cluster and I am trying to figure out how to reference environment variables in eksctl.  Is this possible?  If so, a how-to or example would be useful.

- David

[2021-02-08 18:31] darnone commented on #3235
I am talking about in am eksctl configuration file.

- David

[2021-02-08 18:38] paulbes opened #3236 "Introduction of add-ons breaks permissions boundary"
**What were you trying to accomplish?**
Creating a cluster after add-on support was introduced fails when permissions boundaries are set on the AWS account in which the cluster is being created.

Looking through the source code the problem was introduced by: https://github.com/weaveworks/eksctl/pull/2887/. The problem occurs because the `PermissionsBoundary` isn't added to this code: https://githu

[2021-02-08 18:56] michaelbeaumont commented on #3235
Hi, I think the best option is just to call `envsubst` on your template before calling `eksctl`

[2021-02-08 21:46] darnone commented on #3235
Yes I saw your answer on Slack (I think that was you).  Exactly what I was looking for and works like a charm.3

[2021-02-09 06:50] shinji62 opened #3237 "Mac Instance for node"
**What help do you need?**

I just want to know if people are using group node with mac1.metal instance, or  if EKS support mac instances

[2021-02-09 09:23] Callisto13 opened #3238 "Expose full Flux 2 bootstrap configuration"
https://github.com/weaveworks/eksctl/pull/3066 added basic experimental Flux 2 integration to `eksctl`. So far only a couple of `bootstrap` configuration options are passed through. This does not cover all use-cases, we need to expose more options.

We likely do not want a 1:1 mapping in `eksctl` config for all these options, and it would save us a lot of hassle if users could simply use Flux as t

[2021-02-09 10:12] Callisto13 commented on #1094
Did some digging into options, had a little chat out of band, summarising here:

The community wish for terraform comes from that common desire to manage all infrastructure across all envs and cloud providers in a similar way. Since users have Terraform recipes for all their other clouds, AWS being a special case is a bit annoying. Even inside the AWS ecosystem, eksctl can’t manage every type of r

[2021-02-09 10:42] #3161 closed

[2021-02-09 11:44] shkreios commented on #2921
Hey @aclevername,
I just wanted to know if there is already a date to which the release has been moved?

Thank you for your time

[2021-02-09 11:50] aclevername commented on #2921
Hey @shkreios we should be releasing today or tomorrow 😄

[2021-02-09 13:06] cPu1 commented on #3224
I could not find any information about Canonical publishing the latest Ubuntu Kubernetes worker node AMIs to SSM parameter store. [This blog](https://discourse.ubuntu.com/t/finding-ubuntu-images-with-the-aws-ssm-parameter-store/15507) has details on finding Ubuntu images with the SSM parameter store, but it is for general-purpose Ubuntu OS images, and not for Ubuntu Kubernetes worker nodes.

[2021-02-09 13:35] michaelbeaumont commented on #813
Remaining:
- [ ] [Incorrect use](https://github.com/golang/go/issues/32776#issuecomment-505607726) of `k8s.io/kubernetes` (see [previous attempt to fix](https://github.com/weaveworks/eksctl/pull/2316))

[2021-02-09 15:12] #3214 closed

[2021-02-09 17:08] cortiz opened #3243 "Unable to add a new nodegroup to a node , no output "VPC" in stack"
###  Unable to add a new nodegroup to a node
I'm unable to add a new nodegroup to a eksctl created cluster due

Error: getting existing configuration for cluster "development-cluster": no output "VPC" in stack "eksctl-development-cluster-nodegroup-t3a-xlarge-1a-development-cluster"

### eksctl create nodegroup -v 4 -f ../eksctl/supporting-apps-node-group.yaml

[code]
### Cluster created eksctl ver

[2021-02-10 01:55] #3016 closed

[2021-02-10 02:45] acaire commented on #3199
@Callisto13 ahh yes, we're managing it through other automation, so for all intents and purposes, manually 🙂

[2021-02-10 03:31] OneideLuizSchneider commented on #2846
Thanks @egel
Worked like a charm

[2021-02-10 07:57] zmarouf commented on #2366
Bump. What's the actual expected state? Will it be supported or should I just use a local/shared/extra attached security group for this on unmanaged nodegroups?
Thank you in advance for clearing this up! :)

[2021-02-10 10:04] Callisto13 opened #3245 "Dynamically set date in site footer"
Context in https://github.com/weaveworks/eksctl/pull/3231#pullrequestreview-586429010

[2021-02-10 10:34] Callisto13 commented on #3199
Okay cool 🙂 . The new ALB policies can be added via IRSA or on the node. The `albIngress` policy adds it to the node as an inline policy to be helpful when using the quickstart profiles, but if you are doing stuff with other automation you have the option of using IRSA instead ([eksctl docs for IRSA](https://eksctl.io/usage/iamserviceaccounts)).

I am gonna close this now, please reopen if eksctl

[2021-02-10 10:34] #3199 closed

[2021-02-10 10:36] cPu1 commented on #3243
@cortiz could you share the output from this command, redacting any sensitive information?

`aws cloudformation get-template --stack-name eksctl-development-cluster-cluster --region us-east-1`

Additionally, please share your ClusterConfig file that was used to create the cluster.

[2021-02-10 10:56] #3235 closed

[2021-02-10 11:38] aclevername opened #3246 "Clean up AWS resources after failed integration tests"
Our integration tests are flakey and often results in failed runs. This can result in large amounts of resources being left over. Lets setup a github action to nuke all resources from our AWS account periodically to prevent a build up of resources from occurring. There are two popular tools:

https://github.com/rebuy-de/aws-nuke
https://github.com/gruntwork-io/cloud-nuke

Neither appear to support

[2021-02-10 12:28] iainelder commented on #3034
I don't see the "+1" button on this request, so I'll comment here to show my support and mention my use case.

Interactively,

* Creating a cluster from scratch can take about 30 minutes.
* Deleting one can take about 5 minutes
* Creating and deleting a Fargate profile can take about 5 minutes

If you forgot to use `time` for the command and you're not using a fancy terminal prompt that does it fo

[2021-02-10 12:34] michaelbeaumont opened #3247 "Improve docs for IRSA (add wellKnownPolicies)"
At https://eksctl.io/usage/iamserviceaccounts/#usage-with-config-files add changes from #2837

[2021-02-10 14:39] cortiz commented on #3243
Sure.
Cluster Config
[code]

aws cloudformation get-template --stack-name eksctl-development-cluster-cluster --region us-east-1

[code]

[2021-02-10 16:51] #3042 closed

[2021-02-10 16:53] aclevername opened #3249 "Add docs for non-eksctl created clusters support"
We've expanded eksctl to support interacting with clusters it didn't create, lets document this.

Related issue: https://github.com/weaveworks/eksctl/issues/2174

[2021-02-10 18:12] #3034 closed

[2021-02-10 19:06] iainelder commented on #3034
@aclevername thanks!

Can we expect to see this in the next release?

[2021-02-10 19:08] aclevername commented on #3034
Yes! Should be out in the next release (currently planned for Friday)

[2021-02-10 19:25] darnone opened #3252 "Cannot create managed node group in company us-east-1 account."
I am trying to create a managed node group to a cluster with no existing node group - ie, I deploy the control plane with eksctl and then I deploy the node group.  In between, I am disabling the Amazon CNI and adding back jr Genie plugin and the Weavenet CNI. Then I add the node group. In both cases, I am deploying to an existing VPC, using Kubernetes 1.18, and  manageNodeGroups.  In my own person

[2021-02-10 19:32] nsaud01 commented on #2848
I'm not hitting the issue after upgrading to latest. Thanks!

[2021-02-10 19:32] #2848 closed

[2021-02-11 09:37] cPu1 opened #3253 "Refactor creation of security group ingress rules for unmanaged nodegroups"
The CloudFormation stack for unmanaged nodegroups uses a separate resource to represent each security group ingress rule. This is redundant and makes the CFN template longer, as the template contains a lot more resources and the security group ID is repeated in each rule.

Refactor the creation of security group ingress rules by attaching all rules directly to the `SecurityGroup` type. This would

[2021-02-11 09:52] cPu1 commented on #2366
We have decided to add support for `sourceSecurityGroupIds` for unmanaged nodegroups. There's no reason not to support it. This feature can be tracked in this PR: https://github.com/weaveworks/eksctl/pull/3254

[2021-02-11 10:18] iainelder commented on #215
Yes, so much yes.

But kubectl isn't actually a dependency of eksctl, is it? I wouldn't expect installing eksctl to also install kubectl.

As I understand it. the version of kubectl I need to be installed actually depends on the version of the cluster I'm interacting with, so I actually want these packages completely decoupled.

kubectl, all its versions, are available in Kubernetes' own repo.

Se

[2021-02-11 13:25] cPu1 commented on #3243
I noticed you have `EndpointPrivateAccess` enabled and `EndpointPublicAccess` disabled. Unless you're running the `create nodegroup` command from within the cluster's VPC, a peered VPC or using some other means like AWS Direct Connect, eksctl will be unable to reach the API endpoint. The error you're getting is unrelated but can you ensure the machine you're running commands from is able to reach

[2021-02-11 13:38] aclevername commented on #1631
Thanks for opening the issue @inductor. Just too clarify, you want to be able to attach policy arns to `FargatePodExecutionRole` eksctl creates?

[2021-02-11 13:44] inductor commented on #1631
@aclevername I think I clarified what I originally wanted to do in the very first message, though it's a very long time ago...

[2021-02-11 13:54] cPu1 commented on #1631
@inductor, the pod execution role that's passed to a Fargate profile is for giving the Fargate infrastructure access to the EKS cluster so that it can register with the cluster. Unlike node roles, the role specified for a Fargate profile's pod execution role cannot be assumed by the containers running in a Fargate pod. So even if eksctl attaches the policies, the Fargate pod still won't have the I

[2021-02-11 14:45] Callisto13 commented on #3237
Hi @shinji62 thanks for asking.

As far as I know, EKS does not support mac instances (and I believe mac EC2 instances are only supported in a couple of regions). I am not sure what plans AWS has for mac instances on EKS, but since mac instances are _very_ expensive to run, and since native mac OS containers are not really a "thing" (they are just linux containers running in a Hyve VM), having an

[2021-02-11 14:57] Callisto13 commented on #3236
Thanks for reporting this @paulbes, and yep we are very happy to accept a PR 👍 .

I _think_ I am leaning towards the first option suggested above. @aclevername I think you have most context on this area, do you have any strong opinions on the approach?

[2021-02-11 14:58] jlbutler commented on #3249
I can pick this up! Note we've made similar updates to the EKS User Guide already, and will keep these synced up moving forward.

[2021-02-11 16:22] aclevername commented on #3236
I think option 1 makes sense. I think I missed this during the initial implementation, my bad! I think this might also be a good time to merge the `builder/iam.go` code for creating serviceaccount roles and addon roles, as they originally differed at the start, but have slowly drifted back into becoming almost exactly the same thing.

I'm going to pick this up if thats alright @paulbes as this ref

[2021-02-11 16:29] paulbes commented on #3236
Thank you for your fast replies @Callisto13 and @aclevername! ☺️

If you are itching to do a refactor I will not be the one to stand in your way!

[2021-02-11 17:33] o6uoq commented on #1094
+1 for an `eksctl` Terraform Provider. Already established, fits into existing Terraform workflows and embeds `eksctl` rather then isolating from continued usage.

[2021-02-11 18:34] #2366 closed

[2021-02-11 18:34] cPu1 commented on #2366
The PR has been merged and it'll be out in the next release.

[2021-02-12 09:35] #2730 closed

[2021-02-12 10:50] Callisto13 commented on #3237
Gonna close this now, if you want more details on this I suggest asking in https://github.com/aws/containers-roadmap

[2021-02-12 10:50] #3237 closed

[2021-02-12 10:54] Callisto13 opened #3260 "Kubernetes v1.15 End of Support (May 3rd, 2021)"
1.15 reaches EOS in May, we should remove it once this happens on EKS' side.

Corresponding AWS ticket https://github.com/aws/containers-roadmap/issues/1253

[2021-02-12 21:23] t0rr3sp3dr0 commented on #3074
Hi @Callisto13,

I was only able to confirm that what you said was indeed the problem now.

Replacing
[code]
with
[code]
solve the problem.

Thanks for the help!

[2021-02-12 21:23] #3074 closed

[2021-02-13 20:48] akosveres commented on #1482
I had the exact same problem what fixed it for me was:
* I got the public IP of the NAT gateway and added that to the`publicAccessCIDRs`
* In the UI I changed the networking to `public and private`

[2021-02-14 04:09] TBBle commented on #1467
This issue hasn't mysteriously solved itself.

[2021-02-15 10:16] #3198 closed

[2021-02-15 13:57] kreempuff opened #3278 "`eksctl utils schema` generates incorrect schema for IAM ServiceAccounts"
**What were you trying to accomplish?**

I was moving all my workloads to use the IAM for service accounts feature.

**What happened?**

When using the schema generated by `eksctl utils schema` to validate the `iam.serviceAccounts` key, cluster commands fails with this error:

[code]

Looking at the generated schema `ClusterIAMServiceAccount` is defined as:

[code]

but in the eksctl code: [`Clust

[2021-02-15 15:41] darnone commented on #3252
Since I posted this question here, I thought I would answer the cause of the problem here as well.  Amazon suggests deploying EKS to a new VPC so it is clear how it is setup and for security reasons. In our case, we are trying to deploy to a VNC than is less than optimal. Our goal was to deploy an all private cluster behind a VPN.  The cause of our problem is DNS ad DHCP. Then a cluster is created

[2021-02-15 17:39] chaitanya-rafay opened #3281 "Unable to create managed nodegroup with bootstrap commands"
**What were you trying to accomplish?**
Create a cluster with managed nodegroup having bootstrap comands

**What happened?**
Control plane comes up but failed to bring up managed nodegroup with bootstrap commands

**How to reproduce it?**
Config File

[code]

**Logs**
AWS::EKS::Nodegroup/ManagedNodeGroup: CREATE_FAILED – "Nodegroup bootstrap failed to stabilize: [{Code: InternalFailure,Message: Am

[2021-02-15 17:46] michaelbeaumont commented on #3281
@chaitanya-user Can you please check the cloudinit output at `/var/log/cloud-init-output.log` on your nodes for more information about what's being run?

[2021-02-15 17:46] michaelbeaumont commented on #3281
Additionally, are you intentionally deleting `kubelet`?

[code]

[2021-02-15 17:49] chaitanya-user commented on #3281
@michaelbeaumont Yeah intentionally deleting `kubelet`

Nodegroup gets rolled back after the failure, cannot get the logs

[2021-02-15 17:56] michaelbeaumont commented on #3281
Can I ask why? `kubelet` is needed to join the cluster and it doesn't look like you're using a custom image with `kubelet` located somewhere else.

[2021-02-15 18:00] #3278 closed

[2021-02-15 18:03] chaitanya-user commented on #3281
@michaelbeaumont It has some other use case. Let me try with simple bootstrap commands and update you.

[2021-02-15 18:45] Morriz opened #3282 "add IAM group support for iamidentitymapping"
**What feature/behavior/change do you want?**

IAM group support to not have to add individuals as admins to a cluster.

**Why do you want this feature?**

Less management, more automation.

[2021-02-15 19:29] darnone opened #3283 "Setting clusterEnpoints to publicAccess: false, privateAccess:true times out deploying cluster"
I am using  bash script to automate the deployment of an EKS cluster with eskctl. When creating a cluster in EKS using eksctl and clusterEndpoints to publicAccess: false, privateAccess: true, the last step of deployment of updating the cluster hangs in the terminal. The cluster updates successfully but the output in the terminal "waiting for requested "EndpointAccessUpdate" in cluster "eksworkshop

[2021-02-16 08:45] michaelbeaumont commented on #3281
@chaitanya-user Any luck? Also be aware that `preBootstrapCommands` are run _before_ the bootstrap and do not replace it. For that you can use `overrideBootstrapCommand`.

[2021-02-16 10:42] #3247 closed

[2021-02-16 11:19] Callisto13 commented on #3282
Hi @Morriz, thank for making this request 👍

To help us understand and prioritise this feature, could you provided a bit more information? For example:
- Describe the UX you would like to see
- Explain what workaround (if any) you currently have to make in absence of this feature
- Provide any links to APIs, Docs etc in AWS

Please check out our [issue guide](https://github.com/weaveworks/eksctl/b

[2021-02-16 11:35] RamazanKara commented on #3155
Hi, dont want this issue to go stale. Is this something that has the chance to be worked on? I saw that one of the fixes to this was that it does not deploy to fargate without vpcdnshostnames enabled. But we have them enabled and get correct fargate-ip assignments, so I feel like this is a different issue.

[2021-02-16 14:55] aclevername commented on #2921
@shkreios `0.38.0` was released today and should hopefully fix your issue. Please let me know if it has and then we can close this issue 😄

[2021-02-16 15:02] aclevername commented on #3283
Hey @darnone thanks for opening an issue. Can you provide the full config and eksctl log output please? Thanks 😄

[2021-02-16 15:10] Morriz commented on #3282
[code]

Adding users by ID which is not a good approach.

[2021-02-16 15:14] sellers commented on #3038
See Also :  https://github.com/weaveworks/eksctl/pull/3285

[2021-02-16 15:15] aclevername commented on #3038
released in 0.38.0

[2021-02-16 15:15] #3038 closed

[2021-02-16 15:27] darnone commented on #3283
Attached is the config and an abbreviated but full log. My environment is Centos 7 (also Amazon Linux 2), eksctl 0.37.0, Kubernetes 1.18, awscli 2.1.19.  I think what is going on (I ran it with -v 4 is after the cluster is updated with the endpoint private, it is timing out on checkin the endpoint, which it cannot reach because it is private. - David

Config:
[code]

Log:
[code]

[2021-02-16 16:16] shkreios commented on #2921
Hey @aclevername,
I used the prerelease `0.38.0-rc.0` for our staging worked like a charm. Thank you very much for your help.
I am still trying to find a date when I can try it on production.

[2021-02-16 16:18] aclevername commented on #2921
Excellent! I'm glad it worked. Hope it goes smoothly on production :smile:. I'm going to close this issue for now, feel free to re-open if you hit any more problems

[2021-02-16 16:18] #2921 closed

[2021-02-16 17:25] aclevername commented on #3283
Thanks, I've managed to reproduce the problem, although my logs look slightly different to yours:

[code]

[2021-02-16 18:06] #3236 closed

[2021-02-16 18:06] aclevername commented on #3236
should be out in the next release, most likely a week Friday :smile:

[2021-02-16 18:14] michaelbeaumont commented on #3283
This is a limitation of setting `publicAccess: false`, it's [mentioned (point 2) in the docs](https://eksctl.io/usage/vpc-networking/#managing-access-to-the-kubernetes-api-server-endpoints). Ultimately with `publicAccess: false`, `eksctl` loses the ability to finish cluster creation. I think we can probably give better feedback to users here, though.

[2021-02-16 19:17] damogallagher opened #3290 "Problem Creating Cluster with Instance Role"
**Description**
I am trying to add a custom policy on my node groups
The nodes in question need access to Secrets Manager to grab secrets

**What Happened**
Failed to create new cluster
Message: `AWS::EKS::Nodegroup/ManagedNodeGroup: CREATE_FAILED – "Following required service principals [ec2.amazonaws.com] were not found in the trust relationships of nodeRole arn:aws:iam::735707224535:role/eksctl

[2021-02-16 21:05] waelghaith commented on #3074
@Callisto13
How can this problem be solved fundamentally?
Especially when use spot instances, instance met be gone and return back

[2021-02-16 21:57] darnone commented on #3283
If this is the specified behavior, what is the best approach/process for deploy private endpoint access? Liked deploy first as pubic and then update the cluster to use private access.  There is an aws command that will switch it (see above) but the command completes immediately way before the cluster is updated causing the script to proceed unless you put a sleep in there.

I have extended this pr

[2021-02-17 04:25] hiraken-w opened #3291 "About the featureGate "DynamicKubeletConfig" in userdoc "Customizing kubelet configuration""
In the userdoc "Customizing kubelet configuration", as an example of featureGates, the DynamicKubeletConfig configuration is described.

[eksctl/customizing-the-kubelet.md at main · weaveworks/eksctl](https://github.com/weaveworks/eksctl/blob/a0f22d59960d4a7287aeb8ea59bb80e58e7d0325/userdocs/src/usage/customizing-the-kubelet.md)

[code]

If we follow this example, the featuregates will be added to

[2021-02-17 05:32] CxSamer-Habash opened #3293 "eksctl create cluster does not recognize field wellKnownPolicies"
I am being testing the wellKnownPolicies from yesterday in my yaml file and did not succeeded to initiate to create a cluster , the error that I am facing is :
The command that I ran is :  ~$ eksctl create cluster -f eks-create-template-multi-nodegroup.yaml --kubeconfig kubeconfig_name

Output Error:
"Error: loading config file "yaml": error unmarshaling JSON: while decoding JSON: json: unknown fi

[2021-02-17 06:15] #3142 closed

[2021-02-17 06:30] paulbes commented on #3236
Thank you so much! 🤩

[2021-02-17 06:52] CxSamer-Habash commented on #3293
I have upgraded eksctl version to the latest which is 0.38.0, and it worked like a charm.
I guess the previous version had a problem

[2021-02-17 08:14] #3253 closed

[2021-02-17 09:10] Callisto13 commented on #2364
cc @mikestef9 / @tabern

[2021-02-17 09:16] Callisto13 commented on #3293
Hi @CxSamer-Habash thanks for opening this issue.

The `wellKownIssues` option was new for version 0.38.0, so it should not work with 0.36.0. When using example files, it is a safer bet to go off the branch for the release you are on instead of main 😃 .

[2021-02-17 09:16] #3293 closed

[2021-02-17 11:10] michaelbeaumont opened #3295 "Add `ignore` directive to `netlify.toml` to limit number of builds"
See [the netlify docs](https://docs.netlify.com/configure-builds/file-based-configuration/#ignore-builds). Note  that it appears there is no default ignore active and this is likely because our repo was linked before 03.10.2019 and this may require relinking netlify to this repo.

[2021-02-17 11:54] michaelbeaumont commented on #3291
Closed by #3292

[2021-02-17 11:54] #3291 closed

[2021-02-17 12:34] cPu1 commented on #3290
Hi @damogallagher, the role created by eksctl for IRSA (`iam.serviceAccounts`) is intended to be used by a Kubernetes Pod needing access to AWS resources, and not as a node role. The nodegroup creation is failing because the Managed Nodegroup API requires the supplied IAM role to have a trust relationship with `ec2.amazonaws.com`, but the role created by IRSA does not have it.

If the node itself

[2021-02-17 13:02] aclevername commented on #2984
https://github.com/weaveworks/eksctl/pull/2999

[2021-02-17 13:02] #2984 closed

[2021-02-17 13:08] aclevername commented on #2721
@cPu1 did #3067 fix this issue?

[2021-02-17 13:19] cPu1 commented on #2721
It did. @ScottKGregory please try the latest eksctl and let us know if you're still facing the issue.

[2021-02-17 13:19] #2721 closed

[2021-02-17 13:22] aclevername commented on #3030
Hey @javad-hajiani , just wanted to check in to see if you are still working on this :smile:

[2021-02-17 13:22] aclevername commented on #3029
Hey @hvydya, just wanted to check in to see if your still working on this :smile:

[2021-02-17 13:37] aclevername commented on #3148
Might be possible to add support for managed, needs further investigation

[2021-02-17 13:47] javad-hajiani commented on #3030
Hey, actually it needs more time if I'm not mistaken the library used for logging in this project doesn't support `io.writer` so need to replace it with something standard, that's why I'm thinking about a better way to implement it, any help will be appreciated

[2021-02-17 13:51] aclevername commented on #1805
Needs more research on all the different security group use cases

[2021-02-17 13:54] michaelbeaumont commented on #3030
Interestingly enough, we forked the logger very recently and it was then even more recently updated to support custom writers, so this is worth another look.

[2021-02-17 14:25] aclevername commented on #2901
Need to check if `eksctl delete iamserviceaccount` already works

[2021-02-17 14:26] aclevername commented on #2901
improvement: print suggestion to run the delete command as a way of cleaning up the stack

[2021-02-17 15:19] darnone commented on #3283
@michaelbeaumont - if I execute eskctl from a bastion ins the VPC this should get around the private access issue right?

[2021-02-17 15:40] cPu1 commented on #2986
Hi @gjtempleton. There are plans to support disabling core addons like CoreDNS, Kube Proxy and AWS CNI as part of the [new EKS Addons API](https://aws.amazon.com/blogs/containers/introducing-amazon-eks-add-ons/). This would allow disabling installation of CoreDNS during cluster creation, and let you apply your modified deployment. I suggest waiting for this capability to be added to the Addons API

[2021-02-17 16:12] gjtempleton commented on #2986
Hi @cPu1,

My fault for not coming back to this. I'd come to the same conclusion and abandoned trying to achieve this in a reliable way in eksctl. Our current setup is manually clearing out the AWS deployed CoreDNS upon the first creation of the cluster alongside some other steps inside our CD pipelines.

Obviously making use of the Addons API once that is released would be preferable so will keep

[2021-02-17 17:57] danthegoodman1 commented on #1930
This definitely needs to not be the case. When adopting clusters users cannot be forced into using a UI if that's where the cluster was created. Are there plans to allow `eksctl` to work with UI created clusters? You're removing power users.

[2021-02-17 19:03] damogallagher commented on #3290
Thank you @cPu1 - I will this out
Is it possible to supply an inline policy on the iam section of a node group?

[2021-02-17 21:06] darnone commented on #3283
OK - here is the conclusion. If I run this from a bastion server in the VPC, I can reference a security group that has an inbound rule for the CIDR block of the Custer - HTTPS. port 443, 192.168.0.0/16 and reference it in the eksctl config under vpc.securityGroup: "sg-id".  That will add the security group as an "additional security group" in the control plane allow the cluster creation to complet

[2021-02-18 02:09] TBBle commented on #1571
It seems the recommended way to apply tags to EC2 instances in EKS Managed Node Groups is [using Launch Templates](https://github.com/aws/containers-roadmap/issues/608#issuecomment-675101463), which [eksctl supports](https://eksctl.io/usage/launch-template-support/). Is that sufficient to fulfill this feature request?

Cluster Autoscaler doesn't depend on tags on the EC2 instances, it depends on t

[2021-02-18 08:03] cPu1 commented on #3290
That's not supported. I feel like this may be an X-Y problem. Do you need that policy to be attached to the node role? If the process that needs access to Secrets Manager is running as a Kubernetes Pod, the recommended way is to use IRSA. If that's the case, after removing the `iam` section from your nodegroup config, you need to set `serviceAccountName: eksctl-service-account` in the Pod spec and

[2021-02-18 08:54] michaelbeaumont commented on #1698
Closing, won't be changed until #2774

[2021-02-18 08:54] #1698 closed

[2021-02-18 10:30] michaelbeaumont commented on #1571
Seems like we could just set the tags on the launch template, since `eksctl` always uses launch template

[2021-02-18 10:40] michaelbeaumont opened #3303 "Consider switching to go:embed"
At the moment we use `go:generate` + `go-bindata` to embed resources in our executables. We could instead use `go:embed` in Go `1.16` _except_ it doesn't support compression. Consider whether this is important.

[2021-02-18 11:40] jsidney opened #3304 "Import values from other cloudformation templates automatically to cluster config .yaml"
**What feature/behavior/change do you want?**
 is there a way of letting eksctl reference exported values from other cloudformation templates in its setup?
for example, i have a nested template that is setting up the following resources for my app:
a vpc with all the required routing and security etc
storage layer (rds, efs, etc)
other resources (logging, ecr, etc)
iam (cluster and node group role

[2021-02-18 12:56] michaelbeaumont commented on #3304
Duplicate of https://github.com/weaveworks/eksctl/issues/1141

[2021-02-18 12:56] #3304 closed

[2021-02-18 19:12] #3290 closed

[2021-02-19 02:34] michaelbeaumont commented on #2635
This would need to be supported upstream in EKS, it may be worth inquiring at https://github.com/aws/containers-roadmap/issues

[2021-02-19 02:34] #2635 closed

[2021-02-19 05:00] TBBle commented on #2331
I'd still like this improvement.

[2021-02-19 10:57] mohalone911 commented on #1695
@aclevername I think we should be good as long as users can supply additional IAM User/Role ARNs to be added to the configmap at the cluster creation time , when using eksctl.

[2021-02-19 11:47] aclevername opened #3307 "`utils update-kube-proxy` doesn't update its cluster role in 1.19"
**What were you trying to accomplish?**
Update kube proxy for 1.19 cluster

**What happened?**
It is not following the steps outlined in the aws docs, speciffically:
[code]
      kubectl edit clusterrole system:node-proxier
[code]
        - apiGroups:
          - "discovery.k8s.io"
          resources:
          - endpointslices
          verbs:
          - list
          - watch
[code]
https://gi

[2021-02-19 13:32] aclevername commented on #3307
Clusters created in 1.18 already contain this cluster role addition:
[code]
---

If you create a 1.17 cluster you get the following:
[code]

Once updated to 1.18 it becomes:

[code]

[2021-02-19 15:36] #3307 closed

[2021-02-19 17:26] cwwarren opened #3309 "Context Deadline Exceeded: Error: waiting for requested "VersionUpdate""
`eksctl 0.38.0` timed out running `eksctl upgrade cluster` for 1.18 -> 1.19.

**What were you trying to accomplish?**

Upgrade EKS cluster from 1.18 to 1.19.

**What happened?**

[code]

The upgrade succeeded about 10 minutes later without issue.

**How to reproduce it?**

This is the first cluster we've upgraded so I'm not sure if EKS 1.19 has a slightly longer upgrade time or we have a unique fe

[2021-02-19 17:29] aclevername commented on #3309
Thanks for opening the issue @cwwarren . We have also observed large variations in how long it takes to upgrade the control plane, we recently had to bump our timeout for upgrades as it kept causing our integration tests to fail https://github.com/weaveworks/eksctl/pull/3134/files. It hasn't failed for us since this change to 45 mins, but I will do some poking around regarding what the expected ti

[2021-02-19 17:38] cwwarren commented on #3309
Thanks for looking into it. In this case from our CloudWatch logs it appears the final component finished startup at 10:08:09 or about 2 minutes after the timeout.

[2021-02-19 17:56] aclevername commented on #3309
Thanks. It appears 60 is more normal in 1.19, so I've opened a PR to bump our timeout to 65mins so we have some wiggle room. https://github.com/weaveworks/eksctl/pull/3310

[2021-02-19 19:53] mohantangirala commented on #2740
It failed for me with message "Error: timed out (after 25m0s) waiting for at least 2 nodes to join the cluster and become ready in "wmd-ng-2""
EKSCTL version : 0.38.0

[2021-02-19 20:19] ZillaG opened #3311 "Need support for equivalent CLI "--fargate" option in a configuration file"
**What feature/behavior/change do you want?**
[code]
When creating a Fargate-only cluster, this is done on the command line
`$ eksctl create cluster ... --fargate`

However, I can't pass that option when using a config file
[code]
I don't see an equivalent option in [Config file schema](https://eksctl.io/usage/schema/#latest-schema) doc. Can you please add it?

**Why do you want this feature?**

I

[2021-02-19 22:17] amrragab8080 opened #3312 "Deviation in behavior of awscli (create-nodegroup) and eksctl managedNodeGroup"
**What were you trying to accomplish?**
Create a managed nodegroup in eksctl with a single subnet. This is possible with the aws cli but not possible in eksctl

in awscli:
[code]

**What happened?**
[code]
**How to reproduce it?**
[code]

[code]

[2021-02-20 01:22] ssannidhi-palo commented on #1482
I ran into the same issue while provisioning using eksctl. I had tried in couple of regions us-east-2, ap-southeast-2 but no luck.

Troubleshooted against each point in "**Nodes fail to join cluster**"
[https://docs.aws.amazon.com/eks/latest/userguide/troubleshooting.html](EKS Troubleshooting)

Turned out that **STS** was not Activated in the regions i was trying. Once fixed, i was able to see the

[2021-02-20 03:17] ZillaG commented on #3283
Yes my workaround was to enable public access for my cluster endpoints during the creation, and then turn it off. However, this breaks communication to the kube-apiserver, e.g., `kubectl`. To get around this, that is, for my subsequent `kubectl` commands to work, I had to add our VPN security group to the cluster's security group.

[2021-02-20 10:27] jav333 opened #3313 "waiting for CloudFormation stack"
Hello,

I am new on eksctl, the following is my command to start to create cluster:

eksctl create cluster --name demo-eks --region us-east-1 --nodegroup-name my-nodes --node-type t2.micro --managed --nodes 4

But the installation message holding on waiting for CloudFormation stack:

![image](https://user-images.githubusercontent.com/79013136/108592523-2e657380-73a9-11eb-8ef2-45f5657f8341.png)

Pl

[2021-02-20 19:54] ZillaG commented on #3155
Yeah I had the same issue, deployed an EKS cluster in an existing VPC, and using private-only subnets. I had to
[code]
and replace
[code]
with
[code]
then
[code]

[2021-02-21 02:00] #3075 closed

[2021-02-21 21:40] darnone commented on #3283
@ZillaG - adding the security group of the VPN gives you access to a private endpoint from your laptop?  The VPC where our cluster is going is peered to our "public" VPN.  To gain access to the cluster, I have been setting up a network load balancer on the "public" VPC (not the one where the cluster is deployed but the one that is peered to the cluster VPC) with the cluster endpoint ip added to a

[2021-02-22 04:20] umrikar commented on #2567
Hi,
        Does weanet support dual-stack (ipv4/ipv6)?

[2021-02-22 08:27] cPu1 commented on #3313
@jav333, the `create cluster` command can take up to 15 minutes to complete. Your log messages indicate that you took the screenshot 11 minutes after invoking the complete. I believe your command succeeded after a few more minutes. Can you confirm this?

[2021-02-22 08:29] cPu1 commented on #3281
@chaitanya-user following up on this, were you able to make it work? Can you share the bootstrap commands you are trying?

[2021-02-22 08:31] cPu1 commented on #3243
@cortiz can you provide an update?

[2021-02-22 09:12] #3295 closed

[2021-02-22 09:18] #3309 closed

[2021-02-22 10:51] michaelbeaumont commented on #2382
Please report back if this issue hasn't been resolved!

[2021-02-22 10:51] #2382 closed

[2021-02-22 12:09] cPu1 opened #3322 "Log expected duration of completion for long-running commands"
**Problem**
The `create cluster` and `update cluster` commands can take a lot of time. When running these commands, there's no progress bar or any indication of how long the operation may take to complete. This can make it difficult to tell whether the command is stuck or making progress, as observed in https://github.com/weaveworks/eksctl/issues/3313.

**Solution**
Log the expected duration of co

[2021-02-22 16:53] michaelbeaumont commented on #3312
Thanks for the report @amrragab8080. The issue here is that there aren't enough subnets specified under `vpc.subnets`. As a workaround, you can specify the other cluster subnets under `vpc.subnets`.

[2021-02-22 17:04] Callisto13 commented on #3031
We can go ahead and get this merged for the next release, ahead of the release from EKS.

Note that Fargate will not be available in that region, we used to have some code around this, we should bring it back.

[2021-02-22 19:10] JayG-EBSCO opened #3329 "Trying to verify --enable-cadvisor-json-endpoints is passed on a 1.18 built cluster"
We are deploying EKS clusters with v1.18, which has the cadvisor json endpoint disabled by default. On our clusters, we have one tool that needs this endpoint for the moment, so to enable this, I am trying to use the --enable-cadvisor-json-endpoints kubelet flag.

**What help do you need?**

The nodegroups build successfully, and are functional. Before I deploy the tool needing the flag, I want to

[2021-02-22 21:51] amrragab8080 commented on #3312
Tried that with below file
[code]
However now I get a new error:
[code]

[2021-02-22 22:04] michaelbeaumont commented on #3312
@amrragab8080 You need to set `privateNetworking: true` on the nodegroup

[2021-02-23 01:28] amrragab8080 commented on #3312
thanks - that did it, but yea we can do with less paper cuts

[2021-02-23 02:00] #3051 closed

[2021-02-23 02:00] #2836 closed

[2021-02-23 02:00] #2695 closed

[2021-02-23 02:00] #751 closed

[2021-02-23 11:01] #2901 closed

[2021-02-23 12:32] cPu1 opened #3338 "Internal nodegroup fields can be set and break nodegroup creation"
A field `AdditionalEncryptedVolume` was added to the `NodeGroup` type not intended to be set by users. However, this field can still be set in ClusterConfig to any value and potentially break nodegroup creation because no validation is performed on it. Users should not be allowed to set this field.

An example ClusterConfig to reproduce this:

[code]

This will fail with:

[code]

[2021-02-23 12:39] michaelbeaumont commented on #3338
We had a long discussion on this and it's another example of why user config must be separated from internal types but if you supply a valid volume it will work right? Isn't this a problem even with `instanceType`?

[2021-02-23 12:56] cPu1 commented on #3338
It may work but since it's hidden from the schema, users should be unable to set it. It also breaks certain expectations in the code if internal fields can be set to arbitrary values by users.

[2021-02-23 13:07] michaelbeaumont commented on #3338
I intentionally made sure this wasn't the case with this field (i.e. that it wouldn't break if arbitrarily but validly set) but left it hidden from the docs, because there shouldn't be internal fields like this in the config. It was the quickest solution at the time but it isn't a good precedent to hide data in the config.

[2021-02-23 13:26] #3338 closed

[2021-02-23 14:46] dbluxo opened #3341 "AWS VPC subnets are not tagged when using Kubernetes version 1.19"
**What happened?**

When we create a cluster with version 1.18 using eksctl, in AWS the corresponding subnets are tagged with `kubernetes.io/cluster/<name>`.

If we change the version to 1.19 and create a cluster again (with same eksctl version), **the subnets are not tagged anymore.** This will cause the AWS  load balancer creation with nginx-ingress to no longer work, since it relies on the exis

[2021-02-23 14:50] michaelbeaumont commented on #3341
@dbluxo To be clear, you tested both `1.18` and `1.19` _with the same `eksctl` version_?

[2021-02-23 14:52] dbluxo commented on #3341
@michaelbeaumont

Yes!

[2021-02-23 15:40] michaelbeaumont commented on #3312
@amrragab8080 With #3342 and https://github.com/weaveworks/eksctl/pull/3331 you should be able to refer directly to the subnet ID in `nodegroup.subnets` (without filling out `vpc.subnets`, if the cluster was created with `eksctl`) and get a more informative error when `privateNetworking` is missing.

[2021-02-23 16:11] amrragab8080 commented on #3312
Thanks @michaelbeaumont I did create the cluster with eksctl.
[code]
I wasnt able to reproduce the behavior in 0.38.

[2021-02-23 17:12] bt909 commented on #3341
Interesting effect ist: cluster delployed with k8s 1.18, controlplane updated to 1.19 and then cluster removed (eksctl delete cluster...). The tags now are on the subnet and are not removed. I thought they should be removed.

[2021-02-23 17:23] michaelbeaumont commented on #3312
I'll close this issue then, thanks!

[2021-02-23 17:23] #3312 closed

[2021-02-24 01:41] cortiz commented on #3243
Hi, Sorry for the delay,
So the bad news is that I was unable to figure the issue out and I was (like we all do) in a time constraint so I had to delete the node group (manually ) and rerun the node group file, and now it's working without issues I even add new node groups with any issue.

@cPu1
For your last comment, yes my whole cluster is completely private, I do have a VPN connection that allo

[2021-02-24 01:51] #3243 closed

[2021-02-24 07:43] zezaeoh commented on #3341
i found same issue in `ap-northeast-2`

[2021-02-24 09:34] aclevername commented on #3341
This is odd, I don't see how the introduction of 1.19 could of changed this behaviour, the PR to introduce it had a relatively small scope https://github.com/weaveworks/eksctl/pull/3285/files

[2021-02-24 11:22] #1945 closed

[2021-02-24 11:30] aclevername commented on #3341
@zezaeoh @bt909 @dbluxo this does not appear to be due to any change in eksctl, but rather a change in the EKS api. eksctl never added this tag, it was previously getting added after the cluster was created by the EKS api: https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html#vpc-subnet-tagging
[code]

As of the latest AWS load balancer controller this tag is no longer needed (see 4th

[2021-02-24 11:36] aclevername opened #3348 "Refactor integration tests to be run either with an non-eksctl created cluster or eksctl created cluster"
Currently we have a dedicated `unowned_cluster` suite for testing our non-eksctl support. To prevent has having to maintain this we should modify all existing suites so that they can be run with either a cluster created by eksctl, or one not created by eksctl. This way you write one suite that tests both use-cases.

When we run out integration tests in CI we should run two sets in parallel, one wi

[2021-02-24 11:48] Callisto13 commented on #3329
Hi @JayG-EBSCO, thanks for opening this issue.

I believe that flag would qualify as a feature gate, could you try adding it like this instead?

[code]

[2021-02-24 12:09] Callisto13 commented on #3311
Hey @ZillaG, thanks for raising this issue.

Unfortunately this is a case of crappy docs.

The equivalent of running `create cluster --fargate` is to add a `fargateProfiles` section in the config file (eg [this example](https://github.com/weaveworks/eksctl/blob/main/examples/16-fargate-profile.yaml)). The `fp-default` profile in that config is what the `--fargate` flag creates "behind the scenes".

[2021-02-24 12:29] acastillo5690 opened #3349 "Nodegroup deletion stucked"
I have created an EKS cluster and nodegroup using a cloudformation template that I have created, but in the creation process there was an error:
Nodegroup ng-eks-A failed to stabilize: [{Code: AccessDenied,Message: The aws-auth ConfigMap in your cluster is invalid }]

After that, I tried to delete the nodegroup but it was unsuccessful, I have applied a configmap to authorize my user and it applied

[2021-02-24 13:06] dbluxo commented on #3341
@aclevername :bulb: Thanks for the explanation!

We use the [NGINX Ingress Controller](https://github.com/kubernetes/ingress-nginx), it needs these tags, otherwise we get the following errors:

[code]

[2021-02-24 13:08] Callisto13 commented on #3329
So from what I understand the [kubelet config](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubelet/config/v1beta1/types.go) does not expose that flag as a field, and it does not count as a feature gate. This could be because that flag is marked for [removal in v1.21](https://github.com/kubernetes/kubernetes/issues/68522).

Eksctl sets up the kubelet to start from a conf

[2021-02-24 13:56] JayG-EBSCO commented on #3329
We have discovered that the 3rd party has released a beta version that negates the need for the flag, and have tested it successfully. This is no longer an issue.

[2021-02-24 14:01] Callisto13 commented on #3329
Ha! Excellent 🎉

[2021-02-24 14:01] #3329 closed

[2021-02-24 15:14] aclevername commented on #3341
Thanks @dbluxo thats good to know, in this case I think we have a few options from eksctl point of view, but the simplest is probably to have two actions:
1. Add this tag as a default for all subnets in new clusters, regardless of versions as its better that we manage this tag in cloudformation.
2. For existing clusters, we can add this tag as part of `eksctl upgrade cluster`  to provide a migrati

[2021-02-24 16:35] dbluxo commented on #3341
Sorry I have to correct myself, the message does not come as a log from the NGINX Ingress Controller, but as a Kubernetes event (kubectl get events):

[code]

We have configured the following in the nginx-ingress Kubernetes service:

[code]

And apparently Kubernetes itself then goes and provides the load balancer in AWS.

The event seems to have originated here: https://github.com/kubernetes/kube

[2021-02-25 02:01] #1365 closed

[2021-02-25 02:16] ZillaG commented on #3311
Here's my config file, taken directly from the example you posted. As you can see I have fargate profiles. However I'm using existing VPC and only private subnets and only enable private endpoints. (I should've added this to my post, my bad.). I can also reproduce the problem even if I let EKS create it's own VPC, but only use private endpoints. If I let EKS create the cluster's VPC using both pub

[2021-02-25 02:53] keyboardfann commented on #3341
From the EKS document, Amazon EKS seems don't adds the tags.

https://docs.amazonaws.cn/en_us/eks/latest/userguide/kubernetes-versions.html

Important

Starting with 1.19, Amazon EKS no longer adds the kubernetes.io/cluster/<cluster-name> tag to subnets passed in during cluster creation. This subnet tag is only required if you want to influence where the Kubernetes service controller or AWS Load B

[2021-02-25 09:19] Callisto13 commented on #3311
It feels the real issue may not be a discrepancy between `--fargate` and `fargateProfiles`, but a potential problem with patching the coredns deployment when using private networking. Could you take a look through https://github.com/weaveworks/eksctl/issues/3155 and let me know if this is the problem you are seeing?

[2021-02-25 09:20] aclevername commented on #3341
Interesting, the code snippet you linked is different to what the latest `1.19.x` tag indicates is happening:

Error: https://github.com/kubernetes/kubernetes/blob/e19964183377d0ec2052d1f1fa930c4d7575bd50/staging/src/k8s.io/legacy-cloud-providers/aws/aws.go#L3934-L3936

Cause of error: https://github.com/kubernetes/kubernetes/blob/e19964183377d0ec2052d1f1fa930c4d7575bd50/staging/src/k8s.io/legacy-

[2021-02-25 10:24] aclevername commented on #1571
The `managedNodeGroups[*].tags` field already gets added to the launch template spec:
https://github.com/weaveworks/eksctl/blob/da899ad2176936d1045dc365ea3bba44647858c1/pkg/cfn/builder/managed_launch_template.go#L145-L164

This adds the tag to all EC2 instances. You still cannot add tags to the ASG https://github.com/aws/containers-roadmap/issues/608#issuecomment-675101463

[2021-02-25 10:28] aclevername commented on #1571
I'm going to close this issue as the original intent of this was to be able to tag the EC2 instances, which you can.

I think if/when EKS add support for tagging the autoscaler it will likely be a no-op from our end, as we are already tagging the nodegroup and launch template, so its likely that if it was ever implemented the ASG would inherit the tags from one of those two.

[2021-02-25 11:08] dbluxo commented on #3341
Yes very sure, we encountered the problem only because we built a new cluster in version 1.19, before that we had no problems.

[code]

Once I set the tag `kubernetes.io/cluster/<name>: shared` in the subnets manually, it works.

[2021-02-25 11:39] aclevername commented on #3341
Thanks for clarifying.

After digging some more I realise my initial statement was incorrect, the AWS cloud provider does still appear to be parsing this tag https://github.com/kubernetes/cloud-provider-aws/blob/0e8dc8ba69861e3fdfb0740b93e1068d08e1904f/pkg/providers/v2/tags.go#L93-L106

[2021-02-25 12:46] ajinkya933 opened #3355 "You must use a valid fully-formed launch template"
I have following cluster creation yaml file:

[code]

When I create a cluster from this yaml file using `eksctl create nodegroup -f firstnode.yaml` the cluster is created but nodegroup is not attached to this cluster

error log:

[code]

Note I already have a cluster on Cloud formation created using same yaml file above (with diffrent cluster name & nodegroup name) but during first time it ran goo

[2021-02-25 13:59] aclevername commented on #3341
@dbluxo I just created a 1.19 cluster, and provisioned the ingress controller following [the docs](https://kubernetes.github.io/ingress-nginx/deploy/#aws). I managed to successfully provision an ingress resource without the subnet tag. Is it possible you are running an older version of nginx ingress controller?

[2021-02-25 16:27] aclevername commented on #3341
@dbluxo Thanks.

Can you confirm what `kubernetes.io` tags you have on the subnets? I want to check if that `kubernetes.io/role/elb` / `kubernetes.io/role/internal-elb` tag exists https://aws.amazon.com/premiumsupport/knowledge-center/eks-vpc-subnet-discovery/

[2021-02-25 16:42] dbluxo commented on #3341
@aclevername We have:

- a lot of `kubernetes.io/cluster/<name>: shared` tags
- one `kubernetes.io/role/internal-elb: <subnet_name>` tag

[2021-02-25 16:46] aclevername commented on #3341
thanks. Just to make sure I have the full picture as I'm quite puzzled by whats causing this:
- fresh 1.19 cluster
- nginx ingress controller installed
- `kubernetes.io/role/internal-elb` subnet tag exists
- creating an ingress resource fails as it cannot provision the load balancer, but it succeeds when you add the `kubernetes.io/cluster/<name>` tag

Are you running the AWS load balancer controll

[2021-02-25 16:56] dbluxo commented on #3341
Yes, exactly.

No

No

Does the tag with the key `kubernetes.io/role/internal-elb` have to have a specific value?

[2021-02-25 17:19] aclevername commented on #3341
The docs aren't very clear, but it looks like they just use `1` as the value https://aws.amazon.com/premiumsupport/knowledge-center/eks-vpc-subnet-discovery/
[code]

[2021-02-25 17:53] hrjn commented on #3355
Hi, according to ec2instances.info `r4.xlarge` machines aren't available in the `me-south-1` area, that's probably what's causing your error.

[2021-02-25 18:05] dbluxo commented on #3341
Thanks @aclevername, changed it to `1`, unfortunately does not work with it either.

[2021-02-25 18:40] darnone opened #3356 "roleName accidentally deleted from example 16"
I was trying to copy some code example and I accidentally deleted the roleName for the autoscaler metadata. I don't know why this change happened since I don't have write permission.  So I simply reporting it.

roleName:  eks-cluster-autoscaler-role

indented to match its metadata.

[2021-02-25 19:19] darnone opened #3357 "eksctl role definition requires policy definition"
**What help do you need?**

[2021-02-25 19:41] darnone opened #3358 "eksctl IAM Service account requires policies"
I need to define a OIDC role that has no policies.  The is role is assumed by other roles that do have policies.  Specifically, this is for kubernetes-external-secrets.  When I try to use eksctl to create a role without a policy, I get the following error:
[code]
I there a workaround for this? I there a way to define an "empty policy"?  If this is missing a new feature would allow setting IAM serv

[2021-02-26 02:01] #1111 closed

[2021-02-26 06:15] ebr commented on #2690
@composer22 I am also interested in knowing how you fixed it. would appreciate some insight

[2021-02-26 07:58] Callisto13 commented on #3356
Hi @darnone, sorry I don't think I understand what issue you encountered.

Which code example? Could you explain in a bit more detail what you were doing?

From where?

Write permission where? On the cluster?

[2021-02-26 08:00] Callisto13 commented on #3357
I am closing this as there is no information here. Please reopen if this was in error.

[2021-02-26 08:00] #3357 closed

[2021-02-26 09:09] aclevername commented on #3341
Thanks @dbluxo . I'm sorry I haven't been able to reproduce this, I think its clear this issue isn't related to eksctl. I think the best action would be to open an issue on https://github.com/kubernetes/cloud-provider-aws with the details you've provided, as the error message you got earlier ` Error syncing load balancer: failed to ensure load balancer: could not find any suitable subnets for crea

[2021-02-26 09:10] #3031 closed

[2021-02-26 09:24] bt909 commented on #3341
Hello @aclevername,

you can't reproduce this? You are using custom VPC with private subnets and your nginx ingress controller creates the load balancer on a private subnet?
Interesting, as it seems that this tag creation comes from AWS itself:
https://docs.aws.amazon.com/eks/latest/userguide/kubernetes-versions.html (Kubernetes 1.19).

And yes, you are right, it seems not a eksctl related issue (

[2021-02-26 09:58] aclevername commented on #3341
Hey @bt909 :wave:  I created a fresh 1.19 cluster using eksctl `eksctl create custer --name jk-19 --version 1.19 --managed`, observed no `kubernetes.io/cluster/<name>` tag on the subnet, but was able to provision load balancers without errors. Both using the NGINX ingress controller, and creating the type `LoadBalancer` service manually.

Yes this tag used to get added by eks in versions prior to

[2021-02-26 14:58] darnone commented on #3356
@Callisto13,

Sorry about the confusion.  The code example is 13-iamserviceaccounts.yaml and the roleName: eks-cluster-autoscaler-role was removed from line 50. Then empty line is needed after that.

[2021-02-26 15:10] darnone commented on #3357
This was a mistake on my part.  I created a new issue #3358. It was originally entered as a help ticket but I am thinking it is feature request. In AWS you can create a role without a policy. eksctl should be able to do the same.

[2021-02-26 15:15] Callisto13 commented on #3356
I still don't understand what the problem is there. From what I can see `roleName` was never in that file, on line 50 or otherwise.

[2021-02-26 16:30] darnone commented on #3356
Maybe I am mistaken. The example was not originally this?  This is what I captured when I copied it.

[code]

[2021-02-26 16:36] Callisto13 commented on #3356
From checking through git history I can see it was never there. But even if it was there and you deleted it, what were you worried had happened?

[2021-02-26 16:55] darnone commented on #3356
That I had screwed up the example.  If this is my mistake then I am sorry for the noise.  Looking at the eksctl.io documentation on [IAM service accounts](https://eksctl.io/usage/iamserviceaccounts/):

[code]
Maybe this is where I go it from?

But then looking at the schema, I see this is optional:
[code]

[2021-02-27 02:01] #3128 closed

[2021-02-28 05:12] bitva77 commented on #1030
oh I ain't letting this die just out of spite now

[2021-03-01 09:21] Callisto13 commented on #3356
From what I can see there is nothing broken here and there are not any errors. Closing.

[2021-03-01 09:21] #3356 closed

[2021-03-01 09:33] cPu1 opened #3374 "Fix integration tests for backwards compatibility"
Starting with https://github.com/weaveworks/eksctl/pull/3336, the release process pushes an additional v-prefixed tag. This breaks the integration tests for backwards compatibility because the v-prefixed tags do not have the tarballs.

[2021-03-01 09:55] RamazanKara commented on #916
We also face the same problem.

[2021-03-01 11:05] cPu1 commented on #1631
Closing the issue.

[2021-03-01 11:05] #1631 closed

[2021-03-01 14:21] #3077 closed

[2021-03-01 14:46] #3374 closed

[2021-03-01 15:06] dbluxo commented on #3341
@aclevername  I'm not sure right now which way we could find out if it's a bug or not?

[2021-03-01 15:23] aclevername commented on #3246
https://github.com/weaveworks/eksctl/pull/3333

[2021-03-01 15:23] #3246 closed

[2021-03-01 15:46] dbluxo commented on #3341
@aclervername I was not sure because you wrote that it could be fixed on EKS side, but the AWS cloud provider is not EKS but directly a part of Kubernetes?

Anyway, I have opened an [issue](https://github.com/kubernetes/cloud-provider-aws/issues/184), you can look over it and possibly give further input :blush:

[2021-03-01 16:04] Callisto13 commented on #2174
From `0.40.0-rc.0` you should be able to use any eksctl command on any EKS cluster. Docs will be updated by the end of the week.

[2021-03-01 16:07] aclevername commented on #3341
My understanding is that EKS overrides the built-in aws cloud-provider with a patched version, so if there's a bug in it they could fix it, or bring back the automatic tagging :smile:. For example they patched the cloud provider in 1.19: https://github.com/aws/eks-distro/blob/main/projects/kubernetes/kubernetes/1-19/patches/0010-EKS-PATCH-additional-subnet-configuration-for-AWS-el.patch

Will do!

[2021-03-01 17:25] kalbir commented on #2174
Nice work! Very pleased this has been shipped ☺️

[2021-03-02 07:59] #3355 closed

[2021-03-02 11:40] lapidus79 commented on #777
Still a vote for this one

[2021-03-02 14:01] aclevername commented on #3358
I don't think we thought about this use case when writing the feature, could you expand upon your setup? I notice your also supplying `roleOnly` and `roleName`, so you could just create the permissionless role yourself? With those flags combined your just asking eksctl to create an empty role, which feels odd

[2021-03-02 14:08] aclevername commented on #3349
Thanks for opening the issue, just to clarify did you create this with eksctl? If so please provide the cluster config, command run and log output please :smile:

[2021-03-02 14:09] aclevername commented on #3313
closing due to inactivity

[2021-03-02 14:09] #3313 closed

[2021-03-02 15:47] RamazanKara commented on #916
For those who still face this issue: check if your Users / roles have additional ARN Paths in the role / User ARN. EG: accountxyARN:/testpath/role. We had to remove these paths in the AWSAUTH configmap to get it working

[2021-03-02 15:56] darnone commented on #3358
Hello, the setup makes perfect sense in the case of kubernetes-external-secrets. With KES you create an IAM service account role with no policy.  Then in a application that uses an external secret you create a role and a policy for the external secret. The role for the external secret is annotation in the external secret manifest.  The policy defines what actions can be taken on the secret to gene

[2021-03-02 17:03] frejonb opened #3391 "Systemd fix for GPU instances is not working properly"
**What were you trying to accomplish?**

**What happened?**
I'm on EKS 1.9 and eksctl 0.39.0. Given the fix in https://github.com/weaveworks/eksctl/pull/3007 I would expect the command in `/etc/sysconfig/docker` to include the `cgroupdriver` override. However, sshing into the node, I say my file didn't have the `--exec-opt` flag. Hence the node was not joining the cluster. I was deploying a `g4dn.

[2021-03-03 02:03] #1036 closed

[2021-03-03 02:03] #1032 closed

[2021-03-03 15:35] scott-learningpool opened #3392 "How to specify number of subnets when using the --vpc-cidr flag in us-east-1"
**What help do you need?**

I am attempting to create a new EKS cluster in the `us-east-1` region using a custom CIDR block rather than the default `192.168.0.0/16` so I am using the `--vpc-cidr` flag.

According to the [documentation](https://eksctl.io/usage/vpc-networking/) though in doing this in `us-east-1` you can only have 2 public and 2 private.

I would sooner not have to create a VPC and

[2021-03-03 16:28] #2351 closed

[2021-03-03 16:30] #3392 closed

[2021-03-03 16:31] scott-learningpool commented on #3392
Looks like I had missed the ` \` at the end of `--vpc-cidr ${VPC_CIDR}` !!

[2021-03-03 21:41] djabraham commented on #1695
Say the cluster creator left the company and someone corrupted the yaml config map with a single extra space.

At that point, would the entire cluster require a rebuild?

I would consider eliminating such a vulnerability a requirement.

[2021-03-03 23:12] dhrusing opened #3393 "eksctl 0.39.0: fully-private clusters are not supported in region """
**What were you trying to accomplish?**
Creating a fully private eksctl cluster

**What happened?**
getting this error message,

2021-03-03 14:23:39 [✖]  fully-private clusters are not supported in region "", please retry with a different region
2021-03-03 14:23:39 [✖]  error adding resources for VPC endpoints: error building endpoint service details: fully-private clusters are not supported in re

[2021-03-03 23:53] NaranKPatel commented on #2946
Can you reduce the no. of calls? i.e. exponential back off, queuing, etc to reduce the potential of encountering throttling? Users are getting impacted by this issue?

[2021-03-04 02:04] #491 closed

[2021-03-04 02:04] #443 closed

[2021-03-04 02:05] #22 closed

[2021-03-04 05:33] #3009 closed

[2021-03-04 09:16] Callisto13 commented on #3393
Hi @dhrusing, thanks for opening this issue and providing loads of detail 👍 .

It looks like we are simply not passing the region through to the VPC resource set when creating private clusters. A fix will be out with the next release today.

[2021-03-04 09:24] #3393 closed

[2021-03-04 09:27] cPu1 commented on #2946
@NaranKPatel we do have some commands where we can reduce the number of AWS API calls. Can you help us with the specific commands you're facing this issue for so we can prioritise them?

[2021-03-04 09:34] cPu1 commented on #2946
From a comment from another user in the community Slack, it appears that it's for `create iamserviceaccounts`, `upgrade cluster` and `create cluster`, among other commands.

[2021-03-04 10:05] Callisto13 commented on #3391
Hey @frejonb thanks for reporting this 👍 . It is super weird because we totally have an integration test for this 😂 . We will dig into things and get back to you soon.

[2021-03-04 10:27] Callisto13 commented on #3391
Ah I think I see the problem. To add that `exec-opt` we look at `nodeGroups[i].instanceType`. We should also be looking at `nodeGroups[i].instanceDistribution.instanceTypes[i]`.

[2021-03-04 11:39] tal-shilian-m commented on #3393
Hey when you realse?

[2021-03-04 11:44] cPu1 commented on #3393
We're planning to release this today in 0.40.0.

[2021-03-04 11:46] mohalone911 commented on #1695
@djabraham , no it will not require a rebuild , they should be able to access the EKS cluster as long as they know the ARN of the User/Role that created the cluster and use the same User/Role ... IAM Role ARNs are strings and you can delete and recreate the same IAM Role/User repeatedly. Moreover, the best practice is to use Roles, rather than IAM User accounts to create and manage clusters.

[2021-03-04 12:08] tal-shilian-m commented on #3393
there is any update on the hour you gone release it?

[2021-03-04 12:12] Callisto13 commented on #3393
@tal-shilian-m I am afraid we cannot give a precise time as it depends on testing, other fixes, etc.

[2021-03-04 13:35] tal-shilian-m commented on #3393
ok thank you wait for update.

[2021-03-04 14:10] brychcy commented on #3391
Thanks a lot for posting the workaround!

[2021-03-04 14:18] djabraham commented on #1695
So a coworker of mine created a cluster and they're now out of pocket. Deleting their account or changing their password isn't really an option. Attempts to reach the users are frustrated now, so barring any other hacks I'm ready to simply rebuild the cluster and move on. I unable to find any other way to gain full access now.

It doesn't look like assuming a role will help, because the utility mi

[2021-03-04 14:30] anujgarg06 opened #3396 "Critical: eksctl create cluster keep waiting even if cloudformation is successful"
**eksctl get stuck after cloudformation succeed and doesn't show wait message and then timeout after 25ms?**

**command**:
[code]

**Config file:**
[code]

**Error:**
[code]

While cloudformation is successful at
[code]

**eksctl version**: `0.39.0`
I have tried Kubernetes cluster version 1.15, 1.17 and 1.18 -- same issue with all 3.

[2021-03-04 14:52] anujgarg06 commented on #3396
I enabled verbose to level 4
This is the error, I see.
2021-03-04 09:50:03 [▶]  control plane not ready yet – Get "https://060D944600BAE034A8A1F2AF63F92B2B.gr7.us-east-1.eks.amazonaws.com/version?timeout=32s": x509: certificate signed by unknown authority

[2021-03-04 15:11] DanArlowski opened #3397 "upgrade nodegroup stuck due to pods not draining"
**What were you trying to accomplish?**
updating ManagedNodeGroup to a new K8s version
[code]

**What happened?**
One of the nodes did not update, and  the command timed out:
[code]

**How to reproduce it?**
The timeout happened because one of the pods denied eviction due to it doing so will violate its disruption budget, but that is not specific and might also happen by denying of afinity/antiafi

[2021-03-04 16:43] #3391 closed

[2021-03-04 20:53] NaranKPatel commented on #2946
create iamserviceaccounts incurs huge number of then proceeding cloudformation/DescribeStacks calls, to the point where it breaks any related changes and makes a mess of the cluster that needs 2+ hours of work to clean-up! I'm going through and looking at further commands but 3 you've listed (create iamserviceaccounts, upgrade cluster and create cluster) generate a lot proceeding describe calls. B

[2021-03-05 02:05] #643 closed

[2021-03-05 02:06] #587 closed

[2021-03-05 09:25] cPu1 commented on #633
Reopening the issue as we're going to begin work on it soon. There's also an open proposal to address the dry-run feature: https://github.com/weaveworks/eksctl/pull/3107

[2021-03-05 10:33] cPu1 opened #3403 "`create cluster` makes too many CloudFormation API requests"
**Problem**
The `create cluster` command uses CloudFormation to create the cluster stack, and polls the CloudFormation stack periodically with a consistent rate to enquire its status. During testing, it was observed that it can make up to 50 API requests just for the cluster's stack. This sometimes results in a rate-limiting error but the code continues to poll the stack at the same rate, exacerba

[2021-03-05 13:40] cPu1 commented on #3393
@tal-shilian-m in case you missed it, this was released in https://github.com/weaveworks/eksctl/releases/tag/0.40.0

[2021-03-07 02:08] #2761 closed

[2021-03-07 02:08] #892 closed

[2021-03-07 10:11] ahmetcetin commented on #2371
Just trying to find out what those add on policies are for,  googling, checking here and there, really not easy to find out. Would be great to document those options. I'm a newbie in EKS, and trying to set things up properly.

[2021-03-08 00:42] joshti opened #3405 "cli: Invalid images are accepted."
**What were you trying to accomplish?**
Tried to deploy a cluster with Bottlerocket.

**What happened?**
AL2 deployed instead.

**How to reproduce it?**
`eksctl create nodegroup --cluster my-favourite-cluster --node-type t3.medium --node-ami Calcium --max-pods-per-node 100 --ssh-access`

**Anything else we need to know?**
There isn't a node-ami with the id of `Calcium`. `Bottlerocket` reproduces t

[2021-03-08 07:50] akshaysgithub opened #3411 "EKSCtl created nodegroups fail to delete, SG associated must be manually deleted."
Hi,

As part of cost-saving, we delete our EKSCtl created cluster everynight, and start it back again in morning. Randomly, the cluster deletion fails in the night. I have some screenshots of the issues, and will attach my config file as well.

![Screenshot from 2021-03-08 13-04-20](https://user-images.githubusercontent.com/46471116/110289949-24ca4580-8010-11eb-9aab-4ce4e77e96c4.png)
![Screenshot

[2021-03-08 08:40] cPu1 commented on #3411
Could you head to the Events tab in the CloudFormation stack for the nodegroup `dev-eks-nodes` and paste the cause of the failure? It should state the resource(s) that prevented the deletion.

[2021-03-08 08:44] cPu1 commented on #3405
Thanks for reporting this issue. This is indeed a bug in eksctl as it's not disallowing invalid AMI values, and a confusing behaviour because it defaults to using SSM parameters to resolve the AMI. A [PR](https://github.com/weaveworks/eksctl/pull/3412) has been opened to fix the issue, it will be out in the next release.

[2021-03-08 09:00] cPu1 commented on #3349
For clarification, did you use eksctl to create the cluster and nodegroup, or did you manually create the CloudFormation stack using your own template? Regardless of which method you used, did you manually modify the `aws-auth` ConfigMap?

[2021-03-08 09:12] Callisto13 commented on #3032
Think we are done with this now

[2021-03-08 09:12] #3032 closed

[2021-03-08 09:45] aclevername commented on #3397
@DanArlowski thanks for opening the issue. Can you provide the full log output?

The upgrade of a managed nodegroup is handled by EKS, so we can't really control how it handles a failed drain. It might be that we can attempt to drain the nodegroup first before triggering the upgrade, that might lead to a better UX.

Sorry I don't quite follow, could you expand upon this? Thanks.

[2021-03-08 10:18] DanArlowski commented on #3397
am sorry, but can-not as i did not save it, and run it without verbose.

I can tell you that by the looks of it eksctl did it work appropriately, and failed due to a node not evicting, and timed-out as the output does not pass to the stack.

we cant do that actually, as i think the stack is for the full managed-node-group, so draining each one before its turn is impossible, we also cant drain them

[2021-03-08 15:34] cooldudesam opened #3413 "unknown field "permissionsBoundary" under add-ons section while trying to create cluster via config file."
**What were you trying to accomplish?**

I want to enable add-ons via eksctl while provisiong cluster. Right now since only vpc-cni is available from AWS would like to test it add-on so, eksctl creates this add-on, IAM role and service account to annotate it under kube-system namespace.

**What happened?**

Iam using the filed permissionsBoundary under add-ons section and as per eksctl schema doc

[2021-03-08 16:05] aclevername commented on #3413
@cooldudesam what version of eksctl are you using? This only just got added in `0.39.0`

[2021-03-08 16:52] saada commented on #3215
/remove-stale

[2021-03-08 18:52] cooldudesam commented on #3413
Thanks for quick reply!

I was using 0.38.0 eksctl version. I installed the latest 0.40.0 eksctl version and this time i did not see the issue unknown field "permissionsBoundary" under add-ons section. But the cluster created and add-on stacks got completed succesfully but in the below stdout i see it threw an error about vpc-cni version and i dont see the add-on being added under the EKS cluster

[2021-03-09 02:30] cooldudesam commented on #3413
Thanks much! After removing the version field i was able to create the cluster along with the add-on and it did create service account as well. I can see the add-on being added in EKS console.

2021-03-08 20:21:51 [ℹ]  waiting for requested "EndpointAccessUpdate" in cluster "mw-eksctltestui-c0" to succeed
2021-03-08 20:22:10 [ℹ]  waiting for requested "EndpointAccessUpdate" in cluster "mw-eksctlte

[2021-03-09 05:53] usman-github opened #3414 "Required force option in eksctl manifest for addon"
**What feature/behavior/change do you want?**

eksctl manifest file should have "force" property for addon like we have adhoc command for addon.

`eksctl update addon --name vpc-cni --version v1.7.9-eksbuild.1 --cluster <cluster-name> --force`

**Why do you want this feature?**

Recently EKS released the new version of CNI for addon. If we create the cluster using latest CNI version "1.7.9" then c

[2021-03-09 18:40] saada opened #3417 "[managed-addons] custom service account tags"
**What feature/behavior/change do you want?**

We've had support for `iam.serviceaccounts.tags`. We would like to have the same feature supported under `addons.tags` to tag the addon's service account.

**Why do you want this feature?**

Control AWS tags for addon service account.

[2021-03-10 09:44] #2763 closed

[2021-03-10 09:59] #3148 closed

[2021-03-10 10:01] aclevername commented on #3414
Thanks for opening the issue @usman-github. You can use the `--force` flag in combination with a config file when updating the addon, e.g.`eksctl update addon -f config.yaml --force`, but your right that we don't have a way of specifying it in the config file itself. I don't know how we handle things like this elsewhere in the codebase, I'm going to have a look around.

[2021-03-10 10:48] Callisto13 opened #3419 "Refactor pkg/cfn/builder tests"
Exactly what it sounds like

[2021-03-10 10:55] Callisto13 opened #3420 "Create handy tool to generate release and issue metrics"
Right now Claudia runs some sketchy scripts whenever folks want details on how many releases we do per timeframe, how many issues we open/close per timeframe etc.

Let's write something in \<language of choice\> which is more robust and simple enough for anyone to run.

[2021-03-10 11:42] aclevername commented on #2690
Closing as I believe this is a duplicate of https://github.com/weaveworks/eksctl/issues/3155

[2021-03-10 11:42] #2690 closed

[2021-03-10 11:43] #2691 closed

[2021-03-10 12:53] #3405 closed

[2021-03-10 13:17] aclevername opened #3422 "Add support for reconciling IAMServiceAccounts using `eksctl apply`"
**What feature/behavior/change do you want?**
I want to be able to run `eksctl apply -f config.yaml` to reconcile the IAMServiceAccounts (AKA IRSA) in my cluster.

## Scenario 1
if my cluster contains 1 imperatively created IRSA `default/foo` and my config file specifies the following:
[code]

when I run `eksctl apply -f config.yaml` it should delete `default/foo` and create the `kube-system/aws-l

[2021-03-10 13:19] #2998 closed

[2021-03-10 13:22] aclevername opened #3423 "Add support for reconciling FargateProfiles using `eksctl apply`"
**What feature/behavior/change do you want?**
I want to be able to run `eksctl apply -f config.yaml` to reconcile the fargate profiles in my cluster.

## Scenario 1
if my cluster contains 1 imperatively created fargate profile `foo` and my config file specifies the following:
[code]

when I run `eksctl apply -f config.yaml ` it should delete `foo` and create the `fp-default` and `fp-dev`

## Scena

[2021-03-10 13:42] aclevername commented on #3422
Start adding an `eksctl` annotation to all new service accounts to make detecting eksctl created service accounts easier

[2021-03-10 13:44] bigkevmcd commented on #3422
I think we should use `app.kubernetes.io/managed-by: eksctl` as a label on these service accounts.

[2021-03-10 17:44] aclevername commented on #3282
Closing. We are expecting an new [API from AWS to handle cluster permissions](https://github.com/aws/containers-roadmap/issues/185#issuecomment-706636321), so we could implement this feature but it would likely be replaced very soon by this new API. I think it makes sense to halt any new development on `iamidentitymappings` functionality

[2021-03-10 17:44] #3282 closed

[2021-03-10 17:46] aclevername commented on #874
Closing. We are expecting an new [API from AWS to handle cluster permissions](https://github.com/aws/containers-roadmap/issues/185#issuecomment-706636321), so we could implement this feature but it would likely be replaced very soon by this new API. I think it makes sense to halt any new development on `iamidentitymappings` functionality

[2021-03-10 17:46] #874 closed

[2021-03-11 08:26] aniketkalamkar commented on #321
I am getting this issue lot of time -
aniket@PIXACOREs-MBP ~ % eksctl get cluster --verbose 5
Error: checking AWS STS access – cannot get role ARN for current session: RequestError: send request failed
caused by: Post "https://sts.amazonaws.com/": net/http: TLS handshake timeout

[2021-03-11 09:06] cPu1 opened #3424 "Wait longer before retrying throttled CloudFormation requests"
eksctl retries certain types of failed HTTP requests (e.g., throttling errors) using an exponential backoff mechanism. However, the initial wait duration for throttled requests is too short, which further results in more throttling errors.

Logs from a sample run that describe the behaviour:

[code]

This addresses point (2) from https://github.com/weaveworks/eksctl/issues/3403.

[2021-03-11 14:35] ajinkya933 commented on #1325
In my case the problem was:
[code]

[code]
my issue was nodegroup was not getting deleted.

I fixed it :

Problem was in under IAM>roles I removed all the roles which were not equal to the role I got when I executed:

[code]

I deleted all the roles which were not equal to : `eksctl-kubeflow-example-nodegroup-ng-185-NodeInstanceRole-1DDJJXQBG9EM6`

and after that I added a new node using: ` eksctl

[2021-03-11 14:45] cPu1 opened #3426 "Add support for --dry-run to `create cluster` and `create nodegroup`"
This is outlined in this proposal here: https://github.com/weaveworks/eksctl/blob/main/docs/proposal-007-instance-selector-dry-run.md#dry-run

The gist of the proposal is that when `--dry-run` is supplied to `create cluster` or `create nodegroup`, eksctl will output a ClusterConfig containing the default values and representing the supplied CLI options.

An example invocation would look like this:

[2021-03-11 17:47] joshti commented on #3405
Thanks much 😸

[2021-03-12 10:08] #3424 closed

[2021-03-12 10:57] patstrom commented on #3191
@michaelbeaumont I saw that you recently merged https://github.com/weaveworks/eksctl/pull/3331.

From reading up on EKS networking (and especially the links in [this comment](https://github.com/aws/containers-roadmap/issues/170#issuecomment-780174859) it looks like simply specifying the explicit subnet id when creating the new nodegroups should be fine (and thus bypassing having to manually edit t

[2021-03-12 11:09] Callisto13 commented on #3191
@patstrom I can confirm that the PR was released in [`0.40.0`](https://github.com/weaveworks/eksctl/releases/tag/0.40.0) 👍

[2021-03-12 12:09] michaelbeaumont commented on #3191
@patstrom I don't _think_ that PR allows you to do what you need yet.
Even with that PR, `eksctl` still looks for the IDs in the subnets taken from the stack (or from the `.vpc` field for non-eksctl clusters).

The final step here would be to simply be more permissive with `.subnets`:

1. like we do now, check if the string `.subnets[i]` is a key in `clusterConfig.vpc.subnets.{private,public}` (th

[2021-03-12 12:34] patstrom commented on #3191
Perhaps it would be worthwhile to create a separate issue about this?

It seems AWS now quite explicitly recommends running nodegroups in subnets that _aren't_  defined when creating the EKS cluster and eksctl should probably have better and more intuitive support for that.

I suppose it would be quite nice to allow some kind of "free-form" subnet ids (as you suggested) as well as perhaps making a

[2021-03-12 14:56] #3417 closed

[2021-03-12 16:59] duttab49 opened #3432 "eksctl create nodegroup fails with specified private subnets different from EKS private ENI's subnects"
In the following yaml -

apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: cluster-1234
  region: us-east-1
  version: "1.18"

vpc:
  id: vpc-123456789
  subnets:
   public:
      public-one:
          id: subnet-1
      public-two:
          id: subnet-2
      public-three:
          id: subnet-3
   private:
      private-one:
          id: subnet-4
      private-two:

[2021-03-12 17:16] Nickolaitc commented on #3432
I am actually seeing similar behavior.

`vpc:
  id: "vpc-#####"
  subnets:
    private:
      us-east-1a:
          id: "subnet-#####"
      us-east-1b:
          id: "subnet-#####"
    public:
      us-east-1d:
          id: "subnet-#####"
      us-east-1e:
          id: "subnet-#####"`

 The output I get:

 2021-03-12 12:10:02 [✖]  couldn't find private subnets: mapping doesn't have subnet with

[2021-03-12 18:57] michaelbeaumont commented on #3432
Likely the same request as https://github.com/weaveworks/eksctl/issues/3191#issuecomment-797450936 @patstrom

[2021-03-12 20:54] cooldudesam commented on #3413
Thanks for the response. Having support for eksctl apply similar to kubectl apply would help in updating the configuration since we are applying using the config file to provision cluster and managed nodegroups.

Could I just update the cluster config.yaml file with the add-on specifications, including the permission boundary spec something like this

iam:
  withOIDC: true

addons:
- name: vpc-cni

[2021-03-13 11:33] hariohmprasath commented on #1930
Hi,

I ran into a similar issue and I could use CDK to solve this without the help of `eksctl`. You can have a look at this code repo -> https://github.com/hariohmprasath/kubernetes-alb-ingress.

You can recreate the same steps mentioned in https://github.com/hariohmprasath/kubernetes-alb-ingress/blob/master/src/index.ts to create an EKS cluster, attach IAM policies and deploy the ALB ingress cont

[2021-03-13 21:11] DekusDenial opened #3433 "Add taints to managed nodegroup"
**What feature/behavior/change do you want?**

I would like to apply taints to managed nodegroup the same way it does today for self-managed nodegroup. And I understand from the eksctl docs that this is not yet supported, but I would like to create an official request if not yet already.

**Why do you want this feature?**

I have self managed nodegroups today that are tainted to reserve for specif

[2021-03-13 23:34] joebowbeer commented on #20
I'm here trying to figure out what GitOps tools I should use going forward for EKS cluster config, especially with ClusterAPI on the horizon.

Specifically, I'm wondering about `eksctl` vs `clusterctl --flavor eks` and about the eksctl quickstart profile vs the clusterctl capi-eks-quickstart template. Maybe a ClusterAPI controller will be a factor, too.

Neither the eksctl getting started docs nor

[2021-03-14 17:13] moq-abdelhaq commented on #581
Great tool, but not having the ability to control naming your infra-structure in a flexible way is disappointing
It's one of AWS's official ways of provisioning EKS and lacks flexibility in that regard. It might be a blocker for us since our company is imposing strict naming to AWS resources.

[2021-03-15 07:59] patstrom commented on #3432
Yeah it looks like the same. How do we wish to proceed? Move the discussion to this issue? Create a new one?

[2021-03-15 08:25] RamazanKara opened #3435 "Use PermissionBoundaries with IAMServiceAccount command without config file"
**What feature/behavior/change do you want?**
I need permissionboundaries on the IAMServiceAccount Command or a similar substitute. I have a governed AWS Account which forces me to use roles only with permissionboundaries.

**Why do you want this feature?**
To create IAM Service Accounts on my governed AWS Account.

I know there is a feature in 0.39 that does this. But I can not find a documentati

[2021-03-15 09:14] RamazanKara commented on #3435
I have found out how to do it with a config file. So I changed the title to make it available as a parameter for the iamserviceaccount command.

[2021-03-15 11:18] toabctl opened #3436 "publish eksctl snap on snapstore"
There is already a snap build directory. It would be nice if the snap could be build and published automatically on the https://snapcraft.io/#

[2021-03-15 12:43] duttab49 commented on #3432
Hi @patstrom , we have a use case, where we want to create a worker node and internal ALB in separate subnets that vpc subnects.
We expect this fix to be available in the coming eksctl version.
Currently, we have eksctl version 0.40

[2021-03-15 15:20] saada commented on #3414
I am also facing this issue. I think from a UX perspective, I wouldn't expect a create cluster to cause a failure somewhere. I am facing this after running `eksctl create cluster` with the addons turned on in eksctl.yaml. This means that any cluster created with addons turned on will probably run into this issue.

[2021-03-15 17:18] aclevername commented on #3414
Thanks for the extra info! The `--force` flag tells the EKS addons API to override any existing yaml during deployment, I think for any addon created during cluster deployment it makes sense to always enforce this flag, as there shouldn't be any resources existing in the cluster that we don't want to have overridden as the user has not had a chance to create any of there own resources yet. I've op

[2021-03-16 02:09] #3095 closed

[2021-03-16 03:08] mttamrap opened #3439 "Improve error message when setting deprecated AMI as input to --node-ami-family"
Ran the command
`eksctl create nodegroup --cluster eks-1-19 --node-ami-family=WindowsServer1909CoreContainer --node-type=t2.large -v9`

The following error was displayed:
[code]
The reason is because it is a deprecated EKS AMI. Can the error message when using a deprecated AMI be improved to suggest the same?

[2021-03-16 03:49] lemesleandro commented on #3155
@composer22

what did you do to solve the problem?

[2021-03-16 08:50] cPu1 commented on #3403
Closed by #3421 and #3424

[2021-03-16 08:50] #3403 closed

[2021-03-16 10:03] Callisto13 commented on #3439
Note: this particular failure instance could be because we still list `WindowsServer1909CoreContainer` in our [supported AMIs list](https://github.com/weaveworks/eksctl/blob/main/pkg/apis/eksctl.io/v1alpha5/types.go#L158-L172). If it is deprecated we should remove it.

2 parts to closing this issue:
- Improve the error message for when users attempt to use a deprecated AMI
- Remove `WindowsServer1

[2021-03-16 10:05] #3015 closed

[2021-03-16 11:00] Callisto13 commented on #3436
Hi @toabctl, we used to have a snap on snapcraft, but the team decided to stop releasing snaps about a year ago as it was too much work to maintain.

[2021-03-16 11:02] Callisto13 commented on #3435
Hi @RamazanKara thanks for opening this issue.

Eksctl deliberately does not have `1:1` mapping of `config:flag` options as a way to encourage people to use config instead of flags. Add this flag is therefore not something we want to do.

[2021-03-16 11:02] #3435 closed

[2021-03-16 11:02] Callisto13 commented on #3433
Note: this work is blocked on upstream EKS APIs

[2021-03-16 12:46] toabctl commented on #3436
Hm. ok. Any hints what actually was too much work? I wonder if something like that couldn't be automated with github actions .

[2021-03-16 15:43] Callisto13 commented on #3436
This is a little before my time, but it looks like the snap (and work around setting up CD) was disabled in January 2020 (https://github.com/weaveworks/eksctl/issues/215#issuecomment-580780317) while waiting for fixes for https://github.com/weaveworks/eksctl/issues/1721 and some "other issues" (unspecified). Perhaps @dholbach has more context?

We have not looked at this since then as it ceased to

[2021-03-17 03:46] TBBle commented on #1467
This issue hasn't mysteriously solved itself.

[2021-03-17 04:57] kushagra391 opened #3440 "is r5b supported by aws eks / eksctl ?"
**What feature/behavior/change do you want?**
It looks like `r5b` series of instances are not supported by eksctl at the moment.
When trying to add a nodegroup with `r5b`, the commend times out after 20 min

[code]

[code]
Although i see them present in https://github.com/awslabs/amazon-eks-ami/blame/master/files/eni-max-pods.txt#L311-L319  and https://github.com/weaveworks/eksctl/blob/main/pkg/no

[2021-03-17 05:44] vodwood commented on #1030
The fact that this feature is still open and not prioritized is fascinating.

[2021-03-17 10:39] dholbach commented on #3436
@Callisto13 IIRC It was deemed less of a priority and that there might be testing overhead if we'd publish several binaries / output formats.

[2021-03-17 10:39] dholbach commented on #3436
(Oh and hi @toabctl ! Good to see you again! :grinning: )

[2021-03-17 11:52] aclevername commented on #3440
Hey @kushagra391

eksctl doesn't block specific instances types, but it might be that something is unique to this type that required a change in eksctl.

Can you try again with the latest version of eksctl and provide the full cfg and log output? Thanks

[2021-03-17 11:55] santosh07bec opened #3441 "AWS Outpost support for eksctl"
AWS Supports creating EKS Worker nodes on AWS Outpost, however eksctl doesn't support that yet. I think it will be good to add this capability into eksctl.

[2021-03-17 12:15] Callisto13 commented on #3441
Hey @santosh07bec thanks for this request, we will look into how eksctl can best support this. 👍

[2021-03-17 13:41] liranp opened #3442 "Runtime error: nil pointer dereference when VPC is empty"
**What were you trying to accomplish?**
Create an unmanaged nodegroup.

**What happened?**
Runtime error (eksctl panics).

**How to reproduce it?**
Either a `create cluster` or a `create nodegroup` command can be invoked with a config file with no VPC configuration.

**Logs**
[code]

**Anything else we need to know?**
Introduced by #3027.

**Versions**
[code]

[2021-03-17 14:18] saada opened #3444 "[managed-nodegroups] Ability to bind ec2 keypair without creating ssh security group"
**What feature/behavior/change do you want?**

I’m trying to switch to managed nodegroups and pass an existing ec2 keypair. I’m facing a weird issue when I set `managedNodeGroups[].ssh.allow: true`, along with a `PublicKeyName`. Unfortunately eksctl takes this info and creates a security group automatically that I don't want to create. There’s no way in the logic to NOT create this SSH securityGro

[2021-03-17 16:43] saada commented on #3444
Strangely enough. It seems to work now. I must have had a misconfiguration or something. I cannot reproduce this anymore.

Thanks

[2021-03-17 16:43] #3444 closed

[2021-03-17 20:22] kushagra391 commented on #3440
@aclevername sorry for the false alarm, it works fine with the latest eksctl `v0.41.0-rc.0` !

[2021-03-17 20:22] #3440 closed

[2021-03-17 20:52] wat-usmdon opened #3445 "Flux v2 support does not work on Windows"
**What were you trying to accomplish?**

I'm trying to deploy an EKS cluster with Flux v2 from a Windows environment.

**What happened?**

Cluster creation works fine, but whenever it gets to the part where Flux is installed or whenever I run `eksctl enable flux` I get an error about needing to run `aws configure`.

This happens only with eksctl. If I run `flux check --pre` directly I pass all pre

[2021-03-18 10:47] Callisto13 commented on #3445
Thanks for reporting this @wat-usmdon , and for providing lots of detail 😄 . Flux v2 support is still experimental and we are glad to see someone is attempting to use it: we weren't really sure before 😅 .

We will look into this issue asap and hopefully come up with a resolution quickly.

[2021-03-18 12:08] #3414 closed

[2021-03-18 13:04] Callisto13 opened #3446 "Nodes fail to join cluster when using new v20210302 GPU AMIs"
# TLDR:

Eksctl provides our own kubelet and docker daemon config (or in the case of GPU AMIs does some hackery elsewhere since the docker config file is not there). These 2 configs need to vaguely line up since they both need to explicitly set the cgroupdriver to be the same, otherwise the kubelet will not start. With the new GPU AMIs, they are now using the docker daemon config which was previou

[2021-03-18 13:22] wat-usmdon commented on #3445
If I'm setting up a new cluster today should I still be using Flux v1 despite #2963?

[2021-03-18 13:37] Callisto13 commented on #3445
So Flux v2 itself is not experimental. All eksctl is doing is using config to run the new flux for you after your cluster is ready. You therefore have the option to do something like:

[code]

with each command separately which is 100% the same thing as what eksctl is doing (just not with a handy 2-in-1 config).