[2018-05-31 10:52] errordeveloper opened #14 "pre-release TODOs"
- [x] make install instructions simpler with `latest_release` floating tag
- [x] review `--help` for all subcommand
- [x] test against internal EKS endpoint (and fix any potential issues)
- [x] squash the history into sensible chunks
- [x] ~update AMI IDs for each of the GA regions~
- [x] ~re-create the private repo~
- [x] ~push to the new repo and check CircleCI works~
- [x] remove TODOs from the

[2018-06-04 21:47] errordeveloper opened #17 "add-on installation"

[2018-06-04 21:47] errordeveloper opened #18 "add-on management"

[2018-06-04 21:50] errordeveloper opened #19 "Cluster API CLI"
We would like to implement [Cluster API](https://github.com/kubernetes-sigs/cluster-api). One of the modes in which one can use Cluster API would be `eksctl apply -f cluster.yaml`, this would let users create and update clusters using a declarative format of a Cluster API object.
Another mode of using Cluster API would be via a controller running in a management cluster (#20).

[2018-06-04 21:50] errordeveloper opened #20 "Cluster API controller"
We would like to implement [Cluster API](https://github.com/kubernetes-sigs/cluster-api). One of the modes in which one can use Cluster API is by having a management cluster which runs a controller (actuator), which creates new clusters and nodegroups when it receives Cluster API objects.
Another mode of using it would be via CLI (#19).

[2018-06-05 12:29] errordeveloper opened #21 "bad output keys can result in eks.GetOutput blocking"
It was observed that it blocked once, needs more testing to verify why.

https://github.com/weaveworks/eksctl/blob/0a39d1a2c1d107e1da90c27889d43bddba42ab3a/pkg/eks/cfn.go#L41

https://github.com/weaveworks/eksctl/blob/0a39d1a2c1d107e1da90c27889d43bddba42ab3a/pkg/eks/cfn.go#L355

[2018-06-05 12:31] errordeveloper opened #22 "eksctld should probably use SNS notifications instead of polling for status"
As it's the intended way with CloudFormation.

[2018-06-05 12:33] errordeveloper opened #23 "polling for stack and cluster status should timeout"
It can stall forever right now, at least in theory.

https://github.com/weaveworks/eksctl/blob/0a39d1a2c1d107e1da90c27889d43bddba42ab3a/pkg/eks/cfn.go#L56

https://github.com/weaveworks/eksctl/blob/0a39d1a2c1d107e1da90c27889d43bddba42ab3a/pkg/eks/eks.go#L76

[2018-06-05 12:36] errordeveloper opened #24 "decide which stack statuses we have to handle"
https://github.com/weaveworks/eksctl/blob/0a39d1a2c1d107e1da90c27889d43bddba42ab3a/pkg/eks/cfn.go#L73-L87

[2018-06-05 12:40] errordeveloper opened #25 "find out why EKS API doesn't support tags – file a bug"
https://github.com/weaveworks/eksctl/blob/0a39d1a2c1d107e1da90c27889d43bddba42ab3a/pkg/eks/eks.go#L22

[2018-06-05 12:41] errordeveloper opened #26 "implement ListAllTaggedResources and cleanup util"
https://github.com/weaveworks/eksctl/blob/0a39d1a2c1d107e1da90c27889d43bddba42ab3a/pkg/eks/eks.go#L164

[2018-06-05 12:45] errordeveloper opened #27 "improve ListClusters"
It will fail if a user has many clusters, so it needs paging.

https://github.com/weaveworks/eksctl/blob/0a39d1a2c1d107e1da90c27889d43bddba42ab3a/pkg/eks/eks.go#L128

It should also use data structure and a formatter instead of using logger.

https://github.com/weaveworks/eksctl/blob/0a39d1a2c1d107e1da90c27889d43bddba42ab3a/pkg/eks/eks.go#L127

[2018-06-05 12:49] errordeveloper opened #28 "review parameter validation"
Right now it's a bit ad-hoc, especially ASG size, but also instance types and regions are not validated at all.

https://github.com/weaveworks/eksctl/blob/0a39d1a2c1d107e1da90c27889d43bddba42ab3a/cmd/eksctl/create.go#L70

[2018-06-05 12:51] errordeveloper opened #29 "kubeconfig writer should merge with existing files and respect KUBECONFIG"
https://github.com/weaveworks/eksctl/blob/0a39d1a2c1d107e1da90c27889d43bddba42ab3a/cmd/eksctl/create.go#L125

[2018-06-05 12:56] errordeveloper opened #30 "make dependency checker do something more useful"
We can either instruct the user how to install `kubectl` and `heptio-authenticator-aws`, or install it for them. However, with OS packages we could probably consider pulling these in that way...
If we decide to install, perhaps we should install them into `~/.eksctl/bin` or something like that.
https://github.com/weaveworks/eksctl/blob/0a39d1a2c1d107e1da90c27889d43bddba42ab3a/cmd/eksctl/create.go#

[2018-06-05 13:05] errordeveloper opened #31 "make sure latest_release is always marked as 'latest release' by github"
Right now this is really down to Circle CI – whichever job succeeds first. It's a little bit confusing to who who pay attention. We should be able to make it less confusing and show the release we want people to download at the top of the page.

[2018-06-05 13:17] errordeveloper opened #32 "ECS workload importer"
It'd be interesting to experiment with doing the heavy lifting to help ECS users try moving some of their workloads to EKS. We wouldn't be able to do magic here, but it should be possible to generate manifests and put them in a git repo etc.

[2018-06-05 20:07] arun-gupta opened #35 "eksctl download instructions broken?"
Following the download instructions from https://eksctl.io/, and got the following error:

[code]

[2018-06-05 20:27] errordeveloper commented on #35
The binaries weren't available, but they are now :)

[2018-06-05 20:27] #35 closed

[2018-06-05 20:52] arun-gupta opened #37 "Cluster creation fails with segmentation violation"
[code]

[2018-06-05 21:53] #37 closed

[2018-06-05 22:26] christopherhein opened #39 "gnu-sed version doesn't work w/ ./tag_releases.sh"
[code]

[2018-06-05 22:49] errordeveloper commented on #39
Yes, see should find a better way here, maybe we can just find a porta let command, or we could just try and fix goreleaser issue that results in having to do this - https://github.com/goreleaser/goreleaser/issues/691.

[2018-06-05 22:55] christopherhein commented on #39
Hm okay.

[2018-06-05 23:01] christopherhein commented on #14
I think we can call this done @errordeveloper agree?

[2018-06-06 00:09] arun-gupta opened #40 "Empty output for get cluster"
Created a cluster:

[code]

Upgraded kubectl to 1.10.2
Installed `heptio-authenticator-aws` in `PATH`
Had to grab cluster name from the log output
`eksctl get cluster --cluster-name adorable-sculpture-1528239629` and `eksctl get cluster --cluster-name adorable-sculpture-1528239629 --region us-west-2` is giving an empty output

[2018-06-06 00:18] christopherhein commented on #40
Thanks @arun-gupta glad to have you going through this as well. Looks like it a simple change the `status` key in the JSON response is looking for a `Ready` string when it should be `ACTIVE` per our docs. will have a PR in a second.

[2018-06-06 00:37] tigerwings opened #42 "Can use existing vpc and subnets"
need the capability to specify vpc and subnets in create cluster command to reuse the existing direct connect vpc.

[2018-06-06 07:21] errordeveloper opened #43 "Homebrew package"
Goreleaser actually supports Homebrew, so it should be just a matter of enabling it.

[2018-06-06 07:31] errordeveloper commented on #39
So removing space `-i` fixes it, it's `sed -i.bak` instead `sed -i .bak` which BSD version tolerates, but GNU one trips over.

[2018-06-06 08:59] #14 closed

[2018-06-06 09:03] errordeveloper commented on #27
I think something similar to `kubectl` would be nice, but one problem is that I maybe very hard to re-use `kubectl` printers are very very custom (at least last time I checked), but we should re-check.

[2018-06-06 10:52] errordeveloper commented on #42
I think there will be two major modes here:
1. use a preconfigured VPC, but create new subnets (easiest for the user who is simply short of VPCs)
2. use a preconfigured VPC and subnets (someone who wants certain kind of configures, e.g. as  mention above - with direct connect was; or more generally someone who has to control networking separately)

I think it must be possible to go with first opti

[2018-06-06 10:53] errordeveloper commented on #42
@tigerwings I have a specific question to you personally – can you use VPC peering to connect your EKS VPC with an existing VPC and enable direct connect that way?

[2018-06-06 10:56] errordeveloper opened #45 "Website updates"
We've been promoting the project using eksctl.io URL, but the page doesn't actually link to the repo, neither it displays stars. Sharing buttons would be also nice to add, so visitors are encouraged to share with their friends.

[2018-06-06 11:03] errordeveloper opened #46 "Testing"
We could probably add some unit tests, but the critical code path is reliant on AWS APIs and mocking CloudFormation is going to involve a lot of effort due to its complex nature (unless there is something ready-made we can use). Also, we would also need to mock Kubernetes somehow, there is probably prior art, but that could be very specialised. Personally, I feel that integration test is what we n

[2018-06-06 11:04] errordeveloper commented on #46
We might want to start on this before 0.1.0, but I wouldn't block 0.1.0 on lack of automated testing, unless others strongly object.

[2018-06-06 12:41] cromark opened #47 "'/lib/ld-musl-x86_64.so.1: bad ELF interpreter: No such file or directory' on RHEL install"
Installation on RHEL results in message `/lib/ld-musl-x86_64.so.1: bad ELF interpreter: No such file or directory`

os information

[code]

[2018-06-06 13:08] errordeveloper commented on #47
Thanks! I will take a look, as I was about to cut 0.1.0-alpha.4.

[2018-06-06 13:21] #47 closed

[2018-06-06 14:44] errordeveloper opened #49 "automate AMI updates"
Currently, AMI IDs have to copied from [the docs](https://docs.aws.amazon.com/eks/latest/userguide/launch-workers.html), we need to make it easier to automate (e.g. via a script).

[2018-06-06 15:11] errordeveloper commented on #30
also checkout what `jx` does and possibly refactor:

https://github.com/jstrachan/jx/blob/07efc32c555d90122f295c8f707bfcc3bba7afca/pkg/jx/cmd/common_install.go#L147:25

[2018-06-06 15:49] tigerwings commented on #42
@errordeveloper , vpc peering is not a valid solution. The main reason to use DC VPCs is that we need to access our internal service from DC VPCs. On the other hand, we may setup and tear down an EKS cluster often, the peering ops have too much overheads.

[2018-06-06 16:12] StevenACoffman opened #50 "Scrape and convert existing Kops cluster api for subnets, security groups, instance groups"
I'm not sure if this is out of scope of this project, but I'd love to be able to convert our existing kops clusters to EKS without the manual work.

Thanks!

[2018-06-06 16:43] errordeveloper commented on #50
This sounds great, potentially more easily achiveble then using any random pre-ey VPC.

[2018-06-06 16:59] errordeveloper commented on #50
We could re-use kops code too.

[2018-06-07 10:40] errordeveloper opened #53 "AWS-specific add-ons"
In no particular order we should consider the following:

- https://github.com/kubernetes-incubator/external-dns
- https://github.com/zalando-incubator/kube-ingress-aws-controller
- https://github.com/kubernetes-sigs/aws-alb-ingress-controller

Some of these add-ons require instance roles and pre-extisting resource (e.g. Route 53 zone for external DNS) etc, so we could ensure that's set up correct

[2018-06-07 16:19] JordanFaust commented on #49
Commenting here rather then creating a new issue. As part of this the cli should expose an option to create a cluster with a custom AMI for the worker nodes. Thoughts on rolling these two things together?

[2018-06-07 17:06] StevenACoffman commented on #53
Should also consider:
* https://github.com/uswitch/kiam

(oh gosh, please not kube2iam)

[2018-06-07 17:50] errordeveloper commented on #49
Custom AMI will be supported soon, we just need to expose a flag, I'd like to do that as part of #48 (there is code already, but I'd like to simplify the code by using a library, if I can).

[2018-06-08 01:28] #45 closed

[2018-06-08 08:14] errordeveloper commented on #53
I thought EKS provided full IAM integration, is that not the case right now?

On Thu, 7 Jun 2018, 6:06 pm Steve Coffman, <notifications@github.com> wrote:

[2018-06-08 11:32] StevenACoffman commented on #53
The heptio authenticator allows IAM roles to be translated into kubernetes tokens/accounts, but not the other way around. If an app on a pod uses the aws sdk, it will call the ec2 metadata service and be granted the same iam role and permissions as the node.
Custom IAM roles require either injecting credentials via secrets, or intercepting the ec2 metadata service.  kiam (or the more problematic k

[2018-06-08 18:32] jamesalbert opened #55 "Stuck on initial resource creation"
I'm getting this output for the following command:
[code]

The only thing that gets created is the key pair. It just hangs here (I left it running for 45 minutes twice). Verbose logs don't tell too much more than this. I'm using a god mode role so I don't think it's a permissions issue. Any ideas?

[2018-06-08 21:34] jamesalbert commented on #55
there were eks limits set on the account that I wasn't aware of

[2018-06-08 21:34] #55 closed

[2018-06-08 22:38] crw opened #56 "Print the profile being used before attempting to authenticate"
As I was trying to use eksctl, I spent a lot of time debugging whether or not it understood which profile to use mostly by digging through the source code. I was using .aws/credentials + AWS_PROFILE env var.  Turns out, it does.

It would be very helpful, given this is meant to be a "guided experience" tool, if it just popped out a message when it started up telling you which profile it is trying

[2018-06-08 22:40] crw commented on #56
Sidebar, the reason I was doing the debugging is Comcast DNS servers we timing out on certain AWS domain names (but not others). So, eksctl didn't work, but I could reach other k8s clusters on aws and gke (but my Plume wifi devices, which dial home to an AWS domain, had been offline for a week for the same reason).

So, if you get an error like "dialout i/o timeout" it may be DNS timing out. Not s

[2018-06-09 08:15] richardcase opened #57 "Unable to create cluster using profile"
I'm trying to create a cluster with using a specific profile. I've set the **AWS_PROFILE** environment variable (as per [this](https://docs.aws.amazon.com/cli/latest/userguide/cli-roles.html)) but its still creating the cluster using the default cli profile.

We use specific profiles to distinguish between our environments (dev, non-prod, prod) and we're also using MFA.

Looking at #56 it would ap

[2018-06-09 08:43] errordeveloper commented on #56
Typica with Go, I get these from `kubectl` all the time. I've filed an issue once – https://github.com/kubernetes/kubernetes/issues/33877, not sure what's been done about. We can probably find something to do about it and make a PR to `kubectl` (or Go?), i.e. match timeout error and make the message more useful.

[2018-06-10 06:48] richardcase commented on #57
@errordeveloper - thanks, i haven't had time to try but will try today and let you know. I'm sure its a case of PEBKAC.

[2018-06-10 17:02] errordeveloper commented on #56
Turns out this is pretty complicated, the SDK has a lot of logic to deal with different configuration modes, however there is no way to obtain profile being used. We can get credentials struct, but it doesn't have profile in it as such. Also, there is a mode where profile isn't even set, i.e. you just have credentials set as environment variables and no `~/.aws/credentials` file.

I think the most

[2018-06-10 17:06] errordeveloper commented on #56
Maybe we could print a sanitised credentials struct, e.g.:

[code]

[2018-06-10 17:07] errordeveloper commented on #57
@richardcase see https://github.com/weaveworks/eksctl/issues/56#issuecomment-396064846, and please let us know if that would be helpful.

[2018-06-11 07:04] richardcase commented on #57
Yes that would be useful.

I thought i'd check the AWS cli with the AWS_PROFILE environment variable set and it correctly uses the profile and i get the output from the correct role/account.

But if i then use eksctl with the same environment variables set i now get errors:

[code]

I'm guessing that the AWS cli does something extra when running or some subtle differneces between the Python SDK an

[2018-06-11 08:15] richardcase commented on #57
@errordeveloper - i managed to get a cluster created. I had to use the following first:
[code]
And then use the output to set the AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY, AWS_SESSION_TOKEN. After which i could create the cluster using `eksctl create cluster`.

If i use the[ aws cli](https://github.com/aws/aws-cli) i only need to set AWS_PROFILE (or --profile) and not the other environment variabl

[2018-06-11 09:36] vkhatri commented on #57
I had to create a default profile (~/.aws/credentials) to get `eksctl` working.

Having an option `--profile` would be nice too along with AWS_PROFILE support.

[2018-06-11 10:29] richardcase commented on #57
I have default profile and eksctl was fine with that. Its just when i wanted to use a different profile (which is a different account and role).

I used a variation of this [script](https://github.com/Integralist/Shell-Scripts/blob/master/aws-cli-assumerole.sh) or [awsudo](https://github.com/meltwater/awsudo) to make it easier to set the required variables.

But `--profile` or `AWS_PROFILE` would

[2018-06-11 12:48] richardcase commented on #57
Having had a look, the aws cli uses botocore which looks at creating credentails in a number of ways. Have a look at create_credential_resolver in [this](https://github.com/boto/botocore/blob/develop/botocore/credentials.py).

It should be fairly straight forward to add something similar to eksctl as there is the [ChainProvider](https://github.com/aws/aws-sdk-go/blob/301ea4de9fcd6f424fd15d5b01e551

[2018-06-11 17:43] rade commented on #57
@richardcase

That would be awesome. Quite a few people are running into this problem.

[2018-06-11 19:57] richardcase commented on #57
@rade  - i'll have a look at adding this tomorrow and will make a PR when its done.

[2018-06-12 17:40] crw commented on #56
I would probably skip showing secret stuff (SecretAccessKey, SessionToken), even in an elided format. Otherwise, LGTM.

[2018-06-13 13:58] marccarre commented on #57
@richardcase, would it be possible to get more details on your setup (e.g. `eksctl` version, local AWS profile/config files, env. vars., configuration/profiles in AWS, etc.) and the exact steps you followed, in order to help us reproduce what failed for you?

Earlier, I used `master`, `AWS_PROFILE` to configure a non-default profile and MFA, but couldn't reproduce the initial problem you had:

[2018-06-13 15:16] richardcase commented on #57
@marccarre - sure no problem. Let me know if you need anything in addition to  what i've included below.

 **eksctl version**: {"gitTag":"0.1.0-alpha.6", "builtAt":"2018-06-08T11:31:30Z", "gitCommit":"1ed92fe1b1369d5c824cc96e5cab83887e2fc2b3"}

**env vars**: no AWS_* environment variables set

My local AWS config file:
[code]
And my credentials file:
[code]

And the step to reproduce:
1. Ensure th

[2018-06-13 16:21] marccarre commented on #57
Thanks a lot @richardcase, I was able to reproduce your issue (same error message/symptoms) with both `master` and `0.1.0-alpha.6`. Testing against the PR you opened, I still had:
[code]
is there any additional configuration step you did afterwards?

[2018-06-13 16:35] richardcase commented on #57
@marccarre - the error you are getting is because your user is not authorised to assume the role you specified. This will be an iam issue as this error is being returned from aws.

You should get the same error if you tried to assume role using the aws cli. For example:
[code]

[2018-06-13 17:33] darkn3rd opened #60 "Node Creation Failure"
How do you fix this:

[code]

[2018-06-14 07:56] erez-rabih opened #61 "Basic use flow fails"
I just installed `eksclt` and ran `eksctl create cluster --cluster-name=eks-test`
The VPC cloudformation stack can't be built. All subnets creation fails with this error:
[code]

[2018-06-14 10:15] marccarre commented on #57
Indeed, I had misconfigured that role. Once sorted out, I was able to get things to just work:
[code]

[2018-06-14 10:33] marccarre commented on #57
Fixed by #59. And change released in [0.1.0-alpha.7](https://github.com/weaveworks/eksctl/releases/tag/0.1.0-alpha.7).

[2018-06-14 10:33] #57 closed

[2018-06-14 17:20] errordeveloper opened #62 "User management"
At the moment we create clusters dedicated for single user, we need to extend this.

https://docs.aws.amazon.com/eks/latest/userguide/managing-auth.html

https://docs.aws.amazon.com/eks/latest/userguide/add-user-role.html

It'd be nice to have two features:
- add any existing IAM user to a cluster
- add all admin (as in, those with Administrator policy) to a cluster when it's created (may need syn

[2018-06-14 18:06] errordeveloper commented on #61
Thanks for reporting this! Could you please run the same command with `--verbose=4` and paste the output here?

[2018-06-15 06:48] richardcase commented on #29
@errordeveloper - i can look at this. If thats ok?

[2018-06-15 07:01] richardcase commented on #29
Are you thinking something  along these lines:
- If --kubeconfig, --auto-kubeconfig or KUBECONF env var are NOT set then the default kube config location should be use (~/.kube/conf).
- If KUBECONF is set then we use this (assuming --kubeconfig and --auto-kubeconfig aren't specified)
- if KUBECONF is set BUT --kubeconfig or --auto-kubeconfig are specified then KUBECONF is ignored
- if a kubeconfig

[2018-06-15 12:10] richardcase commented on #29
It would also be worth re-visiting the **write-kubeconfig** and **auto-kubeconfig** flags.

I wonder if auto-kubeconfig should be set to false as a default so that if no flags are supplied it picks up the standard kubeconf location.

[2018-06-15 19:34] errordeveloper commented on #29
@richardcase I agree, we should make `--auto-kubeconfig=flase` the default, it's a bug that it's the opposite right now.

[2018-06-15 21:03] errordeveloper commented on #29
@richardcase I've opened #63 to fix the default `--auto-kubeconfig`.

[2018-06-15 21:08] errordeveloper commented on #29
Yes, indeed. (nit: `~/.kube/config`).

Yes.

Yes.

Yes, and I think the user should be able to control weather `current-context` gets be updated.

[2018-06-15 21:36] richardcase commented on #29
I've got pretty much got all of the above working.

Good idea with the `current-context`.  Do you think if there is no existing config to set the context authomatically but if there is an existing config then you need to specify something like `--set-context`?

[2018-06-15 22:26] errordeveloper opened #65 "support cluster name as argument"
it's too easy to forget to specify `--cluster-name <name>` and type `eksctl create cluster <name>` instead, we should probably support simple argument mode, because `kops` and `kubicorn` support this also.

[2018-06-16 20:01] errordeveloper commented on #43
We should pull in `kubernetes-cli` and probably just bundle up `heptio-authenticator-aws` in the same package. There is an issue with `kubernetes-cli`, as at the moment it depends on `go@1.9`, it has be built from source, and it should be an easy fix, I have https://github.com/Homebrew/brew/pull/4348 already.

[2018-06-16 20:11] errordeveloper commented on #29
Ah, excellent! In that case, please open a PR and assign it to me, I should have time to review early next week.

Exactly, but I'm not sure what the default should be.

[2018-06-18 06:59] erez-rabih commented on #61
The error is on the creation of the Cloudformation `Amazon EKS Sample VPC` stack
![image](https://user-images.githubusercontent.com/813024/41522374-52ef8476-72de-11e8-8ed7-b6370eab566c.png)

[2018-06-18 08:02] richardcase commented on #30
If you go down the route of printing instructions then minikube can be used for some inspiration. See [this](https://github.com/kubernetes/minikube/blob/69fc158ce86e8fd113cd42ae616c8009454fe212/cmd/util/util.go#L188).

[2018-06-18 12:33] #60 closed

[2018-06-18 16:23] errordeveloper commented on #61
So looks like `Subnet01` gets created, while `Subnet02` and `Subnet03` fail.

https://github.com/weaveworks/eksctl/blob/master/pkg/eks/assets/1.10.3/2018-06-05/amazon-eks-vpc-sample.yaml#L77-L129

So this implies that `Fn::GetAZs: {Ref: AWS::Region}` evaluates to an array with only one element, and I'm not sure how that could be possible, if you are using either of the supported regions – `us-west

[2018-06-18 23:46] berndtj opened #69 "Allow additional user-data on EKS nodes"
It would be great to be able easily add to the node template user-data.  While one could get most of the same functionality with custom AMIs, then you have to maintain AMIs.  For instance, I hacked the nodegroup template to add support for insecure registries (deploy pods from a registry deployed within the cluster):

[code]

[2018-06-19 00:46] errordeveloper commented on #69
I agree, in general we should provide customisation, but I believe this is a special case and we are already discussing this with @jstrachan (see https://github.com/jenkins-x/jx/issues/87).

[2018-06-19 00:56] berndtj commented on #69
Awesome @errordeveloper! Let me know if I can help.  BTW, I was sitting next to you at the openfaas meetup last week.

[2018-06-19 05:41] errordeveloper commented on #43
I've enabled `goreleaser` to populate a tap repo, but it seems like it doesn't support Homebrew very well at the moment and I discovered goreleaser/goreleaser#686. Also, it's not clear to me how bottles can work with taps, so we might wanna do a cask for the timbering (perhaps).

[2018-06-19 05:41] errordeveloper commented on #43
cc @arun-gupta @christopherhein

[2018-06-19 06:06] christopherhein commented on #43
As far as the goreleaser issue did you see the thread about `build_dependencies` being what causes the hash to be incorrect?

If you remove that from the `.goreleaser.brew.yaml` does it work? I can test tomorrow if you don’t have time.

[2018-06-19 06:07] christopherhein commented on #65
What do you think about also changing it to `—name` to be consistent with the `aws eks` cli?

[2018-06-19 06:41] errordeveloper commented on #69
@berndtj please feel free to explore this. At the moment we have CloudFormation templates generated with go-bindata and checked-in. I suppose it's be easiest to implement this as parameter in CloudFomation – wdyt? I'm not entirely sure about enabling it by default right now.

[2018-06-19 07:12] errordeveloper commented on #43
Please feel free to take a look tomorrow, but maybe we should find a way to
test this without having to tag even more alpha releases.

On Mon, 18 Jun 2018, 11:06 pm Christopher Hein, <notifications@github.com>
wrote:

[2018-06-19 07:13] errordeveloper commented on #43
Also, I was thinking that going with a cask could be much easier for the
time being.

On Tue, 19 Jun 2018, 12:12 am Ilya Dmitrichenko, <errordeveloper@gmail.com>
wrote:

[2018-06-19 15:36] errordeveloper opened #70 "Authenticator should respect --profile"
As mentioned by @richardcase in https://github.com/weaveworks/eksctl/pull/66#issuecomment-398318393.

Authenticator doesn't support this at the moment (https://github.com/heptio/authenticator/issues/100), but it should be easy to fix.

[2018-06-19 18:33] richardcase commented on #70
An temporary fix would be to set AWS_PROFILE from within eksctl. I'll try this out.

[2018-06-19 18:39] richardcase opened #71 "MFA errors when checking dependencies"
If you are using MFA there are 2 errors reported from `CheckAllCommands`. Specifically when getting the kubectl version and then when checking the server version:
[code]

Potentially the following should happen:
- Only get the client version in `CheckKubectlVersion`. This would be by setting `--client=true`
- Not checking the server version in `CheckAllCommands`. As it stands eksctl doesn't allow

[2018-06-19 19:31] richardcase commented on #70
And the error from the logs:
[code]

[2018-06-19 19:35] richardcase commented on #70
The second part to this is ensuring that if we specify `--profile` that we also write the profile to the kube config file so that kubectl works after cluster creation. This can be accomplished by saving the value of --profile as na env var:
[code]
This can be done by a change to `WithExecHeptioAuthenticator`.

[2018-06-19 22:00] errordeveloper commented on #70
I agree, but it seems easier to just patch authenticator and make PR upstream once we have it working.

I completely missed this, very good point!

Should we also capture it when either `AWS_PROFILE` or `AWS_DEFAULT_PROFILE` are set or leave it up to the user how they should manage those?

[2018-06-20 06:41] richardcase commented on #70
I think we should just capture it for `--profile`.  If a user has set `AWS_PROFILE` or `AWS_DEFAULT_PROFILE` then i think its reasonable they need to set these when calling kubectl.

[2018-06-20 07:01] errordeveloper commented on #43
I've removed `build_dependencies` and now we have a tap that uses the binary, which is ideal for the time being.

[code]

I'd like to figure how to go about the authenticator binary before we can document this and close the issue.

[2018-06-20 09:31] richardcase commented on #71
I think its any profile that uses MFA will get this issue. But if environment variables are used for static credentials then it will be fine.

[2018-06-20 15:38] errordeveloper commented on #61
I'd like to get some idea as of why this could happen.

[2018-06-20 19:41] samirspatel opened #75 "Hung on creating control plane"
[code]

This has been hung on `2018-06-20T14:16:22-05:00 [ℹ]  creating control plane "dev"` for over thirty minutes now. If it does take this long, it would be nice to show some additional output periodically to let me know it's doing something

[code]

[2018-06-20 23:50] christopherhein commented on #43
NICE!! @errordeveloper glad that worked - specifically making it a dependency?

[2018-06-20 23:51] christopherhein commented on #43
maybe we can just call that out in the readme… Not the best, or you could point to the AWS docs about installing it from S3

[2018-06-21 07:08] yamaszone commented on #75
Seeing the same issue. Hung for more than 45+ min:
[code]
Environment information:
- CoreOS (Kernel 4.14.19-coreos)

[2018-06-21 19:10] grdnrio commented on #75
I have the same issue. Both the VPC and ServiceRole stacks create successfully, but then it hangs on creating the control plane.

`2018-06-21T16:50:19+01:00 [✔]  created VPC stack "EKS-joeg-VPC"
2018-06-21T16:50:19+01:00 [▶]  task "createStackVPC" returned without errors
2018-06-21T16:50:19+01:00 [▶]  waiting for 1 tasks to complete
2018-06-21T16:50:19+01:00 [▶]  task "createControlPlane" started

[2018-06-21 22:46] christopherhein commented on #61
@erez-rabih is there any chance you can provide more information about the region you are trying to deploy into, also try rerunning using `--verbose=4`

[2018-06-21 23:54] christopherhein opened #76 "Create EKS cluster using Cloudformation instead of raw API calls"
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-eks-cluster.html

[2018-06-22 00:05] christopherhein commented on #75
Is this your first EKS cluster or do you have existing clusters? We have a 3 limit cluster on EKS right now…

[2018-06-22 00:06] errordeveloper opened #77 "better error handing in eks.CreateCluster and eks.CreateStack"
As seen in #75, there are still a few issues with handing of certain error states.

[2018-06-22 00:07] christopherhein commented on #62
Couple things to keep in mind as we move forward the potential of using CRDs for user management in the authenticator - https://github.com/heptio/authenticator/issues/79

[2018-06-22 00:09] errordeveloper commented on #71
@richardcase I think this should be resolved now, if so – please close.

[2018-06-22 00:14] #31 closed

[2018-06-22 00:16] errordeveloper commented on #65
Turns out `kops` also uses `--name`, so we should certainly use the same too. Adding this to beta milestone.

[2018-06-22 04:56] yamaszone commented on #75
@errordeveloper thanks for getting back. I checked the VPC limits. I retried deployment after cleaning up VPCs but got same result. @christopherhein I didn't have any existing EKS cluster deployed. I tried to deploy in `us-east-1` but the deployment was hung similar to @grdnrio 's:
[code]

[2018-06-22 06:28] errordeveloper commented on #75
I would be handy to see what the output looks like with `--verbose=4`.

[2018-06-22 06:49] richardcase commented on #46
@errordeveloper - happy to look at this if you want?

[2018-06-22 06:53] richardcase commented on #30
@errordeveloper - any preference on the 2 options:
1.  Give install instructions
2. Download & install  (to ~/.eksctl/bin)

[2018-06-22 07:03] Raffo commented on #46
Happy to help with the review @richardcase 😉

[2018-06-22 08:01] richardcase opened #78 "Support debug logging from AWS SDK"
Add another debug level (perhaps v=5) where we enable debug logging of the AWS Go SDK (with request tracing).

This will help with issue investigation but also with implementing mocking of services for tests.

[2018-06-22 08:02] grdnrio commented on #75
@christopherhein is the three EKS limit per account or per region? This may well be the issue I'm facing as this deployment will have been the fourth EKS in our account.

@errordeveloper Here's the oputput with `-v 4`

[code]

[2018-06-22 09:18] grdnrio commented on #75
I tested again without any other clusters running and still no luck, so the three cluster limit doesn't seem to be relevant in this case.

[2018-06-22 17:24] errordeveloper commented on #75
I am seeing at least two bugs here:

1. when CloudFormation stack doesn't get created, we don't propagate the error as intended
2. while creating control plane, there maybe an error that doesn't get propagated at all and no debug log lines get printed

@grdnrio what does EKS console show you? If you have latest AWS CLI, you could also use `aws eks describe-cluster --name joeg` and paste the output

[2018-06-22 17:29] errordeveloper commented on #75
@grdnrio I'm very surprised you are not seeing debug logs from the following lines:

https://github.com/weaveworks/eksctl/blob/master/pkg/eks/eks.go#L30

https://github.com/weaveworks/eksctl/blob/master/pkg/eks/eks.go#L85

[2018-06-22 22:23] errordeveloper commented on #46
Hey folks, please go ahead! Would be good to outline a short plan and
discuss it before anyone spends a lot of time on this.

On Fri, 22 Jun 2018, 12:03 am Raffaele Di Fazio, <notifications@github.com>
wrote:

[2018-06-23 06:52] errordeveloper opened #82 "Try/explore docopt"
https://github.com/docopt/docopt.go/blob/master/README.md

From the description, it looks much nicer then Cobra.

[2018-06-23 08:49] Raffo commented on #46
Sounds good to me.

@richardcase what's your plan for that?

[2018-06-23 14:16] #78 closed

[2018-06-24 07:31] erez-rabih commented on #61
full log:
[code]

[2018-06-25 09:11] grdnrio commented on #75
@errordeveloper no cluster shows in EKS from my last try. I can run a fresh deployment later to confirm.

[2018-06-25 12:48] #65 closed

[2018-06-25 18:22] samirspatel commented on #75
@errordeveloper I can confirm this is not related to VPC limits as I only have two VPCs in `us-east-1` and the default limit is 5

[2018-06-25 21:18] richardcase commented on #46
@Raffo - i will have a look and come up with a plan.

There are things like [localstack](https://github.com/localstack/localstack) and also the Go SDK has interfaces for the services to help build mocks, [like](https://github.com/aws/aws-sdk-go/blob/master/service/cloudformation/cloudformationiface/interface.go) this for CloudFormation (i haven't checked interfaces for the other dependent services

[2018-06-25 23:02] christopherhein commented on #75
I think this might be related to the error handling, we might be silently getting hit by the first thing on the Troubleshooting guide - https://docs.aws.amazon.com/eks/latest/userguide/troubleshooting.html

[2018-06-26 09:49] Raffo commented on #46
I think the approach with interfaces would be good and that's what I've used in the past. We've used a similar approach while implementing testing for external DNS here: https://github.com/kubernetes-incubator/external-dns/blob/master/provider/aws.go#L79

[2018-06-26 12:12] kaspernissen commented on #75
Bumped into the same issue.

[code]
Tried creating a cluster in `us-east-1` using the console and selected `us-east-1a`, but got the error "Insufficient Capacity" error back. As @christopherhein mentioned. Specifying another AZ worked in the console. This option would be great with `eksctl`.

[2018-06-26 12:46] kaspernissen commented on #75
The issue seems to be selecting subnets from the three different AZs to spread across. In the log output from above: `subnetsList:"subnet-38e0445f,subnet-a507a08b,subnet-51422a1b"`. This list contains a subnet from the three AZs. Also, us-east-1a which apparently don't seem to have capacity.

When I tried the same in the Console, I got the same error. Removing the subnet in `us-ease-1a` lets the c

[2018-06-27 14:49] archisgore commented on #21
I bet both of these will be fixed by: #85 . In both the cases, the blocks are happening when attempting to write to the channel.

[2018-06-27 15:00] archisgore commented on #42
I'm working on this issue as we speak (if nobody else already is). This is a scenario I need for myself in prod. :-)

In I only found eksctl because I was about to write a shell script to rinse-repeat launch clusters. So I'll get around to this very soon.

[2018-06-28 04:51] archisgore commented on #69
+1 to this. A trivial use-case here is installing `amazon-efs-utils` on top of the latest AMI. Cutting a custom AMI seems like a LOT of work to have something as simple. I'll take a look at this.

[2018-07-02 01:03] ab73863 opened #90 "eksadmin service account not available"
Hello ,

After creating the cluster using the eksctl , I was not able to get eksadmin service account token to access the api server endpoint for doing the programatic depoyment.

Could you please guide me on how to get the token for the same.
I have used the below command '
`kubectl -n kube-system describe secret $(kubectl -n kube-system get secret | grep eks-admin | awk '{print $1}')`

I could s

[2018-07-02 03:18] ab73863 commented on #90
Resolved the issue by Creating  the eskadmin service account and cluster role binding separately as documented in AWS EKS documentation.

[2018-07-02 03:18] #90 closed

[2018-07-02 16:31] Matt-MdSol commented on #75
A slight variation on a theme .. I've been playing with eksctl for a few days now. Very happy with it, by the way, thank you! However, while I can create a control plane in the western region (default - Oregon, us-west-1), I cannot create one in us-east-1 (Virginia). I get the same hanging, no error output. I do notice in the above list that us-east-1 is very similar across the bug report. Perhaps

[2018-07-03 11:11] jstrachan opened #91 "detect existing KeyPair to avoid failure on second cluster creation"
I created a cluster and it worked great. I zapped it via the CloudFormation console.

Then the next time I tried to create a cluster I get an error:
[code]
I had to manually work around this via:
[code]
It'd be nice to detect this error message and log as a warning and continue; or better use the `aws` CLI to query if the KeyPair exists for the given name first?

[2018-07-03 12:45] errordeveloper commented on #18
@christopherhein does EKS manage `kube-system:deployment/kube-dns` & `kube-system:daemonset:kube-proxy` after the cluster was created or it's up to the user?

[2018-07-03 12:53] errordeveloper commented on #91
Something like that... but probably better to add unique name suffix based on checksum, and when such name exists, double check fingerprint, and error if it's absolutely not the same thing, but continue otherwise.

Also, if you want to make use of existing key, you can just pass `--ssh-public-key EKS-eks1`.

https://github.com/weaveworks/eksctl/blob/a71ba696af68b6656fccaa8e49e8f7c15715cee1/pkg/eks

[2018-07-03 14:38] erez-rabih commented on #61
I wanted to update I found the problem: Apparently Fn::GetAZs return only AZs that have a default subnet in the default VPC of that region (https://stackoverflow.com/a/40658335/1503553)
I created default subnets for all AZs on us-west-2 and I don't get that error anymore.

[2018-07-03 14:38] #61 closed

[2018-07-04 07:39] jstrachan opened #92 "add a CLI option to enable policies on the worker nodes (e.g. for ECR)"
we're using eksctl in `jx create cluster eks` and its working well - many thanks!.

However it'd be even more awesome if we could add a CLI option to be able to enable the `arn:aws:iam::aws:policy/AmazonEC2ContainerRegistryPowerUser` policy on the worker nodes; so that nodes are able to push to ECR. Then we can use ECR OOTB in Jenkins X on clusters created via `eksctl`

[2018-07-04 08:21] errordeveloper commented on #92
We don't have a way to augment CloudFormation templates right now, which is also the reason we haven't implemented custom user-data (see #69).

I'm tempted to make this the default.

I initially though it'd be nice to update CloudFormation stack after it gets created, but that's not a good idea as instance profile change in ASG don't propagate until you create a new instance (but please correct me

[2018-07-04 08:31] jstrachan commented on #92
yeah - being able to use ECR seems a pretty good default for now ;)

I did try tweaking the `NodeInstanceRole` myself - but then you have to explicitly remove the Policy before CloudFormation is able to delete things again; so having it in the CloudFormation would be good.

I guess longer term it'd be nice to allow a custom list of policies to apply to worker nodes so that [this list](https://gith

[2018-07-04 08:37] jstrachan commented on #92
I wonder if a simple fix for now is to add another parameter for a worker node role; something like...
[code]
then we can have a single parameter folks can override for the extra role to add to worker nodes which we could then default to `arn:aws:iam::aws:policy/AmazonEC2ContainerRegistryPowerUser` but which folks could use some other role of their choice?

I know its not ideal but it'd be a fairl

[2018-07-04 11:45] errordeveloper commented on #92
I think I've mostly figured out what's needed, wasn't so hard –
https://github.com/weaveworks/eksctl/pull/93. Testing it now. Your review is very welcome :)

[2018-07-04 11:54] jstrachan commented on #92
@errordeveloper looks great! I tried a fix and failed miserably - your effort looks much better. Am just trying it out here...

[2018-07-04 12:23] richardcase commented on #30
@errordeveloper - any preference on what you want here? Instructions or download?

I'm torn between the 2 but from a user perspective automatically downloading and installing would be easier. Perhaps we could support both?

[2018-07-04 12:46] errordeveloper commented on #92
@jstrachan I'm hitting some unrelated bugs now, will let you know once I've figured out what's going on.

[2018-07-04 12:47] jstrachan commented on #92
am getting a hang while waiting for the control plane to be created - despite it being created.

I tried adding `--verbose 5` to get debug logging and I see lots of queries for the control plane...

[code]

then it just hangs - no more output in 5 minutes; so it looks like the polling every 20 second logic somehow breaks? https://github.com/weaveworks/eksctl/blob/master/pkg/eks/eks.go#L88

Are you

[2018-07-04 12:50] errordeveloper commented on #92
@jstrachan yes, I'm seeing exactly the same. The timeout is 300s, which evidently needs to be increased but also it appears to hit the error handling bug that I have to fix ASAP anyway.

[2018-07-04 12:52] jstrachan commented on #92
no worries - glad we're seeing the same.

Its fun watching stuff get created/deleted very slowly on AWS isn't it ;)

[2018-07-04 13:29] jstrachan commented on #92
BTW I just timed it and it was > 10 minutes to create the control plane so yeah that timeout needs increasing a fair bit.

It looks like my test here got as far as `creating DefaultNodeGroup stack "EKS-attractive-hideout-1530710051-DefaultNodeGroup"` then its hung and nothing much seems to be happening & the node group doesn't show up on the CloudFormation console; so I guess something is wrong wi

[2018-07-04 18:34] #92 closed

[2018-07-05 07:50] errordeveloper opened #95 "kubeconfig isn't always written immediately"
It looks like we need to sync wires to disk or wait for it, not so sure what's best.
[code]

We are using [`clientcmd.ModifyConfig`](https://godoc.org/k8s.io/client-go/tools/clientcmd#ModifyConfig), which in-turns calls `ioutil.WriteFile`.

[2018-07-05 08:59] errordeveloper commented on #75
Thanks a lot to everyone contributing to resolving this issue, unfortunately it turns out there are multiple underlying issues, but one root cause – certain class of errors were silenced most of the time.

The root cause of why errors were silenced had been fixed in #94 (2ad3b63 in particular, thanks to @archisgore for triaging it!).

I just tagged [0.1.0-alpha.21](https://github.com/weaveworks/ek

[2018-07-05 08:59] #75 closed

[2018-07-05 09:14] errordeveloper commented on #30
As we have Homebrew installer that takes care of all dependencies for macOS users, this would only affect Linux and Windows users. I'd rather put this on hold until we have a good idea of what OS most users are running, I will post an update once I have the stats.

[2018-07-05 09:20] errordeveloper commented on #77
We have solved #75 for now, but it'd be good to reduce friction and simplify the code – it's unreasonably complicated as is. Perhaps we should make better use of CloudFormation and incorporte #76, and then combine the templates into a single nested stack somehow. It should be possible to compose the nested stack in Go, to allow more flexibility around how it's all done and cater for optional VPC e

[2018-07-05 09:23] cbluth opened #96 "Allow option to generate new SSH keys, or use specified key"
Please allow option to generate new SSH keys, or use specified key, rather than using ~/.ssh/id_rsa.pub

[2018-07-05 11:57] Lawouach opened #97 "Docs mention --name when real flag is --cluster-name"
Hello,

It seems the readme/doc is not synced up with the code as the former mentions --name as a flag when the command exposes --cluster-name.

Am I reading it wrong? :)

[2018-07-05 12:03] errordeveloper commented on #97
`--cluster-name` was used in older versions, it's been remove in #81.

[2018-07-05 12:04] Lawouach commented on #97
Gotcha! I haven't updated yet :)

I'll close this one for now then.

[2018-07-05 12:04] #97 closed

[2018-07-05 12:04] #23 closed

[2018-07-05 12:06] errordeveloper commented on #27
@stefanprodan did you say that you wanted to fix this? It'd be nice to fix before 0.1.

[2018-07-05 12:10] errordeveloper commented on #56
We have `--profile` now, it should help to eliminate doubts. The fundamental issues is that credentials may be set without any profile as such, so the SDK doesn't have a way to tell us anything about profile used... Closing for now, open if you disagree :)

[2018-07-05 12:10] #56 closed

[2018-07-05 15:38] errordeveloper commented on #95
My bad, forgot that this is a direct exec, so it literally looks for file called `"test2"`.

[2018-07-05 15:41] #95 closed

[2018-07-05 16:32] cbluth opened #99 "Question about packer ssh key"
First note, eksctl is great so far, wonderful tool.

To start, I provisioned my cluster like this:
`eksctl create cluster --name=foo --kubeconfig=./foo-cluster.yaml --ssh-public-key=~/.ssh/foo-key.pub`

I then do `ssh -i ~/.ssh/foo-key.pub ec2-user@ip.of.my.ec2` to access one of the nodes of my cluster, works great.

But in these two files:
[code]

Contains this key:
[code]

Its quite obvious that

[2018-07-05 16:43] errordeveloper commented on #99
@cbluth ah! thanks for reporting this. It looks like a bug that would need be fixed elsewhere, but @christopherhein would know best where to report it!

[2018-07-06 08:49] Raffo opened #100 "EKS Node Groups update proposal"
`eksctl` should support updates of the node groups. Even if `eks` does not support updating clusters at the time of writing (kubernetes `1.10` is the only version supported), we should still have in place a way to update the nodes of the cluster as we might want to rollout fixes to the nodes (i.e. a new AMI with critical bugfixes at the OS level) even without updating Kubernetes itself.

To suppor

[2018-07-06 11:13] richardcase commented on #46
@Raffo @errordeveloper - what about the following initially:

- Add tests to each of the packages (like we've done with the kubeconfig change). The decision here is whether the tests for a package are contained within the package and have access to all the non-exported functions/structs/etc or if instead the tests site in a test package and test only via the exported functions/structs/etc (seeing

[2018-07-06 18:10] richardcase commented on #71
I just checked and its still an issue:
[code]

I'm investigating now.

[2018-07-08 07:00] errordeveloper commented on #71
@richardcase how far did you get in your investigation? Could you describe how this error can be reproduced?

[2018-07-09 02:06] baank commented on #42
Any status update on this ? We can look into picking this up also.

If you are wondering of a use case here's one. In many large enterprises e.g. ours we centrally control the core networking e.g. VPCs but then freely allow various teams to pick and choose what services they want to use. We are wanting to use eksctl but are strictly allowed to create VPCs.

[2018-07-09 07:42] richardcase commented on #71
The problem is caused when we have a profile that use MFA.

Looking into this the error's coming from within `CheckAllCommands` and the call to [get the kubectl version](https://github.com/weaveworks/eksctl/blob/master/pkg/utils/kubectl.go#L66).

Looking further this is a issue with the `weaveworks/launcher` vendored package and specifically the the [ExecuteOutputMatrix](https://github.com/weavewo

[2018-07-09 07:50] richardcase commented on #71
And i'm running this command when i see the issue:
[code]

[2018-07-09 08:17] errordeveloper opened #101 "Fn::GetAZs return only AZs that have a default subnet in the default VPC"
Per @erez-rabih's comment in  https://github.com/weaveworks/eksctl/issues/61#issuecomment-402180552

It'd good to know if we can check for this and either error early, or obtain AZs outside of CloudFormation.

[2018-07-09 08:18] errordeveloper commented on #61
@erez-rabih thanks for resolving this, I'd like to still consider if we can fix this in the feature – https://github.com/weaveworks/eksctl/issues/101.

[2018-07-09 08:25] errordeveloper opened #102 "path to kubeconfig is printed unescaped"
We print this:
[code]

If there were spaces in path to kubeconfig, the check would still work (as we use `os.Exec`), but pasting the command in a shell wouldn't work. We should escape the path we print.

[2018-07-09 08:33] errordeveloper opened #103 "delete VPC resources"
Currently deleting VPC stack will fail when there resources such as ELBs. We should be able to delete these, the questions is whether we should do it by default when we own the VPC or not?

[2018-07-09 09:59] errordeveloper commented on #42
@baank thanks for describing your use-case, it's very helpful! Could you clarify if you havr to use pre-existing subnets also, or it would be okay for eksctl to create dedicated subnets?

[2018-07-09 10:01] baank commented on #42
@errordeveloper .. No we are not allowed to touch the subnets either.

[2018-07-09 10:08] errordeveloper opened #104 "Make kubelet crash-loop until control plane is available"
Node group should be bootable asynchronously.

[2018-07-09 10:09] errordeveloper commented on #69
Archis, to me EFS seems like an add-on that we should enable with a flag -
would you agree?
To support it, we can discuss adding the user-space support upstream, and
of course installing it at boot wouldn't be a big deal either.

I am intending to make some changes to default user data, so I will
probably take a stab at parameterizing it while at it (see
https://github.com/weaveworks/eksctl/issues

[2018-07-09 10:32] errordeveloper commented on #99
https://github.com/awslabs/ami-builder-packer/issues/7

[2018-07-09 10:32] #99 closed

[2018-07-09 11:03] errordeveloper commented on #91
I think checking the fingerprint should be enough really, will take a stab at it.

[2018-07-09 11:05] errordeveloper commented on #71
While testing this, I am starting to see a DNS lookup error (which is weird, because by the time we get here we've already used the API for other operations).

[code]

[2018-07-09 14:09] errordeveloper opened #105 "Delete all resources on error"
We should delete all resources we create in case of an error (optionally to start with, as they maybe be handy for debugging), and provide a tool a way to delete any partially-created clusters.

[2018-07-09 14:10] errordeveloper commented on #91
Arguably https://github.com/weaveworks/eksctl/issues/105 is another way to fix this, but #107 is a plausible start (and needed anyway).

[2018-07-09 14:13] errordeveloper commented on #91
Arguably #105 is another way to fix this, but #106 is a plausible start (and needed anyway).

[2018-07-09 14:18] errordeveloper commented on #46
I would start by finding out what it takes to mock CloudFormation, as to me it seem kind of complex, but may I just don't know. In my mind integration tests (besides the question of who gets the bill) would buy as more for much less code, testing different code-path maybe be tricky, but starting by simply testing `eksctl create cluster` seems plausible to me. If you folks are quite comfortable wit

[2018-07-09 16:45] errordeveloper commented on #42
@baank so you would need two subnets, in your case, would you be able to use get two subnets that are dedicated for use with EKS or you would have use subnets that are also used for other things? If there would be other things, are those gonna be any AWS workloads or other Kubernetes clusters?

What size of subnets would you be able to provide? Here is what we currently use with the dedicated VPC

[2018-07-09 16:57] #29 closed

[2018-07-09 23:46] baank commented on #42
We have a number of subnets but they are in different VPCs and AZs:

subnet-A -> vpc1-data-a -> ap-southeast-2a
subnet-B -> vpc1-data-b -> ap-southeast-2b
subnet-C -> vpc1-application-a -> ap-southeast-2a
subnet-D -> vpc1-application-b -> ap-southeast-2b

The subnets are:
x.x.x.x/24
x.x.x.x/25
x.x.x.x/26

And the subnets are basically a free for all. Each team can decide what they want and unless

[2018-07-10 10:11] errordeveloper opened #107 "Resource ownership"
In most of the case we have to assume ownership, which works in some of the simple scenarios but can easily break. As AWS APIs do not provide a way for a given application to reserve the right of access, we may need to think of ways of doing it.

Things become simpler if we think of controller daemon that has relative exclusive rights within a single account/region, and if it can store state somew

[2018-07-10 10:18] errordeveloper opened #108 "Ownership delegation with CloudFormation"
Right now we have a pretty naive model of how we treat stack ownership, we basically assume that user with full access to an account has the right to delete any cluster within the account. Which is okay, but we should consider preventing this somehow, at least we could avoid deletion by default with a flag to force deletion. This would become more important when we introduce Cluster API controller

[2018-07-10 11:26] errordeveloper opened #109 "Option to use Weave Net CNI"
I've tested this today, and it worked as intended, but we need more testing before we can declare Weave Net is full supported.

From eksctl perspective, we should make Weave Net an add-on (see #17 and #18), especially because there all the extra steps required.

First, create a cluster with `eksctl create cluster`.

Next, backup and delete `kube-system:DaemonSet/aws-node`:

[code]

Now, install We

[2018-07-10 11:58] errordeveloper commented on #109
I was expecting access to `kubernetes` service to break, which is what happen during the tests I did earlier. However, what appears to break now is DNS. Either way, this is most likely due to that ENI network was removed. There must be a way to make this work, potentially without having to use both networks, although we might have to do that for compatibly/stability. Multiple CNI networks is not m

[2018-07-10 14:30] errordeveloper commented on #42
@baank thanks again, this is very helpful for us! Please note that at the moment EKS is not available in `ap-southeast-2`, I am not sure what is the timeline.

[2018-07-10 15:10] errordeveloper opened #110 "Add support for Ubuntu AMIs"
https://cloud-images.ubuntu.com/aws-eks/

This will need custom CloudFormation template, and it would be wise to do it on top of #48.

[2018-07-10 15:35] errordeveloper commented on #103
@JordanFaust indeed, full cleanup would be only done in the cases where VPC was created by us. Also, this is really a broad issue at this point – so for example deleting all cluster resource before delete the cluster itself could be sufficient in many cases.

[2018-07-11 11:56] errordeveloper commented on #71
As discussed, we should be able to fix this by passing effective credentials as environment variables to `kubectl` (and in tuns the authenticator). I'll make a PR to incorporate this based on weaveworks/launcher#237 shortly.

[2018-07-11 16:11] #91 closed

[2018-07-11 16:17] errordeveloper commented on #21
@archisgore I think you are right, and as of #94 we can safely close this.

[2018-07-11 16:17] #21 closed

[2018-07-12 10:15] gchaincl opened #112 "heptio-authenticator-aws binary changed"
https://github.com/weaveworks/eksctl/blob/1c76d1b52ff8f6111092b1632d08680aa2a21f02/pkg/utils/kubectl.go#L36

Heptio Authenticator repo has moved to https://github.com/kubernetes-sigs/aws-iam-authenticator, thus returns an error for those who use the new repo

[2018-07-12 10:59] #71 closed

[2018-07-12 11:04] errordeveloper commented on #112
As far as I'm aware, the binary name hasn't changed yet and [0.3.0](https://github.com/kubernetes-sigs/aws-iam-authenticator/releases/tag/v0.3.0) is still the latest release.

I guess you must have installed it via `go get`? If so, please copy the binary for the timbering or patch `~/.kube/config` manually to use new binary.

If you install with `brew install weaveworks/tap/eksctl`, you will get `

[2018-07-12 11:59] errordeveloper commented on #27
I'll make it less verbose for beta.1, so it's a bit more useful!

[2018-07-12 12:42] errordeveloper opened #114 "retry when control plane is unreachable"
Today we have seen a Route53 outage:
[code]

which resulted in this:

[code]

The DNS name has eventually resolved, but it took 20 minutes or so.

We should have basic retry loop (with a timeout), so that brief DNS propagation delays can be handled gracefully (it's DNS after all).

[2018-07-12 13:45] #102 closed

[2018-07-12 13:53] errordeveloper commented on #112
Certainly, I would love to see a PR – this should be simple enough for a first-time contributor! However I don't think we should block beta.1 on this (it's about to go out now), as recommended path is to use released binaries and not snapshots of master branch.

[2018-07-12 13:53] errordeveloper commented on #112
see also https://github.com/kubernetes-sigs/aws-iam-authenticator/issues/119

[2018-07-12 14:50] stevesloka opened #116 "Allow ASG size modification from eksctl"
It would be helpful to have `eksctl` allow for updating the desired node count for a cluster. I have some dev workflows where I want to scale up my node counts and then scale back.

Command example:
[code]
Some tricky things that could happen are if the user wants to scale beyond the `max` defined in the ASG. Should `eksctl` return error or update the ASG to allow more instances?

I'm happy to wor

[2018-07-13 09:06] niksrc opened #118 "UnsupportedAvailabilityZoneException: lack of capacity to support cluster"
unable to create cluster control plane: UnsupportedAvailabilityZoneException: Cannot create cluster '****-**' because us-east-1c, the targeted availability zone, does not currently have sufficient capacity to support the cluster. Retry and choose from these availability zones: us-east-1a, us-east-1b, us-east-1d

[2018-07-13 10:11] errordeveloper commented on #118
This appears to be a well known-issue with EKS currently (see https://github.com/weaveworks/eksctl/issues/75#issuecomment-400122625), I am not sure how eksctl could possibly address this – wdyt?

[2018-07-13 10:12] richardcase commented on #46
I've started to look at this and using mockery to mock the AWS services. I've one test working now, not a lot i know but just to prove that the approach works.

Shall i create a WIP branch / PR so that you can see the progress?

[2018-07-13 10:16] errordeveloper commented on #116
Thanks, this is definetly very useful feature we should add soon! I was thinking we need to add subcommand for nodegroups anyway, and this would fit nicely as `eksctl scale nodegroup --cluster=<name> --nodes=5 [<nodeGroupName>]` (inspired by `kubectl scale deployment`, of course).

[2018-07-13 11:35] niksrc commented on #118
Thanks for the quick reply. I'm wondering what eksctl does differently as i am able to create a cluster from the console every time in the same region.

[2018-07-13 13:29] niksrc commented on #118
See this issue [https://github.com/coreos/coreos-kubernetes/issues/442](https://github.com/coreos/coreos-kubernetes/issues/442) where @mumosho suggests letting cloudformation decide which availabilty zone to choose for a user.
Here is the corresponding gist [https://gist.github.com/mumoshu/d375a37a87d09ecdc0cc0d1be322e628](https://gist.github.com/mumoshu/d375a37a87d09ecdc0cc0d1be322e628)

[2018-07-13 15:22] mwelch-ptc opened #120 "Private Subnets for Worker Nodes"
Feature Suggestion: eksctl should favor, or at least offer the option of, creating a VPC for the EKS cluster with private subnets for worker nodes.

I was surprised to find that the nodes created via eksctl all had internet facing IP addresses assigned to them. Perhaps there is a technical reason for this of which I am unaware, however the EKS documentation seems to encourage the use of a private

[2018-07-16 19:23] #114 closed

[2018-07-17 09:05] niksrc commented on #118
@errordeveloper i was able to create the cluster by hard coding the index of the subnet in the template files and rebuilding eksctl. I don't think we can do anything to fix this unless aws provides an api for availability detection for a region.

Thanks for looking into this.

[2018-07-17 09:56] errordeveloper opened #122 "usage of EKS Service IAM Role"
From reading [the docs](https://docs.aws.amazon.com/eks/latest/userguide/service_IAM_role.html), it appears that one doesn't have to create a unique role for each cluster.

So it would seem plausible that we can create the role only once per account, however that would require us to check whether the role is valid every time, which can be unreliable and could complicate the basic user experience e

[2018-07-17 12:41] errordeveloper commented on #118
@niksrc did you do something similar to what @jorihardman did in https://github.com/swipesense/eksctl/commit/ca185e446da624f0f65b27b57dd121d54adbe7c9? I think we should be able to incorporate something similar to that, but we might want to take it out of CloudFormation and also fix #101.

[2018-07-17 12:42] errordeveloper commented on #118
I'd rather keep this issue open for now.

[2018-07-17 14:46] errordeveloper opened #123 "CoreDNS add-on"
- [ ] working instruction for swapping out kube-dns
- [ ] plan for adding as proper addon

[2018-07-18 08:21] errordeveloper commented on #118
@niksrc we are working on a fix in https://github.com/weaveworks/eksctl/pull/124, testing would be very helpful, we will let you know once it's ready to test (it's not yet).

[2018-07-18 16:56] errordeveloper opened #127 "Make CloudFormation easier to compose"
At the moment we have a number of issues where compassable CloudFormation would help (#42, #69, #120, #122).

Managing templates as YAML and embedding them in Go using `bindata` is not particularly delightful, but not an issue per-se. What's hard is piecing together Go code and any logic that is implemented with CloudFormation  intrinsic functions, stack parameters and conditions.

Additionally, i

[2018-07-18 16:57] errordeveloper commented on #127
cc @christopherhein @nckturner @PaulMaddox @jstrachan

[2018-07-19 09:21] errordeveloper commented on #123
@miekg are would you or other CoreDNS folks be interested to help with this?

[2018-07-19 09:40] miekg commented on #123
We could probably help here.

@fturib  @chrisohaver

[2018-07-19 12:29] jicowan opened #128 "Make aws-iam-authenticator the default"
Now that the Heptio authenticator have been moved to aws-sig, make the aws-iam-authenticator the default.  When eksctl creates the kubeconfig, it still refers to the heptio-iam-authenticator.

[2018-07-19 13:56] fturib commented on #123
adding also @rajansandeep that helped already on integration of CoreDNS in several deployment tools

[2018-07-20 09:22] #101 closed

[2018-07-20 09:24] errordeveloper commented on #118
@niksrc we have merged a fix for this in #124. I've tagged 0.1.0-beta.2 and binaries should be available shortly – please let us know if it works for you!

[2018-07-20 11:13] errordeveloper opened #129 "AZ names are us-east-1x and us-west-2x, not us-east1-x and us-west2-x"
The reason we got this confused is obviously because that's how GCP zones are named ;)

[2018-07-20 12:01] #129 closed

[2018-07-20 12:03] errordeveloper commented on #118
@niksrc turns out there is a bug in 0.1.0-beta.2 (https://github.com/weaveworks/eksctl/issues/129), we have merged a fix into master – would you mind to help us testing it before we figure if we need to do more to really solve the problem?

[2018-07-20 13:13] errordeveloper commented on #118
After thinking about this for a while, it looks like we are better of exposing a flag for the time being, as it turns this is somehow different in every AWS account (at least that what seems to be the case from the docs.

[2018-07-20 13:15] errordeveloper commented on #118
In the future we may try parsing the error message and retrying automatically, but it doesn't seem feasible right now as we would need to improve some of the internals and provide stack update functionality.

[2018-07-20 16:05] jicowan commented on #128
You can install the binary [with the new name] through go now.

[2018-07-20 17:22] errordeveloper commented on #128
We have Homebrew "package" for macOS users, and that pulls released binary
URL.
And we don't require users to have Go toolchain, so `go get` isn't really
an option.

On Fri, 20 Jul 2018, 5:05 pm Jeremy Cowan, <notifications@github.com> wrote:

[2018-07-21 10:03] Raffo commented on #127
I've never used goformation myself, but it definitely look promising and I am generally against having too many big yamls that gets too complicated... so going "code first" would be IMO a very good thing (once your PR upstream is merged).

[2018-07-21 10:04] Raffo commented on #46
Nice that the first tests are now merged. Now that we have a base for the tests in place we can probably go in parallel and add more.

[2018-07-22 11:13] errordeveloper commented on #127
I have started on this in #132, here is what it will look like:

[code]

So as you can see, we can probably avoid most of parameter passing and substitute parameters directly, and only use references where it's absolutely necessary.

[2018-07-23 03:54] nckturner commented on #122
It is correct that only one role needs to be created per account, but I agree it makes sense to support both use cases.  In order to fully support the use case of a user who does not have privileges to create roles, should we allow the node group instance role/instance profile to be similarly specified in a parameter and generated?  (Or, even allow nodes to be created in a separate command from th

[2018-07-23 03:56] nckturner commented on #127
+1, This seems like it would be really useful as things get more complicated.

[2018-07-23 06:40] #118 closed

[2018-07-23 06:48] richardcase commented on #127
I think this approach is good, its better for composability and testing.

I'm wondering if we could you use a 'builder' and/or fluent interface around goformat for composing the the template?

[2018-07-23 06:49] richardcase commented on #46
I'll look at adding a base integration test now.

[2018-07-23 09:43] niksrc commented on #118
@errordeveloper This worked smoothly, Thanks.

[2018-07-23 09:46] errordeveloper commented on #127
@richardcase if you have any specific thoughts around that, please comment in #132.

[2018-07-23 09:56] jstrachan opened #133 "can we use NLB with EKS clusters created via eksctl?"
I've been trying out NLB instead of ELB as NLBs have stable static IP addresses; so you can use the nip.io trick of setting up Ingress without mandating a custom DNS name being used to setup wildcard CND via a CNAME to kick the tyres on EKS.

Things work great on kops but don't seem to work on EKS which am guessing is related to roles. It looks like these kinds of roles are required for setting up

[2018-07-23 10:00] errordeveloper commented on #133
@jstrachan good question. I wonder if this would have to be done at cluster level, and not node level, which maybe outside of our control at the moment.

[2018-07-23 10:04] errordeveloper commented on #133
FYI, I'm in a middle of refactoring these things (see #127 and #132), but I'm not sure yet if we will land refactoring changes before 0.1.0 or after.

[2018-07-23 10:12] jstrachan commented on #133
@errordeveloper thanks for the heads up.

Not sure if this is related to roles on the nodes or not; tried manually adding the nodes and no luck - can't seem to get the NLB working at all on EKS via eksctl. No clue why its not working TBH - this all just works on kops when those roles are added - so no idea if there's anything we can do in `eksct` to help get NLB working with ingress.

I wonder if

[2018-07-23 10:18] jstrachan commented on #133
BTW I've been following these instructions to setup NLB on the EKS cluster and no luck so far when the same thing works fine on kops

[2018-07-23 10:22] jstrachan commented on #103
maybe prompt the user or have a `--all` CLI option to delete everything?

Its currently a huge PITA deleting clusters as usually there's something (usually a Load Balancer! sometimes other things...) causing the VPC to not get deleted resulting in lots of fun with the AWS console

[2018-07-23 10:58] errordeveloper opened #134 "node bootstrap needs improvements"
Right now we have this:

https://github.com/weaveworks/eksctl/blob/c332060348833792c9a69f1ef71d1c8d76c3ffd7/pkg/eks/assets/1.10.0/2018-05-09/amazon-eks-nodegroup.yaml#L253-L282

There many ways how it can be improved, AWS CLI is probably not need and we could just writ out override units instead of using sed.

We would need to fix this in order to fix #104.

[2018-07-23 11:32] errordeveloper commented on #103
James, yes indeed, we would want a flag to control this, but I am leaning
towards having it should enabled by default (if VPC was one created by us).

On Mon, 23 Jul 2018, 11:22 am James Strachan, <notifications@github.com>
wrote:

[2018-07-23 11:33] errordeveloper commented on #118
Excellent! Could you please confirm which version of eksctl you have used?

On Mon, 23 Jul 2018, 10:43 am Nikhil Srivastava, <notifications@github.com>
wrote:

[2018-07-23 12:00] jstrachan commented on #133
btw after chatting with @errordeveloper on slack - this issue could be that NLB cannot be used with EKS due to the beta annotation - still not 100% sure yet...

[2018-07-23 15:06] errordeveloper commented on #77
With #127 and #76 being fixed, and thereby leading to significant changes, I'd rather postpone this until later.

[2018-07-23 15:45] niksrc commented on #118
I used the latest master.
Tag 0.1.0-beta.3 c332060348833792c9a69f1ef71d1c8d76c3ffd7

[2018-07-23 19:58] errordeveloper commented on #133
cc @d-nishi @nckturner

[2018-07-24 07:54] richardcase commented on #27
@errordeveloper i've been looking into this. Paginating through the list of clusters with  [ListClusters](https://docs.aws.amazon.com/sdk-for-go/api/service/eks/#EKS.ListClusters) is easy enough. Its a shame that this only returns the cluster name. It would've been great if it returned summary information as well as it could potentially save subsequent calls to [DescribeCluster](https://docs.aws.a

[2018-07-24 08:21] errordeveloper commented on #27
Yeah, mostly that's what I was thinking indeed... But now I think more, and maybe we could make it even simpler.

And by the way, I wouldn't be too worried about API calls,  most people probably won't have more then a few clusters (as default limit is still 3 clusters per account). But whatever we will do now will change when we move to CloudFormation, and many things maybe become easier then as w

[2018-07-24 09:29] richardcase commented on #27
Sounds like a good plan to start with.

[2018-07-24 12:01] errordeveloper commented on #122
Good point on node IAM resources. It would make sense to leave those until
we have separate node group management commands (which we will soonner or
later), or we could provide all-in-one shared IAM setup utility. All of
this should become easier after CloudFormation changes, as we will be able
to slice and dice stacks as we will.

On Mon, 23 Jul 2018, 4:54 am Nicholas Turner, <notifications@githu

[2018-07-24 13:51] errordeveloper commented on #133
Great! I am happy to enable this by default, seems useful for everyone.
Wearing for a PR!

On Tue, 24 Jul 2018, 1:28 pm James Strachan, <notifications@github.com>
wrote:

[2018-07-24 14:03] jstrachan commented on #133
@errordeveloper great thanks! Was just gonna wait for the CloudFormation PRs to settle so I can see how best to do it; as using CloudFormation for the control plane is maybe a nice idea?

[2018-07-24 14:48] errordeveloper commented on #133
@jstrachan I don't think #132 will land before next week, in fact I'd rather not land it before 0.1.0.

[2018-07-24 14:56] errordeveloper commented on #133
I will add this to 0.1.0 milestone, in a way it's a bug too.

[2018-07-25 08:14] errordeveloper opened #136 "ignore errors during deletion"
Right most delete calls have to succeed, and that's not useful for most people (especially those who are not familiar with CloudFormation).

[2018-07-25 08:58] richardcase opened #138 "Retry API Calls"
We should consider retrying calls to AWS endpoints depending on the error returned.

For example, if calling [DeleteCluster](https://docs.aws.amazon.com/eks/latest/APIReference/API_DeleteCluster.html) and `ResourceNotFoundException` then its safe to continue on with deletion. But if a `ServiceUnavailableException` is returned then we should probably retry.

We should look at all AWS endpoint calls

[2018-07-25 10:00] #136 closed

[2018-07-25 15:34] errordeveloper commented on #128
duplicate of #112

[2018-07-25 15:34] #128 closed

[2018-07-25 19:29] rajansandeep commented on #123
@errordeveloper I have started to work on this.

[2018-07-26 08:33] #133 closed

[2018-07-27 14:51] micahlmartin commented on #109
Has anyone been able to figure out the DNS issue yet? I'm hitting the same problem. I'm not sure I understand enough about why it doesn't work.

[2018-07-27 15:45] nckturner commented on #134
For the changes that require coordination with the AMI, we will need to make sure they still work in a cloudformation only environment, i.e. the AMI can't pick up a dependency on eksctl.

[2018-07-27 16:13] errordeveloper commented on #134
I think first thing would be to try refactoring this to leverage cloudinit's ability to write files instead of using sed on pre-existing files...

[2018-07-31 19:05] jstrachan opened #143 "how to auto-restart failed nodes?"
on GKE nodes just auto-restart if they become `NotReady` for a significant period of time. We've found users of Jenkins X and eksctl get nodes unready for a long time...
[code]

I realise this is an EKS limitation; I wonder if there's anything we can tweak in the CloudFormation to automatically restart failed nodes?

[2018-07-31 20:38] errordeveloper commented on #143
Good question! I haven't seen this yet. Do people get these unready nodes after some time, or they never become ready?

[2018-07-31 20:48] jasonkissinger commented on #143
I've been running up a new jenkins-x cluster during the day and it works good for several hours.  It has yet to make it >24 hours.  Today is the first time I've come in the morning and it was still healthy (maybe since I started it later in the day yesterday) but elb health check started reporting bad around noon.  @jstrachan helped me run through some commands and saw the above.

[2018-07-31 20:55] jasonkissinger commented on #143
@errordeveloper just joined your slack workspace if you would like to work through anything.  thanks!

[2018-08-01 10:34] errordeveloper commented on #134
I think we have a fix coming along in #132.

We have [cloudconfig package](https://github.com/weaveworks/eksctl/tree/goformation/pkg/cloudconfig), and this is [how it is used](https://github.com/weaveworks/eksctl/blob/goformation/pkg/cfn/builder/nodegroup.go#L228):

[code]

For the record, I've tried an existing (package in Juju)[https://godoc.org/github.com/juju/juju/cloudconfig/cloudinit], but i

[2018-08-01 11:39] errordeveloper commented on #69
This should get unblocked with #132.

[2018-08-01 12:14] errordeveloper commented on #143
@jasonkissinger good idea, let's discuss on Slack!

[2018-08-02 06:59] errordeveloper opened #144 "nodegroup-scoped SSH keys"
Right now we have cluster-wide SSH key. When we add nodegroup management, SSH access should be controlled on nodegroup basis.

[2018-08-02 08:40] errordeveloper commented on #104
This should get fixed along with #134.

[2018-08-02 08:43] errordeveloper commented on #110
#132 should facilitate this.

[2018-08-02 08:43] errordeveloper commented on #110
Here is the node bootstrap script:

[code]

[2018-08-02 12:02] errordeveloper commented on #27
Closed via #140.

[2018-08-02 12:02] #27 closed

[2018-08-02 12:02] errordeveloper commented on #27
🎉 🌮 🎉 🌮 🎉 🌮

[2018-08-02 14:01] errordeveloper opened #145 "eksctl get clusters is not clear about cluster status"
I have a cluster that hasn't been created yet, it's called `floral-mushroom-1533218176`.

It appears in regular list:
[code]

But trying to get more info returns nothing:
[code]

I think we should at status column, or always filter ready clusters, and provide a flag to show non-ready ones.

[2018-08-02 14:30] errordeveloper opened #146 "eksctl get clusters output is confusing when no clusters a present"
[code]

I think it should say "No clusters found" instead, which would be more like what `kubectl` does.

[2018-08-02 14:55] #76 closed

[2018-08-02 15:38] richardcase commented on #145
The problem with `eksctl get clusters floral-mushroom-1533218176` returning nothing is there is a filter that ignores clusters that aren't ready:

https://github.com/weaveworks/eksctl/blob/111674bf4c08dcc3ab88f555566636300251c152/pkg/eks/eks.go#L144

There is a status column already in the results so we should be good to go with this,

[2018-08-02 15:39] richardcase commented on #146
I agree, good point. I'll make this change.

[2018-08-03 08:43] errordeveloper commented on #46
@richardcase should we make integration tests a requirement for one of the next patch releases? Manual test would be okay for now, as long as it's well defined (not just "create a cluster and deploy some app, then check it works, run e2e suite if in doubt"). We might want to look into running conformance suite, but I think deploying some workloads would be just fine for now. My colleague @dlespiau

[2018-08-03 16:52] richardcase commented on #46
Yes i think we should. I'll take a look at this next and will look at the package by @dlespiau. Also, what [minikube](https://github.com/kubernetes/minikube/tree/master/test/integration) do is quite good.

I really like the idea of validating clusters using eksctl and think this could come after the initial integration tests.

[2018-08-06 11:38] #112 closed

[2018-08-06 12:18] errordeveloper opened #147 "detect which authenticator command to use in kubeconfig"
We've merged #117, which recognises new name of the authenticator command, but we still write kubecofig file for `heptio-authenticator-aws`. Ideally, we should keep the default behaviour as is, mostly because there are still no officially released binaries (https://github.com/kubernetes-sigs/aws-iam-authenticator/issues/119).

Simplest way to do this would be by calling `exec.LookupPath("aws-iam-a

[2018-08-06 14:35] richardcase commented on #146
@errordeveloper - do you think the printer (table printer in this case) should output the "No clusters found" or should this be done by the calling code?

I think probably the printer as if we are using the JSON or YAML printer we just return an empty array.

[2018-08-06 14:36] richardcase commented on #46
@errordeveloper - i've started work on the integration tests. Are you happy for us to use this issue or do we want a separate one for integration tests?

[2018-08-06 15:54] errordeveloper commented on #146
Yes, sounds like it should be in the printer.

On Mon, 6 Aug 2018, 3:36 pm Richard Case, <notifications@github.com> wrote:

[2018-08-06 15:55] errordeveloper commented on #46
Yes, let's create a separate umbrella issue.

On Mon, 6 Aug 2018, 3:36 pm Richard Case, <notifications@github.com> wrote:

[2018-08-07 13:30] errordeveloper opened #148 "eksctl utils ssh"
It'd be handy to provide an SSH helper, as right now it's not very trial to jump into a node, as you have to remember kubectl command, or look in EC2 console (or use some other command). Most of the time I just want to SSH to any of the nodes.

[2018-08-07 16:39] errordeveloper opened #149 "LinuxKit support"
Should be easy enough. We can pass CA cert and much of other parameters that kubelet needs as metadata. Ideally, we should publish AMIs from CI and generate Go package with constants for those. Users should be able to use '--node-os=linuxkit' (unless they really want a custom AMI).

cc @rn @ijc @justincormack

[2018-08-07 16:43] justincormack commented on #149
Yeah that would be nice! Am going on holiday soon but can take a look in September...

[2018-08-08 09:06] errordeveloper commented on #149
I think it may end-up pretty simple. The CI part could be a little more involved, as we haven't got AWS access setup there, but I don't think it has to be an absolute requirement for the first version.

[2018-08-08 10:31] richardcase opened #150 "Add tags when creating a cluster"
It would be good if we can specify tags (i.e. key/value pairs) when creating a cluster.

Many companies use tags to help allocate costs between various teams and to drive other classification of services. For example, everything we deploy must have the following tags:

- environment

- owner

- product

- service

[2018-08-08 12:27] errordeveloper commented on #100
I think #132 should make this much easier to implement, and it does make things more testable too. Also we have made some progress on #46 in general.

[2018-08-08 12:29] errordeveloper commented on #100
Besides CLI, I think after we add Cluster API support (see #19 & #20), we should consider a nodegroup controller that could manage upgrades within the cluster it runs in.

[2018-08-08 13:06] richardcase opened #151 "Integration Tests"
A general testing strategy was introduced with #46 and there has been progress on including tests. However, no work has been done on integration tests.

This issue is to track progress for creating a separate integration test suite that tests against AWS. This suite can be run manually initially but if we can find a sponsor for the AWS costs then we can run automatically on a regular basis.

I qui

[2018-08-08 14:41] Raffo commented on #100
I think the first discussion around the cluster-api implementation happens tonight, not sure if I can join, but it would be lovely to get some idea to see what can be implemented here.

[2018-08-09 11:01] errordeveloper opened #154 "review how we list and delete clusters"
This would be good to do after #132 lands.

Right now we very optimistically let you run `eksctl delete <anything>`, and say that we will delete that (even if it doesn't exist). But the output is wrong, in fact we are very strict about what we actually delete. Also, when we actually do delete a cluster, we block on nodegroup, but don't block on control plane (because it would take very long and us

[2018-08-09 11:03] errordeveloper commented on #151
Adding this to 0.1.1 milestone for now, to indicate that it should block the release until we make some progress.

[2018-08-09 11:45] errordeveloper opened #155 "cluster verification"
It'd be neat to have some form of verification. This could come especially useful for troubleshooting in general, but also when user supplies any customisation (e.g. #69). This could also incorporate whatever we do in #151.

[2018-08-09 11:45] errordeveloper commented on #155
Kops has some kind of verification functionality, we should look into what it does.

[2018-08-09 11:55] errordeveloper opened #156 "use `KubeleteConfiguration` instead of flags"
We would benefit from not having to worry about kubelet flags. At least a config file would be helpful, but componentconfig would be even better (need to check status).

[2018-08-09 11:58] errordeveloper opened #157 "more static version of user-data, less shell scripts"
We can pass region and cluster name and generate whole `metadata.env` if we wanted to, so we could avoid depending on `aws` and `jq` commands being available on the nodes, and avoid having to  allow nodes to call `DescribeTags` etc.

[2018-08-09 12:08] errordeveloper opened #158 "cluster DNS IP should be set according to what subnet is used for services"
Right now we hardcode 10.100.0.10, but this may need to change.

The original bootstrap code had this logic:
[code]

[2018-08-09 12:32] richardcase commented on #151
Gomega will also help with this, specifically [this](https://onsi.github.io/gomega/#gexec-testing-external-processes).

[2018-08-10 10:33] errordeveloper opened #161 "refresh cluster CA when it expires"
Instead of having to use `aws eks` and `jq`, we let cloud-init write the certificate directly. We should finds a way to update the certificate before it expires.

[2018-08-10 13:37] errordeveloper commented on #157
Ideally, if we go all in on this, we should actually get rid of ClusterName parameter in nodegroup template, as a truly static bootstrap config won't respect it, so we will need to drop it.

[2018-08-10 14:40] errordeveloper commented on #161
I think it'd make sense to do it via a CronJob. It'd be reasonable to suggest that we can schedule such a job for the time just before cert expires. The job could create DaemonSet basically. Alternatively, we have enough time to get kubeadm support, or provide add a simple Go program that fetches the CA cert every time before kubelet starts up.

[2018-08-10 15:07] #145 closed

[2018-08-10 15:07] #146 closed

[2018-08-15 20:05] gmflau opened #164 "Prompt for Username and Password when running "kubectl get all""
I used the following command to create my EKS cluster:
% eksctl create cluster --name=eks-c5-xlarge-5 --nodes=5 --node-type=c5.xlarge

Then I was prompted to enter Username and Password when trying to access the cluster by $ kubectl get all.  I have no idea what my Username and Password are for the cluster.

[2018-08-16 09:46] richardcase commented on #164
@gmflau - i'm guessing you weren't prompted for a username/password when you ran `eksctl create cluster`?

Could you confirm what version you are using? (`eksctl version`)

Also, can you confirm kubectl is using your eksctl context? If you run this command `kubectl config current-context` you should see the context name ending in `eksctl.io`.

[2018-08-16 10:42] jstrachan commented on #143
Omer Mizrahi on `#jenkins-x-user` slack has been in touch with AWS support on this issue. Here's some notes...

[code]

[2018-08-16 16:02] dingn1 opened #165 "ssh key not getting added when passing custom name"
**What happened?**
ssh key not getting added when passing custom name
did not see ` importing SSH public key` in the output and can not ssh after the cluster is created.
**What you expected to happen?**
This should run ` importing SSH public key`

**How to reproduce it?**
```eksctl create cluster --name=sone-name```

**Versions**
Please paste in the output of these commands:
[code]

### *note: thi

[2018-08-16 18:11] #165 closed

[2018-08-16 18:15] gmflau commented on #164
It did not prompt for username/password when running "eksctl create cluster" command.  The output from the command was as follows:
gilbertlau:~$  eksctl create cluster --name=eks-c5-xlarge-5 --nodes=5 --node-type=c5.xlarge
2018-08-15T12:21:27-07:00 [ℹ]  setting availability zones to [us-west-2c us-west-2b us-west-2a]
2018-08-15T12:21:27-07:00 [ℹ]  importing SSH public key "/Users/gilbertlau/.ssh/i

[2018-08-17 10:45] richardcase commented on #46
@errordeveloper - do you think we can close this now we have #151 for the integration tests?

[2018-08-17 14:17] errordeveloper commented on #46
@richardcase yes, but before we close this, I think it'd make sense to open another set a goal post for coverage - wdyt?

[2018-08-17 14:40] errordeveloper commented on #46
I'd guess we start with unit tests for now. Integration coverage is harder to grasp, as you have to think of various flag combos, so I'm not sure how we would make that work in a way that doesn't require creating dozens of clusters...

90% could be a good one to aim for, but I'd also define a lower band (60%-70%?) that's more realistic near-term.

[2018-08-20 08:21] richardcase opened #166 "Improve test coverage"
**Why do you want this feature?**
We need to improve the test coverage so that we have confidence in the effect of changes.

**What feature/behavior/change do you want?**
The test (unit tests) coverage should be increased. We should initially aim for around 60% coverage.

This is a follow on from #46 where we introduced the testing strategy.

[2018-08-20 08:22] richardcase opened #167 "Test coverage to 90%"
**Why do you want this feature?**
We need to improve the test coverage so that we have confidence in the effect of changes. This is a foll on from #166

**What feature/behavior/change do you want?**
The test (unit tests) coverage should be increased to 90%.

[2018-08-20 08:25] richardcase commented on #46
Closing this issus as we have defined the testing strategy and have started to add tests. We now have new issues to improve various aspects:

- Integration tests #151
- Test coverage to 60% #166
- Test coverage to 90% #167

[2018-08-20 08:25] #46 closed

[2018-08-20 10:33] richardcase commented on #164
@gmflau  - thanks for sending that through. It sounds like you may have an old version of `kubectl`. Could you check the version you have by running:
[code]

[2018-08-20 12:37] errordeveloper commented on #147
As @gchaincl won't have the time to do this, I will. Once this is done, I think we can cut 0.1.1.

[2018-08-20 13:12] errordeveloper opened #169 "use aws-iam-authenticator as default once new version is out"
https://github.com/kubernetes-sigs/aws-iam-authenticator/issues/119

[2018-08-20 13:16] errordeveloper commented on #169
We should also update the library.

[2018-08-20 17:01] Raffo commented on #46
We probably don't need to achieve 90% or a specific number, but I believe we should keep track of the coverage anyways as it is a good indication of where the efforts should go.

[2018-08-21 09:33] christopherhein opened #170 "Add Cluster AutoScaler as an Addon"
Needs to add the following policy to the instance role:

[code]

Apply the CA manifest file with the autoscaling group prefilled.

[2018-08-21 10:32] #147 closed

[2018-08-21 10:34] errordeveloper commented on #165
It still gets used. You might want to run with `--verbose=4`, if you are not sure what's going on.

[2018-08-21 10:43] errordeveloper commented on #164
[code]
That line indicates that there is certainly something odd with `kubectl`. Is it an alias or do you have some kind of wrapper?

You need version 1.10.x, the latest is 1.10.7.

[2018-08-21 10:53] errordeveloper commented on #170
I think we should be able to cater for this very easily once #132 lands.

[2018-08-21 13:54] gmflau commented on #164
I will upgrade my kubectl to 1.10.x or higher and give it a try.

On Tue, Aug 21, 2018 at 3:43 AM, Ilya Dmitrichenko <notifications@github.com

[2018-08-21 16:57] errordeveloper commented on #169
Not true. The binaries are here: https://github.com/kubernetes-sigs/aws-iam-authenticator/releases/tag/v0.3.0

And here for Windows: https://amazon-eks.s3-us-west-2.amazonaws.com/1.10.3/2018-07-26/bin/windows/amd64/heptio-authenticator-aws.exe

You will be able to do this soon, once we release 0.1.1, probably before end of this week.

[2018-08-22 13:55] richardcase commented on #167
No need for this extra issue at present

[2018-08-22 13:55] #167 closed

[2018-08-22 14:02] richardcase commented on #151
@errordeveloper - if we are creating an integration test for "cluster creation". We want to check that the command completes and the exit code is 0. To what level of detail should we check whats created on AWS? For instance, do we only care that we have an EKS cluster, the right number of instances and the instance sizes are correct? And we don't care that we have cloudformation stacks name X, Y &

[2018-08-22 14:04] richardcase commented on #46
I agree. I have removed the 90% target issue and changed the other one to be more generic (#166). We can track coverage with coveralls.

[2018-08-22 15:38] errordeveloper commented on #151
I am not entirely sure this worse checking so deeply, we should trust the APIs and have a unit test that parses flags, applies defaults and checks resulting config struct. After CloudFormation changes land, we should be able to test such things in stages, I believe.

The `create cluster` code path already waits for `--nodes`/`--min-nodes`, so in effect 0 exit code guarantees this already. I think

[2018-08-23 15:00] errordeveloper commented on #151
It'd be nice to figure out how to get coverage reports, I recall we had something in Scope that did this. But surely we don't needed for 0.1.1, just a note for now.

[2018-08-24 09:34] errordeveloper opened #172 "[docs] enumerate some of the common issues with AWS"
We need to document a few key areas:

-  CloudFormation
  - mention that it is the go-to place for troubleshooting (we have this in the output, but need to document in plain English also)
  - mention that it owns all resource, and if one needs to modify something, they need to know what they are doing, and mention that they can hack the template and update stack if they really have to do that
  -

[2018-08-27 19:48] shatil commented on #120
Great project! I'd love to pitch in since I'd like to test this out for our company. The private subnets are a must for me, too.

In trying to understand how this works, I see that `cfn.go` references `amazonEksVpcSampleYamlBytes`, which sources the sample YAML from `assets/1.10.3/2018-07-18/amazon-eks-vpc-sample.yaml`.

I imagine it was expedient to hardcode a sample three-AZ template to get goin

[2018-08-27 22:04] christopherhein opened #175 "Add Support for Auto-Deploying a Default Storage Class"
*Before creating a feature request, please search existing feature requests to see if you find a similar one. If there is a similar feature request please up-vote it and/or add your comments to it instead*

**Why do you want this feature?**
To ease the setup of EKS cluster for production usecases

**What feature/behavior/change do you want?**
When #132  gets merged if we have the possibility it wo

[2018-08-28 01:04] arun-gupta commented on #169
Looking forward to 0.1.1 release

[2018-08-28 02:28] kschumy commented on #154
@errordeveloper -- I would like to work on this feature. Can you assign this to me?

[2018-08-28 11:09] errordeveloper commented on #49
[code]

[2018-08-28 14:02] errordeveloper commented on #175
@christopherhein yes, more then happy to do it! Could you please clarify the `#321` reference, which repo is it for?

[2018-08-28 16:58] arun-gupta opened #178 "Enable dashboard using an option"
Adding dashboard to an EKS cluster is quite an involving process as documented at https://docs.aws.amazon.com/eks/latest/userguide/dashboard-tutorial.html.

It would be a great customer experience to enable dashboard creation as an option to `create cluster` API.

[2018-08-28 18:59] christopherhein commented on #175
LOL, sorry about that I flipped that entirely, I meant #132 updating the above comment to reflect. Sorry about that.

[2018-08-28 21:28] errordeveloper commented on #154
Yes, happy to adding it to you, Kristen. However, I wouldn't advise
starting on this before #132 lands. Have you looked at any of the issues
with 'help wanted' label? Some of those don't have dependencies, and are
relatively easy to tackle.

On Tue, 28 Aug 2018, 3:28 am Kirsten Schumy, <notifications@github.com>
wrote:

[2018-08-28 21:29] errordeveloper commented on #154
https://github.com/weaveworks/eksctl/invitations

[2018-08-29 17:28] errordeveloper commented on #178
Yes, I'd love add it as one of the first add-ons

[2018-09-03 22:27] jmcarp commented on #150
I was going to write up a patch for this, since we need tagging too, but it looks like there's a migration from aws-sdk-go to goformation in progress, so I figured I'd hold off. Does that make sense?

[2018-09-04 13:42] #127 closed

[2018-09-04 15:09] mikemorris opened #181 "Export to Terraform"
It would be great to offer an option to export a cluster configuration to be managed in Terraform, similar to the [`--target=terraform`](https://github.com/kubernetes/kops/blob/master/docs/terraform.md) functionality in kops.

Breaking this out from initial discussion in https://github.com/weaveworks/eksctl/pull/132#discussion_r208338871

/cc @richardcase @errordeveloper

[2018-09-04 15:54] errordeveloper commented on #151
@richardcase I think we should be able to close this, once we have defined some follow-up improvements based on the conversation here.

So far this is what I've been able to parse:

- test how combinations affect resulting CloudFormation stacks (requires a mode where we only output the stacks in JSON) – this is kind of a unit test, but we might go via an exec
- more rigorous test that create ELB,

[2018-09-04 18:41] nukepuppy commented on #172
defining the CIDR range of a net new VPC + subnet ranges should be a pretty big one in general.. ?

[2018-09-04 18:46] nukepuppy commented on #42
just checking in.. as defining the CIDR range is probably one of the most basic things folks will need to support..

Though this issue is about re-using existing?    Is there a way for new cluster creation to use the CIDR of choosing? - if not where is that on roadmap?

this blocks any kind of peering or direct connect setups which allow for restricted resources elsewhere.. and well.. that's prett

[2018-09-04 21:34] arun-gupta opened #182 "Add instructions to install Windows version"
https://github.com/weaveworks/eksctl/releases has Linux, Mac and Windows binaries. However, the current set of instructions on http://eksctl.io do not include instructions to install on Windows.

[2018-09-04 22:04] arun-gupta opened #183 "Support for create a GPU-accelerated cluster"
**Why do you want this feature?**

EKS cluster can be created with a GPU-accelerated AMI as explained at https://aws.amazon.com/blogs/compute/running-gpu-accelerated-kubernetes-workloads-on-p3-and-p2-ec2-instances-with-amazon-eks/. `eksctl create cluster` API should provide support for that.

**What feature/behavior/change do you want?**

Update `eksctl create cluster` to pick the right AMI based

[2018-09-04 22:36] errordeveloper commented on #42
@nukepuppy thanks for clarifying the use-case, could you please open another issue, unless using a pre-existing VPC and subnets would be satisfactory (or even somewhat more beneficial) for you? We are planning to start working on this issue soon. I was hoping subnet CIDR params could wait until we have Cluster API support and can expose those and other advanced parameters via a config file and avo

[2018-09-04 22:40] errordeveloper commented on #182
@arun-gupta I was assuming curl command would work in a shell (cygwin or similar?). If you know a powershell equivalent off hand, it'd be most helpful!

cc @stefanprodan

[2018-09-05 06:42] richardcase commented on #182
We could probably use something like:

`powershell -command "& { iwr https://github.com/weaveworks/eksctl/releases/download/0.1.1/eksctl_Windows_amd64.zip -OutFile eksctl_Windows_amd64.zip }"`

And combine it with [Expand-Archive](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.archive/expand-archive?view=powershell-6).

I'll keep an eye on this one and if no one picks it u

[2018-09-05 08:13] richardcase commented on #151
The integration test that we started was always meant to be (in my head that is) a complete "happy path" lifecycle test, so:
`create->get->delete`
Perhaps we could hold off closing this issue until that is implemented and as you say until we define the future improvements.

I like your idea of testing combinations of the command line and what effect this has on the resulting stack. I have seen thi

[2018-09-05 08:17] richardcase commented on #164
@gmflau  - did upgrading kubectl help with this issue?

[2018-09-05 09:39] richardcase commented on #150
@jmcarp - the goformation change has landed in master if you fancied working on this? It might be worth following the kops naming convention:

`--cloud-labels string                  A list of KV pairs used to tag all instance groups in AWS (eg "Owner=John Doe,Team=Some Team").`

@errordeveloper - do you have any thoughts around tags on the created resources?

[2018-09-05 09:46] errordeveloper commented on #25
I've checked just now, and the [EKS API](https://docs.aws.amazon.com/eks/latest/APIReference/API_CreateCluster.html) still doesn't support tags.

[2018-09-05 09:48] errordeveloper commented on #150
As of #132, it should be fairly easy to plumb custom tags through, see here:

https://github.com/weaveworks/eksctl/blob/f7a04d411d44a62705b7f06ad13e4ce70163e823/pkg/cfn/manager/api.go#L40-L42

Also, did you folks see #25?

[2018-09-05 09:50] richardcase commented on #150
I missed #25. So we could add tags for the CloudFormation stacks and then when the EKS API supports tags at that at a later date as a follow up issue?

[2018-09-05 09:52] richardcase commented on #116
Looking at this now.

[2018-09-05 14:32] nukepuppy commented on #42
@errordeveloper i'll open a new issue.. The use case is net new environments / VPCs which can be used in an enterprise environment where IPAM is enforced etc..   and using the standard 192 or 172 class Bs wont do..   so yes I'll definitely open a new issue.

As for playing with a PR .. if time allows I'm definitely down to dive into it

[2018-09-05 15:30] rnzsgh opened #185 "Inconsistent state after timeout"
**What happened?**

The create process took longer than 20 minutes to process and the create command timed out. The stacks are created (unclear to the user)  but kubeconfig is not set.

2018-09-05T11:01:16-04:00 [✖]  timed out creating CloudFormation stack "EKS-eksworkshop-eksctl-ControlPlane" after 120000000000

Normally, this is not an issue, but it can occur if there is too much delay in the st

[2018-09-05 17:02] gmflau commented on #164
Yes.  You can close the issue now.

On Wed, Sep 5, 2018 at 1:17 AM Richard Case <notifications@github.com>
wrote:

[2018-09-05 21:06] richardcase commented on #164
Thanks @gmflau. Closing.

[2018-09-05 21:06] #164 closed

[2018-09-05 21:29] arun-gupta commented on #183
// CC @countspongebob

[2018-09-06 04:57] errordeveloper commented on #185
@rnzsgh thanks for a detailed report! The question is whether the `EKS-eksworkshop-eksctl-ControlPlane` stack got created with no issues after all, and approx how much longer did it take?

First of all, we should also add error message. Secondly, I think a change to default timeout would be reasonable, e.g. we could consider making 25m or 30m.

[2018-09-06 05:13] errordeveloper opened #188 "Continuation and retries after failures"
Right now, when we fail to create a cluster, we bail out and expect user to delete partially create resource (and `eksctl delete cluster` handles this okay), but in certain cases (e.g. #185) it'd be perfectly reasonable to let user continue somehow.

We will certainly need to add continuation eventually for `eksctl apply` (i.e. Cluster API) , but it maybe useful to add it already now and let user

[2018-09-06 05:15] errordeveloper commented on #185
I believe #188 would be most helpful long term.

[2018-09-06 07:06] errordeveloper opened #190 "more explicit errors on stack rollback"
Right now all one sees on stack rollback is this:

[code]

Stack rollback are often caused by shortage of VPCs:

[code]

We should be able to detect when it's the cause and print a more friendly error message.

[2018-09-06 14:48] richardcase commented on #183
We'll have to do this i 2 parts, using the correct AMI for the instance type is the first part. And then when we have the addon framework we can add the NVIDIA device framework.

Until we get the addon framework we can add supply instructions about manually running the device framework.

[2018-09-06 15:44] errordeveloper commented on #183
@richardcase sounds like a good plan!

So to clarify, after 1st part is done, users would be able to run `eksctl create cluster --node-type=<gpuInstanceType> [<flags>]` followed by `kubectl apply -f <gpuDriverManifest> [<flags>]`  to get going. And right now, one cannot do it, as AMI we use doesn't have GPU support. Is that correct?

And once we have add-ons (0.2.0), we will be able to cater for `

[2018-09-06 15:56] arun-gupta commented on #183
Sounds like a great plan to me, can't wait to try it out.

[2018-09-06 16:26] arun-gupta commented on #183
Automatic installation of addon would be super!

[2018-09-06 19:31] rnzsgh commented on #185
Thanks for the quick response. I am not sure increasing the timeout is the long-term resolution. Clarification of the error messages/current state definitely makes sense (e.g., which stack(s) have been created, what has not completed). The continuation feature seems to make sense. Thanks!

[2018-09-06 21:59] KevinMonk opened #194 "Amazon EKS now available in Ireland but not supported"
**What happened?**
Amazon EKS is now available in Ireland but [this line is preventing eksctl from creating a cluster in the eu-west-1 region](https://github.com/weaveworks/eksctl/blob/33a7d24db7e68fa337cf967bcf3ae13ddeffe585/cmd/eksctl/create.go#L123).

**What you expected to happen?**
To be able to create a cluster in eu-west-1

**How to reproduce it?**
Try to create a cluster in eu-west-1

[2018-09-07 08:06] richardcase commented on #194
@KevinMonk - thanks for raising the issue. Support for  Ireland (eu-west-1) is being worked as part of #189.

[2018-09-07 08:10] darrenhaken commented on #42
How's the progress coming with this? I also have the need to use an existing VPC and subnets.

[2018-09-07 11:13] richardcase commented on #42
@darrenhaken - if we supported `--vpc` and `--subnets`  (like kops) on `create cluster` would that satisfy your requirement?

[2018-09-07 11:14] darrenhaken commented on #42
Definitely yeah

On Fri, 7 Sep 2018, 12:13 Richard Case, <notifications@github.com> wrote:

[2018-09-07 12:36] errordeveloper commented on #42
My biggest question is whether we should at support a mode where one only
specifies the VPC? Would that imply we have to try finding suitable
existing subnet or create new ones? If we create new ones, how should we go
about routing? Can one have isolated overlapping subnets in one VPC, would
that be of any use?

I think it is better to ask use to supply all pre-existing resources, and
bail if some

[2018-09-07 13:10] darrenhaken commented on #42
I'm basing the best option around how Terraform does it:

[code]

Here Terraform allows passing the VPC and the subnet IDs

[2018-09-07 16:07] richardcase commented on #42
I'll take a stab at this next week if no one picks it up.

[2018-09-07 16:26] mduarte commented on #42
We also have a use case where we would like to have the iam-role as a parameter as well.

[2018-09-07 19:49] errordeveloper commented on #42
Mario, I agree, there is a use-case for that too. We have it documented in
another issue.

On Fri, 7 Sep 2018, 5:26 pm Mario Duarte, <notifications@github.com> wrote:

[2018-09-07 19:52] darrenhaken commented on #42
IAM role would also be great!

I often find I want control of the networking and security resources rather
than auto generated.

On Fri, 7 Sep 2018, 20:49 Ilya Dmitrichenko, <notifications@github.com>
wrote:

[2018-09-07 22:50] karinnainiguez commented on #175
Hey @christopherhein !
I'm hoping to be a new collaborator from the EKS team and help out with this.  But I brought it up to my team, and was wondering if you could clarify what the use case for this would be.

As I understand it, this would allow an end user to create a cluster, and not have to run the `kubectl create -f <storage-class.yaml>` command.  Is that correct?   The question that came up

[2018-09-07 23:16] jicowan opened #197 "Update with latest AMIs"
**What happened?**
Cluster is provisioned with old version of the EKS optimized AMI

**What you expected to happen?**
Use latest

**How to reproduce it?**
```eksctl create cluster```

**Anything else we need to know?**
What OS are you using, are you using a downloaded binary or did you compile eksctl, what type of AWS credentials are you using (i.e. default/named profile, MFA) - please don't inclu

[2018-09-08 07:56] richardcase commented on #197
This will be fixed when #192 is landed. Thanks for the raising the issue.

[2018-09-09 14:01] bowlesns commented on #172
Service Limits page: https://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html
Elastic IP limit should be added as well

[2018-09-10 05:53] christopherhein commented on #175
Hey @karinnainiguez, it shouldn't be set as a default with all `eksctl` clusters, what I'm hoping for is similar to what we have with `--full-ecr-access` have `--gp2-storage-class` or have `--storage-class=gp2` the latter only if we think that we'd ever have a way to set anything other than `gp2` by default.

The real benefit is not having to configure your storage class if you are trying to get u

[2018-09-10 09:45] yhvh opened #198 "Provide an option to use spot instances"
**Why do you want this feature?**
We are using kubernetes for data science. Since this load is non-critical we would like to use spot instances for worker nodes.

**What feature/behavior/change do you want?**
An option to deploy spot instances instead of on-demand instances

[2018-09-10 10:29] errordeveloper commented on #198
I think this should part of node group management epic, along the side with #100. I would rather avoid creating an ad-hoc flag(s) in `eksctl create cluster` before we have `eksctl create nodegroup`.

[2018-09-10 10:33] errordeveloper opened #199 "Add-ons for spot instances"
Once we have support for spot instances (#198), we should consider a few add-ons that make better use of spot instances.

I am aware for these few by @Pusher (cc @JoelSpeed & @gargath):

- https://github.com/pusher/k8s-spot-price-monitor
- https://github.com/pusher/k8s-spot-rescheduler
- https://github.com/pusher/k8s-spot-termination-handler

[2018-09-10 10:53] richardcase commented on #49
I'm making this change as part of #192 as you suggested.

[2018-09-10 14:44] tsal commented on #169
editing the generated configuration to use `aws-iam-authenticator` seems to solve this issue just fine.

[2018-09-10 18:28] tedmiston commented on #190
Unrelated to the rollback itself, but I came here searching for the "cluster hasn't beend created" (sic) error — looks like the typo itself and some others were recently fixed by @kschumy via https://github.com/weaveworks/eksctl/commit/8a65a87d7fc3ea4d206706ed71ba999803f27804.

[2018-09-10 18:53] tedmiston opened #200 "0.1.2 release?"
I'm currently getting an obscure error when running a create cluster command and I'm wondering if the changes since 0.1.1 will fix it.  I searched for open issues around the `unexpected status "ROLLBACK_COMPLETE"` but didn't see anything yet.

It looks like there have been significant [changes since the 0.1.1 release](https://github.com/weaveworks/eksctl/compare/0.1.1...master) 10 days ago.  Can w

[2018-09-10 21:08] tedmiston commented on #164
I experienced this issue today too.

Leaving these commands here for reference for anyone else who has kubectl installed both via Homebrew and Docker for Mac.

[code]

In my case, `kubernetes-cli` in Homebrew was up-to-date on v1.11.x but `which kubectl` was pointing to an outdated v1.9.2 alias set by Docker for Mac edge.

[code]

I'd been hanging on an old build of DfM edge as Kubernetes support

[2018-09-11 06:31] errordeveloper commented on #200
Yes, this is availability issue that occurs in us-east-1, but had been seen in us-west-2, so I recommend using us-west-2.

The issue that we should fix is #190. Actually, what happen is that with the switching to CloudFormation in 0.1.1 (#126), we non-intentially hidden the error message away.

[2018-09-11 06:32] errordeveloper commented on #190
This hides many important errors, such as #200. We must fix this in 0.1.2 asap.

[2018-09-11 06:47] errordeveloper commented on #164
I have my Homebrew installed under `${HOME}/Library/Local/Homebrew`, so my `PATH` is set to
`${HOME}/Library/Local/Homebrew/bin:${PATH}` (i.e.`$HOME/Library/Local/Homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin`).

By the way, I use stable Docker for Mac (18.06.0-ce-mac70), and it worked just fine. I recall having to go through multiple resets/reinstalls doing upgrades on unstable channe

[2018-09-11 11:18] errordeveloper opened #203 "doWaitUntilStackIsDeleted shouldn't rely on ValidationError"
Right now deletion is assumed based on ValidationError, this doesn't have to be the case, we just need to pass stack ARN instead of name.

https://github.com/weaveworks/eksctl/blob/6a4932de65265906aa91363d4eb1b02ae6dddda5/pkg/cfn/manager/waiters.go#L150-L184

This code works okay, but in ideally it'd be nice to improve it and get rid of long comment describing implicit behaviour. We could consider

[2018-09-11 13:33] NunoPinheiro opened #204 "Document minimum IAM requirements"
It would be nice to have a documentation listing the minimum IAM permissions to run eksctl.

I'm trying to set this up with a minimum service account, and now I have to add dependencies one by one.

If they were documented as a YAML that would be the best!

[2018-09-11 14:13] errordeveloper commented on #200
I think the following outstanding PRs should land for 0.1.2: #202, #201, #191.

[2018-09-11 14:43] errordeveloper commented on #148
@karinnainiguez did you intend to unassign this?

[2018-09-11 14:48] errordeveloper commented on #148
The intention would be to provide debugging utility to those who are using a custom AMI, or debugging eksctl. To start with, we probably want to SSH into the host, but in the future we may consider SSH into a privileged toolbox container, but there is no particular use for that at the moment.

As far as debugging use-case is concerned, we should be looking at EC2 API for node IPs, because one shou

[2018-09-11 14:55] errordeveloper commented on #204
@NunoPinheiro I'd recommend creating a cluster with an admin account, and looking and all resources that get created and use those as a basis to define a restricted policy.

Please note that we have #122. The code already accommodates for separating out IAM resources, all the resources are defined here:

https://github.com/weaveworks/eksctl/blob/6a4932de65265906aa91363d4eb1b02ae6dddda5/pkg/cfn/bui

[2018-09-11 16:11] tedmiston commented on #164
Thanks, I'll give the stable channel a shot again.

Do you think it makes sense to add a note about this in the docs (README.md) for this?  I'm happy to send a PR if so.

[2018-09-11 16:38] tedmiston commented on #200
This makes sense and sounds good.  Looking forward to it!

[2018-09-11 16:38] tedmiston commented on #200
Should we keep this issue open for the release or close it out?

[2018-09-11 18:03] karinnainiguez commented on #175
Thank you so much @christopherhein!  I really appreciate the clarification.

Since there are 4 volume types provided on EBS, would the desired support be that the (optional) flag be available for different types, to make sure the user can get up and running with ease?

--storage-class=<io1, gp2, st1, or cs1>
or
--storage-class=ebs
--volume-type=<io1, gp2, st1, or cs1> (additional optional flag, wh

[2018-09-11 22:12] errordeveloper commented on #200
Yes, let's closing as release status is now tracked in https://github.com/weaveworks/eksctl/milestone/7.

[2018-09-11 22:13] #200 closed

[2018-09-11 22:55] christopherhein commented on #175
You got the ask correct! 👍

And good point there are multiple types of storage classes under the ebs provisioner, and we should support them all so `--storage-class=<type>` would be the right approach.

[2018-09-12 00:32] karinnainiguez commented on #148
@errordeveloper thanks for checking! It was intentional, my coworker @kschumy is researching this one.
:)

[2018-09-12 10:52] errordeveloper opened #205 "NVIDIA GPU driver add-on"
This is a follow-up to #183. We should make it very easy to enable GPUs end-to-end, the flag should probably be something like `--addon=nvidia-gpu`. But we will need to enable add-ons first (see #17 & #18).

[2018-09-12 11:03] errordeveloper commented on #183
I think we can close this now, as further work will be tracked in #205. The @richardcase's changes are in master now and will be available in 0.1.2 binaries, which we are planning to cut today.

To use create a cluster with GPU nodes, you will need to do the following:
1. get `eksctl` 0.1.2
2. subscribe to GPU AMIs
3. run `eksctl create cluster --node-type=p3.8xlarge --timeout=40m`

I don't know i

[2018-09-12 11:03] #183 closed

[2018-09-12 11:05] errordeveloper commented on #197
#192 is in, 0.1.2 will be out today.

[2018-09-12 11:05] #197 closed

[2018-09-12 11:59] richardcase commented on #183
The main thing is you need to subscribe to the GPU Supported AMI:

https://aws.amazon.com/marketplace/pp/B07GRHFXGM

[2018-09-12 13:07] errordeveloper commented on #77
This isn't relevant any more, much of the code has changed.

[2018-09-12 13:07] #77 closed

[2018-09-12 13:09] errordeveloper commented on #28
I had a good go at this in #48, but that PR is dead in it's current form, yet I'd encourage those wanting to work on this to take a look at use of tagged config structs.

[2018-09-12 13:12] richardcase commented on #183
If you have the AMI in your library then the default timeout should be sufficient. If you don't then it will take a long time to fail

[2018-09-12 14:05] errordeveloper opened #206 "Stricter linting"
As of #193, we have `make lint`, but it's in errors-only mode and fairly light. Would be good to review and make it stricter.

https://github.com/weaveworks/eksctl/blob/584e85ad3bec1daf73165ed748639fb6f8023a29/.gometalinter.json#L1-L6

[2018-09-12 14:32] #190 closed

[2018-09-12 14:32] #203 closed

[2018-09-12 14:40] errordeveloper commented on #194
@saily yes, the 0.1.2 release will be out shortly. I'm running the integration tests now, and all goes well (it should!), there will be binaries within the next hour.

[2018-09-12 14:40] #194 closed

[2018-09-12 15:45] errordeveloper commented on #164
Yes, please propose what you think would be helpful, please open a PR and
we take it from there :)

On Tue, 11 Sep 2018, 5:11 pm Taylor D. Edmiston, <notifications@github.com>
wrote:

[2018-09-12 15:45] errordeveloper commented on #183
Ah, I see, didn't realise that!

On Wed, 12 Sep 2018, 2:12 pm Richard Case, <notifications@github.com> wrote:

[2018-09-12 15:47] #150 closed

[2018-09-12 21:46] arun-gupta commented on #183
Confirming, it works as expected:

https://twitter.com/arungupta/status/1039992592350437377

[2018-09-13 12:10] errordeveloper opened #208 "cleanupAws in integration test is out of date"
This got me very puzzled actually, I nearly panicked that I found a bug in EKS. I found CloudFormation stacks in my account, but couldn't see actual EKS clusters.

Turns out we delete the cluster directly first:

https://github.com/weaveworks/eksctl/blob/142fd2b8fbec89678aec657e612482e1a46ef689/tests/integration/cleanup.go#L12-L14

Then we try to delete some stack, but using the old naming convent

[2018-09-13 12:19] errordeveloper commented on #208
Waiting for cluster stack to get delete may take too long actually, perhaps we don't have wait for that. Just check if `eksctl delete cluster` resulted in nodegroup stack going away, and cluster stack status becomes `DELETE_IN_PROGRESS`. If we decide to make `eksctl delete cluster` wait for all resource to get deleted, so be it, but for now we shouldn't have to make tests run too long before there

[2018-09-13 12:32] richardcase commented on #208
In my head the integration test was always supposed to be full life cycle:
`create->list->delete`
and the cleanup code was only there if the test failed and we just needed to cleanup.

[2018-09-13 20:40] tedmiston opened #209 "Are aws-iam-authenticator / heptio-authenticator-aws optionally required locally?"
**What happened?**

When using the eksctl create cluster command, a warning is output about "neither aws-iam-authenticator nor heptio-authenticator-aws are installed".

(Note: some not relevant flags are omitted and the cluster name is changed for the purpose of this post.)

[code]

It looks like this error occurs when neither authenticator binary is found in one's PATH.

https://github.com/weavew

[2018-09-13 20:42] tedmiston commented on #209
If the intent is for the user to use Amazon's patched kubectl and/or manually install the authenticator binary, I would be happy to add more info about this to the existing documentation.

For the Homebrew case specifically, should the [eksctl Homebrew package](https://github.com/weaveworks/homebrew-tap/blob/master/Formula/eksctl.rb) include [eksctl-aws-iam-authenticator](https://github.com/weavew

[2018-09-14 07:55] errordeveloper commented on #209
Yes, that's very intentional. It's to allow users to install the binary later, because `eksctl` doesn't really need it, but it will be required to use with `kubectl`.

There is not such thing as patched `kubectl` as of 1.10. But yes, the intention is that Linux or Windows users will have to install `kubectl` and either of the authenticator commands.

Yes, but unfortunately when I did it first time

[2018-09-14 08:04] errordeveloper commented on #209
That turned out unnecessary, I've updated the formula re-installing `eksctl` should fix this.

[code]

And I've also update goreleaser config in master, so next release won't override the change.

[2018-09-14 08:05] errordeveloper commented on #209
@tedmiston thanks for reporting this, I wish we've noticed it earlier! If you think docs need updating, please open a PR with suggested edits and we will take it from there 👍

[2018-09-14 18:39] tedmiston commented on #209
Thank you for the quick fix!

The part where I saw the patched kubectl is in [*Configure kubectl for Amazon EKS*](https://docs.aws.amazon.com/eks/latest/userguide/configure-kubectl.html): "To install the Amazon EKS-vended version of kubectl".  [I'm not using it myself though but I suppose some people might.]

I did a fresh re-install of eksctl and it is working with the authenticator now 👍.  Runni

[2018-09-15 16:17] paulbsch opened #213 "--watch flag for 'cluster delete'"
**Why do you want this feature?**
It would be helpful to be able see/monitor the results of 'cluster delete' on the command line.

**What feature/behavior/change do you want?**
Currently, 'cluster delete' immediately exits after sending the delete commands upstream.  I'm proposing a --watch flag that could be set to true/false.  Then eksctl could be directed to watch/monitor the cluster deletion u

[2018-09-16 20:33] paulbsch opened #214 "--node-volume-size flag for create cluster"
**Why do you want this feature?**
It is currently not possible to set the volume size used for the nodes.  It defaults to 20GB and it is only possible to modify the volume sizes after creation using AWS tools.

**What feature/behavior/change do you want?**
A --node-volume-size flag that can be used to set larger node volume size on cluster creation.

[2018-09-16 20:51] paulbsch commented on #103
This is of interest to me as I'm working with an app that creates k8s LoadBalancer services on demand.  So at the moment, it's not possible for me to cleanly delete the clusters I create with eksctl.  I think it makes sense for 'delete cluster' to automatically clean up the ELBs that were created with the eksctl created VPC.

[2018-09-17 07:50] richardcase commented on #213
@paulbsch - sounds like a reasonable idea for delete. I wonder of `--wait` may be better?

[2018-09-17 08:29] dholbach commented on #214
Thanks for sending in this request!

[2018-09-17 08:34] richardcase commented on #214
@paulbsch - would you expect it to accept an integer value that represents GBs? For example, `--node-volume-size=50` would be use to create a volume size of 50GB.

[2018-09-17 09:50] richardcase opened #215 "Create linux packages"
**Why do you want this feature?**
I would like to be able to install eksctl easily on Linux. Currently we have a homebrew package but we should have `.deb` and `.rpm` packages as well to cover somew of the main linux distros.

**What feature/behavior/change do you want?**
I expect to be able to do `apt-get install eksctl` and it install eksctl and its dependencies (i.e. kubectl, aws-iam-authentica

[2018-09-17 10:02] dholbach commented on #215
For `.deb` packages, I'm happy to help figure this out. We could set up a [PPA](https://help.launchpad.net/Packaging/PPA) for Weaveworks and publish bits like `eksctl`, `fluxctl` and potentially more in there. Unfortunately this would require quite a few things to be set up in CI to publish automatically (GPG signing keys, etc.)

Another route would be snaps. They'd be easier to set up (one `yaml`

[2018-09-17 10:17] dholbach commented on #215
As a follow-up, the discussion regarding Snaps moved on to [here](https://forum.snapcraft.io/t/access-to-specific-hidden-file-path-in-users-home/6948/11), and I passed on YAMLs as test-cases for this extension of snaps for both `eksctl` and `fluxctl`.

[2018-09-17 12:07] errordeveloper commented on #103
I think at present you should be able to delete the services first, then
wait for GC to kick in, but I do think this that is rather awkward and
waiting time may cost you.

On Sun, 16 Sep 2018, 9:51 pm Paul B Schroeder, <notifications@github.com>
wrote:

[2018-09-17 17:06] paulbsch commented on #214
@richardcase Yep.  Exactly.

[2018-09-17 17:08] paulbsch commented on #213
@richardcase I'm indifferent as to what the flag is called.  Whatever works.

[2018-09-17 17:10] paulbsch commented on #103
I have been deleting the ELBs.  The VPC delete then gets hung up on the related security groups.  So it seems to require deleting those manually also.

[2018-09-17 20:12] errordeveloper commented on #103
Paul, have you tried deleting service that own the ELB and waiting for some
time? I am pretty sure GC should kick in, but I just don't know the period
it runs at (will need to check).

On Mon, 17 Sep 2018 at 18:10 Paul B Schroeder <notifications@github.com>
wrote:

[2018-09-17 21:09] paulbsch commented on #103
I have done that.  The GC hasn't kicked in as I have seen.  At least it didn't do so in a short enough time frame.

[2018-09-18 16:05] tedmiston commented on #175
I sumbled upon this thread today (w/ @andscoop, @bonominijl) after trying to `helm install ... stable/postgresql` on my EKS cluster created with eksctl.  Instead of becoming active, it stays in status pending.  I think the storage class issue is why but haven't found logs to confirm yet.

It looks like #132 was merged recently.  Given that, what's the status of this PR?

Here's the temp workaround

[2018-09-18 21:45] redborian opened #217 "Cannot create clusters on regions other than US-WEST-2, US-EAST-1 and EU-WEST-1"
**What happened?**
User should be able to create clusters in all the regions supported by AWS EKS

**What you expected to happen?**
There is a validation rule in create.go file that restricts the region to US-WEST-2, US-EAST-1 or EU-WEST-1.

**How to reproduce it?**
Run `eksctl create cluster --region us-east-2`

**Anything else we need to know?**
OS is windows. I am using the downloaded binary. A

[2018-09-19 04:57] brentley commented on #197
I think we need to reopen this... it appears the auto-resolver isn't auto-resolving to the newest AMI.
When using auto, in us-west-2, we get `ami-08cab282f9979fc7a` which is `amazon-eks-node-v23` but we should get `ami-0a54c984b9f908c81` which is `amazon-eks-node-v24`

[code]

But when I use `--node-ami` to specify the newest ami id, it appears to work, so that's cool.
[code]

[2018-09-19 04:59] brentley opened #218 "Auto-resolver isn't auto-resolving to the newest AMI."
When using auto, in us-west-2, we get `ami-08cab282f9979fc7a` which is `amazon-eks-node-v23` but we should get `ami-0a54c984b9f908c81` which is `amazon-eks-node-v24`

[code]

But when I use `--node-ami` to specify the newest ami id, it appears to work, so that's cool.
[code]

_Originally posted by @brentley in https://github.com/weaveworks/eksctl/issues/197#issuecomment-422652816_

[2018-09-19 06:32] richardcase commented on #218
Running the following:
[code]
I see that i get the ami as `ami-0a54c984b9f908c81`. So the auto resolver has a bug in it and i suspect that its related to the `--query 'max_by(Images[], &CreateionDate).ImageId`.

I'll fix this.

[2018-09-19 07:48] richardcase commented on #218
On looking further its because 2 images are being returned and we are currently just picking the first and not taking into consideration creation time:

https://github.com/weaveworks/eksctl/blob/master/pkg/ami/api.go#L78

My bad. Updating this now.

[2018-09-19 07:54] arun-gupta commented on #169
0.1.2 does not seem to fix this as well. What is the ETA?

[2018-09-19 07:56] richardcase commented on #217
Hi @redborian - the regions where EKS is currently supported are the same regions eksctl supports. Currently the `us-east-2 (Ohio)` region isn't supported by EKS and therefore not allowed in eksctl.

As new regions are EKS enabled we will update eksctl.

Are you happy for us to close this issue?

<img width="210" alt="screen shot 2018-09-19 at 08 51 05" src="https://user-images.githubusercontent.c

[2018-09-19 09:50] errordeveloper commented on #169
@arun-gupta https://github.com/kubernetes-sigs/aws-iam-authenticator/issues/119 is still open also. I would rather avoid creating a work-around, unless the chances of https://github.com/kubernetes-sigs/aws-iam-authenticator/issues/119 being fixed in the next month are too low.

[2018-09-19 14:06] richardcase commented on #218
@brentley - thanks for highlighting this. I've made a fix and i've created PR #219. Hopefully this fix will be in the next release.

[2018-09-20 00:10] redborian commented on #217
Thanks for your response @richardcase . Instead of hard-coding the currently available EKS regions, is there a way to get them through an API?

[2018-09-20 14:18] richardcase commented on #218
@brentley - [0.1.3](https://github.com/weaveworks/eksctl/releases/tag/0.1.3) was released yesterday with a fix for this. Would you be able to see if the issue is fixed for you?

[2018-09-20 14:22] richardcase opened #222 "Command to list supported regions"
**Why do you want this feature?**
It would be good to have an eksctl command that lists the EKS supported regions. Something like `eksctk utils list-available-regions`.

**What feature/behavior/change do you want?**
This should list out the regions where eks is cupported

This is a result of discussion in #217

[2018-09-20 15:56] brentley commented on #218
looks good!
[code]

[2018-09-20 15:57] #218 closed

[2018-09-20 21:39] redborian commented on #217
Thanks @richardcase . I will close this issue.

[2018-09-20 21:39] #217 closed

[2018-09-20 23:39] bowlesns commented on #222
I'll take this. Thanks.

[2018-09-21 02:09] vochicong commented on #143
Any update on this issue?

[2018-09-21 04:08] richardcase commented on #222
Great, thanks @bowlesns

[2018-09-21 21:21] karinnainiguez commented on #175
Hey @tedmiston!

I just submitted a pr for this feature: https://github.com/weaveworks/eksctl/pull/224
Feel free to leave any feedback you'd like me to incorporate.

Thanks, and have a great rest of your day!

[2018-09-25 14:02] errordeveloper commented on #143
We are keen to hear from folks that experience issues like this, currently
we lack essential evidence to suggest any possible solutions. It may e also
possible that this issue has been fixed in the CNI driver, if someone could
explore if anything changed there, it would be extremely appreciated.

On Fri, 21 Sep 2018, 3:09 am Cong, <notifications@github.com> wrote:

[2018-09-25 23:04] karinnainiguez commented on #138
Hey @richardcase is this still something that you'd like someone to tackle?

I was researching it to see if I could help, but I see that the [Delete Cluster](https://docs.aws.amazon.com/eks/latest/APIReference/API_DeleteCluster.html) function you mention is called in the deprecated function, and the [DeleteStack](https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_DeleteStack.htm

[2018-09-26 12:41] richardcase commented on #49
@errordeveloper - do you think that this can be closed now (after #221)? Or would you like to wait until we get an automated test that checks for every evening for new image versions?

[2018-09-26 14:00] luigi-riefolo opened #227 "ssh key not attached to ec2 worker node"
**What happened?**
eksctl does not attach the requested ssh key to the worker nodes.

**What you expected to happen?**
eksctl correctly attaches the requested ssh key to the worker nodes.

**How to reproduce it?**
- create a key pair in EC2 named 'eks'
- run `eksctl -v5 create cluster --name=eks-cluster --region=eu-west-1 --ssh-public-key=eks`

**Versions**
Please paste in the output of these comm

[2018-09-26 21:07] kschumy opened #228 "DefaultPath is not always path used for kubeconfig"
**What happened?**
I'm not sure if this is a bug or intentionally designed this way, but I figured I'd bring it up just in case.

`doCreateCluster()` uses `DefaultPath` as the kubeconfig path when calling [`kubeconfig.Write()`](https://github.com/weaveworks/eksctl/blob/master/pkg/utils/kubeconfig/kubeconfig.go#L75). [`DefaultPath`](https://github.com/weaveworks/eksctl/blob/master/pkg/utils/kubecon

[2018-09-26 21:40] philoserf commented on #222
There isn't an API from AWS to provide this information today. The project would need to maintain a list of regions until an API is available. It looks like today AWS keeps a list of available regions in two separate documents in the user guide at [awsdocs/amazon-eks-user-guide](https://github.com/awsdocs/amazon-eks-user-guide/tree/master/doc_source)

Is this a responsibility the project team want

[2018-09-26 22:29] redborian commented on #222
There is already a hard-coded list of supported regions in `eksctl`. The team already has the responsibility of keeping that hard-coded list up-to-date.
It would be awesome if you can somehow expose them to the user.

[2018-09-27 08:54] richardcase opened #230 "Migrate 'kubeconfig' tests to Ginkgo"
**Why do you want this feature?**
Bring the [kubeconfig](https://github.com/weaveworks/eksctl/tree/master/pkg/utils/kubeconfig) package in line with the adopted testing approach by changing the tests to use:
- Ginkgo
- Golden Files

For an example see the [printers](https://github.com/weaveworks/eksctl/tree/master/pkg/printers) package.

**What feature/behavior/change do you want?**
Change the tes

[2018-09-27 09:11] richardcase commented on #222
I know that @bowlesns has been working on this.

[2018-09-27 14:41] christopherhein commented on #228
I would agree, resolving down to the typical `kubectl` load ordering would cause the least of amount of confusion for customers that are used to the way the standard kubernetes tools work. :100: @richardcase

[2018-09-27 16:14] d-nishi commented on #175
@karinnainiguez - Fantastic work!

[2018-09-27 16:17] #175 closed

[2018-09-28 11:38] errordeveloper commented on #227
The current behaviour is like this:

By default, `--ssh-access` is `false`. If you enable it (`--ssh-access=true`), your `~/.ssh/id_rsa.pub` will get imported and attached to the instances and port 22 open for any source address.

You can supply custom key path, e.g. `--ssh-public-key=~/.ssh/eks.pub` or name of an existing key (as you shown above `--ssh-public-key=eks`). But setting `--ssh-public-

[2018-09-28 14:44] luigi-riefolo commented on #227
thanks @errordeveloper but please let's always update the online documentation.

[2018-09-28 15:28] richardcase commented on #227
@errordeveloper i don't necessarily think that by specifying `--ssh-public-key` that we should then automatically enable or expect `--ssh-access=true`.

This may be a crazy idea but could we:
- Display a warning/info message if `--ssh-public-key` is set and if `--ssh-access=false`.
- Add a command so that ssh access can be enabled and disabled.

[2018-09-29 00:27] armandmcqueen opened #232 "Add option to launch all nodes into the same AZ"
**Why do you want this feature?**
We are running ML training workloads on EKS that are very sensitive to network latency. For performance reasons, we need our nodes to exist in a single AZ. Using `--zones` with a single AZ raises an error.

**What feature/behavior/change do you want?**
When launching a new cluster, I would like to be able to pass in a single AZ with the `--zones` option or to have

[2018-09-30 09:55] vfarcic opened #233 "443 for the Metrics Server"
**Why do you want this feature?**

AWS released support for Metrics Server and HPA (https://aws.amazon.com/blogs/opensource/horizontal-pod-autoscaling-eks/). However, it does not work with EKS created with eksctl since 443 is not opened between control plane and worker nodes. Kube is trying to fetch metrics from worker nodes through 443. Please see https://github.com/awslabs/amazon-eks-ami/issues/

[2018-09-30 20:18] gruebel commented on #232
Hi,
This is not possible due to API restrictions of AWS. You need to specify at least two Subnets in two different AZs.

[2018-10-01 09:28] richardcase commented on #138
@karinnainiguez - my original thoughts related to the Delete* API calls. But i think any call we make to AWS Endpoints should potentially be retried if there is a error (i.e. such as ServiceUnavailableException). What do you think?

[2018-10-04 10:05] jpds opened #235 "Default region setting not respected"
**What happened?**

In `~/.aws/config`, I have this set:

[code]

When I  ran `eksctl create cluster`, it started creating one in `us-west-2`.

[2018-10-04 13:02] jpds opened #236 "Deleting cluster states that kubeconfig isn't auto-generated"
**What happened?**

I ran the following with no kubeconfig at all present in my home directory:

[code]

**Versions**
Please paste in the output of these commands:
[code]

[2018-10-04 13:16] richardcase commented on #235
@jpds  - interesting issue, thanks. We don't take into consideration at all the region specified in the default or named profile. If a region isn't specified on the command line (`--region/-r`) then we default to `us-west-2`. To get some more clarification, what do you think to these scenarios:

**No region in AWS config AND no region flag supplied**
Then we can default to `us-west-2` like we curr

[2018-10-04 13:19] richardcase commented on #236
@jpds - what would you expect to occur in this scenario?

IIn my head,  if there is no default kubeconfig file and there isn't an autogenerated generated kubeconfig file then we should write a log file saying that we can't find a kubeconfig file and so no cleanup will be done.

[2018-10-04 13:53] richardcase commented on #236
@jpds  - the autogenerated kube config file is stored in a subdirectory of the kube folder (normally ~/.kube). For example, `~/.kube/eksctl/clusters/test-cluster`.  In your scenario above you are deleting the `.kube` folder and so there is no kube config for it to delete.

An autogenerated kubeconfig is deleted if it exists. Recently @kschumy added deletion of the cluster details from a shared kub

[2018-10-04 13:58] jpds commented on #236
@richardcase With `versionInfo = map[string]string{"builtAt":"2018-09-28T08:29:56Z", "gitCommit":"13286de1b06717200a5fbe692878be4937a1b05f", "gitTag":"0.1.4"}` - I do not have a subdirectory in `~/.kube/` - I can see my EKS cluster is directly in `config`.

Sorry if it wasn't clear, but I moved my working kubeconfig out of the way, *before* creating my EKS cluster, I then *removed* that EKS cluste

[2018-10-04 14:00] jpds commented on #236
Ah, the linked pull request appears to have been merged just after `0.1.4` was released. :)

[2018-10-04 14:34] richardcase commented on #236
@jpds - ah yes, i misread the order, sorry. When 0.1.5 is out then this should handle this scenario.

[2018-10-04 19:56] errordeveloper commented on #100
Just wanted to make it clear for anyone looking at this issue – it should be possible to start on this already, nothing is blocking it (as far as I'm aware). One might wish to start by adding `eksctl get nodegroup` subcommand, which is an easy one.

[2018-10-05 08:22] mseiwald opened #237 "Add possibility to add SSM agent + IAM policy (addon)"
**Why do you want this feature?**
Having SSM agent installed enables running commands and SSH-like sessions using the new SSM Session manager. This would remove the need to add SSH public keys to the instance and opening ports.

**What feature/behavior/change do you want?**
The following changes would have to be made:
* [install ssm-agent](https://docs.aws.amazon.com/systems-manager/latest/usergui

[2018-10-05 09:28] richardcase commented on #230
Great thanks @denwwer 👍

[2018-10-05 12:15] errordeveloper commented on #232
@armandmcqueen I'm curious to know what happens if you pass e.g. `--zones us-west-2a,us-west-2a,us-west-2a`?

@gruebel is that an EKS API requirement, or something else?

I think in the future, we should be able to allow this to happen for individual node-groups, perhaps `--single-az` would makes sense in that context. It'd be nice to allow users to have single-AZ nodegroups at the same time as no

[2018-10-05 12:40] errordeveloper commented on #233
Closed by #234.

[2018-10-05 12:42] #214 closed

[2018-10-05 14:13] errordeveloper commented on #233
Looks like this is missing egress rule on the control plane SG.

[2018-10-05 14:44] #233 closed

[2018-10-05 14:50] errordeveloper commented on #230
Closed via #238! @denwwer you should be able to claim your hacktoberfest t-shirt now!

[2018-10-05 14:50] #230 closed

[2018-10-08 12:18] #206 closed

[2018-10-08 18:23] mhoc opened #243 "Create Cluster: All Nodes Reporting NotReady"
Hi! I'm trying to create a new EKS cluster via `eksctl`. My environment:

[code]

And the creation process:

[code]

At this point, the command hangs, until the timeout is reached. The stacks get created just fine, and the nodes spin up, but they never reach a state where they report Ready to the control plane. If I authenticate with the control plane and introspect the nodes:

[code]

And the tru

[2018-10-08 20:43] gruebel commented on #110
Hi,

If no one is looking into this issue, I would like to give it a try. Anything I should be careful about?

[2018-10-09 14:29] errordeveloper commented on #227
Sounds like a good idea to me! We should also update the docs (per @kylesloan's comment, it sounds like docs are a little misleading at the moment).

I am not sure, perhaps eventually we could do this, but it's not very easy for an existing nodegroup, as nodes won't just start using a key you've added. I think we should allow adding SSH for separate nodegroups, when we have support for more than o

[2018-10-09 14:48] errordeveloper commented on #243
I'm able to reproduce this, thanks for reporting it!

[2018-10-09 15:59] errordeveloper commented on #243
I've ran another test without `--node-type=t3.large`, and this didn't happen, I used this command:
[code]

Default node type is `m5.large`. Mind you that even with that, you only get a few pods per node (29, if my memory server me well),  so I really don't see a good use for `t3.large` to be honest, as it's actually a much smaller machine. Despite, I'll continue debugging this issue.

[2018-10-09 17:51] mhoc commented on #243
Ok, I had a feeling it was due to the node type, it being pretty new and all. This is for a CI build cluster, so I like the cost profile behind burstable instances. But not a big deal, we can use m5.large instances until this is debugged. Thanks!

[2018-10-09 19:34] errordeveloper commented on #243
@mhoc yes, t3's turned out to be very new (I confused it with t2, of course). #244 will fix this, we shall cat the release once the PR gets merged (probably tomorrow AM BST).

[2018-10-10 12:01] #243 closed

[2018-10-10 13:00] errordeveloper opened #245 "flaky 'parsing kubectl version string' error"
This happens sometime:
[code]

So far, I've only seen it a few times when I ran `eksctl create cluster` and went away, so presumingly it maybe somewhat to do with the OS sleeping.

[2018-10-10 15:09] errordeveloper opened #248 "Istio add-on"
Just realised that this is something we've talked about with @mt-inside and @stefanprodan, but never opened an issue for it. Here is an issue to track it.

[2018-10-10 16:10] errordeveloper opened #249 "regression in handling of default region"
**What happened?**
[code]

**What you expected to happen?**

#241 has landed in 1.0.5, I believe there as regression there that we've missed in code review.

**Anything else we need to know?**

I don't have default region in `~/.aws/config`.

**Versions**
Please paste in the output of these commands:
[code]

[2018-10-10 17:11] errordeveloper commented on #243
Release had been postponed until #250 gets merged (most likely tomorrow AM BST).

[2018-10-10 17:38] richardcase commented on #249
I will have a look now at the issue and PR.

[2018-10-10 17:51] richardcase commented on #249
Ah, yes there is a bug, sorry 💥
[code]

Looking at my aws config i removed the region in my default profile but obviously not in my named profile. Lesson learned.

[2018-10-11 08:14] richardcase opened #251 "Refactor region logic"
**Why do you want this feature?**
The region setting logic is less than ideal at present as we are forced to re-create the session if there is no region defined by flags/aws config/aws en vars and we want to use the a default region. See #250.

**What feature/behavior/change do you want?**
I would expect us to create the session once and have the region setting logic all in one place. We could pro

[2018-10-11 08:58] #249 closed

[2018-10-11 09:20] kgoralski commented on #53
anything that could help labeling nodes as master/node etc?

[2018-10-11 17:18] arun-gupta commented on #248
Would love to see this add-on support. Here is how Istio is currently installed on EKS: https://aws.amazon.com/blogs/opensource/getting-started-istio-eks/

[2018-10-11 21:49] arun-gupta opened #252 "handling insufficient EC2 capacity issues"
Trying to create a GPU-powered cluster and it fails because `us-east-1e` does not have sufficient capacity. The CLI should make that check ahead of time.

[code]

[2018-10-12 00:01] hans-d opened #253 "delete fails when eks has loadbalancer"
**What happened?**
eksctl delete cluster results in delete_failed on ekctl-<name>-cluster (see cloudformation console). client has already exited without error.
On manually deleting the vpc AWS returns `Network vpc-02efbdd06a44f2995 has some mapped public address(es). Please unmap those public address(es) before detaching the gateway. (Service: AmazonEC2; Status Code: 400; Error Code: DependencyVi

[2018-10-12 07:52] errordeveloper commented on #253
@hans-d thanks for reporting this! This is already broadly covered by #103, would you be interested in helping to fix this?

[2018-10-12 07:52] #253 closed

[2018-10-12 07:54] errordeveloper commented on #252
I agree, that would be great! However, last time I looked there was no suitable API that I could use to do so... ☹️

[2018-10-12 16:44] richardcase commented on #123
@errordeveloper - is the plan to install this addon by default when creating a cluster?

Probably a good idea as per, https://github.com/kubernetes/community/blob/master/keps/sig-network/0012-20180518-coredns-default-proposal.md

[2018-10-15 00:03] darrenhaken commented on #42
Any update on how this is going?

[2018-10-15 08:01] richardcase commented on #42
@darrenhaken - i didn't get around to starting it. I'm going to try and get scaling finished and then if no one else picks it i will add this as my next task this week.

[2018-10-15 08:52] errordeveloper commented on #42
I think we might want to create a separate issue with a design proposal and discuss details there.

At the moment, I am thinking of the following 3 modes being supported eventually:

1. dedicated VPC (what we currently have already)
2. `--subnets` specified by the user, VPC ID determined from that (which implies 3 subnets must be given, and routing table as well as any other resources are already

[2018-10-15 08:57] errordeveloper commented on #123
Perhaps it's something we can discuss. One counter argument would be about
sticking to what AWS officially supports.

On Fri, 12 Oct 2018 at 17:44, Richard Case <notifications@github.com> wrote:

[2018-10-15 10:09] errordeveloper opened #256 "eksctl get clusters prints log line"
As of recent changes, we no see a log line printed above tabular output:

[code]

I think we could make this prettier, perhaps region could be a column? Bonus point would be to add `--all-regions` also.

[2018-10-15 10:56] errordeveloper commented on #208
Fixed by @Lazyshot via #255.

[2018-10-15 10:56] #208 closed

[2018-10-15 10:57] errordeveloper commented on #134
Fixed via #132.

[2018-10-15 10:57] #134 closed

[2018-10-15 10:57] #104 closed

[2018-10-15 11:03] errordeveloper opened #257 "nodegroup as a resource"
**Why do you want this feature?**

A cluster may have one or more nodegroups, we need a way for user to see nodegroups and basic info about them (size, OS family and AMI ID, creation date, other EC2 info), get list of nodes within a group, create and/or delete a group. This will also pave the way for #100.

Also, as we are adding `eksclt scale nodegroup`, we will need a way for the user to find wh

[2018-10-15 11:11] errordeveloper opened #258 "switching between kubectl and eksctl"
**Why do you want this feature?**

When I'm using `kubectl`, I don't see an obvious way to tell which EKS cluster I'm using.

It'd be nice to be able to easily switch between `kubectl` and `eksctl`.

**What feature/behavior/change do you want?**

For example, something like `eksctl scale nodegroup [--use-kubeconfig-currnet-context|--use-kubeconfig-context=<context_name>]` would be a good start.

A

[2018-10-15 11:20] errordeveloper commented on #237
Can the agent run in a pod?

[2018-10-15 11:41] richardcase commented on #257
@errordeveloper - i'll happily work on this as a follow up to `scale nodegroup`

[2018-10-15 17:07] Lazyshot commented on #151
An initial pass on the integration tests including a single "happy path" was put into #255.

[2018-10-16 12:35] mdesanti opened #265 "Nodes not joining cluster"
**What happened?**
When creating a cluster with eksclt nodes never join. The command ends up exiting with a timeout error. If I run `kubectl get nodes` I get `No resources found.`

**What you expected to happen?**
The nodes should be able to join the cluster and I should be able to see them using kubectl.

**How to reproduce it?**
Run `eksctl create cluster --zones=us-east-1a,us-east-1b,us-east-1a

[2018-10-16 14:19] cored commented on #258
@errordeveloper I would like tow ork on this issue, I will start by setting up my local environment today.

[2018-10-16 18:32] richardcase opened #267 "Scaling integration test"
**Why do you want this feature?**
With #254 we have introduced nodegroup scaling. To give us confidence there is no regression in its functionality it should be covered by integratioin tests Thanks @Lazyshot for suggesting this change.

**What feature/behavior/change do you want?**
Create a integration test that covers scaling up and down.

[2018-10-16 18:59] gautamkmr opened #269 "Add --ami-id as in put parameter for eksctl command"
**Why do you want this feature?**

If we hard code the ami-id it will be a maintenance headache. For e.g. the AMI id for gpu machine which you have today might be different tomorrow, due to various reasons like (CUDA upgrade,  or OS upgrade).

If we want EKS user to get up-to date AMI, there should be an option to pass the ami-id as well. You can keep the default AMI-ID which you have currently bu

[2018-10-16 18:59] gautamkmr commented on #269
@arun-gupta

[2018-10-16 19:15] richardcase commented on #269
@gautamkmr - we have this ability already with the `node-ami` flag:

.

[2018-10-16 19:17] richardcase commented on #257
This will also include getting a list of changes to a node group when doing the `get`

[2018-10-16 22:36] errordeveloper commented on #269
In other words, `--node-ami=auto --node-type=p2.xlarge` will let you use latest available GPU-optimised AMI.

[2018-10-17 03:57] Lazyshot opened #271 "Kube2iam Addon"
Looking to add a kube2iam addon that would auto create the IAM policies and install the helm chart (of course).

The only thing missing from possible full coverage would be handling trust relationships.

[2018-10-17 04:09] Lazyshot commented on #213
`--wait` was added in #262

[2018-10-17 04:09] #213 closed

[2018-10-17 08:55] GSokol commented on #271
Could you please explain the idea of this issue in more detail?

[2018-10-17 12:40] errordeveloper commented on #271
Umbrella issue: #53
Add-ons proposal: #242

[2018-10-17 12:42] errordeveloper commented on #269
@gautamkmr can we close this?

[2018-10-17 15:40] arun-gupta commented on #269
Sounds reasonable to me

[2018-10-17 16:02] #269 closed

[2018-10-17 18:43] gotjosh commented on #256
I'll take a stab at this.

[2018-10-17 19:00] gotjosh commented on #256
@errordeveloper what command are we running when this happens?

[2018-10-17 19:11] errordeveloper commented on #256
The output is from 'eksctl get cluster'.

[2018-10-17 23:58] #267 closed

[2018-10-18 05:59] errordeveloper commented on #116
Closed via #254.

[2018-10-18 05:59] #116 closed

[2018-10-18 06:02] errordeveloper commented on #232
We will be able to do this very easily soon (namely after #257).

[2018-10-18 14:09] Raffo commented on #257
Is this completed by #272?

[2018-10-18 20:07] chuckwilbur opened #274 "Clean up EBS volumes in `eksctl delete cluster`"
**What happened?**
After using `eksctl delete cluster` to delete a cluster, multiple EBS volumes that were attached to the ec2 instances remain.

**What you expected to happen?**
When using `kops delete cluster` to delete a cluster, the EBS volumes that were attached to the ec2 instances are destroyed.

**How to reproduce it?**
Create a cluster with `eksctl create cluster`
Note in the Volumes area

[2018-10-19 00:47] cored commented on #258
Sure thing, I will probably start with this tomorrow.

[2018-10-19 07:09] errordeveloper commented on #274
This is very much related to #103. There are no blockers here, anyone can start on either of these (ideally one person working on both would be great).

[2018-10-19 08:05] richardcase commented on #274
@Raffo - what do you think to this one?

[2018-10-19 12:20] gmcintyre-adserv opened #276 "--nodes-min parameter ignored causing constraint violation while creating AutoScalingGroup"
When creating a new vpc with the following command:

[code]
I received the following error from

[code]

It appears that the nodes-min parameter that was specified on the command line is not used, as it is complaining that the Desired capacity: 2 must be between the specified min size: 3.  Am I missing something or misunderstanding the purpose of that parameter?

[2018-10-19 13:13] Lazyshot commented on #276
Can you confirm the version of eksctl this was running?

[2018-10-19 13:13] Raffo commented on #274
Will try to get a shot at that 😄

[2018-10-19 13:15] gmcintyre-adserv commented on #276
Sorry, my bad.  Should have included that info. 0.1.7

[code]

[2018-10-19 13:35] Lazyshot commented on #276
With `-N/--nodes` what would be the desired result? If `--nodes < --min-nodes`, `--nodes = --min-nodes`? Or invalidate the create call with that error?

[2018-10-19 13:46] gmcintyre-adserv commented on #276
IMHO here are my preferences in order.
* It should be disallowed to include both a `--nodes` parameter and a `--min-nodes` in the same command line.  It should give an error and fail fast, so invalidate the create call with that error.
* If both are to be allowed then one way to interpret the parameters would be: an auto scaling cluster with between `--min-nodes` and `--max-nodes` nodes but an ini

[2018-10-19 15:03] errordeveloper commented on #274
I have started thinking of it, I figure I should look at kops does in order
to catch any left-over volumes or LBs, and in the process of that I wrote
#277.

On Fri, 19 Oct 2018, 2:26 pm Richard Case, <notifications@github.com> wrote:

[2018-10-20 12:28] errordeveloper commented on #265
@mdesanti as discussed on Slack, it looks like you have two issue related to networking.

1. nodes not joining the cluster inside of the VPC
2. you cannot SSH to any of the nodes from either your machine or another EC2 instance

Do you have any updates since we spoke?

I have double checked, and confirmed that SSH is fully functional, there are no issues with keys or SG ingress.

[2018-10-21 12:09] PaulMaddox opened #278 "CloudWatch Metrics for AWS CNI plugin"
The [AWS CNI plugin](https://github.com/aws/amazon-vpc-cni-k8s) allows automatically exporting the following metrics to CloudWatch:

- The number of errors encountered in ipamd
- The number of ipamd actions inprogress
- The maximum number of ENIs that can be attached to the instance
- The maximum number of IP addresses that can be allocated to the instance
- The number of times ipamD reconciles on

[2018-10-21 12:29] PaulMaddox commented on #278
Example CloudWatch Dashboard

<img width="1440" alt="example-cni-dashboard" src="https://user-images.githubusercontent.com/4678446/47266964-47686c00-d4f2-11e8-8881-044c0e2adde8.png">

[2018-10-22 11:44] errordeveloper commented on #278
I guess we could just enable the permission without a flag. I believe the only implications would be that someone can flood CloydWatch with metrics, which impacts the bill. Creation of dashboard would have to wait for add-ons capability.

[2018-10-23 11:39] kgoralski commented on #271
kube2iam or kiam ?

[2018-10-23 14:35] nukepuppy opened #279 "Ability to create custom VPC much like KOPS does"
**Why do you want this feature?**
It would be wise to use one and not many (other tools) to provision an EKS cluster.  While using a tool like kops / terraform one can define things such as the CIDR block.

Ability to set the CIDR block to  custom range, and define the subnet CIDR ranges would allow for organizations with pre-existing IP space to provision appropriate CIDRs for VPCs which can then

[2018-10-23 14:58] errordeveloper commented on #279
As discuss on slack, we'd be happy to provide more configuration options, but it'd be easier to do after we have proper Cluster API support (0.3.0). Until then the things that can be done easily enough would be the following:

- `--vpc-cidr` global CIDR that will be subdivided as `eksctl` sees fit for the required number of AZs
- per-nodegroup control of public/private routing (after #257)

[2018-10-23 16:31] errordeveloper commented on #278
@PaulMaddox do you agree with my assessment above?

[2018-10-23 22:32] danielrmartin opened #280 "Changing instance type"
After upgrading from:
versionInfo = map[string]string{“builtAt”:“2018-08-02T13:58:30Z”, “gitCommit”:“dca39f69e893b89d67156635c483b3f3e8236407", “gitTag”:“0.1.0"}
 to
versionInfo = map[string]string{“builtAt”:“2018-10-18T09:39:17Z”, “gitCommit”:“42472284809120503270b4401ce07ad26f52ffa4", “gitTag”:“0.1.7"}

I am not longer able to change the instance type the cluster is using, either through the AWS

[2018-10-24 08:18] errordeveloper commented on #280
Yes, we have decided to make CloudFormation an implementation detail, because it's hard to support everything that user may do there long term.

We are planning to add nodegroup management (#257), which would allow for what you need as well as upgrades (#100), enabling/disabling SSH access (#144), finer instance role control and more. Not all of those use-cases could be cater for via CloudFormatio

[2018-10-24 08:18] errordeveloper commented on #280
@richardcase how is the progress on #257, do you need any help there?

[2018-10-24 08:33] richardcase commented on #280
@errordeveloper - i'm currently working on #257, still a bit more work to do. Hopefully get something up this week.

[2018-10-24 17:54] errordeveloper opened #282 "kops VPC discussion/TODOs"
- [x] user docs
- [ ] discuss if we need to check `$KOPS_STATE_STORE`
- [ ] test connectivity (nodeport, ALB ingress, kops pod to EKS pod)
- [ ] connect SGs also, so we can send traffic between the clusters
- [ ] discuss if we should do something when less then 3 subnets are available
- [ ] add an issue to discuss cluster peering add-ons (e.g. via CoreDNS)

[2018-10-24 17:54] #50 closed

[2018-10-25 08:45] errordeveloper opened #284 "utils describe-stacks should be more useful for monitoring progress"
**What happened?**

When I create a cluster, I learn about `eksctl utils describe-stacks` from the create cluster output message, but when I run it's not actually useful:
[code]

There's `--all` flag, but it's not helpful.

**What you expected to happen?**

I'd like to use `eksctl utils describe-stacks` to monitor progress.

[2018-10-26 14:19] rainmanh commented on #279
I would be also interested on re-using VPC/Subnets I got instead of letting the tool to create all the resources.
On some scenarios we need to re-use Network infrastructure instead of creating it. Sometimes we are limited and We cannot create it new.

[2018-10-26 14:57] errordeveloper commented on #279
@rainmanh there is a general issue that is still open (#42), but we have already added support for re-using a VPC where kops cluster resides (which is mostly for migration and cluster peering use-cases). We are getting close to being able to cater for fixing #42 also.

[2018-10-26 15:20] #158 closed

[2018-10-26 15:20] #279 closed

[2018-10-26 15:58] #284 closed

[2018-10-27 09:36] errordeveloper commented on #232
@richardcase as you are working on #281, there's now a `NodeGroup.AvailibilityZones` field that can be leveraged for this, and I think it would be sufficient to just expose it as a flag as there is plumbing already in place.

https://github.com/weaveworks/eksctl/blob/99b5d58d340660ba7299ee470888b022754a2d8e/pkg/cfn/builder/nodegroup.go#L113-L122

[2018-10-27 09:37] errordeveloper commented on #276
@Lazyshot any thoughts on this? Looks like a bug to me...

[2018-10-27 09:38] errordeveloper commented on #265
I'm gonna close this, as there is not enough evidence to prove this is somehow reproducible. I believe there is an issue at the account level of some sort.

[2018-10-27 09:38] #265 closed

[2018-10-27 09:41] errordeveloper commented on #120
@shatil I've missed you comment, if you are still interested to contribute, perhaps you could help by testing/reviewing #287? I'm hoping to get this into the next release.

[2018-10-27 10:05] #157 closed

[2018-10-27 10:05] errordeveloper commented on #157
Closed via #184.

[2018-10-27 10:06] #24 closed

[2018-10-27 10:07] errordeveloper commented on #24
This has been ironed out by now as the code evolved.

[2018-10-27 10:09] errordeveloper commented on #42
At this point `--subnets` flag (as described above) would be very easy to implement, perhaps even `--vpc` flag. For next week's release I'd like to focus on #287 and #281, but would be keen to review a PR for this. Any takers?

[2018-10-29 08:51] #110 closed

[2018-10-29 15:24] errordeveloper commented on #282
At the moment a kops cluster should be able to connect to any of the nodeports inside the VPC, as all source addresses are allowed, but we probably should allow transparent node-to-node connectivity.
If people have more specific ideas, I'm very keen to hear those!

[2018-10-29 15:28] errordeveloper commented on #282
Right now, the code fails like this:

https://github.com/weaveworks/eksctl/blob/875e50daa8ec8f3229e63e285c86dd06b554c3ec/pkg/kops/kops.go#L60-L72

I believe one needs to modify their configuration to add subnets and then run `kops apply`, I am not sure if it'd make sense to try automating this or use CloudFormation to create the missing subnets... what do people think? I'm inclined to leave the co

[2018-10-29 18:17] gmcintyre-adserv commented on #276
@Lazyshot thanks for continuing to look into this.  Just re-reading some of the responses.

1. The original issue is about the fact that adding the `--nodes-min` is ignored.  I agree with you that if I were to include a `--nodes` parameter as well, then there would be a problem, but I didn't and I'm interested to see whether there's a way I can use the `--nodes-min` parameter without it being igno

[2018-10-29 22:02] Lazyshot commented on #276
1. `nodes-min` isn't being ignored. The constraint failure is for when `DesiredCapacity` (i.e. `--nodes`) is less than `MinSize` (i.e. `--nodes-min`)
2. Sorry, that was just a typo on my part

[2018-10-29 22:09] gmcintyre-adserv commented on #276
Ah ok, now I see.  `--nodes` (`DesiredCapacity`) defaults to a hardcoded value of 2 when it is not specified on the command line and thus conflicts with the specified `--nodes-min` value.  Got it!  I guess it should default to `--nodes-min` value if not specified.

[2018-10-30 09:00] errordeveloper opened #290 "lower minimum subnets required to 2"
**Why do you want this feature?**

The EKS docs currently suggest that minimum number of [subnets/AZs required is 2](https://docs.aws.amazon.com/eks/latest/APIReference/API_CreateCluster.html#API_CreateCluster_RequestSyntax). I believe our requirement of 3 subnets/AZs was based on what docs suggested at the time (can check in docs repo).

**What feature/behavior/change do you want?**

I think it m

[2018-10-30 09:45] errordeveloper commented on #282
#290 is related.

[2018-10-30 09:48] errordeveloper commented on #256
@gotjosh did you get anywhere with this? Please hop over to slack.weave.works if you need help, we are all there :)

[2018-10-30 09:49] errordeveloper commented on #236
This was indeed fixed in 0.1.5.

[2018-10-30 09:49] #236 closed

[2018-10-30 09:51] errordeveloper commented on #204
I believe @mhausenblas was looking into this also.

[2018-10-30 09:54] gotjosh commented on #256
@errordeveloper I did manage to get an output working relatively soon. I'm not very fond of the approach (mostly due to my lack of confidence if my Go) and been meaning to write a PR with a lengthy description.

My changes are relatively small, I'll pop on slack later on to have the chat!

[2018-10-31 09:01] errordeveloper opened #293 "nodegroup stack builder should not assume subnet/AZ mapping based on the order"
At the moment we assume order of subnets we get in a list is the same as the order of AZs. This is indeed the case most of the time with `eksctl create cluster`, as the lists are the same.
However, if we want to create a nodegroup separately, that assumption is most likely to break.

I believe we have to options here:

- let cluster stack export the list of AZs in the same order as subnets, which

[2018-10-31 15:38] #120 closed

[2018-10-31 16:00] errordeveloper commented on #293
The code is here: https://github.com/weaveworks/eksctl/blob/fa8e2496c223f7462f80510ba8cc886e67d8b942/pkg/cfn/builder/cluster.go#L109-L116

This is arguably okay for most of current uses actually, this is not called in isolation from cluster stack creation process. Calling the API actually will require mocking in tests. I maybe easier to export list of zone, as it's probably safe to assume CloudFor

[2018-10-31 20:17] jonk commented on #290
I can take a try at this, the requirement for 3 AZs is enforced by the functions at the bottom of https://github.com/weaveworks/eksctl/blob/43771c6a224f0b8942da3bff14e8379bec255832/pkg/eks/api/vpc.go ?

[2018-10-31 20:38] errordeveloper commented on #290
Yes, but there maybe other places, but those would be a start.

On Wed, 31 Oct 2018, 8:18 pm Jon Kalfayan, <notifications@github.com> wrote:

[2018-11-01 08:33] errordeveloper commented on #278
I'll open a PR to add IAM role, and we can get it into this week's release.

[2018-11-01 08:38] PaulMaddox commented on #278
👍

[2018-11-01 08:44] errordeveloper commented on #278
https://github.com/weaveworks/eksctl/pull/296 will add the role, the rest of this feature will have to wait until add-ons are a thing (see #242).

[2018-11-01 08:56] #276 closed

[2018-11-01 16:49] errordeveloper opened #298 "improve create cluster --help"
**Why do you want this feature?**

This is what help currently looks like:

[code]

**What feature/behavior/change do you want?**

It could be cleaner and more concise, some flags don't need very long descriptions, and README can be used for those. Grouping would make it much easier to parse also, now that we have so many flags.

[2018-11-01 19:41] errordeveloper commented on #149
We have Ubuntu now, so adding another OS is even simpler now! 👍

[2018-11-01 21:12] justincormack commented on #149
Excellent!

[2018-11-02 05:46] braderhart opened #299 "Bash completion"
**Why do you want this feature?**
Bash completion is standard with kubectl and other CLI tools within the Kubernetes ecosystem

**What feature/behavior/change do you want?**
Add a `eksctl completion` CLI option to generate a Bash completion file, or include the completion file in the repo.

It looks like this should be pretty easy to add:

- https://github.com/weaveworks/eksctl/blob/master/vendor/

[2018-11-02 07:46] #256 closed

[2018-11-02 08:06] errordeveloper commented on #282
@StevenACoffman where you get to try using the feature, this is a good place for feedback! :)

[2018-11-02 08:09] errordeveloper commented on #228
@kschumy this is a very nice and detailed bug report, I apologies for a belated response... I'd be keen to see a PR that fixes it, if you need any help - let's chat on Slack.

[2018-11-02 08:16] errordeveloper commented on #299
I'd be happy to add this, but I do see that #298 is more important right now.

[2018-11-02 09:42] errordeveloper commented on #42
Yes, I would hope to add this next week actually, but I would be equally
happy to see a PR too (it is rather easy now, we have most hooks in place).

On Fri, 2 Nov 2018, 9:26 am Arsenii Petrovich, <notifications@github.com>
wrote:

[2018-11-02 19:26] braderhart commented on #299
@errordeveloper I don't have a lot of experience with this, but I'll see if I can find some time to figure it out.

[2018-11-05 22:33] errordeveloper commented on #42
We have a design proposal now – #303, I'd love to hear feedback from folks here. I am also intending to add `--vpc-private-subnets` and `--vpc-public-subnets` in this weeks release, we can discuss and amend the proposal as needed later on also.

[2018-11-06 08:59] errordeveloper commented on #49
@richardcase yes :)

[2018-11-06 08:59] #49 closed

[2018-11-06 13:29] #290 closed

[2018-11-06 13:34] errordeveloper commented on #252
Now that EKS officially requires only two subnets, we have added an optimisation that should lower the chance of this error happening (see #294 and f450f5f4).

[2018-11-06 17:23] errordeveloper opened #306 "Tracking Proposal #002: Existing VPC"
This is an umbrella issue is for tracking progress on custom VPC features as proposed in #303.

---

- [x] `--vpc-{private,public}-subnets` (initial baseline feature): #305
- [ ] `--vpc-id=default` (use default VPC and all of its existing subnets)
- [ ] `--vpc-id=default` with `--vpc-{private,public}-subnets` (use default VPC, but given subnet IDs)
- [ ] `--vpc-id="vpc-xxx"` (use given VPC, create

[2018-11-06 18:19] genums commented on #42
Hi,

Will the new changes be available somewhere for us to link to or update the EKS quick start?  Currently, the setup in the quick start doesn't work because of our need to use our existing VPC and public subnets which routes the path to the internet through our data centers.  Your proposal above would cure a lot of headaches.

Thank you

[2018-11-06 18:42] errordeveloper commented on #42
I am intending to land #305 in this week's release, most likely that will
happen on Thursday.

On Tue, 6 Nov 2018, 6:19 pm genums, <notifications@github.com> wrote:

[2018-11-06 19:16] cmcconnell1 opened #307 "eksctl create addons post deployment not valid command/args"
**What happened?**
Deploy default EKS cluster initially _without_ addons and then attempt to install/configure addons per the README doc _post_ cluster deployment wherein README states:

**What you expected to happen?**
[code]
would be recognized as a valid command and options and allow the install/config of addons into existing cluster(s).

**How to reproduce it?**
Deploy cluster and then attempt

[2018-11-06 23:09] #307 closed

[2018-11-06 23:11] cmcconnell1 commented on #307
The syntax and functionality are included in the main README, but I missed the fact that the information is under the Project Roadmap section, and is therefore not implemented yet.

[2018-11-07 10:09] #42 closed

[2018-11-07 10:13] errordeveloper opened #308 "Follow up on #305"
When we import subnets we must import VPC CIDR also.

We will also have to fix #293, so we consolidate this code.

[2018-11-07 14:01] darrenhaken commented on #42
Is this done?’

On Wed, 7 Nov 2018 at 10:09, Ilya Dmitrichenko <notifications@github.com>
wrote:

[2018-11-08 14:17] errordeveloper commented on #42
Once #310 is merged, we can get the release out.

On Wed, 7 Nov 2018, 9:27 pm Ilya Dmitrichenko, <errordeveloper@gmail.com>
wrote:

[2018-11-08 20:06] errordeveloper commented on #148
@gotjosh is willing to take this one!

[2018-11-09 10:28] #308 closed

[2018-11-09 10:28] #293 closed

[2018-11-09 13:32] errordeveloper commented on #298
I doesn't look like there is a way to do this in cobra. We might have to create a custom thing of sorts, or use another library, or do something else. I will consider adding a grouping feature to cobra and post an update on my findings.

[2018-11-09 16:40] errordeveloper opened #314 "Proactively track AMIs and supported regions"
We currently updates AMIs reactively (`make update-ami`), and same goes for region updates (but we don't even have a tool for that).

We could automate AMI updates via daily/weekly CI job, or even subscribe a Lambda to the SNS topic.
Checking supported regions would be a little different though, we could consider that AMIs become available in regions as EKS gets rolled out, but it maybe not the mo

[2018-11-09 17:12] errordeveloper opened #315 "Set user agent when calling AWS APIs"
See hashicorp/terraform#5621, we should be able to do the same and be good citizens of AWS.

[2018-11-10 08:59] errordeveloper opened #317 "disable golangci"
see https://github.com/weaveworks/eksctl/pull/316#issuecomment-437569229

[2018-11-10 08:59] #317 closed

[2018-11-13 18:46] Adverbly commented on #282
Do we need to have created our original kops cluster with networking set to weave to be able to use the from-kops arg?

[2018-11-13 21:16] errordeveloper commented on #282
Hi, George. No, it's irrelevant what network you chose, weave was just an
example. It would be great to see a blog post or tutorial showing how
peering clusters would be done, so if you get to implementing it, let us
know!

On Tue, 13 Nov 2018, 8:46 pm George, <notifications@github.com> wrote:

[2018-11-14 17:47] ArseniiPetrovich opened #319 "Cannot create cluster created with eksctl"
**What happened?**
I'm using script with eksctl command in it that creates EKS cluster. However it is failing to create cluster due to unknown reason.

**What you expected to happen?**
Cluster to be created

**How to reproduce it?**
eksctl create cluster --name=$cluster --nodes-min=1 --nodes-max=$nodes --region=$region --nodes=$nodes

**Anything else we need to know?**
Ubuntu 16.04, downloaded bin

[2018-11-16 01:29] snstanton commented on #257
As part of this, will you be able to add labels to the nodes in each group?  We currently have a cluster with multiple nodegroups and we map work to the appropriate group by assigning different labels to the nodes in each group.  I'm currently editing the cloudformation templates after initial creation, but it would be great to be able to specify a list of labels to apply in each group.

[2018-11-16 03:19] errordeveloper commented on #257
Yes, that would be certainly possible. In your current setup, do you set
--node-labels kubelet flag as well as EC2 tags?

On Fri, 16 Nov 2018, 3:29 am Scott Stanton, <notifications@github.com>
wrote:

[2018-11-16 08:23] peerjako-aws opened #320 "Add support for ASG Multi Instance Types & Purchase Options"
AWS recently released EC2 Auto Scaling Groups with multiple instance types & Purchase options:
https://aws.amazon.com/blogs/aws/new-ec2-auto-scaling-groups-with-multiple-instance-types-purchase-options/

It would be great if these new options could be configured on the worker node autoscaling group through the eksctl tool.

This would make it easy to get started with spot instance on the EKS clust

[2018-11-16 10:02] richardcase commented on #257
Good, idea i will add it to the list for the PR

[2018-11-19 17:56] snstanton commented on #257
Yes, we currently edit the UserData to add something like: `--node-labels=cluster=system` to the `ExecStart` command.

[2018-11-20 06:53] errordeveloper commented on #319
Hi Arsenii,

The reason here is this:
[code]
You will need to have full admin access, as stated in the docs. We have a few open issue to handle restricted access modes, more info about how is this setup in your organisation would be helpful to us. Namely, the question is whether you would need to ask your colleague to implement changes using their tools of choice, or they would be happy to use eks

[2018-11-20 06:57] errordeveloper commented on #320
Would this be only about spot instances, or there are other major use cases? If so, how would this be different from having multiple nodegroups with different instance types in each?

[2018-11-20 08:02] errordeveloper commented on #320
I see. So should we stop working on support for multiple nodegroups? Or
nodegroups would still be needed to use separate subnets, SGs, different
AMIs, disable/enable SSH, and separate tags?

On Tue, 20 Nov 2018, 9:27 am peerjako-aws, <notifications@github.com> wrote:

[2018-11-20 08:40] peerjako-aws commented on #320
You would still need multiple nodegroups for all those things.

[2018-11-20 08:55] errordeveloper commented on #320
Thanks! Do you have any suggestions on how flags might look like for
'eksctl create cluster'?

On Tue, 20 Nov 2018, 10:40 am peerjako-aws, <notifications@github.com>
wrote:

[2018-11-20 09:34] errordeveloper commented on #320
Thanks! I will look into it once I get back to work, on holidays for
another two weeks :)

On Tue, 20 Nov 2018, 11:26 am peerjako-aws, <notifications@github.com>
wrote:

[2018-11-20 16:46] nimbusscale opened #321 "Error on MacOS - checking AWS STS access – cannot get role ARN for current session: NoCredentialProviders: no valid providers in chain"
**What happened?**
When running `eksctl get cluster` on my MacBook pro I get the following error message:

[code]

**What you expected to happen?**
A list of the one cluster created by eksctl previously running in us-west-2.

**How to reproduce it?**
`eksctl create cluster` or `eksctl get cluster` on MacOS.

**Anything else we need to know?**
aws creds file (cross account role is being used):
[cod

[2018-11-21 11:03] ArseniiPetrovich commented on #319
Thanks, @errordeveloper !
That was definitely the reason. I've used a root account, but another problem occured. My script also have an option to recreate cluster if needed. Here is the output:

[code]

[2018-11-22 07:44] errordeveloper commented on #319
By default delete command doesn't wait for all resources to go away, if you
want to re-create cluster with the same name add '--wait' flag to your
delete call. The reason this is not on by default, is that it takes a few
extra minutes usually. Alternatively, you can just use a new name each time
(eksctl generates names for you, but it is not too easy to determine the
generated name without parsing

[2018-11-22 08:16] ArseniiPetrovich commented on #319
Many thanks for your help, @errordeveloper!

[2018-11-22 08:16] #319 closed

[2018-11-22 08:49] errordeveloper commented on #321
Thanks for detailed report! I am on holiday at the moment, but @christopherhein maybe able to help here.

[2018-11-25 22:38] TigerC10 commented on #181
For one, I think that eksctl is a great starting point for clusters with a lot of configurable options (like installing the WeaveNet cni).  For multi-cloud provider setups, terraform is fantastic - so if eksctl could output terraform scripts to be included in a multi-cloud provider project I think we get the best of both worlds.

[2018-11-26 04:36] errordeveloper commented on #109
@murali-reddy said that he will be looking into it soon.

[2018-11-26 08:49] yudaykiran opened #322 "Cluster created with eksctl, does not maintain FQDN for node hostname label."
**What happened?**
Using eksctl version 0.1.11 with Ubuntu images and I am seeing the following discrepancy.
- When I do a `kubectl get nodes`, it gives me the FQDN of the node (Ex: ip-192-168-32-21.us-west-2.compute.internal).
- When I do `kubectl get nodes --show-labels`, I am seeing that the label associated with the hostname is  ip-192-168-32-21, but not the complete FQDN.

**What you expected

[2018-11-26 09:03] murali-reddy commented on #109
Cross posting the steps from here [comment](https://github.com/weaveworks/weave/issues/3335#issuecomment-441522517)

I am able to make pod-to-pod, pod-to-nodes, pod-service-pod communication path work. Please try and let me if it works for you.

- eksctl create cluster
- kubectl delete ds aws-node -n kube-system
- delete /etc/cni/net.d/10-aws.conflist on each of the node
- edit instance security g

[2018-11-26 12:33] roeera opened #323 "Update cluster using CLI"
Hi,

First nice Job, I came from Kops which do a very good job. (Although it would be nice to replace cloudformation with tf of something else)

One thing that I missing here is the option to update cluster, let's say that I would like to update instances type, or update ssh key for all at once. It would be nice if that could work.
Let me know what is the best option to update configs.

Best.

[2018-11-27 23:32] christopherhein opened #325 "Update Kubicorn Logger to kris-nova/logger"
*Before creating a feature request, please search existing feature requests to see if you find a similar one. If there is a similar feature request please up-vote it and/or add your comments to it instead*

**Why do you want this feature?**
@kris-nova has broken the logger out to make it easier to consume, this will also allow us to turn off the timestamps making the logger feel more natural as a

[2018-11-28 12:04] luxas commented on #325
:+1: to this. However, FYI now that we have https://github.com/kubernetes/klog, we hope to make it usable for reuse for the whole k8s community. Just mentioning in case you hadn't seen it.

[2018-11-28 21:43] kris-nova commented on #325
Klog looks nice but I love the simplicity of this one as it doesn’t require a lot of dependencies. Also I feel like changing loggers should be a different issue - we already have this one and if we want to change can we start a separate thread for that?

No bias here 😁

[2018-11-29 11:00] luxas commented on #325
Oh yeah, I just happened to see this, and it was more as an FYI instead of action item, I don't feel strongly either way here :smile:

[2018-11-29 20:49] kylemclaren commented on #257
I know this is being worked on but thought I'd chime in and say it would be a really useful feature for me. So I could, for example, have a nodegroup of memory-optimized instances with a label that allows me to only run rabbitmq pods on those nodes.

[2018-11-30 03:42] mumoshu commented on #237
We've been installing ssm-agent in user-data in [kube-aws](https://github.com/kubernetes-incubator/kube-aws) and from my exp, I'd say it isn't an optimal solution.

The first reason comes up in my mind at the moment is that you'll need more and more binaries to be present. Enhancing eksctl every time such request arises won't work long term for project maintainers.

Plus, it does slow down node st

[2018-11-30 04:01] mumoshu opened #329 "CloudFormation Service Role support"
Hey! Thanks for maintaining an awesome project.

I'm raising this issue according to my experience in an another project, and what I believe needed by certain users.

**Why do you want this feature?**

`eksctl` as of today requires an admin-like IAM priv to create a cluster/cfn stack.

This doesn't work in certain organizations with tighter security requirements.

An example would be that there is

[2018-11-30 04:13] mumoshu commented on #320
I think this succeeds #199 and #198, right?

[2018-11-30 04:19] mumoshu commented on #320
Also - I'd rather suggest allowing users to override the whole asg definition perhaps by passing something like `--autoscaling-group-overrides JSON`, so that you won't be overwhelmed by requested to expose every option possible in cfn.

I did suffer as such while maintaining [kube-aws](https://github.com/kubernetes-incubator/kube-aws).

From another POV, users like me would also be happy because t

[2018-11-30 09:52] pdefreitas commented on #182
The following one-liner downloads the latest release (as of now) into a temporary file, unpacks it into a eksctl directory in ProgramFiles and appends this new path into system-wide path. It should be as admin ofc.

[code]

A production grade solution would be to make a PowerShell script like [Chocolatey](https://chocolatey.org/docs/installation) uses or maybe add this project to it ;)

[2018-11-30 10:22] mumoshu commented on #188
@errordeveloper Hey!

As far as I know, CloudFormation consistently fails to update already-failed stacks, saying something like "can't update a stack in state CREATE_FAILED".

What should we do then? Perhaps trigger a deletion of the failed stack after prompting the user?

[2018-11-30 10:31] mumoshu commented on #188
Probably you've considered about that in #105 before?

[2018-11-30 10:37] mumoshu commented on #306
I love eksctl's ability to use pre-created subnets. Nice!

However, I'd suggest not to do this:

This seems like a shoot-youself-in-the-foot. I've once encountered my kube-aws user who unintentionally created an unmovable, important AWS resource - RDS DB instance - in the subnet kube-aws has created and managed by CloudFormation. They can never destroy the cfn stack...

[2018-11-30 10:50] errordeveloper commented on #188
What are the reason for it to fail in the first place? Are those to do with
VPC count or EKS instance limits by any chance?

On Fri, 30 Nov 2018, 12:22 pm KUOKA Yusuke, <notifications@github.com>
wrote:

[2018-11-30 11:04] mumoshu commented on #188
I have no specific idea for eksctl, but generally speaking there are various reasons like:

- hitting resource limit(vpc, ec2 instance, subnet, security group, etc
- invalid subnet/security group specification on launch config(as far as i remember..
- in case you use cfn-signal, timed-out a cfn wait handle also results in a failed stack

[2018-12-01 09:07] mumoshu opened #331 "feat: Target Group ARNs for Node Groups"
**Why do you want this feature?**

I occasionally blue-green deploy Kubernetes clusters to make the blast radius/possible downtime of my services hosted on Kubernetes minimum.

It basically works by node groups from multiple Kubernetes clusters being associated to a shared target group that is associated to a ALB(=a single, multi-cluster ALB). The ALB services north-east traffic from users to the

[2018-12-04 15:53] arbourd opened #333 "Add `node-volume-type` to create cluster"
**Why do you want this feature?**
When using `node-volume-size` flag, eksctl creates a new volume with a default set volume type. In the case of EBS-only machines, like c5xlarge, this defaults to `standard`.

Adding a new flag like `node-volume-type` would allow the user to select what type of EBS volume they would like (standard, gp2, etc)

**What feature/behavior/change do you want?**
- The addi

[2018-12-04 17:53] errordeveloper commented on #299
Closed via #327.

[2018-12-04 17:56] errordeveloper commented on #315
Closed via #316.

[2018-12-04 17:56] #315 closed

[2018-12-04 17:58] errordeveloper opened #334 "revisit golangci"
https://github.com/weaveworks/eksctl/pull/316#issuecomment-438758355

[2018-12-04 18:39] mrichman opened #339 "autoscaling:CreateLaunchConfiguration issue"
My user has `autoscaling:*` permissions, but I keep getting this error:

[code]
Am I missing something?

[2018-12-04 18:42] #339 closed

[2018-12-04 18:42] mrichman commented on #339
Disregard, there was an instance size deny on my IAM policy.

[2018-12-04 18:46] nimbusscale commented on #321
I am using the `default` profile and I was able to figure it out.

For some reason on Mac I needed to set the AWS_SHARED_CREDENTIALS_FILE Env Var, even though I'm using the default path.

[code]

I don't need to set this on Linux.  I assume this is a bug with the Go SDK and not an Eksctl bug.

[2018-12-05 01:59] mumoshu commented on #333
@arbourd This sounds like a necessary feature! I work on it after #332.

I'd be ok with allowing to omit the size, so that it uses a sane default.

[2018-12-05 02:00] mumoshu commented on #257
I believe #332 is ready to be reviewed.

[2018-12-05 02:42] mumoshu commented on #188
So I now believe I  missed the point.

The granularity of steps to be continued in the scope of this issue would look like the below, right?

1. create control-plane
2. create node-group
3. add/update aws-auth configmap
4. write/update kubeconfig

Let's say ran `eksctl create cluster` and then Ctrl-C'ed between 1 and 2. You'd want to continue from 2.

One idea to achieve it would be to tag cfn sta

[2018-12-05 08:40] #299 closed

[2018-12-05 20:07] mrichman opened #340 "eksctl completion bash not working"
Running on an AWS Cloud9 IDE (Amazon Linux)

[code]

[code]

[2018-12-06 11:18] errordeveloper commented on #333
Yes, but that means we need to define a default, and use-cases vary dramatically, so I am honestly not sure what we could possibly pick. I'd rather simply requite both flags. Also current default for `--node-volume-size` is 0, so we would have to introduce another level of defaulting (outside fo Cobra), it would also make flag usage summary more complex to read.

[2018-12-06 11:45] mumoshu commented on #333
Makes sense.

Requiring both flags when either is specified sounds good.

[2018-12-06 14:10] errordeveloper commented on #329
So this is about using a role that is different from the one that user has in general?

I am not sure about adding this, if it's something that can be achieved via `~/.aws/config` file.

In my understanding it's possible to do the same like this:
[code]
I may be wrong, I've not used a complex setup where this may be required.

[2018-12-06 21:13] ConstantineXVI opened #341 "Docker image out of date?"
https://hub.docker.com/r/weaveworks/eksctl/ seems to be behind a few releases. Any reason for this?

[2018-12-07 05:53] mumoshu commented on #329
@errordeveloper Hey!

Yes.

No. A service role is basically used by an AWS service to switch to the role, even though human operations aren't allowed to do so.

Let's say you want to restrict important operations only to CloudFormation. For example, you'll firstly remove `iam:*` and/or `*:Delete*` permissions from the role used directly by human operators. Then, you'll create the `ProductionAdminR

[2018-12-07 05:54] mumoshu commented on #329
FWIW this is where you configure the trust policy in the console.

![image](https://user-images.githubusercontent.com/22009/49630093-fb38a300-fa2f-11e8-81e5-cc85c4ab3936.png)

[2018-12-07 09:04] errordeveloper commented on #329
Thanks, this is much clearer now. I also can see that in #330 this is achieved by calling `SetRoleARN` call on `cloudformation.CreateStackInput`, which I overlooked first time around and assumed it was on the session object.
Once the stack was created, and it needs to be updated or deleted, will the role used during creation take effect or we need to make sure to set the correct role?

[2018-12-07 09:16] mumoshu commented on #329
Ah, good point! You do need it while updating and destroying as well. I'll update my PR later.

[2018-12-07 12:37] mumoshu commented on #329
Done. I'd appreciate it if you could review the PR once again.

[2018-12-07 12:50] errordeveloper commented on #341
It's not documented and currently only gets updated on best effort basis. We need to add automation, but as primary use-case is `eksctl` binary, automation wasn't a priority.

[2018-12-07 20:15] nimbusscale commented on #321
Closing this issue with the assumption this is not an eksctl bug.

[2018-12-13 13:21] buzzsurfr opened #344 "Support for Creating EKS Kubernetes v1.11 Clusters"
**Why do you want this feature?**
AWS launched [support for v1.11 in EKS](https://aws.amazon.com/blogs/compute/making-cluster-updates-easy-with-amazon-eks/) (along with cluster upgrades). We use eksctl for workshops and want to keep our workshop up-to-date with the latest EKS version.

**What feature/behavior/change do you want?**
- Change references from 1.10.3 (or 1.10.11) to 1.11.5.
- Update th

[2018-12-14 21:54] mrichman opened #346 "heptio-authenticator-aws": executable file not found in $PATH"
Running `eksctl` using the following command:

`/usr/local/bin/eksctl create cluster --region=us-east-1 --node-type=t2.medium --zones=us-east-1a,us-east-1b,us-east-1d --verbose=4`

The process is stalled because of this error:

[code]

That last line just keeps repeating.

I have `aws-iam-authenticator` installed, not `heptio-authenticator-aws`.

[code]
Any suggestions? Thanks!

[2018-12-14 22:01] mrichman commented on #346
Full log here:

[code]

[2018-12-15 00:18] arun-gupta commented on #169
Created a new cluster using eksctl and seems like this renaming is no longer required.

[code]

Should this still be open?

[2018-12-15 03:02] mrichman commented on #346
Disregard. Sorry, I didn't have `/usr/local/bin` in root's path.

[2018-12-15 03:02] #346 closed

[2018-12-17 07:28] errordeveloper opened #347 "control plane version check shouldn't need authenticator"
The error message we get when authenticator binary is missing is pretty obscure:
[code]
We should just make this call unauthenticated. In fact, it can be done simply with the HTTP client.

[2018-12-17 10:11] christopherhein commented on #344
Thanks @buzzsurfr I'm going to split this into two issues to make tracking easier. This one will be for adding support for `1.11`.

[2018-12-17 10:17] christopherhein opened #348 "Support Upgrade Existing EKS Kubernetes"
**Why do you want this feature?**
EKS currently has clusters running with 1.10 versions, this would add a new mechanism to upgrade existing clusters to 1.11.

**What feature/behavior/change do you want?**
I'd like to have the conversation about best practices for how we should allow for this?

1. Should we upgrade the nodes automatically?
1. How should we do this to reduce human error? https://git

[2018-12-17 10:59] mrichman commented on #346
It also seems to try to find the binary indefinitely, rather than erroring out. I had to turn on verbose logging to figure this out. Anyway, I got past it, and now I’m successfully running eksctl from my EC2 userdata with CloudFormation, allowing me to fully automate the creation of my EKS clusters.

[2018-12-17 12:01] #325 closed

[2018-12-17 14:20] #344 closed

[2018-12-17 15:15] errordeveloper commented on #346
@mrichman thanks, I didn't realise that was the case. It makes #347 much worse than I thought.

[2018-12-17 15:16] errordeveloper commented on #169
Yes, this should be open until authenticator 0.4.0 is out and kubernetes-sigs/aws-iam-authenticator#119 closed, so that we can delete all references to `heptio-authenticator-aws`.

[2018-12-17 16:01] michelzanini commented on #323
I would like to know that one as well 👍

[2018-12-17 18:17] errordeveloper commented on #123
As of 1.11, EKS ships CoreDNS.

[2018-12-17 18:17] #123 closed

[2018-12-17 18:42] christopherhein opened #350 "1.11 Clusters don't support Port Forward"
**What happened?**
With last nights release of 1.11 support the way that `kubelet` is initialized using flags and is missing some configurations.

**What you expected to happen?**
Allow 1.11 cluster to deploy and use `port-forward`

**How to reproduce it?**
1. Deploy cluster
1. Try to port-forward

**Anything else we need to know?**
What OS are you using, are you using a downloaded binary or did y

[2018-12-17 20:50] mrichman commented on #348
This would be awesome because [this](https://docs.aws.amazon.com/eks/latest/userguide/migrate-stack.html) sucks.

[2018-12-17 21:57] jorgeluishdez opened #352 "unknown flag: --version"
**What happened?**
When I tried running eksctl specifying --version flag, the command return that the flag is unknown

**What you expected to happen?**
I expect the creation of the cluster using the specified EKS version on --version flag

**How to reproduce it?**
eksctl create cluster --version=1.11  --name=my-eks-cluster --ssh-public-key=region-ssh-key-used --region=us-west-2 --nodes=3  --node-t

[2018-12-18 09:48] errordeveloper commented on #350
Yes, and we had #156 open for a while, but there is a more specific reason to it. We need to enable `serverTLSBootstrap`, which is not available as a flag.

No, it's of little use. Most because it can easily be a false-positive. The only way you can call this is from a bootstrap sequence, and there you don't know yet if you kubelet is configured correctly actually and won't fail in any way. The be