[2022-06-08 14:26] Skarlso commented on #5140
Actually! Even better. We already install it using curl anyways. :D

[2022-06-08 14:55] nikimanoledaki opened #5385 "Add `--wait` to commands where this flag is missing"
### Description

Following up from #5250, the aim of this ticket is to find commands that would benefit from `--wait`  but are missing this flag, and add the flag to these commands.

For example, some suggestions:
- `eksctl drain nodegroup`
~- `eksctl scale nodegroup`~ Ticket #6396
- `eksctl deregister/register cluster`

[2022-06-08 14:57] #5319 closed

[2022-06-08 15:11] nikimanoledaki opened #5386 "Improve visibility around which config file fields are supported by each command"
This issues raises a UX question around how to improve the visibility of the config file fields supported by each command.

As mentioned in [this](https://github.com/weaveworks/eksctl/issues/5147#issuecomment-1138304867) comment:

In the CLI, we could improve the validation of unsupported fields per command and to error early.

In the docs, it would be nice to auto-generate the config file schema

[2022-06-08 15:19] maopei820219 commented on #5319
@cPu1
I will find some time tomorrow or this weekend to test it.

[2022-06-08 16:14] przemolb opened #5387 "Ability to specify particular, AWS provided AMI without "overrideBootstrapCommand" option"
### What feature/behavior/change do you want?

We would like to be able to use the following config with specific AWS-provided AMI:
[code]

in the following scenario:
1. we want to use SSM (`ssh.enableSsm: true`)
2. AWS has released new AMI called i.e.: `ami-1`
3. we upgraded workers in our **test cluster** `eks-1` to the `ami-1`
4. [ 2 weeks later (planning/scheduling/executing) ]
5. we upgraded

[2022-06-09 08:16] adamjohnson01 commented on #4631
Unfortunately I have not had the time to do this but I will start working on it now.

[2022-06-09 08:52] Skarlso commented on #5128
So the early finding from Niki surmised an interesting problem. Say, you would have three instance types in various node groups ( which is saying less than people would actually use; I've seen configuration files with a lot more, say 10-15 types for GPU, Memory efficient, CPU efficient... etc ) and considering the usage of more AZs, 4 for example, this would quickly escalate into 12 API calls in t

[2022-06-09 10:26] Skarlso commented on #5128
# Proposition

Call [DescribeInstanceTypeOfferings](https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeInstanceTypeOfferings.html) with the following input:

[code]

Save all availability zone -> instance type relationships in a map and then use the map to look up instance types for availability zones easily without expending more API calls. Limit the number to a 100 which should g

[2022-06-09 12:44] #5090 closed

[2022-06-09 15:09] Skarlso commented on #5128
Actually, you can define multiple values for instances which returns on which AZ they are available in 🤦

[2022-06-09 23:45] cristian-popa opened #5388 "Example incorrect on how to apply taint to a nodegroup"
### What were you trying to accomplish?

Apply taint to a node group

### What happened?

Using the example in the docs here https://eksctl.io/usage/autoscaling/  I get the following error:

```Error: loading config file "not-working-taints.yaml": error unmarshaling JSON: while decoding JSON: json: cannot unmarshal object into Go struct field ManagedNodeGroup.managedNodeGroups.taints of type []v1a

[2022-06-10 10:51] Skarlso commented on #4477
https://github.com/weaveworks/eksctl/issues/5336 should also be fixed by this.

[2022-06-10 11:04] matti opened #5391 "eksctl utils describe-addon-versions returns json with debug message"
[code]
returns
[code]

so this can not be piped to jq etc without removing the first line like this:

`$ eksctl utils describe-addon-versions --cluster test-1 --region eu-north-1 --kubernetes-version 1.22 | sed -e 1d | jq`

[2022-06-10 11:08] Skarlso commented on #5391
You can use

[code]

[2022-06-10 11:11] Skarlso commented on #5388
Hey @cristian-popa.

Nice spot, thanks for the issue! :)

[2022-06-10 11:12] matti commented on #5391
ok thanks

[2022-06-10 11:12] #5391 closed

[2022-06-10 11:41] Skarlso commented on #5214
Hello @semoac. Is this still relevant? :)

Thanks!
Gergely.

[2022-06-10 13:00] semoac commented on #5214
No. Now I understand how and when the hardcoded shim in the file is used.

Thanks.

[2022-06-10 18:36] maopei820219 commented on #5319
@cPu1
I completed the testing. Your fix works as expected.
Here is what I did:
1. Create an EKS cluster in cn-north-1 region.
2. Use eksctl version 0.99.0 to run "eskctl delete cluster CLUSTER_NAME --region cn-north-1" command. It fails with the error:

3. Checkout the code from the tag "v0.102.0-rc.0", build eksctl, run "eskctl delete cluster CLUSTER_NAME --region cn-north-1" command. The cluster

[2022-06-10 19:45] Gaby-Soto opened #5397 "[Bug] RBAC Permissions for Persistent Volume Claims"
### What were you trying to accomplish?

In Spark 3.1, we can mount a dynamically-created persistent volume claim per executor by using OnDemand as a claim name and storageClass and sizeLimit options using:
[code]

### What happened?

When EBS is dynamically mounted to the executors with EMR on EKS, it fails.
Error message as follows:
[code]
This is due to the "emr-containers" role, not having the

[2022-06-10 23:54] viktorgoranov commented on #1482
Any news regarding this issue? I am using eksctl 0.99 version and tried to migrate from 1.20 to 1.21. The eks contol plane upgrade was successfull. The time out problem is with the node groups. Any ideas how to fix this?

[2022-06-11 05:44] melodyyangaws commented on #5397
Your storage class name could be different while replicating the steps. Please change the Spark config to a correct name based on  the output of your command `kubectl get sc`. For example:
[code]

[2022-06-11 06:51] Skarlso commented on #1482
we'll take a look at this

[2022-06-11 06:52] Skarlso commented on #1482
@viktorgoranov This is a closed and stale issue with various problems which turned out to be something else. Please open a separate issue with the details that you have with the config that you used and the error message that you got. Thanks!

[2022-06-11 06:52] #1482 closed

[2022-06-11 08:00] viktorgoranov opened #5398 "[Bug] timed out waiting for at least 3 nodes to join the cluster and become ready"
### What happened?
When creating a new cluster, nodes fail to join the cluster. eksctl times out waiting for nodes after 25minutes.

### What you expected to happen?
A cluster stood up and ready.

### How to reproduce it?
Create new aws account, create iam with admin access and api credentials.
export aws credentials with envvars (aws_access_key... etc).
run following command:

[code]

### Version

[2022-06-11 20:15] michael-dez opened #5399 "Command Reference for eksctl [Feature]"
### What feature/behavior/change do you want?

An online reference for `eksctl` on [eksctl.io](eksctl.io) similar to the one for [kubectl](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands) with usage, options, and examples.

### Why do you want this feature?

It would be helpful to have an online reference for the eksctl commands that includes the usage/options from the `--h

[2022-06-12 02:13] #5135 closed

[2022-06-12 19:44] erjan commented on #1408
i tried these
--region=us-east-1
--region==us-east-1

i added to ./aws/configure
the line like

role_arn=aws":"iam.....

still no result! same error!

[2022-06-12 21:08] johnwesley commented on #5364
@Skarlso would you please label https://github.com/weaveworks/eksctl/pull/5400 a WIP?

[2022-06-13 05:28] Skarlso commented on #5364
@johnwesley Hello. We don't have a WIP label. :) You can just say in the title `[WIP]` or create a Draft PR. :) That will be fine. :)

[2022-06-13 05:58] Skarlso opened #5403 "[Task] Fix the docker image build flow"
Right now, the build flow creates a new image by tagging the Dockerbuild file with a new sha. This has the problem that if there is a change that needs to be rebuilt or there was a change that failed and we need to redo it, it will create the same layers and same image. There is no way to force a complete rebuild or at least part of the layers.

A simple solution is to introduce a version file int

[2022-06-13 08:08] Skarlso opened #5405 "[Improvement] Increase coverage of create cluster - brought subnet topology"
Part of https://github.com/weaveworks/eksctl/issues/5315

Right now, `create cluster` unit test works by generating the infrastructure including the subnets and the VPC.
A next step would be to be able to define brought subnets and a VPC. For that, various mock calls will have to be introduced which will return the right subnets.

This is, however, easier said than done because the subnet order an

[2022-06-13 08:13] Skarlso opened #5406 "[Task] Increase Unit test coverage of create cluster - nodegroups"
Part of https://github.com/weaveworks/eksctl/issues/5315

The testing of the nodegroups will be a bit finicky because you will have to also start mocking kubernetes client calls to check if the node is available and return the right responses there too.

Luckily, we have a lot of examples doing that already in nodetests and other places.

[2022-06-13 08:16] Skarlso opened #5407 "[Task] Increase Unit test coverage of create cluster - Karpenter"
Part of https://github.com/weaveworks/eksctl/issues/5315

Test the Karpenter creation flow. This might be easy if you can nicely mock the call to create Karpenter. This might require https://github.com/weaveworks/eksctl/issues/5406 to be done first.

[2022-06-13 08:17] Skarlso opened #5408 "[Improvement] Increase coverage of create cluster - flux"
Part of https://github.com/weaveworks/eksctl/issues/5315

Test the flux integration. Might require mocking the command part because flux is trying to run the flux binary.

[2022-06-13 08:19] Skarlso opened #5409 "[Task] Increase Unit test coverage of create cluster - private cluster"
Part of https://github.com/weaveworks/eksctl/issues/5315

Should include testing the part where it calls the endpoint to be set to private.

[2022-06-13 08:56] cPu1 commented on #5289
@shyam-ks, the fix is out in https://github.com/weaveworks/eksctl/releases/tag/v0.102.0-rc.0.

[2022-06-13 10:00] cPu1 opened #5412 "Add integration tests for dry-run with custom subnets"
https://github.com/weaveworks/eksctl/pull/5411 fixes the issue with generating ClusterConfig that fails validation. This issue is for adding an integration test for this case to https://github.com/weaveworks/eksctl/blob/main/integration/tests/dry_run/dry_run_test.go. This will require creating a VPC and subnets, and passing them to `eksctl create cluster --dry-run`.

[2022-06-13 11:17] cPu1 commented on #5128
The proposal should also account for the case where eksctl randomly chooses a set of availability zones (when `availabilityZones` is not set) but one or more instance types in the nodegroups are not supported in some of these AZs. We need to decide if eksctl should attempt to choose AZs that support all the specified instance types rather than failing later when the randomly chosen AZs lack suppor

[2022-06-13 14:43] Skarlso commented on #5398
I don't think so. Should be fine. :) If not, create an issue. :))

[2022-06-13 16:42] #5294 closed

[2022-06-13 18:19] Himangini commented on #4631
@adamjohnson01 thanks for picking this up, let us know if you need any help 👍🏻

[2022-06-13 19:27] Skarlso commented on #4477
Funny enough, AWS still has 1.10 as a default version.

[2022-06-14 02:12] #4990 closed

[2022-06-14 04:02] rothgar commented on #5128
We may also need to take into account AZs that are local zones. I consistently have problems where one of my regions has a local zone attached and eksctl selects it but cluster creation fails every time.

[2022-06-14 07:34] YDKK opened #5420 "[Bug] propagateASGTags option not working"
### What were you trying to accomplish?

Attempted to automatically apply label and taint tags to ASGs using the `propagateASGTags` option.
I expected the following tags to be created to the ASGs automatically:
- `k8s.io/cluster-autoscaler/node-template/label/my-cool-label: pizza`
- `k8s.io/cluster-autoscaler/node-template/taint/feaster: "true:NoExecute"`

### What happened?

The ASGs created are

[2022-06-14 09:07] chachampis commented on #5397
I have the same problem, even though I have used the correct storageClass name (gp2). In my case, the user mentioned in the error message is "system:serviceaccount:emr:emr-containers-sa-spark-**driver**-XXXXXXXXXX-xxxxxxx" (I am trying to provision storage for the executor pods).
This serviceaccount gets its permissions from `emr-containers-role-spark-driver` role, through a rolebinding. I tried e

[2022-06-14 09:51] melodyyangaws commented on #5397
To manually fix it, you have to add the permission to  the main role `emr-container` first. Adding the corresponding permissions to Spark driver roles as suggested by error messages, it will not help unless the “emr-containers” primary role has included the required permissions.

[2022-06-14 11:09] #5359 closed

[2022-06-14 11:17] Skarlso commented on #5359
Uh, I failed to answer this. Sorry. :( No, I don't think so.

[2022-06-14 11:37] Himangini commented on #5214
Thanks @semoac Closing this issue now 👍🏻

[2022-06-14 11:37] #5214 closed

[2022-06-14 11:53] Skarlso commented on #5403
Okay, so I tried doing a simple build by changing a tiny thing in the requirements.
https://github.com/weaveworks/eksctl/actions/runs/2494618827

[2022-06-14 11:57] cPu1 commented on #5128
We recently cut a release with a fix that avoids selecting AWS Local Zones if they're enabled in the account (because they were incorrectly being passed to the EKS control plane).

We also [added support for Local Zones](https://github.com/weaveworks/eksctl/pull/5187) lately but we require explicitly specifying `ClusterConfig.localZones` ([example ClusterConfig file](https://github.com/cPu1/eksctl

[2022-06-14 13:49] Himangini commented on #735
@MMartyn does the solution mentioned above help you or are you experiencing any other issues with this?

[2022-06-14 13:50] Himangini commented on #735
@MMartyn does the solution mentioned above help you or are you experiencing any other issues with this?

[2022-06-14 13:59] #5147 closed

[2022-06-14 14:10] Himangini commented on #2172
Closing this off since all the related issues mentioned above are completed

[2022-06-14 14:10] #2172 closed

[2022-06-14 15:19] Skarlso commented on #5403
FINALLY! Found the problem.

So I added this by hand:
[code]

which adds /__w/eksctl/eksctl as a safe folder.

BUT! Checkout does that already. :O

[code]

It seems to loose this after checkout.... I have no idea why.

[2022-06-14 15:24] Skarlso commented on #5403
Oh. That's because github workspace is NOT `/__w/eksctl/eksctl`.

[2022-06-14 15:25] Skarlso commented on #5403
This bags the question if this would work at all or where it would be staying at when it runs an actual workflow.

[2022-06-14 15:26] Skarlso commented on #5403
Also, this still doesn't explain why an older container is workiiinggggg.

[2022-06-14 15:46] Skarlso commented on #5403
Apparently. A combination with v3 and some linux updates, ( or a git update maybe ) causes this issue. Once the container was updated, it no longer worked because we also updated some other packages and pulled a more later go1.18 image. Either because of docker or because of a new git version. In any case. The fix is to add `set-safe-directory` to all of our checkouts.

[2022-06-14 15:51] Skarlso commented on #5403
Note that this only applies to actions which use the eksctl build image. All others use latest ubuntu and that fixes the problem too.

[2022-06-15 07:28] #5377 closed

[2022-06-15 08:26] youwalther65 commented on #5420
I faced the same issue
$ eksctl info
eksctl version: 0.101.0
kubectl version: v1.23.5
OS: linux

on AWS EKS 1.22

[2022-06-15 09:22] cPu1 commented on #5388
@cristian-popa, the taints example shown [here](https://eksctl.io/usage/autoscaling/) is for unmanaged nodegroups, which support both forms of syntax. The correct syntax for managed nodegroups is

[code]

You're right to point out that it can be confusing because that syntax works only for unmanaged nodegroups. We'll update the example with the aforementioned syntax that works for both managed and

[2022-06-15 10:47] Himangini commented on #5315
Closing this off since we have added tickets for this

[2022-06-15 10:47] #5315 closed

[2022-06-15 14:58] shyam-ks opened #5430 "[Help] Node group deletion - Cannot delete entity, must detach all policies first"
In our cloud, a policy gets automatically attached to the node group IAM role. its part of Infra security automation. Because it's not part of eksctl creation, while  deleting the node group, it fails due the stack deletion policy

[code]
Is there a way to force delete this role during node group deletion using eksctl even if there are additional policies attached to it?

![image](https://user-ima

[2022-06-16 11:33] #5250 closed

[2022-06-16 11:47] Skarlso commented on #5420
Thanks for the issue. Will verify.

[2022-06-16 12:24] Skarlso commented on #5387
Thanks for the issue. As a reference, here is the slack discussion this out from:

https://weave-community.slack.com/archives/CAYBZBWGL/p1654698774086689

[2022-06-16 12:45] #5403 closed

[2022-06-16 14:53] matti commented on #5420
same here with:

[code]

I don't really understand the codebase, but it looks like https://github.com/weaveworks/eksctl/pull/5286/files this doesn't address the propagation which is now broken/missing

[2022-06-16 15:07] matti commented on #5420
so workaround like this:

[code]

[2022-06-16 16:25] matti opened #5438 "[Bug] failed to create addons"
### What were you trying to accomplish?

create cluster with config:

[code]

### What happened?

fails with:

[code]

**Logs**

[code]

**Versions**
[code]

[2022-06-16 16:26] matti commented on #5438
is it so that `addons:` requires `version: latest` for each? I think that's the only change I have made

[code]

[2022-06-16 19:48] Skarlso commented on #5438
Nope, that's coredns failing because you don't have any nodes. Once you have nodes, it won't fail.

[2022-06-16 20:10] matti commented on #5438
but... I have previously created a cluster without any nodes and it worked (exit 0) just fine.

Has this now changed so that I need to first create a cluster without any addons, then add nodes and then add addons?

[2022-06-16 20:40] Skarlso commented on #5438
You mean you previously created an ipv6 cluster without nodes? Can you check why it's failing though? Maybe something changed with the addon that we now have to take into account. This is not eksctl failing.

[2022-06-16 21:46] absmith82 commented on #811
any update no this?

[2022-06-17 06:23] matti commented on #5438
yep, I have created about 200 clusters with eksctl without nodes and it has worked so far.

how do I check whats the failure?

my plan is now remove addons from cluster yaml and add them after nodes, its a better flow like that anyway

[2022-06-17 06:52] Skarlso commented on #5438
Were they ipv6?

[2022-06-17 07:22] ArjunMG commented on #4918
Hi @carlosleoliveira ,

I faced the same issue while trying to deploy ALB controller in EKS.
In AWS EKS when you run `eksctl create iamserviceaccount .....` a cloudformation stack will be created in background.
Go and checkout the Clodformation stack in AWS and see if there is any error creating the stack.

In my case there was an error in the stack creation because the command was wrong and the s

[2022-06-17 09:52] Skarlso commented on #5420
The code propagates TAGS. Not labels or taints. So if you want tags to be propagated to the ASG you need to define tags.

[code]

[2022-06-17 10:23] Skarlso commented on #5420
<img width="1448" alt="Screenshot 2022-06-17 at 12 23 19" src="https://user-images.githubusercontent.com/182850/174279992-4479b4b8-479e-4422-97d6-c994915e0a6c.png">

Please close if this answers your question. Thanks!

[2022-06-17 10:51] matti commented on #5420
the problem is that it doesn't propagate these tags to the underlying auto scaling group - they only get correctly added to the eks tags listing what is shown in the screenshot above.

So the tags are kinda worthless because they are not pushed to the auto scaling group

this was already asked in #4965 which was closed, please the comment https://github.com/weaveworks/eksctl/issues/4965#issuecomme

[2022-06-17 10:53] Skarlso commented on #5420
That screenshot is from the ASG.

[2022-06-17 11:05] matti commented on #5420
okay, I'll try to make my own screenshots soon

[2022-06-17 11:44] youwalther65 commented on #5420
ok, so this extension of eksctl doesn't deliver what we hoped, right?

But I run into another thing when trying to follow the docs not sure what I am doing wrong:
[code]

When I run:
$ **eksctl create nodegroup -f eksctl-tags.yaml**
Error: couldn't create node group filter from command line options: loading config file "eksctl-tags.yaml": error unmarshaling JSON: while decoding JSON: json: cannot

[2022-06-17 11:49] Skarlso commented on #5420
What do you mean? It's exactly what it's supposed to do

. :) Propagate tags to the ASG. As the value suggests. `progapageASGTags`.

The thing you are looking for is for unmanaged nodegroups. Managed nodegroups are just tagged with set tags.

Read more here: https://github.com/weaveworks/eksctl/issues/1571

[2022-06-17 11:50] Skarlso commented on #5420
Please open separate ticket.

[2022-06-17 12:35] matti commented on #5420
@youwalther65 you have the yaml wrong
[code]

^-- yaml turns `no` and `yes` to booleans unless they are inside of "

so

[code]

[2022-06-17 13:10] vflaux opened #5442 "[Bug] Bottlerocket nodes don't have the instance-id label."
### What were you trying to accomplish?

Create a nodegroup of Bottlerocket instances and get the nodes instance-id easily.

### What happened?

Nodes don't have the label `alpha.eksctl.io/instance-id` like AL2/Ubuntu nodes.

### How to reproduce it?

Create a nodegroup with `amiFamily: Bottlerocket`.
(See https://github.com/weaveworks/eksctl/blob/main/examples/20-bottlerocket.yaml)

**Anything el

[2022-06-17 13:24] cPu1 commented on #5442
Thanks for opening a detailed issue. The label `alpha.eksctl.io/instance-id` is not applied to managed nodegroups either. While this is a valid feature request and something that we can consider adding support for, I don't think it's a bug as eksctl does not advertise this behaviour as a feature. We'll add this to our backlog.

[2022-06-17 14:30] YDKK commented on #5420
Ok, I understand that automatic tagging for labels and taints works only with unmanaged nodegroups.

However, the documentation for this feature refers to both managed and unmanaged nodegroups, which is very misleading and needs to be corrected.

https://github.com/weaveworks/eksctl/blob/4c1b1421b73e80a6bbe4572602e206f5690ece6e/userdocs/src/usage/autoscaling.md?plain=1#L47-L58

[2022-06-17 14:32] Skarlso commented on #5420
@YDKK That's true. Thanks for bringing that up. We'll fix that oversight.

[2022-06-17 15:48] youwalther65 opened #5443 "[Feature] Allow tag propagation to launched EC2 instances using `propagateASGTags`"
### What feature/behavior/change do you want?
I propose to enhance the recently introduced tag propagation feature for ASG "propagateASGTags: true" to allow tag propagation to launched EC2 instances as well by setting "Tag new instances = yes", Currently only  "Tag new instances = no" is implemented.

### Why do you want this feature?
Using this tag as an AWS  "cost allocation tag" allows cost tra

[2022-06-17 15:49] youwalther65 commented on #5420
https://github.com/weaveworks/eksctl/issues/5443

[2022-06-17 16:01] xsaardo opened #5444 "[Bug] Unable to overwrite addon creation with --force flag"
### What were you trying to accomplish?

Trying to install `aws-ebs-csi-driver` on cluster where it is already installed with `--force`

### What happened?

Unable to overwrite existing installation even with `--force` flag
[code]

### How to reproduce it?

[code]

**Logs**

[code]
**Anything else we need to know?**

installed via homebrew

**Versions**

[code]

[2022-06-20 12:36] yuvansh33 opened #5445 "Removing used images from a instance/node."
We need to automate a way via which we can remove the used images from our instance to clear some space for newer images.
i found a way using `kubelet.conifg` file , but i think it will not make any change in existing nodegroup. we used to manually delte the images by ssh in instance and using `docker prune image` command. It'll be good to have an automated system to do so.
please suggest us if th

[2022-06-21 00:42] chrisjohnson00 commented on #384
I'm seeing the same with eksctl 0.100.0 when creating nodegroups.  Is there a new issue for this which is open?

[2022-06-21 00:47] chrisjohnson00 commented on #5250
@nikimanoledaki  or @Skarlso would this by chance have any impact on https://github.com/weaveworks/eksctl/issues/384?  I've noticed Issue 384 happens around the default 25 min timeout.

[2022-06-21 05:26] fredcooke opened #5446 "adding a policy with attachPolicyARNs removes 2 other necessary policies"
### What were you trying to accomplish?

Add an additional policy to the node group instance role.

### Expected outcome?

Get the same set of policies in the role as before (7 roles, 3 AWS, 4 nodegroup specific) plus my additionally specified one

### What happened?

Got my policy, and 5 others, 1 AWS and 4 nodegroup specific, 6 in total, missing two critical policies

### How to reproduce it?

A

[2022-06-21 07:13] fredcooke commented on #5446
I don't respond to wretched bots, silence would have been preferable. How utterly impersonal. However I did find this in the documentation in orange - that's a smell right there. Make the code reasonable - don't add a warning.

You have these two directives:

**withAddonPolicies**
and
**attachPolicyARNs**

In the former case they are **added** to the defaults

In the latter they override **some**

[2022-06-21 07:35] fredcooke commented on #5446
I do have to say, though, if you ignore genuine issues based on "tone" and other vagueries then that could explain how it ended up in this state :-D

You should note that before seeing your template I had already questioned if a newer version was available and resolved to upgrading everything fully to eliminate that as a possible cause - this is called wisdom.

[2022-06-21 07:40] Skarlso commented on #5446
I think not.

https://github.com/cncf/foundation/blob/main/code-of-conduct.md

We do have deprecation periods.

This is an open community of every kind of people which we are keeping civilised and an open, welcoming and safe environment for everyone. So yes, we do filter out issues based on "tone" because this is the internet where we don't have anything else but written tone. I can hardly talk to

[2022-06-21 07:50] fredcooke commented on #5446
I'm sorry, @Skarlso , it's not possible to offend a bot - maybe you wrote/configured it? If that offended you I'm genuinely sorry. If you genuinely ignore genuine issues then I can't feel too sorry for you, though :-D

There was no tone aside from the bot comment, just a very very clear description of a fairly serious problem and inconsistency between provided documentation that should have become

[2022-06-21 08:19] cPu1 commented on #384
Does your IAM entity have access to list nodes in Kubernetes? Can you confirm you're able to list and watch nodes via `kubectl`? Did you create the cluster using the same IAM entity?

[2022-06-21 08:20] cPu1 commented on #5250
This does not affect `create nodegroup`. I have responded to your comment in that issue: https://github.com/weaveworks/eksctl/issues/384#issuecomment-1161419197

[2022-06-21 08:34] cPu1 commented on #5445
Nodegroups are immutable by design, so you'll have to delete your existing nodegroups and recreate them with the new kubelet config. If this is not desirable, you'll have to write a script that performs this automation via SSH on existing nodes.

[2022-06-21 09:01] cPu1 commented on #5430
eksctl does not support force-deleting a nodegroup's IAM role if it had policies attached outside of eksctl. The recommended way is to use `nodeGroup.iam.attachPolicyARNs` to specify custom policies. Please note that when you use `attachPolicyARNs`, eksctl does not add the default node policies, so you'll have to specify them also, as in:

[code]

[2022-06-21 09:07] vflaux commented on #5442
I handled this issue with a custom bootstrap container:

**bootstrap.sh:**
[code]
**Dockerfile:**
[code]

**conf**:
[code]

[2022-06-21 11:24] Himangini opened #5449 "[EPIC] Split types StackCollection, ClusterProvider etc"
### Description
This ticket is an EPIC to collect all tickets related to refactoring suggestions mentioned here https://github.com/weaveworks/eksctl/issues/4655, https://github.com/weaveworks/eksctl/issues/4655#issuecomment-1044631377

[2022-06-21 11:31] Himangini opened #5450 "[Task] Move the `Task` related methods"
### Description

See comment [here](https://github.com/weaveworks/eksctl/issues/4655#issuecomment-1041834989)

(7~ methods) `Tasks` for creating/deleting stacks (returning a `*tasks.TaskTree`) e.g.`NewTasksToCreateIAMServiceAccounts`, `NewTasksToDeleteIAMServiceAccounts`, `DeleteTasksForDeprecatedStacks`

We need to
- Move the `Task` related methods out of here and into their respective `pkg/actio

[2022-06-21 11:56] Himangini opened #5451 "[Task] Unify the different `Delete` methods"
### Description

See comment [here](https://github.com/weaveworks/eksctl/issues/4655#issuecomment-1041834989)

- (7~ methods) Tasks for creating/deleting stacks (returning a `*tasks.TaskTree`) e.g.`NewTasksToCreateIAMServiceAccounts`, `NewTasksToDeleteIAMServiceAccounts`, `DeleteTasksForDeprecatedStacks`
- (4~ methods) Deleting stacks directly (not via task), e.g. `DeleteStackSync(s *Stack) error`

[2022-06-21 13:00] Skarlso commented on #5438
Note, this failed for a normal, console created EKS cluster as well. So I don't think this is something eksctl is doing.

[2022-06-21 13:06] Skarlso commented on #2931
The next step was to separate some of the functions out from `provider`.
This PR took kubeprovider and made it a bit more kube specific and refactored a tiny bit about the Provider.

[2022-06-21 13:23] Himangini commented on #5006
First we will spike on this to understand whats required to deliver this Feature.
We'll add the findings here on the ticket

Timebox: 1-2 days

[2022-06-21 13:23] Skarlso commented on #5438
Ah this is actually this issue https://github.com/weaveworks/eksctl/issues/4030

[2022-06-21 13:46] Skarlso commented on #5406
- No need to test validation based things
- Test a reasonable amount of scenarios ( remember we also have e2e tests )
- Not required to add various combinations of node groups types, sizes, etc...
- Make sure API calls are covered. That's the most important part.

[2022-06-21 14:04] Himangini commented on #1807
We need to Spike on this first to come up with a nice UX for supporting the subnets settings since we already use this syntax to specify subnet topology.

We'll add the findings here on this ticket on how much work is involved

Timebox: 1-2 days

[2022-06-22 04:45] yuvansh33 commented on #5445
Ok thanks @cPu1, i'll try my best to implement that.

[2022-06-22 08:37] cPu1 commented on #5445
Great. Please feel free to open a new issue if you have more questions.

[2022-06-22 08:37] #5445 closed

[2022-06-22 09:57] #4477 closed

[2022-06-22 10:23] Himangini commented on #5140
Closing this since related PR is merged

[2022-06-22 10:23] #5140 closed

[2022-06-22 10:46] cPu1 commented on #5134
Alternatively, we can use a workaround/hack that modifies the bootstrap.sh script and removes the `--max-pods` argument passed in the launch template's user data generated by EKS. This is similar to the how max-pods was implemented previously and requires less effort than the custom AMI approach.

[2022-06-22 13:17] ecpullen opened #5452 "eksctl without IAM:CreateRole permissions"
### Discussed in https://github.com/weaveworks/eksctl/discussions/5423

<div type='discussions-op-text'>

<sup>Originally posted by **ecpullen** June 14, 2022</sup>
I am trying to setup eksctl for cluster creation using existing service roles and instance profiles.
[code]
Whenever I use `eksctl create cluster` it errors with.
[code]
Is it possible to use eksctl without creating a role?</div>

[2022-06-22 23:58] wreulicke opened #5455 "[Help] Why does service role have cloudwatch metrics policy?"
### What help do you need?

I am investigating differences between terraform-aws-modules/eks and eksctl.
Then, I found a curious policy attachment for cloudwatch to a eks service role.
Did you know why eks service role has the permmisions?
I wanna remove the permission if not needed.

eksctl add permissions for cloudwatch to a eks service role here.
https://github.com/weaveworks/eksctl/blob/7c7c09

[2022-06-23 01:41] bil9000 opened #5456 "t4g not supported."
In the documentation on this page:
https://eksctl.io/usage/arm-support/
It says that t4g is supported as an instance type.  This seems to be incorrect ask the command fails for t4g and the AWS documentation does not mention t4g as supported.
That said: I <3 eksctl, thank you for building this.

[2022-06-23 02:08] bil9000 commented on #5456
User error.  Sorry. :(

[2022-06-23 02:08] #5456 closed

[2022-06-23 04:39] Skarlso commented on #5456
The best kind of error from a maintainer's perspective. :D

[2022-06-23 06:44] Skarlso commented on #4030
I have a hunch that this isn't done by eksctl. In which case, there is nothing we can do about it since EKS is the one installing default addons. Since this also happens with CAPA clusters. But let's see if EKS maybe supports some kind of switch we can pass on that it doesn't install addons.

[2022-06-23 06:51] Skarlso commented on #4030
Niki's example contains an addon. If not defined like this:

[code]

The cluster is created successfully.

Wait, hang on. You have a config file which defines an addon but no nodegroups but you would like to have a flag which disabled addons? But you defined the addon in a config file... I'm confused. Just deleted the definition of the addon from the config file?

This is a more interesting exampl

[2022-06-23 07:32] Skarlso commented on #4030
Now the question becomes how to fix it. We can't patch the ReplicaSet to 0 because it means we'd have to patch it back up when there are nodegroups added.

All we can do is ignored coredns degradation if there are no nodegroups and eventually it recovers anyways onces nodes ARE added.

[2022-06-24 18:05] BloodyIron commented on #215
@Skarlso can we get this bot to stop please?

[2022-06-24 18:15] Skarlso commented on #215
I added priority long term which will stop the stale checker.

[2022-06-25 02:13] #5275 closed

[2022-06-26 02:13] #5300 closed

[2022-06-27 15:11] BloodyIron commented on #215
Thanks @Skarlso !

[2022-06-27 15:18] illuminatedwax opened #5465 "Error messaging around private subnets is misleading"
If a managed nodegroup specifies the "subnet" option, and a private subnet is listed without having "privateNetworking" set to "true", the error listed is "subnet ID XXX does not exist".

Example:
[code]
(actual ids replaced)
All the referenced subnet IDs do in fact exist.

When `privateNetworking: true` is added to the managed node group configuration, the command works.

[2022-06-27 15:30] cPu1 commented on #5465
Thanks for opening a detailed issue. I agree that the error message can be improved here to say something along these lines:

[code]

We'll add this to our backlog.

[2022-06-27 19:12] chrisjohnson00 commented on #384
@cPu1 any chance of getting this re-opened, or should I submit a fresh issue?

[2022-06-27 21:04] xsaardo commented on #5444
I see, can the documentation be updated to reflect this? Since this is the current documentation
`--force                                          Force applies the add-on to overwrite an existing add-on`

[2022-06-28 08:13] chrisjohnson00 commented on #384
Our setup does include a bootstrap process for installing some agents, such as Datadog. Do you have any recommendations to avoid this issue @cPu1 ?

[2022-06-28 08:14] chrisjohnson00 commented on #384
Will do, thanks!

[2022-06-28 09:04] cPu1 commented on #5444
Yeah, good point. We'll update the doc.

[2022-06-28 11:05] #5388 closed

[2022-06-28 12:25] #5444 closed

[2022-06-28 13:12] Himangini commented on #581
Closing this issue due to lack of activity. We welcome community contributions, please feel free to reopen this again if you have a PR ready :)

[2022-06-28 13:12] #581 closed

[2022-06-28 13:44] #4395 closed

[2022-06-29 11:06] carroarmato0 opened #5468 "[Bug] Network ELBs do not seem to be deleted"
### What were you trying to accomplish?
Delete an EKS cluster previously deployed using eksctl 0.103.0 (experiencing from 0.83.0 onwards) and all the associated resources.

### What happened?
eksctl does not seem to manage deleting all ELB resources.
As a test, an application being deployed uses 8 ELB resources:  4 type classic, and 4 type network.
The 4 classic types are successfully deleted, but

[2022-06-29 13:46] cPu1 commented on #4779
@4thel00z, are you using the latest version of eksctl? The fix was out in 0.86.

[2022-06-29 13:58] 4thel00z commented on #4779
@cPu1 thanks for the quick reply. Yes, I am using a newer version:

[code]

[2022-06-30 08:48] cPu1 commented on #4779
@4thel00z, I tried using an ed25519 SSH key with `create nodegroup` and it worked. Which command is failing for you? Can you share the steps you used to generate the key-pair?

[2022-06-30 10:14] snata71 opened #5470 "trying to create a cluster with existing role"
Even though i am using
iam:
   serviceRoleArn:  aws::***********************role/<role name>**********, but it is not using that particular role, but it creates a new role and creates the cluster and node group.  if there is no permission to create the role, the stack fails with unexpected error.   is there any workaround for this.

[2022-06-30 14:03] yanivpaz commented on #1096
This issue is opened for almost 3 years
@Himangini @martina-if @Callisto13
is there any ETA ?
I want to avoid manual WA - https://www.arhea.net/posts/2020-06-19-amazon-eks-secondary-cidr.html

[2022-06-30 14:05] cPu1 commented on #1096
@yanivpaz, we're occupied with higher-priority tasks at the moment but we'll review the proposal soon.

[2022-06-30 14:13] Himangini commented on #1096
@yanivpaz thanks for showing interest in this issue. We are working towards prioritizing this. We're happy to accept PRs if you have a solution in mind 💡

@lilley2412 I know it's been a long time but are you still keen on this feature for eksctl?

[2022-06-30 21:09] 4thel00z commented on #4779
I generated the ssh key using:
[code]

Here is the ssh package from my system:
[code]

[2022-07-01 12:20] shyam-ks opened #5473 "Does eksctl has release page mentioning the features that comes with the release or a roadmap page ?"
Does eksctl has release page mentioning the features that comes with the release or a roadmap page ?

[2022-07-01 12:31] cPu1 commented on #5473
Yes, we have a page for releases: https://github.com/weaveworks/eksctl/releases. We don't have a public roadmap page though but you can search by labels in issues.

[2022-07-04 07:53] MartinEmrich commented on #5368
/remove-label stale

[2022-07-04 09:26] cPu1 commented on #4779
Thanks for providing more details. I'm reopening the issue for investigation.

[2022-07-04 11:04] Himangini commented on #4779
@4thel00z Which command is failing for you?

[2022-07-04 11:18] Himangini opened #5475 "[Task] Move functionality out of nodegroup and nodegroup_service"
### Description
This ticket to refactor functionality as suggested below and original ticket [here](https://github.com/weaveworks/eksctl/issues/4655#issuecomment-1044631377)

### nodegroup.go
Methods for validating that managed nodegroup configurations are supported by the EKS versions. Seems reasonable & EKS related :heavy_check_mark:
[code]

Also contains a random stack-related func that should

[2022-07-04 11:50] #5128 closed

[2022-07-04 12:04] snata71 commented on #5470
Thank you, That worked

[2022-07-04 12:06] cPu1 commented on #5470
Great! Please feel free to open a new issue if you have more questions.

[2022-07-04 12:06] #5470 closed

[2022-07-04 14:44] Himangini opened #5481 "[Task] Move functionality out of api.go and client.go"
### Description
This ticket is to refactor the functionality mentioned below and [here](https://github.com/weaveworks/eksctl/issues/4655#issuecomment-1044631377)

### api.go
Contains:
- Getters for accessing the AWS APIs, e.g. `func (p ProviderServices) EKS() eksiface.EKSAPI { return p.eks }`
- Code for setting up the aws-sdk-go sessions

On the face of it a lot of this isn't really EKS specific b

[2022-07-04 14:57] Himangini opened #5482 "[Task] Refactor eks.go"
### Description

### eks.go
Contains methods for interacting with clusters. Seems good for this package :heavy_check_mark:
[code]

Also contains some stuff not-so related to EKS that should be moved :negative_squared_cross_mark:
[code]

[2022-07-04 15:22] Himangini opened #5484 "[Task] Move functionality out of fargate.go and logging_retryer.go"
### Description
This ticket is to refactor the functionality mentioned below and [here](https://github.com/weaveworks/eksctl/issues/4655#issuecomment-1044631377)

### fargate.go
Contains funcs for managing fargate. Definitely doesn't belong here :negative_squared_cross_mark:
[code]

### logging_retryer.go
Code for implementing our `logging` for the `aws-sdk-go` `session`. This should be moved alon

[2022-07-04 15:26] Himangini opened #5485 "[Task] Refactor task.go"
### Description
This ticket is to refactor the functionality mentioned below and [here](https://github.com/weaveworks/eksctl/issues/4655#issuecomment-1044631377)

### What can stay and what should be moved
`pkg/eks` contains:
[code]

Lets take a look at each file and see whats in it

....

### task.go
:panic: tasks shouldn't be here. Move to own packages/inside `pkg/action/<resource>` where approp

[2022-07-04 20:52] reduardo7 commented on #4446
It's possible!

Simply add to your `~/.bashrc`(or related file) the following command:

[code]

And it is working for other tools:

[code]

[2022-07-05 02:14] #5336 closed

[2022-07-05 06:49] jgalliers commented on #3102
Hi all,

I received this error today after a fresh install of v0.104.0

[code]

Is there something I'm missing?

[2022-07-05 07:15] cPu1 commented on #4446
Of course it's possible. We already have this in our docs: https://eksctl.io/introduction/#shell-completion

This issue was for adding tests for the shell completion feature and it was decided it was too much work for little value.

[2022-07-05 07:19] cPu1 commented on #3102
@jgalliers, thanks for the detailed report. I don't think you can update the launch template via `update-nodegroup-version` if the nodegroup is in a degraded state. Your best bet is to recreate the nodegroup with the new launch template.

But your testing did surface a panic in `eksctl upgrade nodegroup`. We'll work on this soon.

[2022-07-05 07:24] cPu1 opened #5487 "[Bug] `eksctl upgrade nodegroup` panics if a nodegroup is in a degraded state"
Originally posted in https://github.com/weaveworks/eksctl/issues/3102#issuecomment-1174683341.

[2022-07-05 11:08] Himangini commented on #5438
I believe this issue is fixed by #4030, https://github.com/weaveworks/eksctl/pull/5458.

@matti are you still having issues?

[2022-07-05 13:24] #5291 closed

[2022-07-05 13:31] Himangini commented on #5487
See comment [here](https://github.com/weaveworks/eksctl/issues/3102#issuecomment-1174706652)

[2022-07-05 21:19] suket22 commented on #5134
This is the approach I'd be in favor of. `--maxPodsPerNode` is essentially a property of the kubelet, and the only supported way to modify your kubeletConfiguration is using custom AMIs with your managed nodegroup so this approach makes sense to me.

I'm not sure I understood the mechanics of the workaround you'd mentioned. I think you meant you could edit the bootstrap script on the AMI itself an

[2022-07-06 11:44] TheRealGoku opened #5489 "[Feature] add support to enable/disable nvidia plugin in config file schema"
eksctl supports nvidia daemonset driver installation by identifying node group instance type used in eksctl cluster config file or command line creation https://eksctl.io/usage/gpu-support/

Some users may not want the driver manifest installed by the eksctl, As of today(6th July 2022) I could see option to disable it only via cmd arguments, it would be good user experience if this settings is inc

[2022-07-06 12:29] Himangini commented on #5134
I am inclined to this approach as well instead of breaking `eksctl upgrade nodegroup` ✨

[2022-07-06 19:26] kuvivek opened #5491 "Unable to create EKS cluster using eksctl command despite having AWS Admin rights."
Creating EKS Cluster as defined in this github repository for the load testing environment.

https://github.com/aws-samples/Load-testing-your-workload-running-on-Amazon-EKS-with-Locust

Using the following config file
https://github.com/aws-samples/Load-testing-your-workload-running-on-Amazon-EKS-with-Locust/blob/main/groundwork/eks-clusters/awsblog-loadtest-locust.yaml

with the slight modificati

[2022-07-06 19:43] chrisjohnson00 opened #5492 "[Bug] `Error: re-listing nodes: Unauthorized` when running `eksctl create nodegroup`"
### What were you trying to accomplish?
We run a multi OS k8s cluster comprising of both Linux and Windows nodes.  We've been successfully using eksctl for the setup and upgrade of the cluster for close to 18 months.  "Recently" we started encountering `Error: re-listing nodes: Unauthorized` when our windows node groups were being created/upgraded.  From the looks of our eksctl upgrades, we bumped

[2022-07-07 21:59] tracetechnical commented on #321
Still seeing this on Ubuntu

[2022-07-08 15:03] nayanen commented on #5382
Yes , would like to add the security group rules while adding by eksctl when EFA is enabled?

[2022-07-08 22:17] corinz opened #5503 "[Bug] Create Cluster Hanging when clusterEndpoints.publicAccess=false"
When disabling public access with `clusterEndpoints.publicAccess=false`, eksctl doesn't finish executing. Is this expected behavior?

[code]
I am writing this 20 minutes after the last log line, the CLI doesn't timeout or go on to the IAM or nodegroup stacks.

### What were you trying to accomplish?
Cluster created, node groups created, IAM roles created

### What happened?
Created cluster and the

[2022-07-11 11:09] Himangini commented on #4514
3 consecutive runs failed and the next one passed. Seems like we'd need to spend some time investigating why these are flaking.
https://github.com/weaveworks/eksctl-ci/actions/runs/2637252398
https://github.com/weaveworks/eksctl-ci/actions/runs/2635951055
https://github.com/weaveworks/eksctl-ci/actions/runs/2633087389

[2022-07-11 11:51] Himangini commented on #5503
Hello @corinz 👋🏻
Seems like you are using the old eksctl version, have you tried it with the [latest](https://github.com/weaveworks/eksctl/releases/latest) one?

[2022-07-11 17:15] pcharlan commented on #5492
This seems to be triggered by the node taking a lot of time to come up, and by adding the nodegroup separately from cluster creation.  I tried this with a 10-minute sleep and it didn't trigger the issue, but a 15-minute sleep does so reliably:
[code]
My versions:
[code]

[2022-07-12 02:01] tanvp112 commented on #5503
According to the [documentation](https://eksctl.io/usage/vpc-cluster-access/):

It's a _great_ automation feature if eksctl can support this use case just like fully private cluster where it turns off public endpoint at the end of the provision.

[2022-07-12 07:07] cPu1 commented on #5503
@corinz, eksctl must be run from within the same VPC (or via some other means like AWS Direct Connect) if public endpoint access is disabled, otherwise it cannot connect to the API server, eventually failing with a timeout error. Since you're letting eksctl create the VPC and other networking resources, your best bet is to create the cluster with public endpoint access enabled, and disable it post

[2022-07-12 13:49] #5335 closed

[2022-07-12 14:01] #5398 closed

[2022-07-12 14:18] Himangini commented on #2931
Closing this off since we have split a lot of this work into smaller tickets which we will be working on.

[2022-07-12 14:18] #2931 closed

[2022-07-12 17:20] Tolsto commented on #5420
I also just noticed that tags set in the configuration file only get applied to the autoscaling group if you set `propagateASGTags` to `true`. However, the schema description states for tags: `Applied to the Autoscaling Group, the EKS Nodegroup resource and to the EC2 instances`. Therefore, I'd expect tags to get propagated to the ASG even if `propagateASGTags` is set to `false`.

[2022-07-12 17:29] shashlight commented on #1915
It looks like this issue has resurfaced again? Looks like the URL is wrong. I'm getting the same error as the OP had reported.
FYI, I'm running Ubuntu 22.04 on my AWS EC2.

url --silent --location https://github.com/weaverworks/eksctl/releases/latest/download/eksctl_Linux_amd64.tar.gz | tar xz -C /tmp

gzip: stdin: not in gzip format
tar: Child returned status 1

[2022-07-12 17:45] shashlight opened #5507 "[Bug] URL for eksctl latest release seems incorrect"
I'm running Ubuntu 22.04 on my AWS EC2. And when I tried to install using the standard instruction in the Readme, I'm getting an error that the file is not in gzip format. But, the issue, I believe is that the URL is not reachable from EC2.

url --silent --location "https://github.com/weaveworks/eksctl/releases/latest/download/eksctl_$(uname -s)_amd64.tar.gz" | tar xz -C /tmp

gzip: stdin: not in

[2022-07-12 19:06] #5507 closed

[2022-07-13 01:56] dienha93 opened #5508 "[Bug] SharedConfigLoadError: failed to load config file"
### Version of AWS SDK for Go?
`1.44.35`

### Version of Go (go version)?
`go version go1.16.3 darwin/amd64`

### What issue did you see?
When I try to run the command `eksctl get clusters`. I get the error where it fails because it reads the ~/.aws/config but does not understand the `azure_default_password` property that configured for AWS login via Azure AD. And when I remove the profile config,

[2022-07-13 02:13] #5358 closed

[2022-07-13 02:13] #5318 closed

[2022-07-13 02:13] #5143 closed

[2022-07-13 06:34] pdf commented on #3155
@Himangini this is still appears to be a problem here - coredns replicasets are trying to be scheduled with `eks.amazonaws.com/compute-type: ec2` by default, making them hang infinitely for fargate-only `kube-system`.

The workaround of hacking the deployment is problematic (especially when trying to automate) because cluster creation via `eksctl` cannot complete successfully.

I understand that t

[2022-07-13 14:59] nikimanoledaki commented on #4514
CRUD error:
[code]
In the runs mentioned above by @Himangini, as well as [this run](https://github.com/weaveworks/eksctl-ci/runs/7301317228?check_suite_focus=true).

[2022-07-13 16:56] hedasaurabh commented on #1740
@0lmi I see you have added value for `--tls-cert-file` to `/var/lib/kubelet/pki/kubelet-server-current.pem`, is that correct ? Because I think this would be a private key and not a cert file?

[2022-07-14 09:36] steffakasid opened #5509 "[Bug] eksctl scale nodegroup fails with Error: overrideBootstrapCommand overwrites container runtime...."
### What were you trying to accomplish?
I was trying to scale my nodegroups together with my clusterconfig: `eksctl scale nodegroup -f -`

### What happened?
The first nodegroup was scaled but then the command failed with the following error:
[code]

This seems to be related to:
https://github.com/weaveworks/eksctl/pull/5365

### How to reproduce it?

Create a cluster config using unmanagedNodegro

[2022-07-14 11:54] Obirah opened #5510 "[Bug] Upgrade nodegroup runs forever when DescribeUpdate permission is missing"
### What were you trying to accomplish?

I was trying to invoke `eksctl upgrade nodegroup ...` for a managed node group with an IAM role that was lacking the `eks:DescribeUpdate` permission.

### What happened?

Instead of throwing an 403 forbidden error, eksctl simply continued to run until the operation timed out.

### How to reproduce it?

Authenticate with an IAM role that has permissions for

[2022-07-14 15:05] Skarlso commented on #5420
The above config doesn't have propagateAsgTags set to true?

[2022-07-14 17:47] pkit commented on #5420
It was the default...

[2022-07-14 17:49] Skarlso commented on #5420
Sorry, not following. `propagateASGTags` is false by default.

[2022-07-14 18:36] Skarlso commented on #5420
I don't recall. :) You might be right, I worked on a lot of other things. However, right now, it's false by default. :) I can't see any changes to the doc saying otherwise. But I might be wrong. :))

[2022-07-15 12:09] Himangini commented on #5508
Hello @dienha93 ,
This doesn't seem like `eksctl` issue to me. Any issues with parsing AWS configuration files, such as incorrect handling with certain options or hard-to-understand `INIParseError` errors, will need bug reports filed upstream in the [AWS Go SDK](https://github.com/aws/aws-sdk-go/issues). We heavily rely on AWS SDK to parse the config files.

[2022-07-15 14:09] nikimanoledaki opened #5511 "[Bug] `update` suite flake: fails to update to the next Kubernetes version"
The `update` test suite failed (intermittently) due to a failure to update to the cluster to the next Kubernetes version.

It was at v1.19 and should have updated to v1.20, but it didn't:
[code]

This occurred as part of other integration test flakes, such as #4514. These seem to be timeout errors.

[2022-07-15 14:15] isimluk opened #5512 "[Bug] `eksctl get iamidentitymapping` hangs forever when kubectl is not installed"
### What were you trying to accomplish?
I am trying to make cft usable for eks (as an interim before the real fix https://github.com/aws/containers-roadmap/issues/185)

### What happened?
 - I opened the AWS Cloud Shell
 - I installed eksctl
 - I run `eksctl get iamidentitymapping --cluster $CLUSTER_NAME --region=$OTHER_REGION`
 - hang forever

### How to reproduce it?
Open AWS cloudshell or any o

[2022-07-15 14:27] cPu1 commented on #5512
Can you rerun the command with verbose logging enabled (passing `-v4`) and paste the output, redacting any sensitive information? Are you able to connect to the cluster using other Kubernetes clients? Are you able to successfully issue commands using the AWS CLI in the same environment? How was the cluster created?

The title of the issue says that this happens when kubectl is not installed, but e

[2022-07-15 14:39] isimluk commented on #5512
Thank You for your help @cPu1. I am closing this issue as there the hang seems to be unrelated to eksct.

When I removed the kubectl from the cloudshell env, I was no longer able to reproduce this issue. When I tried to reproduce this in some other region, I have seen cloud shell hang in the middle of eksctl print-out, so the initial reproducer was perhaps not fault of the eksctl.

Thank You and o

[2022-07-15 14:49] cPu1 commented on #5512
No worries :slightly_smiling_face:. It was likely an issue with connectivity to the API server.

[2022-07-15 14:49] #5512 closed

[2022-07-18 12:52] obitech opened #5514 "[Help] eksctl + cluster-autoscaler: scale-up from minSize=0"
I'm having trouble getting the cluster-autoscaler to work with a node group of minSize: 0. I’ve followed the [eksctl docs](https://eksctl.io/usage/autoscaling/#scaling-up-from-0) on the topic and set my labels and taints as tags on the nodeGroup definition:

[code]

Checking the node group in the AWS console, the tags and taints seem to be correctly set on the node group itself.
However, the autos

[2022-07-18 15:28] #5511 closed

[2022-07-18 15:34] Himangini commented on #5473
@shyam-ks is there anything particular you are looking for?

[2022-07-19 10:42] Himangini commented on #4454
@cPu1 what is required to resolve this. Are we waiting for anything from aws?

[2022-07-19 10:44] Himangini commented on #4981
@ndegory are you still working on this? you had a PR open but seems like it's closed?

[2022-07-19 10:49] #5356 closed

[2022-07-19 13:24] Himangini commented on #5420
We will investigate this issue and also check the default setting for `propagateAsgTags`, and if there are documentation changes required we will add those accordingly.

[2022-07-19 15:02] doctorpangloss commented on #5256
Here's a PR you can review: https://github.com/weaveworks/eksctl/pull/5520

[2022-07-19 15:14] cPu1 commented on #5256
@doctorpangloss, the original behaviour of allowing creation of Windows GPU nodegroups was an oversight. The validation was later added to avoid giving the illusion that Windows GPU nodegroups are supported out of the box, when in fact, EKS optimized Windows AMIs do not ship with the GPU drivers installed. So we're planning to address this change in behaviour by evaluating adding support for insta

[2022-07-19 15:19] doctorpangloss commented on #5256
That's a different scope, no?

You should remove the validation for now, because it is inaccurate. I can tell you more about installing the GPU drivers once the validation is removed and you create a work stream / ticket specifically for installing those drivers.

[2022-07-19 16:17] Himangini opened #5521 "[Task] Remove support for EKS 1.19"
### Description
As per the calendar for [Amazon EKS end of support](https://docs.aws.amazon.com/eks/latest/userguide/kubernetes-versions.html#kubernetes-release-calendar) August 1, 2022 is the end of support for Kubernetes version 1.19

We need to remove support for 1.19 and modify any relevant docs wherever possible.
Reference PR - see [here](https://github.com/weaveworks/eksctl/pull/5073)

[2022-07-19 16:19] Himangini opened #5522 "[Task] Remove support for EKS version 1.20"
### Description
As per the calendar for [Amazon EKS end of support](https://docs.aws.amazon.com/eks/latest/userguide/kubernetes-versions.html#kubernetes-release-calendar) November 1, 2022 is the end of support for Kubernetes version 1.20

We need to remove support for 1.20 and modify any relevant docs wherever possible.
Reference PR - see [here](https://github.com/weaveworks/eksctl/pull/5073)

[2022-07-20 16:28] ajit-aws opened #5523 "eksctl EKS cluster creation fails with `dial tcp 3.217.2.141:443: i/o timeout` error"
I am using eksctl version: 0.105.0

when I create cluster using eksctl on ec2 user-data in us-east-1 region, I am intermittently getting error cluster creation stack failed to complete and it does not proceed to sub-task stack creation. Checking at cloudformation stack, I see that the stack was created successfully.

Following is the command and output of the command

 eksctl create cluster --name

[2022-07-20 22:05] kderck opened #5524 "[Feature] EKSCTL can create scheduled scaling rules"
### What feature/behavior/change do you want?

I would like to be able to control `Auto Scaling Groups` created by `EKS` with `eksctl`. We use a `Scheduled Scaling` a part of `ASG` to scale down the clusters after work hours to reduce cost It would be nice if we could include the scaling rules inside of the yaml.

### Why do you want this feature?

It would be able to track these rules as infrastr

[2022-07-21 09:49] #5106 closed

[2022-07-21 11:58] nikimanoledaki commented on #4514
[Run](https://github.com/weaveworks/eksctl-ci/runs/7400304269?check_suite_focus=true)
Step
[code]
Error
[code]
----

[Run](https://github.com/weaveworks/eksctl-ci/runs/7408754976?check_suite_focus=true)
Test
[code]
Error
[code]
---

Error stopped occurring after this for (so far) 2 runs.

[2022-07-21 14:01] neha-viswanathan commented on #5521
@Himangini I can work on this.

[2022-07-21 14:26] cPu1 commented on #5521
Please feel free to pick it up. I'll note that this is a time-bound task, so it'd be ideal to have a PR ready by the end of next week. It should be straightforward though.

[2022-07-21 15:10] nikimanoledaki commented on #5523
Hi! I just used the command that you shared with us and the cluster was created successfully. I was not able to reproduce the error. 😕

How frequently do you come across this issue? Did it start appearing recently?

`error creating Clientset` indicates that it fails to create the Clientset with which to connect to the EKS cluster ([here](https://github.com/weaveworks/eksctl/blob/2298d7ea2fb6ea5387

[2022-07-21 15:24] ajit-aws commented on #5523
You are right, it is not easily reproducible, it occurs around 1 out of 10 times. If you look at the command line output, at 2022-07-20 15:27:02 it shows cloudformation stack was not completed successfully and to look at cloudformation logs for error. If you look at the screenshot of the cloudformation stack, it was completed successfully so I am not sure why eksctl is giving error and where do I

[2022-07-21 17:15] Himangini commented on #5521
Thanks Neha. 🎉 We're happy to accept PRs. Feel free to reach out to us if you need any help

[2022-07-21 21:28] pradeepnnv opened #5525 "[Feature] Tag subnets on AWS"
### What feature/behavior/change do you want?
When using an existing VPC to create an EKS cluster, observed that the tags to identify private/public subnets are not available.

Example:
Tags for a private subnet: aws-load-balancer-internal

This is causing the internal ELB to be associated to public subnets and vice versa.

Observed that kops is adding the tags. Please refer to https://github.com/

[2022-07-22 08:44] nikimanoledaki commented on #4514
[Run](https://github.com/weaveworks/eksctl-ci/runs/7460101756?check_suite_focus=true#step:8:5860)
Failed Test
[code]
Error
[code]

[2022-07-22 09:42] Himangini commented on #5256
@doctorpangloss As noted above by @cPu1 we decided that we will remove this validation and add a warning message instead to the user. Since you already have a PR open that removes the validation would you be able to add the warning message instead?

[2022-07-22 18:08] doctorpangloss commented on #5256
I could but you guys don't release how poorly I know golang.

[2022-07-25 02:13] #5438 closed

[2022-07-25 07:52] cPu1 commented on #5430
Does this help? Please let us know so we can close the issue.

[2022-07-25 07:58] cPu1 commented on #5452
@ecpullen, this should work. Please feel free to open a new issue if you have more questions.

[2022-07-25 07:58] #5452 closed

[2022-07-25 09:26] #5258 closed

[2022-07-25 10:31] Himangini commented on #5256
@doctorpangloss alright, we'll get the fix added. Can you please close your PR?

[2022-07-25 12:49] Himangini commented on #5509
@steffakasid can you share the contents of `cluster.yml` [sensitive info redacted of-course] so we can investigate this further, please?

[2022-07-25 13:01] steffakasid commented on #5509
[code]

Here it is.

Regards
Steffen

[2022-07-25 15:55] doctorpangloss commented on #5256
done thank you!

[2022-07-26 09:02] piyumisudusinghe commented on #321
I got a similar issue in windows when creating a cluster in terminal using eksctl

Error: checking AWS STS access – cannot get role ARN for current session: operation error STS: GetCallerIdentity, https response error StatusCode: 403, RequestID: af1e7e9f-19fd-4e54-8873-1ee6a2e55a6c, api error SignatureDoesNotMatch: The request signature we calculated does not match the signature you provided. Chec

[2022-07-26 11:33] Himangini commented on #5522
@neha-viswanathan please hold off on this one. We'll confirm the dates towards the end of October for the end of support.
Please check out another issue if you fancy. Thanks for your contribution 🎉

[2022-07-26 19:28] CrisNevares opened #5544 "[Bug] eksctl get nodegroup fails to return StackName for a single nodegroup"
### What were you trying to accomplish?

Retrieve the StackName of a specific managed nodegroup in EKS using `eksctl get nodegroup` with the `--name` flag.
### What happened?

eksctl failed to retrieve the StackName of a nodegroup when using the `--name` flag
[code]
Excluding the `--name` flag, however, successfully returns the StackName for all nodegroups in the cluster
[code]
### How to reproduc

[2022-07-26 19:34] CrisNevares commented on #5219
@Skarlso fyi -- I just created issue #5544 that sounds like it might be related to this (sorta similar behavior to #5217)

[2022-07-28 17:10] JayG-EBSCO commented on #4454
Running into this problem as well.

[2022-07-28 17:42] JayG-EBSCO opened #5551 "Applying Tags to Log Groups"
### What help do you need?

We are using a config file with eksctl 0.95.0 to build our clusters. As part of such, we are enabling all cloudwatch logging for a cluster. When the build occurs, the tags we pass to the cluster are added to the cluster itself, but the log group does not get tagged.

I've looked through the config file schema and have not seen any option to pass tags to the log groups l

[2022-07-29 02:13] #5455 closed

[2022-07-29 07:05] cPu1 commented on #5551
There's no field / CLI option to propagate tags to the CloudWatch log group.

This is not supported, and not something we're planning to support. The CloudWatch Logs log group is created by EKS which offers no control over its creation. If you're looking to identify log groups associated with a cluster, the log group name's format is `/aws/eks/<cluster>/cluster`.

[2022-07-29 09:27] #4779 closed

[2022-07-29 13:35] JayG-EBSCO commented on #5551
Thanks for the quick reply. Looks like we'll be writing some automation for it then.

[2022-07-29 13:35] #5551 closed

[2022-07-29 20:58] Pitta opened #5554 "[Help] Use intent behind inclusion of Karpenter?"
I have been trying to use `eksctl` to get a very base cluster up and running. No Nodegroups, just a single Fargate profile stamped out for Karpenter based on the docs.

With updated tools as of today, with no changes to `coredns`, `coredns` scheduled on Fargate just fine.
With the base Karpenter config in the `ClusterConfig`, Karpenter fails to deploy:

[code]

My questions are:

- Why is this fai

[2022-07-29 21:23] adamjohnson01 commented on #5525
I would also really like this feature. I am happy to implement it.

[2022-07-31 02:13] #5473 closed

[2022-07-31 02:13] #4981 closed

[2022-07-31 13:42] johnfelipe opened #5556 "[Bug] ReadString: expects " or n, but found 1, error found in #10"
[code]
and show me this

[code]

how solve this issue?

[2022-07-31 13:44] johnfelipe commented on #5556
version: "1.22"

solved

[2022-07-31 13:44] #5556 closed

[2022-08-01 11:09] cPu1 opened #5557 "[Bug] publish-docs GitHub workflow fails to push to the `docs` branch"
The last run failed with an error:

https://github.com/weaveworks/eksctl/runs/7576399914?check_suite_focus=true

[2022-08-01 17:20] Himangini opened #5562 "[Task] Update Karpenter to v0.13.2"
### Description

Atm, we have Karpenter versioned pinned to 0.9.0. Upgrade this version to [0.13.2](https://github.com/aws/karpenter/releases/tag/v0.13.2)

Previous Reference ticket: #5023

Edit 18-08-2022:
AWS notified us of a new stable release of v0.15.0 yesterday so we'll be updating the minimum supported version to `0.15.0`

[2022-08-01 18:07] samirshaik commented on #2943
This thread seems to be old, but I have hit the same problem with my EKS Cluster name having "underscores". Following command breaks with same error as OP.

[code]

Error is below
[code]

[2022-08-02 08:58] Callisto13 commented on #2943
Sadly as noted extensively above and elsewhere, this is an error from CloudFormation in AWS that we cannot work around without some tough and brittle hacks.
Perhaps a massive banner warning in the docs not to name clusters like that would be helpful here? Although given it looks like you are bringing a cluster that you did not create with eksctl, this would not have helped you.

[2022-08-02 09:18] emboss64 opened #5564 "[Feature] Include permissionBoundary for eksctl create iamserviceaccount"
### What feature/behavior/change do you want?
Currently when using the `eksctl create iamserviceaccount` there's no option to attach a permission boundary to the IAM role, feature which is available when creating service accounts with config files

### Why do you want this feature?
Gain the ability to create serviceaccounts purely through CLI without the need of creating config files

[2022-08-02 10:02] MartinEmrich opened #5565 "eksctl update addon does nothing"
### What were you trying to accomplish?

after control plane update, update addons as well:

[code]

relevant portion of my config file:

[code]

### What happened?
Nothing, the version stayed the same.

### How to reproduce it?
* have a cluster with non-current addon versions
* run above command

**Versions**

[code]

I had expected this to just update the addons to the standard versions respecti

[2022-08-02 10:11] samirshaik commented on #2943
The cluster was created using Terraform. I am thinking the check to verify cluster name and stop should be added in AWS API that Terraform would be using. Let me bring this up with our AWS partners and see if this could be handled.

If Cloudformation has this limitation, then AWS apis should not even let the cluster be created with name that CF doesn't like eventually. And frankly it's so obvious

[2022-08-02 11:56] Himangini commented on #5544
@CrisNevares thanks for reporting this issue with a nicely detailed description 🎉  we'll investigate and aim to fix this soon.

[2022-08-02 12:00] Himangini commented on #5525
@pradeepnnv thanks for the feature request. ✨
@adamjohnson01 thanks for the interest in implementing this feature, we're happy to accept contributions from the community 🎉

[2022-08-02 15:50] mikestef9 opened #5568 "EKS add-ons configuration"
Target launch: 9/30

https://quip-amazon.com/Uf4FAKI85VPS/EKS-Addons-Advanced-Configuration-API-Models-and-UX

[2022-08-03 01:49] aaronfeng opened #5569 "[Help] Unable to auth after upgrading"
I recently upgraded from `0.71` to `0.108.0-rc.0`.  I am receiving the following message when trying to list the nodegroups:

[code]

However, in the same exact terminal, if I downgrade to `0.71` again, that command works just fine.  I tried a few random version greater than `0.71`, I'm getting the same result.  Any idea what's going on here?  I don't believe this is an IAM issue, since I'm setup

[2022-08-03 12:52] Himangini commented on #5557
Seems like a permissions issue with Weaveworks bot [needs investigated]. If we can't add more permissions to our bot then we might need to think of a different approach to publishing docs.

[2022-08-03 13:39] cPu1 commented on #5387
@przemolb, this use-case is covered by the `managedNodeGroup.releaseVersion` field, which instructs eksctl to use the specified AMI release version for the nodes. More details on the available versions can be found on [Amazon EKS optimized Amazon Linux AMI versions](https://docs.aws.amazon.com/eks/latest/userguide/eks-linux-ami-versions.html).

[2022-08-03 13:52] aaronfeng commented on #5569
I am able to run

[code]

[2022-08-03 15:41] matti opened #5570 "do not wait for coredns if there are no nodegroups is broken"
### What were you trying to accomplish?

Create a cluster without nodegroups, this was recently fixed in https://github.com/weaveworks/eksctl/pull/5458

### What happened?

In https://github.com/weaveworks/eksctl/pull/5458 the change is tested by @Skarlso with:

[code]

But, after this test @cPu1 requested changes https://github.com/weaveworks/eksctl/pull/5458#discussion_r904736071, where:

[code]

[2022-08-03 15:44] matti commented on #5438
@Himangini still broken https://github.com/weaveworks/eksctl/issues/5570

[2022-08-03 16:38] cPu1 commented on #5570
Thanks for testing and flagging this. Even the original condition was not quite correct.

The condition you've suggested does not account for nodegroups with no nodes (`desiredCapacity: 0`).

It should be

[code]

[2022-08-03 16:40] matti commented on #5570
okay, I just verified that my condition works in https://github.com/weaveworks/eksctl/pull/5571 but changing that now to !a.clusterConfig.HasNodes() then

[2022-08-03 16:46] matti commented on #5570
PR updated

[2022-08-03 17:42] steffakasid opened #5573 "[Feature] Allow to manage vpc.extraCIDRs on existing clusters"
### What feature/behavior/change do you want?

Provide the possibility to change `vpc.extraCIDRs` on existing clusters.

### Why do you want this feature?

We have a cluster with:
[code]

All team-members which are allowed to connect to that cluster are added within `vpc.extraCIDRs`. From time to time someone leaves or joins the team and therefore we need the ability to manage  the `vpc.extraCIDRs

[2022-08-03 19:08] aaronfeng commented on #5569
ok I think I figured out the issue.  I used env vars like `AWS_PROFILE`, `AWS_ACCESS_KEY_ID`, `AWS_SECRET_ACCESS_KEY`, `AWS_SESSION_TOKEN`.  However it seems (my theory) newer version of `eksctl`  only reads from `~/.aws/credentials` except for `AWS_PROFILE`  from the environment.  Once I added my profile to `~/.aws/credentials` it started to work.  However, this was not the behavior for version `

[2022-08-03 19:08] #5569 closed

[2022-08-04 05:10] przemolb commented on #5387
@cPu1
from what I've been told it looks like one cannot use both `enableSsm: true` _and_ specify AMI version in the `eksctl` YAML file.
If this is not true - can you please show me working example of the YAML file which includes both `enableSsm: true` and `managedNodeGroup.releaseVersion` ?

[2022-08-04 07:39] cPu1 commented on #5387
You cannot specify a custom AMI (`ami` field) with `enableSsm` but you can specify a `releaseVersion`. The release version is not the same as an AMI ID. It has the format `k8s_major_version.k8s_minor_version.k8s_patch_version-release_date`. Here's an example config:

[code]

[2022-08-04 12:00] nikimanoledaki commented on #5420
I just tested all these scenarios with eksctl `0.106.0`. Here are the results:

**Unmanaged Nodegroups**

1.  `tags` set, `propagateASGTags` not set
The tags were propagated as ASG tags.

2.  `tags` and `propagateASGTags` set
The tags were propagated as ASG tags.

3.  `labels` and `taints` set, `tags` not set, and `propagateASGTags` set
The labels and taints were propagated as ASG tags.

**Managed

[2022-08-04 14:46] nikimanoledaki opened #5575 "[Story] Propagate labels and taints to ASG with `propagateASGTags` for managed nodegroups"
### Description

This is a follow-up to https://github.com/weaveworks/eksctl/issues/5420 and https://github.com/weaveworks/eksctl/issues/3961.

The aim is to update `propagateASGTags` so that its behaviour with managed nodegroups is the same as with unmanaged nodegroups e.g. labels and taints should also be propagated as ASG tags.

### Scope

- This is for managed nodegroups to propagate labels+ta

[2022-08-04 14:46] nikimanoledaki commented on #5420
Added a PR to update the docs to reflect the current state of eksctl. Hopefully this makes things clearer regarding the difference between managed vs unmanaged nodegroups. It also clears up the behaviour of `tags`, which are propagated by default for unmanaged nodegroups but NOT for managed nodegroups. Thanks @YDKK for pointing this out and everyone for your feedback!

Lastly, I opened an issue so

[2022-08-04 15:33] youwalther65 commented on #5443
This can be closed because this issue provides the answers needed and proposes to update documentation regarding this. [https://github.com/weaveworks/eksctl/issues/5420#issuecomment-1205159412](url)

[2022-08-04 18:20] Pitta commented on #5554
Well, with the realization that `eksctl` is an imperative tool, and not declarative config... I'm going to be relegating it to just bootstrapping and calling it a day.

[2022-08-04 18:20] #5554 closed

[2022-08-05 03:44] anthony-tgc opened #5576 "[Help] The number of nodes found using 'eksctl get' does not match the actual number of nodes."
There was a problem with the node(ec2 instance) in the EKS I operate, so I deleted it with the kubectl command.

And I checked with eksctl and found a problem that the number of 'DESIRED CAPACITY' does not decrease.

I want to synchronize it, but what should I do?

[2022-08-05 03:55] #5576 closed

[2022-08-06 16:03] RobertLucian opened #5577 "[Bug] Taints not added to unmanaged nodegroups"
### What were you trying to accomplish?

Trying to get the node taints to be applied to the Nodegroup's nodes when creating a cluster with `eksctl` from a given config file.

### What happened?

No error messages, but the nodes don't have their respective taints applied as it is specified in the eksctl config file. Here's an example of a `kubectl describe node <node-with-taints>`:

[code]

### How

[2022-08-08 08:12] cPu1 commented on #5577
[code]

When you specify `overrideBootstrapCommand`, you're responsible for passing any taints to `--kubelet-extra-args`, just like you passed labels for the node.

[code]

Alternatively,

[code]

I'm removing the bug label as this is the expected behaviour.

[2022-08-08 12:33] RobertLucian commented on #5577
@cPu1 I see. That's good intel. I'm gonna give this a try then. And yeah, updating the documentation and the examples would definitely help with this use case in the future. Thanks a lot!

[2022-08-08 14:30] #5521 closed

[2022-08-08 17:45] Himangini opened #5585 "[Task] Increase test coverage of addons"
### Description
Increase test coverage for addons.

There are a few places tests are missing. See https://github.com/weaveworks/eksctl/issues/5570, https://github.com/weaveworks/eksctl/pull/5571, https://github.com/weaveworks/eksctl/pull/5458
These PRs don't add any tests and verifying this functionality is purely based on manual testing

[2022-08-08 18:03] #5570 closed

[2022-08-10 00:38] mikestef9 commented on #735
We have no intention of adding this level of advanced security group management to eksctl, as this goes beyond the scope eksctl's focus of managing eks clusters.

Our recommendation is for this use case is to manage security groups outside of eksctl with other tools (Terraform, CFN, ACK, etc), and leverage the existing `securityGroups.attachIDs` feature that has been previously mentioned.

[2022-08-11 02:12] #5468 closed

[2022-08-11 06:04] matti opened #5605 "cloudwatch logging can not set retention"
### Why do you want this feature?

First of all, I know this is not directly related to eksctl, but I still think that eksctl could make this smoother.

My nodes have:
[code]

When I install https://github.com/aws/eks-charts/tree/master/stable/aws-for-fluent-bit chart there is a helm value to set `cloudWatch.logRetentionDays:` which is "never" by default. If I set this value in the chart, then the

[2022-08-11 06:39] youwalther65 opened #5606 "IRSA setup for EKS managed add-on "vpc-cni" without relying on node IAM permission does not always work [Bug]"
### What were you trying to accomplish?

Create an EKS cluster with IRSA setup for EKS managed add-on "vpc-cni" without relying on node IAM permission:
[AmazonEKS_CNI_Policy](https://us-east-1.console.aws.amazon.com/iam/home#/policies/arn:aws:iam::aws:policy/AmazonEKS_CNI_Policy)

### What happened?

Sometimes ServiceAccount "aws-node" which is used by corresponding DaemonSet "aws-node" is not IRS

[2022-08-11 08:51] nikimanoledaki commented on #5565
Hi @MartinEmrich, you need to declaratively set the version. When a version is not set, it preserves the existing version.

[code]

I hope this helps :)

We added some helpful [logs](https://github.com/weaveworks/eksctl/blob/main/pkg/actions/addon/update.go#L37) around this for when `addon.Version == nil` but since it is not in the output that you provided, that is a bug. 🤔 I think it is because w

[2022-08-11 09:14] MartinEmrich commented on #5565
Hello @nikimanoledaki!

That makes sense. Is there an alias for the "current" or "recommended" version similar to `latest` for the latest version?
In the Web UI, AWS makes that distinction, and as I understand it, it is recommended to use that version instead of the latest version for production workloads.

As for the missing log line: I am not a Go developer, but could it be that in the line you

[2022-08-11 09:38] cPu1 opened #5607 "[Task] Make EKS 1.23 the default"
After EKS 1.23 is out and made the default in the EKS console, eksctl should switch to EKS 1.23 as the default version.

Reference PR: https://github.com/weaveworks/eksctl/pull/5136

[2022-08-11 13:09] nikimanoledaki opened #5608 "[Task] Upgrade `k8s.io/kubernetes` dependency"
https://github.com/weaveworks/eksctl/pull/5604 upgraded the `k8s.io/kubernetes` dependency from 1.19, which is no longer supported by EKS, to 1.20.

This ticket is to decide if we want to keep the version pinned at all. If we do, then which one?

If we do want to pin it, one option is to keep it the same as eksctl's default k8s version (currently 1.22).

### Note
It is not possible to only pin `k8

[2022-08-11 14:25] #5557 closed

[2022-08-11 16:46] #735 closed

[2022-08-12 02:36] MartinEmrich commented on #5368
/remove-label stale

[2022-08-12 07:59] cPu1 commented on #5503
Please let us know if this answers your question so we can close the issue.

[2022-08-12 08:29] cPu1 commented on #735
For future readers, an example ClusterConfig using `attachIDs` can be found in [examples/15-managed-nodes.yaml](https://github.com/weaveworks/eksctl/blob/main/examples/15-managed-nodes.yaml#L21).

[2022-08-12 09:59] nikimanoledaki commented on #5514
Hi! Sorry for the delay in getting back to you. I recommend making the following changes:

[code]

Please let me know if this solved the issue for you :)

I have a PR open to improve the docs around this that should be out soon.

[2022-08-12 10:00] adelwin commented on #1096
i can think of 1 use-case where this is desirable,

EKS as a service consumes alot of IPs,

if we're deploying into a VPC not with that in mind, we maybe faced with a situation where the subnets doesn't have enough IP to handle all the pod-IPs.

[2022-08-12 10:17] #5420 closed

[2022-08-12 14:24] skymoore opened #5613 "[Bug] Cannot add new addons via config yaml"
### What were you trying to accomplish?

Tried adding aws-ebs-csi-driver addon as a new addon to the cluster via the config yaml.
[code]
### What happened?

The addon was not created.  It ignored the new addon.
[code]
### How to reproduce it?

1. create a cluster with:
[code]
2. add a new addon to the cluster config
[code]
3. run the command mentioned in [the docs](https://eksctl.io/usage/addons/)

[2022-08-12 15:05] avinashupadhya99 commented on #5465
Hi, I'd like to work on this. Should I add a check to see if the subnet is present as a private subnet in the AWS account or is just having a check if `privateNetworking` is not set and display a message like
[code]
sufficent?

[2022-08-13 12:10] defyjoy commented on #1096
This is a very important case that we provide alternate CIDR support without those manual eniconfigs and hassle . eksctl should be able to support that and also it helps us in overcoming two problems

1. We don't want to pollute and waste lots of IPs in main subnet which we want to keep it smaller and not huge chunk like /18 or/19 just for EKS
2. We want to get rid of those manual configurations t

[2022-08-15 00:50] jlandowner opened #5614 "[Feature] Remove stack name prefix from IAM Role inline policy name created by well-known policy to extend a length of EKS Cluster name"
### What feature/behavior/change do you want?

When creating iamserviceaccount with well-known policy, the created IAM Role inline policies have the stack name prefix.
Actually IAM Role inline custom policy does not need the prefix to be unique in the role.
My suggestion is to remove the stack name prefix from IAM Role inline policy name.

The purpose of the prefix seems to be to make the resource

[2022-08-15 06:46] nevotheless commented on #5318
I also have this issue with version `0.107.0-dev+b204c3ce.2022-07-29T12:46:37Z`.

[2022-08-15 07:50] GDdark opened #5616 "[Help] readiness and liveness HttpGet not work"
Readiness config in deployment.yaml:
![AFw4pjmv2M](https://user-images.githubusercontent.com/15982894/184596030-5dabe541-a942-4894-85bf-0c05d977bbf4.jpg)

After applying and I get an error:
![mk8o9ZnNQ7](https://user-images.githubusercontent.com/15982894/184596411-0aeccf2e-acd3-40eb-810b-e5c5e4c3df5f.jpg)

But I access my node and try to curl the URL, and it works:
![image](https://user-images.git

[2022-08-15 10:58] Thomas999999 opened #5617 "Add support for kubernetes version 1.23"
Hi,
AWS released 1.23 for EKS cluster but the latest version of eksctl does not support 1.23, but we need it urgently:

[36m2022-08-15 10:35:42 [ℹ]  eksctl version 0.108.0
null_resource.terraform_eks (remote-exec): [0m[36m2022-08-15 10:35:42 [ℹ]  using region eu-west-1
null_resource.terraform_eks (remote-exec): [0mError: invalid version, supported values: 1.19, 1.20, 1.21, 1.22

Thanks

[2022-08-15 18:12] matti commented on #5605
https://github.com/aws/eks-charts/issues/436

[2022-08-15 18:28] matti commented on #5605
workarounding with:

[code]

[2022-08-16 08:23] GDdark commented on #5616
I found the solution.

Just set timeoutSeconds as a more extended period

https://github.com/kubernetes/kubernetes/issues/89898#issuecomment-1028654403

[2022-08-16 08:24] #5616 closed

[2022-08-16 09:56] cPu1 commented on #5256
I have edited the title to relax the validation for Ubuntu nodegroups as well.

[2022-08-16 12:33] Himangini opened #5628 "[Task] Update release drafter"
### Description
Our release drafter is quite buggy and cumbersome at times. It needs some TLC.
If there's a better alternative then we should probably try that to improve our release process.

[2022-08-16 13:08] hardillb opened #5629 "[Feature] Add support for removing specific nodes from eksctl managed node groups"
### What feature/behavior/change do you want?

I want to be able to remove a specific node from a node group when scaling groups down (or to replace a specific node in a group [expand the group by 1 node, drain the workload and then remove the given node returning the node group to the planned size]).

As the whole cluster was setup and managed via eksctl it would be nice to be able to do this all

[2022-08-16 13:43] Himangini commented on #5608
As discussed in planning we will pin the `k8s.io/kubernetes` dependency to `1.22` as part of this ticket.

[2022-08-16 17:02] andrei-dascalu opened #5630 "[Bug] EKSCTL doesn't recognise new nodegroup after failing to create one with bad configuration"
### What were you trying to accomplish?

Create an IPv6 cluster

### What happened?

In my config.yaml, I had added a simple nodeGroup (which is unmanaged). Cluster creation stops with Eksctl saying

[code]

Following this, I tried to fix the config by changing to managedNodeGroups and running `upgrade`, however on upgrade eksctl claimed everything is fine

[code]

### How to reproduce it?

Setup

[2022-08-16 17:40] andsus opened #5631 "eksctl create iamserviceaccount returns error only one argument is allowed to be used as a name"
Steps:
1. eksctl version
0.108.0
2. eksctl create iamserviceaccount ––cluster=celestials ––name=prodcatalog-envoy-proxies ––namespace=prodcatalog-ns ––attach-policy-arn=arn:aws:iam:116666666666:policy/ProdEnvoyNamespaceIAMPolicy ––override-existing-serviceaccounts --approve
2022-08-16 10:38:26 [✖]  only one argument is allowed to be used as a name

[2022-08-17 06:13] lukemarsden opened #5632 "delete failed, costing me money"
[code]

[2022-08-17 06:45] cPu1 commented on #5632
Can you share the events for the CloudFormation stack `eksctl-helix-cluster-nodegroup-ng-1`, using the AWS Console or via [aws cloudformation describe-stack-events](https://docs.aws.amazon.com/cli/latest/reference/cloudformation/describe-stack-events.html)?

As a workaround, you can try deleting the CloudFormation stack `eksctl-helix-cluster-nodegroup-ng-1` manually and run  `eksctl delete cluster

[2022-08-17 07:00] cPu1 commented on #5631
[code]

The `cluster` argument here is using en dash (`–`) instead of hyphens (`-`), causing eksctl to interpret it as a name argument. It appears the the command was copied from somewhere with formatting. The correct syntax is:

[code]

[2022-08-17 07:26] cPu1 commented on #5630
`eksctl upgrade cluster` upgrades the control plane to a newer version, it does not attempt to create any new nodegroups defined in the ClusterConfig. To add new nodegroups, you'll have to run `eksctl create nodegroup`.

[2022-08-17 07:51] cPu1 commented on #5613
This is indeed a bug in `eksctl create addon`. Instead of filtering out addons that already exist in the cluster, it's attempting to recreate them, resulting in a 409 error.

Thanks for opening a detailed issue. We'll prioritise fixing this bug.

[2022-08-17 12:30] #5256 closed

[2022-08-17 14:08] skymoore commented on #5613
Thank you for fixing this, and the reply. :)

[2022-08-17 15:52] mkl262 opened #5633 "[Bug] Wrong DNS in container running in a managed nodes in a cluster with custom service CIDR"
Hi,

Im trying to create a cluster with 2 node groups, one managed with spot instances, and another one with unmanaged nodes.
The cluster is also configured with `serviceIPv4CIDR: 10.255.0.0/16`, (rest of config is attached bellow.)
When pods start in the unmanaged nodes, they run without problems and have the correct coredns service IP in resolv.conf.
But when pods run in the managed nodes, they

[2022-08-17 17:58] KostyantynG commented on #319
Hey, jimmyraja000

I had the same error before. Try to add AdministratorAccess policy to your IAM role. See if it works.

[2022-08-17 23:12] Pitta commented on #5562
May as well make it `0.15.0` since it seems like they solved for the CoreDNS problems with bootstrapping.

IMO this is a major useability hurdle for EKS + Karpenter, and tracking the newer versions is a must.

[2022-08-18 08:23] vikas027 commented on #5617
Just tried it, works like a charm.

[2022-08-18 12:12] matti commented on #5632
it fails every now and then, that's why I have extensive retry-until-success in my wrapper https://github.com/matti/eksler/blob/13c035133ca1909678a5c47476cfee18b92b34c6/bin/eksler#L210-L235

[2022-08-18 13:52] Himangini commented on #5562
@Pitta Yup that's the plan, we already have a PR for this. 🎉

[2022-08-18 14:48] skymoore commented on #5613
@cPu1 Appreciate that.  Please also see my workaround above in the issue description.  Neither workaround is satisfactory because the idea is infrastructure as code.  So If I have to omit stuff that's already represented in the cluster from the code to get it into the desired state, that's not ideal.

[2022-08-18 15:07] cPu1 commented on #5613
@skymoore, we are going to fix this bug. I suggested a workaround in the meantime for anyone else facing this issue.

[2022-08-18 15:24] #5562 closed

[2022-08-19 14:27] skymoore commented on #5613
@cPu1 Thank you.

[2022-08-20 06:11] Skarlso commented on #4351
The decision is, apparently, that because this is a breaking change it will not be done.

[2022-08-22 06:21] vsnishad commented on #5489
I second this as well. Thanks for looking into it!

[2022-08-22 18:23] RobertLucian commented on #5577
@cPu1 so it did work. Thanks a lot!

[2022-08-23 07:39] obitech commented on #5514
Unfortunately the issue persists 😞 I forgot to mention it's a managed nodegroup, might that be the issue?

[2022-08-23 08:19] nikimanoledaki commented on #5514
Yes, `propagateASGTags` has a slightly different behaviour for managed nodegroups (we have an open ticket to unify the behaviour for managed and unmanaged nodegroups). Currently, with `propagateASGTags` set to `true`, the labels and taints of managed nodegroup are not converted to nodegroup tags so they have to be added manually, like what you were doing before:
[code]

The important part here is

[2022-08-23 09:18] obitech commented on #5514
That did in fact work! Thank you for your help @nikimanoledaki 😌

[2022-08-23 09:18] #5514 closed

[2022-08-23 13:16] #5617 closed

[2022-08-23 13:27] TiberiuGC commented on #5633
Thanks for reporting this issue. I have managed to reproduce this and I am working on understanding whether `eksctl` is at fault here. I wasn't able to find a workaround for this atm. I will post more updates, thanks for your patience.

[2022-08-24 11:25] #5544 closed

[2022-08-24 12:20] zhaojiew05955 opened #5645 "[Bug] policy error when use eksctl to create a cluster for ipv6 family in china region"
### What were you trying to accomplish?

I want to use eksctl to create a cluster for ipv6 family in china region

### What happened?

An error occured
2022-08-24 12:00:23 [!]  1 error(s) occurred and cluster hasn't been created properly, you may wish to check CloudFormation console

I already know the reason for the error. There is something wrong with the policy in the reference document in Chin

[2022-08-24 12:36] TiberiuGC commented on #5645
Hi @zhaojiew05955 , thanks for raising this! Fortunately, we have a very kind contributor who's already opened [a PR](https://github.com/weaveworks/eksctl/pull/5644) to fix this. I've just linked this issue to that PR.

[2022-08-24 19:58] bhops commented on #4030
Is it possible to revisit this for addons other than core-dns? I'll explain why this may be useful.

I am trying to launch clusters with custom networking as well as the `aws-ebs-csi-driver` and `coredns` addons installed. One of the requirements for setting up custom networking is that you must cycle your nodes after the configuration changes to have been made. I was hoping to achieve this by lau

[2022-08-24 23:27] pcharlan commented on #5492
I believe this still needs attention, and should not be marked stale.  I have just reproduced this with version `0.109.0-dev+78243b4c.2022-08-19T12:48:07Z` using the small recipe above.

[2022-08-25 01:38] tnh commented on #5524
Plus 1 on this - having the ability to apply scheduled scaling rules within eksctl can allow us to program scaledown events for dev clusters to save money.

[2022-08-25 03:11] tanvp112 opened #5647 "[Feature] Wildcard support in Amazon EKS Fargate Profile Selectors"
Please consider supporting this new feature: https://aws.amazon.com/about-aws/whats-new/2022/08/wildcard-support-amazon-eks-fargate-profile-selectors/

[2022-08-25 20:58] cthrasher opened #5649 "[Feature] Support KubeletExtraConfig for Windows nodegroups"
When trying to create a Windows nodegroup, I got the error:

[code]

However, the [aws-eks-best-practices](https://aws.github.io/aws-eks-best-practices/windows/docs/oom/) documentation specifically calls out the need to do this to get around the lack of an out-of-memory process killer in Windows itself:

The CloudFormation template referenced in that documentation takes the kubelet arguments as a

[2022-08-25 21:24] cthrasher opened #5650 "[Feature] Support Private-Endpoint Cluster Creation when VPC already exists"
Part of the discussion in #5503 revolves around eksctl needing to be able to reach the cluster API endpoint to join nodes to the cluster:

It is explained that network connectivity to the VPC is required if public endpoint access is disabled:

However, in cases where the VPC already exists, it is highly likely that VPC access is also set up. In our case, we have direct VPC access via Transit Gatew

[2022-08-26 00:01] jagu-sayan commented on #5613
The work around not working for IPv6 cluster, I got:
[code]

[2022-08-26 07:23] cPu1 commented on #5613
That makes sense, that validation is performed before attempting addon creation. If it's urgent, you can work around this by placing the `aws-ebs-csi-driver` addon first in the `addons` list. eksctl should be able to create that addon but the command itself will fail with "Addon already exists" error. But this is a temporary workaround. Please give us some time, we are going to prioritise fixing t

[2022-08-26 08:12] TiberiuGC commented on #5647
Hi @tanvp112! Thanks for opening this feature request 👍 The team will review and see whether this functionality fits in with the project. In the meantime, if you would like to demonstrate a solution, feel free to open a PR at any time 😃.

[2022-08-26 09:50] readybuilderone commented on #5523
I met the same issue, any update?

[2022-08-26 09:59] nikimanoledaki commented on #5523
Hi, we have come across this issue with the Kube API being unreachable in our CI as well though it happens quite rarely. It is in our backlog to investigate this further, though it is hard to reproduce. Please bear with us while we try to get to the bottom of this :)

[2022-08-28 06:54] andrei-dascalu commented on #5630
@cPu1 hi, thanks for the reply. I don't quite understand then how it's supposed to work with config.yaml

Config.yaml is supposed to provide a declarative way of configuring a cluster, right? If my first attempt fails, I would expect my second attempt (with a fixed configuration) to have a different result.

[2022-08-29 09:29] prasobhen opened #5652 "[Bug] Error: could not create fargate profiles: failed to create Fargate profile "fp-default" on EKS cluster"
Fargate profile is already its trying to create again after EKS cluster upgrade from 1.21 to 1.22

EKSCTL_VERSION=0.107.0

creating Fargate profile "fp-default" on EKS cluster "xxx-xxx-xx-eks"
2022-08-29T06:58:39.6404332Z Error: could not create fargate profiles: failed to create Fargate profile "fp-default" on EKS cluster "xxx-xxx-xx-eks": failed to create Fargate profile "fp-default": operation

[2022-08-29 16:04] mblum14 opened #5656 "[Feature] Support AWS ISO (US) partition's regions"
### What feature/behavior/change do you want?

Support for us-iso-east-1 and us-iso-west-1 regions

### Why do you want this feature?

unable to use eksctl for those regions

[2022-08-29 17:05] vflaux opened #5657 "[Bug] Unauthorized error when deleting a cluster"
### What were you trying to accomplish?

Delete a cluster which has iam service accounts.
`eksctl delete cluster -name my-cluster --wait`

### What happened?

I get an error when eksctl try to determine if the corresponding service account exists in the cluster.
[code]
The next run of `eksctl delete cluster` clean the cluster successfully.

Audit log shows that eksctl try to get the service accoun

[2022-08-30 02:13] #5430 closed

[2022-08-30 08:24] cPu1 commented on #5430
@shyam-ks, please open a new issue if you have any more questions.

[2022-08-30 12:21] Himangini commented on #5489
Thanks for your request, after discussing with the team we decided we won't be implementing this functionality anytime soon. The workaround exists and it's a bit complicated to find the right place in the schema to incorporate these settings. However, we are happy to accept PRs if you have a solution in mind.

[2022-08-30 12:56] Himangini commented on #5443
The link doesn't seem to be working,
Correct link here  - https://github.com/weaveworks/eksctl/issues/5420#issuecomment-1205159412
Closing this issue 👍🏻

[2022-08-30 12:56] #5443 closed

[2022-08-30 23:46] ZillaG commented on #925
Is this issue back?

[code]
I have a YAML configuration file that I sued to create my AWS EKS cluster that has the following
[code]
I want to delete my cluster and start over so I do
[code]
But get
[code]

[2022-09-01 07:28] prasobhen commented on #5652
Some one please check this error

[2022-09-01 08:19] cPu1 commented on #5652
@prasobhen, can you share your ClusterConfig file? This does look like a bug. We'll investigate the issue and get back to you soon.

[2022-09-01 10:31] tenevdev opened #5663 "[Bug] propagateASGTags with duplicate key for taints and labels"
### What were you trying to accomplish?

My unmanaged node groups are pretty verbose with tags, labels, and taints. I read about the `propagateASGTags` option and thought that I could remove a lot of tags from my configuration which duplicate the labels and taints.

### What happened?
When trying to create a node group I got the error `duplicate key found for taints and labels with taint key=value

[2022-09-01 12:18] mkl262 commented on #5633
@TiberiuGC Hi, Do you have an update by any chance?

[2022-09-01 12:50] matti commented on #5630
@andrei-dascalu your assumption is right, but eksctl seems to be designed in many ways so that a "happy path" run works like that, but every other case needs understanding what went wrong and how to fix it. eg. eksctl != terraform.

[2022-09-01 12:54] prasobhen commented on #5652
apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig
metadata:
  name: xxx-xxx-xx-eks  # EKS Cluster Name
  region: eu-central-1
  version: "1.22"
  tags:
    project: xxx
    environment: xxx
    map-migrated: d-server-xxxxxxxx
vpc:
  id: "vpc-xxxxxx"      # VPC ID created with Terraform. ID got from Terraform output
  # publicAccessCIDRs: ["1.1.1.1/32", "2.2.2.0/24"] #If Azure DevOps CIDR range is

[2022-09-01 17:40] ehousey commented on #5523
I am also seeing this - never before today but 3/3 attempts reproduced it. I noticed this morning that I could not start some of my instances right away due to a capacity problem on the AWS-side. Eventually I was able to start them.
But, I am not able to deploy an EKS cluster. The same error message keeps appearing

022-09-01 17:27:28 [ℹ]  waiting for CloudFormation stack "eksctl-test-eks-cluster"

[2022-09-01 19:14] ehousey commented on #5523
Update....on the 5th attempt, the cluster created successfully. This appears to be an AWS-related issue.

[2022-09-02 01:07] wvh opened #5664 "[Bug] template validation failed when nodegroup maxSize defaults to 0, as minimum required is 1"
Hello!

I was trying to create a cluster with two managed node groups. One node group failed template validation because `maxSize` was set to `0` while the minimum seems to be `1`.

This is the node group configuration:

[code]
This generates a template that has `minSize` set to `0` and `maxSize` set to 0. However, `/ManagedNodeGroup/ScalingConfig/MaxSize` needs to be at least 1 (minimum constrain

[2022-09-02 09:10] maxinfosoft opened #5665 "[Bug] EC2 not added to EKS"
I have successfully created a cluster in AWS with this command/file:

eksctl create cluster -f mycluster.yaml

[code]

ec2 was successfully created, but they were not added to the EKS cluster, so I get this message after the command
kubectl get nodes:
No resources found

Earlier with previous versions of eksctl (before 1.13) and kubernetes 1.21 there was no problem and ec2 was always added to EKS,

[2022-09-02 09:12] cPu1 commented on #5665
@maxinfosoft, do you have any logs you can share from the command? Can you confirm your kubectl is configured to use `my-cluster` and not some other cluster?

[2022-09-02 11:00] mbevc1 commented on #5562
We have 0.16.1 now as well

[2022-09-02 12:27] uchiha-pain opened #5669 "Where and how to mention api-server-endpoint and certificate-authority flags"
Hi, I am following the guide for [Private cluster requirements](https://docs.aws.amazon.com/eks/latest/userguide/private-clusters.html) to deploy private cluster. In the third requirement it says something like

I am not able to figure where and how to mention these flags in eksctl create cluster command or yaml file from past 2 weeks.

Please help me as I am really struggling with this.
Thanks

[2022-09-02 12:43] cPu1 commented on #5669
@uchiha-pain, you do not need to provide those options, eksctl takes care of that when using the [fully-private clusters](https://eksctl.io/usage/eks-private-cluster/) feature. Head over to the documentation to find more details.

[2022-09-02 13:30] dduenas commented on #5523
+1, i read that this is because ec2 instance type availability in the desired zone... it failed yesterday for me, and today is working.

[2022-09-02 14:26] uchiha-pain commented on #5669
Thank you @cPu1 for the very quick response. I got your point in the above comment. I have created the fully private cluster using the guide mentioned by you. I have a VPC called HSCN, it is fully private, no internet access. There are 2 public and 2 private subnets in this HSCN VPC. I want to create a cluster in the private subnet of this HSCN VPC. This HSCN vpc is peered with another VPC and it

[2022-09-02 20:51] maxinfosoft commented on #5665
- do you have any logs you can share from the command?
The command ended without error messages.

-Can you confirm your kubectl is configured to use my-cluster and not some other cluster?
Yes, I confirm that kubectl (kubectx) is configured for this cluster.

FYI, this console command did not help::
eksctl upgrade cluster -f .\my-cluster.yaml

[2022-09-04 21:21] Eternal21 opened #5671 "[Bug] Warnings issued when running eksctl create cluster --fargate"
### What were you trying to accomplish?
Create a Fargate backed EKS cluster using the following command:
`eksctl create cluster --name test --region us-east-1 --fargate`

### What happened?
The cluster was created successfully, but I noticed two warning messages in the output:
[code]

I did not see any warnings when running the same command without the `--fargate` flag.

### How to reproduce it?
R

[2022-09-05 08:20] cPu1 commented on #5665
Logs would still aid us in debugging the issue. Please share the logs if you have them.

Can you try deleting and recreating the nodegroup using `eksctl delete nodegroup -f mycluster.yaml` followed by `eksctl create nodegroup -f mycluster.yaml`?

[2022-09-05 13:07] walkley opened #5672 "[Bug] Not authorized to access pricing API errors in Karpenter log"
### What were you trying to accomplish?

Create EKS cluster with Karpenter support.

### What happened?

EKS cluster and Karpenter components were created, but have error messages in Karpenter controller log:
[code]

### How to reproduce it?

Create EKS cluster with following config file:
[code]

**Logs**

Log of Karpenter controller:
[code]

**Anything else we need to know?**

The IAM policy for

[2022-09-06 08:33] wangamel opened #5677 "[Bug] eksctl failed to create fargate profile in YUL when --fargate is included"
### What were you trying to accomplish?
Create EKS cluster with Fargate Profile in YUL

### What happened?
eksctl failed while creating fargate profile in YUL

### How to reproduce it?
Simply run below command
[code]

**Logs**
[code]

**Anything else we need to know?**
EKS Fargate currently does not support `ca-central-1d` AZ, but eksctl tried to use this AZ during profile creation. EKS Fargate bl

[2022-09-06 16:23] treyhyde opened #5679 "[Feature] Add support for using local disks as ephemeral-storage for AWS 'd' instance types"
### What feature/behavior/change do you want?
We should easily be able to to use the local NVMe disks on 'd' instances as kube ephemeral storage.

### Why do you want this feature?
These nodes are typically used for high-IOPS use cases.  In many cases, you will need to pay much much more to get lower performance in EBS.

instance classes with instance storage can be found:
https://docs.aws.amazon.

[2022-09-06 16:52] Himangini commented on #5677
Thanks for reporting this, we'll investigate soon. If you have a solution in mind we are happy to accept PRs. 👍🏻

[2022-09-07 02:14] #5564 closed

[2022-09-07 02:14] #5382 closed

[2022-09-07 02:14] #1805 closed

[2022-09-07 09:41] uchiha-pain opened #5681 "Issues running kubectl and eks commands in a fully private cluster"
I have created a VPC fully private (no direct internet access), let's call it VPC-A. This vpc is peer connected to another VPC, let's call it VPC-B. This VPC-B has internet connection and is being used as a gateway for VPC-A.
I have deployed a fully private cluster noly (not any node) in the private subnet of the VPC-A using the [guide](https://eksctl.io/usage/eks-private-cluster/). The problem is

[2022-09-07 11:16] Himangini commented on #5672
@walkley Good spot. We'll add the fix soon 👍🏻

[2022-09-07 21:44] mkarise commented on #4957
Can we reopen this issue?  @dbgoytia  This is still an issue. The create command adds duplicate entries for the same mapping in the configmap

[2022-09-08 07:17] TiberiuGC commented on #5509
Hey @steffakasid , are you sure you've shared the correct `cluster.yml` file. Asking because checking the output of your command I see that the first nodegroup that was successfully scaled is called `bizhub-1a-blue`, whereas in the provided config file there's no nodegroup named like this.

Now the error you're seeing is a validation error, which makes me think that you've been setting `containerR

[2022-09-08 14:36] pcolmer commented on #1030
I came across this issue because I'm trying to solve the challenge of parsing the Cost & Usage Report and figuring out which volume went with which EC2 instance.

Unfortunately that forum link doesn't work any more so I don't know what it said. Looking at other blog posts and the like, I can see that tags *and their corresponding values* can be set in the launch template.

But because they are fix

[2022-09-09 06:55] NaivePa commented on #5681
@uchiha-pain what do you mean **how can I define the EKS k8s API to the kubectl?** .you need to use the kubeconfig of the cluster which will have server address which the client (kubectl) will use to connect and that address should be accessible from that machine which is in the same vpc as of control plane K8s API.

[2022-09-09 09:43] #5628 closed

[2022-09-09 11:33] uchiha-pain commented on #5681
Thanks for your response. I ran a number of commands to check if anything is wrong with accessing the server address.
[code]
Another command is

[code]

And another is
[code]

It is clear that I can access the api server endpoints from my machine which is in the same vpc as the api server.
But still when I run the kubectl command I am getting this output

`Unable to connect to the server: net/http

[2022-09-09 11:57] #5608 closed

[2022-09-09 17:31] stmcginnis opened #5689 "[Bug] Incompatible with latest `kubectl` release"
### What were you trying to accomplish?

Attempting to create a new EKS cluster.

### What happened?

Creating a new EKS cluster on a new system, I had installed `kubectl` using the instructions on the [Linux install page](https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/#install-kubectl-binary-with-curl-on-linux):

[code]

This installs the latest stable release of `kubectl`, which ap

[2022-09-10 00:51] nandanrao opened #5690 "[Bug] auth ConfigMap role entry deleted when a node group deleted - even if used by another group"
Happy to try to reproduce this from scratch if this doesn't jive, but just wanted to start the conversation because it seemed pretty clear what was happening on our cluster:

1. Create a node group with:

[code]

2. Node group is created an (seemingly new feature?) auth ConfigMap is updated (mapRoles)

3. Everything happy.

5. Create a new nodegroup, same iam instancerole.

6. Delete the old nodeg

[2022-09-10 03:32] hgontijo commented on #5359
Hi, I'm facing the issue where eksctl fails to detect that a (unmanaged) nodegroup is created. The nodes are created however eksctl times out waiting for the nodes to be ready.

I did one test of manually adding the annotation `alpha.eksctl.io/nodegroup-name: <nodegroup>` to each node and then eskctl resumed properly.

Those tags are present on ASG and EC2 however they are not present on Node anno

[2022-09-10 06:19] Skarlso commented on #5359
Hi @hgontijo. Sorry, I'm no longer working on eksctl. I have no idea. :/

[2022-09-11 09:04] joeygo commented on #5633
Hello @TiberiuGC,
I'm facing the same issue.
Are there any updates on solving this issue or at least a workaround for this?

[2022-09-12 08:22] TiberiuGC commented on #5633
Hi @mkl262 , @joeygo!  Unfortunately I don't have an update right now, nor a workaround. Our team's capacity is quickly drained atm by some priority features, we're trying our best to deliver on our roadmap as-well as solving these painful issues. We do appreciate your patience.

[2022-09-12 08:54] Himangini commented on #5523
Closing this since it seems like an AWS-related issue. Please feel free to reopen if these timeout errors become more frequent.

[2022-09-12 08:54] #5523 closed

[2022-09-12 08:55] Himangini commented on #5397
Closing this issue since the PR related to this is merged and released.

[2022-09-12 08:55] #5397 closed

[2022-09-12 09:00] Himangini commented on #5387
@przemolb does the explanation mentioned [above](https://github.com/weaveworks/eksctl/issues/5387#issuecomment-1204884070) help? Please let us know if you have any other issues otherwise please close this issue. Thanks 👍🏻

[2022-09-12 09:15] przemolb commented on #5387
Thanks @cPu1, I think I can use this method.
Two questions though:
- why it is not possible to use custom AMI (ami field) with `enableSsm` ? Is it something in `eksctl` code or rather AWS API ?
- what is the easiest way to list all available `releaseVersion`s ?

[2022-09-12 14:07] adamjohnson01 commented on #4631
This has now been implemented! 🥳

[2022-09-12 14:23] cPu1 commented on #4631
Indeed. Closed by https://github.com/weaveworks/eksctl/pull/5464.

[2022-09-12 14:23] #4631 closed

[2022-09-12 16:28] Himangini commented on #5525
@adamjohnson01 Wondering if you made any progress towards this, let us know if you need any assistance 👍🏻

[2022-09-12 18:46] Gearheads opened #5691 "[Feature] Remove update-maxpods from Makefile"
### What feature/behavior/change do you want?

Hello, I have noticed that the file `maxpods_generate.go` has been removed, so I was wondering if this `make` command should be removed or changed in some way?
https://github.com/weaveworks/eksctl/blob/main/Makefile#L163
[code]

### Why do you want this feature?

I noticed when running the command locally, I receive the following error message, which

[2022-09-13 01:16] sriramranganathan opened #5692 "Provide an ability to PRESERVE configuration changes when updating EKS managed add-ons"
EKS add-ons recently made a change to the EKS API to allow customers to retain their configuration changes made to the add-ons during add-on upgrade. Previously, this was not supported.

EKSCTL supports a --force flag when updating an addon which converts a self managed add-on to a EKS managed add-on. Does this also overwrite any custom configurations that the customer may have made to the add-ons

[2022-09-13 01:37] sriramranganathan opened #5693 "Provide ability to pass advanced configuration for add-ons through eksctl"
EKS API will start supporting advanced configuration for add-ons using a JSON string. Customers will have the ability to pass this JSON configuration input when creating and updating add-ons. Additionally customers can also call the DescribeAddon API to view the custom configuration they have applied to a particular addon. However, the configuration that customers are allowed to make will be gover

[2022-09-13 02:14] #5491 closed

[2022-09-13 06:57] MartinEmrich commented on #5368
/remove-label stale

[2022-09-13 06:59] Skarlso commented on #5368
I don't know if you noticed, but this doesn't work. :D

[2022-09-13 08:08] MartinEmrich commented on #5368
Oh I see...

[2022-09-13 08:17] #5645 closed

[2022-09-13 08:31] TiberiuGC commented on #5664
Hi @wvh , thanks for opening this issue. I can confirm there's indeed a bug here, we'll work on a fix.

[2022-09-13 09:31] mooperd opened #5694 "Specifying EIP with NAT gateway"
Hello,

I see there has been some activity around this topic but it does not seem to have been implemented. We're looking for a way to assign a preallocated EIP to an NAT GW. Can anyone suggest how this can be accomplished or a workaround?

Thanks,

Andrew

[2022-09-13 09:55] cPu1 commented on #5694
That is not supported. If you need that level of control, we recommend creating the VPC resources beforehand and supplying them to eksctl.

[2022-09-13 13:00] Himangini commented on #5656
@mikestef9 @josefaworks FYI

[2022-09-14 12:43] Himangini commented on #5692
We'll spike on this first
Outcome: Proposal doc
Timebox: 1-2 days

[2022-09-14 13:10] #5692 closed

[2022-09-14 18:10] jpmcb opened #5697 "[Bug] Panic on setting bottlerocket nodegroup"
### What were you trying to accomplish?
I wanted to create a new nodegroup using bottlerocket nodes for my cluster. I am hitting a panic:

[code]

### What happened?
I am getting a panic

### How to reproduce it?
1. Create a new cluster:
[code]

2. Create a bottlerocket nodegroup using the new cluster's name, see the panic:
[code]

**Versions**
[code]

[2022-09-14 18:16] jpmcb commented on #5697
Looks like the panic is coming out of:

https://github.com/weaveworks/eksctl/blob/aaa82936e8a1a015bcf1063739e37a2d6dff0a78/pkg/nodebootstrap/bottlerocket.go#L82

and somehow, one of the members here is nil and being de-referenced

[2022-09-14 18:24] jpmcb commented on #5697
Diving into that chunk, I wonder if somehow the `Settings` for the bottlerocket member is empty and not getting filled with any kind of default:

https://github.com/weaveworks/eksctl/blob/aaa82936e8a1a015bcf1063739e37a2d6dff0a78/pkg/apis/eksctl.io/v1alpha5/types.go#L1241-L1244

[2022-09-14 18:43] jpmcb opened #5698 "[Feature] Clean up `write-kubeconfig` lock file after command finishes"
### What feature/behavior/change do you want?

Currently, when a kubeconfig is written using the `write-kubeconfig` util, the lock file is left over. Here's an example where I write a kubeconfig to my local directory tracked by git:

[code]

Looking over the code, looks like this is needed so `eksctl` doesn't attempt multiple writes at the same time to the default kubeconfig. But it'd be great if

[2022-09-15 09:28] aclevername opened #5699 "[Bug] build all distros github action is failing"
Hello 👋

The `build all distros` github action is failing a lot https://github.com/weaveworks/eksctl/actions/workflows/build-all-distros-nightly.yaml

For some reason I keep getting github notifications for it 😆 not sure how to turn it off.... but fixing it should solve it 😉

[2022-09-15 14:35] uchiha-pain opened #5702 "EKS commands: Context deadline exceeded. Fully private cluster."
I have created a VPC fully private (no direct internet access), let's call it VPC-A. This vpc is peer connected to another VPC, let's call it VPC-B. This VPC-B has internet connection and is being used as a gateway for VPC-A.

I have deployed a fully private cluster only (not any node) in the private subnet of the VPC-A using the [guide](https://eksctl.io/usage/eks-private-cluster/). For this purp

[2022-09-15 17:14] pkit commented on #2201
Still the same error on `0.105.0`
[code]
The CF stack was created successfully though. But obviously no nodegroups and no way to recovery...

[2022-09-16 00:31] corinz commented on #5503
@cPu1 thank you! This can be closed

[2022-09-16 00:32] #5503 closed

[2022-09-16 06:47] singhbhaskar opened #5703 "[Bug] Getting Checksum mismatch while building eksctl"
### What were you trying to accomplish?
I have cloned eksctl main branch and trying to build eksctl locally.

### What happened?
While building eksct I ran the command: `make install-build-deps` and I am getting the follow error message:
[code]
I have tried multiple times to run the command but was getting the same issue agian.

### How to reproduce it?
To reproduce this issue clone main branch an

[2022-09-16 11:06] pkit opened #5705 "[Bug] Creating cluster timeout error, reopen #2201"
### What were you trying to accomplish?
See #2201

### What happened?
See #2201

### How to reproduce it?
See #2201

**Logs**
[code]

**Anything else we need to know?**
Yes, it still happens in 2022

**Versions**
[code]

[2022-09-19 16:40] #3779 closed

[2022-09-20 07:29] cPu1 commented on #5492
The latest eksctl release has some changes I pushed that might've fixed the issue. @pcharlan, do you have logs from the failed run and the ClusterConfig file?

[2022-09-20 07:31] cPu1 commented on #5705
I have also encountered this and I think I know what the issue is. We'll work on a fix soon.

[2022-09-20 07:48] cPu1 opened #5713 "Automated docs publishing is no longer working"
The last three runs have failed with an error.

https://github.com/weaveworks/eksctl/actions/runs/2976978482

[2022-09-20 07:53] cPu1 commented on #5691
@Gearheads, you're right, that Makefile rule is no longer relevant and should be removed. Do you want to open a PR with the changes?

[2022-09-20 09:25] TiberiuGC commented on #5697
Hi @jpmcb. Thanks for opening this issue as-well as doing an initial investigation!

The problem is indeed that the default settings for `Bottlerocket` are not being set. The cause for this is that when checking the `AMI Family` in this case, we're doing it case sensitive - [here](https://github.com/weaveworks/eksctl/blob/6afd5dc935f2a122c68f2fb9741e4cc1d1597725/pkg/apis/eksctl.io/v1alpha5/default

[2022-09-20 14:15] Gearheads commented on #5691
@cPu1, yes, I would be happy to create a PR and help out. 😄

[2022-09-20 15:07] Jordannijs commented on #5134
In your Config file:
managedNodeGroups:
  -
    name: test-max-pods
    desiredCapacity: 1
    minSize: 1
    maxSize: 5
    maxPodsPerNode: 12

Replace managedNodeGroups with nodeGroups as descibed here https://eksctl.io/usage/schema/#nodeGroups

[2022-09-20 16:02] jku8 opened #5715 "eksctl in DXB region"

[2022-09-20 16:11] #5715 closed

[2022-09-20 22:30] yash97 opened #5716 "[Bug] Error: validation for eks-cluster-hrz.yaml failed, name must satisfy regular expression pattern: [a-zA-Z][-a-zA-Z0-9]*"
### What were you trying to accomplish?

### What happened?

Error: validation for eks-cluster-hrz.yaml failed, name must satisfy regular expression pattern: [a-zA-Z][-a-zA-Z0-9]*
### How to reproduce it?

apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: hello-world
  region: us-west-2

**Logs**

**Anything else we need to know?**

Is this error message telling me that cluster

[2022-09-20 22:46] yash97 commented on #5716
never mind i was incorrectly using eksctl command

[2022-09-21 02:14] #5605 closed

[2022-09-21 05:17] #5716 closed

[2022-09-21 07:17] TiberiuGC commented on #5703
Hi @singhbhaskar, what `go version` are you using? Could you try upgrading it?

[2022-09-21 09:12] TiberiuGC commented on #5689
Hello - I've tried creating a cluster with `kubectl version 1.25.0` and it worked just fine for me.

The error you're seeing above doesn't have to do with the format of `kubectl version --short`. Printing this output is just a default thing we're doing in case we're getting an error when "asking" `kubectl` for its version. See the error [here](https://github.com/weaveworks/eksctl/blob/9db398183526

[2022-09-21 10:13] #5702 closed

[2022-09-21 11:29] #5664 closed

[2022-09-21 11:56] hazanmor commented on #5492
@cPu1 I just reproduced using eksctl 0.112.
For us it is an intermittent issue on our provision pipeline which retriggers itself (back to back provision and destroy).
Please let me know whether I can provide additional information

[2022-09-21 12:05] cPu1 commented on #5492
@hazanmor, yes, please share the full logs, redacting any sensitive information, and the ClusterConfig file.

[2022-09-21 14:25] laurie-kepford commented on #2805
I would also like this feature.  Can this be reopened?

[2022-09-21 14:55] #5691 closed

[2022-09-21 16:59] pcharlan commented on #5492
@cPu1 , yes, it's still happening for me with version:
[code]

My cluster config file and recipe for reproducing are in my comment above, https://github.com/weaveworks/eksctl/issues/5492#issuecomment-1180664206

The output from the run is:
[code]
I install `eksctl` using `brew` on macOS.  If there's a way to try a newer build, I'm happy to try that if the devs can't reproduce using my config.  Tha

[2022-09-21 19:42] rwilson-release commented on #5705
We also ran into this issue; I think the problem is related to `us-east-1` as it is usually pretty busy and has lots of customer workloads in it.

[2022-09-22 02:13] #5631 closed

[2022-09-22 08:09] cPu1 commented on #5577
No worries!

[2022-09-22 08:09] #5577 closed

[2022-09-22 13:47] mbiacharetyron commented on #321
It is important to configure the default profile for AWS CLI correctly using `set AWS_ACCESS_KEY_ID <your_access_key>`
`set AWS_SECRET_ACCESS_KEY <your_secret_key>`

[2022-09-22 19:55] KODURU400 commented on #1466
It worked. Thank You

[2022-09-22 21:11] namgk commented on #5657
for me it goes like this

[code]

[2022-09-22 21:19] namgk commented on #5657
this came after I created the cluster myself so I assume I'm the owner of the cluster. Why can't the owner delete the cluster?

[2022-09-22 23:24] bitva77 opened #5718 "[Feature] Make HttpPutResponseHopLimit configurable"
So, when disabling IMDSv1 (enforcing v2) and running cluster-autoscaler and when you run a 3rd party CNI (like Cilium) your hop count to the meta data service is 3, not 2.  This may not be true for every CNI but seems to be for Cilium at least (possibly others).

Would be nice to be able to configure HttpPutResponseHopLimit to match.  I don't think this is a unique combination of things to run.  I

[2022-09-23 02:14] #5508 closed

[2022-09-23 10:08] wvh commented on #5664
Thanks @TiberiuGC!

[2022-09-23 15:29] pkit commented on #5705
It's not an answer. If it times out, eksctl should wait and retry.

[2022-09-23 15:48] rwilson-release commented on #5705
Of course! I was only referring to the symptoms, not a solution. 😸

[2022-09-26 07:18] cPu1 commented on #5492
@pcharlan, thanks for the details. We're going to work on a fix soon.

[2022-09-26 15:43] #5219 closed

[2022-09-26 19:05] arnaldo2792 opened #5728 "[Bug] Error while creating nodegroup for with Bottlerocket ARM + GPU instances"
### What were you trying to accomplish?
I tried to create a new unmanaged Bottlerocket node group in an existing cluster with ARM + GPU instances

### What happened?
I got an error:

[code]

### How to reproduce it?
Run:

[code]

Where `test.yaml` is:

[code]

**Logs**

[code]

**Anything else we need to know?**

* What OS are you using? fedora 36
* Are you using a downloaded binary or did you com

[2022-09-27 09:28] cPu1 commented on #5728
A [PR](https://github.com/weaveworks/eksctl/pull/5729) has been opened with a fix. It will be out in the next release candidate this week.

[2022-09-27 11:15] Himangini commented on #5698
thanks for reporting this @jpmcb We'll review and attempt to resolve this soon. 👍🏻

[2022-09-27 13:59] Himangini commented on #4919
Closing this since the linked aws-go-sdk issue is closed.

[2022-09-27 13:59] #4919 closed

[2022-09-27 16:53] bryanasdev000 commented on #5134
Just dumping this for reference:

https://github.com/terraform-aws-modules/terraform-aws-eks/blob/master/docs/user_data.md#%EF%B8%8F-caveat
https://github.com/awslabs/amazon-eks-ami/issues/873
https://github.com/awslabs/amazon-eks-ami/issues/844

Also, maxPodsPerNode does not seem to work with latest 1.21 AMIs anymore (https://github.com/awslabs/amazon-eks-ami/compare/v20220824...v20220914).

I am

[2022-09-27 19:23] timharsch commented on #5705
Also experiencing this issue with m6g.large nodes in us-east-1

[2022-09-28 10:18] #5575 closed

[2022-09-28 10:58] #5613 closed

[2022-09-28 13:05] #2893 closed

[2022-09-29 13:28] virenrshah opened #5737 "[Help] Cluster creation timeout in eu-central-1"
eksctl version
0.110.0-dev+b6664f852.2022-09-02T06:07:17Z

I am trying to create a cluster in eu-central-1. I have used essentially the same cluster config file for us-east regions and they have worked. Any thoughts on what might be happening? Looks like the nodes cannot join the cluster. I have tried by explicitly specifying the iam policies, using an existing VPC, etc. All result in the same tim

[2022-09-29 14:18] jack-evans opened #5738 "Make eksctl command output configurable"
### What feature/behavior/change do you want?

I have been trying to wrap the `eksctl` command interface in my own golang CLI tool however one of the issues is that eksctl always prints out to stdout, e.g. [here](https://github.com/weaveworks/eksctl/blob/main/pkg/ctl/get/cluster.go#L112).

What this means is I have to do something like the following:
[code]

I have tried `c.SetOut()` with a bytes.

[2022-09-29 14:18] cPu1 commented on #5737
Can you rerun the command with verbose logging enabled (passing `-v4`) and share the full logs, redacting any sensitive information?

[2022-09-29 15:15] virenrshah commented on #5737
I just tried a basic 'eksctl create cluster --region eu-central-1 -v4to see if that worked. It did not. See log. Same failure issue in the CF nodegroup event:
Resource handler returned message: "[Issue(Code=NodeCreationFailure, Message=Instances failed to join the kubernetes cluster, ResourceIds=[i-01670bcdc51972b37, i-0fb347a54eae59c38])] (Service: null, Status Code: 0, Request ID: null)" (Reques

[2022-09-29 15:31] uchiha-pain opened #5739 "Ubuntu managedNodeGroup creation failed"
### What were you trying to accomplish?
I am trying create Ubuntu managed node in a cluster with no outbound access to the internet.

### What happened?
When I specify amiFamily with Ubuntu2004, it just fails to create the managed node group. As I am working behind the proxy I think I have to add UserData. For this purposes, when I specified overrideBootstrapCommand, I got the following error
`Err

[2022-09-29 16:48] virenrshah commented on #5737
sorry, this is likely user error on my part. STS is turned off in eu-central-1 for that account. Trying after turning it on. Will close ticket if it works (assume it will).

[2022-09-29 16:56] jimmyraywv opened #5740 "[Help] ZSH Completion Issues"
macOS Monterey
Version: 12.4

[code]
[code]

Bottom of `.zshrc`:
[code]

`kubectl` and `flux` ZSH completions work. `eksctl completion zsh` produces an output from the command line, but `eksctl` completions for ZSH are not working. Can I not load them the same way in the `.zshrc`?

[2022-09-29 17:03] virenrshah commented on #5737
It was the STS activation. Closing this help ticket.

[2022-09-29 17:03] #5737 closed

[2022-09-30 02:13] #5650 closed

[2022-09-30 08:14] #5728 closed

[2022-09-30 11:12] #5465 closed

[2022-09-30 13:39] Himangini opened #5743 "[Task] Greetings check is failing for all PRs"
### Description
The Greetings action is failing for all prs, we probably need to update it.

Error below

[code]

[2022-09-30 18:23] jimmyraywv commented on #5740
I finally got it working by adding the output to the`~/.oh-my-zsh/completions` directory, that appears in `$fpath`.

[2022-09-30 18:23] #5740 closed

[2022-09-30 20:56] joseamey opened #5748 "[Bug] ekcstl upgrade Nodegroup fails when using launch templates with custom ami: asks for k8s version"
### What were you trying to accomplish?
Upgrade manage node group in aws with a launch template and launch AMIs

### What happened?
there is not need to specify the k8s version when using custom AMIs,

getting

`eksctl upgrade nodegroup --name=<nodegroupname less than 100 characters> --cluster=<cluster name less than 100 characters> --launch-template-version=7 --profile=<profilename> --region=<reg

[2022-10-02 02:14] #5632 closed

[2022-10-03 09:10] cPu1 commented on #5728
The fix is out in https://github.com/weaveworks/eksctl/releases/tag/v0.114.0-rc.0.

[2022-10-04 08:31] cPu1 commented on #5739
When you specify a custom AMI, you must leave the `amiFamily` field unset.

[2022-10-04 08:37] uchiha-pain commented on #5739
This is what exactly I am doing but still I am getting node creation failure error. I have run the troubleshoot script. Results are below
[code]

My cluster config is as below
[code]

[2022-10-04 10:58] #5607 closed

[2022-10-05 02:14] #5489 closed

[2022-10-05 12:31] #5672 closed

[2022-10-05 13:12] neeltom92 opened #5754 "[Help] EKS cluster created using EKSCTL with API server endpoint access Public"
I have a EKS cluster created using EKSCTL and the API server endpoint access is Public. I aim to run my Production workloads for a small Fintech firm with 5–6 microservices running for 10 users as a pilot in the beginning phase.
Just wondering if running Production workloads on an EKS cluster with Public API endpoint access has any Security repercussions?, Like:-

- although its access to API serv

[2022-10-05 14:48] Himangini commented on #5509
@steffakasid we are unable to reproduce this on our side., can you post any updates to this? please close it if this is no longer an issue you are facing. 👍🏻

[2022-10-05 18:01] fabiokr opened #5755 "[Bug] eksctl gives AccessDenied while aws cli works fine"
### What were you trying to accomplish?

I want to list clusters with `eksctl get clusters`

### What happened?

I'm getting this.

[code]

### How to reproduce it?

My AWS user is in an IAM group which requires MFA to execute actions. I initially set the required credentials:

[code]

`aws` cli calls work fine. `eksctl` don't. I recently upgraded from `eksctl` `0.80.0` to `0.113.0`.

**Versions**

[2022-10-06 00:56] arnaldo2792 opened #5756 "[Bug] Incorrect user data passed to Bottlerocket managed nodegroups"
### What were you trying to accomplish?
I'm trying to create a Bottlerocket managed node group using a custom AMI with ipv6 support

### What happened?
Now that `overrideBootstrapCommand` is required, I believe that `eksctl` (or whatever under the hood) is creating launch templates with `MIME` formatted user data, which isn't supported by Bottlerocket.

### How to reproduce it?
Attempt to create a

[2022-10-06 08:43] jack-evans opened #5757 "[Feature] use ld flags -s -w to reduce binary size"
### What feature/behavior/change do you want?

Currently, the eksctl binary is fairly large, approximately on mac it is 165MB. To reduce dockerfile size a simple addition of `-s -w` to the ldflags can reduce the binary size quite significantly. For information on what they remove see [the following document](https://pkg.go.dev/cmd/link). I found that on mac it reduced the binary from 165MB to 128M

[2022-10-06 09:58] cPu1 commented on #5755
`eksctl get clusters` does not directly map to `aws eks list-clusters`, it also performs a call to `cloudformation:ListStacks` to determine which clusters were created by eksctl, so you'll need permissions for that. This is the expected behaviour and not a bug.

[2022-10-06 12:11] fabiokr commented on #5755
Hi, thanks for getting back. The `eksctl get clusters` and `aws eks list-clusters` comparison was actually just to show that calls to `aws` are working fine, but the ones with `eksctl` are not. The IAM role allows access to everything, but requires MFA. My guess is that maybe `eksctl` is not forwarding `AWS_SESSION_TOKEN` somehow. By rolling back to `eksctl` version `0.80.0` everything works as ex

[2022-10-07 07:24] #5713 closed

[2022-10-07 15:30] Lautreck opened #5763 "[Feature] launching one or various node in a managedNodeGroupe connected to various subnets at the same time"
Hello,
 i haven't found any way to create nodes connected to various subnets when creating a cluster and ManagedNodeGroupes

Here is the yaml i use, it create a node, but on one of the subnets i gave, instead of creating a node, connected to all the subnets i gave.

[code]

### What feature/behavior/change do you want?

### Why do you want this feature?

[2022-10-08 02:12] #5669 closed

[2022-10-08 02:12] #5630 closed

[2022-10-08 02:12] #215 closed

[2022-10-09 01:20] shardulsr opened #5764 "[Feature] Suport for karpenter v0.17.0"
### What feature/behavior/change do you want?
Support v0.17.0 of Karpenter with eksctl.

### Why do you want this feature?
Version 0.17.0 is the latest version of karpenter and i need to use this version for it's recently released features [here](https://github.com/aws/karpenter/releases/tag/v0.17.0).

[2022-10-09 12:30] NsikanPatrick commented on #2014
I used the eksctl command to delete the cluster and create again with the same name. It didnt work even after clearing all the stacks. Anyone faced this before? Please suggest a work around.

[2022-10-10 09:15] TiberiuGC commented on #5364
There's plenty examples where migrating from `v1` to `v2` is not as trivial as merely updating the dependencies (e.g. modules like `client` , `session` , `credentials` , `endpoints` , `request`, etc.). Some code has been considerably refactored between `v1` and `v2`, so it needs careful consideration.

Although it may not cover all the mentioned modules/dependencies, a guide on migration can be fo

[2022-10-10 19:28] pcharlan commented on #5492
FYI the issue is still present on
[code]

[2022-10-11 05:02] TiberiuGC opened #5765 "Migrate to SDK v2 - configuration loading"
The scope of this ticket is to remove all dependencies to `github.com/aws/aws-sdk-go/aws/session` module.
[This document](https://aws.github.io/aws-sdk-go-v2/docs/migrating/#configuration-loading) explains how to migrate from session package (v1) to config package (v2).

I reckon [this](https://github.com/weaveworks/eksctl/blob/28571b591924e09c870955c0557acd9608949140/pkg/eks/api.go#L514) as a goo

[2022-10-11 05:08] TiberiuGC commented on #5364
@johnwesley - as I was digging through all dependencies I opened [this PR](https://github.com/weaveworks/eksctl/pull/5753) to remove a bunch of clutter. I will update the scope of this ticket and close it once I get this PR merged.

Afterwards, I will try to split the remaining work in individual tickets. I've already [created one](https://github.com/weaveworks/eksctl/issues/5765) that targets the

[2022-10-11 08:42] albertschwarzkopf opened #5766 "AWS Change to IAM Role Trust Policy Evaluation"
Hi all,

AWS will change the following behavior in "IAM Role Trust Policy Evaluation":

https://aws.amazon.com/de/blogs/security/announcing-an-update-to-iam-role-trust-policy-behavior/

Nodegroups and their iam roles which are created with eksctl, are impacted by this change.

Is it planned to implement the changes in eksctl in next releases?

[2022-10-11 11:24] Himangini commented on #5757
thanks for reporting this! We welcome community contributions so if you have a fix in mind please open a PR 🎉

[2022-10-11 11:44] hazanmor commented on #5492
I have identified the issue lies with adding the NodeInstanceRole to aws-auth configmap.
When I add the missing roles using a script, the nodes join the cluster and it works
The command used:
eksctl create iamidentitymapping --cluster $CLUSTER_NAME --arn $line --group system:nodes --group system:bootstrappers --username system:node:{{EC2PrivateDNSName}} --region $REGION

[2022-10-11 15:09] jglick commented on #5689
Duplicate of #5257?

[2022-10-12 02:13] #5679 closed

[2022-10-12 10:00] aclevername commented on #5699
it appears to be failing again https://github.com/weaveworks/eksctl/actions/runs/3233421827
![Screenshot 2022-10-12 at 10 58 23](https://user-images.githubusercontent.com/19669095/195313072-4d83dd73-2369-4fb1-81ae-4133ae072399.png)

I also seem to be the person that gets notifications for it 🤔 for some reason I'm the author of the trigger despite it being a scheduled run
![Screenshot 2022-10-12 at

[2022-10-12 10:00] aclevername commented on #5699
@TiberiuGC can we re-open this?

[2022-10-12 12:31] #5364 closed

[2022-10-12 13:08] josh-ferrell opened #5773 "[Bug] latest image tag is for prerelease candidate"
### What were you trying to accomplish?

Using `eksctl` as a wrapper for running the binary in a container. Command below is missing some of the additional flags I use.
`docker run --rm -v $HOME/.aws:/root/.aws:Z -v $HOME/.kube:/root/.kube:Z weaveworks/eksctl:latest $@`

### What happened?

Version in container image with latest tag is prerelease candidate instead of latest release in repo

### Ho

[2022-10-12 21:35] chrisjohnson00 commented on #5492
@cPu1 does your fix align with what @hazanmor mentions?

[2022-10-13 08:20] TiberiuGC commented on #5703
Could you try using latest code? Deps to that specific module have been updated, maybe it solves the problem for you.

[2022-10-13 08:27] cPu1 commented on #5492
Yes, it does.

[2022-10-13 09:43] #5007 closed

[2022-10-13 10:38] Himangini commented on #5743
this seems to have resolved itself

[2022-10-13 10:38] #5743 closed

[2022-10-13 19:12] kart2 opened #5779 "[Bug] eksctl fails to create cluster Operation Error: GetCallerIdentity"
### What were you trying to accomplish?
eksctl create cluster

### What happened?
Error: checking AWS STS access – cannot get role ARN for current session: operation error STS: GetCallerIdentity, failed to sign request: failed to retrieve credentials: failed to refresh cached credentials, no EC2 IMDS role found, operation error ec2imds: GetMetadata, request send failed, Get "http://169.254.169.254

[2022-10-14 09:28] TiberiuGC commented on #5779
Hey @kart2. Could you please run `aws sts get-caller-identity` and see whether the output looks correct?

[2022-10-14 10:24] TiberiuGC commented on #5766
Hi @albertschwarzkopf , thanks for bringing this to our attention! Since you seem to have a good understanding of this change, could your perhaps write up a _practical_, as _detailed_ as possible, example where we'd be impacted?
Just to help me wrap my head around the topic 🙇‍♂️ .

[2022-10-14 10:59] cPu1 opened #5780 "Nodes are not tainted by Cluster Autoscaler"
The ASG tag key for attaching taints to nodes via the Cluster Autoscaler is `k8s.io/cluster-autoscaler/node-template/taint/<taint-name>` but eksctl uses `k8s.io/cluster-autoscaler/node-template/taints/<taint-name>`, resulting in the taints not being applied to nodes.

This has been broken since the feature was introduced in https://github.com/weaveworks/eksctl/pull/4785

[2022-10-14 11:33] #5492 closed

[2022-10-14 12:38] #5766 closed, assigned to nobody

[2022-10-14 13:40] TiberiuGC commented on #5773
Hi @josh-ferrell! This is indeed the designed/intended behaviour, as per our docs [here](https://github.com/weaveworks/eksctl#docker). You can always workaround this by checking the latest release and pulling specifically that version.

[2022-10-14 13:40] #5773 closed

[2022-10-15 02:14] #5690 closed

[2022-10-15 02:14] #5681 closed

[2022-10-15 14:37] shogohida commented on #5482
@Himangini
Can I work on this?

[2022-10-16 04:57] walkley opened #5783 "Revert the avoided problematic zone in cn-north-1 as EKS now supporting control plane for all AZs in cn-north-1 region"
Before 2022 Oct, there was a limitation to create EKS cluster against the AZ cnn1-az4 (it's mapped to cn-north-1d in most account), eksctl has a fix to avoid this AZ by default (#3916). Now EKS has supported creating control plane against all AZs in cn-north-1 region, it's time to revert this temporary fix in eksctl.
### What feature/behavior/change do you want?

Revert the fix for #3916
### Why d

[2022-10-16 13:01] AhmedSa-mir opened #5784 "Add support to edit cluster tags after cluster creation"
## Feature Description
I'm creating several ephemeral clusters using eksctl. Each cluster has a `delete-after` tag that indicates how long should that cluster live. To auto-delete cluster, a job runs daily to check the `delete-after` tag along with the creation time of the clusters.

I need to be able to edit the `delete-after` tag to extend the cluster lifetime.
[code]
I ran `eksctl upgrade clust

[2022-10-17 08:28] cPu1 commented on #5783
Thanks for updating us. We'll revert the changes soon and allow creation of clusters in `cnn1-az4`.

[2022-10-17 11:07] Himangini commented on #5783
@walkley can you add any links to AWS docs, please? I can't seem to find any atm.

[2022-10-17 11:16] Himangini commented on #5482
@shogohida we always encourage community contributions 🎉 please feel free to pick up, we're are happy to help with your PRs ✨

[2022-10-19 02:13] #5665 closed

[2022-10-19 02:13] #5629 closed

[2022-10-19 07:39] #5663 closed

[2022-10-19 07:39] #5780 closed

[2022-10-19 16:49] shogohida commented on #5482
@Himangini
Thanks for your comment! I have a question.

Should I move the functions below to `pkg/aws/eks.go`?

[code]

It seems the explanation [here](https://github.com/weaveworks/eksctl/issues/4655#issuecomment-1044631377) indicates so but I wanted to make sure.

![スクリーンショット 2022-10-20 1 45 17](https://user-images.githubusercontent.com/10365357/196753901-b1030b24-0a49-4384-a739-6a5ee7046949.png

[2022-10-19 20:06] NALLABIRUDUNARENDRA opened #5806 "[Help] username and password for nodes"
### What help do you need?

[2022-10-20 02:13] #5368 closed

[2022-10-20 12:45] Himangini commented on #5806
@NALLABIRUDUNARENDRA can you add more details for your issue?
[code]

[2022-10-21 03:23] jlandowner commented on #5614
The PR #5615 is still waiting for review. Please reopen.

[2022-10-22 08:04] jayaragnair opened #5809 "OverrideBootstrapcommand for Windows not working on latest eksctl version 0.115"
When using custom windows AMI for my EKS nodegroup, im specifying the amifamily and ami id - because only then, the nodes are joining cluster. But the latest eksctl version throws the below error:

Error: could not create cluster provider from options: overrideBootstrapCommand is not supported for WindowsServer2019FullContainer nodegroups (path=nodeGroups[0].overrideBootstrapCommand

I tried with

[2022-10-23 02:14] #5606 closed

[2022-10-23 03:41] walkley commented on #5783
There's no public announcement/docs for this update, you may reach out to EKS PM to confirm the update.

[2022-10-24 05:25] shogohida commented on #5482
Is my understanding correct?

https://github.com/weaveworks/eksctl/pull/5810

[2022-10-24 18:14] Himangini commented on #5482
As mentioned in the description, the functions need to be moved to a relevant place. if you are happy with your changes please open the PR for review 👍🏻 we are working over a shorter capacity right now but will get your contribution reviewed soon.

[2022-10-25 02:05] computerphilosopher opened #5831 "[Help] eksctl returned AccesDenied"
### What help do you need?

I want to install 'Amazon VPC CNI plugin for Kubernetes' to my eks cluster.

But I get 'AccessDenied Exception' when I run the following command.

[code]

[code]
The error message says I'm not authorized to perform 'eks: DescribeCluster'. But my IAM user has a full EKS permission.

<img width="2601" alt="image" src="https://user-images.githubusercontent.com/26251856/197

[2022-10-25 23:31] shavichacon commented on #5809
Any update of this?

[2022-10-26 06:25] #5134 closed

[2022-10-26 10:12] vflaux commented on #5657
I still encounter this error each time I delete a cluster.

[2022-10-26 14:19] mnencia opened #5835 "[Bug] panic deleting a an already deleted cluster with the --force option"
### What were you trying to accomplish?

I'm writing code to clean up a cluster used in some automated tests.

### What happened?

[code]

### How to reproduce it?

Try deleting the cluster twice in a row. The second invocation will panic (CloudFormation stack in DELETE_IN_PROGRESS state). The same happens if you try to delete a cluster that has the CloudFormation stack in DELETE_FAILED state.

[c

[2022-10-27 02:29] shogohida commented on #5482
@Himangini
Understood. I opened the PR so please review it when you have time!

[2022-10-27 06:21] #5565 closed

[2022-10-27 14:59] Afikoman opened #5836 "Can't choose cloudformation stack name"
When using 'eksctl create iamserviceaccount'  to create AWS role and eks service account,it triggers a creation of a clooudformation stack with the name "eksctl-<Cluster_Name>-addon-iamserviceaccount-<Namespace>-<RoleName>".
It all works fine on the first time. However, since I we can't choose the cloudformation stack name, if I delete the cluster and create a new cluster with the same name, when

[2022-10-27 15:25] #4351 closed

[2022-10-28 11:13] TiberiuGC opened #5839 "Pin K8s chain to 1.24"
**Useful script for upgrading K8s together with all its subcomponents**
https://github.com/kubernetes/kubernetes/issues/79384#issuecomment-521493597

**Reference PR**
https://github.com/weaveworks/eksctl/pull/5661

**Important note**

In [this PR](https://github.com/weaveworks/eksctl/pull/5838) we have upgraded helm version from 3.9.4 to 3.10.1. In doing so we had to pin `chai2010` dependency to a

[2022-10-29 02:12] #5718 closed

[2022-10-29 03:43] matti commented on #2363
asdf

[2022-10-30 12:09] whereisaaron opened #5843 "[Bug] 'update iamserviceaccount' incorrect include/exclude behavior, doesn't affect create/delete (0.120.0)"
### What were you trying to accomplish?

Updating an IAM Service Account in order to trigger the re-annotation of the k8s `ServiceAccount`, using `eksctl` and a config file.

### What happened?

1. I was unable to select a single `iam.ServiceAccount` with `update` and `--include`, I could only get the command to select all accounts or none. The same `--include` with `create` or `delete` worked jus

[2022-10-30 17:21] oleg-ku-32768 opened #5844 "Ensure all relevant launch template properties are being set during managed node group creation."
eksctl does create LT for MN and it's a really nice.
And it's somewhat useless, IMO...

How to I tell eksctl to place certain setting into template, such as **Instance Type** (IT) for example?
If it's not set in during initial create MN operation (with creating LT behind the scene), it's won't be possible to change IT later via LT version change.
The will be error like:
**"You must continue to not

[2022-10-30 21:21] jack-evans commented on #5738
Yeah that's sounds reasonable to me!

[2022-10-30 22:24] pcharlan commented on #5492
Thanks @cPu1!  The `0.116.0` release made it to `brew`, and I've tested it locally and everything worked as expected.

[2022-10-31 07:38] cPu1 commented on #5492
@pcharlan, great! Thanks for trying it out.

[2022-10-31 10:59] TiberiuGC commented on #5006
Hi @obiordu - the [official AWS docs](https://docs.aws.amazon.com/eks/latest/userguide/update-managed-node-group.html#:~:text=To%20update%20the,the%20launch%20template.) suggest a way for upgrading nodegroups with custom AMIs. In short, you would need to initially deploy the managed nodegroups using a launch template, pointing to your custom AMI. When a new version of your custom AMI is created, y

[2022-11-01 02:13] #5647 closed

[2022-11-01 03:01] Nareshfreak commented on #5507
iam also getting the same issue....

[2022-11-01 03:02] Nareshfreak commented on #5507
where did you download the eksctl file from ??
please share the link

[2022-11-01 04:27] AndrewFarley opened #5853 "[Bug] EKSCTL unable to update version of EKS, role does not exist or trusted entity invalid"
### What were you trying to accomplish?
I recently (3 months ago) spun up a EKS 1.22 cluster with a then-updated version of EKSCTL, and now I'd like to upgrade to 1.23, but am getting errors when doing so.  I've googled around, tried various suggestions about changing role permissions, trust, etc, all to no avail.  There has been no manual edits made to anything in this account this is a clean/fre

[2022-11-01 08:03] TiberiuGC commented on #5703
Hi @singhbhaskar, have you been able to run make `install-build-deps` since my last message?

[2022-11-01 08:14] TiberiuGC commented on #5844
Hey @oleg-ku-32768 , could you please help me out with a some more details on the issue? Perhaps:

- what eksctl command are you talking about, where/when is the LT being created? How does eksctl create a LT? (apologies if this one is obvious, but I am fairly new into the project)
- an example of a command achieving the functionality you would like to see present.

[2022-11-01 10:17] TiberiuGC commented on #5835
Hey @mnencia - could you please help me with some details related to your automated tests. Specifically, I was wondering what configuration and operations do you apply to your cluster. How did you get the stack in `DELETE_FAILED` state in the first place?

[2022-11-01 14:54] TiberiuGC commented on #5844
@oleg-ku-32768 cheers!

So, essentially, these properties you're looking to have configured for the LT (e.g. `instanceType` and `volumeSize`), these can be specified at the `managedNodeGroup` level and should be picked up from there automatically. e.g.
[code]

Now the created LT should have these set. By looking through the code I can confirm that `volumeSize` should work. While `instanceType` see

[2022-11-01 21:49] eti-tme-tim opened #5855 "[Bug] Cluster delete hangs with aws-ebs-csi-driver addon (unable to drain node)"
### What were you trying to accomplish?

Delete the cluster created by a YAML file that includes the AWS EBS CSI driver addon.

### What happened?

Cluster creation works without error.  PVC and PV creation via EBS CSI driver on this cluster work without error.  The following pods are running when it is time to delete the cluster:

[code]

When you issue the deletion command, the workflow hangs be

[2022-11-02 14:51] TiberiuGC commented on #5844
Cool, thanks a lot for these! I'll look into them individually and see which is already working and which can be supported if not.

[2022-11-02 20:38] kakarotbyte opened #5858 "[Bug] Can not create Self Managed nodegroup using EKSCTL 0.116.0"
I am not able to create self managed nodes using eksctl. It tried to create Managed node group.
[code]

output looks as following.

[code]

[2022-11-03 02:04] ecc256 opened #5859 "[Help] config created with eksctl utils write-kubeconfig vs. aws eks update-kubeconfig"
_kubectl v1.25.0
eksctl 0.116.0
aws-cli/2.8.7 Python/3.9.11 Windows/10 exe/AMD64 prompt/off_

It was long running `eksctl create cluster -f ...`
partial log is below:
[code]
turned out, **~/.kube/config** is quite different for:

`eksctl utils write-kubeconfig --cluster=k8s`
[code]

`aws eks update-kubeconfig --name k8s`
[code]
I wonder, why `eksctl utils write-kubeconfig` uses
_command: heptio-au

[2022-11-03 02:12] #5705 closed

[2022-11-03 02:12] #5694 closed

[2022-11-03 02:12] #5671 closed

[2022-11-03 07:20] cPu1 commented on #5858
It didn't try to create a managed nodegroup. As the error states, you need to provide an `overrideBootstrapCommand` when using a custom AMI. This is a relatively new behaviour and is documented in [Nodegroup Bootstrap Override For Custom AMIs](https://eksctl.io/announcements/nodegroup-override-announcement/).

[2022-11-03 07:40] TiberiuGC commented on #5859
Hi @ecc256 - Could you try doing the steps suggested [here](https://github.com/weaveworks/eksctl/issues/5689#issuecomment-1253427913) and see if this fixes your issue. Interestingly enough I see `apiVersion: client.authentication.k8s.io/v1beta1` in both `./kube/config`s you've shared, but the error mentions `client.authentication.k8s.io/v1alpha1` 🤔

[2022-11-03 08:43] RedxLus opened #5860 "[Help] Remove message"
Every action I do with `eksctl` now appear:

`2022-11-03 09:37:29 [!]  stack's status of nodegroup named eksctl-example-nodegroup-2022 is DELETE_FAILED`

I have tried with:

`eksctl delete nodegroup --cluster=X --region=X --name=example-nodegroup-2022`

And the output:

[code]

What can I do so that this message stops appearing in all the commands that I execute?

[2022-11-03 08:50] TiberiuGC commented on #5853
Hi @AndrewFarley - just a long shot, but have you tried adding `AmazonEKSServicePolicy` to your role?

[2022-11-03 08:51] RedxLus commented on #5860
Okey, I solve going to the AWS Console. CloudFormation, Stacks and delete manual.
Thanks!

[2022-11-03 08:51] #5860 closed

[2022-11-03 09:50] Rukeith opened #5861 "[Help] Cannot install eksctl at XCode 14.1 version"
### What help do you need?

- OS: macOS Verison 13.0 (22A380)
- XCode: 14.1

After I upgraded XCode to 14.1, I couldn't upgrade eksctl with homebrew. I try to uninstall and reinstall eksctl. I still got the same error as below. I am not sure if it's homebrew's issue or eksctl. But I found only two packages that have this issue that is `eksctl` and AWS Copilot CLI. So I think it may be an AWS issue

[2022-11-03 09:55] EhsanLunar opened #5862 "[Bug] overrideBootstrapCommand corrupting userdata?"
### What were you trying to accomplish?
Deploy an unmanaged nodegroup using `eksctl` pointing to a config file

### What happened?
The bootstrap script never runs

### How to reproduce it?

running `eksctl create nodegroup -f nodegroup.yaml`

nodegroup.yaml:

[code]

**Anything else we need to know?**
The AMI is a flatcar 3227.2.3

When creating the nodegroup, the userdata in the launch template l

[2022-11-03 10:28] TiberiuGC commented on #5855
I have an older cluster with an nginx deployment for which deletion blocks with the same state.

[2022-11-03 11:13] TiberiuGC commented on #5853
I've tried creating a cluster on 1.22 with a service role with same permissions/policies and upgrading to 1.23 worked just fine. 🤔

[2022-11-03 12:22] mnencia commented on #5835
The DELETE_FAILED state is reached when I delete an EKS cluster where the AWS Firewall Manager created a security group in the cluster VPC. However, this is a known issue, and I'm handling that with my company's IT department.

It also happens when the stack is there states like "DELETE_IN_PROGRESS", "ROLLBACK_FAILED", and "ROLLBACK_COMPLETE" (we reach those states when we hit some rate limit duri

[2022-11-03 12:54] #5006 closed

[2022-11-03 13:29] ecc256 commented on #5859
I've searched `./kube/config`, there is single `v1alpha1` instance in different EKS:
[code]

I've replaced it with `v1beta1`, but it's the same error mentioning `v1alpha1` still when I run get nodes...

About versions, they are all latest:
_kubectl v1.25.0
eksctl 0.116.0
aws-cli/2.8.7 Python/3.9.11 Windows/10 exe/AMD64 prompt/off_

[2022-11-03 13:50] ecc256 commented on #5859
I've cleaned up `~/kube/config` and run `eksctl utils write-kubeconfig --cluster=k8s` again.
It generated very same `heptio-authenticator-aws` settings...
Tried for different AWS EKS - got `heptio-authenticator-aws` settings too.

Where they are coming from...? 😕

[2022-11-03 13:56] ecc256 commented on #5859
Tried to uninstall aws-iam-authenticator, it's not even there...
**choco uninstall -y aws-iam-authenticator**
[code]

[2022-11-03 13:59] kakarotbyte commented on #5858
@cPu1 I still believe that this is a unaccepted behavior as in the past when I used CLI or config as above I always didnt need to use `overrideBootstrapCommand`.  Also this is for **Self Managed nodes** please refer the flag `--managed=false`.

[code]

[2022-11-03 14:24] ecc256 commented on #5859
One more update: I've tried the same steps on WSL on same computer, got **right** `~/.kube/config`
[code]
_kubectl v1.25.3
eksctl 0.116.0
aws-cli/2.8.7 Python/3.9.11 Linux/4.4.0-17763-Microsoft exe/x86_64.ubuntu.22 prompt/off_

[2022-11-03 16:11] aws-vrnatham opened #5863 "[Feature] Neuron add support for trn1 instances in device plugin"
### What feature/behavior/change do you want?

In the neuron device plugin add the trn1 instance types so that neuron device plugin will run on those instances

### Why do you want this feature?

New instance type was added.

[2022-11-03 17:44] #5764 closed

[2022-11-03 18:57] matthewbordas commented on #3816
I just ran into this issue today. I had to delete the CFN stack separately

[2022-11-04 00:49] rupard-aws opened #5868 "[Feature] Enabling Access for AWS Batch"
### What feature/behavior/change do you want?
Add `aws-batch` as a service-name option to `eksctl create imidentitymapping`.

Example:
[code]

### Why do you want this feature?
AWS Batch just released support for Amazon EKS, here is an [overview](https://docs.aws.amazon.com/batch/latest/userguide/eks.html).

The [getting started guide](https://docs.aws.amazon.com/batch/latest/userguide/getting-sta

[2022-11-04 00:58] AndrewFarley commented on #5853
@TiberiuGC I did try adding that.  I saw some tutorials that said to add that, to no avail.  :(  Thanks for the idea though!

[2022-11-04 02:12] #1030 closed

[2022-11-04 06:25] AnkitBhalla22 opened #5869 "EKSCTL Failing with AWS STS access – cannot get role ARN for current session: operation error STS: GetCallerIdentity in MACOS"
Hi Team,

I trying to use eksctl cli to get and create cluster but when ever i try to get/create cluster the cli fails with following error:

AWS_PROFILE=dev eksctl get clusters --verbose=4
Error: checking AWS STS access – cannot get role ARN for current session: operation error STS: GetCallerIdentity, https response error StatusCode: 0, RequestID: , request send failed, Post "https://sts.us-west-

[2022-11-04 07:55] MartinEmrich commented on #4459
Yep, we also could use kubeletExtraConfigs for managed nodegroups, to work around https://github.com/aws/containers-roadmap/issues/1847

[2022-11-04 08:48] TiberiuGC commented on #5869
Hi @AnkitBhalla22 - I'm afraid it's really difficult for me to tell what went wrong, as I can't reproduce the issue. I've tried looking for online solutions and people having similar issues usually figure out that they have certain applications interfering with their network traffic. Things like VPNs, proxy servers, etc ..

[2022-11-04 17:01] #5699 closed

[2022-11-04 23:30] seetamraju commented on #2834
For all those in the future searching for the following AWS Cloudformation Console error:

As so succintly noted in the above chat.. .. check your "private" subnets thoroughly.  Either they have an IGW associated with them, or a ROUTE-TABLE entry for the IGW, or some such silly setting.  Removing that fixes this issue.

FYI only: I was facing this same issue, when deploying CFT (for my 1st "defaul

[2022-11-07 07:38] Ryu-Z opened #5874 "Keep the policies to which the role is already bound"
### What feature/behavior/change do you want?
When eksctl updates the serviceaccount, it completely overwrites the policies that the role has already bound
I thought the experience was unfriendly

### Why do you want this feature?
I wish the eksctl command would add a new flag: --overwrite-existing-policies=false(default: true)
like this
[code]

[2022-11-07 11:50] cPu1 commented on #5677
eksctl does not attempt to ascertain if an AZ is supported in Fargate during cluster creation. But I do agree that the error message can be improved to guide the user in working around the issue.

A **[PR](https://github.com/weaveworks/eksctl/pull/5875)** has been opened for this, we'll get it out in the next release.

[2022-11-07 15:48] Himangini commented on #5863
Closed by https://github.com/weaveworks/eksctl/pull/5864

[2022-11-07 15:48] #5863 closed

[2022-11-07 15:53] Himangini commented on #5756
thanks for reporting this, we'll aim to resolve this soon.

[2022-11-07 15:57] #5677 closed

[2022-11-07 15:59] Himangini commented on #5862
dupe of https://github.com/weaveworks/eksctl/issues/5756

[2022-11-07 16:01] Himangini commented on #5862
Thanks for reporting this, the team will aim to resolve this soon. Closing this issue, please follow or add any comments here https://github.com/weaveworks/eksctl/issues/5756
We appreciate community contributions, if you have a fix in mind please feel free to open a PR 🎉

[2022-11-07 16:01] #5862 closed

[2022-11-07 16:26] Himangini commented on #5874
@Ryu-Z have you tried the `--include` or `--exclude` option?
[code]

[2022-11-07 20:00] matke2002 opened #5881 "eksctl doesn't work on windows"
Windows 10, non admin account
Using [default] profile as IAM admin user.
It works on linux, but not on windows.

[code]

[2022-11-08 02:13] #5748 closed

[2022-11-08 05:07] TiberiuGC commented on #5853
I've removed the label bug as I could not reproduce this on latest build.

[2022-11-08 07:45] chary1112004 opened #5883 "[Help] Create nodegroup with explicit security group"
I am working on the way to create nodegroup with explicit security group by follow example https://github.com/weaveworks/eksctl/blob/main/examples/22-managed-nodes-launch-template.yaml

An example of ClusterConfig object using a provided launch template
[code]

$ eksctl create nodegroup --config-file=nodegroup-asg-sandbox.yaml

**Expect**: custom-nodegroup will attach to security group "sg-123".
*

[2022-11-08 17:40] jku8 opened #5884 "EKS in ZRH"
What feature/behavior/change do you want?

We are launching EKS into a new region: ZRH and require eksctl to be there as well.

    partition: aws
    region code: eu-central-2
    name: Europe (Zurich)
    country/city: CH/Zurich
    build prod account id: TBD

Why do you want this feature?

EKS is required to be within new region launches within 90 business days

[2022-11-08 18:37] #5697 closed

[2022-11-08 18:37] swananddhole opened #5886 "[Help] How to specify the cpu architecture when working with instanceType in eksctl managedNodeGroups"
I'm creating a eks cluster using eksctl config schema with managedNodeGroups in which I'm selecting instanceType and amiFamily. Along with this I want to specify the cpu architecture also(x86_64, amd64, arm64 etc), but I don't see any way to specify it.(Maybe It's there and I'm missing it completely). I'm aware that this is possible with instanceSelector, but I don't want to use instanceSelector.

[2022-11-08 19:51] jku8 opened #5887 "EKS in ZAZ"
What feature/behavior/change do you want?

We are launching EKS into a new region: ZAZ and require eksctl to be there as well.

partition: aws
region code: eu-south-2
name: Europe (Spain)
country/city: ES/Zaragoza
build prod account id: TBD

Why do you want this feature?

EKS is required to be within new region launches within 90 business days

[2022-11-08 19:53] jku8 opened #5888 "EKS in HYD"
What feature/behavior/change do you want?

We are launching EKS into a new region: HYD and require eksctl to be there as well.

partition: aws
region code: ap-south-2
name: Asia Pacific (Hyderabad)
country/city: IN/Hyderabad
build prod account id: TBD

Why do you want this feature?

EKS is required to be within new region launches within 90 business days

[2022-11-08 21:10] #5884 closed

[2022-11-08 21:10] #5887 closed

[2022-11-08 21:11] #5888 closed

[2022-11-09 02:13] #5739 closed

[2022-11-09 11:38] Himangini commented on #5886
@swananddhole AWS allows you to provision a variety of instance types, which provide different combinations of CPU, memory, disk, and networking. For more information about CPUs and memory options available please visit [Amazon EC2 Instance Types documentation](https://aws.amazon.com/ec2/instance-types/)

[2022-11-09 12:00] #5475 closed

[2022-11-09 12:01] #5481 closed

[2022-11-09 13:55] cPu1 commented on #5633
@mkl262, I have opened a [PR](https://github.com/weaveworks/eksctl/pull/5889) with a fix. It will be out in the next release.

[2022-11-09 15:16] Himangini commented on #5881
@matke2002 can you run `aws sts get-caller-identity` or any other aws commands? Seems like your credentials are not configured correctly.

[2022-11-10 02:12] #5754 closed

[2022-11-10 02:12] #5509 closed

[2022-11-10 08:31] Fantaztig opened #5891 "[Bug] creating cluster with --without-nodegroups and aws-ebs-csi-driver addon fails"
### What were you trying to accomplish?
Hi, I wanted to create a cluster with no nodegroups (managed nodegroups are defined in the config though) and the aws-ebs-csi-driver addon.
We want to create the cluster without nodes as we need to roll out calico and remove the aws-node deployment.

### What happened?
The cluster create failed with status degraded, unfortunately I don't have the exact logs

[2022-11-10 08:51] #5633 closed

[2022-11-10 16:00] #5320 closed

[2022-11-10 17:21] dewjam opened #5896 "[Feature] Support Trn1 Instance Types"
### What feature/behavior/change do you want?

Eksctl currenly launches Trn1 instances types on the EKS Optimized AMI when it should launch using the "Accelerated AMI".  Additionally, Trn1 instances require the Neuron Device Plugin DaemonSet.

eksctl should automatically discover the correct AMI for Trn1 instances and automatically install the Neuron Device Plugin when creating new clusters (simil

[2022-11-10 17:21] dewjam commented on #5896
I'm testing a fix for this now.  Hopefully a PR will be incoming today.

[2022-11-10 17:49] dewjam commented on #5896
I would really like to get this into the v0.118.0 release that is currently in rc.  Any thoughts as to whether that's possible?  (Assuming I produce a PR today?)

[2022-11-10 23:39] dewjam opened #5897 "[Bug] local eksctl build panics after dependency update"
### What were you trying to accomplish?

I was attempting to build eksctl from source and test out some changes I made locally.

### What happened?

The build completes successfully, but attempting to run the eksctl binary results in a panic.

### How to reproduce it?

* Pull down the [most recent commit](https://github.com/weaveworks/eksctl/commit/acdd9baee23206496a328e61142e3d291b143c06) from th

[2022-11-10 23:40] dewjam commented on #5897
I believe this was issue introduced in https://github.com/weaveworks/eksctl/commit/3b02914a7e05fb9ae4a88a322b67c64b1f2909b4

Checking out code from a prior commit seems to run as expected.

[2022-11-11 08:14] iuliuilea opened #5898 "IAM permissions for KMS key not created when secretsEncryption is enabled"
If I enable from eksctl config file the secretsEncryption option aparently the eksctl does not create the IAM policy necessary for EKS cluster to have access on the specified KMS key and because of this apparently the secrets are not encrypted.

Or at least this is my assumption because I don't see on my secrets the annotation which specifies  the encryption timestamp as is specified [here](https:

[2022-11-11 08:26] cPu1 commented on #5897
Thanks for the detailed issue, @dewjam. This was also caught by our integration tests. A [PR](https://github.com/weaveworks/eksctl/pull/5899) has been opened with a fix. I'm removing the bug label as it's on `main` and not  in a release.

[2022-11-11 10:44] cPu1 opened #5900 "Notify when publishing docs fails"
The `publish-docs` GitHub workflow is not configured to notify of failures. It should be configured to send notifications when it fails.

[2022-11-11 11:19] #5755 closed

[2022-11-11 12:40] #5897 closed

[2022-11-11 17:54] stmcginnis commented on #5689
Sorry, somehow missed previous comments.

[2022-11-11 17:54] #5689 closed

[2022-11-12 02:11] praneshpandurangan-at commented on #5657
I'm running into the same bug in a different path (eksctl delete nodegroup, with parallelism of 15). It happens exactly at 20 mins, and I wonder if it's just a TTL in the kubeconfig?

Fwiw, smaller nodegroups will delete just fine.

[2022-11-13 16:36] dgm commented on #5173
I just want to add, I see this is part of the eksworkshop  process ..  the cluster control file they provide expects 3 availability zones, but if you happen to choose a zone that has only two AZ's, the yaml file ends up with an empty string.   The AZS environment variable created here: https://www.eksworkshop.com/020_prerequisites/workspaceiam/    only has two elements, and the eksworkshop.yaml fi

[2022-11-14 08:58] TiberiuGC commented on #5689
@stmcginnis no worries, thanks for closing this one.

[2022-11-14 09:02] cPu1 commented on #5657
@praneshpandurangan-at, what version of eksctl are you using? A fix was out in 0.116 that should address this issue as well.

[2022-11-14 12:59] vflaux commented on #5657
I was using 0.112.
I just tested with 0.118 and this issue is gone.

[2022-11-14 13:03] #5657 closed

[2022-11-14 13:06] cPu1 commented on #5657
Great. Thanks for updating us, @vflaux.

Correct!

[2022-11-14 15:09] Himangini commented on #5891
@Fantaztig can you share the config file used?

[2022-11-14 19:35] agitkid opened #5928 "Keep getting Error: unmarshalling "mapAccounts""
I'm trying to use eksctl and "iamidentitymapping", but I keep getting the unmarshalling error:

% eksctl get iamidentitymapping --cluster our_cluster --region=us-east-1
Error: unmarshalling "mapAccounts": error unmarshaling JSON: while decoding JSON: json: cannot unmarshal object into Go value of type string

% eksctl create iamidentitymapping --cluster our_cluster --arn our_arn_for_iam_role --use

[2022-11-15 05:42] kenny-monster opened #5930 "[Feature] Allow overriding of the Karpenter OCI registry"
### What feature/behavior/change do you want?
I would like to be able to override the OCI registry used for Karpenter support. The override value should also apply to any images that are used (i.e. the controller and webhook images). Currently, this value is hardcoded as seen here: https://github.com/weaveworks/eksctl/pull/5832/files#diff-4dcf687b868f9aa422944c40d074a7948519882a86e66375305ee74963b

[2022-11-15 09:29] cPu1 commented on #5928
It looks like the `mapAccounts` field in your `aws-auth` ConfigMap is not in the right format. It should be a list of strings but your config appears to contain a list of objects. Can you post the value of the `mapAccounts` field, redacting any sensitive information?

[2022-11-15 12:53] aclevername commented on #5699
The workflow is failing again, and I'm still getting notification 😞 https://github.com/weaveworks/eksctl/actions/runs/3468945297

@Himangini  @TiberiuGC @Skarlso can we re-open this issue until it gets addressed please? I wasn't sure what the state of this issue is as it got closed without any update.

[2022-11-15 13:44] matke2002 commented on #5881
Hi @Himangini
[code]
Regular AWS CLI works fine, this is AWS Admin user.
Test on linux was with the same credentials, and it works there.

Thanks

[2022-11-15 14:25] aclevername commented on #5699
thanks for checking in @cPu1 😄

I got todays failure as a notification, and then none since the oct 18th. I mainly just was hoping there was a way to de-author me from the workflow so I don't get the notifications 😁

[2022-11-15 15:28] jcleira commented on #1564
maybe:

[code]

was causing the issue

[2022-11-15 19:01] agitkid commented on #5928
cPu1,

Thanks for your reply! Your question made me go back and look closer at the format required for mapAccounts. And that was the problem. I had this:

mapAccounts: |
  - default: 123456789123

And fixed it with this:

  - "123456789123"

Thanks. Fixed now

[2022-11-15 19:47] dewjam opened #5933 "[Feature] Support instance types that are only available in a single zone"
### What feature/behavior/change do you want?

If an instance type is only available in a single availability zone in a given region, then randomly select the remaining AZs to meet the minimum AZ count requirement for an EKS cluster.

### Why do you want this feature?

Trn1 instance types are only available in a single zone in us-east-1 and us-west-2.  As a result, when launching a cluster with a

[2022-11-15 20:21] #5928 closed

[2022-11-16 02:10] #5387 closed

[2022-11-16 09:09] rpicheta commented on #1562
A similar situation is with `oci` - (oci-cli) from Oracle Cloud Infrastructure. The new version of Lens has a problem with executing `oci`. The solution is simple: replace `oci` in your kubeconfig file with the result of the command `which oci`. In my case, it was `/usr/local/bin/oci`.

[2022-11-16 20:47] nikolaypopov commented on #5705
Has this not been fixed? Also having same issue in `us-east-1`

[2022-11-16 20:54] rwilson-release commented on #5705
It is closed from staleness. I think it is still an issue. I would love to try to submit a PR for this which might spur activity.

[2022-11-16 21:01] timharsch commented on #5705
/reopen

maybe this will work 🙏

[2022-11-16 21:05] timharsch commented on #5705
Apparently not, in my experience, comments on closed issues may be seen in the activity stream but generally are ignored/forgotten.  @rwilson-release if you're serious about submitting a PR, I might recommend that you open a new issue and reference this issue for context.

[2022-11-16 21:29] rwilson-release commented on #5705
I will do; we have some folks over here who could do it: just a matter of being motivated enough and having enough time to do so.

[2022-11-17 10:17] leonchik1976 opened #5942 "eksctl not supports OIDC authentication"
When EKS associated with Identity Provider (for example OKTA), kubectl can be used by adding flag --user=oidc, such option not exists for eksctl, and thus eksctl can't be used with OIDC enabled EKS cluster

[2022-11-17 10:36] leonchik1976 commented on #5942
OIDC section in KUBECONFIG file:

- name: oidc
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1beta1
      args:
      - oidc-login
      - get-token
      - --oidc-issuer-url=
      - --oidc-client-id=
      - --oidc-extra-scope=email
      - --oidc-extra-scope=offline_access
      - --oidc-extra-scope=profile
      - --oidc-extra-scope=openid
      command: kubectl
      env:

[2022-11-17 12:24] #5900 closed

[2022-11-17 17:25] przemolb commented on #5387
Any help ?

[2022-11-18 02:12] #5763 closed

[2022-11-18 10:47] cPu1 opened #5944 "`eksctl register cluster` fails with an error"
This was caught by our integration tests. It fails with this error:

[code]

[2022-11-18 15:48] #5944 closed

[2022-11-22 03:38] talantasan opened #5968 "[Bug] Cluster creation fails with security token included in the request is expired"
### What were you trying to accomplish?

### What happened?

### How to reproduce it?

**Logs**

**Anything else we need to know?**

**Versions**

[code]
Hello,
I am using Cloud9 to provision eks cluster with managed nodes.
Facing the following error during the cluster creation
[code]
And following issues error when deleting cluster:

[code]

[2022-11-22 08:48] #5891 closed

[2022-11-22 12:49] Himangini commented on #5896
Closed by https://github.com/weaveworks/eksctl/pull/5906

[2022-11-22 12:49] #5896 closed

[2022-11-22 14:53] talantasan commented on #5968
Looks like token expiration, but manual calls are successfull (e.g aws s3 ls or similar )
I am not generating/maintaining any credential, it is AWS Cloud9 Role assigned during Cloud9 environment creation.

[2022-11-22 16:58] bakeemawaytoys commented on #5853
I have run into this issue too.  There is an issue on the AWS Containers Road map project that seems to be related:
aws/containers-roadmap#1533.

[2022-11-22 18:54] bakeemawaytoys commented on #5853
I ran into this issue as well when trying to upgrade a cluster from 1.21 to 1.22.  Adding the AmazonEKSServicePolicy policy to the cluster's role fixed it for me.

[2022-11-23 03:13] AndrewFarley commented on #5853
@bakeemawaytoys This is totally the issue we are encountering, we're using a custom KMS key.  I guess the problem technically doesn't lie in EKSCTL however, so I will close this bug.  Thanks for that, and hope anyone else that runs into this please see this issue for the fix for this...

https://github.com/aws/containers-roadmap/issues/1533#issuecomment-1099143480

[2022-11-23 03:13] #5853 closed

[2022-11-23 13:02] diversario opened #5971 "Unable to register a kOps-provisioned cluster"
### What were you trying to accomplish?

I would like to register a v1.20 cluster provisioned with kOps in EKS.

### What happened?

[code]

### How to reproduce it?

Try to register a non-EKS cluster.

**Logs**

This is the only output:

[code]

**Anything else we need to know?**

[This code](https://github.com/weaveworks/eksctl/blob/36b30a9e936c347ffa0a3a154eb33822acdbf5fb/pkg/connector/connecto

[2022-11-24 02:05] #5779 closed

[2022-11-24 02:30] tei-caredoc opened #5972 "[Bug] ImagePullBackOff of kube-proxy since eks cluster update"
### What were you trying to accomplish?
Issues that have occurred since the update of node groups.

I entered the following command for kube-proxy update after cluster update.

[code]

### What happened?
Failed to load image of kube-proxy (ImagePullBackOff)

### How to reproduce it?
Not really sure

**Logs**
[code]

**Anything else we need to know?**
The new node pool is on version v1.23.13-eks-60

[2022-11-24 06:29] patrat commented on #5972
Just ran in the same issue - looks like latest is https://docs.aws.amazon.com/eks/latest/userguide/managing-kube-proxy.html v1.23.8-eksbuild.2 for 1.23	- this is avail on the public ECR but ```image: 602401143452.dkr.ecr.us-east-1.amazonaws.com/eks/kube-proxy:v1.23.13-eksbuild.``` is used in the kube-proxy ds.

[2022-11-25 02:27] tei-caredoc commented on #5972
Updating kube-proxy with eksctl to date has the same problem.

I'm using the ap-northeast-2 region, and I temporarily worked by referring to @luong-komorebi  comment.

[code]

This solved the issue, but I hope the eksctl code is reflected normally.

Thanks to those who left comments.

[2022-11-25 04:18] tei-caredoc commented on #5972
Version 1.24 has the same problem.

Below is the event log.

Temporarily using version 1.23.

https://docs.aws.amazon.com/eks/latest/userguide/managing-kube-proxy.html

The same error occurs even if I insert an image by referring to this document.

[code]

[2022-11-25 07:29] TiberiuGC commented on #5971
Hi @diversario - indeed the `DescribeCluster` command runs against EKS API. However, if you double check the code, it's written in such a way that it expects the command to fail with `ResourceNotFoundException`, in which case tries to register the cluster.

In your case, seems that `DescribeCluster` fails with some other unexpected error. I find it annoying that we don't wrap the actual error and

[2022-11-25 07:45] TiberiuGC commented on #5968
Could you please also try to run `aws cloudformation describe-stack-resources`?

[2022-11-25 08:07] TiberiuGC commented on #5972
Going to close this issue as it seems that `eksctl` is just getting the latest `kube-proxy` version using `aws eks describe-addon-versions`, which returns an image that doesn't actually exist (i.e. `v1.23.13-eksbuild.2`).

[2022-11-25 08:07] #5972 closed

[2022-11-25 09:00] cPu1 opened #5974 "Release version no longer present in Slack notifications"
When a release workflow succeeds or fails, a Slack notification is sent that contains the release version. This release version is now no longer present in the message.

[2022-11-25 10:05] TiberiuGC commented on #5971
PR merged, this will be available later today in the RC.

[2022-11-25 10:16] #5974 closed

[2022-11-25 10:32] #4459 closed

[2022-11-28 05:08] Ryu-Z commented on #5874
who can help me

[2022-11-28 17:57] shavichacon commented on #5809
Version eksctl 0.120.0 has same issue

[2022-11-29 10:15] yws-ss opened #5995 "[Bug] KubeletExtraConfig will be ignore when using custom AMI with self-managed node group"
### What were you trying to accomplish?

Create a self-managed node group with custom AMI. Also, configure the kubeletReserved/SystemReserved through KubeletExtraConfig

### What happened?

According to new [announcement](https://eksctl.io/announcements/nodegroup-override-announcement/), eksctl decided to remove the eksctl's bootstrap script for custom AMI with node group. Therefore, in order to e

[2022-11-29 10:16] yws-ss commented on #5995
Not sure it related with https://github.com/awslabs/amazon-eks-ami/issues/873

[2022-11-29 20:15] h-wasmus opened #5999 "[Bug] Error using ekcstl to upgrade Nodegroup when using launch templates with Custom AMI"
### What were you trying to accomplish?

Upgrade manage node group in AWS with a launch template and launch AMIs

### What happened?

When updating a nodegroup with existing or new launch template version using the following command:

```eksctl upgrade nodegroup --name=<nodegroupname less than 100 characters> --cluster=<cluster name less than 100 characters> --launch-template-version=2```

The fol

[2022-11-30 04:06] matti commented on #2363
ghjk

[2022-11-30 08:47] #5831 closed

[2022-11-30 08:56] cPu1 commented on #5831
@computerphilosopher, is this resolved? If not, can you verify that the same API call works with the AWS CLI, by running `aws eks describe-cluster`. I'd also recommend using the latest version of eksctl as a similar issue was fixed recently.

[2022-11-30 15:07] pnmatich opened #6000 "[Bug] Lameduck fix is missing from coredns-1.24 file"
### What were you trying to accomplish?
Upgrade to version 1.24 of eks, and keep the recent coredns lameduck fix that was merged in.

### What happened?
I noticed a lameduck fix was added in [this pull request](https://github.com/weaveworks/eksctl/pull/5695), but the fix is missing in [coredns-1.24.json](https://github.com/weaveworks/eksctl/blob/main/pkg/addons/default/assets/coredns-1.24.json).

[2022-11-30 17:42] abilalzengin commented on #2846
thanks a lot.

[2022-11-30 19:41] bartbkr opened #6001 "[Feature] Add new spot allocation strategies"
AWS announced a new spot allocation strategy, "Price Capacity Optimized".

https://aws.amazon.com/blogs/compute/introducing-price-capacity-optimized-allocation-strategy-for-ec2-spot-instances/

This option is not available when setting nodegroup `spotAllocationStrategy`:

[code]

Results in:

[code]

Please add `"price-capacity-optimized"` as a valid `spotAllocationStrategy`.