[2020-10-02 03:11] cw-sakamoto opened #2700 "Unable to configure kube-system/aws-node IRSA with eksctl 0.29.0."
**What happened?**

In this [document](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-cni-walkthrough.html), the following command to configure IRSA for aws-node results in an error.

[code]

It was working in `0.28.1,` ... is it an unexpected error?

**What you expected to happen?**
- I want the same commands to work in 0.29.0.
  - If it's no longer needed in `0.2

[2020-10-02 06:05] michaelbeaumont commented on #2700
@cw-sakamoto please check if the service account exists already and has the corresponding annotation.
If the cluster was created with version >= `0.28.0-rc.0` and `withOIDC` then `create iamserviceaccount` isn't necessary for `aws-node`. We'll improve the docs on this.

[2020-10-02 13:54] sgrzemski-ias commented on #956
Any update?

[2020-10-03 20:28] #2692 closed

[2020-10-03 20:38] michaelbeaumont commented on #2675
This issue is now fixed, there is another that still breaks managed nodegroups with OIDC

[2020-10-03 22:25] #2675 closed

[2020-10-04 18:10] michaelbeaumont commented on #2675
The second issue is now fixed as well

[2020-10-05 11:13] MartinEmrich commented on #1030
Doing it from a script within the new instance won't be good enough for billing tags, as there is a short period where the volume exists, but is not tagged.

According to this https://forums.aws.amazon.com/thread.jspa?threadID=122354&start=25&tstart=0, There is a way to tag the volumes within an Auto Scaling Group via Launch Templates.

Apparently eksctl already uses launch templates, maybe all we

[2020-10-05 11:50] sk-credify opened #2707 "invalid capacity 0 on image filesystem"
**What happened?**

When using `kubectl describe nodes`, the reason was `invalid capacity 0 on image filesystem`

**How to reproduce it?**
[code]

**Versions**
Please paste in the output of these commands:
[code]

**Logs**
Include the output of the command line when running eksctl. If possible, eksctl should be run with debug logs. For example:
`eksctl get clusters -v 4`

[code]

[2020-10-05 12:36] cPu1 commented on #2565
@hikhvar thanks for the detailed report. We've found the issue and a [fix](https://github.com/weaveworks/eksctl/pull/2708) will be out in the next release.

[2020-10-05 15:15] cdenneen commented on #1603
Did the tags used to work? I thought they did but all my nodeGroups now no longer have the tags specified in the eksctl configuration. Need to get these tags back in as they are used for Cost reporting.

[2020-10-05 18:47] cdenneen commented on #772
@cPu1 using `vpc.securityGroup` is by definition for "for communication between control plane and nodes" however the requirement here is for "communication from other ranges to the control plane API".

if you don't override this value would you have to `need to add the correct SGs for unmanaged nodegroups`?

I think there also should be an option for attaching additional SGs to the cluster as well

[2020-10-05 23:27] cdenneen commented on #772
@tabern any thoughts on needing ability to add extracidrs to CP SG in order to access from Direct Connect? Not everyone uses a dedicated bastion host which is part of a SG

[2020-10-06 02:56] riponbanik commented on #1088
Image name is changed from 1.16.13 - https://docs.aws.amazon.com/eks/latest/userguide/update-cluster.html. Therefore it would be

602401143452.dkr.ecr.us-west-2.amazonaws.com/eks/kube-proxy:v1.16.13-eksbuild.1

[2020-10-06 08:05] #2700 closed

[2020-10-06 13:12] michaelbeaumont commented on #2642
@babulsha I'm gonna close this issue, let us know here if you have the chance to run those commands or @leforthomas's comment helped

[2020-10-06 13:12] #2642 closed

[2020-10-06 13:13] michaelbeaumont commented on #2673
@tech3371 I'm going to close this issue because I don't think the problem lies with `eksctl`. Let us know here if you have more information.

[2020-10-06 13:13] #2673 closed

[2020-10-06 13:17] michaelbeaumont commented on #2686
@amoswang0917 Can you include the config you used?

[2020-10-06 14:31] artem-nefedov opened #2712 ""create cluster" sometimes fails after creating the cluster (i/o timeout accessing API endpoint)"
**What happened?**

When running "create cluster", after "cluster" and IAM addon CFN stacks are created, command sometimes fails while trying to access API endpoint. Issue rarely happens. Reproduction rate is ~5-10%.

I never seen this issue with 0.26.0, so I think this might be a regression.

**How to reproduce it?**

eksctl create cluster -f manifest.yaml

manifest.yaml contenst:

[code]

**Vers

[2020-10-06 15:20] michaelbeaumont commented on #2707
@sk-credify On its own, it's likely a harmless, transient condition during node startup, although ideally the warning wouldn't appear in such cases.
I can reproduce it but no negative effects related to the warning, have you encountered any such effects?

[2020-10-07 05:37] amoswang0917 commented on #2686
apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: igbw-test-and-dev-all-in-one-cluster
  region: ap-northeast-1

vpc:
  cidr: 10.111.0.0/16
  nat:
    gateway: HighlyAvailable

managedNodeGroups:
  - name: igbw-dev-nodegroup
    instanceType: m5.xlarge
    privateNetworking: true
    ssh:
      publicKeyName: xxxxx
    volumeSize: 300
    volumeType: gp2
    minSize: 1
    maxS

[2020-10-07 17:37] abdennour opened #2716 "Container image for eksctl version 0.29.2"
**Why do you want this feature?**
To run eksctl from within container

**What feature/behavior/change do you want?**
Container image with eksctl CLI defined

[2020-10-07 17:41] abdennour commented on #2716
The image will be available after a while under : https://hub.docker.com/r/abdennour/eksctl/tags
There is now pending automated build by docker hub.
Stay tuned!

[2020-10-07 17:50] michaelbeaumont commented on #2716
We already publish images at `weaveworks/eksctl`, there are also multiple community-published Images.

[2020-10-07 17:50] #2716 closed

[2020-10-08 01:30] neha-viswanathan commented on #1495
Hi @martina-if I'd like to work on this issue.

[2020-10-08 04:47] sk-credify commented on #2707
After few days, I tried many solutions and I think the issue come from EKS, not eksctl!

[2020-10-08 07:13] martina-if commented on #1495
Hi @neha-viswanathan great that you want to contribute to eksctl! :D @michaelbeaumont and @cPu1 are the maintainers of eksctl and can help you with it :)

[2020-10-08 07:49] michaelbeaumont commented on #1495
@neha-viswanathan Thanks for your interest, you're very welcome to take on this issue!

[2020-10-08 09:48] ScottKGregory opened #2721 "New Windows nodes unable to assign IP to pods"
**What happened?**
Upon creating a new cluster using the config below, the Windows nodes are unable to support any pods, with each new one scheduled reporting `pod does not have label vpc.amazonaws.com/PrivateIPv4Address`
<details>
  <summary>Cluster.yaml</summary>

[code]

</details>

On creation the logs look to have been successful (see below) and all linux workloads I've tried have worked. The

[2020-10-08 10:03] michaelbeaumont commented on #2707
OK, I'll close this issue then. Thanks!

[2020-10-08 10:03] #2707 closed

[2020-10-08 10:56] michaelbeaumont commented on #2690
Please include the config you're using.

[2020-10-08 10:59] michaelbeaumont opened #2722 "Expand integration test coverage"
We should have another, more complete suite of tests to cover more cases/settings.

[2020-10-08 11:06] michaelbeaumont commented on #2694
@shacharaj It wasn't clear to me whether you've reproduced this without `overrideBootstrapCommand`, does this only occur when you set that field?

[2020-10-08 12:11] shacharaj commented on #2694
@michaelbeaumont it only happens when using the `overrideBootstrapCommand`, everything works as expected without this field.

[2020-10-08 17:03] sstanfor commented on #2364
This allows us to easily spin up / tear down cost efficient EKS cluster. It would be great to see this integrated into eksctl

[2020-10-08 17:07] igor-feoktistov commented on #2364
eksctl is a game changer for us. Looking forward to see when you merge it to main eksctl repo.

[2020-10-08 21:10] abdennour commented on #2716
Not sure why you closed issue before getting my approval.
But no problem, let me list the images of **0.29.2** release:

- docker pull abdennour/eksctl:0.29.2-aws-1.18.154
- docker pull abdennour/eksctl:0.29.2-aws-1.18.154-kubectl-v1.19.2

https://hub.docker.com/r/abdennour/eksctl/tags?page=1&name=0.29.2

[2020-10-08 22:16] michaelbeaumont commented on #2716
Indeed, and thanks for contributing back to `eksctl`! Closing the issue wasn't meant to come across rude, it's just that an issue tracking an `eksctl` image for a specific release version isn't very useful. We would very much welcome PRs for improving the official image! :slightly_smiling_face:

[2020-10-09 21:25] michaelbeaumont commented on #2691
@andyli the kubelet has failed to start, can you ssh into the nodes and check the kubelet logs, see also [AWS docs for troubleshooting the container runtime network](https://docs.aws.amazon.com/eks/latest/userguide/troubleshooting.html#troubleshoot-container-runtime-network)

[2020-10-10 12:36] michaelbeaumont commented on #2694
@shacharaj What are you trying to accomplish? The `overrideBootstrapCommand` will override the usual bootstrapping, so if you use it you have to do handle bootstrapping yourself. Do you want `preBootstrapCommands`?

[2020-10-11 02:35] sayboras opened #2724 "Build binary for arm64"
*Before creating a feature request, please search existing feature requests to see if you find a similar one. If there is a similar feature request please up-vote it and/or add your comments to it instead*

**Why do you want this feature?**
Recently, there is a lot of development related to arm ec2 instance (e.g. aws Graviton). It will be great if eksctl is shipped with arm64 binaries as well.

On

[2020-10-11 05:48] shacharaj commented on #2694
@michaelbeaumont  I need to run user-data script that is modifying the docker cache thresholds as described here:
https://aws.amazon.com/premiumsupport/knowledge-center/eks-worker-nodes-image-cache/

So this is the example script that needs to be run at node creation:

[code]

[2020-10-12 08:18] vishal-biyani opened #2727 "Nodegroup upgrade does not update tags etc."
I am not sure if this is a bug or intended behavior but upgrading node pools does not seem to work or seems to be giving the wrong message to the user:

**What happened?**

[code]

[code]

[code]

**What you expected to happen?**

I expected the nodegroup to get upgraded with new tags etc.

**How to reproduce it?**

Create a cluster, update just tag in one of the nodegroups and fire upgrade comman

[2020-10-12 12:09] ppalucha opened #2728 "eksctl get nodegroup exist with code 0 when nodegroup doesn't exist"
**What happened?**
'eksctl get nodegroup' exist with code 0 when nodegroup doesn't exist

**What you expected to happen?**
If nodegroup does not exist, `eksctl get nodegroup` should exit with non-zero code.
Current behavior is inconsistent with what happens for 'get cluster' if cluster does not exists.
It also makes it more difficult to check for nodegroup existence (you need to parse output).

**

[2020-10-12 17:26] JoeyG1973 opened #2730 "eksctl create not accepting vpc non-default cidr"
**What happened?**
 eksctl -v4 create cluster -f eksctl/eks-course.yaml
2020-10-12T17:16:39Z [ℹ]  eksctl version 0.29.2
2020-10-12T17:16:39Z [ℹ]  using region us-east-1
Error: VPC CIDR block "10.205.117.0/24" is not the same as "10.205.251.0/25"

**What you expected to happen?**
A new eks cluster would be created using the non-default vpc cidr

**How to reproduce it?**
create a vpc with a default

[2020-10-12 18:20] michaelbeaumont commented on #2727
Hi, the `upgrade` command is only intended to upgrade the Kubernetes version/template of managed nodegroups. I believe the error message has improved since `0.25.0` but please report back if not!

[2020-10-12 18:20] #2727 closed

[2020-10-13 09:19] ScottKGregory commented on #2721
Just a note, this is still ocurring with 0.30.0-rc.0

[2020-10-13 10:18] michaelbeaumont commented on #1160
If this occurs with a current version, please post your config file. `update` is now called `upgrade` and is intended to upgrade the control plane version

[2020-10-13 10:18] #1160 closed

[2020-10-13 10:34] #2728 closed

[2020-10-13 10:45] michaelbeaumont commented on #2724
Duplicate of #2621

[2020-10-13 10:45] #2724 closed

[2020-10-13 13:18] epcim opened #2735 "Managed Nodegroup + fully private cluster failed to stabilize + minor documentation bug"
[code]

**1. Documentation says private/public subnets are being /19 but 0.29.x does different defaults**
[code]

**2. Complex deployments with managed node groups fails**

Configuration example attached below. I have tried multiple times (5x and more) multiple regions (eu, asia), during creation AWS change status of nodegroup and start rollback.

Deployment fails with:
- `Nodegroup lma-v17 failed

[2020-10-13 13:37] anamika-avinash opened #2736 "Managed NodeGroup creates only t3.medium instances in ap-northeast-2"
**What happened?**
Created an EKS cluster and one managed node group  (instance type: m5.8xl) using 0.29.2 version in the ap-northeast-2 region.
Following which, I added the below lines to the config file for a new managed node group using the same instance type. Instances get created and the console displays m5.8xl instances. However, on the EC2 console the instances for the new managed nodegroup

[2020-10-13 13:59] michaelbeaumont commented on #2736
@anamika-avinash This sounds strange indeed, can you perhaps paste some more output/screenshots showing how EKS reports one instance type for the MNG but EC2 is showing them as a different instance type, if I've understood correctly?

[2020-10-13 14:21] michaelbeaumont commented on #19
I suspect this issue isn't relevant anymore, there's already the [AWS provider](https://github.com/kubernetes-sigs/cluster-api-provider-aws/). We have an issue for declarative apply https://github.com/weaveworks/eksctl/issues/462

[2020-10-13 14:44] michaelbeaumont commented on #20
@dcherman I'd love to hear your thoughts on `eksctl` and [the Cluster API AWS provider](https://github.com/kubernetes-sigs/cluster-api-provider-aws/).

[2020-10-13 14:45] michaelbeaumont commented on #2566
I'm going to close this, please report back if there's new information.

[2020-10-13 14:45] #2566 closed

[2020-10-13 14:49] michaelbeaumont commented on #1478
Idea: Use the netlify API, which I presume exists in some form, to add the `release-*` branch to the built branches in netlify

[2020-10-13 15:29] jwitrick commented on #2735
Seems very similar to what I am seeing. If i drop eksctl version down to 0.27.0 i can create my cluster and nodegroups correctly. but any higher version of eksctl the nodegroups fail to stabilize.

My cluster file contains this:
 `managedNodeGroups:
  - name: ng-us-east1a-m5
    instanceType: m5.2xlarge
    minSize: 1
    desiredCapacity: 1
    maxSize: 10
    availabilityZones: ["us-east-1a"]

[2020-10-13 17:34] cdenneen commented on #2665
@kishorj only reason I can think of here is because eksctl relies heavily on existing stacks. If there is a stack or isn't a stack for a resource. So if you do a `kubectl delete sa foo` but the stack still exists then I can see why eksctl didn't recreate it. You'd need to delete the sa via eksctl in order for the stack to get deleted.

I've run into similar issue with nodegroup updates. Back in 0.

[2020-10-13 20:03] anamika-avinash commented on #2736
Yes @michaelbeaumont , you are absolutely correct. Please let me know if you need more information.

[code]

<img width="1003" alt="Screen Shot 2020-10-13 at 8 31 45 PM" src="https://user-images.githubusercontent.com/22999567/95907278-2bbb9780-0d93-11eb-96c7-39e3e60ba851.png">

![photo6066445674590874818](https://user-images.githubusercontent.com/22999567/95910018-53acfa00-0d97-11eb-9745-642ae665c

[2020-10-13 21:09] michaelbeaumont commented on #2736
Thanks @anamika-avinash, I've indeed been able to reproduce this in `ap-northeast-2` and not in `us-west-2`.

[2020-10-13 22:22] michaelbeaumont commented on #2736
It looks like the ASG corresponding to the nodegroup has an Override set:
[code]

[2020-10-13 22:45] limyc commented on #2736
I get the same issue. (eksctl: v0.29.2, v0.29.1)

region: ap-northeast-2

[2020-10-13 23:13] rtripat commented on #2736
We are investigating this issue, will have an update soon

[2020-10-14 00:19] rtripat commented on #2736
This was caused due to a bug which has now been rolled back. Can you please try creating a node group again?

[2020-10-14 01:29] imbohyun1 commented on #2736
Same issue(in ap-northeast-2) experienced here and I have confirmed that it works now.
Thank you for quick response.

[2020-10-14 02:23] marcotralala opened #2737 "Outbound internet traffic from pod"
**What happened?**
Trying to invoke web requests from inside of a container to an internet site, which is returning

`Invoke-WebRequest : The remote name could not be resolved: www.google.com`
`At line:1 char:1`
`Invoke-WebRequest https://www.google.com`

`     CategoryInfo          : InvalidOperation: (System.Net.HttpWebRequest:HttpWebRequest) [Invoke-WebRequest], WebException`
`     FullyQualifi

[2020-10-14 07:16] #2736 closed

[2020-10-14 10:14] bcbrockway commented on #462
Hey, tickets such as https://github.com/weaveworks/eksctl/issues/2038 are being closed and linked to this one, but @mumoshu specifically mentions that updates to clusters with the config file are not in scope for this issue.

Can you please confirm if being able to make changes to the config file, apply them and have the relevant changes calculated and pushed a la terraform is in the pipeline for

[2020-10-14 11:53] michaelbeaumont commented on #462
Hi @bcbrockway, you're right this may not be the best issue to use as a catch all, because of its history, but those features are indeed the intention for `eksctl apply`. It's in the pipeline for the future but unfortunately I don't have a timeframe for you at the moment

[2020-10-14 14:05] michaelbeaumont commented on #2650
Waiting for `0.33.0` #2710

[2020-10-14 16:19] cdenneen opened #2739 "update policies on existing serviceaccounts not updating"
Running 0.28.1 tried to add 4th policy to the attachPolicyARNs for the serviceAccounts in the eksctl Config.
Ran as `eksctl create iamserviceaccount --approve --override-existing-serviceaccounts` but the 4 service accounts that should have been "updated" did not show up.

Reviewing the existing roles that match those 4 service accounts I can confirm that only the old 3 policies are attached to the

[2020-10-14 17:01] aclevername commented on #2737
Hey @marcotralala 👋

I tried to reproduce the issue using the same config on eksctl `0.29.2` and `0.27.0`, but failed to reproduce the error.

For reference the pod I am using is taken from the docs: https://kubernetes.io/docs/setup/production-environment/windows/user-guide-windows-containers/#getting-started-deploying-a-windows-container and I was running `Invoke-WebRequest -URI https://www.googl

[2020-10-14 17:11] rothgar opened #2740 "create nodegroup fails with EKS 1.18"
**What happened?**
I upgraded my EKS cluster to 1.18 via web console. I then tried to make a nodegroup in the cluster but it fails. I tried with eksctl 0.29.2 and 0.30.0-rc1

**What you expected to happen?**
A nodegroup to be created

**How to reproduce it?**
I had created a previous cluster with eksctl with 1.17
Upgraded the cluster via the web console
ran `eksctl create nodegroup --cluster stage

[2020-10-14 18:03] michaelbeaumont commented on #2735
@jwitrick Do you have `iam.withOIDC: true`?

[2020-10-14 19:16] marcotralala commented on #2737
Yes getting the same error with the win-webserver pod
kubectl exec -it win-webserver-5f8678bc7c-sln47 powershell

Invoke-WebRequest : The remote name could not be resolved: 'www.google.com'

Maybe something to do with core-dns configmap that I patched to match my domain and dc ip address

[2020-10-14 19:19] michaelbeaumont commented on #2735
As far as the subnets, have you specified anything in the VPC configuration? The docs mention `/19` subnets only for the default VPC, as far as I can tell, which I just verified does create `/19` subnets.

[2020-10-15 03:31] cw-sakamoto commented on #2740
I also have an problem with node groups that start with 0.29.2 not starting with 0.30.0-rc1.

[2020-10-15 04:12] marcotralala commented on #2737
Hi @aclevername ,

I have recreated the eks cluster and can now successfully initiate outbound internet traffic from the pods. I suspect the gMSA and domain join resources that I'm applying to the cluster is breaking outbound internet traffic. Also I'm patching the coredns config map to cater for the domain.  I will test this tomorrow.

[2020-10-15 07:26] cw-sakamoto opened #2741 "Node groups created by eks 1.17 (eksctl is 0.30.0-rc1) are not created by eks 1.18."
I also wrote a comment here: https://github.com/weaveworks/eksctl/issues/2740

**What happened?**

Node groups created by eks 1.17 (with eksctl 0.30.0-rc1) are not created by eks 1.18(with eksctl 0.30.0-rc1).

**How to reproduce it?**

[code]
[code]
[code]
The results were the same when I used eksctl 0.30.0-rc0.

**Versions**
Please paste in the output of these commands:
[code]

**Logs**
kubelet l

[2020-10-15 08:01] andyli commented on #2691
I've just ssh'ed into a node. One suspicious thing was the kubeconfig file contains strings that look like template variables that haven't been substituted: `MASTER_ENDPOINT`, `CLUSTER_NAME`, and `AWS_REGION`.

[code]

Other logs that I'm not sure if useful:
<details>
<summary>kube-system_aws-node log</summary>

[code]
</details>

<details>
<summary>kube-system_kube-proxy log</summary>

[code]
</d

[2020-10-15 08:02] michaelbeaumont commented on #2741
@cw-sakamoto Can you post the output of `create nodegroup`? Do you mean it errors with "Failed to stabilize"?

[2020-10-15 08:19] cw-sakamoto commented on #2741
@michaelbeaumont
Thank you for your comments.

eksctl finishes without error, but `kubectl get node` shows no node, and `kubectl get po -n kube-system` shows pending.

[code]
[code]

[2020-10-15 08:32] #2741 closed

[2020-10-15 08:42] michaelbeaumont commented on #2740
@rothgar It looks like the creation may have timed out, did the status on `CREATE_IN_PROGRESS` ever change?

[2020-10-15 08:49] michaelbeaumont commented on #1356
@zhujik I'm going to close this as resolved. To anyone reading this, please comment if @forsberg's solution didn't help!

[2020-10-15 08:49] #1356 closed

[2020-10-15 11:18] aclevername commented on #148
As @michaelbeaumont  suggested using the Simple Session Manager (SSM) looks like a simpler way to connect to the nodes. Taking a look at the aws-sdk it does have a package for it https://docs.aws.amazon.com/sdk-for-go/api/service/ssm/#SSM.StartSession

I tried playing around with this locally and could not succesfully connect to an EKS node. Looking into it, it appears that SSM is not enabled by d

[2020-10-15 12:28] cPu1 commented on #2721
@ScottKGregory I was able to reproduce the issue a few times, but it's not consistent. It seems to be an issue with the VPC admission webhook. Waiting a few minutes after the Windows node is up before deploying Windows workloads has generally worked for me in my tests. This issue was reportedly fixed in 0.2.3 (which is what eksctl 0.30.0 installs), but it seems like we've still run into it: https:

[2020-10-15 13:16] aclevername opened #2743 "Add flag to enable Simple System Manager (SSM) for easy SSH access"
**Why do you want this feature?**
I want to be able to easily SSH onto a worker node in order to be able to debug issues, for example when bootstrapping fails. Using [SSM](https://docs.aws.amazon.com/systems-manager/latest/userguide/what-is-systems-manager.html) is the recommended way to ssh onto nodes https://aws.github.io/aws-eks-best-practices/hosts/#minimize-access-to-worker-nodes. This remove

[2020-10-15 13:45] michaelbeaumont commented on #1967
@chimerab This issue was about `eksctl delete cluster` not working, does `delete cluster` not work for this stack?

[2020-10-15 16:20] pranay01 commented on #2740
Facing similar issue

![Uploading photo_2020-10-15 21.49.48.jpeg…]()

[2020-10-15 16:22] shrivastavshubham34 opened #2745 "EKSCTL cannot add nodegroups even when I have k8s masters role"
Hello,

[code]

EKSCTL throws me the following error every time I try to add node groups to the existing cluster.
[code]
Other commands like **eksctl get --** works without any issues.

I also am able to do all operations using kubectl, since I have a masters role in auth configmap

What might the issue be?

[2020-10-15 18:26] jshrack-ssi commented on #2364
While I agree this promotes a commercial product the full PR has been provided to enable the feature set and it does seem like a useful extension to eksctl. I say leave it up to the user to determine the value of the product and so long as it doesn't adversely affect the code quality or sustainability I don't see why the PR shouldn't be merged.

[2020-10-15 19:13] michaelbeaumont commented on #2745
Please see https://github.com/weaveworks/eksctl/issues/1356#issuecomment-686981450 and the following comments

[2020-10-15 19:14] michaelbeaumont commented on #2740
That's a different error. Please provide more information like the commands you're using and/or your config.

[2020-10-16 02:10] marcotralala commented on #2737
OK, I have reproduced this. Outbound internet traffic in the pod is broken after I join the windows worker node to a domain using SSM to send a command:
`$commandId = aws ssm send-command --document-name $adGroupCreateSSMdoc --targets "Key=InstanceIds, Values=i-xxxxxxxxxx" --parameters "ADSecurityGroup=$gMSAADSecurityGroup" --query "Command.CommandId" --output text`

with command document linked:

[2020-10-16 02:40] guilleojeda commented on #1930
I didn't even use Terraform, I used AWS's own CloudFormation to create my EKS cluster, and I'm having the same issue. Why even let users create a cluster with CloudFormation if you don't plan to support it?

[2020-10-16 04:56] timharsch opened #2746 "can not create fargate profile with existing VPC"
**What happened?**
could not create cluster with fargate, when using existing VPCs.

**What you expected to happen?**
cluster should not fail to create.

command used:
eksctl create cluster -f outputs/fargate-with-vpc.yaml.beta11Vpc.yaml --verbose=4

**How to reproduce it?**
Include the steps to reproduce the bug.
If using a config, include it here, removing any sensitive information!

[code]

**A

[2020-10-16 05:58] chimerab commented on #1967
@michaelbeaumont  No, I am good with delete cluster function at least in eksctl 0.27 version.

[2020-10-16 09:19] michaelbeaumont commented on #2746
[code]

[Fargate profiles require private subnets](https://docs.aws.amazon.com/eks/latest/userguide/fargate.html) and it appears you haven't provided any during cluster creation or any explicitly as [a property under `fargateProfiles`](https://eksctl.io/usage/schema/#fargateProfiles-subnets).

[2020-10-16 09:48] ysam12345 opened #2747 "zsh autocomplete error when calling eksctl create nodegroup - invalid option definition"
**What happened?**
When I type `eksctl create nodegroup [TAB]`
It shows following error
`_arguments:comparguments:319: invalid option definition: --version[Kubernetes version (valid options: 1.14, 1.15, 1.16, 1.17) [for nodegroups "auto" and "latest" can be used to automatically inherit version from the control plane or force latest]]:
`

Tested on my two macbook pro / Amazon Linux 2 EC2 Instance

[2020-10-16 10:31] #2320 closed

[2020-10-16 11:00] woltertaal opened #2749 "Attach boundary to aws-node service account"
**What happened?**
when i create a cluster with "withOIDC: true" then a service account aws-node  will be created (since 0.28??).
But the boundary wil not be set.

The creation of the role get errors because we can only create roles with a specific boundary in our AWS account.

**What you expected to happen?**
Create a service account with the boundary that i set in de configuration.

**How to rep

[2020-10-16 11:44] michaelbeaumont commented on #2749
@woltertaal Which boundary would you expect to be attached to the `aws-node` service account?

[2020-10-16 11:48] woltertaal commented on #2749
this boundary: arn:aws:iam::{ACCOUNTID}:policy/boundarypolicy .

Or can i specify which boundary i want to attache to the aws-node service account?
Or can i disable the creation of the aws-node service account?

[2020-10-16 11:54] ScottKGregory commented on #2721
@cPu1 I've had it constently do this each time I've created a new cluster, waiting doesn't seem to have ever mitigated the issue.

**vpc-resource-controller logs**
[code]

**vpc-admission-webhook logs**
[code]

[2020-10-16 12:08] michaelbeaumont commented on #2665
Ultimately, this is due to the fact that `create iamserviceaccount` is not intended to reconcile the config with the cluster, i.e. `--override-existing-serviceaccounts` is intended for cases where the kubernetes SA exists but not the IAM stack.
But it's definitely a worthy feature, which we're tracking at https://github.com/weaveworks/eksctl/issues/1497.

[2020-10-16 12:08] michaelbeaumont commented on #2665
Duplicate of https://github.com/weaveworks/eksctl/issues/1497

[2020-10-16 12:08] #2665 closed

[2020-10-16 12:10] michaelbeaumont commented on #2739
Thanks @cdenneen. I want to track this in #1497, so I'm going to close this issue.

[2020-10-16 12:10] michaelbeaumont commented on #2739
Duplicate of #1497

[2020-10-16 12:10] #2739 closed

[2020-10-16 12:13] michaelbeaumont commented on #2749
Yes, so you'll need to explicitly mention the `kube-system/aws-node` account if you want to specify the boundary, which is intended to be possible but at the moment throws an error, see https://github.com/weaveworks/eksctl/pull/2750

[2020-10-16 12:17] woltertaal commented on #2749
Oke, great.

That is exactly what i was trying to do, but got the error that kube-system-aws-node wasn't unique.

Thanks for the quick response

[2020-10-16 14:14] pnmcneil opened #2752 "Cannot create Windows Private Cluster Without Internet"
**What happened?**
When creating a private cluster, the Linux Node Group members correctly joins the cluster, but the Windows Node Group members do not join the cluster. This occurs only when internet access is removed from the private subnets the Node Groups are deployed to.

The message is a time out (after 25 minutes) stating no members joined the Windows Node Group.

`
Error: timed out (after

[2020-10-16 14:47] #2749 closed

[2020-10-16 16:28] neha-viswanathan commented on #1185
@michaelbeaumont Hi, I'd like to work on this.

[2020-10-16 16:46] michaelbeaumont commented on #1185
@neha-viswanathan Sure, so I think the first step would be:

i.e. "modernize" the command.

[2020-10-16 17:13] #1495 closed

[2020-10-17 00:23] shrivastavshubham34 commented on #2745
Tried the below method but did not work,
Seems its not able to find the cluster now

![image](https://user-images.githubusercontent.com/13406071/96323984-416bcf80-0fd4-11eb-9df5-9684d5d1562a.png)

[2020-10-17 14:15] LucasAmoedo commented on #1930
Same issue here, using Spotinst's CloudFormation.
I understand that a rewrite would be difficult to implement, but I think the documentation should warn about this limitation beforehand.

[2020-10-17 21:07] dcherman commented on #20
@michaelbeaumont Are you asking me if you should try to implement a Cluster API Provider, or what my thoughts are on the experimental EKS support in the Cluster API AWS Provider?

If it's the former, then absolutely yes.  While Cluster API itself is relatively young, I think a significant amount of tooling will be built around it as it matures.  If we implement a provider that works with Cluster A

[2020-10-17 21:33] timharsch commented on #2746
Thanks for the hints @michaelbeaumont.  I was able to get past the error.  For future travelers, this is what I did:

1.  Switch to private subnets per the Fargate docs you provided
2. Tag my subnets per the [eksctl docs](https://eksctl.io/usage/vpc-networking/#use-existing-vpc-any-custom-configuration) (see 6th bullet: tagging of subnets)
[code]
3.  Added subnets property to fargateProfiles.  Her

[2020-10-17 21:33] #2746 closed

[2020-10-17 21:43] timharsch commented on #1982
Postmortem note for future travelers:
I did not get a chance to retest this particular issue using fargate as promised.  But, I did eventually get fargate with a custom VPC working (tested via deploying some busybox pods and exec shell on them).  See my answer in issue #2746
You'll note after reading that issue that I would not have gotten much farther using public subnets as I was attempting to d

[2020-10-17 23:55] uycarumba commented on #581
We in the company also need this functionality, due to control and government policies.
:)

[2020-10-18 06:02] neha-viswanathan commented on #2747
@michaelbeaumont @ysam12345 Tested this out, looks like this works:
[code]

But you have to enter the `=` manually.

[2020-10-18 07:34] ysam12345 commented on #2747
Created a docker image for testing this issue
Dockerfile: https://github.com/ysam12345/test-eksctl-zsh-autocomplete/blob/master/Dockerfile

### Script
[code]
### Output
![image](https://user-images.githubusercontent.com/28039402/96361283-f0d0af80-1156-11eb-98f2-3da370445d7c.png)

[2020-10-18 08:29] neha-viswanathan commented on #2747
@michaelbeaumont @ysam12345 will the new release of spf13/cobra v1.10 help with this - https://github.com/spf13/cobra/pull/1070
They seem to have a newer zsh completion https://github.com/spf13/cobra/releases/tag/v1.1.0

[2020-10-18 11:19] ysam12345 commented on #2747
@michaelbeaumont @neha-viswanathan Yes, I think this is work.
I changed the version of spf13/cobra from v1.0.0(Current) to v1.1.0 and rebuild eksctl.
The result look good.
![image](https://user-images.githubusercontent.com/28039402/96365935-d1e21580-1176-11eb-89cf-1b59a56aa3da.png)

[2020-10-19 06:47] neha-viswanathan commented on #1185
So I guess this is a good starting point. @michaelbeaumont ?

[2020-10-19 09:00] michaelbeaumont commented on #1185
I think a good starting point would be the "improve it" part, where we modernize the command to work similar to other `eksctl` commands.

[2020-10-19 09:00] michaelbeaumont commented on #2747
@ysam12345 a PR would be very welcome!

[2020-10-19 10:02] cPu1 commented on #2721
@ScottKGregory could you try creating the cluster without using eksctl, e.g., with Terraform or CloudFormation, and try installing the VPC resource controller manually following the [instructions here for macOS or Linux client](https://docs.aws.amazon.com/eks/latest/userguide/windows-support.html)?

It does not appear to be an issue with eksctl as it merely installs the VPC resource controller com

[2020-10-19 13:37] derekwlmscfa opened #2755 "create cluster fails with SAs after version 0.28 (timeout checking for SA namespace)"
**What happened?**
`eksctl create cluster` fails when there are `iam.serviceAccounts` in the config - i/o timeout checking if the SA namespace exists. The cluster is created, but eksctl quits early before creating nodegroups and remaining CF stacks.

**What you expected to happen?**
Fully successful cluster creation, including all nodegroups, SA roles, etc.

**How to reproduce it?**
- Use a recent

[2020-10-19 14:14] michaelbeaumont commented on #2755
I can't reproduce this with `examples/13-iamserviceaccounts.yaml`, can you include a config which fails to create?

[2020-10-19 14:33] derekwlmscfa commented on #2755
Sure, here's the full config with acct # redacted:
[code]

[2020-10-19 15:08] aclevername commented on #2737
Thanks for the follow up @marcotralala, do you believe this issue is fixable on eksctl's end, or is this an issue with ssm/the command being run? I'm no overly familiar with windows in this context.

[2020-10-19 16:27] michaelbeaumont commented on #2755
OK, I can reproduce this but not consistently.

[2020-10-19 17:06] masaeedu commented on #1512
@brunojcm Could you elaborate on what route table you're referring to? Also, did this end up resolving your problem?

[2020-10-19 17:10] derekwlmscfa commented on #2755
Great! Glad you're able to reproduce it.

[2020-10-19 18:18] rothgar commented on #2740
No it never changed. It was definitely a timeout error but no visibility from the CLI why

[2020-10-19 20:24] marcotralala commented on #2737
This might have to do with the way eksctl creates a windows worker node. It might not be setting the correct bootstrap arguments to make AWS EKS work with a gMSA account. This is explained in this document:

https://aws.amazon.com/blogs/containers/how-to-run-eks-windows-containers-with-group-managed-service-account-gmsa/

Another area that might have to be set correctly might be the network policy

[2020-10-20 04:26] marcotralala commented on #2737
Got further with this. The scripts that are joining to a domain are not setting the core-dns pod ips correctly. This is fixed by setting them. It is set to 172.20.0.10 but should be set to the core-dns pod ip's to resolve dns names.

Inside your application pod run the below command:
`Set-DnsClientServerAddress -InterfaceIndex 24 -ServerAddresses 172.20.0.10,<core-dns-pod1-ip>,<core-dns-pod2-ip>`

[2020-10-20 06:57] ysam12345 commented on #2747
Thanks @michaelbeaumont , I have created a pull request for this issue.

[2020-10-20 07:16] epcim commented on #2735
in my case, `0.27.0` didnt work either

[2020-10-20 07:19] epcim commented on #2735
only this  (actually was not an intention but overlook) I wanted to keep subnets not specified at all.
[code]

so where it took /21 ?
[code]

[2020-10-20 07:27] epcim commented on #2735
Full config, maybe `privateCluster` does the thing?

[code]

I am testing without `preBootstrapCommands`

[2020-10-20 08:15] epcim commented on #2735
when cidr removed from vpc and with v0.30.0 subnets are as expected
[code]

however, still the error
[code]

[2020-10-20 08:35] michaelbeaumont commented on #2735
The VPC is divided into 8 subnets and thus the network mask of each subnet is `(VPC network mask) + log(8)`, in your case `18 + 3`.

[2020-10-20 13:01] aclevername commented on #2737
Thanks for the follow up @marcotralala , sounds like you managed to fix the issue. I'm going to close this issue as it appears nothing needs to change on the EKSCTL side.

[2020-10-20 13:01] #2737 closed

[2020-10-20 13:02] aclevername commented on #148
PR merged to enable turning on SSM https://github.com/weaveworks/eksctl/pull/2754

[2020-10-20 13:31] aclevername commented on #2743
Closing as the desired functionality got merged as part of #2754

[2020-10-20 13:31] #2743 closed

[2020-10-20 14:18] cPu1 commented on #946
This does not seem like a feature that should belong in eksctl. There's already a command that lists clusters in all regions (`eksctl get cluster --all-regions`). Using its output, it should be straightforward to make a script that adds the context for each cluster. For example, with bash:

[code]

[2020-10-20 14:28] cPu1 commented on #946
Closing the issue for now, but if we get more requests for this feature, we may consider adding it to eksctl.

[2020-10-20 14:28] #946 closed

[2020-10-20 15:00] michaelbeaumont commented on #2755
@derekwlmscfa Feel free to try out my fix on [the sa_strict_wait branch](https://github.com/weaveworks/eksctl/tree/sa_strict_wait), with which I haven't reproduced the failure yet.

[2020-10-20 16:20] aclevername commented on #2628
Thanks for opening the issue @gdrudy. I've managed to reproduce the issue on the latest version of `eksctl` `0.29.2`. Steps taken:

1. Add a label to node in the nodegroup, e.g. `kubectl label nodes <node-from-nodegroup> disktype=ssd`
2. Create a deployment and use the `nodeSelector` to ensure it goes onto the labelled node
[code]
3. Setup a pod disruption policy
[code]
4. Attempt to drain the nod

[2020-10-20 17:28] abhipth commented on #2721
Hi @ScottKGregory, I am from the EKS Team and as @cPu1 is mentioning this issue doesn't seem to be related to eksctl. I can verify that v0.29.2 uses the right version i.e v0.2.3 for both the vpc-resource-controller and vpc-admission-webhook.

The following additional information would help rule out any configuration/existing issues
1. Node selector on the Windows worker node where the pod is stuck

[2020-10-20 22:41] powersj opened #2757 "Add Ubuntu 20.04 Image Support"
**Why do you want this feature?**

Starting with EKS 1.18, the official Ubuntu EKS images are based on Ubuntu 20.04 LTS (Focal). EKS 1.17 is the last release to use Ubuntu 18.04 LTS (Bionic) as a base. I am on the team generating the official Ubuntu EKS images at Canonical.

**What feature/behavior/change do you want?**

There are two changes that need to occur to eksctl to support EKS 1.18 images

[2020-10-21 10:13] smitphilip commented on #2690
hi... seeing the same. The command I'm using:

`eksctl create cluster --name cbp-data-service --version 1.17 --fargate --region <region> --profile <aws-config-profile> --tags project=proj529 --vpc-private-subnets=subnet-1,subnet-2`

Once the cluster is created, the default namespaces (and their fargate profiles) are created as expected:
[code]
But kube-system pods are provisioned but never run...

[2020-10-21 10:30] smitphilip commented on #2690
I was able to solve the coredns scheduling issue with a:
[code]
`kubectl get nodes` now return 3 nodes as well

or just delete the pods and replica-set will recreate them. Will have to do this during the creation of the cluster, cause it does look like there are other steps (i.e. ingress-controllers) that aren't executed due to the coredns issue.

Not sure why the above solves the issue, from debu

[2020-10-21 12:25] #2755 closed

[2020-10-21 13:19] #2565 closed

[2020-10-21 14:42] ScottKGregory commented on #2721
@cPu1 thanks for the input and for passing the issue on to the EKS team, I've tried creating the cluster without eksctl and as expected it didn't make any difference so I'v gone back to using it so there are less variables.

@abhipth I've gotten most of the details, however I'm not sure of the best way to get the CNI logs from the node. Usually I'd create a pod that mounts the host but of course I

[2020-10-21 15:19] epcim commented on #2735
I did few more tests, I am confided its caused by
[code]
and `privateNetworking: true` on first managed nodegroup. (+ no vpc.cidr specified, but that I guess is not causing the issue - need one more try to verify)

Without these, with new VPC name it deploys it worked well.

I already tried without `privateCluster` in the past, but have to admit it could be affected by the presence of the same VPC

[2020-10-21 15:58] aclevername commented on #2687
I've managed to reproduce this on `0.29.2` creating an unmanaged nodegroup:

[code]

[code]

[2020-10-21 16:44] aclevername commented on #2628
@gdrudy this PR has addressed the issue https://github.com/weaveworks/eksctl/pull/2759 and should be fixed in the next release. Thanks for reporting the issue!

[2020-10-21 16:44] #2628 closed

[2020-10-21 18:00] abhipth commented on #2721
Hi @ScottKGregory thanks for sharing the logs, the problem seems to be related to VPC Controller not able to assign IP Address on the Primary ENI. I would be able to help you better if you can create a support ticket or mail me your cluster details at abhipth@amazon.com

[2020-10-21 19:10] cdenneen opened #2761 "private only cluster UpdateEndpoint deadline exceeded"
0.30.0

[✖]  waiting for requested "EndpointAccessUpdate" in cluster "eks-use1-test" to succeed: RequestCanceled: waiter context canceled
caused by: context deadline exceeded

Created cluster with no nodegroup (just basic cluster creation)

[2020-10-21 19:12] cdenneen commented on #2761
Cluster creation at 1:44, EndPoint Update submission at 1:55 if that helps with extending the timeout properly.

[2020-10-21 19:55] timharsch commented on #2761
I experienced this problem yesterday.   It took an exceedingly long time to start the cluster.   After about 20 minutes I saw the error.   I tried again without making any changes in my process.  The second run was a bit slow too but succeeded.  I chalked it up to some problem on the AWS backend and haven't seen it yet today.

[2020-10-21 20:43] cdenneen commented on #2761
This did create successful and the private endpoint was properly updated but the eksctl command just timedout but in the background it worked (so this is more of a cosmetic thing)

[2020-10-22 08:20] hikhvar commented on #2565
Thank you for fixing this. Today I run the upgrade from 1.17 to 1.18 without any issues.

[2020-10-22 08:41] daduskacpokus commented on #2752
hi @pnmcneil
I faced the same issue and I haven't solution yet but think I found something interesting
[This](https://docs.aws.amazon.com/eks/latest/userguide/windows-support.html) manul says that you should

So, as you can see the `vpc-resource-controller.yaml` will downloaded from s3.**us-west-2** region, which, I supposed, has no preparred endpoint in your eksctl/cloudformation stack and even i

[2020-10-22 13:10] a2ush opened #2763 "Add "arm64" value when updating kube-proxy with the command "eksctl utils update-kube-proxy"."
**Why do you want this feature?**
The commend `eksctl utils update-kube-proxy --cluster <cluster-name> --approve` does not provide "arm64" value.
But these commands `eksctl utils update-aws-node` and `eksctl utils update-codedns` provide "arm64" value.

So if we want to use ARM worker nodes in our cluster, we need to add "arm64" manually to kube-proxy DaemonSet config.

$ kubectl edit -n kube-syst

[2020-10-22 13:50] trnaviwala commented on #1670
I faced the same error - I had set the node-type to t2.micro but it isn't an option in my selected region - replaced with t3.micro and it solved the issue.

[2020-10-22 15:11] jwitrick commented on #2735
Sorry for the delay in responding (broken notifications from GH ... at least thats my excuse).

Yes I do have withOIDC set to true, As far as the subnets go i do see mine is set to a '/16', not sure that would be a cause for failure with newer version.

I do have privateNetworking set to true, and i also have cluster privateAccess and publicAccess set to true.

[2020-10-22 15:54] ryphon opened #2764 "Capability to set the IAM Role path for all created resources"
**Why do you want this feature?**
This is relevant mostly to the setup that I have to work around regarding tag based and path based service separation in one shared AWS Account. I'm required to have a path that follows a certain service name, so if my serivce is "EKSCluster", my IAM roles need to live under `arn:aws:iam::123456789012:role/EKSCluster/*`.

**What feature/behavior/change do you want

[2020-10-22 16:20] ryphon commented on #2764
Nevermind, found this:

[code]

[2020-10-22 16:24] crismerritt opened #2765 "Using --cfn-disable-rollback"
Hello,

I get an error when creating a node group with **eksctl create nodegroup**. It fails with following message and rolls back: `Nodegroup failed to stabilize: [{Code: NodeCreationFailure,Message: Unhealthy nodes in the kubernetes cluster... `

I would like to disable the rollback so I can inspect the node instances. I see references to an option **--cfn-disable-rollback** in the merged PR htt

[2020-10-22 16:32] michaelbeaumont commented on #2765
Hi @crismerritt that option hasn't been released yet. If you check [the merge commit](https://github.com/weaveworks/eksctl/commit/d4b46b2c84a6175cd54d3038d8074413bdadfddc) you can see which refs contain it, at the moment only `master`.

[2020-10-22 19:03] crismerritt commented on #2765
Thanks @michaelbeaumont for your reply.

In the absence of the disable-rollback option, any other suggestions on how to figure out why eksctl considers the nodes "unhealthy"?

[2020-10-23 03:48] felixep commented on #2721
Hi @abhipth I had the same problem a few weeks ago but creating a new cluster solved my problem. Initially, I though it was a mistake but now I'm facing the same issue with a newer cluster. This time it's more interesting because in a single windows node I got  a pod running but the rest are giving me the error.

I noticed the vpc-admission-webhook pod is not logging anything relate to the failed

[2020-10-23 04:44] abhipth commented on #2721
Hi @felixep the vpc admission webhook injects the following limits to Windows pods which allows the scheduler to schedule the Pod on Windows Node having the free allocatable Secondary IPs.
[code]
The vpc admission webhook injects all the pod with the limit if either of the two nodeselector is present on the pod "kubernetes.io/os: windows" and "beta.kubernetes.io/os: windows" and based on this limi

[2020-10-23 13:03] felixep commented on #2721
Hi @abhipth the intention is to run the pod on a Windows node and the nodeselector was set. Please feel free to ask any additional information.

[code]

[2020-10-23 16:12] michaelbeaumont opened #2768 "NodeInstanceProfile CREATE_FAILED: "The specified value for roleName is invalid""
**What happened?**
When a nodegroup contains `instanceRoleARN` but not `instanceProfileARN`, the nodegroup fails with the error:
[code]

**What you expected to happen?**
The instance profile to be created successfully

**How to reproduce it?**
Config contains:
[code]

Nodegroup stack includes:

[code]
**Anything else we need to know?**
`0.30.0`

[2020-10-23 17:35] koslibpro commented on #2556
Hi, what would the ideal option be in your opinion? Manage the RDS instance via the eksctl config file, or just set up the necessary security groups/VPC settings to be able to access it?

ps: I may be able to contribute from a development standpoint in this feature

[2020-10-23 18:10] swapniljani commented on #2765
I am receiving the same error for [{Code: NodeCreationFailure,Message: Unhealthy nodes in the kubernetes cluster...

@crismerritt Where you able to resolve the issue ?

[2020-10-23 18:43] epcim commented on #2735
subnets, are clear to me now, it's as michaelbeaumont writes, doc's is "possibly missing" the info how subnets are carved.

as I wrote for me if I remove this, it works: So I suspect some validation checks on cloud formation or missing endpoints, etc.., that cause `with private networking` that instances are later rolled back.

[code]

[2020-10-23 22:59] opsroller commented on #1141
This is a terrible idea, once you have an export imported the stack with the export is no longer able to perform updates.

[2020-10-24 15:25] slayerjain commented on #2763
I also just faced the same issue

[2020-10-24 16:43] michaelbeaumont commented on #2765
Hi, are either of you using `privateCluster: true`? Please see also #2735.

[2020-10-24 21:33] crismerritt commented on #2765
Thanks @michaelbeaumont, I am not using `privateCluster: true`.

I got further by adding a managed nodegroup manually in the console, which produced the same error. Then I could ssh into the node and did `sudo systemctl status kubelet`, which showed the error below.

At that point my client asked me to postpone the upgrade, and I have not yet pursued it further.

[code]

[2020-10-25 15:55] avgalani commented on #1930
fully agreed with this; documentation takes you down a path that is just incompatible with most usecases. I somehow doubt most of the EKS clusters in the world are created with eksctl.

[2020-10-26 10:40] #2687 closed

[2020-10-26 16:47] michaelbeaumont opened #2770 "Update docs for new aws-load-balancer-controller"
**Why do you want this feature?**
`aws-alb-ingress-controller` is now `aws-load-balancer-controller`, make sure our docs mention it and [how to use it](https://kubernetes-sigs.github.io/aws-load-balancer-controller/guide/controller/installation/) with `eksctl`.

**What feature/behavior/change do you want?**
Docs updates/potentially deprecate `withAddonPolicies.albIngress`.

[2020-10-27 03:01] hcho1989 commented on #1930
Ran into the same issue as above comments.
My little advice: If you have created your eks cluster through console, while you are setting up alb/elb, DO NOT FOLLOW the official documentation starting from [here](https://docs.aws.amazon.com/eks/latest/userguide/alb-ingress.html#deploy-lb-controller2)
I think to get around this, you will have to create the iam service account ON YOUR OWN.

[2020-10-27 12:00] aclevername opened #2773 "eksctl support for non-eksctl created resources"
**Why do you want this feature?**
I want to be able to leverage the utilities of eksctl without having to create clusters using eksctl. E.g. I have a cluster I created before I knew about eksctl, I want to continue using the same clusters and get all the functionality eksctl provides.

**What feature/behavior/change do you want?**
When a cluster is created in the EKS console, eksctl should still b

[2020-10-27 14:54] #2757 closed

[2020-10-27 14:58] michaelbeaumont commented on #393
#2722

[2020-10-27 14:58] #393 closed

[2020-10-27 15:03] michaelbeaumont opened #2774 "eksctl apply: cluster reconciliation"
**Why do you want this feature?**
This is the umbrella issue concerning `eksctl apply`, which would support `eksctl apply -f config.yaml` to reconcile the current cluster with the given config (initially partially). Also sometimes known as `eksctl update`.

### Related issues:
#1497
#462 (previous umbrella issue, closed because the history is confusing)
#20

[2020-10-27 15:03] michaelbeaumont commented on #462
Closing in favor of #2774

[2020-10-27 15:03] #462 closed

[2020-10-27 15:04] #583 closed

[2020-10-27 15:06] michaelbeaumont commented on #669
Closing, comment if still relevant

[2020-10-27 15:06] #669 closed

[2020-10-27 15:07] michaelbeaumont commented on #602
See #2172

[2020-10-27 15:07] #602 closed

[2020-10-27 15:08] michaelbeaumont commented on #646
Closing, quite old, see also #476

[2020-10-27 15:08] #646 closed

[2020-10-27 15:11] #1035 closed

[2020-10-27 15:11] #1046 closed

[2020-10-27 15:14] michaelbeaumont commented on #1163
Falls under #2774

[2020-10-27 15:14] #1163 closed

[2020-10-27 15:15] #1182 closed

[2020-10-27 15:15] #1184 closed

[2020-10-27 15:15] michaelbeaumont commented on #1182
Duplicate of https://github.com/weaveworks/eksctl/issues/1126

[2020-10-27 15:16] michaelbeaumont commented on #1184
Duplicate of https://github.com/weaveworks/eksctl/issues/1126

[2020-10-27 15:17] michaelbeaumont commented on #1180
Likely out of date and irrelevant

[2020-10-27 15:17] #1180 closed

[2020-10-27 15:18] michaelbeaumont commented on #601
Duplicate of https://github.com/weaveworks/eksctl/issues/476

[2020-10-27 15:18] #601 closed

[2020-10-27 15:19] michaelbeaumont commented on #1031
Duplicate of #2722

[2020-10-27 15:20] michaelbeaumont commented on #1680
Duplicate of #2773

[2020-10-27 15:20] #1680 closed

[2020-10-27 15:21] michaelbeaumont commented on #948
Possible solution for #2773

[2020-10-27 15:21] #948 closed

[2020-10-27 15:24] michaelbeaumont commented on #1109
Closing for now, if anyone runs into problems here, let us know

[2020-10-27 15:24] #1109 closed

[2020-10-27 15:27] michaelbeaumont commented on #1492
This should now be fixed with the appropriate version, closing. Let us know here if something's not right!

[2020-10-27 15:27] #1492 closed

[2020-10-27 15:31] michaelbeaumont commented on #755
Duplicate of #2172

[2020-10-27 15:31] #755 closed

[2020-10-27 15:33] michaelbeaumont commented on #1325
See #2172 and potentially fixed by https://github.com/weaveworks/eksctl/pull/2762

[2020-10-27 15:33] #1325 closed

[2020-10-27 15:52] michaelbeaumont commented on #2773
Sorry Jake didn't see we had https://github.com/weaveworks/eksctl/issues/2174

[2020-10-27 15:52] #2773 closed

[2020-10-27 15:52] michaelbeaumont commented on #1680
Duplicate of https://github.com/weaveworks/eksctl/issues/2174

[2020-10-27 15:55] michaelbeaumont commented on #836
Duplicate of https://github.com/weaveworks/eksctl/issues/2237

[2020-10-27 15:55] #836 closed

[2020-10-27 16:08] cdenneen commented on #1497
@michaelbeaumont any update on how to get these service accounts to update?
I have 4 that need updates but cannot figure out how to do this.
Also have new service account that got created but didn't update the annotation for the new ARN.

Even if not officially fixed is there a temp work around for this to keep us moving forward?

[2020-10-27 16:20] rdubya16 commented on #1497
@cdenneen We have used a few workarounds, most of them not ideal:

1. Update the policy that eksctl creates manually making sure to update the eksctl yaml as well
2. Delete the stack that eksctl created and run the command below and restart all your pods (if you can tolerate a brief outage)
`eksctl create iamserviceaccount --approve --override-existing-serviceaccounts -f cluster.yaml`
3. Create a

[2020-10-27 16:23] michaelbeaumont commented on #1497
Yes, @rdubya16, indeed.

I want to understand exactly what happened, you added a new SA to `iam.serviceAccounts` and ran `create iamserviceaccount`. What is the result?

[2020-10-27 16:48] cdenneen commented on #1497
@michaelbeaumont
Had 4 existing service accounts that we added 4th attach policy ARN but those aren't showing for an update.
Had 1 existing service account that did update, created a new service account role but the k8s service account is still pointing to the OLD arn for the role which no longer exists since the new role was created... so in this case I believe I need to edit the service account

[2020-10-27 18:07] artem-nefedov commented on #2712
Still seeing this with 0.30.0

[2020-10-27 18:13] sherifkayad commented on #1088
@res0nat0r I had exactly the same problem. What solved the problem for me:
- Upgrading the eksctl version and running `eksctl utils update-kube-proxy --name MyClusterName --approve`
- [not sure if that's applicable for you]: As per the AWS [documention](https://docs.aws.amazon.com/eks/latest/userguide/update-cluster.html) => ```Remove the --resource-container="" flag from your kube-proxy DaemonSet

[2020-10-27 21:22] derekwlmscfa opened #2776 "create nodegroup creates 2 volumes, the root doesn't honor volumeSize"
**What happened?**
`create nodegroup` is creating the EC2 nodes with two (not one) attached EBS volumes. The root volume is only 20GB, too small for use. The second volume is 100GB, honoring the `volumeSize` I specified.

**What you expected to happen?**
There should only be the one volume I specified in the config file, honoring the `volumeSize`. Or if two volumes are created, provide a way to co

[2020-10-28 01:48] peix2 commented on #834
@wolfgangtz Thanks for your example. Below is mine - little bit tweaked and worked a charm for me. I'm putting it here as I maybe other people would search over web.
[code]

[2020-10-28 01:53] davidmgrantham commented on #834
We have AmazonEC2FullAccess assigned to our deployment role using eksctl. Specifying the instanceRoleARN and InstanceProfileARN we got the following error.

API: autoscaling:CreateAutoScalingGroup You are not authorized to use launch template: eksctl-blah-blah-blah

[2020-10-28 01:55] peix2 opened #2777 "Make policy/permissions on eksctl webpage more granular/minimal"
**Why do you want this feature?**
Would help others without working out step by step on IAM

**What feature/behavior/change do you want?**
On eksctl webpage here: https://eksctl.io/usage/minimum-iam-policies/
we can find "minimal" set of roles/permissions to run it and create EKS cluster by ordinary IAM user. I have found this is not sufficient and probably information could be corrected by what I

[2020-10-28 01:58] peix2 commented on #834
@davidmgrantham , have you tried my above policy?

[2020-10-28 02:00] davidmgrantham commented on #834
@peix2, no but we are using the managed policy like a mentioned above, which contains this.

[code]

[2020-10-28 02:23] peix2 commented on #834
What I have is set described on eksctl.io webpage plus above example I shared as complementary. It was enough for me to get it working.

[2020-10-28 02:38] davidmgrantham commented on #834
Do you mean this? https://eksctl.io/usage/minimum-iam-policies/

Are you attached custom nodegroup ARNS and Instance=profiles when deploying the cluster?

Can you share them?

[2020-10-28 02:48] quantm241 commented on #2740
I have the same problem.
eksctl v0.30.0 missing Amazon_CNI_Policy when created a new node group

[2020-10-28 08:19] michaelbeaumont commented on #2740
@quantm241 same problem as who? You must include the config file/commands you're using as well as their output.

[2020-10-28 08:48] quantm241 commented on #2740
@michaelbeaumont
**Config file:**
[code]
**Command:**
`eksctl create nodegroup -f config.yaml`

**Outputs:**
[code]

I have investigated on AWS console and see that nodeGroup's role doesn't include AmazonEKS_CNI_Policy

[2020-10-28 09:16] michaelbeaumont commented on #2740
@quantm241 Do you know which version of `eksctl` you created the cluster with?

[2020-10-28 10:00] quantm241 commented on #2740
eksctl v0.27.0

[2020-10-28 15:10] michaelbeaumont commented on #2740
@quantm241 I'm still doing testing but feel free to build & try https://github.com/weaveworks/eksctl/tree/withoidc_old

[2020-10-28 16:32] michaelbeaumont commented on #2777
Isn't this covered by the `AmazonEC2FullAccess` policy in the docs?

[code]

[2020-10-28 16:34] michaelbeaumont commented on #2765
@crismerritt Do you know which version you created the cluster with? There's a similar issue documented in #2740 (with a fix)

[2020-10-28 19:53] peix2 commented on #2777
Well... you are right! In my set somehow I have AmazonVPCFullAccess instead. That's probably the reason I had to create/apply those additional ones.
So it needs to be either
1. AmazonEC2FullAccess
or
2. AmazonVPCFullAccess + set I shared.
You might want to test and decide if you want to "shrink" it to whichever is less.

[2020-10-29 10:08] michaelbeaumont commented on #2765
I'm going to close this issue as the rollback feature is in an RC and I believe your issue may be covered by the above issue (for which a fix will be released today). Report back if that next release doesn't solve things!

[2020-10-29 10:08] #2765 closed

[2020-10-29 10:12] michaelbeaumont commented on #2698
Thanks @cdenneen, I'm going to track this in #2174

[2020-10-29 10:13] michaelbeaumont commented on #2698
Duplicate of #2174

[2020-10-29 10:13] #2698 closed

[2020-10-29 12:40] michaelbeaumont commented on #2740
@quantm241 @rothgar Please try out https://github.com/weaveworks/eksctl/releases/tag/0.31.0-rc.1!

[2020-10-29 12:40] #2740 closed

[2020-10-29 13:38] andreamaruccia commented on #1099
any news on this one? I mean pre bootstrap running at the same time as bootstrap commands is pretty bad imho

[2020-10-29 15:54] crismerritt commented on #2765
Thanks Mike @michaelbeaumont

[2020-10-29 19:27] rothgar commented on #2740
0.31.0-rc.1 worked for me :+1:

[2020-10-30 11:17] aclevername commented on #2776
I've managed to reproduce this using the config given, thanks for reporting the issue @derekwlmscfa .

Looking into it I can see that the `NodeGroupLaunchTemplate` created as part of the CloudFormation stack for the nodegroup only specifies the `100gb` volume in its storage section and is also respecting the `gp2` volume type. However going to the EC2 instance I can see an additional `20gb` volume

[2020-10-30 12:51] derekwlmscfa commented on #2776
Awesome! Thanks for jumping on this quickly; good to hear you can re-create it.

[2020-10-30 13:53] aclevername commented on #2776
I can reproduce this with any `BottleRocket` nodegroup configuration, any other AMI results in only the `100gb` disk being present. I cannot find any mention about how or why this disk is being attached to the `BottleRocket` documentation either.

[2020-10-30 14:23] aclevername commented on #2174
Thanks for opening the issue @kalbir. You raise some excellent points around the current user experience when using eksctl against clusters that weren't created with eksctl. I've opened two recent PRs to try and improve the current experience https://github.com/weaveworks/eksctl/pull/2779 and https://github.com/weaveworks/eksctl/pull/2775. However these PRs only adress `eksctl get clusters` and `e

[2020-10-30 15:02] aclevername commented on #2174
I'm working my way through the commands to see what needs to change (will update this comment as I go along):

## Works
1. `eksctl get clusters` #2779
1. `eksctl create iamserviceaccount` #2775

## Needs adjusting
1. `eksctl delete cluster`

[2020-10-30 18:08] derekwlmscfa commented on #2776
Thanks! I've raised a support ticket with AWS for this; I'll keep you posted on that.

[2020-10-30 21:06] jicowan opened #2786 "Make IMDSv2 only the default option for new node groups and set the hop count (HttpPutResponseHopLimit) to 1"
https://github.com/weaveworks/eksctl/blob/1c483dc9a682669c553e0a5d486b1af1d8b5415b/pkg/cfn/builder/nodegroup.go#L119

Change the CFN template to create the node group to make IMDSv2 only the default option.  This will prevent pods from inheriting the role assigned to the EC2 instance that they're running on.

[2020-10-31 00:15] rojomisin commented on #1930
yeah, to all of this... the `rbac-role.yaml` is what set up the service account for `alb-ingress-controller` as early as last week, but even Step 6 in @hcho1989 workaround for that guide links to a moved page

here it is
[code]

i am trying to adapt this to use the new instructions for `aws-load-balancer-controller`

without the rbac-role applied you get :
[code]

i was wondering if there was a He

[2020-10-31 01:16] rojomisin commented on #1930
these helm commands appear to work

[code]
`	kubectl get deployment -n kube-system aws-load-balancer-controller -o yaml`

although I could not figure out how to use the option `--set serviceAccount.annotations` flag...
[code]

https://stackoverflow.com/questions/59632924/how-to-set-annotations-for-a-helm-install

[2020-10-31 06:45] smakintel commented on #1930
Found this (Refer to To create your service account with the AWS Management Console section ) https://github.com/awsdocs/amazon-eks-user-guide/blob/master/doc_source/create-service-account-iam-policy-and-role.md

you can get EKS-CTL equivalent steps eksctl create iamserviceaccount --cluster=<CLUSTER NAME> --namespace=kube-system --name=aws-load-balancer-controller --attach-policy-arn=*************

[2020-11-01 12:30] simonsays1980 opened #2787 "Cannot keep session with MFA"
I am using the newest version of AWS CLI and I got an AWS account from my organization. I created an administrator with `AdministratorAccess`. I created the following entries in `~/.aws/credentials` and `~/.aws/credentials` respectively:

[code]
[code]
As you see, the admin has to use MFA. With the AWS CLI everything works fine:

1. I enter a command and add `--profile my-admin`
2. I get requested

[2020-11-02 10:46] vishwas-mr commented on #1564
@itbalan
According to my attempt, if VPC ID and CIDR are removed, eksctl will create new subnets and not use the existing ones. Did you also face the same issue?

[2020-11-02 14:50] qmilangowin commented on #321
I'm still getting this, macOS Catalina, latest version of Docker Desktop with Kubernetes installed.
It's very frustrating. Had to create my own docker image to be able to use eksctl with our clusters at work.
Cannot use it natively from my mac.

[2020-11-02 15:01] michaelbeaumont commented on #321
@qmilangowin Are you able to use AWS cli otherwise?

[2020-11-02 23:02] kreempuff commented on #1774
Just encountered this issue with this command:

[code]

Had no idea what was wrong until I found this issue

[2020-11-04 08:23] ysam12345 commented on #2747
Hello @michaelbeaumont,
I closed pull request https://github.com/weaveworks/eksctl/pull/2756 because:
1. spf13/cobra release a new version [v1.1.1](https://github.com/spf13/cobra/releases/tag/v1.1.1) and I think we should upgrade to this version.
2. I have some concern when rewriting test case to fix the problem mentioned at https://github.com/weaveworks/eksctl/pull/2756#issuecomment-715898743.
Cu

[2020-11-04 11:50] michaelbeaumont commented on #2747
I think B is good. However, these tests need desperately to be refactored. They don't actually test the real behavior of the CLI since they mock so much, see e.g. the expected error output here:

https://github.com/weaveworks/eksctl/blob/7db9b8b7af3061361f247d7d15424ce70e1dc7e0/pkg/ctl/completion/completion_test.go#L39-L45

When I print the contents of `out` in the test I get `Run 'completion --he

[2020-11-04 12:37] kreempuff opened #2789 "Add `csi` flag to create addons"
The list of addons in the `create` command lacks the ability to create the EBS policies necessary for the CSI driver.

[code]
[code]

I noticed that on the config for IAM addon policies it has the `ebs: <boolean>` config option for the CSI driver

**Why do you want this feature?**
It simplifies the creation of clusters with the ability to provision storage with the CSI driver instead of the in tre

[2020-11-04 16:58] aclevername commented on #2776
Hey @derekwlmscfa 👋 did you get a response from AWS?

[2020-11-04 17:14] derekwlmscfa commented on #2776
Hi, Jake, thanks for checking back. AWS did re-create it but no new news. I pinged them for an update.

[2020-11-04 21:01] Cushdrive opened #2790 "Implementation Tries to Create an SSH Security Group Despite the SSH Configuration"
**What happened?**
I have created a managed nodegroup configuration that matches the following snippet from examples/07-ssh-keys.yaml:

  - name: ng-5
    instanceType: m5.large
    desiredCapacity: 1
    ssh: # use existing EC2 key but don't allow SSH access to nodegroup.
      publicKeyName: ec2_dev_key
      allow: false

As the comment implies, I should be able to specify an existing SSH Key t

[2020-11-05 01:11] owenthereal commented on #956
Is this being worked on? This feature is very useful!

[2020-11-05 15:02] aclevername opened #2792 "Cannot create nodegroup with Admin role"
**What happened?**
Fails to create a nodegroup when using the Admin role

[code]

Subsequent commands that require interacting with the control plane fail, e.g.:
[code]
[code]

**What you expected to happen?**
For it to succeed

**How to reproduce it?**
[code]

**Anything else we need to know?**
Discovered while testing this PR **https://github.com/weaveworks/eksctl/pull/2791**. If you attempt to

[2020-11-05 15:03] qmilangowin commented on #321
@michaelbeaumont Yes, I can use it no problem otherwise. Just with eksctl I have this issue.

[2020-11-05 16:36] #2792 closed

[2020-11-05 17:36] #2768 closed

[2020-11-05 17:59] ysam12345 commented on #2747
Yeah I see...... We won't see the content of `out` when we actually run the CLI with an invalid input, so the test is testing something user won't see.

I think maybe they should be rewrote to test for the actually output?

Please let me know if i understand wrong.

[2020-11-05 18:05] michaelbeaumont commented on #2747
Yes exactly, they need to be rewritten but not for your PR! :)

[2020-11-05 18:16] ysam12345 commented on #2747
Maybe I can help this in the future. 🙂
So I wonder is Plan B ok for a PR to fix this issue?

Thanks.

[2020-11-05 19:27] hryamzik opened #2794 "Actions/Condition can contain only one colon"
**What happened?**
A description of actual behavior (with error messages).

I get the following error creating cluster with `eksctl create cluster -f my-cluster.yaml`:

[code]

Here's the configuration:

[code]

ALB ingress policy is copied from [here](https://raw.githubusercontent.com/kubernetes-sigs/aws-alb-ingress-controller/master/docs/examples/iam-policy.json)

**What you expected to happen?*

[2020-11-05 20:42] hryamzik commented on #2794
Nvm, figured that out

[2020-11-05 20:42] #2794 closed

[2020-11-05 20:43] hryamzik commented on #2794
Just kidding, there was an issue in my yaml here:

[code]

[2020-11-06 14:40] aclevername commented on #2790
Thanks for opening the issue @Cushdrive. I've managed to re-create the issue using the following config:
[code]

I can see that a SecurityGroup was created to enable SSH access, despite the `allow:false` being set. I'm going to open a PR to fix this issue.

[2020-11-06 22:38] michaelbeaumont commented on #2745
@shrivastavshubham34 That may be due to the default region having changed with the profile, can you specify the region?

[2020-11-06 22:52] austince commented on #1356
@forsberg's solution seems like it would work for me as well, but even splitting the CFN policies into a separate role seems like it creates a pretty complex IAM setup if you don't want k8s admins to also be eks admins.  :+1: for a solution that respects what's in the kubeconfig.

[2020-11-09 13:19] #2790 closed

[2020-11-09 16:43] michaelbeaumont commented on #2747
@ysam12345 Yeah go ahead with plan b!

[2020-11-09 17:52] JayG-EBSCO opened #2805 "Flag for adding scheduled actions to autoscaling groups."
*Before creating a feature request, please search existing feature requests to see if you find a similar one. If there is a similar feature request please up-vote it and/or add your comments to it instead*

**Why do you want this feature?**
A clear and concise description of why you want this feature. Include use-cases and any specific constraints you may have.

As part of our cloudformation based

[2020-11-09 18:14] guanchzhou opened #2806 "eksctl 0.31.0 doesn't respect availabilityZones for managedNodeGroups in config file"
**What happened?**

The following command
[code]
with this particular config file

`
apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: test-cluster
  region: us-west-2
  version: "1.17"

availabilityZones: ["us-west-2a", "us-west-2b"]

managedNodeGroups:
  - name: managed-ng-1
    availabilityZones: ["us-west-2a", "us-west-2b"]
    minSize: 2
    maxSize: 4
    instanceType: m5

[2020-11-09 18:29] cPu1 commented on #2806
`eksctl upgrade nodegroup` only reads the cluster name (`metadata.name`) and region (`metadata.region`) when a config file is supplied, and all other fields, including `managedNodeGroups[*].availabilityZones`, are ignored.

This is not a bug as changing the `availabilityZones` is not a feature that's supported. If you need to use new a new set of availability zones, you'll have to create a new nod

[2020-11-09 18:33] cPu1 commented on #2806
Closing the issue. Please feel free to open a new issue if you have any more questions, or ask us in [Weave Community Slack (#eksctl) ](https://weave-community.slack.com/messages/CAYBZBWGL/)

[2020-11-09 18:33] #2806 closed

[2020-11-10 02:20] dable-mj111 commented on #1325
@MG40  +1. I also deleted hanging nodegroups by deleting associated cloudformation stack.

[2020-11-10 09:53] aclevername opened #2808 "eksctl fargate support for non-eksctl clusters"
**Why do you want this feature?**
I want to be able to use the eksctl fargate functionality against my cluster that wasn't created by eksctl

**What feature/behavior/change do you want?**
I want to be able to use the `eksctl create/delete fargateprofile` functionality against a cluster that was not created using eksctl.

Related issue: https://github.com/weaveworks/eksctl/issues/2174#issuecomment-

[2020-11-10 09:56] aclevername opened #2809 "eksctl get/delete/drain support for non-eksctl created managed nodegroups"
**Why do you want this feature?**
I want to be able to use EKSCTL to get/delete/drain managed nodegroups that I created outside of eksctl

**What feature/behavior/change do you want?**
support for `eksctl get/delete/drain nodegroup` against nodegroups created outside of eksctl

Related issue: #2174

[2020-11-10 09:57] aclevername opened #2810 "eksctl set/unset labels support for non-eksctl created cluster"
**Why do you want this feature?**
I want to be able to use eksctl to set labels on clusters/nodegroups that were not created by eksctl

**What feature/behavior/change do you want?**
`eksctl set/unset label` support for non-eksctl created clusters/nodegroup

Related issue https://github.com/weaveworks/eksctl/issues/2174#issuecomment-719605816

[2020-11-10 10:04] aclevername opened #2811 "eksctl upgrade support for non-eksctl created clusters & managed nodegroups"
**Why do you want this feature?**
I want to be able to upgrade clusters & managed nodegroups that weren't created by eksctl

**What feature/behavior/change do you want?**
`eksctl upgrade cluster/nodegroup` support for non-eksctl created clusters & managed nodegroups.

related issue: https://github.com/weaveworks/eksctl/issues/2174#issuecomment-719605816

[2020-11-10 10:08] aclevername opened #2812 "eksctl delete cluster support for non-eksctl created clusters"
**Why do you want this feature?**
I want to be able to use EKSCTL to delete clusters that I created outside of eksctl

**What feature/behavior/change do you want?**
support for `eksctl delete cluster` against clusters created outside of eksctl

Related issue: #2174

[2020-11-10 10:09] aclevername commented on #2174
Split into sub-issues:
https://github.com/weaveworks/eksctl/issues/2808
https://github.com/weaveworks/eksctl/issues/2809
https://github.com/weaveworks/eksctl/issues/2810
https://github.com/weaveworks/eksctl/issues/2811
https://github.com/weaveworks/eksctl/issues/2812

[2020-11-10 10:20] aclevername commented on #1359
@albertmichaelj @billnbell this feature should be pulled into the next release 😄 https://github.com/weaveworks/eksctl/pull/2804

[2020-11-10 10:41] #1359 closed

[2020-11-10 13:26] michaelbeaumont commented on #806
Support for this is now in `master` and will be released at the end of the week! Please test it out and verify it works for your use cases!

[2020-11-10 13:26] #806 closed

[2020-11-10 13:27] michaelbeaumont commented on #475
Support for this is now in master and will be released at the end of the week! Please test it out and verify it works for your use cases!

[2020-11-10 14:43] derekwlmscfa commented on #2776
Hi, Jake, AWS did confirm that the Bottlerocket AMIs will have two attached volumes (this is deliberate, not an aberration). This can be confirmed with `aws ec2 describe-images --image-ids ami-0c77a7529bf5dfaa1` (or any of the applicable AMIs listed [here](https://docs.aws.amazon.com/eks/latest/userguide/eks-optimized-ami-bottlerocket.html) - see the `BlockDeviceMappings`).

As you mentioned, eksc

[2020-11-10 15:33] aclevername commented on #2776
Thanks for following up @derekwlmscfa, good to know about this bottlerocket behaviour.

👍  makes sense

[2020-11-10 16:05] Callisto13 commented on #2808
Verified that `eksctl delete fargateprofile` already works against a console-create cluster.

[2020-11-11 01:35] shrivastavshubham34 commented on #2745
Nope, the cluster's in us-east-1 and EKS runs in the same region.
![image](https://user-images.githubusercontent.com/13406071/98754245-2003c680-237b-11eb-9b84-6f09a64149f8.png)

[2020-11-11 06:23] michaelbeaumont commented on #2745
I was referring to the problem you mentioned in the last comment where using the other profile and running `get nodegroups` failed to find the cluster. Is that run using the new profile? You can include the command and output as text here.

[2020-11-11 07:09] shrivastavshubham34 commented on #2745
Yeah that one worked, with correct permissions, but the unauthorized error still exists.
[code]
Below command throws error:
[code]

[2020-11-11 07:43] rasberrypie opened #2818 "VPC Networking [ Page needs to be updated]"
**What happened?**
Issue while creating alb Using Custom VPC

**What you expected to happen?**
Cluster should get created and also the ALB should be created successfully and communicating

**How to reproduce it?**
Previous version of eksctl seems to be working fine. With the new version of eksctl 0.31.0
Need to add 2 tags to the subnet for the ALB to work
For public subnets
kubernetes.io/role/elb=

[2020-11-11 08:48] michaelbeaumont commented on #2745
Just to be clear, the last command also fails if you include `--profile dev-admin`? Can you include `-v 4`? Near the beginning, `eksctl` should print what `RoleARN` it's using. Can you confirm whether that's the correct `ARN`?

[2020-11-11 23:38] shrivastavshubham34 commented on #2745
After multiple try-catches and assigning policies to my role, I get this.
[code]
My colleague who created the cluster can run the same commands without any profile and has the same IAM access as me in this AWS account.
Why is he able to update the cluster and I'm not?
I have below policy same as him
[code]

[2020-11-12 09:32] chickenbeef opened #2822 "Update docs for GPU Support"
**Why do you want this feature?**

The documentation on GPU Support still references the old ["EKS-optimized AMI with GPU Support"](https://aws.amazon.com/marketplace/pp/B07GRHFXGM) AMI on the AWS marketplace.

This AMI only supports P2 and P3 instances and has been superseded by the [x86 accelerated](https://docs.aws.amazon.com/eks/latest/userguide/eks-optimized-ami.html#gpu-ami). From what I can

[2020-11-12 09:42] michaelbeaumont opened #2824 "Document new subnet config options"
With #2793, some new options for specifying VPC subnet topologies have opened up (#806). There is already an [example](https://github.com/weaveworks/eksctl/blob/48cd57c27f4adb0d860e26aa109cb744144f4b72/examples/24-nodegroup-subnets.yaml) but it would be good to call this possibility out somewhere in https://eksctl.io/usage/vpc-networking/

[2020-11-12 10:59] #2747 closed

[2020-11-12 11:31] aclevername commented on #2776
For further clarity we reached out to the bottlerocket folks to gain a better understanding of the usage of the two volumes https://github.com/bottlerocket-os/bottlerocket/issues/1203#

[2020-11-12 12:05] michaelbeaumont commented on #2776
Ok, so it sounds like we definitely want to be increasing the size of `/dev/xvdb` with `volumeSize`, which `eksctl` doesn't right now, have I understood correctly?

[2020-11-12 12:07] michaelbeaumont commented on #2745
It seems like your role is unable to even `iam:CreateRole`, is the role `arn:aws:sts::1234567890:assumed-role/role_name/213821381238` the expected one?

[2020-11-12 12:39] derekwlmscfa commented on #2776
Yes, I definitely think so, since that `/dev/xvdb` volume is what's available to us. In some cases, the 20GB default isn't even enough to pull the image.

[2020-11-12 17:28] shrivastavshubham34 commented on #2745
Yup, It is, I can assign it some policies, but I want to know if EKSCTL creates a Cluster admin IAM role and assigns it to cluster creator because my colleague is able to access and make modifications to code.
He was the one who created the EKS cluster.
We both have the same policies

[2020-11-12 17:47] michaelbeaumont commented on #2745
No, `eksctl` doesn't create any roles except a role for the cluster and one for each nodegroup. The cluster creator can always access the cluster. Every other user needs to go through the configmap.
Are you saying the mentioned role has that allow everything policy attached? It appears at least that's not the case.

Can you please always include the commands you're running as well as the full outp

[2020-11-12 21:54] shrivastavshubham34 commented on #2745
You're right, the above allow everything policy was for my IAM user not the role I was assuming.
After attaching the Admin policy the nodegroups were created successfully.

However, I'm not comfortable using AllowEverything policy and would like to know if there's some policy I can create or use that'll give me privileges to add and remove nodegroups and modify cluster.

[2020-11-12 22:47] michaelbeaumont commented on #2745
Great! I think you should be able to find everything you need to put together a policy in [the eksctl IAM policies docs](https://eksctl.io/usage/minimum-iam-policies/) as well as [the AWS docs on EKS actions](https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazonelasticcontainerserviceforkubernetes.html#amazonelasticcontainerserviceforkubernetes-actions-as-permissions).

[2020-11-13 05:44] shrivastavshubham34 commented on #2745
Thanks, i was able to put together a policy and now everything works fine.
Just curious, what seperates the cluster creator from other users? Why doesn't assuming same policies as cluster creator give me admin access?

[2020-11-13 06:16] michaelbeaumont commented on #2745
The AWS IAM policies govern access at a granularity of clusters, the `eks:*` actions. So you can modify the EKS configuration, add managed nodegroups, delete managed nodegroups. Actually accessing the cluster and manipulating kubernetes resources is governed by the `auth-configmap`. Here only the cluster creator automatically has full access, and IAM policies play no part. Depending on the command

[2020-11-13 09:34] #2818 closed

[2020-11-13 09:59] michaelbeaumont commented on #2745
@shrivastavshubham34 Feel free to comment with any other questions! I'll close the issue now.

[2020-11-13 09:59] #2745 closed

[2020-11-13 14:48] kellen-dunham opened #2834 "Managed Node Group Create Failed - Ec2SubnetInvalidConfiguration Health issue type"
Please [search existing issues (open & closed)](https://github.com/weaveworks/eksctl/issues?utf8=%E2%9C%93&q=is%3Aissue) to see if there is a similar one. If there is, add comments or vote where appropriate.

If you did not find a similar issue or if it did not help then ask for help in our [slack channel](https://weave-community.slack.com/messages/eksctl/)

**What help do you need?**
Describe the

[2020-11-13 17:29] shrivastavshubham34 commented on #2745
Thanks for the help @michaelbeaumont , you've been a great guide!!

[2020-11-13 19:38] kellen-dunham commented on #2834
This appears to be resolved if I set the auto assigned public IP to be enabled on all subnets, and then use a custom launch template which adds a blank ENI and specifies to not assign a public IP.

The intent of this particular cluster is to have nodes exist in only public subnets or only private subnets. Ideally I could get this functionality from the eksctl yaml alone instead of having to define

[2020-11-14 12:43] KrishnaSindhur commented on #2810
Can I work on this?

[2020-11-15 03:34] shrivastavshubham34 opened #2836 "Cannot add arm node-group to a cluster with existing non-arm node-group"
**What happened?**
I’m trying to add an ARM node group to the existing EKS cluster with a non-arm node group using EKSCTL.
After creating though I get this error,
[code]

I Also Tried this by creating managed ARM node groups, still faced the same error.
ARM node is in NotReady state.
When I create an EKS cluster using the AWS Management console, both arm and non-arm node-groups works fine

**How t

[2020-11-15 13:32] skokaina commented on #1930
Thanks a lot @smakintel, this did really help ! pushed a note at the following link with full steps in case it could help someone else: https://blog.sallah-kokaina.com/aws-alb-load-balancer-controller-no-eksctl-managed-cloudformation-stacks-found-error-ckhj5lwrt00w37ys145db8fbq

[2020-11-15 14:18] TBBle opened #2837 "Addon Policy support for IRSA-enabled Service Accounts"
**Why do you want this feature?**

I use [IAM Roles for Service Accounts](https://eksctl.io/usage/iamserviceaccounts/) rather than Instance Roles for better-constrained granting of permissions, and many of my IRSA `ServiceAccounts` are for features like Cluster Autoscaler, and eksctl already has an 'addon' describing the necessary policies for an _Instance Role_ to host that feature/application.

[2020-11-15 14:31] TBBle commented on #2789
The flag should probably be `--ebs-access` to match the addon name in the config, assuming it's doing the same thing.

That said, per comments in #805, it seems the leaning (at least 18 months ago) was to not add more `--*-access` CLI flags, preferring to use the config file for those options.

[2020-11-15 17:36] koslibpro commented on #956
I guess I'm repeating what the last people also said, this feature is indeed very useful. Especially for environments where a lot of developers are involved and drift occurs on the CF stack, this could help bring things back to normal.

Any updates with the timeline of this feature?

[2020-11-16 10:38] #2776 closed

[2020-11-16 10:38] aclevername commented on #2776
@derekwlmscfa should be fixed in the next release 😄

[2020-11-16 12:09] Callisto13 opened #2845 "Getting Fargate profiles should show profile statuses"
**Why do you want this feature?**
Sometimes Fargate actions take a looong time to complete, to help with confusion it may be useful to display what state they are in.

Deletion is the worst. After running a delete command it can take up to 5 minutes for the profile to actually disappear which (if you are lazy like me and cnba to read anything or go to the console to check) can lead to this frustra

[2020-11-16 12:38] derekwlmscfa commented on #2776
Awesome, thanks!

[2020-11-16 16:09] egel opened #2846 "Can't install eksctl via Homebrew on macOS Big Sur"
As a ekscli user
I need to be able to install `eksctl` on macOS BigSur
so I can manage my AWS EKS cluster

**Steps to replicate error:**

I was following https://docs.aws.amazon.com/eks/latest/userguide/eks-ug.pdf#getting-started and wanted to install ekscli via Homebrew. The installation is throwing an error.

[code]

My system:

[code]

<img width="698" alt="Screenshot 2020-11-16 at 17 07 00" sr

[2020-11-16 19:08] ChristopherMotesHalfaker opened #2847 "NodeGroup create fails on iam:passRole when path is a boundary requirement."
**What happened?**
Node Groups will not create when an IAM path is required for IAM:passRole. Since 0.30.0, the path section from instanceRoleARN is compressed prior creating the resource. Recently tested with 0.32.0-rc.0
Works successfully with 0.29.2

**What you expected to happen?**
Nodegroups create

**How to reproduce it?**
[code]
[code]

**Anything else we need to know?**
We're using an IAM

[2020-11-17 09:13] michaelbeaumont commented on #2564
@kushagra391 This does seem like a regression and it may be that the AWS SDK isn't being initialized correctly in `eksctl`.

https://github.com/weaveworks/eksctl/blob/df8c63b241ad8d7a65744fdf2c3fce92c69e0e21/pkg/eks/api.go#L123

[2020-11-17 09:51] shrutilamba commented on #2008
Still facing the same issue with eksctl 0.30.0. Does anyone know the workaround?

[2020-11-17 09:54] egel commented on #2846
Using README and installing it directly solved the problem for me:

[code]

[2020-11-17 10:03] michaelbeaumont commented on #2008
@shrutilamba Can you please post the exact commands or configs you're using as well as the output?

[2020-11-17 10:07] michaelbeaumont commented on #2846
It seems like homebrew doesn't support Big Sur right now and this error seems unrelated to `eksctl`. Do other formulas work for you? Please see https://github.com/Homebrew/brew/issues/8797 and https://github.com/Homebrew/brew/issues/7857

I'm closing this for now.

[2020-11-17 10:07] #2846 closed

[2020-11-17 10:14] shrutilamba commented on #2008
@michaelbeaumont  I am using the following config:

[code]

[2020-11-17 10:22] cPu1 commented on #2008
@shrutilamba your `overrideBootstrapCommand` is using the wrong cluster name. The first argument to the bootstrap script should be the cluster name.

[code]

[2020-11-17 10:43] OriHoch commented on #2655
I also encounter this bug

config:

eksctl v0.31.0

[code]

[code]

[2020-11-17 11:49] shrutilamba commented on #2008
@cPu1 thanks. Changing the cluster name worked!

[2020-11-17 16:23] shivani-hotstar commented on #2655
I am also facing the same issue
eksctl v0.31.0
Config:

[code]

[code]

[2020-11-17 20:12] danbeaulieu commented on #916
Also see this issue using eksctl 0.31.0.

We have 2 roles: 1 that can describe-cluster and other "AWS" level APIs. Another role that is used for in cluster operations, such as modifying a configmap. This second role is added to the aws-auth config map to allow these operations.

for instance in the same shell `aws eks describe-cluster --name foo` and `kubectl edit -n kube-system configmap/aws-auth

[2020-11-17 20:35] nsaud01 opened #2848 "eksctl upgrade command hangs"
Running an upgrade on an eks cluster works but the command seems to hang long after the upgrade is complete. Is this expected behavior? It would be nice if the command gave some indication of completion.

[code]

[2020-11-17 20:55] nsaud01 opened #2849 "eksctl get nodegroups not working"
**What happened?**

I provisioned an EKS cluster with a managed nodegroup using eksctl. Now after upgrading from 1.14 to 1.15 with eksctl, I'm trying to update the nodegroup and eksctl won't recognize it.

eksctl get nodegroups --cluster=acme-devops
Error: getting nodegroup stack summaries: getting nodegroup stacks: no eksctl-managed CloudFormation stacks found for "acme-devops"

**What you expect

[2020-11-17 21:09] nsaud01 commented on #2849
Disregard. Looks like eksctl version 0.31.0 fixed it!

[2020-11-17 21:09] #2849 closed

[2020-11-18 04:08] k4200 commented on #475
I tried the latest head with the following config:
[code]

`eksctl create cluster` successfully created an EKS cluster with 9 subnets, 3 per AZ as planned. However, the nodes were placed only in 3 subnets, 1 per AZ, in other words, 6 out of 9 subnets aren't used.

The reason why I need multiple subnets per AZ is I need to use more subnets and NAT Gateways because of the NAT Gateway's limitations:

[2020-11-18 05:00] shivani-hotstar commented on #809
Hi,
Is there a way to update max count without touching desired count ?

[2020-11-18 09:02] michaelbeaumont opened #2850 "upgrade nodegroup fails if recommended AMI has been rolled back"
[code]

From @hikhvar in slack

AWS rolled back the recommended AMI: https://github.com/awslabs/amazon-eks-ami/issues/563#issuecomment-729075128

The [API docs](https://docs.aws.amazon.com/eks/latest/APIReference/API_UpdateNodegroupVersion.html) tell us:

so we should probably do nothing or log an info message.

[2020-11-18 11:15] artem-nefedov opened #2851 ""create cluster" command uses latest AMI instead of recommended for managed node groups"
**What happened?**

Related to #2850
AWS rolled back recommended AMI in https://github.com/awslabs/amazon-eks-ami/issues/563#issuecomment-729075128
"upgrade nodegroup" tries to use this AMI, but "create cluster" still uses bugged (latest AMI).

**How to reproduce it?**

1. Create cluster with managed nodegroup via "create cluster"
2. Upgrade managed node group via "upgrade nodegroup"

**Expected r

[2020-11-18 11:17] artem-nefedov commented on #2712
Fixed in 0.31.0

[2020-11-18 11:17] #2712 closed

[2020-11-18 11:32] artem-nefedov commented on #2851
I realised that I must use `auto-ssm` AMI type.

[2020-11-18 11:45] michaelbeaumont commented on #2686
@amoswang0917 Is this error still happening? Does your cluster function otherwise normally? Does it happen with any other clusters? It looks like the `VPC` Output is being looked for in the nodegroup stack but it should be found in the _cluster_ stack.

[2020-11-18 14:05] artem-nefedov commented on #2851
Actually, it's not possible to use `ami: auto-ssm` with launch template.
However, the issue eventually went away after AWS updated something on their side.
Still, the original problem could resurface in the future.

[2020-11-18 14:12] michaelbeaumont commented on #2851
Agreed, we need to make sure `upgrade nodegroup` and `create cluster`/`nodegroup` have the same behavior here

[2020-11-18 14:16] ptdorf commented on #448
I created a trash account using `GoogleApps` and some random username and password. After that I configured it properly with the correct ADFS and it just worked. I'm guessing the 1st configure created the files correctly.

Commands and output:

[code]

[2020-11-18 14:41] Unichron commented on #2851
So another problem is that the AWS API itself rejects any version that is not the latest. So I guess you cannot fix this on the client side.

[2020-11-18 15:11] jpedro commented on #448
$ saml2aws configure
? Please choose a provider: GoogleApps
? AWS Profile saml
? URL wergh
? Username asdfgh
? Password ******
? Confirm ******
account {
  URL: wergh
  Username: asdfgh
  Provider: GoogleApps
  MFA: Auto
  SkipVerify: false
  AmazonWebservicesURN: urn:amazon:webservices
  SessionDuration: 3600
  Profile: saml
  RoleARN:
  Region:
}
Configuration saved for IDP account: default

$ s

[2020-11-18 18:03] nsaud01 commented on #2551
I'm getting that same error:

`Error: loading config file "devops-nodegroup.yaml": error unmarshaling JSON: while decoding JSON: json: unknown field "launchTemplate"` with eksctl v0.31.0

[2020-11-18 18:12] nsaud01 commented on #2551
I see where the error was. My issue was that I was using `nodeGroups:` when it should've been `managedNodeGroups:`. Hope that helps someone.

[2020-11-19 01:33] limyc opened #2853 "fail to create the cluster in ap-northeast-2"
**What happened?**
An error occurs while creating eks 1.18 in ap-northeast-2.
Until yesterday there were no problems with creation.

In us-east-1 it is created without problems.
Also, 1.17 is no problem with creation in ap-northeast-2.

**What you expected to happen?**
It should be created without problems.

**How to reproduce it?**
[code]

[code]

**Anything else we need to know?**
eksctl - https

[2020-11-19 06:36] sowhatim commented on #809
@shivani-hotstar , yes, this ticket is resolved. you can now use nodes-max and nodes-min with scale ng command.

[2020-11-19 11:59] cucosion opened #2854 "Create a cluster in a single Availability Zone for testing"
I see that there was a similar request: https://github.com/weaveworks/eksctl/issues/1142

**Why do you want this feature?**
We perform tests that generate a lot of traffic between nodes and from what I see for all the inter AZ communication we have to pay, the example we found out that we had around a few hundred terabytes of traffic in one week at 0.01 $ per GB.
https://aws.amazon.com/ec2/pricing

[2020-11-19 12:29] cPu1 commented on #2854
Creating a nodegroup in a single AZ is already supported today by specifying a single availability zone, as in:

[code]

Using CLI options:

[code]

[2020-11-19 12:44] cPu1 commented on #2854
Closing this for now, please feel free to open a new issue if you have more questions.

[2020-11-19 12:44] #2854 closed

[2020-11-19 17:29] #2850 closed

[2020-11-20 01:38] limyc commented on #2853
It is now created without any problems.

[2020-11-20 01:38] #2853 closed

[2020-11-20 15:05] michaelbeaumont commented on #475
@k4200 Could you include the nodegroup stack description? E.g. using `eksctl utils describe-stacks`?

[2020-11-20 15:55] kennedy opened #2862 "Upgrading Cluster to include logging does not work"
**What happened?**
I wanted to upgrade my cluster to have logging with a configuration file

**What you expected to happen?**
Used `eksctl upgrade cluster -f .\cluster.yml` to turn on logging

**How to reproduce it?**
1. Create a cluster config file without logging:
[code]
2. Create cluster with `eksctl create cluster -f .\cluster.yml`
3. Add logging to config file:
[code]
4. Upgrade cluster with

[2020-11-20 15:57] marcgascon commented on #834
We had the same issue and finally we end up with the following policies in the user that executes `eksctl`:

- `AWSCloudFormationFullAccess` and `AWSEC2FullAccess` policies.
- The minimum policies that the documentation say (https://eksctl.io/usage/minimum-iam-policies/).
- Adding the following policy:

[code]

[2020-11-20 16:22] cPu1 commented on #2862
`eksctl upgrade cluster` is for updating the cluster's version, it does not look at any other fields specified in the config: https://eksctl.io/usage/cluster-upgrade/#updating-control-plane-version

To update the logging, use `eksctl utils update-cluster-logging` instead.

[2020-11-20 16:22] #2862 closed

[2020-11-20 16:23] spicysomtam commented on #811
Just discovered this does not work. Although cloudwatch logs works fine (although lack of cli arg for it is a bit odd and inconsistent), cloudwatch metrics/Container Insights does not work. The policy CloudWatchAgentServerPolicy is missing from the EC2 instance role.

Some links
https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/Container-Insights-prerequisites.html
https://docs.aws.am

[2020-11-20 17:54] pavius commented on #1099
I dug into this and I think the root cause here is that cloud-init runcmd does not run the commands immediately - it only creates a user script (`/var/lib/cloud/instance/scripts/runcmd`) to be run later. This is done in the runcmd handler:

https://github.com/canonical/cloud-init/blob/2e62cb8a6406309cbeb5f8d2aa00fb30e72e1cfc/cloudinit/config/cc_runcmd.py#L92

The funny thing is that since `bootstr

[2020-11-20 18:44] michaelbeaumont commented on #1099
@pavius Yes, that's correct, those scripts shouldn't be created there

[2020-11-21 05:18] tanmayahzt commented on #2655
I am on eksctl 0.31.0
This seems like an issue only with managed node groups.
It's working fine for me with unmanaged NodeGroups.

[2020-11-23 02:54] mishra-swati opened #2864 "get cluster returns null instead of empty JSON array"
**What happened?**
`eksctl get cluster --output json` returns `null` instead of `[]` when there are no clusters created with eksctl in the AWS account.

**What you expected to happen?**
`eksctl get cluster --output json` should return `[]`, an empty JSON array, to represent no clusters were found.

**How to reproduce it?**
1. Set up `eksctl` with an AWS account that has no EKS clusters created wit

[2020-11-24 06:35] bitva77 commented on #1565
Just wishing this issue a happy birthday.  It's been a year!

AWS: "Use the aws cli, it's super cool"
Also AWS: "use eksctl to create EKS clusters, it's super cool"

AWS whispering while walking away: "oh they're not fully compatible so good luck to you"

[2020-11-24 09:31] egel commented on #2846
FYI: What actually helped me to install `eksctl` through the brew, was a reinstalling CommandLineTools (see: https://apple.stackexchange.com/a/402377/236340) and then I could normally install it with:

[code]

[2020-11-24 17:27] hvydya commented on #2864
Hello! I'd like to work on this. Can you assign it to me?

[2020-11-25 09:18] k4200 commented on #475
I changed the settings to work around this issue for my ongoing project. I'll recreate a cluster with the original settings and paste the result of the command you gave me hopefully in a week or so.

[2020-11-25 13:27] hvydya commented on #2864
Looked at this today. Have a possible fix. Do I need to write any tests for this?

[2020-11-25 13:29] michaelbeaumont commented on #2864
@hvydya Great! Feel free to open a PR and we'll see if there's any tests missing :slightly_smiling_face:

[2020-11-25 14:07] #2591 closed

[2020-11-25 19:44] wilbur4321 commented on #475
As another datapoint, the reason that we need this is quite simple: we ran out of address space in one subnet and our company has (sadly) divided everything into small address blocks (/22 and smaller) and generally won't hand out bigger ones unless you're actively using them.  For cost and performance reasons, we don't want nodes that are chatting heavily with each other spread across AZs (distrib

[2020-11-25 21:26] hryamzik commented on #764
Looks like creating an s3 endpoint with eksctl is still not possible.

[2020-11-25 21:55] StianOvrevage opened #2874 "Cannot add `t4g.medium` node group. (But `t3a.medium` works fine)."
**What happened?**
[✖]  AWS::AutoScaling::AutoScalingGroup/NodeGroup: CREATE_FAILED – "The requested configuration is currently not supported. Please check the documentation for supported configurations. Launching EC2 instance failed."

**What you expected to happen?**
New node group.

**How to reproduce it?**
[code]

Creation of `t3alargev18` works fine. But creation of `t4gmediumv18` fails with

[2020-11-25 23:16] StianOvrevage opened #2875 "OnDemandPercentageAboveBaseCapacity is not honored"
**What happened?**
I want to create a 100% spot node group. I get a 100% on-demand node group instead.

**How to reproduce it?**
Using the following config:

[code]

Still produces a 100/0% on-demand/spot ASG:

![image](https://user-images.githubusercontent.com/6630005/100291092-200be500-2f7d-11eb-8073-36b5f18544c2.png)

I see references in the code to 100% on-demand being the default: https://git

[2020-11-26 09:34] Callisto13 opened #2876 "Document how to add tags to nodegroups"
See thread [here](https://weave-community.slack.com/archives/CAYBZBWGL/p1606330312304100).

Hi guys. Is it possible to add custom tag on nodes during cluster creation, please? :crossed_fingers: I tried few things and went through your docs and I did't find it find solution :(
4 replies

This is supported via the tags field on a nodegroup or managedNodeGroup
[code]

@chetan this tags the node group

[2020-11-27 09:34] Callisto13 commented on #2874
Hi @StianOvrevage, this looks to be fixed in the next release (https://github.com/weaveworks/eksctl/pull/2856), so I will close this issue. Please re-open if you are still having problems when the new release comes out 👍

[2020-11-27 09:34] #2874 closed

[2020-11-27 10:55] michaelbeaumont commented on #1497
Ultimately, this is due to the fact that create iamserviceaccount was not written to reconcile the config with the cluster, i.e. `--override-existing-serviceaccounts` is intended for cases where the kubernetes SA exists but not the IAM stack.
We're tracking the ability to update the policy for existing accounts from the config file in this issue

[2020-11-28 01:25] cdenneen commented on #1497
@michaelbeaumont you’d think however the SAs it created from scratch it should be able to properly update the policy’s on the role and then subsequently update the annotations to the updated role arn created.

[2020-11-28 16:37] hvydya commented on #2845
I'd like to work on this. Can you assign it to me?

Also I've an another suggestion. Even when cluster deletion is initiated, the cluster shows up in the `get` command, just like the fargate profile. So, showing status there too makes sense. Let me know your thoughts on this.

[2020-11-29 21:04] StianOvrevage commented on #2874
Awesome, thanks for the quick reply!

[2020-11-30 09:33] michaelbeaumont opened #2882 "Upgrade k8s.io dependencies"
We're on `1.16` right now, what are the consequences of bumping these?

[2020-11-30 10:22] Callisto13 commented on #2845
It's all yours @hvydya 👍 .

The cluster status _is_ shown if you inspect the individual cluster (whereas that information is not shown anywhere for fargate profiles). I can see the use in putting the cluster status in the "concise" `get` command which show all clusters; it would be useful to see the status of all at a glance... but unless we are careful, could it gradually be decided that all sort

[2020-11-30 13:22] michaelbeaumont commented on #475
I'm going to close this again because now it's actually implemented.

@wilbur4321 This feature has been released.

@k4200 OK, what I'm interested in is the nodegroup stack specifically or alternatively which subnets the AutoScalingGroup is set to use. I can't reproduce this, i.e. the ASG uses all the subnets in my tests, even if there are multiple subnets per AZ.

[2020-11-30 13:22] #475 closed

[2020-11-30 13:26] michaelbeaumont commented on #2875
@StianOvrevage Could you post the CFN stack for your nodegroup? `eksctl utils describe-stacks`

[2020-11-30 13:49] #2864 closed

[2020-11-30 16:39] Callisto13 commented on #1126
For anyone coming by to pick part of this up, these are the commands which as yet do no support the `--config-file` flag:

- [ ] `get cluster`
- [ ] `get labels`
- [ ] `set labels`
- [ ] `unset labels`
- [ ] `utils describe-stacks`
- [ ] `utils schema`
- [ ] `utils update-cluster-stack`
- [ ] `utils update-legacy-subnet-settings`
- [ ] `utils write-kubeconfig`

[2020-12-01 00:27] todd-dsm opened #2883 "missing --region from nodegroup docs page"
**What happened?**
Built a first cluster with eksctl and without issue; got what I believe to be expected results.

Asked eksctl to describe the nodegroup from the docs:

[code]

**What you expected to happen?**
The [managing-nodegroups] page needs to be updated so the first instruction reads:

`eksctl create nodegroup --cluster=<clusterName> --region=<region> [--name=<nodegroupName>]`

**How to r

[2020-12-01 05:47] hvydya commented on #2845
Yeah I understand your point. That's ok.

I've a query. I've made the changes and wanted to test it so, I ran `make -f Makefile.docker test`. This failed saying
[code]
After this, two files were changed(pkg/apis/eksctl.io/v1alpha5/assets/schema.json, pkg/apis/eksctl.io/v1alpha5/schema.go). They were auto-generated. The hint above says I should commit them. Should I commit and push them?

[2020-12-01 05:50] MeloHo commented on #735
@cPu1 If eksctl created a dedicated VPC and this security group is in another VPC, would this attachment be successful? Or to use this SG, the same VPC should be used?

[2020-12-01 09:05] Callisto13 commented on #2845
Aaahh yeh that is an annoying quirk of the `make test` command. Just committing will make that error stop, no need to push anything until you are ready

[2020-12-01 13:00] cPu1 commented on #735
It'll not be successful. The SG should exist in the same VPC.

[2020-12-01 15:50] hvydya commented on #2845
Ok. Raised a PR.

[2020-12-01 20:22] neha-viswanathan commented on #2650
@michaelbeaumont @martina-if Hi! can we reopen #2661?

[2020-12-01 23:16] koslibpro commented on #956
I'll pick this issue up for development and hopefully will have something soon-ish. If anyone else is already taking a look and want to collab on it, feel free to reach out.

[2020-12-02 10:11] cPu1 commented on #2650
@neha-viswanathan I have reopened it. Thanks for tracking this.

[2020-12-02 10:28] #1083 closed

[2020-12-02 11:28] mihaylovmihail opened #2891 "Support for EBS gp3 volume type/ storage class"
*Before creating a feature request, please search existing feature requests to see if you find a similar one. If there is a similar feature request please up-vote it and/or add your comments to it instead*

**Why do you want this feature?**
Because the new AWS EBS gp3 volume type provide faster and cheaper disks. Here is the description: https://aws.amazon.com/blogs/aws/new-amazon-ebs-gp3-volume-l

[2020-12-02 14:28] Buffer0x7cd opened #2893 "Support disabling src/dst checks on Worker Nodes."
Relevant Issue: https://github.com/cilium/cilium/issues/14243

**Why do you want this feature?**
Hey everyone,  While using 3rd party networking plugins, It's required to Disable SRC/DST Check on all of the worker nodes. One such use case is using DSR for node port traffic (more info available here https://github.com/cilium/cilium/issues/13600). While the above solution worked, Internally in our t

[2020-12-02 14:41] errordeveloper commented on #2893
This concerning primary ENI, which I believe is controlled via CloudFormation, or at least it should be possible to control it (it's been a while since I've seen the code last time).

[2020-12-02 14:42] errordeveloper commented on #2893
Cilium installation [instructions for EKS](https://docs.cilium.io/en/v1.9/gettingstarted/k8s-install-eks/).

[2020-12-02 15:15] Callisto13 commented on #2774
🎉

This issue is going to track the delivery of a proposal for how we will implement gitops-style reconciliation with eksctl.

Deliverable is a proposal in `docs/` which details:
  1. The end state of `eksctl apply` (ie. ignoring everything else which currently exists, what would it look like if we could `apply` today?)
  1. What the rest of the `eksctl` UX looks like in a world with `apply` (ie.

[2020-12-02 15:52] aclevername commented on #2847
Hey @ChristopherMotesHalfaker , I could not reproduce the issue on `0.32.0`. Could you expand upon what you think the problem is? The output makes it look like an issue with provided role.

Is this referring to the work done as part of https://github.com/weaveworks/eksctl/pull/2689 ? You are correct that when you now provide a `instanceRoleARN` with a nested/deep resource path it gets trimmed down

[2020-12-02 16:06] Callisto13 opened #2894 "AppMesh Quickstart profile is no longer compatible with eksctl provisioned gitops"
This is a PSA to note that the [AppMesh quickstart profile](https://github.com/weaveworks/eks-appmesh-profile) is no longer compatible with Flux v1. Since Flux v1 is the gitops tool deployed by `eksctl enable repo`, this means that if you have configured gitops on your cluster using **any version** of `eksctl` the AppMesh profile will not work.

**Why?**
AWS released their AppMesh Gateway to GA. T

[2020-12-02 16:13] aclevername commented on #2774
I think sticking to a relatively consistent state to the existing `kubectl apply` (so no sub commands afterwards) would be ideal, perhaps with some slight modifications (opinions/thoughts welcome):
- Keeping the dry run by default behaviour: using the existing `--approve` flag to state when you should actually create the resources. This differs from apply, but given the nature of eksctl and cost a

[2020-12-02 16:19] Callisto13 commented on #2774
excellent point!

[2020-12-02 18:26] ChristopherMotesHalfaker commented on #2847
0.32.0 Fails with the same error.
I'm certainly familiar with the problem in #2689. We worked around it separately.
Yes, the passRole in our boundary is explicit regarding the path. E.g.  `arn:partition:iam::AccountId:role/boundryRequirement-eks-managed-node` doesn't match the allowed resources for iam:passRole.

[2020-12-02 21:40] todd-dsm opened #2895 "timed out waiting for control plane"
**What help do you need?**
Made a mistake, moving too fast, defining the cluster endpoint as private: (whoops)
[code]

Then, not surprisingly, there is an error trying to delete it:

[code]

**What happened?**
So, it appears I've put myself into an awkward position. Can't use it - can't delete it. As a general rule I Terraform everything so now I don't know anything about CloudFormation - or what

[2020-12-02 23:26] todd-dsm commented on #2895
Update...

In a panic I manually deleted the cluster, some IAM stuff, NAT gateway, then the VPC deleted and took everything else with it.

After that, I re-ran the delete operation and it seemed to clean the stack out.

[2020-12-02 23:26] #2895 closed

[2020-12-03 11:11] Callisto13 commented on #2891
Thanks @mihaylovmihail we definitely want this.

We will have to wait (hopefully not too long) for AWS to finish updating all their APIs, specifically the Cloud Formation one, to receive the extra parameters that the `gp3` type needs. `throughput` (and I suspect also `iops`) need to be set; the EC2 api knows to require this, but the CloudFormation api doesn't yet know what to do with that field in

[2020-12-03 16:46] michaelbeaumont commented on #2893
After discussing in slack:
It seems this setting, while exposed by the `EC2::Instance` Cloudformation resource, isn't exposed through the `AutoScaling::AutoScalingGroup` or the
`EC2::LaunchTemplate NetworkInterface` resources.

[2020-12-03 19:51] artem-nefedov commented on #2774
Absolutely would love to see this.
I would argue that this is the most important feature moving forward, because the main point of `eksctl` is that it **simplifies** the management of EKS clusters.
However, we had to implement multiple workarounds and hacks already just because `eksctl upgrade cluster -f config.yaml` or `eksctl upgrade nodegroup -f config.yaml` commands doesn't want to honor chang

[2020-12-04 14:42] Callisto13 opened #2901 "`create iamserviceaccount` does not clean up on failure"
**What happened?**
When `create iamserviceaccount` fails, artefacts are not cleaned up.

[code]

**What you expected to happen?**
When the initial create fails, it should rollback cleanly and erase all created artefacts. I should be able to run the correct command immediately afterwards and see it succeed.
[code]

**Versions**

eksctl version = 0.32.0
kubectl version = 1.19

[2020-12-04 20:12] todd-dsm commented on #2883
Also applies to this page:
https://eksctl.io/usage/iam-identity-mappings/

Without `--region`:
[code]

With `--region`:
[code]

[2020-12-07 09:49] aclevername commented on #2847
@ChristopherMotesHalfaker if you update your passRole to match the compressed ARN does it work?

[2020-12-07 09:50] aclevername commented on #2811
PR open https://github.com/weaveworks/eksctl/pull/2815

[2020-12-07 17:12] ChristopherMotesHalfaker commented on #2847
Do you mean update passRole in the boundary? The contents of that boundary policy is out my team's control. If you mean somewhere else, you'll need to be more concise.

[2020-12-07 22:32] nitin3000 opened #2908 "unable to create EKS Clusters"
[code]

[2020-12-08 05:47] chiranjib-b commented on #2627
I've faced this issue as well, and it took a while for me to figure this out.
We should be allowed to add rules to the cluster/control plane security group

[2020-12-08 08:10] oemdaro commented on #892
I have an issue when using [VPC Sharing](https://aws.amazon.com/blogs/networking-and-content-delivery/vpc-sharing-a-new-approach-to-multiple-accounts-and-vpc-management/). When I try to create cluster on the sharing VPC and subnets, I got the following error.

[code]

How to solve this problem?

[2020-12-08 08:49] michaelbeaumont commented on #892
Hi, thanks for bringing this up! Can you please include the exact config or the command and arguments you're using as well as the log output? Please feel free to open a new issue as well.

[2020-12-08 10:24] oemdaro opened #2910 "Cannot create cluster on VPC sharing"
**What happened?**
I have follow the blog post for managing network for multiple accounts ([VPC sharing: A new approach to multiple accounts and VPC management](https://aws.amazon.com/blogs/networking-and-content-delivery/vpc-sharing-a-new-approach-to-multiple-accounts-and-vpc-management/)"), and I'm using `Terraform` to create a VPC separately.

After VPC is created, I'm try to create cluster usi

[2020-12-08 10:25] oemdaro commented on #892
Hi @michaelbeaumont , thank you. I have created a new issue #2910 for it.

[2020-12-08 12:37] #2845 closed

[2020-12-09 10:06] YYSU opened #2916 "Why create/delete iamserviceaccount command modified the service account kube-system/aws-node ?"
Hello,

I tried to run create iamserviceaccount like the following command :
[code]

The log output :
[code]
I expected there is only one service account - "default/s3-admin" will be created. However, why "kube-system/aws-node" was also be modified ?

The same issue happend  when I delete the service account :
[code]
Why "kube-system/aws-node" was also be deleted ?

Thank you !

Note: The cluster

[2020-12-09 10:58] Callisto13 commented on #2770
As part of this I have updated the [app-dev quickstart profile](https://github.com/weaveworks/eks-quickstart-app-dev) to deploy the new AWS Load Balancer Controller, as well as the policy created when `spec.albIngress` is set (the old one works anyway, but it is nice to have new things).

I have updated all mentions of the ALB in our docs, although they were few to begin with, and pointed to the [

[2020-12-09 14:45] #2916 closed

[2020-12-09 20:07] limai-msk opened #2919 "Allow Customization of Cluster Role Name"
I am able to configure custom role names for node groups but not for clusters. Is it possible to recreate this feature for clusters as well? https://eksctl.io/usage/schema/#nodeGroups-iam-instanceRoleName

[2020-12-10 05:13] redbitshift commented on #1251
I am seeing timeout on eksctl v0.33.

The node is there.

[code]

[2020-12-10 09:58] shkreios opened #2921 "Eksctl fails to add missing resources for managed node groups to the cluster stack"
**What happened?**
Creating an eks managed nodegroup using eksctl failed with the following error:
[code]

**Anything else we need to know?**
Till now, we only used unmanaged nodegroups. The cluster is running the newest version 1.18.
The cluster was created with version `1.13 `of EKS with eksctl.

Cloudformation does not show any new stack nor any event on an already existing stack.

When updatin

[2020-12-10 11:30] michaelbeaumont commented on #2837
@TBBle What do you think about even doing away with the need to specify `namespace` and `name`?
Something like:

[code]
or

[code]

[2020-12-10 12:14] #2824 closed

[2020-12-10 12:52] #2822 closed

[2020-12-10 12:52] Callisto13 commented on #2621
Believe this was done in https://github.com/weaveworks/eksctl/pull/2725

[2020-12-10 12:52] #2621 closed

[2020-12-10 13:34] TBBle commented on #2837
Personally, I'd rather keep the namespace and name options. Not all of these services are installed in kube-system or another fixed namespace, e.g. external-dns, and in some cases, the service account name is dictated by the service's Helm chart, e.g., AWS-EBS-CSI has _two_ service accounts it needs, one for the CSI Controller and one for the Snapshot Controller, and both names are burned into the

[2020-12-10 14:59] #2650 closed

[2020-12-10 17:20] aclevername commented on #2809
PR to implement: https://github.com/weaveworks/eksctl/pull/2911

[2020-12-10 17:21] aclevername commented on #2882
https://github.com/weaveworks/eksctl/pull/2907

[2020-12-10 18:02] Callisto13 opened #2923 "Create nodegroup panics on partial vpc subnet config"
**What happened?**

I was being lazy and did a half subnet config thing:

[code]

**What you expected to happen?**

I hoped I would get away with it, but at least a nice error telling me to do it properly.

**Versions**
Please paste in the output of these commands:
[code]

**Logs**

[code]

[2020-12-10 19:03] michaelbeaumont commented on #2847
@ChristopherMotesHalfaker Looking at https://docs.aws.amazon.com/eks/latest/userguide/troubleshooting_iam.html#security-iam-troubleshoot-ConfigMap, it seems like using a role with a path shouldn't work so I'm surprised that it ever worked. What does the `aws-auth` `ConfigMap` look like for a cluster with a managed nodegroup where you pass a role with a path (using an earlier version of` eksctl`)?

[2020-12-11 10:00] termlen0 commented on #2014
Shouldn't this be an open issue? Isn't the solution provided above a workaround?

[2020-12-11 10:22] adnan-kamili opened #2925 "Add support for specifying imageGCLowThresholdPercent & imageGCHighThresholdPercent"
Hi,

Is it possible to specify imageGCHighThresholdPercent & imageGCLowThresholdPercent values in the eksctl yaml file?

[2020-12-11 10:28] mkraemer opened #2926 "eksctl create nodegroup fails bc. of missing role"
**What happened?**

I'm running a cluster which contains a single nodegroup and would like to create a second nodegroup in this cluster. `eksctl create nodegroup` fails with reference to a missing role:

[code]

[code]

I'm not sure where the referenced role is supposed to come from, i.e. if it should exist before calling eksctl. The role name seems hard to predict, so I assume eksctl is supposed

[2020-12-11 11:09] michaelbeaumont commented on #2014
@termlen0 The solution is just to delete the `eksctl` stack(s) from the AWS console, not only the EKS cluster.
`eksctl` won't delete the stack(s) in general because it's useful to have to the stack to debug issues and even if it tried, in some cases the stack might still end up in `DELETE_FAILED`.

[2020-12-11 12:19] #2923 closed

[2020-12-11 12:19] aclevername commented on #2923
Fixed in https://github.com/weaveworks/eksctl/pull/2928

[2020-12-11 14:46] ChristopherMotesHalfaker commented on #2847
The path is compressed in the aws-auth config map. The failure happens when cloudformation tries to use the compressed ARN in NodeRole.  We can't pass that through our boundary. Maybe if I give you more insight to our workflow
1. Create/validate required IAM resources
2. Execute cluster build with eksctl
3. configure non-standard resources helm/kubectl
4. configure aws-auth helm/kubectl
5. build n

[2020-12-11 15:17] chainhead opened #2930 "Unable to create managed node group in private subnet."
**What happened?**
Unable to create managed node group in private subnet.

**What did you expect to happen?**
The managed node group and the nodes should be placed in the private subnet.

**How to reproduce it?**
This command does not work. However, the same command works when the `managedNodeGroups` refers to the public subnets i.e. `pub-ap-south-1a`, etc. Yes, the VPC and subnets ID exist.

[cod

[2020-12-11 15:24] michaelbeaumont commented on #2847
The interaction between cloudformation, the role and the boundary is clear. But when I create a managed nodegroup from the console using a role ARN with a path, it ends up pathed in `aws-auth` and the creation fails (which is the reason for #2689).

Are you adding the compressed role ARN to `aws-auth` yourself before creating the managed nodegroup? If so, this will work, although you end up with a

[2020-12-11 15:55] Callisto13 opened #2931 "Make the Provider less powerful"
Adding new things, specifically new things _with tests_ is quite challenging now due to the all powerful Provider.

The Provider contains all AWS interfaces, and is passed around everywhere, meaning that you can pretty much do anything, anywhere in the codebase.

There are few boundaries or tightly scoped components with clear responsibilities delineated by interfaces: nearly everything gets a Pro

[2020-12-11 16:26] Callisto13 commented on #2930
Hi @chainhead could you drop in the failing command output?

[2020-12-11 16:37] ChristopherMotesHalfaker commented on #2847
Yup, we re-write aws-auth after cluster creation and before node creation. It's the only way we could get it to work. We'll need to keep our nodegroup configs separate from the cluster config for routine updates.

[2020-12-11 16:48] michaelbeaumont commented on #2847
@ChristopherMotesHalfaker if we were to fix this by compressing the path ourselves in the config map for managed nodes, would that allow you to skip rewriting `aws-auth` from your workflow?

[2020-12-11 17:04] Callisto13 commented on #2930
Oh hang on, is it:

[code]

[2020-12-11 17:18] ChristopherMotesHalfaker commented on #2847
Probably not. This isn't the only role we control in aws-auth.

[2020-12-11 17:25] chainhead commented on #2930
Even if it were, it isn't applicable to me. Because, I don't want a private cluster.

[2020-12-11 17:27] chainhead commented on #2930
The output of the failing command is as follows.

[code]

[2020-12-11 17:37] chainhead commented on #2930
Right...the command does work when `privateNetworking: true` is provided. Also, `privateNetworking` does not make a cluster private.

_Please, please, please_ improve documentation.

[2020-12-11 21:53] MOZGIII opened #2934 ""eksctl created" status is inverted"
**What happened?**

[code]

Cluster `c` is created via `eksctl`, `a` and `b` are created manually.

**What you expected to happen?**

Expected output:

[code]

**How to reproduce it?**

I guess create clusters manually, and then create them via `eksctl` and try it.

**Anything else we need to know?**
We're using `aws-vault` and MFA. Tested this on Ubuntu 20.04. `eksctl` binary is from the Github R

[2020-12-11 23:50] MOZGIII commented on #2934
Nvm, I got confused.

[2020-12-11 23:50] #2934 closed

[2020-12-12 20:29] PiotrBrzezianski commented on #2690
I had a similar error reported when creating a cluster on fargate using a VPC that didn't have DNS hostnames enabled.
The error was misleading because my pods were actually schedulled successfully (on fargate nodes), but the check is looking for pod's node name starting with "fargate-ip-" while without vpc dns hostnames the name is "fargate-<IP>" which fails the check.

[2020-12-12 20:38] PiotrBrzezianski commented on #1774
My example of quite confusing log was when creating cluster with fargate only nodes:

[ℹ]  "coredns" is now schedulable onto Fargate
[ℹ]  "coredns" is now scheduled onto Fargate
[ℹ]  "coredns" is now scheduled onto Fargate
[ℹ]  "coredns" is now scheduled onto Fargate
[!]  1 error(s) occurred and cluster hasn't been created properly, you may wish to check CloudFormation console
[ℹ]  to cleanup reso

[2020-12-13 16:45] jicowan commented on #2205
+1 I tried to create a cluster with a managed node group and the following IAM policy

[code]

It failed to create the OIDC endpoint, the IAM role, or the node group.  When I removed the addon section, it worked.

[2020-12-13 17:43] michaelbeaumont commented on #2205
Hi @jicowan, thanks for bringing this up! Are you sure that's related to this issue in any way?
If not, can you create a new issue and also include the log output?

[2020-12-14 10:11] #2770 closed

[2020-12-14 10:11] aclevername commented on #2926
Thanks for opening the issue @mkraemer, did you create the cluster using a config file? If so you can please share. If you didn't then do you recall what flags you provided during `eksctl create cluster`? In particular wondering if `--with-oidc` was provided.

When OIDC is enabled users can take advantage of giving [AWS permissions to service accounts](https://eksctl.io/usage/iamserviceaccounts/#h

[2020-12-14 11:49] mkraemer commented on #2926
Thx for looking into this @aclevername :)

The cluster was initialized by `eksctl create cluster --name bi-ec2 --version 1.17 --region eu-central-1`, so OIDC was not explicitely enabled.

However: I tried to configure IAM roles for service accounts at a later date. Among other things, by issuing `eksctl utils associate-iam-oidc-provider --region eu-central-1 --cluster bi-ec2 --approve`. My goal wa

[2020-12-14 12:23] aclevername commented on #2926
It could be related. Running `eksctl utils associate-iam-oidc-provide` enables OIDC, but doesn't invoke the actions I mentioned above about creating a role and annotating the `aws-node`. Did you at any point interact with the `aws-node`? One useful output would be to get the full spec of the `aws-node` service account, so we can see how the annotation got created. Could you please provide the outp

[2020-12-14 13:37] mkraemer commented on #2926
No, never :)

Yeah, sure:

[code]

[2020-12-14 14:14] aclevername commented on #2926
thanks @mkraemer, this all looks fine. I was hoping we might see some managed fields output detailing what annotated the service account 😢   I'm not sure how we could get into this situation. Do you have the logs from when you create the cluster?

A workaround would be to manually create the IAMServiceaccount for the `aws-node` (invoking the action we do during cluster creation when OIDC is enable

[2020-12-14 14:26] sergioteixeiraptc opened #2942 "Update cluster tags"
possible to update cluster tags after creation?

[2020-12-15 03:01] neha-viswanathan commented on #1126
Hello I can pick this up

[2020-12-15 03:33] muram commented on #874
+1, any update on when this feature might be considered for implementation?

[2020-12-15 08:47] qbadx opened #2943 "Cloudformation stack validation error because of underscore in EKS cluster name"
**What happened?**
When executing the following command

[code]

The command crashes with the error message :

[code]

**What you expected to happen?**

Remove any unallowed characters and create the cloudformation stack

**How to reproduce it?**
user a cluster name with an undescore

**Versions**

[code]

**Logs**
 see attached file
[eksctl.log](https://github.com/weaveworks/eksctl/files/5694483/

[2020-12-15 09:02] #2930 closed

[2020-12-15 09:27] cchicote opened #2944 "Generating fully private cluster with managed node groups"
Hey guys
I'm trying to create a fully private cluster with a managed node groups but i can't manage to get it working
Here's the yaml file i use with the command `eksctl create cluster -f <filename>.yaml`
[code]

But i get the error:
[code]

Or i already know that i disabled this option since i want this cluster to be **fully private**
Do you have any idea why i can't generate my managed node grou

[2020-12-15 09:28] aclevername opened #2945 "Unencrypted disk when using bottlerocket and `volumeEncrypted: true`"
**What happened?**
If I create a nodegroup as such:
[code]

and look at the console afterwards, I see that only one of the disks in encrypted
![Screenshot 2020-12-15 at 09 25 54](https://user-images.githubusercontent.com/19669095/102196244-89fe1700-3eb7-11eb-9f79-233eff77114a.png)

**What you expected to happen?**
Both disks to be encrypted

**How to reproduce it?**
`eksctl create cluster -f clust

[2020-12-15 09:50] Callisto13 commented on #1126
Hey @neha-viswanathan sure, go for it!

I think let's have a PR for each action, to make reviewing etc easier 👍

[2020-12-15 11:02] #1099 closed

[2020-12-15 12:31] Callisto13 opened #2946 "Reduce the number of external API calls"
We have recently started to have some API calls throttled (to cloudformation mostly).

Work done as part of https://github.com/weaveworks/eksctl/issues/2174 has likely contributed heavily to this, but it has also been casually noticed that we are perhaps making many more calls than we need to, and this has been made opaque in general code sprawl.

This issue is about optimising our code to keep AP

[2020-12-15 14:00] Callisto13 commented on #2538
Thanks @martina-if for making this so straightforward ❤️

[2020-12-15 14:57] #2538 closed

[2020-12-15 15:59] cchicote opened #2950 "Generating fully private cluster with managed node groups"
Hey guys!
(Already posted this in **kind/bug** but i don't think that it's a bug, i just need help)
I'm trying to create a fully private cluster with a managed node groups but i can't manage to get it working
Here's the yaml file i use with the command `eksctl create cluster -f <filename>.yaml`
[code]
**But i get the error:**
[code]
Or i already know that i disabled this option since i want this c

[2020-12-15 15:59] #2944 closed

[2020-12-15 17:21] Callisto13 commented on #2950
Thanks @cchicote someone will get on this asap 👍 . If it needs recategorising again we will change the labels and save you re-opening 😄

[2020-12-16 11:10] Callisto13 commented on #2908
@nitin3000 This looks like an IAM issue, could you confirm that the user you are operating as has permissions for those SSM resources?

[2020-12-16 12:12] Callisto13 commented on #2942
Hey @sergioteixeiraptc! Currently there is no way to update tags via `eksctl`, but we would be happy to consider this as a feature request 😄

[2020-12-16 21:57] aws-vrnatham opened #2955 "Use the latest neuron device plugin"
**What happened?**
When eksctl is used to create a cluster with inf1 devices and if the latest neuron-sdk is running on container, they don't come up.

**What you expected to happen?**
eksctl is getting a old version of neuron device pluging

**How to reproduce it?**
Create a eks cluster using following command
[code]
The create a application container using instructions from below
https://github.

[2020-12-17 01:26] jcfj opened #2956 "YAML parsing: anchor handling incorrect?: "key already set in map""
**What happened?**
Parsing the following nodegroup specification:
[code]

yields the error

[code]

**What you expected to happen?**
File is parsed as if it were
[code]
(which is the output of `yq --yaml-output .`)

**How to reproduce it?**
Ehm. `eksctl create nodegroup  -f ngfoo.yaml` No existing cluster required.

**Anything else we need to know?**
I know nothing. Specifically, I don't know the

[2020-12-17 09:45] Callisto13 commented on #2956
Thanks @jcfj! This is likely a shortcoming of [sigs.k8s.io/yaml](https://github.com/kubernetes-sigs/yaml).

[2020-12-17 09:52] #2956 closed

[2020-12-17 10:02] jcfj commented on #2956
Should I report it there? Or is anyone else going to? I haven't really used go yet, so coming up with a reproducer might be a bit tedious for me.

[2020-12-17 11:33] Callisto13 commented on #2956
You can use this if you want https://github.com/Callisto13/yaml-repro

[2020-12-17 13:11] mkraemer commented on #2926
Sorry for the delay and again thanks for your help @aclevername :)

Unfortunately not :(

[code]

I tried the following:

[code]

It seems no action was performed, right? And indeed creating the nodegroup still fails:

[code]

[2020-12-17 13:55] aclevername commented on #2926
thanks @mkraemer

Thats a really interesting response. So the fix didn't work because a cloudformation stack exists called `eksctl-bi-ec2-addon-iamserviceaccount-kube-system-aws-node`. I had assumed this didn't exist because if it does exist the role should exist, then we wouldn't be in this situation 😁

Can you please provide the output from the following:
`aws cloudformation describe-stacks --re

[2020-12-17 14:58] #2945 closed

[2020-12-17 15:27] cchicote commented on #2950
I found a solution:
I didn't know but both of the routing tables i was allowed to use contained IGW (internet gateways) which means that both of the subnets i created (linked with these routing tables) were public subnets
(https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Internet_Gateway.html)
So i had to create a new routing table, which contained no IGW, so both of the subnets were now consi

[2020-12-17 15:27] #2950 closed

[2020-12-17 16:20] reegnz opened #2960 "nodeboostrap should support changes to docker cgroups config"
**Why do you want this feature?**
The EKS AMI should move to using systemd cgroup instead of cgroupfs. See https://github.com/awslabs/amazon-eks-ami/pull/521 for details. That change was reverted in https://github.com/awslabs/amazon-eks-ami/pull/587 because apparently eksctl nodebootsrap cannot handle docker daemon config changes.

**What feature/behavior/change do you want?**
eksctl should suppor

[2020-12-17 17:15] CameronMcAuley opened #2961 "How to attach additional existing security groups to EKS cluster?"
When creating an EKS cluster via CloudFormation, I can provide an existing security group which is then displayed in `Additional Security Groups` on the AWS Console as the security group used by the **control plane**:

[code]

However, I can not see any documentation on how this is done with eksctl. The only 'security group' related argument that I can give is `nodegroup-security-groups`, which di

[2020-12-17 17:35] rdubya16 commented on #1497
@michaelbeaumont Is there another issue to follow for this? We will soon be managing 50ish clusters with eksctl and its a huge pain to rollout iam permissions changes to all of them currently in a consistent manner. We can use CI to validate our eksctl values files but its currently impossible to verify if they are insync with cloudformation without checking manually. This feature is badly needed

[2020-12-17 17:38] Callisto13 opened #2963 "Eksctl gitops v1 deprecation"
### What is this?
The `eksctl` tool provides users a handy way to [set up gitops](https://eksctl.io/usage/gitops/) in their cluster with  the`eksctl enable repo` command.

[Flux v1](https://docs.fluxcd.io/en/1.21.0/) (the gitops mechanism deployed into clusters by `eksctl`) has been [in maintenance mode](https://github.com/fluxcd/flux/issues/3320) since October 2020, and the team have been working

[2020-12-17 18:07] Callisto13 opened #2964 "Flux v2 enable repo integration"
**Why do you want this feature?**
[Flux v2](https://fluxcd.io/) (Gitops Toolkit) is 🔥 🔥  and very close to [replacing v1](https://github.com/fluxcd/flux/issues/3320).

**What feature/behaviour/change do you want?**
There should be way to opt-in to bootstrap a v2 repo when I run `eksctl enable repo`.

I am not sure that we will be able to use the existing flags/config opts which is a bit of a pain:

[2020-12-18 01:05] jcfj commented on #2956
Wow, thanks a lot.
https://github.com/kubernetes-sigs/yaml/issues/46

[2020-12-18 09:45] mkraemer commented on #2926
Sure thing :)

[code]

[2020-12-18 09:55] aclevername commented on #2926
thanks @mkraemer . That looks to me as if the stack is healthy and the role exists. Are you sure you can't find `eksctl-bi-ec2-addon-iamserviceaccount-kube-s-Role1-1N805VO9LVQKL` in your list of roles?

If it doesn't exist then it looks like somehow the role got deleted, to rectify this I believe you should be good to delete the stack and then re-attempt this solution

[2020-12-18 10:04] Callisto13 commented on #2943
Thanks for reporting this @qbadx. We are very happy to accept a PR if you don't want to wait for a fix 😃

[2020-12-18 10:10] martina-if commented on #1017
Are there any plans to work on this? :)

[2020-12-18 11:40] Callisto13 opened #2965 "Getting clusters should show status"
**Why do you want this feature?**
Actions on clusters sometimes take a long time to process. For example, when a `delete cluster` command has returned, the cluster is still visible for a while in `get clusters` this can be confusing.

**What feature/behavior/change do you want?**

It would be nice to see the status in that output. I am cautious about adding things to what is intended to be a conci

[2020-12-18 12:09] #2960 closed

[2020-12-18 12:13] #2809 closed

[2020-12-18 12:13] #2811 closed

[2020-12-18 12:17] Callisto13 opened #2966 "Mark gitops v1 things as deprecated"
As part of https://github.com/weaveworks/eksctl/issues/2963 we need to ensure users see a warning when they try to use v1 gitops. (enable repo, generate, and anything to do with quickstart profiles)

Makes sense to do this after https://github.com/weaveworks/eksctl/issues/2964 is implemented maybe 🤷‍♀️

[2020-12-18 12:40] Callisto13 commented on #1211
Closing due to https://github.com/weaveworks/eksctl/issues/2963

[2020-12-18 12:40] #1211 closed

[2020-12-18 12:42] Callisto13 commented on #1213
Closing due to https://github.com/weaveworks/eksctl/issues/2963

[2020-12-18 12:42] #1213 closed

[2020-12-18 12:52] Callisto13 commented on #1327
Closing due to https://github.com/weaveworks/eksctl/issues/2963

[2020-12-18 12:52] #1327 closed

[2020-12-18 12:52] Callisto13 commented on #1533
Closing due to https://github.com/weaveworks/eksctl/issues/2963

[2020-12-18 12:52] #1533 closed

[2020-12-18 12:59] Callisto13 commented on #1725
Closing due to https://github.com/weaveworks/eksctl/issues/2963

[2020-12-18 12:59] #1725 closed

[2020-12-18 13:00] Callisto13 commented on #2262
Closing due to https://github.com/weaveworks/eksctl/issues/2963

[2020-12-18 13:00] #2262 closed

[2020-12-18 13:06] Callisto13 commented on #1534
I agree with martina's point, but also see the value in letting users know what it will take to have that repo "work" in their cluster.

Point 2.ii seems to be the right move.

We should let the `enable profile` command succeed and print a clear warning about `enable repo`

[2020-12-18 13:07] Callisto13 commented on #1323
Closing due to staleness

[2020-12-18 13:07] #1323 closed

[2020-12-18 13:11] Callisto13 commented on #1538
Still an issue, different complaint:

[code]

[2020-12-18 13:13] Callisto13 commented on #2666
Closing due to https://github.com/weaveworks/eksctl/issues/2963

[2020-12-18 13:13] #2666 closed

[2020-12-18 13:58] aclevername commented on #2931
## What is the provider?

The `ClusterProvider` is an [inteface](https://github.com/weaveworks/eksctl/blob/d64049cc2da36edd0a99099ad1065562fcdc38c2/pkg/apis/eksctl.io/v1alpha5/types.go#L517-L532)
[code]

The interface prescribes a powerful struct that provides the ability to interact with various AWS apis, e.g. `CloudFormation` and `EKS`.

## Whats wrong with it?

### Used too widely
We pass a str

[2020-12-18 14:09] Callisto13 commented on #2931
Would this be like a wrapper around each external API, the interface for which can then be passed to packages which need it? Or do you mean that each package would define its own version of the interface it needs? I'm guessing the first but would like to clarify.

[2020-12-18 14:21] aclevername commented on #2931
I think the first is the easiest, but the second is the nicest in that its lets you right even smaller interfaces, but its probably not worth the cost of constantly rewriting.

[2020-12-18 14:24] #2882 closed

[2020-12-18 14:31] Callisto13 commented on #2931
Yeh I think the second may also end up being a bit confusing: lots of partially duplicated interfaces all over the shop.

[2020-12-18 14:47] mkraemer commented on #2926
It's definitely not listed in the IAM console. Should it be listed here? I'm seeing a similarly named role though: `eksctl-bi-ec2-addon-iamserviceaccount-defaul-Role1-SJMQHXEX5EE4`. Besides that, two other roles prefixed w/ `eksctl`: `eksctl-bi-ec2-cluster-ServiceRole-ACRHIG6ME2YL` and `eksctl-bi-ec2-nodegroup-ng-4a670a-NodeInstanceRole-7Y6OJ341MVIK*`.

*But:* I just noticed it's listed the cloudf

[2020-12-18 15:11] aclevername commented on #2926
Definitely sounds like somehow this role was deleted, and thats the cause of the create nodegroup problem

The stack `eksctl-bi-ec2-addon-iamserviceaccount-kube-system-aws-node` is only responsible for creating this role, so if the role doesn't exist deleting this stack should have no effective on anything else 😄

[2020-12-18 15:53] Callisto13 opened #2967 "weaveworks/eksctl latest image tag is not up to date"
`weaveworks/eksctl:latest` Docker image is a couple of years out of date.

We should ensure that when we create a new build we tag and push a new `latest` as well as the version.

[2020-12-18 16:30] dragonraid opened #2968 "Creating/Deleting custom iamserviceaccount creates/deletes aws-node service account as well"
**What happened?**
Custom IAM service account is created. Upon it's creation `kube-system/aws-node` is created as well.
Upon it's deletion, the `kube-system/aws-node` IAM service account is also deleted.

**What you expected to happen?**
Only custom service account to be created/deleted.

**How to reproduce it?**
[code]

**Anything else we need to know?**
OS: macOS
Installed via homebrew.
I am usi

[2020-12-18 16:48] michaelbeaumont commented on #2968
Duplicate of https://github.com/weaveworks/eksctl/issues/2916

[2020-12-18 16:48] michaelbeaumont commented on #2968
Fixed by https://github.com/weaveworks/eksctl/pull/2917, will be in next release

[2020-12-18 16:48] #2968 closed

[2020-12-18 22:11] qbadx commented on #2943
Hello @Callisto13 , I really would like to do so but I don't know go :-(

In the meantime, I created a new cluster without an underscore in the name  and it worked fine .

Thanks for this amazing work you guys are doing !

[ℹ]  eksctl version 0.34.0
[ℹ]  using region eu-central-1
[ℹ]  2 iamserviceaccounts (kube-system/aws-load-balancer-controller, kube-system/aws-node) were included (based on the

[2020-12-19 00:43] tahirali-endurance opened #2970 "Updating control plane version when not specified"
**What happened?**
Updating the control plan version when not asked. The update stucks and does not complete.

**What you expected to happen?**
Control plane version is not upgraded when not asked.

**How to reproduce it?**
[code]

[code]

**Anything else we need to know?**
This is the output where it stucks

[code]
$ eksctl version
0.34.0
$ kubectl version
v1.20.1
[code]

[2020-12-19 05:26] whereisaaron commented on #2970
Hi! Upgrading the control plane is what `eksctl update` does. It is actually the only thing it does. It has been renamed `eksctl upgrade` to avoid the confusion that several people had. To change anything else there are different commands.

https://eksctl.io/usage/cluster-upgrade/

[2020-12-19 13:24] amcginlay opened #2971 "Could you please expose EksAllAccess and IamLimitedAccess policies as individually accessible source files"
I would like this feature so we can curl the latest version of these documents, apply the <account_id> replacements and call `aws iam create-policy` action from a simple script.

Currently it would appear that these documents are only available as sub-portions of the markdown here:
https://raw.githubusercontent.com/weaveworks/eksctl/master/userdocs/src/usage/minimum-iam-policies.md

Thanks in adva

[2020-12-19 16:53] tahirali-endurance commented on #2970
Thanks for clarification. Even if it is updating, any reason it gets stuck in control plane update.

[2020-12-20 08:32] whereisaaron commented on #2970
Sorry, I don't know what the getting stuck bit is. I don't see that. But note that a control plane upgrade can easily take 30+ minutes, and the `update`/`upgrade` command waits/blocks until the process completes.

[2020-12-20 15:57] hvydya commented on #2965
Hi I worked on a similar feature before (getting fargate profile statuses). I'd like to work on this. Can you assign it to me?

[2020-12-21 09:12] hvydya commented on #2967
Hi! I'm not really sure how the release of this repo works, but I think this might do the trick.

In `Makefile.docker`:
[code]

But if someone builds an older version (maybe for hotfixing) then that gets tagged as `latest`. Let me know your thoughts on this 👍 .

[2020-12-21 09:38] Callisto13 commented on #2965
👍 all yours @hvydya

[2020-12-21 10:15] Callisto13 commented on #2967
Thanks @hvydya !

[2020-12-21 10:44] aclevername commented on #2961
Hey @CameronMcAuley

I think we are lacking some docs on this, I do apologise and I will take an action to improve them. The `nodegroup-security-groups` attaches additional security groups to the nodegroup, so new security groups will still be created and used along side the ones provided. It also appears that this functionality is only supported for managed nodegroups, which is why you wouldn't o

[2020-12-21 11:02] Callisto13 commented on #2925
Hey @adnan-kamili, thanks for opening this feature request. Ideally this could be implemented in a way that would allow users to pass arbitrary args to the kubelet, rather than by specific flags (that could get out of hand the more we add).

Feel free to submit a PR if you would like to pick this up yourself!

[2020-12-21 11:14] Callisto13 commented on #2919
Hey @limai-msk, is this what you had in mind? https://github.com/weaveworks/eksctl/pull/2863

[2020-12-21 11:23] Callisto13 commented on #2848
Thanks for reporting this @nsaud01, we will look into it. If you come up with a fix in the meantime, we are happy to accept PRs 😄

[2020-12-21 11:24] Callisto13 commented on #2970
Closing this as the behaviour is expected. The hanging has been reported in https://github.com/weaveworks/eksctl/issues/2848

[2020-12-21 11:24] #2970 closed

[2020-12-21 11:48] Callisto13 commented on #2921
Hey @shkreios. Could you send us the full output of that command (verbosity set to 5 is fine)?

[2020-12-21 11:56] Callisto13 opened #2980 "Better error messages when region not set"
**Why do you want this feature?**
Currently when you run various commands and forget to set the `--region` flag, the error is quite unhelpful

Example command:
[code]

**What feature/behavior/change do you want?**
It would be nice to wrap some of these errors with either:

a) a hint to try again with the region set
b) more elaborate error: `No cluster found for name: foo in region: <region>`

[2020-12-21 11:57] Callisto13 commented on #2883
Thanks @todd-dsm , I think we could also do with some better error messages in general when resources are not found. https://github.com/weaveworks/eksctl/issues/2980

[2020-12-21 17:02] jrake-revelant commented on #813
is there any plan to work on this topic or anyone actively working on it?

[2020-12-21 17:37] limai-msk commented on #2919
Hi @Callisto13 , thanks for reaching out.

Unfortunately not. #2863 Seems to be related to [Service Accounts](https://eksctl.io/usage/iamserviceaccounts/). I'm more interested in being able to control the name of the IAM Role used to manage the EKS cluster itself.

[In this example](https://eksctl.io/examples/reusing-iam-and-vpc/) I am able to overwrite the cluster role using an ARN, which means I

[2020-12-21 20:57] todd-dsm opened #2981 "make withAddonPolicies reusable"
This is an RFE (Request For Enhancement): individual `withAddonPolicies` should be reusable; example:

I've added ExternalDNS to a cluster with:
[code]

At this point `eksctl` has authorized the nodes. Now the [xdns docs] require the deployment to be configured witth the ARN.
[code]

At this point there are only few paths open:
1. use the ARN (created by `eksctl`) for the node: seems a bit much as

[2020-12-21 22:45] shkreios commented on #2921
Hey @Callisto13. Is there an easy way to remove confidential information from the output?
Thank you for your response.

[2020-12-22 11:29] mkraemer commented on #2926
Manually deleting the stack and recreating it via `eksctl create iamserviceaccount --override-existing-serviceaccounts --name aws-node --namespace kube-system --attach-policy-arn arn:aws:iam::aws:policy/AmazonEKS_CNI_Policy --cluster bi-ec2 --approve` indeed solved the issue. `eksctl create nodegroup` now works without issue.

Thank you very much for your help @aclevername :heart:

[2020-12-22 11:29] #2926 closed

[2020-12-22 11:46] Jboulery opened #2982 "Cloudwatch not deployed on GPU nodes"
Hello, thanks for your work first of all.

I was trying to deploy CloudWatch in my EKS cluster and basically followed what's on [the quick start guide](https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/Container-Insights-setup-EKS-quickstart.html).

Result is that I do get some metrics in CloudWatch, but all resources related to nodes which have a GPU are missing.

After a quick check

[2020-12-22 15:00] aclevername commented on #2982
Hey @Jboulery, thanks for opening the issue!

I think you are correct that the taints are causing this problem, you need to add a toleration to the daemonsets to allow `fluentd` and `cloudwatch` to schedule onto the tainted nodes. The [daemonset docs have an example of adding a toleration](https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/). Hope that helps 😄

[2020-12-22 19:24] mbevc1 opened #2983 "Can't see workloads or nodes and receive an error in the AWS Management Console"
**What happened?**
When deploying a default cluster it doesn't provide access to workloads insight in AWS mgmt console.

**What you expected to happen?**
Using IAM user which deployed cluster, I should be able to see workload in the console.

**How to reproduce it?**
```eksctl create cluster -f x.yaml```
[code]

**Versions**
Please paste in the output of these commands:
[code]

[2020-12-22 23:28] damerakd opened #2984 "EKS Fargate with VPC DNS Hostnames disabled not working using eksctl"
**What happened?**
Hello, trying to create a fargate cluster using eksctl where VPC has DNS Hostnames set to Disabled

**What you expected to happen?**
Cluster to be successfully created

**How to reproduce it?**

[code]
----

**Versions**
Please paste in the output of these commands:
[code]

[code]

Error looks to be coming from [1], which if we follow will call the methods `IsScheduledOnFargate(

[2020-12-23 05:40] bienchu commented on #807
@infa-ddeore Until EKS is officially supported in CloudFormation, you may need to write a custom resource and use it to import existing EKS cluster and return its attributes so that other resources can refer to them

[2020-12-23 10:36] Jboulery commented on #2982
That was it indeed :) Thanks for the link, I added:
[code]
to the two daemonsets that are parts of the config file and it worked.

[2020-12-23 10:36] #2982 closed

[2020-12-23 10:45] mbevc1 commented on #2983
After some testing, seems only works with roles and not users. Might be upstream issue :thinking:

[2020-12-23 16:55] gjtempleton opened #2986 "Allow disabling of eksctl management of cluster DNS"
**Why do you want this feature?**

We currently use a heavily customised deployment of CoreDNS with significant differences to the eksctl deployed configuration in our clusters. Rather than having to either forcibly delete the eksctl deployed coredns components before deploying our own and ensuring that we perform this after every eksctl upgrade action we'd rather be able to specify in the cluster

[2020-12-24 03:27] pradeepnnv commented on #2980
I would like to work on this issue.

[2020-12-24 06:12] hvydya commented on #2965
Hey! I've got a solution. But I'm not sure if it's the best way to do it. I've described my idea below.

Basically I'm adding cluster status information in the cluster metadata i.e `ClusterMeta`. So to add that information for describing multiple clusters, I fetch the cluster info for each cluster using `clusterName` from AWS and use the status information from it. The code would be like this (in

[2020-12-24 09:13] Callisto13 commented on #2980
Go for it @pradeepnnv  👍

[2020-12-24 12:09] jags06 commented on #1482
This issue still persist with cluster file.  waited for hours and hours
➜  amazon-web-services-linux-operations-master eksctl create cluster -f cluster.yaml

[ℹ]  eksctl version 0.35.0
[ℹ]  using region eu-west-2
[✔]  using existing VPC (vpc-00440b4e5xxxxxx) and subnets (private:[subnet-xxxxxxxxx subnet-xxxxxxxsubnet-xxxxxxxx] public:[])
[!]  custom VPC/subnets will be used; if resulting cluster d

[2020-12-24 18:57] pradeepnnv opened #2988 "make install-build-deps fails"
**What happened?**
When executing `make install-build-deps`, it failed with below error message.

[code]

**What you expected to happen?**
Make command should've completed successfully.

**How to reproduce it?**
Checkout master branch and execute `make install-build-deps` command.

**Anything else we need to know?**
N/A

[2020-12-25 00:02] pradeepnnv commented on #2980
@Callisto13 , the error message "No cluster found for name: foo." is from AWS EKS API.

So I submitted a PR to update the error message in DescribeControlPlace function to include the region.

Btw, region is defaulting to us-west-2 if not set. Please review and let me know if any changes are required.

[2020-12-25 11:44] kun432 commented on #1838
I tried eksctl v0.35.0 and got same the result. (To enable, I had to ssh each node, add kubelet's systemd unit file, and restart kubelet.)

This issue has already been closed but seems there's a note here about how-to-fix-manually only.

no fix anymore?

[2020-12-28 08:04] ArturChe opened #2997 "The timeout error appeared during EKS update from 1.17 to 1.18 on v 0.35.0"
**What happened?**
The timeout error appeared during EKS update from 1.17 to 1.18

**What you expected to happen?**
The cluster and unmanaged node group updated without error.

**How to reproduce it?**
Run `eksctl upgrade cluster` command

**Anything else we need to know?**
The EKS cluster version has been updated, but the unmanaged node group does not.

**Versions**
Please paste in the output of

[2020-12-28 09:36] DanielAmmar commented on #1565
btw, I don't know if it is related but i'm getting cryptic error message when running eksctl (using sso profile):
`eksctl get clusters --verbose=4`

`
2020-12-28T11:28:01+02:00 [!]  retryable error (RequestError: send request failed
caused by: Put "http://169.254.169.254/latest/api/token": context deadline exceeded (Client.Timeout exceeded while awaiting headers)) from ec2metadata/GetToken - will

[2020-12-29 04:54] bitva77 commented on #1565
@DanielAmmar yeah I get that when using credentials from an `aws configure sso` but when I use the creds copied from a browser console login, it works fine with eksctl.

No idea what the difference could possibly be

[2020-12-29 09:11] Callisto13 commented on #2919
Aaah yep that makes sense 👍

[2020-12-29 09:18] Callisto13 commented on #2921
Afraid I don't know of the top of my head... although having a "redacted" option sounds like a neat feature for a logger 🤔

Perhaps some folks in the channel would have an idea of a quick way to do this?

[2020-12-29 09:23] Callisto13 commented on #2965
Hmmm yeh we are trying to avoid adding doing more external API calls than we absolutely need to (https://github.com/weaveworks/eksctl/issues/2946).

I'll have a think about how else we can do this, or whether it is worth doing at all 🤔

Thanks @hvydya

[2020-12-29 09:31] Callisto13 commented on #2980
Thanks @pradeepnnv

Makes sense.

Indeed, hopefully we can help out people who do not know/forget this so they do not waste time debugging. 👍

[2020-12-29 09:34] shkreios commented on #2921
Hey @Callisto13 I tried to clean up the log file manually. The only things I deleted or obfuscated were:

- aws access key id
- account id
- specific company names

and since the ouput also contained a listing of all CloudFormation stacks, I deleted the non-ekstctl stack from the log.

[Gist](https://gist.github.com/shkreios/d7f41ec1ea0035b1cdde160c36e6fe16)

I hope I did not delete anything you n

[2020-12-29 11:30] Callisto13 commented on #2984
Thanks for reporting @damerakd 👍

We are happy to accept PRs if you want to submit a fix 😃

[2020-12-29 11:32] Callisto13 commented on #2981
Thanks for opening @todd-dsm, this would be good to have 👍

We are happy to accept PRs if you're up for submitting a fix 😃  otherwise the core team will get to it in the near future.

[2020-12-29 11:38] Callisto13 commented on #2983
Thanks for reporting @mbevc1 👍

Yes I believe that this access is done via role by design. Could you check to see which role you used to sign in/set credentials on the CLI?

[2020-12-29 11:44] Callisto13 commented on #2997
Thanks for reporting @ArturChe 👍

Something very similar (likely the same thing) has been reported here https://github.com/weaveworks/eksctl/issues/2848 so I will close this as a dupe. Please reopen if you discover more information which indicates this is something different.

[2020-12-29 11:44] #2997 closed

[2020-12-29 11:45] #2261 closed

[2020-12-29 11:54] Callisto13 commented on #2986
Thanks for this request @gjtempleton 👍

If you would like to implement this yourself, we are happy to accept PRs, otherwise the team will work on this in the near future 😃

[2020-12-29 11:59] Callisto13 opened #2998 "EC2 Instance Selector Integration"
AWS' [instance selector](https://github.com/aws/amazon-ec2-instance-selector) tool is pretty neat, let's see how we can use it as part of of eksctl.

First deliverable is a proposal PR into `docs/`

[2020-12-29 15:33] Callisto13 commented on #2633
Hey @mhr3 could you confirm precisely which steps you took to deploy the controller? Were you running the commands in that doc, or just `eksctl` with those 2 flags? `--alb-ingress-access` does not deploy the controller to the cluster.

The ALB ingress controller is now deprecated, the new AWS Load Balancer Controller docs can be found [here](https://docs.aws.amazon.com/eks/latest/userguide/aws-loa

[2020-12-29 15:59] mhr3 commented on #2633
I was only running eksctl.

[2020-12-29 16:14] Callisto13 commented on #2633
Okay cool 😃

Could you try following the [load balancer controller docs](https://docs.aws.amazon.com/eks/latest/userguide/aws-load-balancer-controller.html) and let me know how that works for you?

The `--alb-ingress-access` flag (or `albIngress` in the config file) will just assign the correct policy to the node's role to allow the controller to work. It wont deploy the controller. That flag is r

[2020-12-29 17:33] Callisto13 commented on #2921
Thanks @shkreios. I have a very vague theory of what may be going on, but it will be fiddly to reproduce. I will get back to you when I have something 👍

[2020-12-29 17:47] mbevc1 commented on #2983
Well, initially tried with IAM user having Administrator policy and secondly same with IAM role.

[2020-12-29 23:10] damerakd commented on #2984
Hello @Callisto13 ,

I successfully tested in my local and it is working as expected after modifying the above line.

Local Test Output:

[ℹ]  eksctl version 0.36.0-dev+454dd39f.2020-12-29T17:00:02Z
[ℹ]  using region eu-west-1
[✔]  using existing VPC (vpc-0660464f0bc129d0d) and subnets (private:[subnet-0b8fb6e05b50f9e11 subnet-034a66e87e6168489] public:[subnet-0c8d6457af3d4918d subnet-0cbcfbd7ace5

[2020-12-30 09:06] Callisto13 commented on #2984
🎉 amazing, thanks!

[2020-12-30 09:53] Callisto13 commented on #2983
Okay, you should be able to use the same User+Admin Policy or Role+policy which you created your cluster with to see it in the console.

Can you verify that you can see your cluster on the cli with `eksctl get cluster --name <name> --region <region>`?

[2020-12-30 10:10] Callisto13 opened #3000 "Add rebase github action"
I really dislike the `Update branch` button on PRs. It leaves us with a really messy commit history.

Apparently this is a common complaint: https://github.com/isaacs/github/issues/88 and https://github.com/isaacs/github/issues/1113#issuecomment-403930749

Also the `Update branch` is not accessible to the person who owns the PR.. not that I really want anyone clicking it.

What do we think about a

[2020-12-30 10:39] Callisto13 commented on #2971
Thanks for this request @amcginlay 👍

We are happy to accept PRs if you would like to work on this 😄  otherwise the team will get to this after the holidays.

[2020-12-30 11:13] Callisto13 opened #3001 "Integration tests cannot be run by community"
Several values are hardcoded with things only weaveworks team-members have access to ([eg](https://github.com/weaveworks/eksctl/blob/master/integration/utilities/git/git.go#L12-L16)) with no option to configure them.

Deliverable: someone can run the integration tests with no core-team powers.

[2020-12-30 11:53] dbluxo opened #3002 "Creation of managed nodegroups with a custom ami failed"
Hi,

I wanted to set up an EKS cluster with managed nodegroups and a custom AMI. I have proceeded according to your [example](https://github.com/weaveworks/eksctl/blob/0.35.0/examples/15-managed-nodes.yaml). Thereby I discovered a bug in the documentation. The `bootstrap.sh` script expects the cluster name as parameter, not the nodegroup name:

[code]

So in the [example](https://github.com/weavew

[2020-12-30 12:07] Callisto13 commented on #3002
Thanks for catching this @dbluxo 👍

If you want to submit a fix we are happy to accept PRs 😄

[2020-12-30 13:00] #3002 closed

[2020-12-30 17:05] Callisto13 opened #3004 "Write testing strategy doc"
There is one that exists in a private google doc, let's get it out where everyone can see it.

[2020-12-30 17:45] DanielAmmar opened #3005 "kubelet.yaml set cgroupDriver: systemd instead of cgroupDriver: cgroupfs in AL2-GPU instances"
**What happened?**
launch unmanaged node group with p3.2xlarge gpu (ami-0f23f1b20f58cc97f)
however it failed to start -
[code]
error message:
`failed to run Kubelet: misconfiguration: kubelet cgroup driver: "systemd" is different from docker cgroup driver: "cgroupfs`

`cat /etc/eksctl/kubelet.yaml` points that `cgroupDriver: systemd` however I suspect it should be `cgroupDriver: cgroupfs`

docker

[2020-12-30 20:47] dbluxo opened #3006 "How to upgrade managed nodegroups with custom AMIs?"
Hi,

I have created an EKS cluster with managed nodegroups and custom AMIs via a config file.
If I want to upgrade the managed nodegroups now to a new custom AMI, how would I do that?

Example, the cluster was created as follows (simplified):

[code]

Now I have an updated configuration (with new AMI IDs):

[code]

Intuitively I would just like to trigger the upgrade to the new AMI by following: `

[2020-12-30 22:20] EngHabu commented on #1251
Same here...
[code]

[2020-12-31 09:14] DanielAmmar commented on #3005
A temporary solution I did it to add the following lines to the ClusterConfig yaml file only in GPU node groups:
[code]

[2020-12-31 09:36] Callisto13 commented on #3006
Hi @dbluxo thanks for asking!

The `upgrade` command will _only_ upgrade the version of something. I'm afraid our config is not very smart: it only looks at the `name` of nodegroups, it doesn't pick up the diff of all the fields. Hopefully this is something which will be solved as part of the work done in https://github.com/weaveworks/eksctl/issues/2774, but until then yes, you will have to create

[2020-12-31 09:36] #3006 closed

[2020-12-31 13:15] Callisto13 commented on #3005
After some digging here is what's going on:

- The reasons for setting the `cgroupDriver` to `systemd` given in https://github.com/weaveworks/eksctl/pull/2962 are valid, so we do want to do that for all instance types.
- That PR added some config-writing in `/etc/eksctl/kubelet.yaml` and `/etc/docker/daemon.json` which ensured that both the kubelet and the docker daemon both start with the same dr

[2020-12-31 21:01] HTMLGuyLLC commented on #321
Was working fine, now it doesn't and I get `An error occurred (InvalidClientTokenId) when calling the GetCallerIdentity operation: The security token included in the request is invalid.`. So frustrating after trying a million things to fix it.

[2021-01-02 13:57] srfaytkn opened #3008 "Add taint without yaml"
Hello, how can I add `taints` when creating a nodegroup with `eksctl create nodegroup ...`?

[2021-01-02 14:35] ajinkya933 opened #3009 "How to correctly add GPU node group to existing Cluster"
**What help do you need?**
Describe the type of help you need.
Please include your config, removing any sensitive information, or exact commands you're using.

Hello,

I have a cluster on AWS with autoscaler enabled, under this cluster I have one nodegroup the following yaml file summarizes my cluster info:

[code]

The instance That I use for above nodegroup is a CPU instance. I want to add a GPU

[2021-01-03 11:44] mbevc1 commented on #2983
Yup, I can see cluster created in both cases :+1:

[2021-01-04 03:12] arjun921 commented on #3009
If `eksctl get nodegroup` doesn't show your new GPU nodegroup, changes didn't reflect.

Try this --

Add the new nodegroup to the file originally used for creating the cluster.
and try runing this command
[code]

After that works, if you're not using this already, you'll need this
https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/#example-use-cases

To run a workload spe

[2021-01-04 07:38] jalaziz opened #3015 "Add option to add cluster ingress rules to custom security groups"
**Why do you want this feature?**

eksctl already supports using existing security groups and IAM roles. This is great because we have a strict naming convention and this feature allows me to create the resources that cannot be changed after the cluster is created.

However, there are two security group ingress rules that eksctl normally creates that require the EKS cluster to be created first. Th

[2021-01-04 08:22] i757 opened #3016 "create cluster error"
I used the command "eksctl create cluster --name=lxz --region=us-west-2" to create cluster,
but the information printed is as follows：

[code]

[2021-01-04 08:55] DanielAmmar commented on #3009
i guess you're missing the tags to discover your node by k8s
try adding this to your yaml file (replace CLUSTER_NAME) :
[code]
I'll also recommend to add the 'accelerator' tag to manually advertise the GPU resource to the cluster

[2021-01-04 09:12] DanielAmmar commented on #3016
Can you try to `aws sts get-caller-identity` & `aws sts assume-role --role-arn...`?

Are you using SSO? if yes, I had a similar issue with eksctl and I solved it using aws2-wrap
try installing `pip install aws2-wrap==1.1.4` and running the same command with `aws2-wrap`

[2021-01-04 09:27] gjtempleton commented on #2986
Hi @Callisto13,

Thanks for the response, I'll see whether I can come up with a PR to add this functionality.

[2021-01-04 09:29] Callisto13 commented on #3008
Hi @srfaytkn, thanks for asking.

You can add `taints` in the nodegroup config. See schema [here](https://eksctl.io/usage/schema/#nodeGroups-taints) and example file [here](https://github.com/weaveworks/eksctl/blob/master/examples/05-advanced-nodegroups.yaml#L58).

[2021-01-04 09:29] #3008 closed

[2021-01-04 09:31] Callisto13 commented on #3000
wdyt @weaveworks/eksctl-reviewers ?

[2021-01-04 09:42] aclevername commented on #3000
I don't have any strong preferences either way 😄

[2021-01-04 09:42] michaelbeaumont commented on #3000
I'm fine with it but I think we should be squash + merging PRs anyway so I don't think this should affect the history very much either way

[2021-01-04 09:56] Callisto13 commented on #3000
🤔  alright let's talk about enforcing that as a policy. I am concerned that it will lead to large commits which make debugging/bisecting harder in the future.

[2021-01-04 10:02] Callisto13 commented on #2983
If you are able to see the cluster on the command line, then it sounds like `eksctl` is not the issue here. Likely you need to ensure that you are using the correct policies/role when you access the console, or there is indeed a problem upstream.

[2021-01-04 10:02] #2983 closed

[2021-01-04 10:17] michaelbeaumont commented on #2944
For others, the solution is to ensure that the subnets are indeed private by making sure they do not include an internet gateway (IGW) in their route table.

[2021-01-04 10:18] aclevername commented on #2848
Annoyingly `1.14` is now deprecated so we can't reproduce this issue. However I do think this points out an issue in `eksctl` that sometimes we don't provide any output while a command is running, so you don't know if its hanging or not. Printing some output to indicate 1. eksctl has not handled 2. what the state of the world (e.g. cluster status) would help a lot in scenarios like this. Something

[2021-01-04 10:22] Callisto13 commented on #3015
Thanks @jalaziz, this improvement makes sense to me.

If you want to PR something, that would be great 😃 . If not (or you end up not having time) let me know and the core team will handle it in the near future.

[2021-01-04 10:28] Callisto13 commented on #3008
Ah sorry just saw you specifically said in your title **without yaml** 🤦‍♀️  my bad!

Taints cannot currently be set on the command line, which was a deliberate decision by the maintainers at the time https://github.com/weaveworks/eksctl/pull/1887.

As we a moving to a "config first", and perhaps a "config only" strategy, we are trying not to add any new flags at this time.

[2021-01-04 10:49] #3005 closed

[2021-01-04 10:55] Callisto13 opened #3017 "Remove GPU cgroupdriver hack"
Once AWS is building accelerated AMIs with the cgroupdriver set to `systemd` by default, we can remove the hack [here](https://github.com/weaveworks/eksctl/blob/b7cda371466d29c36723d1566e06aa82710bb946/pkg/nodebootstrap/userdata_al2.go#L86-L92).

[2021-01-04 12:50] Callisto13 commented on #1235
Closing: https://github.com/weaveworks/eksctl/issues/2963

[2021-01-04 12:50] #1235 closed

[2021-01-04 14:33] bass4 opened #3021 "Creating Managed NodeGroup creates 2 LaunchTemplates strangely configured"
i am creating a managed nodegroup but i end up with one auto-scaling group and 2 LaunchTemplates. The 'working' template attached to the auto-scaling group is not seen properly by EKS (at least in the console) and the 'incomplete' template is seen in the console as the 'official' managed nodegroup.
Template Below

[code]

[code]

[2021-01-04 15:06] aclevername commented on #2848
@nsaud01 in terms of the cause of the hanging, do you have the cluster config file used to create the cluster?  If so can you share please 😄

[2021-01-04 15:11] aclevername commented on #3021
Thanks for opening the issue @bass4, I'm going to have a look at recreating this. What version of eksctl are you using? You can run `eksctl version` to see

[2021-01-04 16:08] aclevername commented on #3021
@bass4 I created a cluster using the provided config and observed that while the name of the LaunchTemplate seen in the CloudFormation stack is UID, the EKS console shows it via its name, they were still the same launch template:

<img width="742" alt="Screenshot 2021-01-04 at 16 06 34" src="https://user-images.githubusercontent.com/19669095/103554428-d4672800-4ea6-11eb-8df4-0584fa308d36.png">

<i

[2021-01-04 16:59] bass4 commented on #3021
Thanks for addressing this.

bmight$ eksctl version
0.35.0

i am receiving 2 Launch Templates. 1 of which is associated with my auto-scaling group and one which is 'orphaned'.
The eks console recognizes the second.
![image](https://user-images.githubusercontent.com/65409358/103558821-dadfaa80-4e7a-11eb-94a7-79c544413947.png)
The first and last templates were created by my eksctl run. the first one

[2021-01-04 17:01] bass4 commented on #3021
it is repeatable, and if i delete the cloudformation template, it removes everything which was installed/configured, even though the cloudformation events and resources don't seem to show that 2 launch templates were created.

[2021-01-04 20:59] michaelbeaumont commented on #2774
To clarify for 2.), I don't see the alteration of any existing commands as in scope for this issue.

[2021-01-04 21:13] g-karthik opened #3026 "Support for p4d instance type in eksctl"
I'd like support for the new p4d instance type launched at AWS re:invent a month ago.

**Why do you want this feature?**
I have an EKS-based setup to train large deep learning models (in which I use p3dn nodes) and I want to be able to easily switch to p4d.

**What feature/behavior/change do you want?**

I'd like to be able to specify in my nodegroup YAML, something like the following:
[code]

[2021-01-04 21:19] Callisto13 commented on #2774
👍 totally. I didn't mean "alteration", more "termination" 😈

[2021-01-05 09:21] jalaziz commented on #3015
Thanks @Callisto13!

I've started a draft PR at #3027. I still need to add tests and documentation, but hopefully the direction makes sense.

[2021-01-05 09:37] jalaziz commented on #581
We could also use this feature!

However, until it lands, we've decided to pre-create all the cluster resources that can't be easily renamed or replaced once the cluster is created.

The three resources we had to provide were:
- `sharedNodeSecurityGroup`  (attached to nodes)
- `securityGroup` (the control plane security group, not entirely sure this is still need with eks 1.14+)
- `serviceRoleARN`

[2021-01-05 11:35] aclevername opened #3029 "eksctl info command"
**Why do you want this feature?**
Currently we ask users to provide the output from `eksctl version` and `kubectl version` when opening a bug issue. I want users to be able to easily obtain all necessary information in one command.

**What feature/behavior/change do you want?**
A command `eksctl info` that provides the `eksctl version`, `kubectl version` and the OS type. This can be expanded to sh

[2021-01-05 11:40] aclevername opened #3030 "Dump logs to disk on failure"
**Why do you want this feature?**
When a command fails its not always clear whats caused it, and if you haven't run it at a higher verbosity the information required to fully debug it might be lost.

**What feature/behavior/change do you want?**
eksctl to dump the log output with a higher verbosity upon failure. e.g.
[code]

This has the potential to be noisy if commands are failing often

[2021-01-05 11:48] Callisto13 opened #3031 "Add support for Asia Pacific (Osaka) region"
Blocked on completion of https://github.com/aws/containers-roadmap/issues/1142. More details will be added later.

[2021-01-05 12:21] Callisto13 commented on #3026
Hey @g-karthik thanks for opening!

This should already be available, could you try with our [latest rc](https://github.com/weaveworks/eksctl/releases/tag/0.36.0-rc.0)?

[2021-01-05 14:34] cPu1 commented on #3021
Hi @bass4, this is the expected behaviour. When you create a managed nodegroup, eksctl creates a launch template with the supplied config, and passes the launch template to the [Managed Nodegroups API](https://docs.aws.amazon.com/eks/latest/APIReference/API_CreateNodegroup.html). The API itself then creates a new launch template using the supplied launch template as a base, and this is what is pas

[2021-01-05 15:28] Callisto13 opened #3032 "I should be able to create a new release by clicking one thing"
Exactly what it sounds like.

Automate all the things.

[2021-01-05 15:29] aclevername commented on #3032
🔥

[2021-01-05 16:01] michaelbeaumont commented on #3032
Thoughts:

* Github Action + `on: workflow_dispatch`
* Push a tag `git tag {release_candidate,release} --force && git push tags --force`

Either one would handle finding the correct tag and pushing it, triggering the RC/release build

[2021-01-05 16:18] Callisto13 commented on #3032
note: should also including running integration tests, iow completely turning our 11 step process into 1.

[2021-01-05 17:08] mikestef9 opened #3033 "Support for Bottlerocket as a custom AMI in managed node groups"
**Why do you want this feature?**
Use Bottlerocket, the AWS container optimized system, as a custom AMI with managed node groups

**What feature/behavior/change do you want?**
I would like to create a Bottlerocket node group through managed node groups using eksctl. Currently, this does not work because eksctl injects MIME metadata into the user data. MIME is not required when using a custom AMI w

[2021-01-05 17:36] Callisto13 opened #3034 "Timestamps in log lines"
It would be useful for every log line to be prefixed by a timestamp (**not** epoch, if you please).

This is pretty common in things-which-emit-logs, especially slow-things-which-emit-logs. It is especially useful for commands which may take a while.

So basically this:
[code]
Would look something like this (formatting just an illustration):
[code]
🤯 _wow such info_

[2021-01-05 17:38] michaelbeaumont commented on #3033
@mikestef9 At the moment, we use MIME data/cloud-init not only to bootstrap nodes on unmanaged/managed nodegroups but also to e.g. install the SSM agent.

See: https://github.com/weaveworks/eksctl/blob/501b67a89b84fc21c880f9f9a467fa8e80d9ba76/pkg/cfn/builder/managed_launch_template.go#L143-L148 and https://github.com/weaveworks/eksctl/blob/501b67a89b84fc21c880f9f9a467fa8e80d9ba76/pkg/cfn/builder/m

[2021-01-05 17:41] michaelbeaumont commented on #3034
Potentially depending on: https://github.com/weaveworks/eksctl/issues/2237

[2021-01-05 18:07] michaelbeaumont commented on #148
@aclevername I think this is done, right?

[2021-01-05 18:09] mikestef9 commented on #3033
Right, if `ami:` is set, that indicates use of a custom AMI with managed node groups. And when using a custom AMI, managed node groups does not validate or care if user data is in MIME format. And the bootstrap is fully in control of the user.

[2021-01-05 18:10] aclevername commented on #148
The SSM feature makes it easier to ssh on, but it's not a command through eksctl or a fix for existing clusters. So not quite?

[2021-01-05 18:28] michaelbeaumont commented on #148
Good point. However, I don't think we'll ever priortize anything beyond `enableSSM` +  `aws ssm start-session`. I also don't think we'll prioritize supporting existing clusters. I'm going to close it but feel free to open it up again.

[2021-01-05 18:28] #148 closed

[2021-01-06 01:39] nadenf commented on #2564
@michaelbeaumont .. This should be labelled as priority/critical no ?

eksctl was unusable until I stumbled across this bug.

[2021-01-06 02:25] g-karthik commented on #3026
Ah thanks for letting me know @Callisto13, will check it out!

[2021-01-06 02:25] #3026 closed

[2021-01-06 09:17] #3021 closed

[2021-01-06 09:19] michaelbeaumont commented on #2774
I think 3) is sort of dependent on 1) being "finalized", right? That is, I don't think a proposal for the behavior of `apply` should need to answer implementation questions, although we should consider 4).

[2021-01-06 09:22] Callisto13 commented on #2774
🤔  Isn't explaining how we will do the thing one of the core parts of a design proposal? It's not like we can start work without it/a bunch of tickets

[2021-01-06 09:28] michaelbeaumont commented on #2774
I would have thought the first step/proposal is something users might engage with. It would answer the question "how does `eksctl apply` behave with this config?".

[2021-01-06 09:33] Callisto13 commented on #2774
A complete proposal should cover all stages, all questions, and all risks, but we could get away with not providing them all at once? The danger is that sometimes risks and questions discovered later can end up influencing the behaviour.

Either way I am not bothered if we take each step separately so long as [all information is covered](https://github.com/Callisto13/eksctl/blob/cb-contrib-docs-ch

[2021-01-06 12:10] cPu1 opened #3038 "Support for EKS 1.19"
Add support for EKS 1.19 when it's out. Issue to track: https://github.com/aws/containers-roadmap/issues/1053

[2021-01-06 13:09] chmodrs opened #3039 "Create a new nodegroup with private network"
Hi,

I have an existing eks cluster running in production, but when i created, i dont't think about the ebs size and now i need to migrate to new nodegroup with a smaller ebs volume size and gp3 volumes.

I created initial nodegroup with `--node-private-networking --ssh-access --ssh-public-key` flags, but now when i will create a new nodegroup, i receive the follow error: `Error: unknown flag: --n

[2021-01-06 13:43] aclevername commented on #2931
@cPu1 @michaelbeaumont thoughts?

[2021-01-06 14:05] Callisto13 commented on #3039
🤔  That's... odd.

Could you paste in the full command you are running, not just the flags?

[2021-01-06 14:06] aclevername opened #3041 "Rename master branch to main"
By default github is making all new repos us the `main` as the default branch. This month github has released new features to make it easier to move across for existing repos https://github.com/github/renaming#later-this-year. Lets do it! 😄

[2021-01-06 14:48] hvydya commented on #2965
Any updates @Callisto13 ? 😄

[2021-01-06 14:56] Callisto13 commented on #2965
Gah not yet, I'm sorry 😅

I'll schedule some time for it soon, thanks for being patient!

[2021-01-06 15:28] chmodrs commented on #3039
Hi @Callisto13!

Follow the full command:

eksctl create nodegroup --cluster CLUSTER_NAME --node-type t3a.medium --node-ami auto --max-pods-per-node 100 --node-private-networking --ssh-access=true --ssh-public-key=eks-prod --node-volume-size 30gb --node-volume-type gp3

[2021-01-06 15:40] cPu1 commented on #3039
@chmodrs there are two issues with the command:
1. The value for ` --node-volume-size` should be just `30` without the unit.
2. `gp3` volumes are not supported yet: https://github.com/weaveworks/eksctl/issues/2891

Also, it looks like you didn't paste the same command for which you got the `unknown flag` error.

[2021-01-06 15:41] chmodrs commented on #3039
@cPu1

the same way, the error "Error: unknown flag: --node-private-networking --ssh-access" ocurred, even that remove --node-volume-size and --node-volume-type

[2021-01-06 15:47] cPu1 commented on #3033
The only option therefore is that, when ami: is set, only allow overrideBootstrapCommand to be set and disallow any options that depend on adding scripts to the user data.

That's true, which is why we disallow features in MNG that add scripts to user data (like `maxPodsPerNode`). We missed this when adding the SSM agent feature, but it should not be allowed when a custom AMI is provided.

[2021-01-06 15:51] Callisto13 commented on #3039
@chmodrs could you confirm that other commands are working as expected? `eksctl get cluster --name CLUSTER_NAME` ?

[2021-01-06 15:57] chmodrs commented on #3039
@Callisto13 yes

$ eksctl get cluster --name cluster
NAME	VERSION	STATUS	CREATED			VPC			SUBNETS																	SECURITYGROUPS
cluster	1.18	ACTIVE	2020-11-13T21:19:44Z	vpc-06s83cef8cd998a50	subnet-09425718f761dd0f1,subnet-066a44fb2ea831b77,subnet-048f01ed392f7b710,subnet-08afe280c17e1e8c6,subnet-0c64a88f782297c9d,subnet-0dfcbaf88b87d6d1a	sg-02729f7a7833a894b

If i tried to create a new nodegroup

[2021-01-06 16:15] Callisto13 commented on #3039
Super weird. I can copy and paste that command (without the `--node-volume-x` flags ) and it doesn't complain on v0.34.0 for me 🤔 .

It does seem to a problem with the binary, which I honestly can't explain. You can either re-install a new copy of 0.34.0, or grab the latest release.

[2021-01-06 16:25] Callisto13 commented on #2964
Since none of the new flags line up with the old `enable repo` command, we are going have a brand new subcommand. What will that subcommand be called? No idea, much discussion needs to be had. But that doesn't mean I can't implement in parallel to those discussions while we figure it out.

So in lieu of a real decision I am calling this `eksctl enable gotk` (gitops toolkit) for now. (**Don't @ me,

[2021-01-06 16:41] Callisto13 commented on #3039
Actually @chmodrs are you putting quotes anywhere in your command? I can reproduce the error if i do:

[code]

[2021-01-06 17:14] Callisto13 commented on #2964
Okay so there _is_ a way where we can have `eksctl enable repo`: we add a flag `--use-v2` (or whatever) and that determines which other flags/config options apply.

Pros:
- The UX is nice (Sortof. Users would not be able to throw that flag in with an old command, the other flags would have to change)
- We can keep using `enable repo` and not have to think of anything else

Cons:
- Code will be a b

[2021-01-06 18:13] chmodrs commented on #3039
Hi.

I was trying to create in macos using 0.34 version, i change to another machine running Ubuntu Desktoo with ekctl running in 0.35.0 version and all works fine (including gp3 ebs), probably some problem in my machine or until in macos version.

Thanks everyone!

[2021-01-06 19:37] Callisto13 commented on #3039
Glad it all worked out :)

[2021-01-06 19:37] #3039 closed

[2021-01-07 00:05] bgeradz commented on #1930
I've been creating clusters and through ```aws cloudformation create-stack``` command, after that ```eksctl delete cluster``` wouldn't work either.
Looking at the eksctl source code it turns out that eksctl looks for a particular tag (```alpha.eksctl.io/cluster-name```) in the stack and if it's missing eksctl fails.
I've created a dummy cluster with eksctl and checked the tags of the created Cloud

[2021-01-07 09:46] Callisto13 commented on #2891
@mihaylovmihail this will work now, it seems some defaults for `throughput` have been set upstream (125 MB/s by the looks of it).

I am leaving this ticket open so that we do the work to make things configurable for that volume type.

[2021-01-07 12:22] Legion2 opened #3042 "Create an IAM Service Account role without creating/annotating the service account"
**What happened?**
I used the IAM role name feature to give the iam role generated by eksctl a predictable name. Then I used the IAM role name in a GitOps setup and attached it with the `eks.amazonaws.com/role-arn` annotation to a service account which is provided by a helm chart.
The service account is generated be the helm chart and only the annotation and the IAM role is provided by me. I don't

[2021-01-07 12:34] aclevername commented on #3042
Thanks for opening the issue @Legion2

You are correct that this will not work. When you create the IAMServiceAccount the role is setup to only work with the specified serviceaccount. This is an intentional security feature, otherwise any service account could use the role created.
https://github.com/weaveworks/eksctl/blame/5145b139fad61106beee3201ae62b6fb2be96abe/pkg/iam/oidc/api.go#L148-L156

Th

[2021-01-07 12:42] Legion2 commented on #3042
It would already help if eksctl would only create the IAM role which is coupled to a specific service account namespace and name, but do not manage that service account (create/delete it). Because the service account is managed using the git-ops approach.

This can be overcome by looking into the helm chart template, which is not optimal but then required for security reasons.

[2021-01-07 13:38] aclevername commented on #3042
If the service account already exists, you can use the `--override-existing-serviceaccounts`  flag to prevent it from creating a service account. In this scenario the command creates the role for a given serviceaccount/namespace & applys the annotation, which is close to what your describing? But this can only be done if the serviceaccount exists, so you can't do this beforehand

[2021-01-07 14:37] Legion2 commented on #3042
When using git-ops you simply define manifest files which are applied to the cluster from a repository. You do not want to think about using different cli command to manage the state of the cluster. For git-ops it should not matter if the service account already exists or not. You just want to define that a service account has an iam role assigned.

[2021-01-07 14:51] aclevername commented on #3042
I see where your coming from @Legion2

A flag/field that introduces this behaviour sound reasonable to me. Would you be willing to work on a PR to introduce this functionality 😄 ?

[2021-01-07 14:51] aclevername commented on #3042
I see where your coming from @Legion2

A flag/field that introduces this behaviour sound reasonable to me. Would you be willing to work on a PR to introduce this functionality 😄 ?

[2021-01-07 15:50] ajinkya933 commented on #3009
I am able to see the new node group added as follows:

$ eksctl get nodegroup --cluster mygpu
[code]

However, I get error for

[code]

My question is right after cluster and before Kubeflow installation, what steps should I take to make GPU scale from 0 ?

[2021-01-07 15:56] arjun921 commented on #3009
These are nodegroups

Nodes ∈ Nodegroups

To see a node that was added you'll need to run this:
[code]

[2021-01-07 15:57] arjun921 commented on #3009
The age should help you identify newly added nodes from a ndoegroup, also labels found in described nodes should help identifying which nodegroup it belongs to.

[2021-01-07 16:09] Legion2 commented on #3042
I will try. It's my first time implementing something in go. If I have any problems I will let you know.

[2021-01-07 16:11] aclevername commented on #3042
Fantastic 🎉 Happy to help

[2021-01-07 20:12] michaelbeaumont commented on #2837
I've opened a PR with initial support (pretty much identical to `withAddonPolicies`).
I like the idea of further, use case specific options. Anyone using IRSA is welcome to post additional examples!

[2021-01-07 23:18] Legion2 commented on #3042
We need to talk about the naming. How should the new option of the `ClusterIAMServiceAccount` be called: `RoleOnly`, `WithoutServiceAccount`, `CreateServiceAccount`, `ManageServiceAccount`, `NoServiceAccount`...?

Also should we only allow this option in combination with `RoleName`?

When deleting the ClusterIAMServiceAccount, currently the service account is also delete (even when it was not crea

[2021-01-08 09:25] aclevername commented on #3042
So we need a flag for the cli and a field in the config that represent the intent that: "we are not going to create and/or annotate a service account during creation of this iamserviceaccount".  I think `RoleOnly`/`--role-only` is reasonable

I think this functionality is best used when `RoleName` is specified, but I don't think we necessarily have to restrict it so that both are set.

I think add

[2021-01-08 10:42] Legion2 commented on #3042
When deleting an iam service account using `--only-missing` and a config file, we don't have the RoleOnly information, because the iam service account is deleted from the config file before eksctl is called. I think that's because the `alpha.eksctl.io/iamserviceaccount-name` tag is added to the cfs.

[2021-01-08 11:41] cPu1 commented on #3042
@Legion2 not all features in eksctl are designed with GitOps in mind, and IRSA is one of them. The IAM role created by eksctl is not only tied to the ServiceAccount (via the `role-arn` annotation), but also the cluster because it has a trust relationship with the cluster's OIDC provider, which is different for each cluster. Trying to use the same role name across clusters will not work, so if you

[2021-01-08 12:27] aclevername commented on #3042
I think I took @Legion2 feature request slightly different. I was imaging a setup in which:
- I've created my cluster using eksctl
- I want to manage all k8s resources inside the cluster using a gitops approach
- I want to utilise IAMServiceAccounts

The option to skip service account creation/annotation in combination with the existing `roleName` feature would enable the above flow.

I don't thin

[2021-01-08 13:33] Legion2 commented on #3042
@cPu1 yes, I tried that, but when the service account is created by eksctl, the helm chart can not be deployed because the service account already exists:
`dry-run upgrade for comparison failed: rendered manifests contain a new resource that already exists. Unable to continue with update: existing resource conflict: namespace: monitoring, name: grafana-aws-cloudwatch, existing_kind: /v1, Kind=Serv

[2021-01-09 00:47] chrisjohnson00 commented on #581
Not a blocker for using this, but would be nice.  The eksctl stacks don't follow the standard convention we have, so the generated ones are "out of place" but not rejected.

[2021-01-09 16:09] vitarkah opened #3050 "problems while running eksctl within argo workflow container"
Issue Summary
I am using Argo Workflow to stand up our infrastructure; as part of the workflow step using the eksctl within container to create a cluster & nodegroups. The snippet looks like this

[code]

2 sequential tasks: { create cluster control plane "eks-apps", 2 sequential sub-tasks: { 5 sequential sub-tasks: { update cluster VPC endpoint access configuration, update
 public access CIDRs, a

[2021-01-09 17:37] Legion2 commented on #3042
After rethinking the whole situation and considering that IRSA is not build for GitOps, I think there is no simple way to make it fully GitOps compatible. However, the IRSA feature is very important and should be usable with GitOps.

Therefore, the relevant documentation should be updated to reflect how IRSA can be used in a GitOps setup. The pattern would be, to first deploy the service account w

[2021-01-10 00:40] vitarkah commented on #3050
For anyone else who may run into this issue; nothing to do Argo Workflow or EKSCTL;  it had to do with the following snippet in cluster creation; Had to add the NAT EIP of the EC2 instance where the workflow was running from

[code]

[2021-01-10 00:40] #3050 closed

[2021-01-11 05:24] MAXI0008 opened #3051 "eksctl get cluster timeout"
I am trying to use eksctl to manage a fully private K8s cluster.

I created a fully private cluster by following https://eksctl.io/usage/eks-private-cluster/

To manage the cluster, I created a bastion host inside a public subnet of the cluster VPC, by following the instruction from here: https://docs.aws.amazon.com/eks/latest/userguide/cluster-endpoint.html#private-access (Amazon EC2 bastion host

[2021-01-11 07:40] hvydya commented on #3029
Hi! I'd like to work on this.

[2021-01-11 07:55] ajinkya933 commented on #3009
Following up:

Heres my cluster setip.yaml file:

[code]
I created a cluster from this yaml file using this command : `eksctl create cluster -f rnd_combo.yaml`. After that I enabled autoscaler on this cluster:

[code]

I deployed kubeflow using official docs: https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/
Version of Kubeflow : 1.2

So, even after doing this my GPU is not being scaled u

[2021-01-11 08:44] Callisto13 commented on #3029
Thanks @hvydya !

[2021-01-11 11:30] arjun921 commented on #3009
Check the logs of your cluster autoscaler or events in AWS console for ec2 ASG

Highly likely the node you're looking for in the region you're requesting for doesn't have any nodes available.

[2021-01-11 11:33] arjun921 commented on #3009
Also you might want to consider this flag
https://github.com/weaveworks/eksctl/blob/master/examples/23-kubeflow-spot-instance.yaml#L133

This helps prevent AZ mismatch if for volumes while they're created and if you'd like to reattach to the same volume when the notebook is killed and spun up again.

[2021-01-11 15:36] perholmes commented on #836
In case someone wastes a day on this issue, the problem is printing URLs using the formatting string. Using "%s", url, with the URL as the argument is just fine.