[2022-03-15 21:49] dbgoytia opened #4957 "eksctl create iamidentitymapping shouldn't recreate existing roles"
### What feature/behavior/change do you want?
When executing the eksctl create iamidentitymapping command, it would be great if the tool didn't create mappings that already exist. This is not great because on CI/CD,  we could lead to continuously adding those roles in the aws-auth files. This means that we would have multiple replicas of the same role, which doesn't make sense.

### Why do you wan

[2022-03-15 21:50] dbgoytia commented on #4957
I think the issue with iamidentitymappings is that they are not backed by any CloudFormation stack. I'm wondering if that would make this implementation a bit difficult.

[2022-03-16 04:06] tanvp112 commented on #4957
When there's a duplication, a message will be printed: `...found existing mappings with same arn "arn:aws:iam::xxxxx" (which will be shadowed by your new mapping)`. Similarly, when delete a duplicated entry: `...there are 1 mappings left with same arn "arn:aws:iam::xxxxx" (use --all to delete them at once)`

Because a role can be mapped to different users and the same user may have different roles

[2022-03-16 04:14] tanvp112 commented on #4941
The service account created by `eksctl create iamserviceaccount` will not get deleted when you delete the daemonset/deployment that uses it.

[2022-03-16 08:47] matti commented on #2363
here's my workaround:

https://github.com/matti/k8s-node-watchdog/blob/cd8733d3a82f8b917685c9d906f74595a7bae97b/app/entrypoint.sh#L56-L71

[2022-03-16 08:47] f0xtek commented on #4935
@Skarlso oh dear, that was it 😅 sorry for the confusion! Thank you for looking into it!

[2022-03-16 08:47] #4935 closed

[2022-03-16 09:03] Skarlso commented on #4941
This issue was already reproduced by me. We know are just debating a solution.

Gini was just summarising some approaches.

[2022-03-16 09:10] Skarlso commented on #4957
In addition to the previous comment:

But they are. :)

[2022-03-16 09:30] Skarlso commented on #4941
To summarise, and sorry for the confusion from all of you. :)))

The problem is that if the service account is removed from kubernetes through none clean ways ( such as 'kubectl delete' rather than 'eksctl delete iamserviceaccount' which makes sure everything is deleted properly) the same `create` command
 will not work, because it's detecting the stack for it and the filter always filters even if

[2022-03-16 10:00] pkit commented on #4941
As the namespace is not managed by `eksctl` it's not possible to reconcile k8s changes through gitops tools (`fluxcd`, `argocd`, etc.) and `eksctl` here.
I.e. removing `Namespace` through CD will bring `ekctl` to a broken state which cannot be recovered by rolling back git commits.

[2022-03-16 10:21] aclevername commented on #4734
summarising the above into a story

### Description
AWS support a set of zones called "local zones" that are different to traditional availability zones. For example:
- Traditional: `us-west-2a`
- Local: `us-west-2-lax-1`

EKS is not supported in local zones, meaning you cannot create clusters or managed nodegroups in the zones. However you can created unmanaged nodegroups in the zones.

Today if

[2022-03-16 10:26] matti opened #4958 "[Bug] eksctl get cluster says "EKSCTL CREATED" False"
### What were you trying to accomplish?

listing clusters created with eksctl says that they are not eksctl created, what does it mean?

[code]
[code]

[2022-03-16 10:28] Skarlso commented on #4958
Hi. Yep, it's a known bug, for which we'll have a fix in the next release. :) thanks. :)

[2022-03-16 10:29] Skarlso commented on #4958
Dup https://github.com/weaveworks/eksctl/issues/4888

[2022-03-16 10:29] #4958 closed

[2022-03-16 10:31] cPu1 commented on #4958
The fix is already out in https://github.com/weaveworks/eksctl/releases/tag/v0.88.0-rc.0

[2022-03-16 10:38] aclevername commented on #4916
summarising the above into a story

### Description
We currently only support creating unmanaged Bottlerocket GPU nodes, this story is for creating managed Bottlerocket GPU nodes.

To create other existing GPU managed nodegroups today eksctl specifies the relevant [AMIType](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-eks-nodegroup.html#cfn-eks-nodegroup-amitype) in

[2022-03-16 10:47] aclevername commented on #4865
### Description
AWS support arm and x86 instance types, as well as GPU accelerated types. When eksctl attempts to resolve the AMI to use for a nodegroup we check to see wether the instance it an ARM or a GPU type. AWS recently introduces new ARM GPU instance types, e.g. `r6g.medium`. This story is to add support for those instance types in eksctl.

### Scope
- Update our AMI querying logic to supp

[2022-03-16 11:02] Skarlso commented on #4941
Okay, so we discussed this with the team.

There are two things that will happen. The first, is sadly, we aren't going to change how create works, because `eksctl` by default is not like `apply`. It's not aware of the environment in general, and changing a single command to be aware, will create an inconsistency between how the rest of the commands work. So for now the "solution" to this is to re-

[2022-03-16 11:08] TBBle commented on #2363
Interesting workaround. It appears to be running a privileged daemonset on every node with total admin privileges for your k8s cluster?

I'd suggest at the very least trimming that `ClusterRole` down to the privileges it needs (in this case, editing the node labels) to reduce the risk to your cluster if this pod get compromised.

[2022-03-16 12:01] #4931 closed

[2022-03-16 12:22] Skarlso commented on #4734
For the record, I like this one better:

[code]

[2022-03-16 12:24] Skarlso commented on #4917
This would be backwards compatible, right? We just add it to a list of labels we can use to locate resources?

[2022-03-16 12:34] matti commented on #2363
yes, but I like to live dangerously and get things done.

[2022-03-16 13:40] Himangini commented on #4944
PS you can use the eksctl-ci repository for reference

[2022-03-16 13:48] kmcarol26 commented on #4939
Thanks, appreciate you looking into it

[2022-03-16 13:54] matti opened #4961 "[Feature] select availability zones"
### What feature/behavior/change do you want?

Select availability zones for a cluster when AWS is out of capacity

### Why do you want this feature?
cluster creation failed with following cluster yaml:
[code]

[code]

[2022-03-16 14:00] Himangini commented on #4734
We'll add a separate field for local zones

[2022-03-16 14:02] aclevername commented on #4961
Have you tried setting the availabilityZones field? https://eksctl.io/usage/schema/#availabilityZones

[2022-03-16 14:34] Skarlso commented on #4406
Hi!

So we talked this over with the team, and decided that we are not going to implement this feature. Here are the notes why not to give some context.

- doing this doesn't mean that we know why the CF stack would or could fail and would potentially result in something that you think would work, but in reality does not. And debugging that would be rather painful. We can't support that behaviour

[2022-03-16 14:43] cPu1 commented on #4917
@metasim how did you add new nodegroups? Was it via eksctl or some other tool?

[2022-03-16 14:45] matti commented on #4961
not yet, thanks

[2022-03-16 17:29] Sasuke0713 commented on #3894
The reason you guys are having issues is because you are likely not authenticating to the cluster with the role that is in your `kube-context`  if your context is setup like so.

[code]

So setup your config file like:
[code]

Run `AWS_PROFILE=<cluster>-admin eksctl get nodegroup --cluster <cluster>`.

Or simply use an `aws sts assume-role --profile <cluster>-admin --role-arn arn:aws:iam::xxxxxxxx

[2022-03-16 20:52] BloodyIron commented on #215
Okay so yeah this needs to be re-opened, because frankly, AWS' "recommended" method of installing eksctl by downloading a tar and moving the binary into place, is absolutely the worst way to do this.

1. It means the package will _NEVER_ be updated, because the environmental package manager is not aware of it.
2. It will NEVER be updated because the human user will likely forget that it needs upda

[2022-03-16 20:53] BloodyIron commented on #215
@nikimanoledaki @richardcase @iainelder

[2022-03-16 20:54] BloodyIron commented on #215
Okay so I went to look at the release frequency for this github project and holly balls are releases coming out frequently. That's literally so much more reason for this to be served via a repository instead of a tarball a human manually downloads!

[2022-03-17 08:25] Skarlso commented on #215
There were several problems with credentials when dealing with the release cycle not in github which is why this didn't go forward in the end.

As for your comment:

Regarding updates:

As with anything installed from not a package, you can add a small script that keeps it updated and run a systemd process in the background and forget about it basically. It's relatively simple to achieve.

I would

[2022-03-17 08:25] Skarlso commented on #215
To summarise, this ticket is now about just creating and publish a .deb and potentially an .rpm file.

[2022-03-17 09:56] matti opened #4965 "[Feature] apply labels from nodegroup to the created asg to enable scale to zero for managed nodegroups"
### What feature/behavior/change do you want?

eksctl should apply all labels from created nodegroup to the ASG in k8s.io/cluster-autoscaler/node-template/label/NAME=VALUE format

### Why do you want this feature?

This enables scale to zero for managed nodegroups. See workaround here: https://github.com/aws/containers-roadmap/issues/724#issuecomment-1070687704

[2022-03-17 09:56] TBBle commented on #4965
Duplicate of #4853.

[2022-03-17 10:05] Skarlso commented on #4965
Yep. That's true.

[2022-03-17 11:51] Skarlso commented on #4930
Ah yes. I see now what's happening. This is part of this announcement https://github.com/weaveworks/eksctl/issues/3563.

This means that you are the "lucky" one who wanted to do the right thing, but we didn't deprecate this thing yet fully. I think enough time has passed now since then so I'm going to go ahead and remove this code path. :)

You WON! You are the lucky number 1.000.000! You have the

[2022-03-17 11:52] neilharris123 opened #4967 "Support adding --max-pods-per-node in cluster config file"
### What feature/behavior/change do you want?

I've seen it's possible to increase the max number of pods per node, by using the `--max-pods-per-node` flag when creating a managedNodeGroup, for example by running:

`eksctl create nodegroup --cluster my-cluster --max-pods-per-node 110`

But I see no way of configuring this in the cluster config file.

We are defining our managedNodeGroups via a clu

[2022-03-17 11:53] Skarlso commented on #4930
@cthrasher BTW, what Jake is suggesting will totally work for your case as well I believe.

[2022-03-17 11:54] Skarlso commented on #4967
@neilharris123 Hi. you mean, like this? https://eksctl.io/usage/schema/#nodeGroups-maxPodsPerNode

[2022-03-17 11:56] Skarlso commented on #4967
For clarification, that's in the nodegroup base, so it can be defined for either managed or unmanaged nodegroups.

[2022-03-17 11:57] Skarlso commented on #4967
for example:
[code]

[2022-03-17 11:57] neilharris123 commented on #4967
Wow, sorry, I don't know how I missed that. Yes, I'll close this issue. Thanks!

[2022-03-17 11:57] #4967 closed

[2022-03-17 11:58] Skarlso commented on #4967
Np, glad I could help. :)

[2022-03-17 12:59] nikimanoledaki commented on #4917
Hi again @metasim, as well as the info requested by @cPu1 in the comment above, could you also please provide any eksctl config file that you used to create the cluster and nodegroups, with any sensitive info redacted? That way we can reproduce this error. Thank you!

[2022-03-17 13:16] jglick commented on #215
FWIW I would still like to see a snap (given https://github.com/weaveworks/eksctl/issues/1721#issuecomment-618533261). Would match how I keep other K8s-related tools like `kubectl`, `helm`, and `gcloud` up to date. (Sadly, not `aws-cli`, which also has a ridiculously outdated snap.)

[2022-03-17 14:18] cthrasher commented on #4930
@aclevername @Skarlso We use a custom AMI (CIS-hardened with corporate stuff pre-installed) which would then push us to use overrideBootstrapCommand once #3563 is fully implemented. Would specifying the containerRuntime field still work in that case?

[2022-03-17 15:30] Skarlso commented on #4930
Yeah no, sadly. If you define a customer ami, you HAVE to define the overrideBoostrapCommand so this would break. I'm working on a fix. Thanks for the extra info.

[2022-03-17 16:45] BloodyIron commented on #215
It has been about that this whole time, as per the original request (not by me) including "Currently we have a homebrew package but we should have .deb and .rpm packages as well to cover somew of the main linux distros"

[2022-03-17 16:46] BloodyIron commented on #215
I would like to point out that kubectl and awscli can be installed via package managers. That's literally how I do it already. Perhaps consider that method instead?

[2022-03-17 16:51] Skarlso commented on #215
How does it help with updates to have a downloadable deb package? You still would have to update that by hand.

We accept community contributions. :^)

No it has not:

Done.

[2022-03-17 17:03] metasim commented on #4917
Note: The cluster already existed; I ran `eksctl create nodegroup -f cluster.yaml` to add new nodegroups.

[2022-03-17 17:23] jglick commented on #215
At least on Ubuntu, yes but an obsolete 1.x version, and https://docs.aws.amazon.com/cli/latest/userguide/getting-started-install.html does not suggest a package. Frankly using a Docker wrapper script as in https://docs.aws.amazon.com/cli/latest/userguide/install-cliv2-docker.html#cliv2-docker-share-files feels like a more attractive option, at least on Linux where Docker containers require no VM.

[2022-03-17 19:29] metasim commented on #4917
We've all been there! 😄

[2022-03-17 19:32] Skarlso commented on #4917
Indeed! :D

Can you do me a favour please and check the node in amazon console that it has some eksctl labels? If it doesn't that's the problem. :)

[2022-03-17 19:37] matti opened #4969 "[Bug] coredns addon prevents scaledown because of missing PodDisruptionPolicy and local storage"
### What were you trying to accomplish?

cluster-autoscaler can not scale an (otherwise) empty node down:

[code]

### What happened?

coredns addon does not create PodDisruptionPolicy, creating it:

[code]

fixes this but leads us to the next problem:

[code]

I guess the only way to get this removed would be to label `cluster-autoscaler.kubernetes.io/safe-to-evict: true`

[2022-03-17 19:43] matti commented on #4969
[code]

running this allowed cluster-autoscaler to remove node after creating the pdb

[2022-03-17 19:46] matti commented on #4965
what kind of issues? I'm running 3 clusters with these edits and seems to work great, should I be worried?

[2022-03-17 20:06] Skarlso commented on #4965
You're running fine the problem one when we were trying to do this through the managed nodegroup.

[2022-03-17 20:14] metasim commented on #4917
@Skarlso
This work?

<img width="1113" alt="image" src="https://user-images.githubusercontent.com/131013/158887713-b56b3247-72d7-4525-8bed-81d446081d8f.png">

[2022-03-17 20:15] Skarlso commented on #4917
Yeah, that actually looks okay. Dang. :/ I have to continue investigating what's wrong. :(

Thank you! :)

[2022-03-17 20:16] matti commented on #4965
?

[2022-03-17 20:18] Skarlso commented on #4965
Didn't you write that you are using some kind of workaround? Sorry, I might be confusing this issue with a different one.

[2022-03-18 02:31] TBBle commented on #4965
I couldn't actually find the discussion of the issue when I went looking, across the eksctl and aws containers roadmap issue trackers. "tag" and "label" are not highly-distinctive keywords.

The issue I'm recalling isn't a problem that affects the running cluster, it showed up with you [Edited a Managed NodeGroup's configuration](https://docs.aws.amazon.com/eks/latest/userguide/update-managed-node

[2022-03-18 08:44] matti opened #4970 "[Bug] eksctl create nodegroup counts nodegroups as created+failed"
### What were you trying to accomplish?

Create a node group and then do things on it

[code]

### What happened?

eksctl create nodegroup create was unsuccessful due to aws internal error, but it still exited with 0 causing my scrip to go forward.

workaround:

[code]

**Versions**
[code]

[2022-03-18 09:13] Skarlso commented on #4970
Can you post the logs please to see if it detected that there were any errors and this is maybe just a cobra thing?

[2022-03-18 09:13] Skarlso commented on #4970
There should be at least something like this:

[code]

[2022-03-18 09:25] Skarlso commented on #4970
Can't reproduce:

[code]

[2022-03-18 09:28] matti commented on #4970
sorry I don't have logs anymore but this has happened 3 times already (I'm constantly running these up and down)

The failed run looks like this in cloudformation console:
<img width="1460" alt="image" src="https://user-images.githubusercontent.com/3893/158976870-4e6d9ddd-6a4d-4b16-a3a1-36d106f0c39c.png">

[2022-03-18 09:30] Skarlso commented on #4970
Interesting. 🤔

I did try it, you can see the output above. It looks like, I got a return code of 1 and it exited with an internal cloud formation error.

Anything more? Can you share the config file?

[2022-03-18 09:34] matti commented on #4970
so it happened again on 2 clusters - my retry logic made it eventually succeed.

[code]

^-- this happened 2x

here's the nodegroup yaml

[code]

*but* I have 5 of nodegroup creates running concurrently (to speed things up)

I'll add status code output printing in my wrapper next just to be sure, but since I have `set -e` in the bash script I don't think the script would have continued if eksctl c

[2022-03-18 09:37] matti commented on #4970
and all my code is here: https://github.com/matti/eksler

[code]

^-- this creates cluster "test-0" in eu-north-1, using ipv6, 1.21 kuberenetes and creates 7 nodegroups in parallel: https://github.com/matti/eksler/blob/78dd5d4a18b683df68515dc540d326b2a841eca6/bin/test-main#L20

[2022-03-18 09:40] matti commented on #4970
added debug print https://github.com/matti/eksler/commit/a905ad327fb348fc22d069bdc11ab76d9baf9840

[2022-03-18 10:23] Skarlso commented on #4970
Thanks Matti for all the things. :) I'll look into it.

I don't know how that could have happened. You see above that eksctl does return 1 on a failure. There is no way ( at least none I can see in the code right now ) that it would not `return err` in case of an error which is the only way of it exiting with a none error status code. 🤔

I'll take a tour again and will try to reproduce something.

[2022-03-18 11:17] Himangini commented on #4764
@Denn0 any updates on this, please?

[2022-03-18 11:44] aclevername commented on #4701
Thanks for opening the issue @sheetaljoshi

I tried to reproduce this issue with the latest version of eksctl using the config file provided (switch to us-west-2) and was unable, the cluster and nodegroup creates successfully:
[code]

In the output I can see that it ran the `AssignIpv6AddressOnCreation` task after creating the control plane, before creating nodegroups:
[code]

Looking into the err

[2022-03-18 12:25] #4632 closed

[2022-03-18 12:33] Skarlso commented on #4970
[code]

BTW that exists if the exit code is 0. Did you meant to write `||` here?

[2022-03-18 12:36] matti commented on #4970
whops, yes - anyway in my testing/scripting it is correct

[2022-03-18 12:42] matti commented on #4632
see https://github.com/weaveworks/eksctl/issues/4685#issuecomment-1030775986 how to set kubeletExtraConfig

[2022-03-18 13:10] Skarlso opened #4972 "[Task] Extend the integration tests with testing overrideBootstrapCommand and custom AMI features"
### Summary

Right now, we don't have any integration tests which test custom AMIs and using overrideBootstrapCommand feature. This is not so good, because we have no idea when these introduce a failure such as, the node not being able to join the cluster any longer.

### Technical Notes

This requires us creating and maintaining a custom AMI that the tests can use. But this isn't such a problem b

[2022-03-18 14:08] aclevername commented on #4972
A story for tests :see_no_evil: this is a chore! :grin:

[2022-03-18 14:09] aclevername commented on #4969
Thanks for opening the issue @matti . I don't think this should be opened here- eksctl just supports updating the existing coredns addon that AWS creating. We aren't responsible for the configuration. I'd go through AWS/EKS to report this :smile:

[2022-03-18 14:09] #4969 closed

[2022-03-18 14:11] Skarlso commented on #4972
It didn't have a CHORE template. :D

[2022-03-18 14:11] matti commented on #4969
@aclevername so where exactly in AWS/EKS should I open this issue?

[2022-03-18 14:12] aclevername commented on #4969
I think [here](https://github.com/aws/containers-roadmap/issues?q=is%3Aissue+is%3Aopen+coredns)

[2022-03-18 14:18] aclevername commented on #4972
@Himangini SOS :joy: we should add a chore template

[2022-03-18 14:30] matti commented on #4969
@aclevername thanks, searching that repository shows some other problems as well like https://github.com/aws/containers-roadmap/issues/1458 ...

[2022-03-18 15:14] Skarlso commented on #4970
@matti Sorry, but, didn't you say your script uses the right thing? But I can see a `&& break` there. :)

[2022-03-18 15:15] Skarlso commented on #4970
Oh never mind. That's intentional so it runs as longs as it doesn't succeed.

[2022-03-18 15:47] matti commented on #4970
yeah, thats why I am pretty sure that eksctl exits with 0

[2022-03-18 16:35] Denn0 commented on #4764
Hi,

Sorry for not responding. Actually we moved on to using CDK to deploy our EKS clusters, it gave us a bit more control.
I just raised this issue as the docs seem to say that if I provide a permission boundary (it's not specific on which field exactly)

https://eksctl.io/usage/iam-permissions-boundary/

If you're looking for a way to solve this; I would have interpreted the docs that if I set `

[2022-03-18 16:45] Skarlso commented on #4970
Let's see what this outputs:
[code]

I would be surprised if it's an error and it still says 0. But you never know. :) I might be surprised. :))

[2022-03-18 17:54] matti commented on #4970
so:

happens and then

and

**BUT**

then my script tries to get the nodegroup and it gets

which is as expected.

Then my script tries to create it again, but from the output I can see that

so that it is "already created" even when it just failed

and then, since `eksctl nodegroup create` "does not create anything", eg it says

then it exits with 0 - which might be wrong because the command is `

[2022-03-18 18:08] matti commented on #4970
In my cluster there are 6 nodegroups, but eksctl says "12 existing nodegroup(s)" - it's listing the failed stacks also (!) tried to search the eksctl code for "existing nodegroup(s)" but didn't find any :o

[2022-03-18 18:15] matti commented on #4970
workarounding this now like this: https://github.com/matti/eksler/blob/fbea28334199b1661b9742a147f5066172825fd6/bin/eksler#L378

[2022-03-18 18:22] matti commented on #4969
well it also doesn't specify any topologySpreadConstraints... should just run this without EKS addon, this is so broken.

[2022-03-19 07:48] Skarlso commented on #4970
Hmm, hmmmm, depends. If it didn't need to create anything then why should it error? Though I can understand an argument that that would be apply and not create. But there are certainly scenarios where create without error but no result is fine.

Because it's generated from

[code]

Sneaky ;)

In any case if there are no other issues regarding exit code, can we close this ticket? :) If you have a d

[2022-03-19 08:11] matti opened #4977 "[Bug] eksctl nodegroup create exits with 0 when nodegroup has failed to create"
### What were you trying to accomplish?

run eksctl nodegroup create after first failed due to aws internals

### What happened?

this fails for example with

and exits with error level 1

**when** running the the command again

eksctl reports that the nodegroup has been created (it is not) and exits with 0

eksctl 0.87.0

[2022-03-19 08:22] matti opened #4978 "[Bug] remoteNodegroups contains failed stacks that are not nodegroups"
### What happened?

which fails due to aws internal, then run it again

and eksctl says that nodegroup is existing

but only the failed (rollbacked) stack exists and the nodegroup does not exist in EKS.

prob due to filtering somewhere in https://github.com/weaveworks/eksctl/blob/7a59b2869bd57b6ddf1e7c00c899fd1f5b1cda8c/pkg/ctl/cmdutils/filter/nodegroup_filter.go#L123

[2022-03-19 08:23] matti commented on #4970
I just try again with more precise description as I still think this create failed and exit 0 on retry is a bug: #4977 but that is just semantic wrestling and this is why I've written my eksler wrapper to change/fix behavior for my liking.

However, this is the real bug: https://github.com/weaveworks/eksctl/issues/4978

now we can close this ticket :)

[2022-03-19 08:23] #4970 closed

[2022-03-19 08:27] matti commented on #4965
oh right - maybe it's working fine for me because I don't update my nodegroups: I always create a new one and then drain the old one https://github.com/matti/eksler/blob/fbea28334199b1661b9742a147f5066172825fd6/bin/ekslerpooler#L59-L64

[2022-03-20 15:21] matti opened #4979 "[Bug] eksctl delete cluster exits when cluster is still being deleted"
### What were you trying to accomplish?

eksctl delete cluster kluster

### What happened?

[code]

however, the stack / cluster has not been deleted because of cloudformation says:

and it *looks* like it has been DELETE_IN_PROGRESS for 1h+ now.

yes, this is an AWS issue, but shouldn't eksctl delete cluster return after everything has been cleaned?

eksctl 0.87.0

[2022-03-20 15:22] matti commented on #4979
And, the cluster is still listed in the AWS EKS UI.

[2022-03-20 15:26] matti commented on #4979
And `eksctl get` still returns it:

[code]

[2022-03-20 16:54] matti commented on #4979
after two hours the stack went to DELETE_FAILED state and I had to re-issue stack delete.

so the eksctl "[✔]  all cluster resources were deleted" is misleading

[2022-03-20 17:30] Skarlso commented on #4979
To truly have everything deleted including the stack run:

[code]

This will wait for a stack to complete deletion and go to the next item when there is an error like, cluster doesn't exist, but the stack does and you want to delete it.

[2022-03-20 18:01] matti opened #4980 "[Bug] eksctl allows creation of ipv6 managedNodeGroups without nitro"
### What were you trying to accomplish?

create cluster and managed nodegroup with:

[code]

[code]

### What happened?

https://github.com/aws/amazon-vpc-cni-k8s/issues/1935#issuecomment-1073301371

### How to reproduce it?

if the above configs return t2.small (instance selector cpu: 2, ram: 4) then it's not a nitro instance and ipv6 fails. Also instance selector 48cpu and 96gb ram return instan

[2022-03-20 18:31] matti commented on #4980
my wrapper workaround:
https://github.com/matti/eksler/blob/124ed6943500c797d6a03b121707a87c9a055042/bin/eksler#L328

+ https://github.com/matti/eksler/blob/124ed6943500c797d6a03b121707a87c9a055042/bin/eksler#L378-L380

this also works for #4956, but that's kinda "resolved" now since the real issue is the nitro missing filter

[2022-03-20 19:26] Skarlso commented on #4980
How or what is the bug here? Please try and leave a comment on the bug instead of linking to an issue in a different repository. I don't really know from this what you would expect or what the expected behaviour here is or what eksctl should do in this case.

Further, please try to be more explicit or more descriptive in your issues. It takes a some time and effort to figure out what you mean / wh

[2022-03-20 22:13] ndegory opened #4981 "[Bug] IAM Service Account creation retries fail because of cloudformation stack status"
### What were you trying to accomplish?

Infrastructure provisioning workflow with 2 steps, first Terraform for IaaS resources, and second eksctl for EKS related resources. The Terraform job includes creation of custom IAM policies that are used by the service accounts defined in the EKS cluster config.
When the configuration is not consistent between these two steps, the EKS related job may fail.

[2022-03-20 22:24] matti commented on #4980
sorry, let's try again:

- when eksctl ipv6 cluster is created
- and managedNodeGroup is used with instanceSelector:
- then eksctl instanceSelector returns instances of with hypervisor both `xen` and `nitro`

--> ipv6 cluster nodes **need** to be `nitro`

the bug: there is no way to use eksctl instanceSelector so that instances returned would be `nitro` only.

the workaround: stop using instanceSe

[2022-03-21 02:02] #4522 closed

[2022-03-21 05:00] jforge commented on #1070
@orsenthil This works, but is not the required solution. Using the Web-UI is just an emergency way working with (expensive) AWS resources; normally I want to kill clusters automatically that are no longer in use,  and for this the Admin User must be enough like for other resources.

Is this sill not possible, and why not (exactly)?

[2022-03-21 05:34] Skarlso commented on #4980
Thank you! ❤️

[2022-03-21 08:35] dvkvarma commented on #4940
I'm also running into the same error after upgrading eksctl to 0.88 version.

Below is error from cloud formation console.

`No export named eksctl-<cluster-name>-cluster::ClusterSecurityGroupId found. Rollback requested by user.`

[2022-03-21 10:37] matti commented on #4979
hmm, why would anybody want to run `eksctl delete cluster` without `--wait --force` ?

[2022-03-21 10:38] matti commented on #4979
why is there no `--force` for `eksctl delete nodegroup`, only `--wait`

[2022-03-21 12:39] zvazquez commented on #4940
The error in Cloudformation is what I mentioned on my original message

No export named eksctl-sandbox-cluster::ClusterSecurityGroupId found. Rollback requested by user.

Nothing else.

[2022-03-21 17:56] Himangini commented on #4978
Hi @matti. Thanks for reporting this bug 👍 If you have a fix in mind, we are happy to accept PRs, otherwise the core team will get to it soon.

[2022-03-21 17:58] Himangini commented on #4980
Hi, @matti  Thanks for reporting this bug 👍 If you have a fix in mind, we are happy to accept PRs :)

[2022-03-21 18:07] matti commented on #4978
@Himangini sorry I'm not familiar enough with the codebase to make a fix. I'm currently workarounding this by deleting the failed stacks.

[2022-03-21 18:12] matti commented on #4980
@Himangini I think the most straightforward fix would be to extend instanceSelector schema.

currently instanceSelector allows following fields:

[code]

the minimum would be to add `hypervisor`

[code]

and also potentially other fields as discussed in https://github.com/weaveworks/eksctl/issues/3718

then, I think some validation would be in-order so that if user tries to create ipv6 cluster wit

[2022-03-21 18:21] Himangini commented on #4981
@ndegory Thanks for opening the detailed issue and a follow-up PR ⭐  We will review the issue and PR soon. 👍🏻

[2022-03-21 19:19] matti commented on #4980
note: metal instances will soon work even without nitro https://github.com/aws/amazon-vpc-cni-k8s/pull/1937

[2022-03-21 19:36] Himangini commented on #4764
thanks, @Denn0. We have updated some docs around this [here](https://github.com/weaveworks/eksctl/pull/4831)

[2022-03-21 19:36] #4764 closed

[2022-03-22 07:41] cPu1 commented on #4312
@doctorpangloss The EKS team is working on a new API that'll eliminate the need for manipulating `aws-auth`. We are waiting for that before adding any new features around `aws-auth`.

[2022-03-22 09:39] aclevername commented on #4705
https://github.com/weaveworks/eksctl/pull/4966

[2022-03-22 09:39] #4705 closed

[2022-03-22 11:29] ottokruse commented on #4827
I was able to install Karpenter 0.7.1 with eksctl 0.86.0 (nothing special, just worked)

Now after upgrading eksctl to 0.88.0 I've found I can no longer install Karpenter 0.7.1 with eksctl

`Error: failed to validate karpenter config: failed to validate karpenter config: maximum supported version is 0.6`

Is this pinning a good idea? Would have been nicer to throw a warning or so, let the user dec

[2022-03-22 12:25] aclevername commented on #4705
this applied to all nodegroups types in the end, the original ticket was incorrect :smile: I'll update it

[2022-03-22 14:11] #4816 closed

[2022-03-22 15:22] aclevername commented on #4827
Please open an issue about adding support for `0.7` :smile:

So prior to this feature we had the issue of users installing versions of karpenter that we didn't support, that might be because the AWS resources required for karpenter had changed, or because you needed to provide different helm values to the chart. To prevent users getting those errors we pinned the version to one that *we know for s

[2022-03-23 00:53] jerryjs opened #4990 "[Feature] carry any IRSA ARN as postbuild substitute vars for gitops flux bootstrap"
### What feature/behavior/change do you want?
On eksctl create cluster that generates one or more IRSA arn then pass them as gitops flux flags such that they can be used as flux kustomize postbuild substitute vars

### Why do you want this feature?
This feature enhancement will allow a complete flow thru from cluster creation to flux bootstrap with kustomizations.

[2022-03-23 01:41] hq6 opened #4991 "[Feature] Change `overrideBootstrapCommand` semantics to preserve environmental variables"
### What feature/behavior/change do you want?

Recently, I've been experimenting with `overrideBootstrapCommand` and discovered that specifying this option for a `nodeGroup` completely replaces the userData.

When I do not specify `overrideBootstrapCommand` for a node group, the node's userData writes three files and then executes all the latter two.
 * `/etc/eksctl/kubelet.env`
 * `/var/lib/cloud

[2022-03-23 09:46] ottokruse commented on #4827
Thanks for the responses!

Haha but I'd be back a month later for 0.8 then, and a month after that for 0.9 ... :)

I installed Karpenter using the helm chart now.

I really liked I could do it with `eksctl` though, so nice and simple!

But I did worry about it doing too much for me under the hood, and if I'd be in trouble later on perhaps. A knowledgeable colleague of mine said this about installi

[2022-03-23 10:00] cPu1 opened #4993 "Eliminating usage of `aws/aws-sdk-go` (v1) STS is blocked on `sigs.k8s.io/aws-iam-authenticator/pkg/token`"
As part of migrating to AWS SDK v2 (#4877), eksctl will migrate the usage of all AWS SDK v1 clients to AWS SDK v2. The dependency `sigs.k8s.io/aws-iam-authenticator/pkg/token`, however, is still using the STS v1 client, preventing us from eliminating all usages of AWS SDK v1. We can work around this by providing a wrapper implementation that satisfies the `stsiface.STS` interface and uses the v2 c

[2022-03-23 10:11] labaq commented on #1066
Hi @eightlimbed i have same issue recently, have you resolved it?

[2022-03-23 10:39] cPu1 opened #4994 "Avoid maintaining a script for generating interfaces from structs"
https://github.com/weaveworks/eksctl/pull/4926 added a program for fixing interfaces generated from structs by the ifacemaker tool. This issue is to find a path forward so that we don't have to maintain this code in eksctl, potentially by contributing a fix upstream to ifacemaker.

[2022-03-23 10:55] hintofbasil commented on #4705
I guess I should have read the PR rather than the title change!

Thanks for the work to get this feature pushed out.

[2022-03-23 13:13] #4944 closed

[2022-03-23 13:52] afirth commented on #1571
@aclevername Without this change, cluster-autoscaler scale up from 0 ([eksctl docs](https://eksctl.io/usage/autoscaling/#scaling-up-from-0)) doesn't work with managed node groups.
Is it that eksctl can't implement this, or doesn't prioritize? If the latter, are you open to community contributions?
Either way, I'd like to reopen this for either a docs update to make it clear that it only works with

[2022-03-23 13:56] #4877 closed

[2022-03-23 14:40] aclevername commented on #1571
absolutely!

:+1:

[2022-03-23 15:32] Himangini commented on #1571
@aclevername isn't this related to what @Skarlso is working on here https://github.com/weaveworks/eksctl/issues/4853 🤔  maybe I am missing something.

@afirth thanks for your comments, we are happy to accept PRs if you have a fix in mind 🙌🏻 🎉

[2022-03-23 16:28] RPM8887 opened #4996 "[Bug] KarpenterNodeRole creation fails due to missing permissions boundary"
### What were you trying to accomplish?
Trying to generate a cluster with karpenter enabled but need to rely on permission boundaries.

### What happened?
When eksctl tries to generate the KarpenterNodeRole it fails as it's not applying the needed permission boundary to the IAM roles:

`AWS::IAM::Role/KarpenterNodeRole: CREATE_FAILED – "API: iam:CreateRole User: arn:aws:sts::xxx:assumed-role/MyRol

[2022-03-24 07:26] cPu1 commented on #4631
@rayterrill, did you get a chance to work on this? :slightly_smiling_face:

[2022-03-24 09:03] fbuchmeier-abi opened #4997 "[Bug] Managed Nodegroups are not supported for this cluster version - when running Kubernetes 1.21, Platform eks.2 and eksctl > 0.85"
### What were you trying to accomplish?

Trying to create managed node groups from cluster config file:

[code]

on a cluster running Kubernetes Version 1.21 and Platform Version eks.2

### What happened?

ekcstl refuses to create new managed node groups because the cluster needs to be "updated" first.

### How to reproduce it?

Use one of the following eksctl versions:

- 0.86
- 0.87
- 0.88

The

[2022-03-24 09:08] cPu1 commented on #4997
Thanks for the detailed issue.

This observation is correct. It's a regression. We're going to prioritize working on this issue.

[2022-03-24 11:22] cPu1 commented on #4934
Closed by https://github.com/weaveworks/eksctl/pull/4926.

[2022-03-24 11:22] #4934 closed

[2022-03-24 11:23] cPu1 commented on #4914
Closed by https://github.com/weaveworks/eksctl/pull/4926.

[2022-03-24 11:23] #4914 closed

[2022-03-24 13:50] pkit commented on #4977
+1 here.
Nodegroup creation failed because of AWS quota limit, when quota was increased `eksctl create nodegroup` happily exists although the CF stack is in failed rollback state.
I think in light of my previous issue #4941 something needs to be done about the whole cloud formation strategy.

[2022-03-24 13:51] pkit commented on #4941
It seems like `apply` is needed after all, if any error leads to totally inconsistent state...

[2022-03-24 13:56] lanecm opened #4998 "Getting unable to determine AMI in us-east-1 for Bottlerocket"
Hello... I'm getting the following error when trying to create bottlerocket nodegroup in `us-east-1` :

[code]

I've updated a number of other clusters and I haven't seen this error before. I did find this issue:

https://github.com/weaveworks/eksctl/issues/1606

but that's a different region.

Config file snippet:

[code]

I'm just trying to create the non-gpu nodegroup at the moment. Please let

[2022-03-24 14:07] cPu1 commented on #4998
@lanecm, can you post the full `ClusterConfig` that does not have any syntax errors? Please post the contents of `k8s/eksctl/kube.yaml` after redacting any sensitive information.

[2022-03-24 14:19] lanecm commented on #4998
Hello... Yes, of course, entire file:

[code]

[2022-03-24 20:38] rayterrill commented on #4631
I didn't - We ended up going in a different direction (CAPI).

[2022-03-25 00:21] carlosleoliveira commented on #4918
Hi!
There's a way to revert my stack? I'm send a screenshot of eksctl get iamserviceaccount on my cluster. All other eksctl commands is working. I think that I delete this iamserviceaccount in a wrong way, now I can't find a way to fix.
![image](https://user-images.githubusercontent.com/60003832/160030437-4c4946ae-fae5-468a-8f14-80c2fca505df.png)

[2022-03-25 17:12] jerryjs commented on #4990
@stefanprodan -- Hi Stefan. Nice to meet you. Guessing you will know what I am referring to. Enabling such a capability would greatly assist in complete automation from cluster creation thru flux management. I can dig in the code to cobble something together between eksctl and flux but guessing you might have already considered this kind of feature request/general integration. I am sure you are ve

[2022-03-25 22:12] obiordu opened #5006 "Managed node group upgrade using AWS customer AMI"
Attempts to implementing a continuos process for the creation and update of eks cluster api and managed node groups using eksctl are not possible for nodegroups using customer/user AMIs.

This process uses our own AMIs that are produced from AWS's default amazon2 images that are patched with minimal addons.

The workflow for using eksctl does not allow for upgrading managed node groups (e.g 1.20)

[2022-03-26 22:04] kryfin commented on #4438
Got the same issue, but resolve when change the default region to required region, hope it will help in the future

eksctl delete cluster --region=<YOUR-REGION> --name=test-cluster-1

[2022-03-26 23:28] Spongman commented on #4438
ugh. stalebot closing issues is a guarantee of decreased quality.

[2022-03-28 08:30] Skarlso opened #5007 "[Task] Remove deprecated DisableASGTagPropagation"
### Description

https://github.com/weaveworks/eksctl/pull/4962 removed the usage of this field.

After a while, delete this field.

[2022-03-28 08:35] Skarlso commented on #4918
Can you try running `eksctl delete iamserviceaccounts`?

[2022-03-28 10:22] Skarlso commented on #4996
Hi @RPM8887 Please note the minimum required IAM permissions in this document https://eksctl.io/usage/minimum-iam-policies/ and make sure your user is allowed to perform these operations.

[2022-03-28 13:34] Skarlso commented on #4917
Hi, sorry, I was out with covid.

@metasim this is still a thing, right?

[2022-03-28 15:14] lanecm commented on #4998
Hello! I just wanted to check in and see if any ideas about what might be going on?

[2022-03-28 19:08] Himangini commented on #5007
After 6 months as per deprecation policy, so around or after 28-08-2022 remove this field.

[2022-03-28 19:44] adamjohnson01 commented on #4631
I am happy to implement this.

[2022-03-28 19:46] RPM8887 commented on #4996
Hi! My role does indeed allow me to create roles, as long as I apply the permission boundary. Bear in mind this only happens when adding karpenter to the recipe, the rest of the roles that eksctl provisions are created successfully applying the specified boundary

Also, I have no issues if I manually add karpenter to my clusters by creating the documented karpenter controller and node roles specif

[2022-03-28 19:50] Skarlso commented on #4996
Interesting. In testing all of this together, everything worked. It does only come up for Karpenter because that's a different beast creating Managed Policies for example.

I will have to test this, although, we didn't change anything around this code path. But I'll try to reproduce it tomorrow.

[2022-03-29 08:30] Skarlso commented on #4885
Blocked by https://github.com/weaveworks/eksctl/issues/4993

[2022-03-29 08:50] Skarlso commented on #4993
Even if we do provide a wrapper implementation the dependency will not go away completely, since the implementation will have to import input and return types. :( :sadpanda:

[2022-03-29 11:30] nikimanoledaki opened #5015 "Backfill unit tests for `eksctl create cluster`"
## Context
The test coverage for `eksctl create cluster`, one of the most important commands of eksctl, is quite low. This blocks any refactoring efforts around this command because it can lead to regressions and bugs. This ties back to both the testing spike as well as the validation spike: we need solid unit tests before refactoring things such as how we do the validation for this command.

## S

[2022-03-29 12:19] Skarlso commented on #4981
Hi @ndegory.

You are correct. `eksctl` is not declarative. It's imperative. Meaning, you have to run a delete than create if something went wrong. It won't detect existing things.

[2022-03-29 12:20] Skarlso commented on #4991
This will change once https://github.com/weaveworks/eksctl/pull/4968 is merged. Please read the description of that PR and corresponding announcement and tickets. :)

[2022-03-29 14:43] afirth commented on #1571
#5002 is open for review to fix this.
@cPu1 the problem with that is that cluster autoscaler is looking at the ASG tags

[2022-03-29 16:13] ddollar opened #5021 "Create cluster config file from CLI"
### What feature/behavior/change do you want?

The ability to create a full cluster config file from the CLI. One could specify a few `--options` and `--dumpconfig` and the entire state of the CLI's default configuration plus the options specified would be dumped to stdout.

`eksctl cluster create --name foo --region us-east-1 --dumpconfig > cluster.yaml`

### Why do you want this feature?

I have

[2022-03-29 16:14] #5021 closed

[2022-03-29 16:14] ddollar commented on #5021
Nevermind, just found `--dry-run`

[2022-03-29 16:14] aclevername commented on #5021
@ddollar have you tried the dry-run feature? https://eksctl.io/usage/dry-run/

[2022-03-29 22:23] ndegory commented on #4981
@Skarlso, fair enough, but right now, under certain conditions, the iamserviceaccount command lets you think the cluster state matches the specifications from the config server YAML file (because no actions, no errors), although some resources are not in the expected state. This action is not atomic, which is problematic for an imperative command.
The PR I submitted for this ticket may go too far

[2022-03-30 02:04] #4517 closed

[2022-03-30 06:50] cPu1 commented on #4998
You're using the `auto` AMI resolution method which we do not support for Bottlerocket. The error message here could've been more descriptive though. Please remove the `ami: auto` field from your nodegroup config and it'll work.

[2022-03-30 06:55] Skarlso commented on #4981
@ndegory We decided to pull this into planning and will think of a nice solution that will still leave the command consistent with other commands. :) There was something similar previously that deals with the nature of iamserviceaccount commands here: https://github.com/weaveworks/eksctl/issues/4941. It's not similar in the problem but similar in the nature that existing or non-existing resources

[2022-03-30 08:56] cPu1 commented on #4517
@ngoyal16, this issue is stale now, please open a new issue if you have more questions.

[2022-03-30 09:19] StarpTech opened #5023 "[Feature] Upgrade Karpenter to 0.8.0"
### What feature/behavior/change do you want?

Currently, we only allow Karpenter 0.6.x. It should be possible to install the second last minor.

### Why do you want this feature?

Karpenter has fixed [a bunch](https://github.com/aws/karpenter/compare/v0.6.5...v0.8.0) of things.

[2022-03-30 09:35] Skarlso commented on #5023
@StarpTech Hi. :)

Because Karpenter is still very much in flux, we pin to minor versions in attempt to keep the integration working.

Every minor change can be a breaking change, because Karpenter is in development at the moment. While the Karpenter team tries not to break things, they sometimes can, and should break things when moving about settings or deciding to scrape some thing or do some ot

[2022-03-30 09:44] StarpTech commented on #5023
I totally agree with you. Does ekctl also take care of migrations? I opened a [ticket](https://github.com/aws/karpenter/issues/1596) in the karpenter repository. IMO it would make sense if the feature is maintained by the team. Out of curiosity, for OSS contributions, is there a discount to work with eksctl?

[2022-03-30 09:57] Skarlso commented on #5023
I'm afraid not. :D Would be cool though. :D

The `eksctl` team is the one keeping the versions up-to-date IMHO. But I'm not sure about the procedure. This is relatively recent thing, so we are still working on figuring it out. :)

[2022-03-30 10:00] StarpTech commented on #5023
Thanks!

[2022-03-30 10:05] Skarlso commented on #4996
Oh! I think I know what's going on. And you're right. The created role does not have the permission boundary applied! Nice catch. :)

[2022-03-30 10:14] Skarlso commented on #4996
@RPM8887 Hi. If it's possible, would you mind testing https://github.com/weaveworks/eksctl/pull/5024?

I'm also creating a cluster, but I obviously, don't have your entire configuration and infrastructure and IAM settings. :)

[2022-03-30 12:07] lanecm commented on #4998
I've tried with the usual `auto-ssm` and removed the `ami` field entirely and I still get an error:

[code]

[2022-03-30 13:00] Himangini commented on #4994
In case the upstream PR doesnt go through, we should make sure our side of things are well tested and we should add tests for it

[2022-03-30 13:16] Himangini commented on #4981
We will reproduce this on our side and help with the PR for adding the validations

[2022-03-30 14:30] Himangini opened #5027 "[Bug] Fix Slack notifications for releases"
Failed run for [RC](https://github.com/weaveworks/eksctl/actions/runs/2064350007) :sob:

Related ticket: https://github.com/weaveworks/eksctl/issues/4944
Seems like the notifications added as part of this ticket aren't working as expected and are failing with the error

[code]

_Edit_: In addition, start publishing in `aws-dev` channel as well.

[2022-03-30 15:52] Himangini commented on #5027
We also stopped publishing success release messages on `aws-dev` channel which was missed in the related ticket. As part of this one we should add it back

[2022-03-30 17:52] jerryjs commented on #4990
Thanks @stefanprodan for responding and your IRSA example reference. What I am trying to do is "like" that -- but not for flux itself -- and I want it to happen as part of flux initial processing post-bootstrap.

So I am referring to IAM roles for service accounts that are created by eksctl config for cloudwatch-agent and fluent-bit as part of installing container-insights. I want to be able to ca

[2022-03-31 06:31] Skarlso commented on #1253
Gotcha, thanks. I'll look into this.

[2022-03-31 06:54] Skarlso commented on #1253
As per CloudFormation, we should be able to define a MountPoint which should do the trick. If that doesn't work however, then there is little as to what `eksctl` can do I'm afraid.

[2022-03-31 07:08] Skarlso commented on #1253
Sadly there is no option to auto mount a volume. And we no longer manipulate the userdata with custom scripts of our own that overwrite existing scripts.

You'll have to add a small script in override so the mounts are mounted upon launch. :/ Sorry.

[2022-03-31 07:10] Skarlso commented on #1253
For more info see https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-using-volumes.html.

I'm going to close this issue for now with this information. Please feel free to reopen if you stumble upon any other solution. Thanks!

[2022-03-31 07:10] #1253 closed

[2022-03-31 07:26] Skarlso commented on #4981
@ndegory Ok, so, the decision is as follows... create will still not be much aware about the circumstances and the infrastructure you run it on. If there were things that you created outside of eksctl that won't really matter for eksctl. Again, it's not a declarative tool.

That said! We can certainly improve upon this part:

Mainly this: **(the missing pre-requisite)**.

Are you willing to adjust

[2022-03-31 07:36] #4996 closed, assigned to Skarlso

[2022-03-31 07:49] #4930 closed

[2022-03-31 08:03] Skarlso commented on #5027
The slack notification is working as it can be seen here:
https://github.com/weaveworks/eksctl/runs/5767330437?check_suite_focus=true

It might have been some kind of fluke. The error suggests that the token wasn't sent along.
<img width="566" alt="Screenshot 2022-03-31 at 10 02 08" src="https://user-images.githubusercontent.com/182850/161007011-b962201a-4bdf-452c-95c1-8d904f4580c3.png">

I sugges

[2022-03-31 08:07] #4880 closed

[2022-03-31 08:58] Himangini commented on #5027
@Skarlso we need to add the notifications to `aws-dev` channel too. These need to work for releases so we need to make sure slack notifications are sent for releases, not just test runs.

[2022-03-31 09:17] Skarlso commented on #5027
This was an addition on the comments, not part of the original description. :)

It's practically irrelevant from where this has run because the configuration is the same. The point of the test was to see if the token is there or not and it's being used correctly which is what the test was for.

In any case, I guess this needs to be edited to include sending notification on an additional channel, a

[2022-03-31 23:25] doctorpangloss opened #5037 "[Bug] I should be able to create a Windows nodegroup with GPU instances (revert #4243)"
### What were you trying to accomplish?
Create a Windows node group on an NVIDIA GPU instance

### What happened?
The error from https://github.com/cPu1/eksctl/blob/4bcff91151570a1a15a2a0d8d07ae33799500380/pkg/apis/eksctl.io/v1alpha5/validation.go#L286

### How to reproduce it?
[code]

**Logs**

[code]
**Anything else we need to know?**

It's my prerogative to install the necessary drivers on thes

[2022-04-01 01:42] charlie-fox opened #5038 "[Bug] "-o json" of "eksctl get iamidentitymapping" will return 2 lines of log to make json parser failed"
### What were you trying to accomplish?

[code]

### What happened?

0.89.0

Besides the json response which is expected, it would also return 2 lines of log, for example:
[code]
Some tools is using the json output to parse aws_auth information, it would make them failed.

For example, in a very popular 3rd party eksclt terraform provider (https://github.com/mumoshu/terraform-provider-eksctl)

in

[2022-04-01 01:48] charlie-fox commented on #5038
in 0.79.0, no such extra log line, will return pure json output

[2022-04-01 02:10] #4572 closed

[2022-04-01 07:15] Skarlso commented on #4994
Once the PR lands, we can remove the script and change generate script to look like this:

[code]

And everything should work. :)

[2022-04-01 07:19] Skarlso commented on #5027
Huh, the action doesn't allow for a list of channel names... What a bummer.

[2022-04-01 07:26] Skarlso commented on #5027
For what it's worth, I opened: https://github.com/actions-ecosystem/action-slack-notifier/issues/334

And will be implementing it shortly. Let's hope it gets merged, otherwise, I will just duplicate the action for now ¯\\\_(ツ)\_/¯

[2022-04-01 07:35] cPu1 commented on #5038
Thanks for the detailed issue. I can confirm it's a regression and will break tools that parse the output. We're going to prioritize working on this issue.

[2022-04-01 08:05] tanvp112 commented on #5038
You can use `-v 0` to suppress log output, example ` eksctl get iamidentitymapping --region <region> --cluster <cluster> -o json -v 0` will only print the json data.

[2022-04-01 10:23] Skarlso commented on #4981
@ndegory Sadly, that would be going too far. I mean, that could result in detecting a stack which isn't the stack you want. Or happens to be there because of the same name. If there would have been a stack that had been created during the create and would have failed the create would have failed, right?

Or are you saying that the create just happily jugged on even if the stack failed to CREATE_CO

[2022-04-01 10:25] Skarlso commented on #4917
I have unable to reproduce this. :/ Waiting for some comment if this still is an issue.

[2022-04-01 10:39] aclevername commented on #4865
After chatting with @kdaula I think this story is incorrect. https://github.com/weaveworks/eksctl/issues/4916 will add support for ARM GPU Managed nodegroups. Unmanagd nodegroup support for ARM GPU nodes does not currently exist, there is no AMI you can query to fetch for AL2/Ubuntu. Until this is added we can't add support.

This story should change instead to error out early (we currently error

[2022-04-01 11:32] cPu1 commented on #4878
Closed by https://github.com/weaveworks/eksctl/pull/4937.

[2022-04-01 11:32] #4878 closed

[2022-04-01 12:19] Himangini opened #5045 "Fix publishing docs after release"
After release 0.90 the publishing docs [workflow failed](https://github.com/weaveworks/eksctl/actions/runs/2076966745). Needs investigation and fixing this so we are able to publish docs again

[2022-04-01 12:24] Himangini commented on #5027
Another run for Release 0.90 [failed](https://github.com/weaveworks/eksctl/actions/runs/2076720034) with the same error
[code]

[2022-04-04 08:37] #4993 closed

[2022-04-04 08:54] #4441 closed

[2022-04-04 09:28] #4879 closed

[2022-04-04 11:23] #5045 closed

[2022-04-04 12:21] Skarlso commented on #5027
The channel update is not yet done.

[2022-04-04 13:33] cPu1 opened #5062 "[Task] Remove support for EKS 1.18"
EKS will drop support for creating 1.18 clusters soon. This issue is to [track this change](https://github.com/aws/containers-roadmap/issues/1630) and remove support for creating new EKS 1.18 clusters.

[2022-04-04 13:57] #4885 closed

[2022-04-04 14:34] Skarlso commented on #5015
This will be much more than a 3.

[2022-04-04 15:10] Skarlso commented on #5015
Hmmm... orrrr..... we could use a test environment flag which would be a URL that overrides all of the services. So we could test with a `httptest` server and still test create cluster to check if the right calls are made.

[2022-04-04 19:06] praneshpandurangan-at commented on #1253
@Skarlso on behalf of Alex: I upgraded to 0.90.0, and was able to supply multiple volumes in the config, and it works as promised!

Thanks a lot for your work on this, we really appreciate this!

[2022-04-04 19:07] Skarlso commented on #1253
Fantastic! :) Glad it works. :)

[2022-04-05 03:54] melodyyangaws commented on #1253
@praneshpandurangan-at,  do you mind to share your `preBootsrapCommands` or config script in terms of how to mount multiplevolumes? In my case, we have 3 EBS + 1 NVMe SSD. The following is how I mount the NVMe:
[code]

[2022-04-05 07:41] Thomas999999 opened #5063 "eksctl does not support kubernetes version 1.22"
Dear Support,

since today AWS has released 1.22 kubernetes version for EKS, but latest version of eksctl does not support 1.22:

[ec2-user@ip-192-168-4-4 bin]$ cat eksctl_create.sh
eksctl create cluster --managed=false --name aws-d021970122 --region eu-west-1 --tags "instance_group_01=data_intelligence,pqp_testnumber=d021970122,shutdown_status=true,sec-by-def-network-exception=SSH" --**version 1.

[2022-04-05 07:42] Skarlso commented on #5063
Hi. :)

Follow the PR here :) https://github.com/weaveworks/eksctl/pull/4915

[2022-04-05 10:36] darrylweaver opened #5068 "[Bug] Setting custom VPCs generates availabilityZones config, when it should not."
### What were you trying to accomplish?
I am creating an EKS cluster with existing VPCs.
I run the command:
`eksctl create cluster -n darryl-demo-cluster-test --dry-run  --vpc-private-subnets=subnet-0b51d52eb1cc34acc,subnet-090124c9df9ed8b3c,subnet-0847827b4506c74fd --vpc-public-subnets=subnet-04bc97117eac64464,subnet-009824661692a9c65,subnet-08f441b216eaf5506 > eks-management-cluster.yaml`

I the

[2022-04-05 10:56] Himangini opened #5069 "[Task] Update contrib docs"
We need to update contribution docs to add information on how to run a specific integration tests suite locally.
Also, probably needs updates in the handbook.

[2022-04-05 13:10] aclevername commented on #5063
Release is out :smile: https://github.com/weaveworks/eksctl/releases/tag/v0.92.0-rc.0

[2022-04-05 13:10] #5063 closed

[2022-04-05 13:13] Skarlso commented on #5015
The httptest server works nicely. Sadly, not all of the endpoints go through v2 yet. So this is blocked until that is completely done.

[2022-04-05 17:12] praneshpandurangan-at commented on #1253
Hey @melodyyangaws! We do mounting work at node startup time. For our instance types (same as @glapark , m5d.x2large, but some are m5.foobar, ie, no instance store) AWS allows mounting upto 11 EBS volumes, and makes them available as nvme1n1, etc. Our script at startup time is effectively just

[code]
You can find the pathOfRootVolume (this is the one that eksctl automatically attaches) by parsing

[2022-04-05 18:40] ndegory commented on #4981
@Skarlso , correct, a stack created by a previous call to `iamserviceaccount create`. This is the Cloud, so we know issues can arise (networking, API errors, etc.) resulting in a failure that could be resolved if retried later.
The current problem with this command is that once it fails, retrying it without first deleting the rolled back stack doesn't complain about the state of the stack, it cons

[2022-04-05 19:41] etungsten opened #5074 "[Bug] Default `vpc-cni` add-on version not found when creating clusters"
### What were you trying to accomplish?

I'm trying to create a new IPv6 EKS 1.22 cluster.

### What happened?

Cluster creation fails after trying to set up vpc-cni add-on.
[code]

### How to reproduce it?

Create a cluster with the following cluster configuration:
[code]
Then ran `eksctl create cluster -f "${cluster_config_file}" --set-kubeconfig-context=false`

**Logs**

**Anything else we need

[2022-04-05 20:18] etungsten commented on #4998
Hi @lanecm , the Bottlerocket published NVIDIA variant AMIs only exists for cluster versions 1.21 and above. They do not exist for 1.20 clusters. That's why you're seeing the error when searching for the AMI. You can see the full list of Bottlerocket supported variants here: https://github.com/bottlerocket-os/bottlerocket/tree/develop/variants#variants

[2022-04-05 20:18] Skarlso commented on #4981
Yeah, okay, that is a fair point. I agree to that. Thanks for the explanation!

What I was trying to convey is that it should warn the user and not attempt to remedy the situation. Is that okay?

[2022-04-05 20:56] ndegory commented on #4981
we're aligned!

[2022-04-05 22:18] rawahars opened #5075 "[Bug] Windows nodegroups cannot be created using custom AMIs"
### What were you trying to accomplish?

I am trying to create Windows nodegroups using a custom AMI.
[code]

If the config file does not contain `overrideBootstrapCommand` then we get an error-
[code]

However, if we include `overrideBootstrapCommand` then we get the following error-
[code]

Therefore, in essence, we cannot create a Windows nodegroup with custom AMI IDs.

### What happened?

When

[2022-04-05 22:37] rawahars commented on #5075
This seems to be a regression from https://github.com/weaveworks/eksctl/pull/4968

[2022-04-06 00:11] melodyyangaws commented on #1253
Thanks for the details @[praneshpandurangan-at](https://github.com/praneshpandurangan-at). Let me give it a try.

[2022-04-06 06:52] Thomas999999 commented on #5063
I see only the prerelease and the normal download links does not provide v0.92.0:

[ec2-user@ip-192-168-14-227 ~]$ curl --silent --location https://github.com/weaveworks/eksctl/releases/download/v0.92.0/eksctl_Linux_amd64.tar.gz | tar xz -C /tmp

gzip: stdin: not in gzip format
tar: Child returned status 1
tar: Error is not recoverable: exiting now

######

 curl --silent --location "https://githu

[2022-04-06 06:55] Skarlso commented on #5063
[code]

If you remove `--silent` you will notice that, that link is actually incorrect. It's `https://github.com/weaveworks/eksctl/releases/download/0.92.0/eksctl_Linux_amd64.tar.gz`.

Notice that the version is not `v0.92.0` but `0.92.0`.

[2022-04-06 06:58] Skarlso commented on #5063
Right, so, how this works is that we promote an RC before we do a full release. Do get the RC download the following tag:

`https://github.com/weaveworks/eksctl/releases/download/v0.92.0-rc.0/eksctl_Linux_amd64.tar.gz`. This includes the support for 1.22. The next week will promote this RC to a full release if nothing breaking was detected during that time.

[2022-04-06 07:49] Skarlso commented on #4981
Excellent! :)

[2022-04-06 08:31] #4994 closed

[2022-04-06 09:13] Skarlso opened #5077 "[Feature] Update ginkgo to v2"
It's high time we update ginkgo

### What feature/behavior/change do you want?

I would like to be able to use the latest ginkgo version to run tests.

### Why do you want this feature?

Ginkgo has been updated to v2 ages ago. It's time we try to keep up. Also released some nice assertions and Expects.

[2022-04-06 09:50] aclevername commented on #5074
Thanks for opening the issue @etungsten , I've managed to reproduce this and am taking a look at a fix

[2022-04-06 13:40] #5027 closed

[2022-04-06 16:13] Skarlso opened #5081 "[Bug]"
### What were you trying to accomplish?

https://github.com/weaveworks/eksctl/pull/4963 introduced a flag which allowed to NOT create duplicate entries for iamserviceaccounts. We do allow that. It had a tiny bug in it which made it so that the duplicate check occurred without this flag being checked.

Relevant test run: https://github.com/weaveworks/eksctl-ci/actions/runs/2102860531

[2022-04-06 16:40] rawahars opened #5082 "[Feature] Support setting container runtime for EKS Windows nodes"
### What feature/behavior/change do you want?

Currently, Windows nodes running EKS 1.21 and 1.22 (to be released shortly) can be configured to use `containerd` as the alternate runtime. This feature request is for adding the support for the same to eksctl.
Reference- https://docs.aws.amazon.com/eks/latest/userguide/eks-optimized-windows-ami.html#containerd-bootstrap-windows

Last year, Linux supp

[2022-04-07 05:10] Skarlso commented on #5082
Hi!

Thank you for your request! I'll take a look at this. :)

[2022-04-07 05:15] Skarlso commented on #5082
I don't see why we couldn't provide this feature. For managed nodegroups only though. Since for unmanaged, we no longer provide our own bootstrapping.

[2022-04-07 06:14] #5081 closed

[2022-04-07 06:53] rawahars commented on #5082
Thanks @Skarlso

I just took a quick look at the PR which is linked to this issue.

Just wanted to mention that on Windows, the allowed values for `ContainerRuntime` flag are `docker` and `containerd`.
On Windows, we do not use `dockerd` for specifying docker runtime.

[2022-04-07 06:54] Skarlso commented on #5082
Oh you're right. Thanks for note. Wow, why the heck is it different from linux? :think

[2022-04-07 07:00] rawahars commented on #5082
Well, when docker runs on Windows node, it is started as a Windows service named `docker`. Similarly, containerd also starts as a `containerd` Windows service.

One of the reasons 😄

[2022-04-07 07:01] Skarlso commented on #5082
Aaaaahh. :DDD Okay, thanks, that at least makes SOME sense. :D

[2022-04-07 07:30] Skarlso opened #5085 "[Doc] Update the migration announcement to include private nodegroups"
It might not be perfectly clear that you need to private the api endpoint and the CA certificate if your nodegorup is private or can't join the cluster for some reason.

[2022-04-07 08:26] cPu1 commented on #5085
To be more specific, for nodegroups that have no outbound internet access, you'll need to supply `--apiserver-endpoint` and `--b64-cluster-ca` to the bootstrap script. I have also left this a comment on the PR.

[2022-04-07 08:33] Skarlso commented on #5085
I think that's what I said, didn't I? :D

[2022-04-07 08:57] #5085 closed

[2022-04-07 10:23] nikimanoledaki opened #5087 "[Task] Remove deprecated AZ field for subnets"
## Context
Subnets currently have a 1:1 mapping with AZs. This is hardcoded in the eksctl codebase. We need to allow for other types of zones such as Local Zones and other types of zones in the future.

Given this 1:1 mapping, the most straightforward way to do this is to rename the AZ field to Zone. However, this is a user-facing field, so while we can already add a new field `Zone`, we also need

[2022-04-07 10:34] nikimanoledaki commented on #4734
One important thing that was missed was that subnets currently have a very tightly coupling with AZs. In fact, we have a 1:1 mapping between AZs and subnets throughout the codebase. For example, see [here](https://github.com/weaveworks/eksctl/blob/main/pkg/apis/eksctl.io/v1alpha5/vpc.go#L30:L49) and [here](https://github.com/weaveworks/eksctl/blob/main/pkg/apis/eksctl.io/v1alpha5/vpc.go#L274-L328)

[2022-04-07 10:47] aclevername commented on #5074
I have opened a PR to fix the issue #5078, @etungsten in the meantime a simple workaround would be to set the version to `version: latest` for the vpc-cni, or any specific version you like :smile:

[2022-04-07 14:07] Skarlso opened #5089 "[Bug] Don't sort iamserviceaccount groups if the `no-duplicate-arns` is false"
[code]

CompareIdentity sorted the groups. This is not needed in case the duplicate arns is not enabled. So this should be switched around.

[2022-04-07 14:53] nikimanoledaki commented on #4734
Ah yep the key and `az` field should be the same, you're right :)

Huh. You raise a very interesting point about the key of the map. Yes, that key is the AZ/Zone. Would you say that could be `Option 3` - remove the dependency on the `AZ` field and instead read/set the key as the AZ/Zone?

We would still need to deprecate the `AZ` field. That would also require quite a lot of refactoring as we woul

[2022-04-07 15:03] aclevername commented on #4734
:+1:

Yeah its defo an option :grin: its almost 2x breaking changes though (removing `az` field and mandating the key be the zone), but it almost feels like an even cleaner end outcome since it feels weird that we support setting the AZ via the key or the `az` field. I wonder if theirs any other reason why we support these two different methods

:ok_hand: makes sense. Seems good to me

[2022-04-07 15:08] nikimanoledaki commented on #4734
Ah no! The key of the map does not necessarily have to be an AZ. It can be named something else such as `public-1` - either way, it becomes the name of the subnet. So it can sometimes correspond to the AZ of the subnet, but it's not guaranteed to be the AZ name.

[2022-04-07 15:24] aclevername commented on #4734
Chatting with @nikimanoledaki on slack we realised option 3 wouldn't work, as the key name can be used for referencing the subnets in nodegroups. E.g.:
[code]

[2022-04-07 15:48] mhuguesaws opened #5090 "[Feature] Change EFA plugin Daemonset for the new instance type supporting EFA"
Current EFA plugin Daemonset supports the following instance types:
[code]

There are new instance types that support EFA, https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/efa.html#efa-instance-types. This ticket aims to add additional instance type x86_64 that support EFA.

[code]

[2022-04-07 15:57] #5089 closed

[2022-04-07 16:11] #5074 closed, assigned to aclevername

[2022-04-07 16:19] jack-evans opened #5091 "[Feature] enable encryption of nodegroups via flags"
### What feature/behavior/change do you want?

In order to encrypt node volumes, a user must create a config file and provide `volumeEncrypted: true`, it would be very handy if the CLI supported this via arguments as well for the standard nodegroup created through a create cluster or create nodegroup command.

### Why do you want this feature?

Not all users use the config file and would assume th

[2022-04-08 00:13] cartermckinnon opened #5092 "[Bug/Question] Compatibility testing with EKS-optimized AMI"
### What were you trying to accomplish?
I'm on the EKS team and work on our AMI. When we build a new AMI for release, we run compatibility tests for recent `eksctl` releases. These tests create an unmanaged nodegroup with the AMI release candidate.

I'm having trouble authoring a test that succeeds for `eksctl` versions on both sides of this change: https://github.com/weaveworks/eksctl/pull/4968

[2022-04-08 05:09] Skarlso commented on #5092
Hi!

This is an interesting question! :)

You could try and replicate the bootstrapping that we did previously for `eksctl` unmanaged nodegroups and bootstrapping. As the attached issue says, we removed this because AMIs had a different way of bootstrapping and maintaining that was rather difficult.

I would say either change how you test using managed nodegroups or try and replicate all the setup

[2022-04-08 05:15] #5075 closed

[2022-04-08 05:19] Skarlso commented on #5091
Hi!

Thanks for your request.

Not all thr configuration options are available through the cli because we are trying to move away from using it too much. It became bloated and hard to maintain with 10-20 options to use.

That said, you can provide a config file from the cli using stdin. The config-file setting accepts input from stdin using `-` as input. So `--config-file -`.

In the meantime I'll

[2022-04-08 08:29] Skarlso commented on #5090
Thank you for you issue!

[2022-04-08 08:37] #5062 closed

[2022-04-08 08:46] cPu1 opened #5093 "[Task] Replace usage of `context.TODO()` with an appropriate `Context`"
As part of the migration to aws-sdk-go-v2, it was decided to propagate `Context` from the top-level commands to all AWS API calls. To avoid scope creep, `context.TODO()` was used at the top-level and propagated to all AWS API calls. This issue is for revisiting usages of `context.TODO()` in all top-level commands and finding out an appropriate `Context` to use where possible.

`create fargateprofi

[2022-04-08 09:47] cPu1 commented on #4734
I agree with adding a new top-level field `localZones`, instead of adding support for local zones in `availabilityZones`.

As for supporting a local zone at the subnet level, I'd suggest adding a new field `subnet.localZone`, instead of deprecating and renaming `subnet.AZ` to `subnet.Zone` for these reasons:

a. I believe only a few users will be using local zones and that does not warrant depreca

[2022-04-08 10:56] surapurajureshmi opened #5097 "Error: loading config file "eksworkshop.yaml": error unmarshaling JSON: while decoding JSON: json: cannot unmarshal string into Go value of type v1alpha5.ClusterConfig[Help]"
### What help do you need?

[2022-04-08 10:57] surapurajureshmi commented on #5097
Error: loading config file "eksworkshop.yaml": error unmarshaling JSON: while decoding JSON: json: cannot unmarshal string into Go value of type v1alpha5.ClusterConfig

[2022-04-08 10:58] surapurajureshmi opened #5098 "[Error: loading config file "eksworkshop.yaml": error unmarshaling JSON: while decoding JSON: json: cannot unmarshal string into Go value of type v1alpha5.ClusterConfigHelp]"
### What help do you need?

[2022-04-08 10:58] surapurajureshmi commented on #5098
Error: loading config file "eksworkshop.yaml": error unmarshaling JSON: while decoding JSON: json: cannot unmarshal string into Go value of type v1alpha5.ClusterConfig

[2022-04-08 10:58] surapurajureshmi commented on #5098
Error: loading config file "eksworkshop.yaml": error unmarshaling JSON: while decoding JSON: json: cannot unmarshal string into Go value of type v1alpha5.ClusterConfig

[2022-04-08 10:59] Skarlso commented on #5097
hello. :))

Did something went wrong when filling out the ticket? I'm guessing you missed some details? :)

Please provide at least the config file you are trying to parse. :)

Thank you!

[2022-04-08 11:29] Skarlso commented on #5098
Please try and submit a full ticket. :) I'm going to close this because it's borderline spamming now. :)

[2022-04-08 11:29] #5098 closed

[2022-04-08 11:33] tanvp112 commented on #5092
Hi @Skarlso,

Can I clarify with you; if not mistaken this file `/var/lib/cloud/scripts/eksctl/bootstrap.helper.sh` is not part of the stock EKS optimized AMI (both x86 and ARM). When `ami: $CUSTOM_AMI` is specified, `$CUSTOME_AMI` may well be just the latest EKS optimized AMI version at that point in time. This will instantly break eksctl (>=0.91) because starting this version eksctl no longer us

[2022-04-08 11:41] Skarlso commented on #5092
@tanvp112 Hi. :)

`bootstrap.helper.sh` is provided by `eksctl` as a migration helper script setting up a bunch of environment properties. So you can safely use that.

[2022-04-08 11:44] tanvp112 commented on #5092
You mean we need to bake `bootstrap.helper.sh` into a new custom AMI ourselves? Example, can you advise how this [example](https://github.com/weaveworks/eksctl/blob/main/examples/31-override-bootstrap-command-unmanaged-nodegroup.yaml) is tested - what is the AMI ID used here?

[2022-04-08 11:47] Skarlso commented on #5092
No, I mean `eksctl` creates this helper itself and supplies it if you use overrideBootstrap. It will be available. It won't be in the AMI.

[2022-04-08 11:49] Skarlso commented on #5092
Okay, so the way how this works is that previous `eksctl` set a custom user data with all the bootstrapping script right? So now, this won't happen. Once you define overrideBootstrap though, eksctl generates this helper and makes it available in the user data to be used by the custom script if that makes sense? :)

We actually created an integration test recently for this. :D You can find it here:

[2022-04-08 12:31] cPu1 opened #5099 "[Task] Migrate usage of AWS SDK v1 in integration tests"
As part of our effort to [migrate usage of aws-sdk-go (v1) to aws-sdk-go-v2](https://github.com/weaveworks/eksctl/issues/3215), the integration tests should also use aws-sdk-go-v2 for AWS API calls. This issue covers both configuring the SDK in integration tests, and replacing usage of SDK v1 AWS API calls with SDK v2.

[2022-04-08 12:40] aclevername commented on #5099
I've been making those changes as part of the regular tickets, do we need a separate ticket?

[2022-04-08 12:41] aclevername commented on #5099
https://github.com/weaveworks/eksctl/pull/5001/files#diff-36b539081bb77fa4b45ef7135b77d247f6b7792c640e5782f796da9e7383f200

[2022-04-08 16:16] jerryjs commented on #4990
Hi @stefanprodan. Just wanted to let you know I have made good progress on this integration issue between eksctl and flux. I ended up gathering the generated IRSA and putting that info in a configmap that is then applied to k8s and flux picks up in substituteFrom when it is bootstrapped.

[2022-04-08 17:11] Skarlso commented on #4990
@jerryjs hi. So is there something that eksctl can still do? Please understand that Stefan is usually not involved in contributing to eksctl. 😊 Although we do appreciate his help in many things. 😂 Do I understand correctly that you solved this problem or is there still something that you would like eksctl to do?

Cheers!

[2022-04-08 19:38] jerryjs commented on #4990
Hi @Skarlso. Yes, I have solved this problem. I will be cleaning up, putting test code, etc and do MR for review. Thanks

[2022-04-08 19:47] Skarlso commented on #4990
Thank you! Fantastic news! 😊

[2022-04-10 23:36] lanecm commented on #4998
Ah, okay... Thank you! I'll upgrade to 1.21 :)

[2022-04-11 05:36] Skarlso commented on #4734
Optionally, how about this. We provide the new top-level LocalZone setting. We use that to create the VPC and the subnets.
Then, in the nodegroup section, we continue to use the given availability zones that can contain local zones. But, we parse those out because LocalZones look differently from availability zones because of the third `-`. So the usage remains clear and people can use the same fi

[2022-04-11 05:54] Skarlso commented on #4734
Oh, and as a heads up, we'll have to coordinate with AWS to change the docs on this part once this is done:

[2022-04-11 06:06] Skarlso commented on #4734
After re-reading this a couple of times and the added docs and the EKS networking guide, I agree with Chetan but with a slight modification. @cPu1 what do you think about adding the subnet.localZone setting only for the unmanaged nodegroup section of the configuration? This way, we can be sure that managed nodegroup will not use those local zones when be created.

[2022-04-11 06:15] cPu1 commented on #4998
Please open a new issue if you have more questions.

[2022-04-11 06:15] #4998 closed

[2022-04-11 06:29] cPu1 commented on #4734
Sounds right to me, as this will also make the generated schema more accurate. (I wasn't suggesting adding `localZone` to the shared subnet struct).

[2022-04-11 06:44] Skarlso commented on #4734
Ah, my bad, gotcha.

[2022-04-11 07:01] Skarlso commented on #5097
Hello,

This looks like was opened in error. :) I'm going to close for now, but please feel free to re-open if you happened to have more information on the issue. :) Thank you!

[2022-04-11 07:01] #5097 closed

[2022-04-11 07:37] melodyyangaws commented on #1253
Want to share the final working solution. Just a minor change in the original script. It mounts all the available EBS & NVMe SSDs, except the root device volume:
[code]

[2022-04-11 12:40] alandsidel opened #5103 "Issue with partially created undeletable EKS cluster"
Today an attempt to create a new cluster with eksctl failed with the error **"us-east-1e, the targeted availability zone, does not currently have sufficient capacity to support the cluster"**.  When I attempted to create the cluster in another zone, I got an error stating "creating CloudFormation stack "test-cluster-cluster": AlreadyExistsException: Stack [test-cluster-cluster] already exists" tha

[2022-04-11 12:43] alandsidel commented on #5103
Thanks for the quick response, trying this now!

[2022-04-11 12:44] alandsidel commented on #5103
Worked perfectly, thanks.  Maybe the messaging in the initial error about insufficient resources should mention this -- I copied & pasted the recommended delete command from that message.

[2022-04-11 12:44] #5103 closed

[2022-04-11 13:14] Skarlso commented on #4734
After some investigation of the code and how this thing works, I have one observation to make here.

This will not work with CloudFormation during `cluster create`. The CloudFormation template **must not** contain the subnet which contains the local-zone mapping. Otherwise, it will fail creation because of the error above. There is no way to flag the subnet as **do not use** or anything like that.

[2022-04-11 14:18] lanecm commented on #4998
Just to close loop: upgrading to `1.21` solved the problem. Thank you again!

[2022-04-11 17:31] #4972 closed

[2022-04-11 22:08] EliMor commented on #2774
Personal opinion, without this feature I'm not comfortable using `eksctl` in production. Very cool project though, I hope it keeps going.

[2022-04-11 23:48] bitva77 commented on #2774
Things have improved in this area.  We use eksctl in Production just fine.  I mean, how often are you changing EKS control plane configuration?  Like never.  Node groups are the only thing we change and I'm not sure I want node groups to be deleted automatically yet...especially in Production.

[2022-04-12 05:25] Skarlso commented on #2774
That's a bit passive-aggressive. :) It was created in 2018 and has been going strong for a while now, without any indication of stopping. :) And it just gets better and better.

While apply IS a killer feature, you can combine eksctl with flux easily to support this workflow by eksctl creating the necessary files and flux managing them. `eksctl` even sports a flux integration itself. Or you can us

[2022-04-12 05:28] Skarlso opened #5106 "[Spike] Come up with a plan to track Karpenter version changes"
### Description
Slack context [here](https://weaveworks.slack.com/archives/C01C7FH7EPQ/p1648633346041349)
We need to come up with a policy to track and keep up to date with the Karpenter version changes. Atm we have pinned the version to specific minor but there are issues from community for new versions

### Timebox
1-2 days

### Outcome
- Document the proposal for tracking karpenter version chan

[2022-04-12 05:52] wkhatch opened #5107 "[Bug] Error: couldn't find private subnets: mapping doesn't have enough subnets..."
Trying to spin up a cluster with two managed node groups; private and public, and keep hitting these errors. I'm using a manifest, and I've adjusted the availability zones several times, and nothing seems to get rid of this error. As a result, I end up with a cluster with everything but the two node groups. I'd like to understand what's going wrong, and more importantly, how to get past this.

Her

[2022-04-12 06:03] Skarlso commented on #5107
Hi!

Can you please share your config / command you are using? Thanks!

[2022-04-12 06:56] Skarlso opened #5108 "[Bug] `event = watch.Event{Type:"", Object:runtime.Object(nil)}` when waiting for nodegroup"
From time to time, it appears that the waiter loses the node context:

https://github.com/weaveworks/eksctl-ci/runs/5982018686?check_suite_focus=true

It might be that the node disappears or the waiting times out because of an AWS issue. In that case, we shouldn't keep logging the empty event but fail immediately. Otherwise, we'll fill up the log to 1.800.000+ lines!

The bug is that we don't chec

[2022-04-12 07:09] Skarlso commented on #5108
It looks like we were waiting for two nodes. One of them managed to get ready, but the other was `not ready` for a long time. And then suddenly, the event context just got nil.

[2022-04-12 07:16] artem-nefedov commented on #2774
There are a lot of things that can be safely changed in-place, but you have to perform a separate command for each of them, which is extremely annoying and un-declarative.

These include (but not limited to):

- AWS resource tags
- IAM serviceaccounts
- public cluster API endpoint CIDR ranges

If `eksctl apply` could handle just those "safe" cases, that would already be wonderful.

[2022-04-12 07:21] Skarlso commented on #2774
And we graciously accept community contributions for these features and will happily help get the PR ready and merged! :)

[2022-04-12 09:26] Skarlso opened #5110 "[Bug] `eksctl` selects local zones as availability zones if none are defined during cluster creation"
### What were you trying to accomplish?

Create a cluster without defining availability zones when the targeted region has local zones enabled.

### What happened?

`eksctl` tries to select local zone as a targeted availability zone

### How to reproduce it?

enabled local zones in a region using:

[code]

Then create a cluster using the following config:

[code]

**Logs**

Chances are that `eksct

[2022-04-12 09:26] steffakasid opened #5111 "[Help] Is there a way to encrypt the log groups created by eksctl"
We use `cloudWatch.clusterLogging.enableTypes` to configure the logging to cloudwatch. Unfortunately the loggroups aren't encrypted via KMS. Is there a way to do this with eksctl or would this be a feature request?

[2022-04-12 09:46] cPu1 commented on #5111
Encrypting the log groups in CloudWatch Logs is not supported in eksctl. The CloudWatch Logs log groups for logs sent by the control plane are created by EKS itself and the API offers no control over the KMS settings for the created log groups. eksctl can consider associating a KMS key with the log groups after they're created by EKS, but there's no correct timing to do this and the log group will

[2022-04-12 11:11] Skarlso opened #5113 "[Story] Have a daily cleanup job running on eksctl test AWS account"
### Description

Sometimes, resources such as VPCs, NATs, EIPs, and CloudFormation stacks significantly, can accumulate on the test account because they aren't properly removed or are just left there. This increases the load on the account and the environment and costs as running instances are forgotten. Also, eventually, we can end up with too many resource errors.

If we want a cluster that rema

[2022-04-12 11:14] #4883 closed

[2022-04-12 11:35] cPu1 commented on #4881
Closed by #5035

[2022-04-12 11:35] #4881 closed

[2022-04-12 11:54] #5113 closed

[2022-04-12 11:58] Himangini commented on #4701
@sheetaljoshi Closing this ticket off due to lack of activity, please feel free to reopen this issue if you are still experiencing issues.

[2022-04-12 11:58] #4701 closed

[2022-04-12 12:47] steffakasid commented on #5111
Ok understood. Thanks for your reply.

[2022-04-12 12:47] #5111 closed

[2022-04-12 13:43] wkhatch commented on #5107
Gah, sorry. I guess it was later than I thought...

`apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: prod-lora-cluster
  region: us-east-1

vpc:
  cidr: 10.4.0.0/16

iam:
  withOIDC: true
  serviceAccounts:
    - metadata:
        name: s3-reader
        labels: { aws-usage: 'lora-apps-prod' }
      attachPolicyARNs:
        - 'arn:aws:iam::aws:policy/AmazonS3FullAccess'

[2022-04-12 14:25] Skarlso commented on #5107
Interesting. You appear to have more AZs than subnets. That's why you are getting this error. It looks like you defined the AZs, yet `eksctl` somehow added a couple more? I can see that the AZ list is:

[code]

But you defined it to be:

[code]

So, where the heck did the rest come from? :D There is something funky happening here. :)

[2022-04-12 15:38] Skarlso opened #5114 "[Task] Make kubernetes 1.22 the default version"
### Description
Atm the default is 1.21. We need to make k8s 1.22 the default version

Reference PR : [here](https://github.com/weaveworks/eksctl/pull/4394)

[2022-04-12 15:40] Skarlso opened #5115 "[Improvement] The new Windows test that was added makes the whole suite slow"
_PLACEHOLDER_ @Skarlso fill this

[2022-04-12 17:28] Himangini commented on #5110
@Skarlso is this issue related to this ticket https://github.com/weaveworks/eksctl/issues/5107 ?

[2022-04-12 17:33] Skarlso commented on #5110
Nope. 😊

[2022-04-12 17:59] Himangini commented on #735
@bgdnlp thanks for your response 👍🏻  we will revisit this issue soon. thanks for your patience

[2022-04-12 18:02] cartermckinnon commented on #5092
I want to clarify that **I am on the AWS EKS managed nodes team**. I am on the team that authors this bootstrapping logic.

My question centers on the value of us testing `eksctl` compatibility while building **the official EKS-optimized AMI**. These tests were added to our process as a result of the former `eksctl` bootstrapping actions, which have been removed in version 0.91.0.

[2022-04-12 18:12] #1653 closed

[2022-04-12 18:18] #1699 closed

[2022-04-12 18:24] Skarlso commented on #5092
@cartermckinnon Oh okay. So... I guess just remove those tests then and it should be okay? :)

[2022-04-12 18:40] #2894 closed

[2022-04-12 19:00] wkhatch commented on #5107
removing the availabilityZones attribute in each of the managedNodeGroups, and then specifying the top level availabilityZones with: ['us-east-1a', 'us-east-1b', 'us-east-1c', 'us-east-1d', 'us-east-1f'] results in this:

[code]

Why would it select the one excluded availabilityZone, us-east-1e as the target in this case? I'm thinking at this point I should just build this out by hand and bail on

[2022-04-12 19:08] Himangini commented on #5037
@doctorpangloss What error from Release notes PR https://github.com/weaveworks/eksctl/pull/4362 are you referring to? Do you mean this issue https://github.com/weaveworks/eksctl/issues/4238?
The PR linked is for 0.71 however we are on [0.92.0](https://github.com/weaveworks/eksctl/releases/tag/v0.92.0) now. Are you experiencing the same issue with the latest version?

[2022-04-12 20:55] doctorpangloss commented on #5037
My bad: yes I want to revert #4243

[2022-04-12 20:58] doctorpangloss commented on #5037
I fixed the ticket to be more clear. I received `GPU instance types are not supported for WindowsServer20H2Container`

[2022-04-13 00:53] hq6 commented on #4991
This has been fixed.

[2022-04-13 00:53] #4991 closed

[2022-04-13 04:37] Skarlso commented on #4991
Yay, thanks!

[2022-04-13 05:31] Skarlso commented on #5107
There is definitely something funky going on which is worth investing. For now, because of low capacity and holidays coming up, you'll probably have to wait a bit until we have the capacity to deal with things. Please bare with me while I try to figure out what's wrong.

In the meantime, would you mind trying this pr https://github.com/weaveworks/eksctl/issues/5110?

I doubt it's related... But yo

[2022-04-13 05:37] Skarlso commented on #5107
Also, did you change in the above example the node group azs as well?

Also, would you mind testing in us-west-2 as well please?

[2022-04-13 05:46] Skarlso commented on #5107
BTW... which version of `eksctl` are you using? A few months ago we had a problem with selecting azs which was fixed later on.

[2022-04-13 07:45] Skarlso commented on #5114
@Himangini Thanks for the update to the ticket! 👍

[2022-04-13 08:53] Skarlso commented on #5082
@rawahars Hi! Did you have any chance of testing this? Recently, it started to fail, and we have to revert this feature until further investigation can be done. :(

[2022-04-13 10:10] #5110 closed

[2022-04-13 12:48] Himangini commented on #5077
- We will need to make sure we aren't using any deprecated behavior.
- Might need to check gomega too

[2022-04-13 12:56] #5069 closed

[2022-04-13 13:08] Skarlso commented on #5106
## Proposal

### Automation on `eksctl` side

We set up a pull model based on releases and check for released minor versions every day. If we find that a new minor version has been released compared to the previous version, we create an issue in `eksctl` to update the support. This ticket can be worked on by the team, checked if any code change is required, or just increased the supported minor ve

[2022-04-13 13:11] Himangini commented on #4865
We need to do
- For MNG, allow the combination of ARM and GPU here
As pointed out by @arnaldo2792 we need to update the code here:
https://github.com/weaveworks/eksctl/blob/ffed567d78deb481c9ba9411c5575db110e20bfa/pkg/ami/auto_resolver.go#L78-L94

and here:
https://github.com/weaveworks/eksctl/blob/ffed567d78deb481c9ba9411c5575db110e20bfa/pkg/ami/ssm_resolver.go#L119-L126

- For UMNG,
   - we need

[2022-04-13 14:46] #5115 closed

[2022-04-13 16:32] rawahars commented on #5082
Hi @Skarlso, I tested both the functionalities with Windows nodes using eksctl and it worked as intended-
- Using `overrideBootstrapCommand` when using custom AMIs for Windows.
- Specifying containerRuntime as `containerd` for EKS Windows 1.21 nodes.

I was using the pre-release version: https://github.com/weaveworks/eksctl/releases/tag/v0.93.0-rc.0

Cluster config-
[code]

[2022-04-13 17:23] BloodyIron commented on #215
Still desired!

[2022-04-13 17:36] Skarlso commented on #5082
Thank you for confirming! We will fix our test accordingly and reintroduce this feature. Cheers!

[2022-04-14 05:44] Skarlso commented on #215
Sadly, we just simply don't have the capacity to do this on our own. Help would be much appreciated. :)

[2022-04-14 20:11] meetshah15 commented on #3432
I'm running into the same problem. Is there any resolution to this issue?
`couldn't find public subnets: mapping doesn't have enough subnets: (allSubnets=v1alpha5.AZSubnetMapping{"us-east-1b":v1alpha5.AZSubnetSpec{ID:"####, AZ:"us-east-1b", CIDR:(*ipnet.IPNet)(0xc000d3c2d0)}, "us-east-1d":v1alpha5.AZSubnetSpec{ID:"####", AZ:"us-east-1d", CIDR:(*ipnet.IPNet)(0xc000d3c240)}} AZs=[]string{"us-east-1a

[2022-04-14 20:49] rothgar opened #5128 "[Feature] Determine if instance type is available in zone"
### What feature/behavior/change do you want?

It would be nice if eksctl checked if the desired nodegroup instance type was available in a region/zone before selecting the zone or error early if the instance type is not available.

If I create a cluster and ask for a specific instance type (eg t2.small) eksctl will randomly select 3 zones to create the cluster. But if that instance type is not in

[2022-04-15 02:10] #4920 closed

[2022-04-15 02:10] #4872 closed

[2022-04-15 02:10] #4752 closed

[2022-04-16 15:24] BloodyIron commented on #215
Sure but can we at least keep the issue open?

[2022-04-16 16:22] Skarlso commented on #215
Sure

[2022-04-17 10:53] tanvp112 opened #5129 "Why is there a second launch template?"
Hi, when creating a cluster with settings like the following:

[code]

Two launch templates were created:

![image](https://user-images.githubusercontent.com/57385114/163711144-06f249fd-3240-452a-bb18-f9074925538f.png)

The Auto Scaling Groups only refer to the one which is created by the role linked to EKS service:

![image](https://user-images.githubusercontent.com/57385114/163711188-dada58e2-bb

[2022-04-17 19:31] Skarlso commented on #5129
Hi. Did you confirm that the launch templates belong to the same cluster and haven't been created by a different action? Can you please look at the launch template data and labels/tags that identify it?

We create a launch template for the managed nodegroup, that's sure. The other, I suspect, is a spot instance support, but would you please verify that? What do the two templates contain? Thanks! :

[2022-04-17 19:41] BloodyIron commented on #215
Yay! Thanks :D

[2022-04-18 02:35] tanvp112 commented on #5129
You are right, thanks for the prompt replied!

[2022-04-18 02:35] #5129 closed

[2022-04-18 16:01] samroy92 commented on #5038
I have been having this same issue, I downgraded my eksctl version arbitrarily to 0.77.0 and it fixed this error for me. Versions 0.90,0.89, and 0.88 are all affected in my testing.

Here is the primary error:
`Error: reading cluster: reading aws-auth via eksctl get iamidentitymaping: can not get iamidentitymapping from eks cluster: parse iamidentitymapping : invalid character '-' after top-level

[2022-04-18 18:10] Skarlso commented on #5038
Huh, I thought we fixed this... 🤔

[2022-04-18 19:04] mathieu-lemay opened #5134 "[Bug] maxPodsPerNode does't work with eks 1.22"
### What were you trying to accomplish?
I'm trying to create a managed node group with a limit on the number of pods per node.

### What happened?
The node group is created but `maxPodsPerNode` is ignored and the nodes use their default value instead (29 in my case for a m5.large node).

### How to reproduce it?
[code]

**Logs**
Creation log
[code]

`kubect describe node/ip-10-75-1-120.ca-central-

[2022-04-18 19:25] Skarlso commented on #5134
Hello, can you please also verify that the created launch template's user data contains MAX_POD setting to 12?

[2022-04-18 20:27] mathieu-lemay commented on #5134
Looks like it. This is the user data:
[code]

[2022-04-18 20:31] Skarlso commented on #5134
Okay cool. That's something at least. :)

We'll take a look, but if we provide the right flags, I'm afraid there is little we can do.

Have you tried testing it with more than 12 pods? It might write 29, but it might not allow more than 12 using the controller, or something something AWS magic? :)

[2022-04-18 20:39] mathieu-lemay commented on #5134
Fair enough, it could be something that changed within EKS.

I did test it already, unfortunatly, there was no AWS magic, and I ended up with about 27 pods. That's how I noticed the issue.

[2022-04-18 22:15] artem-nefedov opened #5135 "[Bug] Cluster security group randomly not getting deleted"
While running `eksctl delete cluster`, a cluster security group may randomly not get deleted during the process, which then causes VPC to be unable to be deleted due to dependency violation. It doesn't happen every time, and the trigger for reproduction is unclear. Cluster is deployed into pre-existing VPC created by Terraform, but I'm not sure that's relevant.

### How to reproduce it?

- Deploy

[2022-04-19 02:11] #4932 closed

[2022-04-19 02:11] #4929 closed

[2022-04-19 02:11] #4534 closed

[2022-04-19 05:50] Skarlso commented on #5134
Thanks!

[2022-04-19 06:05] charlie-fox commented on #5038
Thanks team.
Yes, `eksctl get iamidentitymapping --region <region> --cluster <cluster> -o json -v 0` can be workaround way, but for the scenario t use -o json, people usually expect a structured result and do parsing on it.   default  structured output is better

[2022-04-19 07:10] cPu1 commented on #5038
It got introduced by https://github.com/weaveworks/eksctl/pull/4791 and we haven't fixed it since.

[2022-04-19 07:13] cPu1 commented on #5038
Thanks for the details. We are aware and have added this to our backlog. We will prioritise working on this issue.

[2022-04-19 08:04] cPu1 commented on #5134
I initially suspected that the script eksctl uses to set max pods for managed nodegroups no longer works in EKS 1.22, potentially because the bootstrap script in 1.22 AMIs has changed. But after testing, I can confirm that eksctl is still able to set `maxPods` in the kubelet config but it's not being honoured.

[2022-04-19 08:29] cPu1 commented on #5134
I have tracked it down to EKS supplying `--max-pods` to the kubelet as an argument. The implementation for `maxPodsPerNode` in eksctl writes the `maxPods` field to the kubelet config, but EKS is now passing `--max-pods` as an argument to the kubelet, overriding the field in the kubelet config.

We can also work around this but we'll discuss this with the EKS team first as there were some talks abo

[2022-04-19 09:48] nikimanoledaki commented on #5128
Hi @rothgar, thanks for the detailed feature request. :)

It seems reasonable, while selecting the 3 random AZs and a specific instance type has been selected, that we would validate that each AZ can support the requested instance type using [DescribeInstanceTypeOfferings](https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeInstanceTypeOfferings.html). This could however lead to a s

[2022-04-19 11:56] nikimanoledaki commented on #5087
Closing this as we've decided to do this differently.

[2022-04-19 12:08] josefaworks commented on #5106
I'd prefer to automate it on the karpenter side if that's possible. I'll raise in the sync today and see if its possible from the karpenter side. If not, then from the eksctl side is a good back up option

[2022-04-19 12:49] Skarlso commented on #5106
Sounds good! Thanks Josefa!

[2022-04-19 13:28] mathieu-lemay commented on #5134
Thanks for the update! In the meantime, we could work around the issue by setting resource requests on our pods, instead of setting a hardcoded number of pods. We have been thinking about it for a while anyway, that was just the push we needed to take the time and do it.

[2022-04-19 22:33] tigerpeng2001 opened #5137 "delete cluster with --approve"
### What feature/behavior/change do you want?
Add --approve to the delete command

### Why do you want this feature?
I am new to EKS and eksctl. While play around, I notice the upgrade commands have the --approve flag, but delete commands do not? Upgrading is a dangerous activity, but deleting is the destructive one. It would be better to have a safety pin for the deleting.

[2022-04-20 02:12] #4924 closed

[2022-04-20 02:12] #4868 closed

[2022-04-20 02:12] #4862 closed

[2022-04-20 05:18] Skarlso commented on #5137
Hi!

Please see the discussion around here: https://github.com/weaveworks/eksctl/issues/3977.

TL;DR, it would be a massive breaking change that we decided not to implement. We don't know why it wasn't used when first the project was created. Now, so many workflows rely on this behaviour that it would be a considerable deviation from the standard workflow.

[2022-04-20 06:51] #5114 closed

[2022-04-20 07:09] cPu1 opened #5138 "[Bug] Focusing integration test runs using `INTEGRATION_TEST_FOCUS` no longer works"
`make integration-test` accepts an environment variable `INTEGRATION_TEST_FOCUS` that runs only the specified test by passing `ginkgo.focus` to the ginkgo CLI. But this CLI option no longer seems to be supported.

[2022-04-20 10:02] Skarlso opened #5140 "[Bug] Authenticator update breaks mod changes"
https://github.com/weaveworks/eksctl/pull/5105

aws-iam-authenticator updated their version of client-go. Helm did the same to later version. These collide and aren't compatible in other parts.

Pinning the version isn't working because helm needs a higher version and the higher version has breaking changes compared to the lower version that authenticator needs.

We'll have to either wait and hope

[2022-04-20 10:12] nikimanoledaki commented on #5135
Thanks @artem-nefedov, this is something that we have noticed as we have encountered it before in our integration tests as well. As you said, it is quite difficult to reproduce this as it seems to occur randomly.

In the meantime, I recommend adding `--force` to forcefully clean up leftover resources. You could also add `--wait` to wait for all resources to be deleted rather than the regular fire

[2022-04-20 10:59] #5082 closed

[2022-04-20 11:10] cPu1 commented on #4734
I spent some time looking into this issue. While the implementation is feasible, the scope of the issue needs to be refined.

Addressing this point from the scope:

I believe when a user wishes to create a nodegroup in local zones, they'd want all nodes to be in local zones, and not in a mix of both local and availability zones. Therefore, the decision to create a nodegroup in local zones should b

[2022-04-20 12:07] cPu1 opened #5142 "[SPIKE] Proposal for adding support for AWS Local Zones"
This task is for coming up with a proposal for supporting [AWS Local Zones](https://aws.amazon.com/about-aws/global-infrastructure/localzones/) in eksctl based on the discussion in https://github.com/weaveworks/eksctl/issues/4734. The proposal should cover creating self-managed nodegroups in local zones and providing useful errors where local zones cannot be used.

[2022-04-20 12:09] cPu1 commented on #5142
Closed by https://github.com/weaveworks/eksctl/issues/4734#issuecomment-1103809860

[2022-04-20 12:15] #5142 closed

[2022-04-20 14:53] nikimanoledaki commented on #5135
Do you see a dependency violation error in the CloudFormation logs when the SG fails to be deleted?

[2022-04-20 15:25] artem-nefedov commented on #5135
However, that solution may only be good for case when deployment is done into existing VPC. If the cluster stack contains VPC as well, it will be more complicated, because stack deletion will fail due to dependency violation (I've seen that before).

[2022-04-20 23:45] rojosinalma commented on #2510
Which build contains that fix?
I'm currently struggling with this issue as well.

[2022-04-21 02:11] #4957 closed

[2022-04-21 02:11] #4406 closed

[2022-04-21 06:45] ravikiran-talluri opened #5143 "[Bug] Error: couldn't create cluster provider from options: nodeGroups[0].overrideBootstrapCommand is required when using a custom AMI (nodeGroups[0].ami)"
### What were you trying to accomplish?

I am trying to add preBootstrapCommands while creating a windowsnodegroup
https://github.com/weaveworks/eksctl/issues/3563#issuecomment-888089036
### What happened?

But eksctl is throwing error  "Error: couldn't create cluster provider from options: nodeGroups[0].overrideBootstrapCommand is required when using a custom AMI (nodeGroups[0].ami)"
I am seeing

[2022-04-21 08:09] Skarlso commented on #5143
Hello!

Thank you for your issue. Please read this announcement on the eksctl.io website to fix your problem: https://eksctl.io/usage/nodegroup-override-announcement/

I see that your are using `preBootstrapCommands`. That is no longer enough, however. You also need to define overrideBootstrapCommand. `eksctl` no longer provides custom override scripts.

[2022-04-21 08:14] Skarlso commented on #4940
Hey @zvazquez!

This is still a relevant issue, right?

[2022-04-21 08:16] Skarlso commented on #4980
Hey @matti. Sorry for the delay, we are a bit stretched thin. This is still relevant, right? Thanks!

[2022-04-21 09:17] matti commented on #4980
yeah I stopped using this feature and manually specify instances in my wrapper

[2022-04-21 12:07] #4882 closed

[2022-04-21 13:57] Himangini commented on #4916
@kdaula can you give us any updates around ETAs for AMI types please?

[2022-04-21 14:31] zvazquez commented on #4940
Hi,

Still is, we have survived with unmanage node groups, but we really would like to move to managed node groups.

Let me know if I should provide any information.

Thanks,

Zareh

[2022-04-21 14:33] Skarlso commented on #4940
Thank you, Zareh, for confirming!

We'll investigate this.

[2022-04-21 14:43] Skarlso commented on #4940
Also, just to confirm. You did add all the necessary tags and labels to the security group that are described here? https://eksctl.io/usage/unowned-clusters/

[2022-04-21 14:51] Skarlso commented on #4940
BTW, I assume this is reducted and not the actual value here?
[code]

And that the security group is in the same region in which you are trying to create the cluster in?

[2022-04-21 16:07] drobbins-ancile commented on #4606
Any progress on this? I'm still seeing a double prompt for MFA when issuing commands:

[code]

[2022-04-21 16:22] Skarlso commented on #4606
Sorry, I couldn't reproduce this sadly. We updated the way we cache a bit since we switched to v2. Maybe try the new version?

[2022-04-21 17:08] Himangini commented on #5137
Dupe of #3977

@tigerpeng2001 Thanks for the feature request. Unfortunately, we won't be adding this feature anytime soon.

[2022-04-21 17:08] #5137 closed

[2022-04-21 17:47] Himangini commented on #4981
the PR in question is in the draft, moving this ticket to the Blocked column until the PR is ready to review

[2022-04-21 18:24] ravikiran-talluri commented on #5143
Hello thanks for quick response!

1) By adding below block worked- will it be enough? or Do you recommend to add anything different? that bootstrap.sh is something automatically get created? Do we have to run it?- just trying to understand
[code]

2) This error happened only when creating windows nodegroup not incase of linux nodegroup- what could be reason? or will it applies specific to windows

[2022-04-21 20:21] rtsp opened #5145 "[Bug] SSH public key already exists, but fingerprints don't match"
### What were you trying to accomplish?

Create an **additional** managedNodeGroups.

### What happened?

eksctl failed to create new nodegroup after trying to verify existing key on AWS.

[code]

Note the diference

- `eeeId+MO8TpTv2M/qAi8ElhBPHBSX0xXMhR08c6NK+Q` expected
- `eeeId+MO8TpTv2M/qAi8ElhBPHBSX0xXMhR08c6NK+Q=` got

Actual fingerprint from `ssh-keygen`

[code]

Actual key is

[code]

###

[2022-04-21 21:13] rtsp commented on #5145
![image](https://user-images.githubusercontent.com/314429/164552890-6efcb9d0-b726-4197-9cc2-e56f4baa3243.png)

Seems like AWS actually return key with `=` character.

Now I'm not sure which fingerprint is correct:

- AWS (with `=`)
- `ssh-keygen` (without `=`)
- Or both?

[2022-04-22 05:12] Skarlso opened #5147 "[Bug] It isn't clear how to upgrade nodes and what fields need to be defined or what is supported"
The documentation for updating nodes or upgrading them isn't clear.

https://eksctl.io/usage/eks-managed-nodes/#updating-managed-nodegroups

The above doesn't say that if you don't define `updateConfig` when you create the nodes, you won't be able to update them.

The error message that comes when you don't define this field could also be improved:

[code]

That message has nothing to do with the

[2022-04-22 05:25] Skarlso commented on #5143
Oh, you're right! I don't have a Windows example. Of your you should be using a Powershell script to do the thing.

It should look something like this:

[code]

Sadly, for Windows, we don't have the helper script I believe which you could source to help with the node-labels situation. I'll try and look into this on what we could do to help out.

[2022-04-22 07:33] Skarlso commented on #4865
I found no AMI for UMNG, which combines ARM + GPU. So we'll error early in that case.

[2022-04-22 08:10] nikimanoledaki commented on #5135
Sounds good. The deletion process of eksctl does not affect any pre-existing VPC or networking resources not created by eksctl, so you are right that we cannot detach NATs in this case.

I'm investigating this EKS-created SG.

[2022-04-22 09:31] nikimanoledaki commented on #5145
Thanks @rtsp, someone from the team or I will investigate this and get back to you :)

[2022-04-22 09:42] Skarlso commented on #5145
I bet it's a linebreak.

[2022-04-22 09:46] Skarlso commented on #5145
@rtsp Can you please post the configuration file and how you define the key? Are you using file or pasted in SSH?

[2022-04-22 10:00] Skarlso commented on #5145
BTW, I tested the key import from AWS. They add the padding to it for some reason. I created a brand new key with fingerprint:

[code]

And AWS generated the fingerprint:

[code]

So, they add the extra padding for some reason.

[2022-04-22 10:00] nikimanoledaki commented on #5135
In the case that the EKS-created SG is not deleted, could you please verify whether the eksctl-created SG is deleted or not? It should show up under `Additional security groups` and prefixed by `eksctl-`. Thanks :)

[2022-04-22 10:02] rtsp commented on #5145
From file

[code]

`../ssh/redacted.pub`
[code]

[2022-04-22 10:03] Skarlso commented on #5145
Would you mind making this an absolute path, please? Just for the sake of trying. :) Also, I assume permission on the file are `0400`?

[2022-04-22 10:11] rtsp commented on #5145
Actually it's 0640 (because it's public key)

But for the sake of trying. I've chmod to 400 and try both same dir and absolute path as requested.

[code]

Problem still occur 😂
[code]
[code]

[code]
[code]

[2022-04-22 10:14] rtsp commented on #5145
Look like it's the padding in base64 spec that isn't a hard requirement for decoding.

I think changing this to substring check or trim the `=` padding out before checking should fix this issue. 😄

[2022-04-22 10:21] Skarlso commented on #5145
Sure, it would fix the immediate problem, but we don't know about the cause. :) We can't just patch and move on. :D

I think it actually might on `eksctl` side, since we might be using an incorrect algorithm. I think we should try and use the AWS fingerprinting. Or, I don't know...  I mean, if this wouldn't be working, there would be a lot more issues about it, right?

[2022-04-22 10:22] Skarlso commented on #5145
I mean, this was tested here https://github.com/weaveworks/eksctl/pull/4835 and worked apparently.. :D

[2022-04-22 10:33] Skarlso commented on #5145
So if I generate a local key, import it, and point my config like this:

[code]

It does work and creates the cluster:

[code]

[2022-04-22 10:35] Skarlso commented on #5145
Now waiting for it to complete so I create an **additional** nodegroup.

[2022-04-22 10:46] rtsp commented on #5145
According to [RFC 4648](https://datatracker.ietf.org/doc/html/rfc4648#section-4) base64 padding is depend on input length and SSH key fingerprint length always need one `=` padding character.

as It's not required by spec so ssh-keygen, go and AWS may treat this padding differently but in the end it's identical so I think it's safe to trim those padding character out.

[2022-04-22 10:55] Skarlso commented on #5145
Reproduced:

[code]

I don't think that is the source of this bug. :) But it definitely an option. I think we are just doing something wonky on nodegroup creation with an existing key in the create nodegroup command path.

[2022-04-22 11:02] rtsp commented on #5145
I've confirm the difference with newly generated key.

AWS always render key with padding

![image](https://user-images.githubusercontent.com/314429/164701825-62259462-3ad8-40c4-862b-07668622a8cc.png)

ssh-keygen always not

[code]

I'm not sure for Golang but I bet it same as ssh-keygen 😂
Here's the code computing local fingerprint

https://github.com/weaveworks/eksctl/blob/518cac9379e07d5b06dae9

[2022-04-22 11:10] Skarlso commented on #5145
Oh. I understand what's going on :/ It's a bit.. eh. So it didn't die at first because it imported the key under a different name even if the key already existed. And then, on the second go, it was trying to use the same key and that's when it actually compared the fingerprint and failed. So our testing didn't reveal this because we didn't use the same key again on a second creation attempt.

Nice

[2022-04-22 11:11] rtsp commented on #5145
I think I found root function that compute this fingerprint and it's intended to be unpadded.

in
https://github.com/kubernetes/kops/blob/fad75ec278d1bf6ff1111b929d773cbf5a4ab69f/vendor/golang.org/x/crypto/ssh/keys.go#L1474-L1483

[2022-04-22 11:12] Skarlso commented on #5145
Yeah trimming won't work in case of MD5 RSA SSH2 hashes....

[2022-04-22 11:13] Skarlso commented on #5145
Yep, that's the same we are using.

[2022-04-22 11:15] Skarlso commented on #5145
@rtsp Can you test with a non ed25519 key please? I think we might be in the clear for those as we are using this:

[code]

to compute those.

[2022-04-22 11:28] rtsp commented on #5145
@Skarlso

Yep. I tested on differernt cluster and the RSA key works fine.

[code]

[2022-04-22 11:36] Skarlso commented on #5145
This feels so wrong. :D I can't fathom why they would do this... Trimming is also tricky since we could accidentally remove intentionally added padding!

Also, this is a breaking change. We use the fingerprint as part of the keyname. If I change the fingerprint to match with AWS we break using existing keys and existing clusters using SSH.

Sorry, for now, please try using a different keytype. Thi

[2022-04-22 11:53] Skarlso commented on #4865
Also, this issue will not work until https://github.com/awslabs/amazon-eks-ami/issues/853 amazon eks ami supports downloading and tagging ARM GPU instances for us to use.

[2022-04-22 12:13] rtsp commented on #5145
![image](https://user-images.githubusercontent.com/314429/164710953-2f905e2f-9803-43d3-bd67-fe030b9e46ff.png)

AWS choose base64(sha256) fingerprint for Ed25519 key and Hex fingerprint for RSA.

I don't understand why they choose this but this is why there's no trimming problem for RSA at all.

---

May be we only trim to use in comparison (this line) and keep the rest as before?

https://github.c

[2022-04-22 12:13] nikimanoledaki commented on #5108
Reopening this to look at the options mentioned in the last comment as possible improvements.

[2022-04-22 12:15] rtsp commented on #5145
BTW, for permanent fix I think we may need to do at [kops](https://github.com/kubernetes/kops/blob/fad75ec278d1bf6ff1111b929d773cbf5a4ab69f/pkg/pki/sshkey.go#L69-L89) instead.

If this function intended to compute AWS key fingerprint and use with AWS. I think it should include padding to ensure that it's identical to the AWS API responses.

[code]

[2022-04-22 12:23] Skarlso commented on #5108
Note, that I realised that out of these two:

[code]

the first one was actually caused by the second one. So fixing the second one checking the channel, fixed the first one from stopping to occur. :)

[2022-04-22 12:26] Skarlso commented on #5145
I'm reluctant to delete otherwise we could delete intentional padding, right? But if we add it to ours, we'll have to check the key type there so we don't add it to MD5 hashes. That's a bit of code shuffling then.

Yeah, we added that part of the code :D That's using the same thing but we added to eksctl first so we can support it before kops merged and released it. :)

[2022-04-22 13:01] rtsp commented on #5145
Yeah, that's why I lured to trimming `=` out instead because RSA key fingerprint (from AWS) is in hex format so it's safe to trim it away.

Also, the  `existing.KeyFingerprint` (from AWS, with padding) is only used in this function and used for comparison only so I guess it's pretty safe to modify it. 😄

But for modifying `pki.ComputeAWSKeyFingerprint`, I think it would break a lot since it used m

[2022-04-22 13:22] Skarlso commented on #5145
What I'm talking about that if there are `=` because there was a spare byte in the key and the `=` is equally part of the base64 code, we would also trim that.

[2022-04-22 13:32] Skarlso commented on #5145
What I'm trying to say is that I'm not sure that they are adding the extra padding because of encoding or they are just always doing a `string+"="` if that makes sense?

[2022-04-22 13:36] nikimanoledaki opened #5150 "[Bug] Node watcher errors due to auth and node not joining cluster"
This ticket tracks the 2 flakes that appear in this run: https://github.com/weaveworks/eksctl-ci/actions/runs/2205059382

The errors appear to be related because they flaked together, but they may be unrelated.

Related issue: https://github.com/weaveworks/eksctl/issues/5108

## Error 1

The node watcher closed due to an auth error:
[code]
[code]

## Error 2

The node watcher closed due to an unkn

[2022-04-22 14:07] Skarlso commented on #5108
Yeah, sounds good. :)

[2022-04-22 14:27] Skarlso commented on #5145
When you say that this comes to me like you say they took the sha256 generated fingerprint then run a base64 on it. Which is not the result we are seeing, right? :) Or do you mean something else?

Yeah I saw that they are using sha256 on ed25519 instead of MD5. They do that because of a weird thing where they double convert from openssl or something like that. And they don't do that to ed25519.

[2022-04-22 14:32] Skarlso commented on #5145
I guess, in the end, it doesn't matter. It's a single word, and we aren't concatenating it to anything, so even if there is extra padding, it wouldn't matter.

[2022-04-22 15:00] rtsp commented on #5145
Yes this is correct.

But now I know why you're confusing because when I trying to redact sensitive information, I pasted wrong key to the topic. The correct key that I have a problem with is `AAAAC3NzaC1lZDI1NTE5AAAAIFKnzVJT1WfvmjMePdRUU+np823aaaSCoAZxmuiOQ/fB` and it's fingerprint is  `eeeId+MO8TpTv2M/qAi8ElhBPHBSX0xXMhR08c6NK+Q=`

You can calculating the key fingerprint by running this command,

[2022-04-25 09:25] afirth commented on #1571
I think #5002 didn't link in a way to autoclose, but this is implemented there and should be closed?

[2022-04-25 09:26] Skarlso commented on #1571
Yep. Thanks! :)

[2022-04-25 09:26] #1571 closed

[2022-04-25 12:16] caboteria commented on #5128
Thank you for responding to my whinging on Reddit with a well-crafted feature request!

[2022-04-25 13:45] Himangini commented on #4853
@Skarlso Can we close this since #5002 PR is merged?

[2022-04-25 13:49] Skarlso commented on #4853
yep, this can be closed. :) thanks, Gini!

[2022-04-25 13:49] #4853 closed

[2022-04-25 15:22] panlm opened #5167 "work fine yaml about bottlerocket custom ami in 0.89, but not workable in 0.90+"
[code]
this ami is built by myself following bottlerocket guide ([LINK](https://github.com/bottlerocket-os/bottlerocket/blob/develop/BUILDING.md))

i could create cluster successfully with `eksctl create cluster -f cluster.yaml`
but cannot create cluster with eksctl 0.94

[2022-04-25 15:24] Skarlso commented on #5167
Hello,

Thank you for opening an issue! :)

Please see the announcement here: https://eksctl.io/usage/nodegroup-override-announcement/ 🎉

And follow any steps required for migration.

Cheers!

[2022-04-25 15:43] Himangini commented on #5106
@akestner @matthewdepietro Let us know your thoughts on this proposal please 👍🏻

[2022-04-26 02:12] #4978 closed

[2022-04-26 02:12] #4965 closed

[2022-04-26 02:12] #4956 closed

[2022-04-26 06:06] wenjinsitu opened #5173 "eksctl create cluster failed"
eksctl create cluster failed:
[code]

What is the potential issue for this? The IAM role is valid
[code]

yaml file:
[code]

[2022-04-26 07:17] cPu1 commented on #5173
[code]

It looks like you have supplied an empty string for the third AZ (`AZS[2]`). If you fix this and rerun the command, it will work.

[2022-04-26 13:15] #4363 closed

[2022-04-26 20:06] wenjinsitu commented on #5173
yes. I just fixed it. No wonder it requires to set up environment for us-west-2. (I used us-west-1)
https://www.eksworkshop.com/020_prerequisites/workspace/

After I switch the region, the third availabilityZone is no longer empty: ["us-west-2a", "us-west-2b", "us-west-2c"]

And the clusters are created successfully.
[code]

[2022-04-27 02:12] #3985 closed

[2022-04-27 05:54] cPu1 commented on #5173
Glad it's working now. Please feel free to open a new issue if you have more questions.

[2022-04-27 05:54] #5173 closed

[2022-04-27 11:31] gohmc commented on #5167
@Skarlso,

bottlerocket doesn't use `bootstrap.sh` to join cluster, does `overrideBootstrapCommand` still apply here?

When testing using the spec in the question above eksctl reports:

`Error: nodeGroups[0].overrideBootstrapCommand is required when using a custom AMI (nodeGroups[0].ami)`

If `overrideBootstrapCommand` is set to "" eksctl will report:

`Error: overrideBootstrapCommand is not suppo

[2022-04-27 12:49] Skarlso commented on #5167
Oh I think you might be right here. I think this is a bug. We have to relax this validation in case of bottlerocket. I'll look into it.

Thanks!

[2022-04-28 12:38] Himangini commented on #5023
There's a 0.9.0 version available so we'll upgrade to this version.

[2022-04-28 12:56] Himangini commented on #5093
@cPu1 to add some example places where we need to pass appropriate context instead of TODO

[2022-04-29 02:12] #4941 closed

[2022-04-29 07:21] maopei820219 opened #5186 "Windows Nodegroup Bootstrap Override For Custom AMIs [Help]"
Buddies,
There is an announcement related to Nodegroup Bootstrap Override For Custom AMIs: https://eksctl.io/usage/nodegroup-override-announcement/. There is a sample configuration for linux. Could anyone share a sample for Windows? The following is the yaml file I used to create the cluster. The Windows machines could not join the cluster. If possible, please help to correct the yaml file below.

[2022-04-29 08:07] Skarlso commented on #5143
Hey Jacky. Did you try the above sample?

It should look like this:

[code]

[2022-04-29 08:15] maopei820219 commented on #5143
@Skarlso
Hi, Skarlso,
I tried the config file posted here: https://github.com/weaveworks/eksctl/issues/5186. To get the node label, I comment "ami" and "overrideBootstrapCommand", create a cluster, check ASG->Launch template->User Data.

[code]

Thanks,
Jacky

[2022-04-29 08:45] Skarlso commented on #5143
And it didn't work? this looks legit okay to me. :D What was the error? The node wasn't able to join?

[2022-04-29 08:50] Skarlso commented on #5143
oh I see the attached issue. The node didn't join. I'll take a look.

[2022-04-29 09:06] maopei820219 commented on #5143
@Skarlso
Hi, Skarlso,
I guess the problem is that the node doesn't join. The following is the output of the eksctl. I checked the ASG, it has 1 node, and the node has been started.
If you want me to perform more testing with different configuration, please let me know.

Thank you very much for your help and support!

[code]

Jacky

[2022-04-29 09:17] #5077 closed

[2022-04-29 09:26] maopei820219 commented on #5143
@Skarlso
Hi, Skarlso,
The ami I used is created based on ami-02d76d39546e4a5c6, Windows_Server-2019-English-Core-EKS_Optimized-1.22-2022.04.14 which is the current default ami for ami family WindowsServer2019CoreContainer.
Here is the step to create it:
1. Launch an EC2 by using the base ami ami-02d76d39546e4a5c6.
2. Startup the EC2.
3. Login to the EC2.
4. Run command "docker pull mcr.microsoft.c

[2022-04-29 09:40] maopei820219 commented on #5143
@Skarlso
Hi, Skarlso,
I think the configuration should be OK. Maybe I use the incorrect way to build the ami. I will have a try with the following solution to build the new ami.
https://docs.amazonaws.cn/en_us/eks/latest/userguide/eks-custom-ami-windows.html

Thanks,
Jacky

[2022-04-29 09:57] cPu1 commented on #5143
@maopei820219, your bootstrap script for Windows looks right to me. As you suspected, it's likely that the custom AMI wasn't built properly.

What are you trying to achieve by having this container image in the AMI?

[2022-04-29 10:19] maopei820219 commented on #5143
@cPu1
Hi, Chetan,
Moreover, I plan to use the Print Spooler service in the container. According to the following article, I have to use mcr.microsoft.com/windows image as base image.
https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/print-spooler

Thanks,
Jacky

[2022-04-29 11:20] #5167 closed

[2022-04-29 12:18] Skarlso commented on #5099
Parts of this is actually blocked on the EKSAPI being migrated.

[2022-04-29 14:29] maopei820219 commented on #5143
@Skarlso @cPu1
Hi, Skarlso / Chetan,
After following the guide mentioned in the article https://docs.aws.amazon.com/eks/latest/userguide/eks-custom-ami-windows.html to create new ami, the cluster could be created successfully.
Thank you very much for your help and support!

Jacky

[2022-04-29 14:30] maopei820219 commented on #5186
After following the guide mentioned in the article https://docs.aws.amazon.com/eks/latest/userguide/eks-custom-ami-windows.html to create new ami, the cluster could be created successfully.

[2022-04-29 14:30] #5186 closed

[2022-04-29 14:33] Skarlso commented on #5143
Yay, glad you were able to resolve this. :)

[2022-04-29 21:24] Alan-Sikka opened #5191 "[Bug] Creating unmanaged NodeGroup on non-eksctl created cluster fails with error"
Using downloaded binary, default profile for AWS credentials.

eksctl version: 0.77.0
kubectl version: v1.22.5
OS: windows

Tested also on 0.95.0

[code]

Running `eksctl create nodegroup --config-file=unmanaged-windows-group.yml` results in error: `creating CloudFormation stack "eksctl-xxx" ValidationError: [/Resources/NodeGroup/Type/VPCZoneIdentifier] 'null' values are not allowed in templates`

[2022-04-30 01:13] rverma-nsl commented on #2774
One thing I want to suggest is that eksctl apply doesn't need to be a functionality within the eksctl only, even if there is a GitHub action which can simulate reconciliation, that is also good enough.

All we need to do is just place the right group of commands and hooks.
e.g. Even if we don't have inplace node reconcillation, this can be done using
1. Mandate an unique node group name (may inclu

[2022-05-02 07:06] Skarlso commented on #5015
Last blocking piece https://github.com/weaveworks/eksctl/issues/4884

[2022-05-02 07:07] Skarlso commented on #5099
Blocking piece https://github.com/weaveworks/eksctl/issues/4884

[2022-05-02 08:05] Skarlso opened #5192 "[Access] Get the eksctl team access to netlify"
@nikimanoledaki @Skarlso Don't have access to Netlify deployment, so we can't troubleshoot docs and website problems.

[2022-05-02 08:06] #5192 closed

[2022-05-02 12:46] metasim commented on #4917
@Skarlso Appears to be working now. Maybe something on the AWS side of things? Thanks for looking into this.

[2022-05-02 12:46] #4917 closed

[2022-05-02 18:35] bitva77 opened #5199 "[Bug] kubeReserved / systemReserved not working"
### What were you trying to accomplish?

Create a node group (`t3.xlarge`) with:

[code]

Then run a pod in that node group that chews up all memory:

`stress-ng --vm-bytes 13890M --vm-keep -m 1`

### What happened?

Node goes `NotReady` and is unresponsive because I ate all the RAM.

**Versions**

[code]

### What do you expect to happen?

I sort of expect kubelet to protect my dumb ass based on

[2022-05-02 19:09] bitva77 opened #5200 "[Bug] EKSCTL CREATED based on eksctl version"
Not sure you need more info than this but we have clusters created from long ago (like version 0.32 or something) and newer versions of `eksctl` don't think their younger selves were involved in the creation of them.  This looks to be a fairly recent thing:

[code]

[code]

Nice try, but as Montel Williams would say, "YOU ARE THE FATHER"

I don't know if this really effects anything but it could b

[2022-05-03 00:58] rverma-nsl commented on #813
@errordeveloper can you please help us here, this looks like a must have now.

[2022-05-03 07:11] cPu1 commented on #5200
Can you share the tags attached to the CloudFormation stack for one of the clusters, e.g., by running:
[code]

`0.32` was so long ago, I am trying to find out what's changed.

[2022-05-03 07:17] cPu1 commented on #5191
eksctl was unable to find any subnets to use because your nodegroup is  asking for a public subnet (it lacks the `privateNetworking: true` field) and you only have private subnets defined in your VPC config. Although I believe the intent was to create a private nodegroup and you can fix this by setting `privateNetworking: true` in the nodegroup config, eksctl should fail early here by returning an

[2022-05-03 07:23] cPu1 commented on #813
@rverma-nsl  which eksctl operations are you trying to invoke and from what language?

[2022-05-03 08:02] Skarlso commented on #4917
Possible, yeah. Super cool that it works. :) Thank you for confirming! :)

[2022-05-03 08:23] Skarlso commented on #5199
I just noticed that once we deprecated our own override script, `kubeletExtraConfig` is actually only applied for managed nodegroups. If you are using unmanaged nodegroups, this config is basically ignored.

[2022-05-03 08:30] cPu1 opened #5202 "Avoid writing ClusterConfig to temp files in integration tests"
Some of the integration tests write the ClusterConfig to temp files and pass them to eksctl via `--config-file`.This is not required as eksctl accepts ClusterConfig from standard input by specifying `--config-file=-`. The goal of this issue is to find integration tests that write ClusterConfig to temp files before passing them to eksctl command invocations, and change them to supply ClusterConfig

[2022-05-03 08:31] Skarlso commented on #5202
For however picks this up, please do it after https://github.com/weaveworks/eksctl/issues/5099 to avoid conflicts. :)

[2022-05-03 09:46] rverma-nsl commented on #813
almost all of them, top ones are create cluster, add nodegroup, add irsa roles, patch cluster upgrades and addons.

[2022-05-03 09:48] Skarlso commented on #813
Why not just call these and abstract the binary calling operations behind an interface for example? How would you benefit from calling these things from code vs calling out to the binary?

[2022-05-03 09:57] rverma-nsl commented on #813
I guess its basically same stuff as kubectl vs client-go. I am also using the same since storing eksctl config in a cm. It can work but won't be super pleasant with all the yaml marshalling :)

[2022-05-03 10:00] Skarlso commented on #813
You could try and re-create what we do :) Nothing is behind an `internal` thing, so technically, you could import it. :)

[2022-05-03 15:40] Himangini commented on #5134
[@matthewdepietro](https://github.com/matthewdepietro) tagging you here as per your request 👍🏻

[2022-05-03 16:10] semoac opened #5214 "[Bug] Incorrect aws-node volume configuration when using containerd"
### What were you trying to accomplish?

Enable support for containerd on `aws-vpc-cni` following the official documentation and the indications of the AWS support team.

For more context: After encounter problems with the startup process of some `aws-node` pods, the support team pointed out to me that the manifest is not mounting the correct directory.

The problem in question is related to aws-n

[2022-05-03 16:27] Skarlso commented on #5214
Hello.

Can you please provide a sample cluster configuration or run command which reproduces this bug using `eksctl`?

thanks!

[2022-05-03 17:17] suket22 commented on #5134
Adding some context on Managed Nodegroups' behavior - if the VPC CNI is running on >= 1.9, Managed Nodegroups attempts to auto-calculate the value of maxPods and sets it on the kubelet as @cPu1 has found. Managed Nodegroups will look at the different environment variables on the VPC CNI to determine what value to set (it essentially emulates the logic in [this calculator script](https://github.com

[2022-05-03 18:04] bitva77 commented on #5200
[code]

[2022-05-03 18:09] bitva77 commented on #5199
Gotcha.  Here's our config:

[code]

I thought I saw a reply where this would only work with managed nodegroups now (I see it's gone now or I'm going crazy :) and if so, that does make sense.

We have plans to move to managed nodegroups.  I know the `ShutdownGracePeriod` option doesn't work on regular nodegroups I found either.

[2022-05-03 22:12] Alan-Sikka commented on #5191
Apologies, I did not see this flag. Thanks.

[2022-05-03 22:12] #5191 closed

[2022-05-04 02:12] #4979 closed

[2022-05-04 02:12] #4939 closed

[2022-05-04 02:12] #4918 closed

[2022-05-04 05:04] Skarlso commented on #5199
Yeah, I was wrong in that regard. :D You aren't going crazy. I just removed it because I realised it was a mistake haha. Sorry about that. :)

[2022-05-04 07:18] cPu1 commented on #4832
@Iamtoluakin, you have not set the `AZS` array that is passed to `availabilityZones`. Retry the command after supplying valid values for `availabilityZones` and it will work.

[2022-05-04 17:36] rohitjha941 opened #5215 "[Help] Running Karpenter on Fargate"
### What am I trying to do?
I am trying to run Karpenter on Fargate.  The idea is to have Karpenter running all the time on Fargate and running all the workload on EC2 SPOT. As this is Development Environment, Interruptions are not an issue.

### What help do you need?
I am getting the following error.
[code]
###  My Configuation

[code]

[2022-05-04 17:36] #5215 closed

[2022-05-04 18:11] joebowbeer commented on #1460
[code]

@affanhmalik Is this setting eventRecordQPS=0, which disables any rate limiting (not recommended), or is it setting the deprecated command line option (`--event-qps`) to 0, which uses the default eventRecordQPS=5?

[2022-05-04 19:15] affanhmalik commented on #1460
@joebowbeer To me it looks like eksctl will still process this if passed via config file (despite the CLI option being deprecated). Eksctl will pass it on to the kubelet - which will result in rate limiting getting disabled.

https://eksctl.io/usage/customizing-the-kubelet/#customizing-kubelet-configuration_1

[2022-05-04 20:44] bitva77 commented on #5199
So, the nodes have this in `/etc/eksctl/kubelet.yaml`

[code]

[2022-05-04 20:56] bitva77 opened #5216 "[Feature] managedNodeGroups: overrideBootstrapCommand get cluster name from variable or metadata.name"
Yeah, in this section here:

[code]

Is it not possible to just grab the cluster name from `.metadata.name`?  Like, would it ever be anything but the cluster itself?  :)

When dealing with multiple nodegroups it would be nice to just specify like $CLUSTER_NAME or something like that instead and eksctl fills it in from `.metadata.name` automagically.

[2022-05-04 21:05] Skarlso commented on #5216
Hi!

Thanks for the suggestion. :) It's not configured because this is the bootstrap part from the userdata section of the cloudformation template where it has no knowledge of anything yet. Also, we don't mess with the bootstrapping anymore, so we don't do any customization on that part.

This field is basically passed to the userdata as is. I'm reluctant to do any parsing of it for fear of replac

[2022-05-04 21:06] Skarlso commented on #5199
That looks like it applied what you set?

[2022-05-04 21:06] bitva77 commented on #5216
Ah, gotcha.  That makes sense as to why - sorry, my ignorance on the userdata part.  I get that  :)

I'll close this!  appreciate the fast response.

[2022-05-04 21:06] #5216 closed

[2022-05-04 21:08] bitva77 commented on #5199
It totally does  :)

We have some python process that's buggy that ends up consuming all the RAM but none of the OOM killers are kicking it.

I'll close this as I think the issue is elsewhere (and I'm suspecting the way the process is loading things into memory is somehow avoiding all that).

apologies for the time waste

[2022-05-04 21:08] #5199 closed

[2022-05-04 23:26] vmga-crisnevares opened #5217 "[Bug] eksctl get nodegroup fails for nodegroups not created by eksctl"
### What were you trying to accomplish?

Retrieve details of a specific managed nodegroup in EKS using `eksctl get nodegroups` with the `--cluster` and `--name` flags.

### What happened?

eksctl failed to retrieve details of the nodegroup when using the `--name` parameter
[code]

Excluding the --name flag, however, successfully returns the nodegroup from the query above along with all other nodeg

[2022-05-05 00:07] joebowbeer commented on #1460
@affanhmalik I was just pointing out that NOT disabling rate limiting was one of the goals of this benchmark rule.

Note that if using the deprecated command line arguments `--event-qps=0` was a synonym for the default value of 5.

But in the KubeletConfiguration, 0 means disable rate limiting (not recommended).

https://kubernetes.io/docs/reference/config-api/kubelet-config.v1beta1/

[2022-05-05 04:39] Skarlso commented on #5216
No worries! All requests and questions are welcomed! You could write a curl call in the script, but why would you use an api for which you already know the result. 😁

[2022-05-05 04:41] Skarlso commented on #5199
No worries, really. Things change sometimes and it's a valid concern that we don't pass them on correctly. For example, max nodes broke recently after a few changes on managed nodegroups.

Try the EKS repository maybe there are already issues there about oom kill not working? Good luck!

[2022-05-05 04:46] Skarlso commented on #5217
Hi!

Quick question. In one of the calls you are listing the nodegroup in the other you are trying to get information about it.

Can you try the same command on both versions and see that it worked then broke previously please? Thanks,

[2022-05-05 04:49] Skarlso commented on #5217
Hi!

Right, so since we use CloudFormation to describe these things, it's looking for the cloudformation stack which isn't there of course.

Can you please confirm that this is a regression ( sorry, I'm not sure what you mean that this was working in 0.87? )?

Thanks!

[2022-05-05 07:27] Skarlso commented on #5217
Hmm, you say, managed nodegroup... But the error is actually from an unmanaged nodegroup.

[2022-05-05 08:32] Skarlso opened #5219 "[Task] Stop using `s` as an indicator that we are returning a list"
For example:

[code]

This is super annoying and actually caused a bug to happen: https://github.com/weaveworks/eksctl/issues/5217

It's because our unit tests were mocking the wrong function since the author missed the `s`:

[code]

This should have been

[code]

It would have been more visible if the extension would say `List` instead of an additional `s`.

The test is passing because the mock w

[2022-05-05 08:34] Skarlso commented on #5217
Found the bug. :) I have a fix but it's not completely done yet, I'm improving the tests. Thanks for finding this. :)

[2022-05-06 07:08] Skarlso commented on #5150
The latest run had an interesting output.

[code]

Sadly, the object is a reference so we don't know what it was. Improve the output to `spew` out the status object in case it's an ERROR type.

[2022-05-06 09:00] #5023 closed

[2022-05-06 09:18] #4734 closed

[2022-05-06 09:39] #5217 closed

[2022-05-06 09:48] cPu1 commented on #5038
After looking into this more, eksctl's behaviour is correct here. Although the behaviour has changed a bit, the extra log lines are written to stderr, but the JSON-formatted output is still written to stdout. Any tool that parses output from a command should read that data from stdout. `terraform-provider-eksctl` is failing because it's trying to parse output collected from both stdout and stderr.

[2022-05-06 14:05] Himangini commented on #5143
@maopei820219 can this be closed now? Are you having any other issues?

[2022-05-06 14:13] Himangini commented on #5135
@artem-nefedov have you had a chance to verify whether the eksctl-created SG is deleted or not? Please let us know your findings 👍🏻

[2022-05-06 14:26] maopei820219 commented on #5143
@Himangini
This issue is opened by @ravikiran-talluri. Let's wait for the confirmation from @ravikiran-talluri.

[2022-05-06 14:41] Himangini commented on #5143
Oops, my bad I got confused with this https://github.com/weaveworks/eksctl/issues/5186, thought it was by the same author. 🙈

[2022-05-06 14:57] maopei820219 commented on #5143
@Himangini It's all right. :)

[2022-05-06 15:10] artem-nefedov commented on #5135
I can confirm that all eksctl-created security groups are correctly deleted. Only EKS-created security group may occasionally remain,

@Himangini  @nikimanoledaki  Sorry, I though I sent a reply some time ago via email, but apparently something went wrong.

[2022-05-06 19:53] vmga-crisnevares commented on #5217
Dang that was fast! Thanks for jumping on this so quickly!

[2022-05-06 20:48] Skarlso commented on #5217
Np. :)

[2022-05-06 21:51] dbgoytia opened #5226 "[Feature] EKSCTL should be able to detect changes on cluster.yml, and act accordingly"
### What feature/behavior/change do you want?
I would expect that EKSCTL would be able to detect changes on cluster.yml and create the change according to whatever is there.

### Why do you want this feature?
I think it's problematic that eksctl isn't able to detect changes in the configuration files and act upon it, specially when wanting to run the tool within ci systems.

[2022-05-07 05:41] Skarlso commented on #5226
Hi.

This needs a bit of explanation. :) What do you mean by "detect"? `eksctl` is a cli which exists after it's done. It doesn't monitor anything. It's not terraform, so it doesn't use apply functionality to detect drift between config and infrastructure. You can use `update` or `upgrade` or `create` with changes in the config and it will try to create/update the changed resource.

Or do you mean

[2022-05-09 11:11] cPu1 commented on #5145
Both AWS and eksctl use the same algorithm to generate the fingerprint for Ed25519 keys, but the Go implementation uses an unpadded base64 encoding (`base64.RawStdEncoding`), which is why the eksctl-generated fingerprint has no padding (`=`).

Go's implementation is more in line with [OpenSSH](https://www.openssh.com/txt/release-6.8):

[code]

[2022-05-09 11:29] #5145 closed

[2022-05-09 15:52] sarasensible opened #5240 "[Bug] EKSCTL Write-Kubeconfig fails with Kubectl 1.24 with default aws-iam-authenticator due to v1alpha1 deprecation"
### What were you trying to accomplish?
Trying to write a working kubeconfig with eksctl utils write-config on the ubuntu-latest Github hosted runner

### What happened?
Got the following error:
[code]

### How to reproduce it?
Use the recently released kubectl 1.24 with the most recent eksctl release v0.96.0 and try writing a kubeconfig file for use in a Github Action

[code]

**Logs**
N/A

**Any

[2022-05-09 18:23] Himangini opened #5241 "[Task] Update Mkdocs Material theme to latest version"
Atm we are using `5.3.3` version for Mkdocs for eksctl
Update this to use the latest one `8.2.14` and remove deprecated things from the theme.

[2022-05-10 07:14] cPu1 commented on #5240
eksctl does not bundle any tool dependencies, you need to download it separately. It's documented in the **[README](https://github.com/weaveworks/eksctl/blob/main/README.md#aws-account).**

[2022-05-10 13:25] Himangini commented on #5128
@cPu1 will add the findings here for an implementation plan.

[2022-05-10 13:44] sarasensible commented on #5240
Ok, so it sounds like the workaround is actually the recommended approach to resolving this issue.  Thanks for the clarification @cPu1 !

[2022-05-10 13:44] #5240 closed

[2022-05-11 08:15] #4884 closed

[2022-05-11 19:33] dbgoytia commented on #5226
I feel that that creation/update of features feels a bit incomplete. For example, recently I've tried adding new addons to a cluster.yml file, going from this:

[code]

To this:

[code]

Now, doing a "create" will tell me that the other addons already exist:
[code]

While doing an "update" will tell me that the new addon doesn't have any backing CloudFormation stack.

I really like the approach of

[2022-05-11 19:37] dbgoytia commented on #5226
Another example that I can think of is when removing nodegroups, EKSCTL does not detect that and delete the undesired nodegroup from the cluster, which I can of can understand why, but It would be nice if there was some sort of connection between the cluster and the nodegroups that are being spinned up using eksctl.

As one last comment, maybe I'm misunderstanding the whole ideology behind  EKSCTL

[2022-05-11 19:43] Skarlso commented on #5226
Yes. `eksctl` is imperative.

When I said this:

I meant that it doesn't understand changes so well. :) You can sort of update things, but once a cluster is done, it's done. And that has a historical as well as somewhat practical reason.. There are works going around trying to have an apply command, but the team has limited capacity so we prioritize other things over it, which have higher desire t

[2022-05-11 23:35] bitva77 opened #5246 "[Bug] managedNodeGroups: doesn't support taints?"
Have to imagine this is a bug?  In my `ClusterConfig`:

[code]

`eksctl create nodegroup -f ./cluster-config.yaml`

[code]

If I remove the `key:` line, it seems to work with nothing defined under `taints:`.

[code]

[2022-05-12 06:43] cPu1 commented on #5246
[code]

That is not the correct syntax for defining taints for a managed nodegroup. The `taints` field takes an array of `Taint` objects with the shape `{key, value, effect}`, but you have passed an object. The correct syntax is:

[code]

[2022-05-12 09:10] Legion2 opened #5247 "[Bug] r6g instances stopped working with eksctl 0.96.0"
### What were you trying to accomplish?
We want to use r6g instances for databases.

### What happened?
We updated to eksctl 0.96.0 and now we get the following error:
`Error: ARM GPU instance types are not supported for unmanaged nodegroups with AMIFamily `

### How to reproduce it?
1. create a cluster.yaml file which defines your cluster
2. add a (unmanaged) nodegroup with `r6g.xlarge` instanceT

[2022-05-12 09:12] Skarlso commented on #5247
Thanks!

[2022-05-12 12:33] #5099 closed

[2022-05-12 14:27] bitva77 commented on #5246
oh my.  didn't think it would be different between managed and unmanaged node groups.

thanks for the correction

[2022-05-12 14:30] cPu1 commented on #5246
Unmanaged nodegroups support both variants.

[2022-05-13 09:33] cPu1 opened #5250 "`update nodegroup` does not wait for the update operation to complete"
`eksctl update nodegroup` allows updating the nodegroup config for managed nodegroups but it does not wait for the operation to complete, nor does it support the `wait` flag. Most commands in eksctl support the `wait` flag for operations that can take some time to complete and some also have it enabled by default.

[2022-05-13 14:32] doctorpangloss opened #5256 "[Bug] I should be able to create Windows and Ubuntu nodegroups with GPU instances (revert #4243)"
### What were you trying to accomplish?
Create a Windows node group on an NVIDIA GPU instance

### What happened?
I receive an error from the code that prevents me from doing that in `eksctl`. The error appears in https://github.com/cPu1/eksctl/blob/4bcff91151570a1a15a2a0d8d07ae33799500380/pkg/apis/eksctl.io/v1alpha5/validation.go#L286

### How to reproduce it?
[code]
[code]
**Logs**

[code]
**Any

[2022-05-13 14:32] #5037 closed

[2022-05-13 18:28] Skarlso commented on #5256
Hello.

Interesting. The code has explicit settings to disallow windows and GPU. Maybe they aren't allowed for EKS.

I can see that they are allowed for regular EC2 instances here https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/install-nvidia-driver.html but EKS instances are a bit different.

It's worth checking out if that's the case. We do have a very specific validation against it, so t

[2022-05-13 18:41] jglick commented on #5240
After encountering this error, I deleted `aws-iam-authenticator` as suggested [here](https://docs.aws.amazon.com/eks/latest/userguide/install-aws-iam-authenticator.html) and now `eksctl utils write-kubeconfig` (0.97.0) writes out a `user` running `aws eks get-token`…but still using `client.authentication.k8s.io/v1alpha1`, so broken with `kubectl` 1.24.0. Whereas `aws eks update-kubeconfig` (2.6.4,

[2022-05-13 18:45] Skarlso commented on #5240
Why did you delete aws-iam-authenticator? Sorry, the link guide doesn't include deleting it. You just need to have an aws-iam-authenticator that is above 0.5.3. :)

[2022-05-13 19:06] Skarlso commented on #5240
@jglick Ah I see! We default to alpha and we only overwrite it in case of aws-iam-authenticator.

Would you mind please creating a different ticket with the details saying that you are using `aws eks get-token`? Thanks.

[2022-05-13 19:08] Skarlso commented on #5240
Please also put a link in there to this code https://github.com/weaveworks/eksctl/blob/main/pkg/utils/kubeconfig/kubeconfig.go#L161 :) Thanks

[2022-05-13 19:14] doctorpangloss commented on #5256
I commented out this code in a fork to deploy GPU nodegroups. Their EKS optimized instances do not come with GPU drivers, but the end user can still deal with that by installing drivers.

[2022-05-13 19:32] jglick opened #5257 "[Bug] `eksctl utils write-config` breaks in `kubectl` 1.24 when `aws-iam-authenticator` absent"
See https://github.com/weaveworks/eksctl/issues/5240#issuecomment-1126344991 & https://github.com/aws/aws-cli/issues/6920 for context. As recommended in https://docs.aws.amazon.com/eks/latest/userguide/install-aws-iam-authenticator.html I am not running `aws-iam-authenticator`. Evidently https://github.com/weaveworks/eksctl/blob/637d454ef59305b4af6633ff939674eff1f408c2/pkg/utils/kubeconfig/kubecon

[2022-05-13 22:16] amrragab8080 opened #5258 "[Feature] Add support for Capacity Reservations in the schema."
Specifically for GPU accelerated customers using EKS and provisioning clusters via eksctl It would be useful to add support for those customers that have capacity reservations (ie. ODCRs) in their account. eksctl prepares the Cloudformation script which ultimately creates the Launch Template Data which the underlying autoscaling group uses for scaling nodes.
[Launch Template Data
](https://docs.aw

[2022-05-14 04:55] Skarlso commented on #5256
Gotcha, thanks for checking that out!

[2022-05-16 11:14] g9736ms opened #5260 "Does this not recognize subnet name in v0.97.0 version?"
this is my yaml file

[code]
my file was working in v0.96.0 but It didn't work in v0.97.0

The error comes out like this:
[code]

But when I changed the subnet to id, it worked in  v0.97.0.
[code]

Does this not recognize subnet name in v0.97.0 version?

Thank you

[2022-05-16 12:54] cPu1 commented on #5260
Thanks for the details. A [PR](https://github.com/weaveworks/eksctl/pull/5261) has been opened with a fix, it will be out in the next release this Friday.

[2022-05-16 13:13] #5260 closed

[2022-05-16 13:19] cPu1 commented on #5260
@g9736ms, the fix is out in `main`. If you're able to, can you please build from `main` and retry the command?

[2022-05-16 18:19] semoac commented on #5214
Sure:

[code]

[2022-05-16 22:17] goswamig opened #5275 "[Bug] Need to update/upgrade/re-install eksctl binary in order to create EKS cluster with latest version of k8s"
### What were you trying to accomplish?
I was trying to launch EKS cluster with k8s version 1.20 but my eksctl command
[code]
even though EKS supports
1.22.6  1.21.9  1.20.15.  1.19.16
https://docs.aws.amazon.com/eks/latest/userguide/kubernetes-versions.html

https://github.com/weaveworks/eksctl/blob/9cb6f07748cd378317a8707f6fbf49395fac9b38/pkg/apis/eksctl.io/v1alpha5/types.go#L476

### What happe

[2022-05-17 02:08] g9736ms commented on #5260
oh Thanks cPu1! I'll give it a try.

[2022-05-17 07:05] yuvipanda opened #5277 "[Feature] nvidia device plugin not scheduled on GPU nodes if they have additional taints"
### What were you trying to accomplish?

I'm trying to setup an unmanaged GPU nodegroup with some additional taints, and have eksctl automatically install the nvidia device plugin daemonset correctly.

### What happened?

Because I've additional taints on my nodegroup and the nvidia-device-plugin daemonset doesn't have tolerations for those, it's never scheduled on the GPU nodegroup.

### How to r

[2022-05-17 09:17] gohmc commented on #5257
Change from `client.authentication.k8s.io/v1alpha1` to `client.authentication.k8s.io/v1beta1` should work.

[2022-05-17 12:41] autarchprinceps commented on #5240
aws iam authenticator is unneccessary in modern EKS login. The aws cli can be used directly now. That is also what aws eks update-kubeconfig generates. This is an issue, because it directly fails inside the eksctl create command, because when eksctl then calls kubectl itself, for example to install addons.
[code]
[code]
vs
[code]

[2022-05-17 13:11] #5241 closed

[2022-05-17 13:53] jglick commented on #5240
@autarchprinceps check #5257.

[2022-05-17 14:29] dbgoytia commented on #5226
I see! Thanks a lot @Skarlso, I think that helps and I'm beginning to understand the use cases for eksctl.

Closing this issue now.

[2022-05-17 15:00] vmga-crisnevares commented on #5217
@Skarlso Just wanted to confirm that release [0.97.0](https://github.com/weaveworks/eksctl/releases/tag/v0.97.0) fixed this issue for me 😄 thanks again!

[2022-05-17 20:08] MMartyn commented on #735
Expressing interesting in this improvement as well. Our use case is that we are setting up the cluster with private endpoints behind a bastion host and we would like to configure the security group to allow the bastion to communicate with the control plane.

[2022-05-18 01:31] corinz opened #5285 "[Bug] propagateASGTags causing failed nodegroups"
Hello, I am executing a cluster creation with the new `propagateASGTags` option. I am running eksctl v0.97.0 and my cluster.yaml config looks like this:

[code]

This is the error I receive from failed node group cloud formation stacks. After executing several times with the same failure, and then removing the option, I had a successful execution.

I am assuming that there is a bit of misunderstan

[2022-05-18 07:06] Skarlso commented on #5285
Hello.

Could you show me the full output of the logs please?

I'm interested to see if the task was scheduled to run in parallel or not. It might have happened before the nodegroup was created.

[2022-05-18 10:23] #5138 closed

[2022-05-18 11:17] cPu1 commented on #5285
Thanks for the detailed issue. This is a bug with the task creation code in eksctl, it does not wait for the nodegroup creation to complete before propagating tags to the ASG. We'll look into it.

[2022-05-18 14:35] #5285 closed

[2022-05-19 02:14] #5092 closed

[2022-05-19 08:39] cPu1 commented on #5091
This issue closed due to inactivity but I'll add that eksctl does not aim for feature parity between the ClusterConfig file and CLI options, and tries to keep the number of CLI options minimal. We're happy to make exceptions if it's requested by many users but that isn't the case here.

[2022-05-19 09:33] Skarlso commented on #5256
That is certainly an option that we will be discussing!

[2022-05-19 15:07] shyam-ks opened #5289 "[Bug] EKS is not integrated with OIDC Provider, but it's doing Get OpenID call"
EKS is not integrated with OIDC Provider, but it's doing Get OpenID call because of which the deletion is failing. The main issue is this role is blocked by the IT team

[code]

[2022-05-19 16:26] Skarlso commented on #5289
Thanks for reporting this. Can you please link the config file and the delete command used to try and delete the cluster? thanks!

[2022-05-19 17:54] corinz opened #5291 "[Feature] Cloudformation template export"
### What feature/behavior/change do you want?
The ability to dump the cloudformation template with the CLI without creating the cluster. This was already requested in issue #956.
`eksctl create cluster -f cluster.yaml --output-template > cloudformation.json`
or using some combination of `--dry-run` and other flag

### Why do you want this feature?
I want to make modifications to the eks cluster an

[2022-05-19 18:39] Skarlso commented on #5291
Hi. So, for the record, eksctl doesn't JUST use cloudformation. It also creates some additional things such as addons, and IAM roles and endpoint configurations, etc. These all would not be in the template but the reference to them probably would be or would depend on them.

Meaning the generated template on its own, would probably be useless / wouldn't work at all, or in worst case, it would work

[2022-05-19 19:19] corinz commented on #5291
@Skarlso Thanks for the quick reply. I see. What else is eksctl using, for the examples you named?

[2022-05-19 21:01] Skarlso commented on #5291
For example, iam roles and service accounts are created with a different stack. Nodegroups are created with a different stack. Anything basically outside of the control plane is either a different stack or an API call.

[2022-05-20 07:12] Skarlso opened #5292 "[Bug] Fix what counts as ARM based GPU enabled instance"
[code]

This is incorrect. Only g5g instances are ARM + GPU instances.

[code]

Documentation https://aws.amazon.com/ec2/instance-types/g5g/

[2022-05-20 07:22] Skarlso commented on #5275
Thank you for your issue!

The reason we do this and not automatically set supported versions is that things can change from version to version. And sometimes we do extra stuff based on what version we have or what version is the default. We also gradually stop supporting some versions that might still be listed and could create an invalid cluster.

I hope this clarifies things. :)

[2022-05-20 07:31] Skarlso commented on #5277
Hi @yuvipanda.

Thank you for you issue.

We could try and patch the created addon daemonset after creation, but that wouldn't hold after an upgrade for example.

The aws-sdk-go-v2 doesn't expose this ability. We can patch the daemonset and apply some tolerations ( although which tolerations to apply will not be autodetected for fear of applying a tolerations which should have been ( maybe it coul

[2022-05-20 08:20] cPu1 opened #5294 "[Feature] `eksctl utils update-cluster-logging` should respect `logRetentionInDays`"
From a user on Slack:

My response:

We already support setting `logRetentionInDays` in `eksctl create cluster`, so the same API call needs to be added to `eksctl utils update-cluster-logging`.

[2022-05-20 08:30] shyam-ks commented on #5289
Config file
[code]

[2022-05-20 08:38] Skarlso commented on #5289
Thanks!

Yeah, I can see when we gather OIDC status we don't consider the permission issue to be something that would say that it's not supported. It's an error because we don't know the status of the OIDC setting.

Please try using `--force` to ignore this error and continue with the deletion process.

[2022-05-20 08:59] cPu1 commented on #5277
@yuvipanda, that's a valid request, I can see the utility of this feature. The device plugin is installed as part of `create cluster` and `create nodegroup` when an EKS-Optimized Accelerated AMI with a GPU-enabled instance type is used. If your ClusterConfig contains a single nodegroup that matches this criterion, then eksctl can apply the taints from that nodegroup as tolerations to the device pl

[2022-05-20 09:08] Skarlso commented on #5277
Ah I thought for some reason that the taints are dynamic.

[2022-05-20 09:35] cPu1 commented on #5289
I believe that passing `--force` will not fix the issue as the `force` flag is not used in that codepath. This is a valid request as not all cluster users are given IAM permissions, so I think eksctl should ignore any permission-related errors received from the IAM service, and proceed with cluster deletion. But if the cluster was originally created with OIDC enabled (by a user/role that does have

[2022-05-20 09:38] Skarlso commented on #5289
Hmm, I see this though which is right when the OIDC detection is made:

[code]

[2022-05-20 10:12] Skarlso commented on #5277
I meant that they can't be determined during a run or have arbitrary values which could cause problems with other things being scheduled. But that's not the case here. :) So never mind :)

[2022-05-20 10:31] #5093 closed

[2022-05-20 10:33] cPu1 commented on #5289
`NewOpenIDConnectManager` does not make any calls to the IAM service. It happens later in `CheckProviderExists` which is where `GetOpenIDConnectProvider` is being called and failing.

[2022-05-20 10:36] Skarlso commented on #5289
Ah right you are. I thought maybe it does a call when it's being created and could skip the whole flow.

[2022-05-20 11:16] Legion2 commented on #5292
related to #5247

[2022-05-20 11:44] #3215 closed

[2022-05-20 14:06] yuvipanda commented on #5277
Thanks @cpu1! The behavior you describe is exactly what I want. I agree that taints made outside of eksctl should be out of scope here.

[2022-05-20 15:36] Himangini opened #5299 "Releasing docs"
### Description
Recently we've found some delays in docs releases to production. We have identified a few improvements to make overall releasing docs better on Netlify. This issue is to add those improvements and make releasing docs to production great again.

Also, review the sensitive variable policy for deploys.

[2022-05-20 20:47] neowulf opened #5300 "[Help] How do I specify `hugepages-2Mi` when creating a nodegroup?"
### What help do you need?

I'd like to create a nodegroup which has `hugepages-2Mi` enabled. On the pod itself, I see the following:
[code]

However, on the node details, I see `hugepages-2Mi` to be `0`.

https://kubernetes.io/docs/tasks/manage-hugepages/scheduling-hugepages/

[2022-05-21 08:20] darkn3rd opened #5301 "Support adding/removing inline policy AFTER creating cluster/node-groups"
### What feature/behavior/change do you want?

Ability to add or remove inline policies to the node role **AFTER** the cluster has been created would be great.  This could be something like:

[code]

Note that the command line arguments and keys used in the configuration file are inconsistent.  I would recommend changing the individual flags to a single flag followed by a comma separated list, e.g

[2022-05-21 17:39] Skarlso commented on #5300
Hi!

You could try defining kubelet extra config. https://eksctl.io/usage/customizing-the-kubelet/#customizing-kubelet-configuration_1

[2022-05-23 07:06] Skarlso commented on #5140
Eventually, we'll have to do something about this. But for now, we have to keep authenticator at 0.5.5 otherwise, things start to break. :/

[2022-05-23 08:16] #5292 closed

[2022-05-23 09:21] cPu1 commented on #5108
The manual timeout-based cancellation was replaced with a deadline-based context as part of the deadline-based Context PR. As for passing a deadline-based Context directly to `Watch`, a loop would still be required because it needs to repeatedly read events from the `ResultChan` until the nodes are ready,  it'll only eliminate the `select` statement. But we'll lose the ability to discern between t

[2022-05-24 01:46] charlie-fox commented on #5038
well noted, thank you team!

[2022-05-24 01:46] #5038 closed

[2022-05-24 09:57] #5108 closed

[2022-05-24 11:50] #5257 closed

[2022-05-24 12:10] Skarlso opened #5315 "[Spike] Increase the coverage of cluster create"
### Description

https://github.com/weaveworks/eksctl/issues/5015 started with refactors and adding a happy path scenario to cluster create as a unit test.

Now it's time to increase that coverage by adding error cases, Karpenter install, nodegroups, etc.

This spike is to come up with a list/plan of places to improve the code coverage for create cluster command. We need to find our what areas are

[2022-05-24 12:53] Himangini commented on #5247
Fixed by https://github.com/weaveworks/eksctl/pull/5293

[2022-05-24 14:38] corinz commented on #4631
@adamjohnson01 Any progress on this one?

[2022-05-24 14:52] Himangini commented on #4631
Opening this issue since there's a lot of interest here.
@adamjohnson01 @corinz Please feel free to submit PRs, also let us know if you can't implement this, we will add it to our backlog 👍🏻

[2022-05-24 18:00] Skarlso commented on #5285
@corinz Hi. Please try this release https://github.com/weaveworks/eksctl/releases/tag/v0.99.0-rc.0. This is the one containing this fix. Thanks.

[2022-05-24 18:18] corinz commented on #4631
Thank you @Himangini. I cannot implement this, although I see a lot of activity on issue #185 in the last couple years. Ultimately, we can find other ways to mod `aws-auth` but it is preferable (especially if the functionality already exists) to do it with the eksctl at the time of cluster creation. And of course, the AWS API needs an update, but doesn't seem like we're gonna get that any time soo

[2022-05-25 06:45] Skarlso commented on #4916
Opened https://github.com/aws/aws-sdk-go-v2/issues/1719 to add support to V2.

[2022-05-25 06:49] Skarlso commented on #4916
Ah, found it! 🎉

[2022-05-25 10:32] cPu1 opened #5317 "[Task] Automate release process and remove redundant manual steps"
Today, upon triggering the release and release candidate workflows, the workflow creates a commit after updating the pre-release ID and opens a PR against the release branch with the `/trigger-release` label. This PR needs to be manually merged to trigger the actual release.

The additional steps of creating, approving and merging the release PR are not required. Instead, the release workflows can

[2022-05-25 11:22] SaadAlajlan opened #5318 "parsing kubectl version string (upstream error: error: exec plugin: invalid apiVersion "client.authentication.k8s.io/v1alpha1""
I tried eksctl create cluster --name hello --region=us-west-2 and got this error.

![image](https://user-images.githubusercontent.com/38673587/170250670-446c31ed-d1df-4bd2-9da5-5513a228f4f7.png)

[2022-05-25 12:10] artem-nefedov opened #5319 "[Bug] eksctl 0.98.0 throws error about Fargate in AWS China on delete"
When running eksctl in AWS China partition (aws-cn), running `eksctl delete cluster` now throws an error and the process stops:

[code]

This is a regression in eksctl 0.98.0 (after migrating to SDK v2). Version 0.97.0 works fine.
Also, 0.98.0 doesn't have this problem on creation - only deletion is affected.

Note the following:
- Role has `eks:*` permissions for all resources
- [EKS Fargate is n

[2022-05-25 12:42] Skarlso commented on #5318
Hello, there are already some things that are fix and one pending which also fixes this.
https://github.com/weaveworks/eksctl/pull/5288
https://github.com/weaveworks/eksctl/pull/5287

Please try main or please wait for another release.

[2022-05-25 13:07] Himangini commented on #5317
PS this will also involve updating the handbook for the release steps.

[2022-05-25 14:00] Skarlso commented on #4865
https://github.com/weaveworks/eksctl/pull/5059 To link again the PR which fixes support and is in review.

[2022-05-25 14:30] thamurepo commented on #1253
managedNodeGroups:
  - name: eks-ng01
    instanceType: m5.4xlarge
    instanceName: eks-.prod-01
    preBootstrapCommands:
      - "sudo mkfs.xfs /dev/nvme1n1;sudo mkdir -p /data;sudo echo /dev/nvme1n1 /data xfs defaults,noatime 1 2 >> /etc/fstab"
      - "sudo mount -a"
      - "sudo chown ec2-user:ec2-user /data"
    labels:
      role: xyz
      appName: xyz
    desiredCapacity: 3
    maxSize:

[2022-05-25 15:51] nikimanoledaki commented on #5301
Thank you for this feature request! I'm drafting a couple of thoughts around this and will post soon. :)

[2022-05-25 16:00] pptb-aws opened #5320 "[Feature] Improvements to the additionalVolumes section and documentation"
### What feature/behavior/change do you want?

I would like an option in the [additionalVolumes section](https://eksctl.io/usage/nodegroup-additional-volume-mappings/) that allows for the directory to be named and mounted automatically.  Something like this,

[code]

If the above is not viable to implement, then I believe a summary of the solution [provide here](https://github.com/weaveworks/eksct

[2022-05-25 17:06] nikimanoledaki commented on #5320
Hi, we welcome community PRs if that is something you are interested in! :)

Would you like to open a PR to improve the docs around `volumeName`?

I'm not sure how/where we would set the `directoryPath` so that needs a bit of investigation.

You mention [this](https://github.com/weaveworks/eksctl/issues/1253#issuecomment-1088240572) solution that uses the `preBootsrapCommands` command. Thank you f

[2022-05-26 08:12] nikimanoledaki opened #5321 "Review CLI UX for `update`,`upgrade` and `utils`"
The UX for `update`,`upgrade` and `utils` commands is a bit all over the place.

## `update`
For context, we have been operating under the assumption that `update` does not make any changes to the cluster. An `update` command will update configuration without necessarily making any changes. For example,

## `upgrade`

There is a discrepancy about the meaning and difference between `update` and `up

[2022-05-26 08:29] nikimanoledaki commented on #5250
WDYT about making `--wait` a `General` flag and make sure it's added to all commands? I have a feeling it's probably not just `update nodegroup`. :)

[2022-05-26 08:41] nikimanoledaki commented on #5147
This is an important issue since we are dropping flag support and supporting new features through the use of config files.

With flags, you can find out the supported fields by using `--help`.

How can a user find out which config file fields can be used with a specific command?

Currently, this has to be added manually to the docs. We don't have a schema or a consistent, automated way of doing th

[2022-05-26 10:08] cPu1 commented on #5200
@bitva77, You're on an old version of eksctl. This was a bug in eksctl 0.86 that was [fixed](https://github.com/weaveworks/eksctl/pull/4911) in 0.88. Please try the latest version and it should work.

[2022-05-26 10:11] #5202 closed

[2022-05-26 10:21] nikimanoledaki commented on #5301
UX-wise, this would be possible through `eksctl update nodegroup --config-file`, where we would add support for updating the CF template of `withAddonPolicies`.

[2022-05-26 16:35] amrragab8080 opened #5329 "[Feature] Add P4de.24xlarge to the list of supported instances when setting efaEnabled: true"
We just announced P4de instances and we need eksctl workflow when setting efaEnabled: true to support p4de.24xlarge in the EFA plugin and to install the nvidia daemonset.
https://github.com/weaveworks/eksctl/blob/8ab886b8752038a3ee521aa30dc356468211c6f0/pkg/addons/assets/efa-device-plugin.yaml#L41-L70

https://aws.amazon.com/about-aws/whats-new/2022/05/amazon-ec2-p4de-gpu-instances-ml-training-hpc

[2022-05-26 17:20] bitva77 commented on #5200
yep, all good now!  thanks!

[2022-05-26 17:20] #5200 closed

[2022-05-27 02:10] #5107 closed

[2022-05-27 02:10] #4980 closed

[2022-05-27 02:10] #4940 closed

[2022-05-27 08:25] nikimanoledaki commented on #5329
Thank you for flagging this, this should be prioritised from our side.

[2022-05-27 08:37] cPu1 commented on #5329
@amrragab8080, we have opened a [PR](https://github.com/weaveworks/eksctl/pull/5330) to add p4de instance types to the EFA plugin. We're also waiting on https://github.com/weaveworks/eksctl/pull/5274#issuecomment-1137099803 to add more EFA instance types to the list.

[2022-05-27 08:55] #5329 closed

[2022-05-27 14:22] Holmes5 opened #5335 "[Bug] Can't create private clusters when an S3/etc endpoint already exists in the VPC"
### What were you trying to accomplish?

I would like to create a private cluster in an existing VPC, which contains all our existing resources and for which we had to request a Transit Gateway connection from IT.

### What happened?

Creating the private cluster failed because `eksctl` tried to insert an S3 endpoint that was already present. I would expect it to check whether the endpoints alread

[2022-05-27 14:36] steveizzle opened #5336 "[Bug] Updating aws-node with utils installs not the recommended version"
### What were you trying to accomplish?

Updating aws-node to the newest recommended version with the use of `eksctl utils update-aws-node `

### What happened?

Version v1.9.3 gets installed, instead of the recommended version 1.11.0 (https://docs.aws.amazon.com/eks/latest/userguide/managing-vpc-cni.html#updating-vpc-cni-add-on)

When manually fixing the image i ran into another problem which see

[2022-05-27 14:38] Skarlso commented on #5335
Hi.

Did you try using `skipEndpointCreation: true`?

[2022-05-27 14:49] Skarlso commented on #5336
Hi!

aws-node version is backed into eskctl here: https://github.com/weaveworks/eksctl/blob/main/pkg/addons/default/assets/aws-node.yaml

We can try and update it. Usually, we don't out of compatibility reasons. Or because it breaks something.

[2022-05-27 15:16] Holmes5 commented on #5335
I just tried that and it appears to be working. I hope I set up all the endpoints correctly...

[2022-05-27 15:18] Skarlso commented on #5335
🤞 :)

[2022-05-27 15:21] Holmes5 commented on #5335
Theoretically, I should be able to control it from my laptop because of the transit gateway, yes? Because my attempt to create a nodegroup failed with "Error: getting list of API resources for raw REST client: Get "https://D3FC536B126739F82DD57C97367ED8FB.gr7.us-east-2.eks.amazonaws.com/api?timeout=32s": net/http: TLS handshake timeout." Is there some endpoint that this can be traced to?

[2022-05-27 17:56] Holmes5 commented on #5335
I can connect from inside the VPC, so I think as far as this is concerned I'm good.

[2022-05-28 06:07] cparik opened #5337 "[Bug] Default --max-pods value of 10 getting applied in the bootstrap.sh when creating nodegroup with eksctl restricting the max pods on the node"
### What were you trying to accomplish?

EKS version: 1.22

Creating a nodegroup using the following command in `us-east-1` region.
[code]

### What happened?

The nodegroup is created.
[code]

The node has the following userdata added
[code]

The `--max-pods=10` gets applied restricting the maximum pods allowed to 10 only. The `kubectl describe node` command showed the following for Allocatable r

[2022-05-28 06:22] Skarlso commented on #5335
You have to be inside the VPC with a strict IP / whatever the security group allows for I believe.

The API error is weird. :D

[2022-05-28 06:23] Skarlso commented on #5336
Yeah. :/ That is problematic indeed.

[2022-05-28 06:26] Skarlso commented on #5337
Hello, I think this is related to this https://github.com/weaveworks/eksctl/issues/5134 right?

[2022-05-28 06:42] cparik commented on #5337
Thanks @Skarlso  - I saw that issue, but as it was happening for me regardless of setting `max-pods-per-node`. Hence, I logged this separately.
Let me know if you think these two are similar.

[2022-05-28 15:47] pptb-aws opened #5338 "[Feature] Quality of life improvments for new users applying taints"
### What feature/behavior/change do you want?

First, have the error message when the effect of a taint is not valid, print out the valid list of taint options.

Current error message:
[code]

Purposed error message:
[code]

Second, it would be beneficial if eksctl documentation noted that it is case sensitive.  If possible, having eksctl check for erroneous capitalization, such as writing Taints

[2022-05-30 08:16] cPu1 commented on #5338
eksctl assumes the user has some knowledge of Kubernetes. The list of supported taints is exactly the same as the Kubernetes API server accepts (and kubectl).

Good suggestion, we do this for some other fields that take an enumeration.

Almost all field names and values are case-sensitive in eksctl as eksctl uses the same Kubernetes-style object naming conventions.

This is a little out of scope f

[2022-05-30 08:27] cPu1 commented on #5337
@cparik, as noted by [this comment](https://github.com/weaveworks/eksctl/issues/5337#issuecomment-1140187851) on the issue, EKS managed nodegroups attempts to calculate a `max-pods` value if the VPC CNI is running on 1.9 and above. This is done regardless of whether a value is specified for `maxPods` in eksctl, so eksctl has no control over this setting. If you'd like to not have a `max-pods` valu

[2022-05-30 09:22] #4916 closed

[2022-05-30 11:36] Himangini commented on #4865
Closed by #5059

[2022-05-30 11:36] #4865 closed

[2022-05-31 08:04] yuvipanda commented on #5277
@Skarlso does this work? https://github.com/2i2c-org/infrastructure/blob/81b4b506c700646870da079248ee39de72b1fd2f/eksctl/uwhackweeks.jsonnet#L23 :D

[2022-05-31 08:08] Skarlso commented on #5277
It's fine, I wrote one I can use for testing. :D The linked PR should fix your problem. :)

[2022-05-31 08:10] yuvipanda commented on #5277
yay excited to watch it land! thank you so much for working on this, @Skarlso!

[2022-05-31 10:46] Skarlso opened #5348 "[Bug] PR checks are not triggered on the PR created by the dependabot-bundler action"
PR checks are not triggered on the PR created by the dependabot-bundler action.

Really weird.. create a dependabot-bundler PR and the actions will stay as Pending forever. They won't run on that PR.

Oh!!!!!!!!!!!!!!! PRs created with the default GITHUB_TOKEN token will not fire github actions on created pull requests. You need a personal token for that.

[2022-05-31 14:10] #5348 closed

[2022-05-31 14:12] Skarlso opened #5356 "[Feature] Need a better way to open PRs by the dependabot-bundler"
Right now, prs opened by dependabot-bundler aren't running pull request actions ( GitHub Actions ) because it's using the default token. The default GITHUB_TOKEN does not have the ability to trigger the PR checks deliberately by the GitHub team to prevent recursion etc.

So we need a token...

[2022-05-31 15:55] Himangini commented on #5318
@SaadAlajlan are you still experiencing this issue with the latest release or can this be closed off now?

[2022-05-31 16:14] SaadAlajlan commented on #5318
The last try was today 12:50AM
![Screenshot 2022-05-31 190856](https://user-images.githubusercontent.com/38673587/171221107-0297c02a-e61c-4fae-9778-558b96b0a0ee.jpg)
![Screenshot 2022-05-31 190949](https://user-images.githubusercontent.com/38673587/171221161-7ace48c4-9c3f-4ab3-aa3c-da97d57df926.jpg)
![Screenshot 2022-05-31 191049](https://user-images.githubusercontent.com/38673587/171221195-9071d5

[2022-05-31 17:21] lexagigabit commented on #5247
Not sure if this is the proper way to report the issue I have, but exactly the same issue still exists in 0.99.0
Tried with the unmanaged node groups and following instance types: `c6gd.large`, `r6gd.medium`
[code]

[code]

[code]

[2022-05-31 19:19] Skarlso commented on #5247
Oh so sorry, @lexagigabit  this is the release that contains the fix https://github.com/weaveworks/eksctl/releases/tag/v0.100.0-rc.0.

[2022-05-31 20:01] awsjake opened #5358 "[Feature] Config Schema needs to honor all command flags"
### What feature/behavior/change do you want?

Include command line flags into config schema parameters.
Example, there is not a parameter for disabling the kube-config update.
`--write-kubeconfig=false`

### Why do you want this feature?

Several AWS accounts do not have internet access.  Using `eksctl apply -f filename.yaml` does not allow the passing of additional arguments or flags when using

[2022-05-31 20:23] Skarlso commented on #5358
Hey. Thanks for the issue. I think it's a reasonable request. Will discuss with the team.

[2022-06-01 02:12] #4977 closed

[2022-06-01 04:44] chainhead commented on #3441
In the meantime, here is a [blog post](https://aws.amazon.com/blogs/containers/deploying-containerized-application-on-aws-outposts-with-amazon-eks/) that shows a bunch of `eksctl` commands to launch a worker node on Outposts.

[2022-06-01 06:31] JanneEN opened #5359 "[Bug] Nodegroup instances created using custom launch template are missing name tags"
### What were you trying to accomplish?
Creating a nodegroup using a custom launch template.

### What happened?
Nodegroup was created, but the nodegroup ec2 instances are missing the name tag values that is normally generated by eksctl when creating a nodegroup. For example, with cluster name CL1 and nodegroup name NG5, normally a name tag with value
"CL1-NG5-NODE" will be created by eksctl.

###

[2022-06-01 07:37] Skarlso commented on #5359
Hi!

So when you make a custom launchtemplate you also have to take care of constructing the tagging part.

If eksctl makes the launchtemplate we do this for you:

[code]

Otherwise, we just assume the launchtemplate is fine. We validate it and that's it. :)

[2022-06-01 10:09] JanneEN commented on #5359
Thanks @Skarlso. The issue is that my custom launch template itself has no information on the node group name that's being created or the cluster name, so I don't see how in my custom launch template I can create a Name tag value that is specific to the created node group. Only eksctl has that information when the create nodegroup command is run. That's why it seems it would be a job for eksctl to

[2022-06-01 10:29] Skarlso commented on #5359
The problem is, that we can always only apply the tags in the code after we fetched the LaunchTemplate. If you don't Meaning things like autoscaling or things that create nodes besides eksctl using the launchtemplate as a source for launching nodes, will not have those tags. The nodegroup might be tagged sure, but whatever is using only the launchtemplate will never properly be tagged if that make

[2022-06-01 12:57] Skarlso commented on #5358
Hello @awsjake.

So, this is actually working: `eksctl create clsuter -f cluster-config.yaml --write-kubeconfig=false`.

Did you try a different command? `eksctl apply` is not a thing. :)

[2022-06-01 14:13] Skarlso commented on #5214
@semoac thanks for the config!

[2022-06-01 14:50] Skarlso commented on #5214
Oh hang on... I just noticed that you are using an ami and auto-ssm.

In that case, please provide the overrideBootstrapCommand. That should contain `--container-runtime containerd`. In case overrideBootstrap is defined this `    containerRuntime: containerd` doesn't do anything.

That said, there probably should be a warning / error for that.

Also, the file you linked will only be used if you wo

[2022-06-01 15:13] Skarlso opened #5363 "[Bug] Containerd setting should emit a warning if custom AMI is used"
`containerd` setting is not compatible with overrideBootstrapCommand because if override is defined, the `containerd` setting is effectively useless since it's not being used by whatever script overwrote our bootstrap script.

Noticed in https://github.com/weaveworks/eksctl/issues/5214.

[2022-06-01 15:30] Skarlso opened #5364 "[Task] remove usages of aws-sdk-go v1 where possible"
We still have a couple of places where we use sdk v1 but don't have to. Places where `aws.String` is used for example. We should clean those up.

### Scope update

In this particular issue we will remove as much of the clutter as possible, replacing sdk v1 dependencies in places where it is relatively easy to do so and where the code between v1 and v2 hasn't suffered major refactorings. We'll also

[2022-06-01 15:54] #5277 closed

[2022-06-02 07:00] JanneEN commented on #5359
Yes I see the problem. I also tried using tagging on the nodegroup level on eksctl yaml, however those tags are not propagated either, even though they are included in the eksctl-generated CloudFormation template for the nodegroup. This seems to be an AWS side issue
[https://github.com/aws/containers-roadmap/issues/374] of the tag propagation not working properly from nodegroup to the created inst

[2022-06-02 08:21] devops-cafex opened #5366 "Instances created flagged by AWS Security Hub as not using Instance Metadata Service Version 2 (IMDSv2)"
[AWS Security Hub](https://aws.amazon.com/security-hub/) Flags a high Severity issue for instances created for EKS nodegroups

[code]

They provide the following to remediate

https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-standards-fsbp-controls.html#ec2-8-remediation

[2022-06-02 08:27] Skarlso commented on #5366
Thank you for bringing this to our attention. We will look into it!

[2022-06-02 08:30] Skarlso commented on #5366
@devops-cafex
You can use the following setting to disable v1:

[code]

when creating new nodegroups. Please be advised that this does not work for existing nodegroups. You have to create new ones.

[2022-06-02 08:34] devops-cafex commented on #5366
Perfect, thank you 👍

[2022-06-02 08:34] #5366 closed

[2022-06-02 11:37] MartinEmrich opened #5368 "[Feature] Option to restore IAM serviceaccount"
### What feature/behavior/change do you want?
An option to restore damaged/removed IAM serviceaccounts without having to delete the whole stack.
Reading several issues here, `create` failing silently if anything already exists seems to be conscious design decision for eksctl, so it won't "repair" partially missing IRSA on subsequent calls.

### Why do you want this feature?
But once in a while, an

[2022-06-02 11:45] Skarlso commented on #5368
Hi.

There have now been a number of issues regarding this, please take a look and see if any of them answer your question. :)

Start from here: https://github.com/weaveworks/eksctl/issues/4981 :)

[2022-06-02 11:51] MartinEmrich commented on #5368
Hi @Skarlso!

Indeed #4981 was the first issue I found, but it apparently deals more with damaged CloudFormation stacks, and the conclusion was to keep the imperative nature there.
On my experience, CloudFormation is indeed notoroiously bad to "repair", one can easily get into a dead-end state where only deleting and recreating the stack is viable, so a more declarative approach might indeed be ha

[2022-06-02 12:07] Skarlso commented on #5368
The attached PR would have done something like that. Detect if there is already something there or not. But it was abandoned and we don't have the bandwidth to finish it. :)

[2022-06-02 12:15] JanneEN commented on #5359
Closing this, we will use the workaround to hardcode the tags in the Launch Template, until AWS enhances the EKS API to propagate the nodegroup tags to instances.

[2022-06-02 13:37] Skarlso commented on #5368
Not to be pessimistic, but I don't believe 2774 will get anywhere any time soon. Maybe in the future... but we can't prioritise it with so many things being more in focus and the massive change it would have to bring with it. We just don't have enough staff to do this. :)

[2022-06-02 14:04] Skarlso commented on #5150
The nodes switch from ready to unready, then ready again, but by the time the next comes around, it times out.

I think this might be some kind of internal timeout...

[2022-06-02 14:27] Skarlso commented on #5150
It looks like we can increase the timeout through list options. So I'm gonna do that.

[2022-06-03 01:34] cparik commented on #5337
@cPu1  - Thanks for sharing this information. The issue was because of the `--instance-selector ` flag. Due to this, the d3en.xlarge instance is also selected and it only supports max 10 ENIs. That's why the max pods were limited to 10 in the nodes.

[2022-06-03 01:34] #5337 closed

[2022-06-03 05:18] JanneEN commented on #5359
One more question. When not using a custom launch template, eksctl adds the following tags to the generated launch template that are missing if using custom launch template:
- alpha.eksctl.io/nodegroup-type
- alpha.eksctl.io/nodegroup-name
Are these tags needed for eksctl, do I need to add them manually in a custom launch template or can I just leave them out? The alpha.eksctl.io/nodegroup-name va

[2022-06-03 06:04] Skarlso commented on #5359
Yep, they are used to discover nodegroups and list them / show them, etc...

[2022-06-03 08:22] cPu1 commented on #5319
@maopei820219, this is not fixed yet. We'll try to get a fix out soon.

[2022-06-03 10:30] JanneEN commented on #5359
I did some testing, and it seems even without those tags present in the nodes, the eksctl get nodegroup operation correctly lists the nodegroups and their information for managed nodegroup. Is there some other commands that use them?

[2022-06-03 13:50] Skarlso commented on #5150
Tried the following with zero possibilities for implemention:
- increase timeout -> impossible. The whole process is internal. All timeout options are request and call related
- change the waiter to a different one by hand -> don't think it would make a difference as the error appears to be not coming from the watcher but from Kubernetes
- somehow get the log to appear in our logs -> can't redirec

[2022-06-03 13:50] #5150 closed

[2022-06-03 14:10] johnwesley commented on #5364
Is this a `good first issue` candidate?

[2022-06-03 14:12] Skarlso commented on #5364
@johnwesley Yes! :) Feel free to pick it up. Please note though that there are some places where it's a bit wonky. For example, when we create sessions. It might work though. :D Not sure. :) But most places can easily be just replaced.

[2022-06-03 20:48] awsjake commented on #5358
I mistyped.  I did intend to write `eksctl create cluster -f`.
Can you share what version of eksctl this works with?  I am running v0.82.0.

[2022-06-03 20:53] Skarlso commented on #5358
It's working on the latest which is 0.100.0. But I expect it to work on other versions as well. 🤔 in any case, latest worked.

[2022-06-06 08:02] cPu1 commented on #4832
Closing due to inactivity, please feel free to open a new issue if you have more questions.

[2022-06-06 15:39] tanvp112 opened #5377 "Crashed with delete cluster using config-file."
The program (version 0.100.0) crashed when delete cluster with [config-file](https://eksctl.io/usage/fargate-support/#creating-a-cluster-with-fargate-support-using-a-config-file):

[code]

[2022-06-06 16:45] cPu1 commented on #5377
Thanks for the detailed issue. We'll look into this with priority.

[2022-06-06 16:46] Himangini commented on #5377
Hey @tanvp112 thanks for reporting the issue. Can you provide us the following info

**Versions**

[code]

[2022-06-06 18:21] Himangini commented on #5377
I just created and deleted the cluster with the [Fargate example](https://eksctl.io/usage/fargate-support/#creating-a-cluster-with-fargate-support-using-a-config-file) mentioned in the docs and I didn't get any errors with latest eksctl version. Both commands ran without errors.

[2022-06-07 02:08] tanvp112 commented on #5377
Hi @cPu1, v0.99.0 works using the same spec.

Hi @Himangini, I use pre-built binary on GitHub release:

[code]

Over my side `eksctl create cluster -f ` works as expected. Currently I am doing `eksctl delete cluster -r <region> -n <cluster> -w` as workaround. Will try to get more info and update.

[2022-06-07 04:09] ozbillwang commented on #237
it has been supported, the key point is to add iam policy `AmazonSSMManagedInstanceCore` to node instance profile, and I saw the latest eksctl has done that already.

[2022-06-07 04:24] ozbillwang commented on #237
The key point is to add iam policy `AmazonSSMManagedInstanceCore` to node instance profile

[2022-06-07 07:16] cPu1 commented on #5377
@tanvp112, thanks for the update. I did suspect that your ClusterConfig must've had `vpc.clusterEndpoints` defined as well. We'll try to reproduce this and work on a fix soon.

[2022-06-07 07:40] #5317 closed

[2022-06-07 07:43] Skarlso commented on #5143
Actually, I was slightly mistaken in this issue. `overrideBootstrapCommand` is not regarded in the case of Windows machines. It's completely ignored.

[2022-06-07 07:48] cPu1 commented on #5143
@ravikiran-talluri, you're getting this error because you're using a custom AMI (by setting the `ami` field). The [latest eksctl RC](https://github.com/weaveworks/eksctl/releases/tag/v0.101.0-rc.0) has relaxed the validation for Windows nodegroups to no longer require setting `overrideBootstrapCommand` when a custom AMI is used. Please retry your command and it should work.

[2022-06-07 07:54] maopei820219 commented on #5143
@cPu1
Understood. I will have a try with the latest eksctl RC version.

[2022-06-07 11:14] Himangini commented on #5318
We have released [v0.100.0](https://github.com/weaveworks/eksctl/releases/tag/v0.100.0) should fix this issue.

[2022-06-07 11:17] ozbillwang opened #5380 "[Bug]"
### What were you trying to accomplish?
I have created the EKS cluster.

Then follow the document (https://eksctl.io/usage/eksctl-karpenter/) to add `karpenter support`,

### What happened?

but when I upgrade it, nothing happen.

### How to reproduce it?

I have created the EKS cluster.

Then follow the document (https://eksctl.io/usage/eksctl-karpenter/) to add `karpenter support`,

[code]

but

[2022-06-07 11:26] Skarlso commented on #5380
Hello.

There is no upgrade path for installing Karpenter I'm afraid. :)

Also, `upgrade` is used for different things, like kubernetes version upgrade of the controlplane.

[2022-06-07 11:36] cPu1 commented on #5299
We've decided to use the `docs` branch again for publishing docs. This is now possible after merging https://github.com/weaveworks/eksctl/pull/5369. Please note that we'll be able to test the new docs publishing workflow a couple of weeks later when the next RC branch has the new changes.

[2022-06-07 11:45] ozbillwang commented on #5380
Thanks for the updates.

so `eksctl update` or `eksctl upgrade` doesn't like the other tools, such as `cloudformation template`, AWS SAM or CDK  or `terraform`. When apply the change, it will do the infrastructure as code to get all setting sync from the configuration files.

Does it mean, after I created the cluster, if I need install or set other components, in most case, I need install them sep

[2022-06-07 12:03] Skarlso commented on #5380
`eksctl` is an imperative tool. It makes things that you tell it to then doesn't manage them any longer.
It has no `apply` feature for idempotent infrastructure. It can update nodegroups, labels with separate commands or add / install addons after a cluster has been created. For a complete list on how it works, please visit the documentation under https://eksctl.io. Thanks! :)

[2022-06-07 12:06] ozbillwang commented on #5380
Thanks for the explanation

[2022-06-07 14:41] #5338 closed

[2022-06-07 14:48] maopei820219 commented on #5319
@cPu1
Could this issue be fixed in the release 0.101.0-rc.0? I need an version include this fix and [#5248](https://github.com/weaveworks/eksctl/pull/5248).

[2022-06-08 07:30] #5289 closed

[2022-06-08 11:04] nayanen opened #5382 "[Feature] EFA managed nodegroup to use existing security group"
### What feature/behavior/change do you want?

Make use of existing security group while creating managed nodegroups and efaEnabled is set to TRUE.

### Why do you want this feature?

The Key requirements for EFA networking are creating the EFA specific security groups and placements groups as well launching the nodegroup in a single Available Zone. While creating the managed nodegroups efaEnabled

[2022-06-08 11:48] cPu1 commented on #5382
There's `nodeGroup.securityGroups.attachIDs` that lets you specify existing security groups for your nodegroups. Does that work for your use case or do you not want the security group rules added by eksctl when EFA is enabled?

[2022-06-08 11:48] jimmyraja000 commented on #319
Heyy @errordeveloper , would you help me solving this issue, I tried to build cluster using aws cloudfront stack through aws cli installed ec2. But getting this error {unexpected status "ROLLBACK_IN_PROGRESS" while waiting for CloudFormation stack "eksctl-jaceks-cluster-cluster"} ,jaceks-cluster is the name.  I have provided the right iam role to the respective ec2 machine also tried so many times

[2022-06-08 12:49] Himangini commented on #4477
Spike first here to investigate how much work is involved in upgrading to a higher version.
Document the findings here.

Timebox: 1-2 days.

[2022-06-08 14:18] Skarlso commented on #5140
Ok, I think I figured out how to do this. Actually, since we no longer use aws-iam-authenticator in the code ( thank all the Gods for that ) we are going to install it in a different way. So we no longer have to have it in our code. :)

[2022-06-08 14:19] Skarlso commented on #5140
I know we use the tools approach for this one, but honestly, it's not working out.