[2022-01-17 07:43] cPu1 opened #4635 "Avoid redundant calls to DescribeStack, GetStackTemplate"
When handling a command that requires loading information about the cluster, eksctl fetches the cluster's CloudFormation stack to obtain references to resources (like VPC) stored in output variables. This pattern is repeated in every part of the codebase that needs to read the cluster stack, resulting in redundant AWS API calls and slowing down execution of the command.

Instead, this information

[2022-01-17 09:05] cPu1 commented on #4517
Once you've created your managed nodegroups, you should be able to register the provisioned instances as targets, but this is not recommended as this node list can change when a scaling event occurs, or when you upgrade your nodegroups.

[2022-01-17 10:41] aclevername commented on #4628
Hey @jimmyraywv. For the initial launch we didn't add support for using a pre-existing VPC for an ipv6 cluster. I'll add this story to our backlog and we will get to it soon :smile:

[2022-01-17 10:44] aclevername commented on #4631
Hey @rayterrill , we were going to add support to this but in anticipation of a new AWS API we decided against it- see https://github.com/weaveworks/eksctl/issues/874#issuecomment-795808745. However that was quite some time ago and it doesn't seemed to have progressed. I will poke about and see if we can get an update on it, if its not coming soon then I agree its worth adding support for specifyi

[2022-01-17 10:46] cPu1 commented on #4423
We query the latest release version and set it explicitly in the CloudFormation template to force CFN to apply the changeset if nothing else has changed in the template. Otherwise, if you attempt to upgrade a nodegroup that's on the same Kubernetes version as the control plane, the changeset will be empty and it won't be upgraded to the latest release version. This is required because of CloudForm

[2022-01-17 10:50] aclevername commented on #4630
Hey @rayterrill. Thanks for opening the issue. This tag seems to keep cropping up- see https://github.com/weaveworks/eksctl/issues/3341 . Originally EKS was automatically adding it to the subnets, but they removed that functionality for 1.19+. You can get this tag added by setting the `metdata.tags` field (see [comment](https://github.com/weaveworks/eksctl/issues/3341#issuecomment-786541960), howe

[2022-01-17 10:54] #4633 closed

[2022-01-17 11:13] aclevername commented on #4423
When would you wan't to upgrade a nodegroups thats already on the same k8s version? When running something like
`eksctl upgrade nodegroup --name=bottlerocket-nodegroup --cluster=cluster-name --kubernetes-version=1.21` where you don't specify a launchTemplate/releaseVersion, surely it should just be a no-op?

[2022-01-17 11:56] cPu1 commented on #4423
EKS also publishes new AMIs for existing Kubernetes versions.

[2022-01-17 12:09] aclevername commented on #4423
:+1: gotcha

so for `bottlerocket` where we can't seem to find the `release_version` (I'll dig further to see if we can find it), it just setting `version` instead the best workaround?

[2022-01-17 12:48] #4613 closed

[2022-01-17 12:58] cPu1 commented on #4635
This is also true for `GetStackTemplate` which is called multiple times during the execution of a command.

[2022-01-17 15:24] SamLR opened #4645 "kubectl logs/run fails with Authorization error with custom VPC"
**What were you trying to accomplish?**

Trying to get logs from a pod fails with Authorization Error

**What happened?**

When running `kubectl run` and `kubectl logs` on an EKS cluster with custom VPC the command fails with an error like.

[code]

The error response seems to take a long time (~60s) so appears to be a timeout but is returned as an authorization error (despite `kubectl auth can-i

[2022-01-17 15:29] SamLR commented on #4645
**tl;dr** fix: setting `enableDnsHostnames: true` on the VPC fixed it for me.

Also added this to the troubleshooting docs in the PR

[2022-01-17 15:33] aclevername commented on #4645
thanks for the summary and great work @SamLR !

[2022-01-17 15:33] #4645 closed

[2022-01-17 17:54] rayterrill commented on #4631
Sounds good @aclevername. Let me know too - happy to help add support for this if it fits in with the roadmap! Cheers!

[2022-01-17 17:59] rayterrill commented on #4630
The vpc.tags or vpc.subnets.tags sounds most appropriate to me - would love to have the ability to keep this constrained to subnets in particular.

Nginx Ingress + AWS LB integration is my reason for this - I believe AWS's ALB controller has the ability to deduce private vs public subnets via some additional logic, but we're not seeing that for the nginx controller - the AWS LB doesnt get created

[2022-01-17 21:09] lbodor opened #4648 "Undo flag ignored in `eksctl drain nodegroup --undo`"
**What were you trying to accomplish?**

 Running `eksctl drain nodegroup --undo`

**What happened?**

Does not uncordon any nodes. The documentation says that `--undo` should uncordon, see https://eksctl.io/usage/managing-nodegroups/#deleting-and-draining.

**How to reproduce it?**

**Logs**

[code]

**Anything else we need to know?**

The undo flag is accepted, but ignored when running `drain no

[2022-01-17 21:52] benmedapp commented on #4437
So I know it's not great (not following least privileged) but you can add the get namespaces permission to system:node and this will work.
`kubectl edit clusterrole system:node`
add this:
`- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get`

[2022-01-18 06:18] cPu1 commented on #4648
Well spotted! We'll try to get your fix out in the next release this week.

[2022-01-18 06:34] #4648 closed

[2022-01-18 09:48] cPu1 opened #4655 "[SPIKE] Split types StackCollection, ClusterProvider etc. and increase cohesion"
Types `StackCollection` and `ClusterProvider` have a lot of methods, many of which do not necessarily belong in them, thereby reducing cohesion and adding too many responsibilities to a single type. Both types should be split into smaller and more focused types.

Related: #4213

As part of this spike ticket, investigate a few possible options for implementation and then we'll discuss as a team wha

[2022-01-18 10:54] Himangini commented on #4630
Hi @rayterrill  Thanks for opening this feature request 👍 The team will review and see whether this functionality fits in with the project. In the meantime, if you would like to demonstrate a solution, please open a PR 😃 .

[2022-01-18 11:13] Himangini commented on #4588
@abhishekrathi09 there's a spacing issue in your `yaml` file. The above comment suggests how to fix it. I am closing this now but please feel free to open again if you have more issues 👍🏻

[2022-01-18 11:13] #4588 closed

[2022-01-18 11:25] Himangini commented on #4544
@tdeheurles thanks for opening the issue, are you still getting errors?

[2022-01-18 11:30] Skarlso commented on #4588
Hmmm, turns out the original thing didn't have any syntax errors in it. I tried again to make sure what's going on but without changing anything and it actually worked fine. I'm guessing there was some kind of invalid character in there somewhere? @abhishekrathi09 Did this ever occur again?

[2022-01-18 11:39] ygrosu opened #4657 "eksctl update iamserviceaccount changes name of IAM role"
I created a service account and IAM role with a role name i gave (to make helm templating simpler), and everything worked smoothly.
Here is the command:
[code]

Then i wanted to add an additional policy to that aws iam role and ran this:
[code]
eksctl update iamserviceaccount parameters do not have role-name, so this breaks the SA<>IAM Role mapping.

Expected behavior:
Either provide role name as

[2022-01-18 11:41] Skarlso commented on #4657
Hi! :)

If all you need is adding a NEW account you would want to run a `create` again with the new things, instead of running `update`.

[2022-01-18 11:46] Himangini commented on #4541
@cPu1 can you add more details of the tests in question here? which test needs to be updated?

[2022-01-18 11:47] nikimanoledaki commented on #4543
Great stuff!!!

Could you expand a bit on what the behaviour of `eksctl apply` would be and how it would be a solution for this? Would it essentially cover the following two points that you wrote about?
[code]

I may also be missing some context since the conversations around `eksctl apply` kind of predate me. If there are any links to past discussions around this, those may be helpful to add here

[2022-01-18 11:49] Himangini commented on #4539
@aibharata any updates please? are you still having issues with this? :)

[2022-01-18 11:51] Himangini commented on #4532
@isaac-ward are you still having issues ?

[2022-01-18 12:05] cPu1 commented on #4541
I have updated the description with the filename.

[2022-01-18 12:12] aclevername commented on #4543
The proposal definitely covers it as a whole.

As for how it fits into this, what I meant to say that if we shifted to updating the stack, commands like `eksctl utils update-cluster-endpoints` which currently just updates a unique/isolated piece of configuration, would instead reconcile the whole stack to the cluster template. So its modifying *a lot*. This might be what you want `eksctl apply` to

[2022-01-18 14:03] Himangini commented on #4500
@cPu1 can you add more details on this ticket please , thanks 👍🏻

[2022-01-18 14:14] cPu1 commented on #4500
I have added an example for reproducing the issue.

[2022-01-18 14:29] Himangini commented on #4602
This page might need some help https://eksctl.io/usage/vpc-ip-family/

[2022-01-18 16:48] aclevername commented on #4628
this is apparently incorrect. we do support using a pre-existing VPC see https://github.com/weaveworks/eksctl/pull/4398 however it sounds like perhaps https://github.com/weaveworks/eksctl/pull/4566 broke it, we are investigating

[2022-01-18 23:42] benridley commented on #2943
@Callisto13 Couldn't eksctl just use something other than the cluster name (which may have underscores) as the stack name for cloudformation? Perhaps hashing the cluster name or just creating a temporary random name for the duration of execution?

[2022-01-19 08:01] cPu1 commented on #4213
I have opened these issues for this refactoring spike: #4616, #4635, #4627, #4565, #4655.

[2022-01-19 09:14] Callisto13 commented on #2943
🤔  hashing _may_ work, so long as we don't run into CF's character limits.

I am not sure the temp random name would work, since the stack will need to be looked up for subsequent executions so we would end up needing to store that somewhere. We could store it as a label on the cluster perhaps... but I have a nagging feeling we have had this conversation before and I can't remember why we agreed i

[2022-01-19 09:21] Skarlso commented on #2943
Sadly, as with anything, it's not a trivial thing. See this comment https://github.com/weaveworks/eksctl/pull/3600#issuecomment-855715907

It outlines the difficulties of having a custom name basically, which is similar to all of this.

In a nutshell, we need to store the name somewhere in order for consequent lookups to work. And tagging doesn't always work, especially in cleanup operations, wher

[2022-01-19 13:02] baalajimaestro opened #4661 "CoreDNS does not get an IP with IPv6 cluster on eksctl 0.80.0-rc"
**What were you trying to accomplish?**
I tried to create an IPv6-enabled EKS cluster with VPC CNI, kube-proxy and coredns addons enabled.

**What happened?**
CoreDNS get stuck at ContainerCreating, upon inspection, it provides the logs mentioned below. I havent tested my own applications on IPv6, but I am not sure, if I will need CoreDNS in the cluster, we have been going with it since we enabled

[2022-01-19 13:18] aclevername commented on #4631
@rayterrill after chatting with some folks I think its worth doing this, lets not wait on the new AWS API.

Would you like to give it a go at implementing? If not we will add it to our backlog :smile:

[2022-01-19 13:47] Himangini commented on #4628
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Team-PitchBlack-60ed85b4f8399b0017862dbd/issues/weaveworks/eksctl/4628?planning-poker) with ZenHub @aclevername @cPu1 @Skarlso @nikimanoledaki

[2022-01-19 14:08] Himangini commented on #4530
We need to update the error message here for better UX, perhaps need to improve on the docs for this as well.

[2022-01-19 14:08] Himangini commented on #4530
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Team-PitchBlack-60ed85b4f8399b0017862dbd/issues/weaveworks/eksctl/4530?planning-poker) with ZenHub @aclevername @cPu1 @nikimanoledaki @Skarlso

[2022-01-19 14:24] Himangini commented on #4544
We'll investigate and confirm is this issue is happening in our end

[2022-01-19 14:29] Himangini commented on #4544
Timebox: 1/2 day to reproduce this error on our end.

[2022-01-19 14:41] Himangini commented on #4515
We will add a check to fail early to improve the Ux as suggested by @cPu1 above.

[2022-01-19 14:41] baalajimaestro commented on #4661
I dont know how this helped but dont attach this ARN to VPC-CNI, and things would be fine

[code]

[2022-01-19 14:42] #4661 closed

[2022-01-19 14:46] aclevername commented on #4661
@baalajimaestro yes thats correct, the IPv6 Addons requires different policies to the IPv4 addon:

https://github.com/weaveworks/eksctl/blob/0217e1383b7a433a4e00b61fe88566d3cea54269/pkg/actions/addon/create.go#L270-L294

https://github.com/aws/amazon-vpc-cni-k8s

[2022-01-19 14:47] Himangini commented on #4515
We are dropping this for now since there's an overhead of maintaining the list of supported instance types.

[2022-01-19 14:47] #4515 closed

[2022-01-19 15:57] matti opened #4662 "if eksctl create cluster fails, no way to clean up the stack"
[code]

but then:
[code]

also noticed here: https://github.com/weaveworks/eksctl/issues/1386#issuecomment-1011372461

[2022-01-19 16:15] rayterrill commented on #4631
Yes let me take a crack at it - Fair warning, I'm still learning go, but I've made a few other contributions to this project and a few others. If y'all are willing to continue to help me learn + stick to standards I'm def willing to give it a go. This would be a big win for us.

[2022-01-19 16:18] aclevername commented on #4631
absolutely! Give it a go, and feel free to open a draft PR. We can then help with any problems/question :smile:

[2022-01-19 16:18] Skarlso commented on #4631
@rayterrill Thanks, and of course, we'll provide information or guidelines during pr reviews on how to proceed or where to check something. Don't worry about that. :) If you have a valid PR we'll help to get along with it.

[2022-01-19 16:35] doctorpangloss commented on #4312
This should be reopened

[2022-01-19 17:41] matti opened #4663 "ipv6 cluster kubectl no preferred addresses found"
with: eksctl 0.80.0-rc.0

[code]

and
[code]

when I install cluster autoscaler with:

[code]

Then cluster scales up, but after adding 32 nodes kubectl logs starts to fail:
[code]

[2022-01-19 17:41] matti commented on #4663
before scaling up the logs work fine

[2022-01-20 08:46] Skarlso commented on #4416
@AmitBenAmi Wow, that is a fantastic PR you have there! :)

[2022-01-20 09:07] Skarlso commented on #1386
I'm not sure I understand the waiting for three months part. You can always just go and remove the cloudformation stack which was created. It's not the cluster that fails it's the created cloudformation stack name. Just delete the cloudformation stack and you are good to go.

[2022-01-20 09:10] Skarlso commented on #4662
Hi.

In that issue, they are talking about the cluster, but what's happening actually is that the cloudformation stack is there while the cluster isn't. This happens if the cluster creation failed on the first part. In which case there is no cluster so it says, can't delete cluster. But the stack was already created. The cloudformation stack that is. In that case, `eksctl` can't do too much since

[2022-01-20 09:41] cPu1 commented on #4530
This is actually a missing feature in eksctl and not necessarily a bug. When a subnet ID is specified for a nodegroup, eksctl does not try to determine whether that subnet is private or public, and infers this property from the `privateNetworking` field. In your example, eksctl infers that the subnet is public since the `privateNetworking` field is not set. I think we can improve the UX here by re

[2022-01-20 10:07] aclevername commented on #4423
After chatting with some folks at AWS the bottlerocket query to fetch the release version is: `/aws/service/bottlerocket/aws-k8s-1.21/x86_64/latest/image_version`. Going to open a PR to fix and close this issue

[2022-01-20 11:51] matti commented on #4662
yes, I already deleted the stack and moved on - but imo eksctl should have atleast some utility function to delete the stack (and possibly some other resources that were created, because as a user I'm not sure what was created for me by eksctl)

[2022-01-20 13:10] Himangini commented on #4589
@Himangini find out why we have this job , add a ticket for this

[2022-01-20 13:13] Himangini commented on #4622
Add a new IAM role

[2022-01-20 13:22] Himangini commented on #4541
Low prio for now, worth revisiting in future at some point

[2022-01-20 13:34] Himangini opened #4665 "Improve the eksctl --help section and update the IPv6 doc page"
- We need to add a link to https://eksctl.io/ in our `--help` section
- We also need to update this page https://eksctl.io/usage/vpc-ip-family/ as it's not easily discovered in the LHS menu. This page probably needs to go under the Networking section.
- The title also needs to be `IPv6 Support` instead of `VPC Ip family`

[2022-01-20 13:37] #4602 closed

[2022-01-20 13:37] Himangini commented on #4602
We have added this ticket https://github.com/weaveworks/eksctl/issues/4665 to address the improvement for `--help` ticket.

[2022-01-20 14:13] jglick commented on #1386
Does not work. You get an `AlreadyExistsException`. See https://stackoverflow.com/a/65129908/12916 as linked above, and the AWS reference explaining

The stack is still in the system under the name which a new `eksctl create cluster` command would try to reuse, just with a status of `DELETE_COMPLETE`. `eksctl delete cluster` claims the cluster does not exist; `aws cloudformation delete-stack` sile

[2022-01-20 14:21] jglick commented on #4662
AFAICT the only thing `eksctl` can do to fix this is to use a distinct name for the stack. Rather than `eksctl-$clustername-cluster`, append some random number; or check for the existence of the stack with the expected name but `DELETE_COMPLETE` status before trying to create it (or optimistically try to create it with the current name but catch `AlreadyExistsException`) and try appending a unique

[2022-01-20 16:21] aclevername commented on #4423
So I've been testing out the fix and seeing some strange behaviour:
When querying for AL2 images you get values like:
[code]

You can see how the value adjusts per k8s version. However for bottlerocket:
[code]

It returns the same value for different k8s versions, and doesn't seem to follow the k8s versioning pattern observed for AmazonLinux2.

[2022-01-20 16:58] aclevername commented on #1386
This is not the behaviour I have observed. I often `eksctl create cluster --name jk`, `eksctl delete cluster --name jk` and then sometime down the line re-create it via `eksctl create cluster --name jk`. This never results in the a clash because a stack with the same name used to exist.

If you are getting `AlreadyExistsException` its more likely the stack is in a `CREATE_FAILED` or `DELETE_FAILED

[2022-01-20 16:59] aclevername commented on #1386
This is not the behaviour I have observed. I often `eksctl create cluster --name jk`, `eksctl delete cluster --name jk` and then sometime down the line re-create it via `eksctl create cluster --name jk`. This never results in the a clash because a stack with the same name used to exist.

If you are getting `AlreadyExistsException` its more likely the stack is in a `CREATE_FAILED` or `DELETE_FAILED

[2022-01-20 17:43] jglick commented on #1386
Pretty sure it was in `DELETE_COMPLETE` as written, but I will verify this the next time I hit the issue.

[2022-01-21 11:20] matti commented on #4663
created another cluster, it worked fine for awhile, but now logs are back at:

[code]

[2022-01-21 11:20] matti commented on #4663
/kind bug

[2022-01-21 11:35] matti commented on #4663
this is prob an issue with Lens, see https://github.com/lensapp/lens/issues/4730

[2022-01-21 11:45] Himangini commented on #4543
@mikestef9 @josefaworks do you have any thoughts on this proposal?

[2022-01-21 12:16] aclevername commented on #4423
I'm going to switch back to the approach of updating `version` due to the above conflict. I've noticed a new problem with this
[code]

`Version and ReleaseVersion updates cannot be combined with other updates` refers to the fact we are also setting the `ForceUpdateEnabled` value ast the same time ([related PR](https://github.com/weaveworks/eksctl/commit/fbd24d1669ed972389c65e6f5bcf2c97130ecf7c)).

[2022-01-21 15:56] matti commented on #4663
nope, happened again.

[2022-01-21 20:19] akestner commented on #4432
I agree with @Skarlso for now. We don't have any plans to meaningfully change the AWS resources / permissions required for Karpenter in the near future and will work with the `eksctl` team whenever there are major changes coming down the pipe in Karpenter. Let's sit tight for now.

[2022-01-21 21:13] Skarlso commented on #4432
Thanks, Alex!

[2022-01-22 02:20] dav-ell commented on #1070
I'm currently encountering exactly this issue. I am the other user with full AWS admin privileges, and can't delete the cluster. The original user is no longer on the team. Additional clarity and/or commands to check or add permissions would be greatly appreciated.

[2022-01-22 02:27] dav-ell commented on #1081
@errordeveloper Any idea what to do if the cluster you want to delete isn't appearing in CloudFormation?

[2022-01-22 08:31] errordeveloper commented on #1081
@dev-ell I don't work on this project since a couple of years, by the way... What often happen to me is that cluster I was looking for was in a different AWS regions or account, so try and check all of your regions and accounts.

[2022-01-22 15:23] Skarlso commented on #4663
That is super weird. 🤔

[2022-01-22 15:29] Skarlso commented on #4662
`eksctl` avoided using some configuration file for a while now which is not the config file that you pass in, but it came up a number of times now to perhaps store the cluster name ( from which the stack name could be derived ). That would mean though, that you can't run eksctl in a CI which scraps the storage or anywhere where there is only ephemeral storage available.

I have to wonder how many

[2022-01-22 16:20] Skarlso commented on #4662
Okay, so to test, I created a stack with name `test-stack-name-exists`. Deleted said stack. Waited for it to be gone. Then created the same stack again.

The attached stackoverflow problem talks about completely clean history. And not the fact that you can't reuse the same name I believe.

<img width="472" alt="Screenshot 2022-01-22 at 17 19 16" src="https://user-images.githubusercontent.com/18285

[2022-01-22 16:20] Skarlso commented on #1386
<img width="472" alt="Screenshot 2022-01-22 at 17 19 16" src="https://user-images.githubusercontent.com/182850/150646844-678925d7-3f84-450d-819b-d80a85f2f150.png">

Attaching the screenshot here too if people find this issue first rather than the linked one.

[2022-01-22 16:55] Skarlso commented on #4662
@matti It's a reasonable request I believe to add something like create stacks though. Something like, `eksctl util clean-up`. If you pass a cluster config file to that it could try and determine the stack name it would create and delete that. 🤔 I think that's something that should be relatively easy to add.

The only possible problem would be an unintentional delete of some reason it shouldn't ha

[2022-01-23 07:03] Skarlso commented on #4483
@kenaniah Sorry for the delay. We are overwhelmed with commitments. If anyone wants to chip in we greatly appreciate PRs. :)

[2022-01-23 15:14] matti opened #4671 "managedNodegroup withAddonPolicies albIngress set to true is not enough"
docs on aws load balancer controller are pretty thin at https://eksctl.io/usage/faq/#ingress

so:

[code]

helm installed aws-load-balancer-controller fails when creating a *NLB*
[code]

What am I missing?

[2022-01-23 15:17] matti commented on #4671
and why is the policy named `albIngress` when it was deprecated and renamed (https://github.com/weaveworks/eksctl/issues/2633#issuecomment-752124273)

this is so confusing

[2022-01-23 15:22] matti commented on #4671
I'm guessing that service account is missing - I know I could do this manually with https://docs.aws.amazon.com/eks/latest/userguide/aws-load-balancer-controller.html, but IMO this should "just work" with eksctl

[2022-01-23 15:40] matti commented on #4662
my own wrapper on top of eksctl now does: `aws --region $REGION cloudformation delete-stack --stack-name eksctl-$CLUSTER_NAME-cluster` as a workaround

[2022-01-23 16:02] matti opened #4672 "DescribeVpcPeeringConnections missing from PolicyAWSLoadBalancerController"
managedNodeGroup created with:

[code]

creates node policy which is missing "ec2:DescribeVpcPeeringConnections" so helm installed aws load balancer controller fails with:

`AccessDenied: User: arn:aws:sts::254324309357:assumed-role/eksctl-lel-nodegroup-g-1-x-1-pre-NodeInstanceRole-89I0OUCQAB6K/i-0707f449b9e63b921 is not authorized to perform: ec2:DescribeVpcPeeringConnections\n\tstatus code: 403`

[2022-01-23 16:06] matti commented on #4671
it's a bug: https://github.com/weaveworks/eksctl/issues/4672

[2022-01-23 16:06] #4671 closed

[2022-01-23 19:22] matti commented on #4663
another fresh cluster, happened again

[2022-01-24 01:45] tanvp112 commented on #4632
Wonder can we use `overrideBootstrapCommand` for this? If we can do we need to include the default value; and where can we find the latest default parameters used for `overrideBootstrapCommand`?

[2022-01-24 04:23] mikestef9 commented on #4663
This was a (tricky) bug in kubelet, where comparing IPv6 addresses failed on certain IPv6 address formats. We released new EKS AMIs that have the fix.

https://github.com/awslabs/amazon-eks-ami/releases/tag/V20220123

[2022-01-24 04:23] #4663 closed

[2022-01-24 06:05] matti commented on #4663
so how do I make sure that eksctl uses this new ami?

[2022-01-24 08:11] cPu1 commented on #4423
I was aware that a nodegroup update cannot change fields other than `Version` and `ReleaseVersion` but I had assumed it'd allow `ForceUpdateEnabled` to be included as it relates to a nodegroup update. Can you verify that the generated changeset had `ForceUpdateEnabled` changed?

[2022-01-24 08:36] cPu1 commented on #4663
`eksctl upgrade nodegroup` or creating a new nodegroup will ensure it uses the latest EKS AMI.

[2022-01-24 09:19] matti opened #4674 "instance selector fails with the latest eks ami"
with instance selector vcpus: 2
and instance selector memory: 2

I think this worked just fine last week. that extra `v` in `vV20220123` looks like a bug?

[2022-01-24 09:37] matti commented on #4674
[code]

[2022-01-24 09:39] matti opened #4675 "rename iam.withAddondPolicies.albIngress"
eksctl should reflect this change

[2022-01-24 09:45] patstrom commented on #4674
I can confirm the same issue on `0.79` and `0.77` on Arch Linux using `nodeGroups` (as opposed to `managedNodeGroups`).

It also seems like this check is performed even though I specify an `--include` flag that should limit it to a nodegroup that specifies `instanceType` rather than `instanceSelector`.

[2022-01-24 09:50] matti commented on #4674
oh, and I am using main branch, eg `0.82.0-dev+8f89e7d5.2022-01-24T11:48:53Z` - not sure if that makes a difference

[2022-01-24 10:04] aclevername commented on #4423
yes I confirmed this

[2022-01-24 10:13] cPu1 commented on #4632
This does not directly answer your question, but eksctl does support using `kubeletExtraConfig` for Bottlerocket managed nodegroups, so if you're able to use it, you'll be able to configure the resource management options.

[2022-01-24 10:19] GeorgeCimpoies commented on #4632
@cPu1 based on [this article](https://aws.amazon.com/blogs/containers/amazon-eks-adds-native-support-for-bottlerocket-in-managed-node-groups/) I understand that I just have to specify the bottlerocket ami family. My docker images are just based on openjdk and run a java jar, so I assume this should be a smooth transition?

[2022-01-24 10:21] matti commented on #4674
increasing log level gives this

and stops printing the  "Unable to retrieve EKS..." (weird)

[2022-01-24 10:32] matti commented on #4674
wrong tag name in https://github.com/awslabs/amazon-eks-ami/issues/852 ?

[2022-01-24 10:33] matti commented on #4663
@mikestef9 wrong tag name in https://github.com/awslabs/amazon-eks-ami/issues/852 ?

[2022-01-24 10:51] tdeheurles commented on #4544
Hey @cPu1 @Himangini , thanks for your feedback.

I presume we can close the ticket now, isn't it ?

[2022-01-24 10:55] matti opened #4676 "allow setting of aws ami version"
Currently:

but if the latest AWS AMI is broken (or https://github.com/weaveworks/eksctl/issues/4674) then all cluster create / nodegroup create operations just fail

[2022-01-24 12:01] cPu1 commented on #4544
Yup, I was waiting for you to confirm.

[2022-01-24 12:29] matti commented on #4674
setting amiFamily=Ubuntu2004 works when *not* using instanceSelector. if instanceSelector is used with amazon linux, it fails.

[2022-01-24 14:54] matti commented on #4674
nodes are created, but logs / exec hangs with Ubuntu2004 ... (ipv6 cluster)

[2022-01-24 14:57] matti opened #4680 "Ubuntu2004 family logs/exec fails with ipv6"
logs tries to connect to internal address:

[code]

[code]

[2022-01-24 14:58] cPu1 commented on #4543
We shouldn't try to support this case as it will not work if an older version of eksctl is used on a cluster created with `0.80.0`, as goformation will not recognise the additional fields that were added recently.

[2022-01-24 15:32] matti commented on #4680
and works with ipv4:

[code]

[code]

[2022-01-24 19:52] jglick commented on #4662
Frequently, alas. AZ problems (https://github.com/weaveworks/eksctl/issues/3816#issuecomment-1009340409), session credentials expiring halfway through, and other errors.

I realized that I am using a relatively old version of `eksctl` (0.67.0); perhaps CloudFormation usage changed since then. Will recheck behavior the next time I need to create a cluster.

[2022-01-24 21:13] matti commented on #4662
I'm also constantly running this as I start clusters in parallel and run out of random quotas (EIP, gateways, and so on)

[2022-01-25 08:12] cPu1 opened #4683 "CRUD integration test intermittently fails with a parse error"
Logs from the last run:

[code]

[2022-01-25 08:36] steffakasid commented on #2774
This would really be the killer feature to be able to use eksctl e.g. in pipelines to roll-out clusters & cluster updates.

[2022-01-25 09:06] cPu1 commented on #4680
This is a known issue with IPv6 clusters in EKS and the EKS team has contributed a fix to upstream kubelet: https://github.com/kubernetes/kubernetes/issues/107735. This is already patched for Amazon Linux 2 (and also Bottlerocket AFAICS), but I can't tell when it'll be patched for Ubuntu2004 AMIs. In the meantime, I'd suggest using AL2.

[2022-01-25 09:46] cPu1 commented on #4632
Correct, you need to set `amiFamily: Bottlerocket` in your config.

[2022-01-25 10:18] gohmc opened #4685 "managedNodeGroup bottlerocket.settings doesn't work"
Extended eksctl examples with sample settings on bottlerocket [description of settings](https://github.com/bottlerocket-os/bottlerocket/blob/develop/README.md#description-of-settings):

[code]

Checked the user data created:

[code]

Now scale up 1 node: `eksctl scale nodegroup --region us-west-2 --cluster cluster-20 --name mng1 -N 1`

The scaling works; an EC2 was launched and passed all health c

[2022-01-25 10:30] gohmc commented on #4632
You can't configure this at `kubeletExtraConfig` with managedNodeGroup because this is not a valid field for managedNodeGroups. You need to do this at bottlerocket.settings. But it doesn't seem to work at the moment, please take a look at https://github.com/weaveworks/eksctl/issues/4685?

[2022-01-25 10:43] GeorgeCimpoies commented on #4632
Thank you, @gohmc! My question revolves more around why managed nodegroups can't manage those settings as they are manageable from cloudwatch.

[2022-01-25 12:00] Skarlso commented on #4622
Turns out to be a no-op because `eksctl` already requires spot service link role as a minimum.

[code]

[2022-01-25 12:00] #4622 closed

[2022-01-25 12:47] Skarlso commented on #4589
@Himangini Why is this reopened?

[2022-01-25 12:54] #4674 closed

[2022-01-25 12:54] #4589 closed

[2022-01-25 12:54] #4544 closed

[2022-01-25 13:05] Himangini commented on #4589
@Skarlso I am messing with the board. don't worry about it

[2022-01-25 16:21] aclevername commented on #4543
I believe this will be a problem regardless as https://github.com/weaveworks/eksctl/pull/4526 already introduces those new fields

[2022-01-25 16:46] cPu1 commented on #4575
I have worked on a solution that eliminates the need for force-pushing and having a dedicated branch (`docs` in this case) for publishing docs. We use Netlify to publish our docs and it has a feature for triggering deployments by sending an HTTP request specifying the branch we want deployed. The new approach triggers the Netlify deployment as part of the `Release` workflow using GitHub actions, s

[2022-01-26 01:40] etungsten commented on #4685
Hi @gohmc ,
The settings passed has a few typos and Bottlerocket is failing to parse the generated userdata.
Specifically, `ephmeral-storage` should be `ephemeral-storage` also:
[code]
needs to be
[code]

I tried out a config with the above changes and was able to get a mng of bottlerocket nodes to join my clusters. Lemme know if that works for you!

[2022-01-26 02:47] gohmc commented on #4685
Good catch, indeed it works as expected now. Thanks for the prompt replied!

[2022-01-26 02:47] #4685 closed

[2022-01-26 09:39] Skarlso commented on #4530
To be honest, this feels like trying to mind read. How would we know in what context the user was trying to do something. This feels like we are trying to tell the user everything that MIGHT be wrong with their setting, which is incredibly lot. In any case, I can add something like, make sure the subnet is public in case that's desired. But that's all.

[2022-01-26 11:34] #4665 closed

[2022-01-26 12:16] #4500 closed

[2022-01-26 12:30] aclevername commented on #4662
I think perhaps its worth having the `--force` flag during `eksctl delete cluster` gracefully handle the scenario where the cluster doesn't exist, but the stack does. This should then provide a easy way to clean up. Thoughts?

[2022-01-26 12:31] aclevername commented on #4675
Thanks @matti ! Good spot. We should add support for both naming conventions for a while, log a warning when the old name is used and then remove the old name after a reasonable deprecation period. I'll add it to our backlog

[2022-01-26 12:33] aclevername commented on #4676
@matti sorry could you expand? What command are you running? Whats the issue? What was the workaround? What would you like changed in eksctl? Thanks :smile:

[2022-01-26 12:52] Himangini commented on #4432
Closing this since we agreed to not do anything right now.

[2022-01-26 12:52] #4432 closed

[2022-01-26 13:01] michaelweidmann opened #4690 "Disable SSH access after creation of EKS Cluster"
**What help do you need?**
Recently I discovered that my current cluster has SSH access enabled with an EC2 Keypair. See the following config:

[code]

We planned to disable it because we do not need it and you should restrict access as much as possible.
I set `allow: false` and removed the `publicKeyName` property.

Afterwards I tried several commands to update/upgrade my cluster:

[code]

[code]

[2022-01-26 13:10] Skarlso commented on #4530
Note, I have a solution, manually testing it's viable now.

[2022-01-26 13:15] Skarlso opened #4691 "Karpenter test fails intermittently"
Failed in a past couple runs.

[2022-01-26 14:49] aclevername commented on #4691
With `wait=false` for the helm install the test passes. But the controller starts to fail shortly after:
[code]

[2022-01-26 15:22] matti commented on #4676
that if I specify custom ami, then I also need to specify custom overrideBootstrapCommand.

makes no sense, it should be possible to specify just the custom ami to lock down the ami version and not just use latest released which may be broken

[2022-01-26 15:35] Himangini commented on #4676
@matti Can you please update the issue description using the standard feature request template and fill out all the sections? It helps understand better what problems you are facing and we can help resolve the issue quickly.

[2022-01-26 15:35] Skarlso commented on #4691
It's a bit disconcerting that this error only occurred with `--wait` removed from the HelmInstall.. Makes me wonder if we should disable it for good. 🤔

[2022-01-26 15:47] #4676 closed

[2022-01-26 15:52] matti opened #4693 "allow setting managedNodeGroups.ami without setting overrideBootstrapCommand"
**What feature/behavior/change do you want?**

Currently eksctl requires overrideBootstrapCommand if ami is specified in managedNodeGroups:

I want this requirement to be removed.

**Why do you want this feature?**

I want to lock down my eks amazon linux ami version and not use the latest Currently as stated above, I need to set overrideBootstrapCommand which is completely unnecessary as the defa

[2022-01-26 15:52] matti commented on #4676
@Himangini @aclevername trying harder at https://github.com/weaveworks/eksctl/issues/4693

[2022-01-26 15:53] #4691 closed

[2022-01-26 19:59] IanHuang-at opened #4695 "Indicate whether a cluster’s existing node groups are managed or unmanaged"
**What feature/behavior/change do you want?**
There should be an easy way to tell whether a cluster's node groups are managed or unmanaged. One solution would be to add a boolean flag `Managed` to the node group obj returned by `eksctl get nodegroup`

See slack thread https://weave-community.slack.com/archives/CAYBZBWGL/p1643180196379949

**Why do you want this feature?**
We have multiple EKS clus

[2022-01-26 20:48] sheetaljoshi opened #4696 "eksctl create nodegroup fails with "One or more subnets are duplicate" on us-west-1"
Trying to create a nodegroup using the below yaml, but fails with "One or more subnets are duplicate" on us-west-1.

[code]

and the error is

[code]

[2022-01-27 00:26] bitva77 opened #4697 "Karpenter Install - Using account to run Helm as opposed to the original IAM user"
**What were you trying to accomplish?**

Trying to install Karpenter

**What happened?**

`Error: failed to install Karpenter: failed to install Karpenter chart: failed to install chart: failed to install CRD crds/karpenter.sh_provisioners.yaml: customresourcedefinitions.apiextensions.k8s.io is forbidden: User "system:serviceaccount:azdo-buildagents:azdo-buildagents" cannot create resource "custom

[2022-01-27 02:09] sheetaljoshi commented on #4696
More dump from cloudformation stacks:

Node Group Cloudformation:
[code]

Subnets Outputs from Cluster create CFT:

[code]

Cluster Create CFT:

[code]

[2022-01-27 07:44] Skarlso commented on #4697
Hey @bitva77!

Thanks for reporting this. The is super weird. It should be using the current context of course.

I'll look into why that's not happening.

[2022-01-27 07:47] IanHuang-at opened #4698 "eksctl get nodegroup returns 'CUSTOM' for ami id when using custom AMIs with managed nodegroups"
**What were you trying to accomplish?**
Trying to get the ami id for a managed node group with a custom ami.

**What happened?**
`eksctl get nodegroups --cluster=<> -o json` returns nodegroups with `"ImageID": "CUSTOM",`

For managed nodegroups, the aws api doesnt return an image id in most cases, but in the case where `AmiType == CUSTOM`, the ami id is provided in another field, `ReleaseVersion`.

[2022-01-27 08:06] cPu1 commented on #4696
This is a bug with the logic for setting outputs for subnet IDs in the cluster's CloudFormation stack. `us-west-1` is returning only two availability zones but eksctl tries to use a minimum of three, duplicating one of the subnet IDs, and the nodegroup creation ends up using duplicate subnets. We will add this to our backlog and prioritize it.

[2022-01-27 08:19] cPu1 commented on #4698
You're right that eksctl can do a better job here by returning the AMI ID for managed nodegroups using a custom AMI, instead of  `CUSTOM`. eksctl might have done this for consistency reasons because it's more work to obtain the AMI ID for nodegroups not using a custom AMI. We will add this to our backlog.

[2022-01-27 08:48] Skarlso commented on #4697
This is partially true, yes. I suspect, helm is not considering this environment at all and just runs with the current session which is the session that you are using to run the whole thing.

[2022-01-27 08:56] Skarlso commented on #4697
@bitva77 Ah!

The RBAC is configured for the service account https://github.com/aws/karpenter/blob/main/charts/karpenter/templates/controller/rbac.yaml#L13

That's the account which will have access to install Karpenter.

[2022-01-27 08:59] cPu1 commented on #4695
This is a reasonable feature request. We'll add this to our backlog, but in the meantime, a workaround for identifying managed nodegroups would be to look for ASG names that have the `eks-` prefix. We will also evaluate adding a `--managed` flag to `eksctl get nodegroups` that lets you filter managed and unmanaged nodegroups.

[2022-01-27 09:05] Skarlso commented on #4697
Uh, maybe, we could somehow pass in the right service account 🤔

[2022-01-27 09:09] Skarlso commented on #4697
Hum, it should have used the `karpenter/karpenter` service account to create things. This is weird. I have to reproduce this first and then try to find out what's going on.

[2022-01-27 09:09] Skarlso commented on #4697
@bitva77 Do you have anything special in the bootstrap script that you are running?

[2022-01-27 09:32] cPu1 commented on #4693
The custom AMI feature is intended for customers that build their own AMIs, e.g., by installing additional software packages or using a different distro etc. It's not designed to lock down using a specific AMI of EKS AL2. Furthermore, relaxing the requirement for specifying `overrideBootstrapCommand` for custom AMIs will lead to hard-to-debug issues with nodes not joining the cluster.

If you'd li

[2022-01-27 09:37] cPu1 commented on #4690
`eksctl upgrade nodegroup` is for upgrading a nodegroup to a newer version, not for updating arbitrary nodegroup fields. Nodegroups are immutable by design, so if you need to change a field, you'll have to recreate the nodegroup.

[2022-01-27 11:28] Skarlso commented on #4697
I need more info, I tried reproducing this locally, but failed. I'm assuming I'm missing some configuration detail or awsCredential configuration detail.

What can be done maybe is exposing the Helm setting for Karpenter which gets the service account name and use a different service account that is set up previously.

You could also try before running this to add a role binding manually that allo

[2022-01-27 11:38] michaelweidmann commented on #4690
What is the best way to recreate the nodegroup?

[2022-01-27 11:58] Himangini commented on #4680
Closing this as there's not much we can do here.

[2022-01-27 11:58] #4680 closed

[2022-01-27 12:00] Himangini commented on #172
Closing this issue due to lack of activity.

[2022-01-27 12:00] #172 closed

[2022-01-27 12:08] cPu1 commented on #4690
By [deleting](https://eksctl.io/usage/managing-nodegroups/#deleting-and-draining) and recreating the nodegroup using `eksctl create nodegroup`.

[2022-01-27 12:15] Himangini commented on #2448
Closing this due to lack of activity/prioritization. We may revisit this again in the future.

[2022-01-27 12:15] #2448 closed

[2022-01-27 12:16] Himangini commented on #2489
Closing this due to lack of activity.

[2022-01-27 12:16] #2489 closed

[2022-01-27 12:17] Himangini commented on #2499
Closing this due to lack of activity.

[2022-01-27 12:17] #2499 closed

[2022-01-27 12:28] #2091 closed

[2022-01-27 13:49] aclevername opened #4700 "ipv6 integration test flake"
ipv6 Integration test is occasionally failing with:
[code]

example run https://github.com/weaveworks/eksctl-ci/actions/runs/1669880695

We have flagged with some external folks to try and get help with this as the error back from cloudformation is pretty ambigious

[2022-01-27 13:49] aclevername commented on #4700
@Himangini

[2022-01-27 14:00] Himangini commented on #3420
Closing this since this is no longer relevant.

[2022-01-27 14:00] #3420 closed

[2022-01-27 14:07] sheetaljoshi commented on #4696
I tested this on us-east-1, there also eksctl creates only two subnets, but in that case the subnet ids are not duplicated for node groups. This is happening randomly. Please see below template for us-east-1, only subnets chosen here (in bold below).

Cluster create cloudformation template:

[code]

[2022-01-27 14:08] Himangini commented on #3155
@RamazanKara closing this due to lack of activity. Please feel free to open this is if you are having issues, If you'd like to work on this yourself, we are happy to accept PRs. :)

[2022-01-27 14:08] #3155 closed

[2022-01-27 14:11] sheetaljoshi opened #4701 "eksctl nodegroup creation fails because public subnets are not created with "AssignIpv6AddressOnCreation": true,"
Trying to create nodegroups with default configuration but the create function fails with below message:

[code]

"AssignIpv6AddressOnCreation": true, is enabled on private subnets, but not on public subnets.

Node group create yaml used

[code]

[2022-01-27 15:41] Skarlso commented on #4697
Actually, we found an unrelated issue which might be causing this issue as well. We are testing a solution now and if we found it, we'll release it tomorrow. I'll ping you to test it when it's done.

[2022-01-27 15:59] vitalik opened #4703 "Scaling nodegroup with specific instance"
I want to use eksctl to atomically  autoscale based on custom metrics...

Let's say I have a nodegroup with 3 nodes

each node runs just one pod (job)

at some moment one pod finishes work (means I no longer need 3 nodes, and can downscale to 2 nodes)

so I run `eksctl scale nodegroup --nodes=2 ...`

I assume the node that will be removed/killed is random ? is there a way to specify concrete insta

[2022-01-27 16:51] bitva77 commented on #4697
@Skarlso appreciate it!  I'm not doing anything special in the bootstrap other than specifying the cluster name.  I'm running some more tests now and will also let you know  what else I find as well...

[2022-01-27 17:34] hintofbasil opened #4705 "Parallel node draining during node group deletion for Unmanaged nodegroups"
**What feature/behavior/change do you want?**

Add an option to drain multiple nodes in parallel when deleting a node group.

[code]

When a node group is deleted using the above command five nodes should begin draining immediately.  When one of these nodes is fully drained a new node should start draining to ensure there are always five nodes draining at a time (or there are less than five nodes

[2022-01-27 17:40] hintofbasil commented on #4705
This behaviour is most likely managed by AWS for managed node groups making this feature only possible for self hosted node groups currently.

[2022-01-27 18:35] bitva77 commented on #4697
ooff run on my box, same ClusterConfig and I cannot reproduce either.  Only when run on the Azure DevOps pipeline agent does it fail.

We're using this task:  https://docs.aws.amazon.com/vsts/latest/userguide/awsshell.html

hrmm....will keep at it.  Not sure what that task does differently than just run a shell but obviously it's messing with things.  I did have to refactor some bash script code a

[2022-01-27 19:56] Skarlso commented on #4697
@bitva77 Please hold off on using Karpenter for now. We found a potential issue where it's not detecting the kube config correctly. Are there multiple clusters running in that environment by any chance? It's possible that helm right now is actually trying a different cluster than you would think it should. :)

[2022-01-27 21:21] bitva77 commented on #4697
@Skarlso will do.  appreciate the work!

I still think there's something up with that task still.  If I run eksctl inline it works but within a script it's failing - so something odds going on.

We do have another cluster in this account but there's no kubeconfig for it on the agent servers so it shouldn't be getting confused.  eksctl would have access to it though (not sure that matters).

[2022-01-27 21:25] Skarlso commented on #4703
Hello!

Thank you for your issue. You can find out more about how to scale here https://eksctl.io/usage/managing-nodegroups/#scaling-a-single-nodegroup.

[2022-01-27 23:53] michaelweidmann commented on #4690
It worked, thanks for your help 🙂

[2022-01-27 23:53] #4690 closed

[2022-01-28 07:12] vitalik commented on #4703
Thank you @Skarlso
But there is nothing in docs about my question

To be more specific - how to mark specific node to shut down when eksctl scales down?

[2022-01-28 07:20] Skarlso commented on #4703
@vitalik Oh, I see. Sorry, I misunderstood.

You can't sadly. We do not control scaling, that's done via the ASG or the installed autoscaler. All we do is update the desired node count.

[2022-01-28 08:23] Skarlso commented on #4662
@aclevername Sounds good to me. Would force removing the stack if it exists.

[2022-01-28 08:57] #4606 closed

[2022-01-28 09:07] Skarlso commented on #4662
Uh, we already have a force flag `fs.BoolVar(&force, "force", false, "Force deletion to continue when errors occur")`.

@aclevername Shall we extend this flag to continue with removing the stack? Ooor... have an explicit flag, something like `--all` or `--remove-stack` which is explicit?

[2022-01-28 09:08] aclevername commented on #4662
I meant expanding upon the existing flag, which I think is reasonable

[2022-01-28 09:09] Skarlso commented on #4662
Makes sense

[2022-01-28 10:38] #4575 closed

[2022-01-28 11:00] cPu1 opened #4707 "Publish docs after the release is published"
The docs are currently published when the release is triggered, but the release process can take some time to complete, and in rare cases, even fail, causing the docs to be out of sync with the release. Instead, docs should be published after the CircleCI release job is complete and the release artefacts have been uploaded.

[2022-01-28 11:25] aclevername opened #4708 "Karpenter stack isn't deleted as part of delete cluster"
[code]

this results in the `eksctl-<cluster-name>-karpenter` stack being left around. We need to delete this as part of delete cluster.

[2022-01-28 11:37] matti commented on #4693
sure, I am already setting the overrideBootstrapCommand, but I'm suggesting that because I don't need to override (and most users shouldnt?) then it should be possible to pin/lock down the ami version without this as it's a good practise.

[2022-01-28 11:41] matti commented on #4703
@vitalik install cluster autoscaler and let it scale up and scale down (beware, minimum needs to be 1 for managed nodegroups (https://github.com/aws/containers-roadmap/issues/724)

these are the magic parts to get it working:

https://github.com/matti/eksler/blob/67864ad19be9c80aa4efb9b0be41f75e91d9a776/bin/eksler#L201
https://github.com/matti/eksler/blob/67864ad19be9c80aa4efb9b0be41f75e91d9a776/b

[2022-01-28 11:47] matti commented on #4693
but like this is just a minor annoyance, I think this project has way more important things to add, so just closing this now.

[2022-01-28 11:47] #4693 closed

[2022-01-28 13:54] cPu1 commented on #4662
Sounds reasonable to me :+1:.

[2022-01-28 14:17] Skarlso commented on #4662
Okay, so this is actually suspicious. We already have code which should clear any remaining stacks if `--force` is used. :) I'll try to test this now.

[2022-01-28 14:47] Skarlso commented on #4662
I foounnnd the probleeem! :D Turns out we were doing a cluster check at different point as well before even getting to checking the stack status and initalizing the cluster manager.

We already have code for removing a stuck cluster stack, but turns out, it was never called. This is a bug! :))) I'll have a fix soon :)

[2022-01-28 15:42] matti opened #4714 "ipv6 cluster outbound connections fail at random"
**What were you trying to accomplish?**

Run a large scale ipv6 cluster

**What happened?**

Connections from ipv6 pods to internet close randomly. For example `curl google.com` would return no such domain google.com because dns resolving and then work when retried (pods have `DNSPolicy: None` and nameservers set to 8.8.8.8 and 1.1.1.1 so it's not a kube/core-dns issue)

And now plain IP connectio

[2022-01-28 16:09] Skarlso commented on #4714
Seems like something that's worth raising with AWS, since `eksctl` is only deleting in creating IPv6 clusters. If the connections are all working, the fact that they are intermittent is a networking infrastructure issue. We can raise it with AWS internally.

[2022-01-28 16:21] Skarlso commented on #4714
I raised it internally, let's see if they kind find anything more relevant. If this is a consistent thing, they will be able to debug it better than us.

[2022-01-28 16:31] aclevername commented on #4697
@bitva77 can you try again with https://github.com/weaveworks/eksctl/releases/tag/v0.82.0-rc.0 and let us know if its fixed it :smile: thanks!

[2022-01-28 16:53] #4708 closed

[2022-01-28 18:14] bitva77 commented on #4697
Looks like that did it!  Thank you all!

[2022-01-28 18:58] aclevername commented on #4697
Excellent! Glad it's resolved, going to close the issue 😄

[2022-01-28 18:58] #4697 closed

[2022-01-28 20:50] Skarlso commented on #4697
Yay! :) Awesome. Thanks for verifying! :)

[2022-01-31 09:20] nikimanoledaki commented on #4701
This may be due to a workaround that we have implemented while waiting for a CF bug fix.

See #4363:
[code]

cc @Himangini

[2022-01-31 09:27] #4662 closed

[2022-01-31 10:04] #4628 closed

[2022-01-31 10:28] #4423 closed

[2022-01-31 11:14] Skarlso commented on #4302
@bitva77 If you still would like to take a stab on this, please feel free to do so. :)

[2022-01-31 11:29] Skarlso commented on #2115
Interesting, I don't know why we decided to turn a list of block mappings into single items. That's super strange.

Sadly, I can't change that now to be backwards compatible. I can do, however, something like, `additionalBlockMappings` or `additionalVolumeMappings` which then, will be added to the list of mappings. That's the least intrusive and backwards compatible addition I can think of.

[2022-01-31 16:22] matti commented on #4714
looks like it only affects dns lookups, not sure if plain ip (tcp) connections are an issue.

[2022-01-31 20:20] a0149659 commented on #4662
I got this reply from AWS Support, I hope it helps while the fix is in:

[code]

[2022-02-01 02:59] melodyyangaws commented on #1253
+ 1 We have a similar use case that requires to mount multiple EBS volumes per node in EKS. We are running Spark benchmark test in 3TB scale. Plan to mount 4 EBS volumes per node as Spark's scratch space to increased the IOPS performance. Having a large 'D' instance type that comes with a huge local NVMe storage volume is the workaround at the moment. However, it's wasteful to use a large compute

[2022-02-01 07:12] cPu1 commented on #1253
@melodyyangaws thanks for sharing your use-case. We are looking on a feature that'd allow configuring multiple volumes for a nodegroup.

[2022-02-01 11:57] Himangini commented on #4714
@matti Please Open a ticket with AWS. 👍🏻

[2022-02-01 11:57] #4714 closed

[2022-02-01 13:55] Skarlso commented on #2115
@darth-kermit I know it's a bit late, but this has been implemented now and will be part of the next release this weekend. :)

[2022-02-01 14:13] Himangini commented on #4707
We will also work on moving the release job from circle ci @cPu1 will add a new ticket to document that
The new ticket is a blocker for this ticket so we want to investigate first how much work is involved.

[2022-02-01 14:17] Himangini commented on #4302
We can't support this setting for managed nodegroups, we'll add support for unmanaged nodegroups as part of this ticket.

[2022-02-01 14:18] cPu1 commented on #4302
There's a feature request for this open in containers-roadmap: https://github.com/aws/containers-roadmap/issues/1190

[2022-02-01 14:30] tomhuang12 commented on #2115
Thank you @Skarlso ! It's been some time 😅

[2022-02-01 14:31] Himangini commented on #3961
We want to do
- automatically generate ASG tags from node labels/taints
- make sure we don't exceed the 50 tag limit and fail creation if we do so.
- add a option in config file to avoid/ disable ASG tag generation for users to skip this option

[2022-02-01 14:36] darth-kermit commented on #2115
Thank you so much! We have been waiting a long time for this and appreciate
you following through. Go WeaveWorks!!

On Tue, Feb 1, 2022 at 8:55 AM Gergely Brautigam ***@***.***>
wrote:

[2022-02-01 14:41] Himangini commented on #2883
We need to log what region was being used whenever we run this command [investigate and make sure we always log this for all eksctl commands].
We also need to document [if its not mentioned already] that the command will use settings from aws config file if you have any

[2022-02-01 14:47] Himangini commented on #1464
This is worth doing regardless of which k8s version we use

[2022-02-01 14:54] Himangini commented on #4657
We need to preserve the role name that already exists in a CF template

[2022-02-01 14:58] Himangini commented on #4675
- rename `iam.withAddondPolicies.albIngress`to `iam.withAddondPolicies.loadBalancer`
- keep support for the existing setting but add a deprecation warning.
- follow up with a deprecation ticket to remove this after 6 months as per our policy

[2022-02-01 16:58] almeida-matheus commented on #321
after updating macOS to version 12 Monterey I can't use aws-vault, every time I run it has a delay of a few seconds and the following output error:

`aws-vault exec` with AWS SSO:
[code]

`aws-vault rotate` with access key credentials:
[code]

does anyone have any idea how to solve this?

[2022-02-01 16:59] nikimanoledaki commented on #4540
Closing this as we don't add DNS64 to the VPC creation process anymore.

[2022-02-01 16:59] #4540 closed

[2022-02-02 00:28] KR411-prog commented on #3977
Is this issue still open? I see a note https://github.com/weaveworks/eksctl/issues/4461 stating that  --approve flag will not be added. If it is still valid case, then can we close this issue?

[2022-02-02 07:10] GeorgeCimpoies commented on #4685
@gohmc I'm considering using bottlerocket due to default AMI and managed nodegroups not supporting kubeletExtraConfig (https://github.com/weaveworks/eksctl/issues/4632), thus not being able to protect the kubelet if nodes go into resource starvation due to cpu/memory overcommitment. Is this the same usecase for you?

[2022-02-02 07:52] cPu1 opened #4731 "[Spike] Move release job from CircleCI to GitHub actions"
We have moved most of our automation workflows from CircleCI to GitHub Actions, but the `release` and `release-candidate` jobs are still being run on CircleCI. This results in having to manage two CI/CD systems for automating workflows, duplicating workflow code (e.g., secrets) and not having a centralised place for all automation workflows. This will also help eliminate duplicating effort for htt

[2022-02-02 07:56] Skarlso commented on #3977
@KR411-prog Yep, that's true, sadly.

[2022-02-02 08:09] cPu1 commented on #4302
We have added this to our backlog and will start work on it soon. Please note that this will feature will be added for unmanaged nodegroups only, as managed nodegroups will require support from the [EKS API](https://github.com/aws/containers-roadmap/issues/1190).

[2022-02-02 08:10] steffakasid commented on #3977
#4461 only mentions --approve for nodegroups. This is already there. What I wanted to have is the --approve for delete cluster. If it will not be implemented this issue can be closed!

[2022-02-02 08:58] aclevername opened #4732 "Flakey CRUD test- " We currently do not have sufficient p2.xlarge capacity in the Availability Zone""
[code]

https://github.com/weaveworks/eksctl-ci/runs/5029967120?check_suite_focus=true

[2022-02-02 09:02] Skarlso commented on #3977
Huh, that's a fair point. Maybe there was some kind of mix up while investigating this setting.

[2022-02-02 09:20] Skarlso commented on #3977
I'm actually reluctant to do this, sorry. It would disrupt sooo many workflows including ours, when deleting clusters in CI and automated test environments. Sorry @steffakasid.

[2022-02-02 09:21] #3977 closed

[2022-02-02 11:20] Himangini commented on #4627
@cPu1 will add some example code for reference
We'd probably need to fix existing tests or write new ones to cover the new code.

[2022-02-02 11:28] Himangini commented on #4655
https://github.com/weaveworks/eksctl/issues/2931 Has lot of details around the problems with clusterProvider

[2022-02-02 11:36] Himangini commented on #4635
@cPu1 add the example of the command here

[2022-02-02 12:06] Himangini commented on #4732
dupe of #4683

[2022-02-02 13:31] #4698 closed

[2022-02-02 13:38] Himangini commented on #4732
In order to fix this issue we probably need to pass multiple GPU instance types `"--node-type" "p2.xlarge"`
Needs some investigation on if we can pass multiple types

[2022-02-02 13:44] Himangini commented on #4683
Might be hard to reproduce, needs some investigation
Suggestion to use `--untlilItFails` to validate the flake

[2022-02-02 14:07] Himangini commented on #4696
We shouldn't use duplicate subnet ids for ipv6

[2022-02-02 21:35] vijayansarathy opened #4734 "Cluster Creation in a Region with Local Zones"
Story comment below https://github.com/weaveworks/eksctl/issues/4734#issuecomment-1068961392

---

**What feature/behavior/change do you want?**
When you try to create a cluster in an AWS Region that has one or more local zones enabled, and you are also creating the VPC as part of the cluster creation process, then eksctl passes the subnets in a local zone to the cluster. Unlike regional subnets,

[2022-02-02 23:09] mataneja commented on #2364
@shapirov103 Appreciate the update. We are trying to integrate with AWS native services directly. This is exactly what Ticketmaster, Nubank, NetApp and other users (per the comments above) have indicated above. We are happy to own the maintenance burden and drive the integration and future support. Having this upstream would remove the significant burden that we and our mutual users need to take o

[2022-02-03 03:26] pmkc opened #4735 "If --zones isn't passed --node-zones are ignored when selecting zones (and then it fails)"
**What were you trying to accomplish?**

Create a cluster, pass `--node-zones=ZONE`, but not `--zones`.

This might seem a little contrived, but I only care that my nodes appear in a single AZ. I do not want to tell eksctl which zones to put the control plane and subnets in.

I am writing a programmatic client that does not know that any other AZ exists in the region. I could list zones and select

[2022-02-03 07:12] #4732 closed

[2022-02-03 07:30] cPu1 commented on #4735
eksctl requires `--node-zones` to be a subset of `--zones` because the `zones` option is used to create subnets in those zones, so if `node-zones` contains a zone not in `zones`, eksctl will fail to find a subnet in that zone. eksctl can do better by returning a more useful error message saying that `node-zones` should be a subset of `zones` by validating that the supplied `node-zones` is a subset

[2022-02-03 08:14] cPu1 opened #4736 "Add unit tests for `GetUnmanagedNodeGroupSummaries`"
`GetUnmanagedNodeGroupSummaries`, used by `get nodegroup`, has quite a lot of logic including listing CFN stacks for nodegroups, determining the nodegroup type from tags, and fetching the associated ASG and the ASG capacity values. But there are no unit tests for it, the existing unit tests mock `GetUnmanagedNodeGroupSummaries` itself, instead of the AWS API calls.

Related to #4213

[2022-02-03 10:42] Skarlso commented on #4657
@ygrosu Hi!

How does it break it? Does it overwrite it? What is the error how will it look like after you run it? I tried running both commands but the annotation looks still okay. What is the outcome error?

[2022-02-03 12:31] #2115 closed

[2022-02-03 12:42] Skarlso commented on #4657
Ah, so role gets deleted. I see now.

[2022-02-03 14:31] Himangini commented on #4627
Investigate what other places of validation is there other than `pkg/apis/eksctl.io/v1alpha5/validation.go` and bring them in one place

[2022-02-03 19:16] pmkc commented on #4735
My use case is latency sensitive. I worked around it by picking a random second zone for --zones.

I understand why you need --node-zones to be a subset of --zones. However if the user passes --node-zones and not --zones. you should not set them up for failure randomly select the wrong zones. You know from the beginning that could fail.

You have all the information to either:
A. guarantee --zones

[2022-02-04 07:05] cPu1 commented on #4735
Yup, I have noted this in my comment above.

We'll add this to our backlog.

[2022-02-04 08:51] nikimanoledaki commented on #4734
Hi @vijayansarathy, thanks for flagging this. Could you provide a sample config file (redacted if necessary) and logs so that we can reproduce the error, please?

[2022-02-04 09:40] #4530 closed

[2022-02-04 11:57] Himangini commented on #4213
Closing this since we have planned all the related tickets 👍

[2022-02-04 11:57] #4213 closed

[2022-02-04 12:16] nikimanoledaki commented on #4705
Thanks @hintofbasil, the team will investigate this to see if/how this can be implemented.

Some info for when we discuss this: eksctl currently uses the Kube API to evict pods from nodes and drain the nodes [here](https://github.com/weaveworks/eksctl/blob/main/pkg/drain/nodegroup.go). Here's a link to the k8s docs on [draining nodes in parallel](https://kubernetes.io/docs/tasks/administer-cluster

[2022-02-04 15:26] niallthomson opened #4745 "Karpenter instance profile usage"
**What feature/behavior/change do you want?**

The Karpenter integration creates a node role and associated instance profile that can be used with a provisioner. However, the name of the instance profile created is not explicitly documented.

Additionally, it would be great if this could be optionally or by default set as the default instance profile. This could be activated by a flag and pass in

[2022-02-04 15:30] Skarlso commented on #4745
Hi!

Thanks for the issue.

For the record, the document says:

Which includes the created node role that the Getting Started is talking about. :)

But, alas, I do agree that it is useful to expose that setting to `eksctl` config too and is a relatively easy thing to do.

[2022-02-04 15:42] niallthomson commented on #4745
I agree that the documentation is accurate, but I'd just say its missing some details. For example, the IAM instance profile name (`eksctl-KarpenterNodeInstanceProfile-$CLUSTER_NAME`) is different from the Karpenter Getting Started page (`KarpenterNodeInstanceProfile-${CLUSTER_NAME}`).

These are minor things, overall the integration is fantastic it could just have some little quality of life enha

[2022-02-04 15:44] Skarlso commented on #4745
Ah, right. The problem there is, that we prefix everything with `eksctl` and that is definitely missing from the doc. :/ We need the `eksctl` prefix because of the IAM permissions that we have configured for resources that begin wth that prefix.

[2022-02-04 15:45] niallthomson commented on #4745
I'm happy to submit a PR that introduces a flag for eksctl that sets the default instance profile, for example:

[code]

[2022-02-04 15:47] Skarlso commented on #4745
No need for the `set` otherwise LGTM. Please don't forget to update the test which checks if the helm value is passed in correctly. Thanks! :)

[2022-02-04 16:25] Skarlso commented on #4745
@niallthomson also, thank you that would be very welcomed! :)

[2022-02-04 20:32] afolarin commented on #4745
Came here to post precisely this.

[2022-02-04 21:19] Skarlso commented on #4745
@aclevername @cPu1 We talked about this, remember by any chance? I know we have policies in place to name things, but this is a deviation from the doc for Karpenter. I'm wondering if we could do anything about that, like not use the prefix, since we updated the minimum IAM requirements anyways....

Or, the custom field might solve that. WDYT?

[2022-02-05 01:42] #4486 closed

[2022-02-05 01:42] #4359 closed

[2022-02-05 15:06] niallthomson commented on #4745
I'm not sure you necessarily want to set the precedent of matching another projects installation docs, otherwise if those docs change its not been worth it anyway. My 2 cents would be to adding to the `eksctl` docs to clearly specify the IAM instance profile and role thats created.

Also, the Karpenter docs currently set `aws.defaultInstanceProfile` during the Helm chart installation. Should this

[2022-02-05 19:02] pkit commented on #809
@sowhatim that's not what was asked.
It seems like you cannot change max/min **without** changing desired

[2022-02-06 06:31] sowhatim commented on #809
@pkit - Not sure if you mean that `--desired` is required when using `nodes-max` and `nodes-min` . I haven't tested it but if that's the case then you can get the current node count  in a nodegroup and keep it as desired value, so you basically don't scale up or down the current no. of nodes and still set max/min value.

[2022-02-06 08:24] gohmc commented on #4685
Not quite the same. For the case of `managedNodeGroups` using EKS optimized AMI, you need to specify the AMI ID (eg. `aws ssm get-parameter --name /aws/service/eks/optimized-ami/1.21/amazon-linux-2/recommended/image_id --region <aws region> --query "Parameter.Value" -o text`) then specify your extra kubelet flags using `overrideBootstrapCommand` like:

[code]

[2022-02-06 13:53] pkit commented on #809
@rtudo not really.
If we are talking git-ops I would like to have `eksctl scale nodegroup -f cluster.yaml` to change max (or min) without touching anything else.

[2022-02-06 14:24] rtudo commented on #809
@pkit  - I went ahead and tested. This was successful
`eksctl scale nodegroup <nodegroup name> --cluster <cluster name>  --nodes-max <number> --nodes-min <number>`
Note that `--nodes` (the desired node count) was not mandatory here.
The following command was also successful
`eksctl scale nodegroup -f <nodegroup.yaml>`

But yes, if you have `desiredCapacity` defined in the yaml, that will make the

[2022-02-06 15:02] pkit opened #4752 "skip nodegroup resizing on min/max update through config file"
**What feature/behavior/change do you want?**

Would like to have a config file flag that skips changing "desired" nodes if only min or max size was changed.

**Why do you want this feature?**
My "desired" size is managed by auto-scaler, thus I don't want `eksctl` to touch it.
Using something like: `desiredSize: "auto"` would be nice too.
When cluster is created the size would be clamped to `minSi

[2022-02-06 15:02] pkit commented on #809
I have no access to eks right now, but I think you cannot do it, because: [here](https://github.com/weaveworks/eksctl/blob/020d876fbd48494c4a994373bd824a44f214dac6/pkg/ctl/cmdutils/scale.go#L95) the validation specifically checks for that.

I would rather have a config file flag.

https://github.com/weaveworks/eksctl/issues/4752

[2022-02-06 15:11] rtudo commented on #809
Worked for me without `--nodes` .

Sounds good.

+1 on the request

[2022-02-06 15:13] rtudo commented on #4752
much required

[2022-02-06 15:18] pkit commented on #809
Yup, [here](https://github.com/weaveworks/eksctl/blob/020d876fbd48494c4a994373bd824a44f214dac6/pkg/ctl/cmdutils/scale.go#L128) CLI behaves differently from config file.

[2022-02-07 07:40] MartinEmrich commented on #1030
@Skarlso IDK about the original author of this issue, but for me, the tags are propagated to managed nodes and their volume, but not to the network interfaces.

[2022-02-07 08:02] Ghost---Shadow commented on #735
We switched to terraform. But this feature would be really useful.

[2022-02-07 08:23] Skarlso commented on #4752
Sounds like a reasonable thing. We'll put it into the next planning session. Thanks!

[2022-02-07 08:26] cPu1 commented on #735
If you're able to create the security groups outside of eksctl, you can pass the SG IDs in the `securityGroups.attachIDs` field. Is this what you're looking for?

[2022-02-07 08:42] Skarlso commented on #1030
@MartinEmrich Yep, tried it. I can see that it doesn't propagate. We'll take a look.

[2022-02-07 08:46] Skarlso commented on #1030
I can confirm that we are giving it the right value:

[code]

This might be an AWS issue. But I'll investigate further.

[2022-02-07 08:51] Skarlso commented on #1030
Oh freck.

Well.... :/

[2022-02-07 08:54] Skarlso commented on #1030
So this gets into the area now about tagging things after creation and out of the scope of the cloudformation stack which is that... Everything we do **after** creation will have the effect that it's temporary. `eksctl` will not monitor tags and won't reapply them. And since these resources are controlled by the ASG, or the autoscaler, new instances will not have this tag, since the launchtemplate

[2022-02-07 08:57] Skarlso commented on #1030
I raised this issue internally, let's see if there is any future regarding tagging ENIs at least.

[2022-02-07 09:47] #4657 closed

[2022-02-07 11:16] #4695 closed

[2022-02-07 11:36] Skarlso commented on #4635
Going to do this in small, incremental PRs, otherwise it will get overwhelming.

[2022-02-07 12:57] #4675 closed

[2022-02-07 13:34] afolarin commented on #4745
I think it is sufficient (for now) to update the docs https://eksctl.io/usage/eksctl-karpenter/ to specify that
1) `defaultInstanceProfile` is not created during Helm install (superficially you might expect it to be following the Helm Get Started)
2) This is definitely threw me a bit:

as it was not immediately obvious no instance profile would be created and without at e.g. `spec.provider.instanc

[2022-02-07 13:37] Skarlso commented on #4745
@afolarin

Hi!

I'm not following this one, sorry. Out of the blue, without any other necessary thing, you can install Karpetner right now, add a provisioner and it will work. What other thing did you expect to happen?

[2022-02-07 14:08] afolarin commented on #4745
yes....if you are aware a step is missing from the Get Started Karpenter docs.

If the Karpenter Getting Started steps (where default instance profile is added) are followed, then one might expect the default instance profile to be set if "necessary prerequisites" are indeed provided. So without knowledge that instance profiles must be provided the workflow of setting up with eksctl Karpenter then

[2022-02-07 14:10] Skarlso commented on #4745
That should not be the case. I'm guessing that's a recent change to Karpenter? If you try `0.5.4` there should be no such failures.

[2022-02-07 14:16] afolarin commented on #4745
ok, could be - but I've no experience of Karpenter before last week (I'm assessing evaluating alternatives for autoscaling on EKS).

launching a new eksctl cluster with Karpenter

[code]

[2022-02-07 14:18] Skarlso commented on #4745
Frek! AAAAH! I know what happened. This is a regression from this PR: https://github.com/weaveworks/eksctl/pull/4617

What's going on is that the integration test we have does not use a provisioner and then scale and wait, it tests that the install is working. I don't see my manual test notes in that PR, I don't know why and I can't find my notes. :(

I'm failing to provide the alternative name of

[2022-02-07 14:20] Skarlso commented on #4745
When prefix was enabled, I should have also set `--set aws.defaultInstanceProfile=KarpenterNodeInstanceProfile-${CLUSTER_NAME} \` -> this guy to the prefixed value like the attached PR is doing sort of.

[2022-02-07 14:23] afolarin commented on #4745
should that include the prefix `--set aws.defaultInstanceProfile=eksctl-KarpenterNodeInstanceProfile-${CLUSTER_NAME}`

[2022-02-07 14:25] Skarlso commented on #4745
Yep. The attached PR will be fine after Niall adjusts it with the suggestions. That will fix the issue.

[2022-02-07 14:26] afolarin commented on #4745
Awesome :+1:

[2022-02-08 01:47] #4478 closed

[2022-02-08 06:52] Vaishvenk opened #4760 "Add support for Bottlerocket NVIDIA GPU variant in eksctl"
**What feature/behavior/change do you want?**
Bottlerocket is releasing an AMI specifically supporting NVIDIA based GPU EC2 instance types in addition to regular AMIs that exist today. For EKS self-managed nodes using Bottlerocket, we expect AMI resolvers in eksctl to auto-detect and resolve to the correct Bottlerocket AMI based on the specified AMI family (Bottlerocket, in this case), instance ty

[2022-02-08 07:19] cPu1 commented on #4760
Thanks for the detailed issue! The implementation for resolving the AMI for GPU instance types looks straightforward to me, however, we need to think more about how we want to handle the `--install-nvidia-plugin` flag, as a cluster can have a mix of Bottlerocket and AL2 running GPU instances, and AL2 requires the device plugin to be installed.

[2022-02-08 19:33] bitva77 opened #4763 "Make sure Karpenter version is as specified in ClusterConfig"
Last week I setup an EKS cluster and specified:

[code]

today I change it to:

[code]

and I run an `eksctl upgrade` but Karpenter isn't upgraded.  Assuming it's run just once during `eksctl create`.  It would be cool if during an upgrade it would upgrade Karpenter too.

[2022-02-08 19:53] rothgar commented on #4760
Ideally, the nvidia-plugin option could be specific to each nodegroup. It would be nice if it did the "right thing" for a user and not try to install the plugin if the nodegroup is GPU instances && AMI family is bottlerocket. If the family is AL* && GPU type then the plugin should be installed. I think this could work from the CLI and from a config file.

You'll also need to remove some existing c

[2022-02-09 00:07] russau commented on #4221
@Nirusu - I see this eks workshop attaches a role to their Cloud9 instance (instead of the rotating Cloud9 credentials)

* [Create the IAM role](https://www.eksworkshop.com/020_prerequisites/iamrole/)
* [Create the IAM role](https://www.eksworkshop.com/020_prerequisites/ec2instance/)
* [Disable the managed credentials](https://www.eksworkshop.com/020_prerequisites/workspaceiam/)

[2022-02-09 07:21] Skarlso commented on #4763
Hi!

We don't support upgrading Karpenter ATM. It requires a completely new Helm Install and Helm Update, which eksctl doesn't do. `eksctl` provides an easy getting started for Karpenter, but doesn't manage it, if that makes sense. You can use helm to upgrade it though, it should have added it as a repository.

[2022-02-09 07:22] cPu1 commented on #4763
`eksctl upgrade` is for upgrading a cluster's control plane version, it does not look at any other fields changed in the ClusterConfig. Additionally, Karpenter support in eksctl is not meant to be a replacement for the [Karpenter Helm chart](https://karpenter.sh/v0.6.0/getting-started/#install-karpenter-helm-chart). If you want to upgrade Karpenter, you can use Helm directly.

[2022-02-09 10:32] aclevername commented on #4696
managed to reproduce, as said above this is only an issue with `ipv6` clusters (we generate the VPC/outputs differently depending on ipv4/6). Working on a fix

[2022-02-09 11:16] Denn0 opened #4764 "Boundary options seem to be ignored"
The following configuration fails because of our AWS Service Control Policies that state that all roles created should have a boundary policy attached. We seem to be providing boundary policies, but `eksctl` still seems to be creating roles without boundaries, which is denied based on the mentioned SCPs.
`eksctl` should use the provided boundary policies in ALL IAM roles it tries to create.

[code

[2022-02-09 12:26] michaelkyriacou commented on #4353
/reopen

[2022-02-09 14:18] Skarlso commented on #4353
Hi. No such command. :) But to answer your question, most of the time regarding nodes, the changes applied would only be apparent once they have been applied. dry-run in these situations makes little sense. It would literally just return with the values you set.

[2022-02-09 15:25] cPu1 commented on #4760
Ideally, the nvidia-plugin option could be specific to each nodegroup. It would be nice if it did the "right thing" for a user and not try to install the plugin if the nodegroup is GPU instances && AMI family is bottlerocket. If the family is AL* && GPU type then the plugin should be installed. I think this could work from the CLI and from a config file.

@rothgar right, this is what we are planni

[2022-02-09 15:25] cPu1 commented on #4760
Ideally, the nvidia-plugin option could be specific to each nodegroup. It would be nice if it did the "right thing" for a user and not try to install the plugin if the nodegroup is GPU instances && AMI family is bottlerocket. If the family is AL* && GPU type then the plugin should be installed. I think this could work from the CLI and from a config file.

@rothgar right, this is what we are planni

[2022-02-09 15:25] cPu1 commented on #4760
@rothgar right, this is what we are planning to do, however, if you create an AL2 GPU nodegroup later using `eksctl create nodegroup`, eksctl will need to install the NVIDIA device plugin DaemonSet and the plugin will end up running even on Bottlerocket GPU nodes. This would have been straightforward with a `nodeSelector` applied to the device plugin that targets only AL2 GPU nodes but there are n

[2022-02-09 17:25] vflaux commented on #3894
Still occurs in 0.69.0.
The nodes from a my new nodegroup cannot join the cluster due to authorization issues (that's another issue) and eksctl then cannot retrieve the version from the Node object in the cluster.
If the desired capacity of the asg is 0, eksctl skip the retrieval of this info. It should be safe to ignore the error if there is no nodes even if the desired capacity is > 0.

[2022-02-09 17:29] bitva77 commented on #4763
Gotcha.  Thanks!

[2022-02-09 17:29] #4763 closed

[2022-02-09 17:46] rothgar commented on #4760
Good point. I've had some issues of nodes not joining the cluster when the daemonset was running. I haven't pinpointed if the daemonset was the cause of the problem or just a coincidence.

I wish there were some kind of `node.kubernetes.io/distro` common label :(

[2022-02-10 01:47] #4546 closed

[2022-02-10 06:46] cPu1 commented on #2054
Closing this now, please open a new issue if you have any more questions.

[2022-02-10 06:46] #2054 closed

[2022-02-10 07:17] cPu1 opened #4769 "Migrate nightly-build job from CircleCI to GitHub Actions"
After [this PR](https://github.com/weaveworks/eksctl/pull/4765) is merged, the nightly-build job will be the only job running on CircleCI. After migrating it to GitHub Actions, we'll be able to stop using CircleCI and have a single CI/CD system for all our workflows.

[2022-02-10 09:33] aclevername commented on #4696
a fix has been merged and should be out in tomorrows release. Leaving this issue open while I work on a bigger refactor

[2022-02-10 12:26] Himangini opened #4771 "[Spike] Investigate Bottlerocket support for NVIDIA variant"
### Description
As per discussion/comments noted https://github.com/weaveworks/eksctl/issues/4760 We need to investigate
- While running the NVIDIA device plugin on Bottlerocket GPU nodes, do the nodes fail to join the cluster https://github.com/weaveworks/eksctl/issues/4760#issuecomment-1033880486
- What does a good solution looks like and how much effort it is

### Timebox
2-3 days

### Outcome

[2022-02-10 17:03] aclevername commented on #4683
I've not been able to reproduce this, ran it multiple times locally + its passed at least 14 times in a row in CI since the last failure. I'm going to assume its potentially related to a go module that got updated that has resolved the issue. Going to close until we see this again

[2022-02-10 17:03] #4683 closed

[2022-02-11 00:32] t0rr3sp3dr0 opened #4774 "Add support for ASG lifecycle hooks"
Reopens #4347

## Original issue

**What feature/behavior/change do you want?**

Add support for [autoscaling lifecycle hooks](https://docs.aws.amazon.com/autoscaling/ec2/userguide/lifecycle-hooks.html) to node groups.

A sample configuration could be the following based on the [cloudformation documentation](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-autoscaling-

[2022-02-11 03:43] tanvp112 commented on #4774
Built-in with [managed node group](https://aws.amazon.com/blogs/containers/amazon-eks-now-supports-provisioning-and-managing-ec2-spot-instances-in-managed-node-groups/) if managedNodeGroups is an option for you.

[2022-02-11 04:32] t0rr3sp3dr0 commented on #4774
We are unable to use managed node groups with our workloads. Without this configuration available, it’s not possible for us to use AWS Node Termination Handler in Queue Processor mode, to leverage all its feature, with unmanaged node groups created by eksctl.

[2022-02-11 05:08] tanvp112 commented on #4774
Could you briefly describe the hurdle where managed node groups couldn't meet the requirement of your workload?

[2022-02-11 08:49] #4707 closed

[2022-02-11 08:49] #4731 closed

[2022-02-11 12:19] Himangini commented on #4774
@t0rr3sp3dr0 Thanks for opening this feature request 👍 The team will review and see whether this functionality fits in with the project. In the meantime, if you would like to demonstrate a solution, please open a PR

[2022-02-11 12:22] Himangini commented on #4764
@Denn0 Thanks for reporting this bug 👍 If you have a fix in mind, we are happy to accept PRs, otherwise the core team will get to it soon

[2022-02-11 12:26] Himangini commented on #4734
@vijayansarathy Are you able to provide a sample config file?

[2022-02-11 13:32] Himangini commented on #4539
Closing this due to no activity. Please feel free to open again if you're still having issues

[2022-02-11 13:34] Himangini commented on #4532
Closing this due to lack of activity. Please feel free to open it again if you're still having the same problem.

[2022-02-11 13:34] #4532 closed

[2022-02-11 13:37] Himangini commented on #4522
@kahirokunn can you provide more context? Are you still facing this issue? We're happy to accept any PRs if you have a fix in mind :)

I want it to work with the default service account as well.

[2022-02-11 15:24] t0rr3sp3dr0 commented on #4774
@tanvp112, we need to be able to run privileged containers, for example. We have our CI/CD runners on EKS and each runner has its on Docker Daemon running in a sidecar container, and Docker in Docker requires privileged containers do work.

This is just an example, we have other scenarios where access to the node is necessary and that’s not possible with managed node groups. I won’t be describing

[2022-02-11 16:33] Skarlso commented on #4774
It involves a lot more than just adding the `lifecycleHooks`. It would involve defining the function role the event hooks and the functions all together which would lead to a rapid proliferation of settings in our config file.

I feel like your scenario is pretty unique. Running privileged containers is seldom a good idea. On top of that we aren't trying to compete with the feature rich capabiliti

[2022-02-11 17:12] #4696 closed

[2022-02-11 18:54] tsunamaru opened #4779 "ssh-ed25519 keys wrongly assumed as unsupported"
**What were you trying to accomplish?**
Create cluster with ssh-ed25519 key for ssh access.

**What happened?**
`Error: computing fingerprint for key "~/.ssh/some-ed25519-key.pub": error computing fingerprint for SSH public key: unexpected type of SSH key ("ssh.ed25519PublicKey"); AWS can only import RSA keys`

**How to reproduce it?**
Just try to create any cluster with ed25519 key.

**Anything e

[2022-02-12 01:42] tanvp112 commented on #4774
@t0rr3sp3dr0, thanks for the sharing. I would use managedNodeGroups with **custom launch template** to do that kind of workload, which is totally workable and the meantime enjoy the benefits that managedNodeGroups brings along.  Nevertheless, the choice is yours.

[2022-02-12 03:06] kahirokunn commented on #4522
Sorry, I haven't done anything to fix this.
Perhaps if you modify the create cluster to enable the override-existing-seriviceaccount option, it might work.

https://github.com/weaveworks/eksctl/pull/4523#issuecomment-1021907583

[2022-02-14 07:38] Skarlso commented on #4627
Arguably, that file is massive and I don't think further extending it will bring much joy. :D I think we should categorise these better and use a set of files instead. But that can be a follow up ticket to this perhaps. But doing it up front will alleviate some pain in the future.

[2022-02-14 08:18] Skarlso commented on #4635
There is another possible reduction here in `compat.go`:

[code]

And on the next couple lines below it says:

[code]

Where `AppendNewClusterStackResource` does another getStackTemplate. But refactoring Append would require some other, nasty edits to another function which does not have the template. And I think that's just not worth it.

[2022-02-14 08:47] Skarlso commented on #4635
I did try putting a stack template on the StackCollection and then added a function which said GetCachedStackTemplate. But that didn't actually reduce anything because most of the time the stack we are looking for is not the one that is the stack of the StackCollection but the nodegroups or roles stack. Or we needed to call it anyways because updated information was needed. So it just wasn't worth

[2022-02-14 08:47] #4635 closed

[2022-02-14 15:03] #4565 closed

[2022-02-14 15:06] 4BitBen commented on #4734
@Himangini @nikimanoledaki here is a sample file. I enabled the local zones in us-west on my account.

[code]

here is a sample run (with some of it redacted):

[code]

I would always get a `the targeted availibility zone does not currently have sufficient capacity to support the cluster` regardless of which local zone I tried. So, I think the sufficient capacity error message might not be accurat

[2022-02-14 23:51] arnaldo2792 commented on #4771
Hello folks, I tested the following:

- Create a new nodegroup without the `--install-nvidia-plugin=false` configuration, and I could see the node joined the cluster:

[code]

I checked if there were errors in either K8s device plugin executions:

[code]

So the nodes don't fail to join the cluster, and I ran a workload that used GPUs:

[code]

[2022-02-15 09:00] cPu1 opened #4787 "Default timeout isn't respected in `upgrade nodegroup`"
[Failing integration test](https://github.com/weaveworks/eksctl-ci/runs/5209089919?check_suite_focus=true)
Despite setting a timeout of 45 minutes for `upgrade nodegroup` [here](https://github.com/weaveworks/eksctl/blob/main/pkg/ctl/upgrade/nodegroup.go#L41), the command uses a timeout value of 25 minutes, causing `upgrade nodegroup` to fail when the operation takes longer to complete.

We need to

[2022-02-15 09:53] Skarlso commented on #4616
@cPu1 Interesting. When I was investigating how we could reduce the number of `DescribeStack` calls I was actually finding it nice that it doesn't always call DescribeStack. I found it convenient. Removing the cache means a full restructure of all the Can* calls and RefreshClusterStatus calls. :D

[2022-02-15 09:54] Skarlso commented on #4616
I know, I know we discussed this already. Just writing it down here too.

[2022-02-15 11:34] cPu1 commented on #4771
@arnaldo2792, great, thanks for helping us test this. Did you look up the AMI ID for Bottlerocket GPU yourself and use that as the AMI in `eksctl create nodegroup`? I'm asking because Bottlerocket GPU instance types are not currently supported in eksctl.

[2022-02-15 13:15] cPu1 commented on #4771
Additionally, the logs show that the NVIDIA device plugin registered itself with the kubelet's device plugin gRPC service. It'd be best to verify that the parameters passed to the `Register(RegisterRequest)` RPC call by the plugin do not interfere with the built-in support in Bottlerocket GPU AMIs.

[2022-02-15 14:00] cPu1 commented on #4760
There is no well-known label that can be used to target AL2 GPU instance types that'd allow us to schedule the device plugin pods only on AL2 GPU nodes. We can consider adding a new label to nodegroups using AL2 GPU instance types when `eksctl create nodegroup` is used, and use that label as a nodeSelector in the NVIDIA device plugin DaemonSet, but this approach suffers from a problem. If AL2 GPU

[2022-02-15 14:18] Himangini commented on #4774
@t0rr3sp3dr0 thanks for re-opening this issue. Unfortunately, we have discussed and decided that we will not be implementing this feature request.

[2022-02-15 14:18] #4774 closed

[2022-02-15 14:46] aclevername commented on #4462
`aws sts get-caller-identity` should contain the name of the person logged in

[2022-02-15 15:12] Skarlso commented on #4406
@amrragab8080 Hi, looking at this again, do you have any info on a flag on CF that let's you achieve that? If not, then since, we use CF we don't have any other options to make this CREATE_COMPLETE on an ASG failure.

[2022-02-15 15:15] Himangini commented on #4395
Parking this for now since the related ticket seems to have fixed this issue as well. If the tests fail again with same error then we'll pick this up

[2022-02-15 18:29] arnaldo2792 commented on #4771
I built my own AMI from the tip of develop, and passed it to the `yaml` file, using the `amiFamily: Bottlerocket`, here is my config file:

[code]

I [found this](https://github.com/kubernetes/kubelet/blob/0f4ac4249904e16577d64d6a4ea08d46e1491480/pkg/apis/deviceplugin/v1beta1/api.proto#L21) that suggests the registration could fail if there are two active device plugins using the same resource nam

[2022-02-15 18:48] amrragab8080 commented on #4406
@Skarlso In my testing it comes the cfn-init in the userdata that is populated by the template.
[code]
specifically this section where CF is waiting for a cfn-signal to be sent with the exit code to the stack and Nodegroup:
[code]

[2022-02-16 11:04] cPu1 opened #4803 "Cache misses in GitHub Actions workflows"
The cache GitHub Action is used in workflows to cache downloaded Go modules, but the first commit in a PR often results in a cache miss in the workflows because caching isn't configured properly.

An example workflow run that failed to find the cache: https://github.com/weaveworks/eksctl/runs/5128554996?check_suite_focus=true

We don't do caching when something is merged in main which results in c

[2022-02-16 11:33] #2883 closed

[2022-02-16 13:05] pyromaniac3010 opened #4804 "Error: failed to install Karpenter: failed to install Karpenter chart: failed to install chart: create: failed to create: namespaces "karpenter" not found"
**What were you trying to accomplish?**
I wanted to create a new cluster with aws eks fargate and karpenter support.

**What happened?**
I got the error message
`Error: failed to install Karpenter: failed to install Karpenter chart: failed to install chart: create: failed to create: namespaces "karpenter" not found`

**How to reproduce it?**
[code]

**Logs**
[code]
**Anything else we need to know?

[2022-02-16 13:13] Skarlso commented on #4804
@pyromaniac3010 Hello!

Can you try moving your namespace selectors such as:

[code]

[2022-02-16 13:17] Skarlso commented on #4804
Also, please be aware that there is a problem right now that the node role's name is not passed along to Karpenter. We have a PR open to fix that: https://github.com/weaveworks/eksctl/pull/4751

[2022-02-16 13:50] Skarlso commented on #4804
I definitely remember that in case of Fargate, fargate SHOULD create the namespace. This why we have this:

[code]

[2022-02-16 13:53] Himangini commented on #4736
Consider moving the function out of the manager package

[2022-02-16 13:58] Skarlso commented on #4804
This is weird though, I can't find it in the docs. But I remember that there was a reason to check fargate profiles and not create the namespace then 🤔 We didn't just add that part out of habit. :D

[2022-02-16 13:59] pyromaniac3010 commented on #4804
Creating a fargateprofile does not create the namespaces used as selectors.
In https://eksctl.io/usage/fargate-support/#example-scheduling-workload-in-fargate the first thing to do after creating the fargate profile is to create the namespace ;-)

[2022-02-16 14:00] Skarlso commented on #4804
Yeah. Huh, what the heck.

[2022-02-16 14:13] Skarlso commented on #4804
Super weird. I'll take a look. The corresponding PR is almost done, so once it's merged, I'll pick this up and try and test it.

[2022-02-16 14:16] Skarlso commented on #4804
I found my test confgi, this is what I used:

[code]

I'm pretty sure it was creating the namespace. But I'll check out what the heck happened. :D

[2022-02-16 14:20] pyromaniac3010 commented on #4804
Also: Why shouldn't the karpenter namespace be created if there is ANY fargateprofile defined?
I am setting up a mixed cluster with fargate support and karpenter to be able to use fargate for some workloads and "normal" nodes using karpenter to get ebs-support aso.
Even if I add a managedNodeGroup to run the control plane on, this code would prevent creating the namespace in kubernetes, too.
Does

[2022-02-16 14:22] Skarlso commented on #4804
Yeah I hear you. I remember using fargate and it failed with can't create namespace because it already exists. But now, looking at my notes, it might have actually been some kind of fluke. The mentioned PR is done now, so I'll fix this one today. :)

[2022-02-16 15:13] Skarlso commented on #4804
Yep, reproduced. No idea why I did this. :D I blame mushrooms. :D

[code]

[2022-02-16 15:22] #4745 closed

[2022-02-16 15:47] pyromaniac3010 commented on #4804
BTW: I deleted the failed cluster and got another error message:
[code]
In the end I re-ran the delete command over and over again until everything was removed again:

[code]

[2022-02-16 15:49] Skarlso commented on #4804
Looks like you might be missing a required iam role setting? It deleted fine for me on the first run:

[code]

Maybe you had a policy it failed to delete because your role didn't have the necessary access level?

[2022-02-16 16:02] pyromaniac3010 commented on #4804
If my role wouldn't have the necessary access level:
Why did it proceed with the deletions on the 2nd and 3rd run? I didn't change anything to the yaml file or my aws iam settings in between the runs of `eksctl delete cluster --config-file=eksctl-p-k8s1.yaml`
I had the same effect yesterday on my first try. So maybe it has something to do with the iam roles / additional fargate profiles I have in

[2022-02-16 16:06] Skarlso commented on #4804
But alas, that's something to raise with Karpenter people.

[2022-02-16 16:07] pyromaniac3010 commented on #4804
I use the most recent release:
[code]

[2022-02-16 16:08] Skarlso commented on #4804
I'll raise the issue with Karpenter in a sec and cross-link.

[2022-02-16 16:15] aclevername commented on #4655
## StackCollection
The `StackCollection` struct is accessed through the `StackManager` interface:
[code]

This interface works quite well, and is easily mocked out throughout the codebase. However the interface itself is quite large
and can/should be split out. Grouping some of the current methods into categories:
- (17~ methods) Getting Stacks (returning the stack or information from the stack),

[2022-02-16 16:16] pyromaniac3010 commented on #4804
karpenter says it can run on fargate:
https://karpenter.sh/v0.6.2/getting-started/#create-a-cluster
I still think the issue with karpenter install failing is more related to the creation of the serviceaccount which should also be created in the karpenter namespace which eksctl should auto create if missing or do I miss something here?
see:
https://karpenter.sh/v0.6.2/getting-started/#create-the-ka

[2022-02-16 16:20] Skarlso commented on #4804
Can you try checking out this PR and trying again please? https://github.com/weaveworks/eksctl/pull/4805

[2022-02-16 16:20] pyromaniac3010 commented on #4804
have you tried to deploy a new workload in a new namespace where there is no matching fargateprofile?

[2022-02-16 16:23] Skarlso commented on #4804
That's a good idea. I'll try that.

But also, I see that you choose `createServiceAccount: true`. This means that Karpenter will create the service account. I have no idea where and how they create it. We just create the service role in this case and pass it in. It's their responsbility to use it. Maybe try without so eksctl can create the service account and see if that works?

[2022-02-16 16:23] Skarlso commented on #4804
[code]

[2022-02-16 16:32] pyromaniac3010 commented on #4804
ok, will try the pr tomorrow.
I used https://github.com/weaveworks/eksctl/blob/main/examples/29-cluster-with-karpenter.yaml as template and thought `createServiceAccount: true` would make things easier for me, not more complicated ;-)

[2022-02-16 16:33] Skarlso commented on #4804
It should, in theory... This is their own advice as well. It's just another switch to push and see if things change. :)

[2022-02-16 16:35] pyromaniac3010 commented on #4804
could you provide me a binary with the pr?

[2022-02-16 17:11] Skarlso commented on #4804
Apparently, they removed CLUSTER_ENDPOINT setting. 🤦

[2022-02-16 17:14] Skarlso commented on #4804
https://github.com/aws/karpenter/pull/1145

[2022-02-16 17:15] Skarlso commented on #4804
https://github.com/aws/karpenter/issues/1358

[2022-02-16 17:53] Skarlso commented on #4804
Ah, it might not have worked because I was running an earlier version? Now it looks like it will work hopefully that I upgraded to `0.6.2`.

[2022-02-16 17:59] Skarlso commented on #4804
FFS

[code]

Okay, this is something new again. So Karpenter won't work at all until that's finished.

[2022-02-16 18:00] Skarlso opened #4806 "Karpenter install fails with missing tags on subnets and security groups"
[code]

[2022-02-16 21:39] Skarlso commented on #4804
@pyromaniac3010

Heads up, I'm out tomorrow, so will get back to you on this on Friday. Sorry about the wait. I would stop using Karpenter for now at least through eksctl. They changed some things I need to address now before this even works again. :)

[2022-02-17 06:50] Skarlso commented on #4804
@pyromaniac3010 I updated the PR. That should work now. :)

[2022-02-17 10:20] leongross commented on #4453
yes, this can be resolved

[2022-02-17 10:20] #4453 closed

[2022-02-17 10:35] nikimanoledaki commented on #4627
@cPu1 If you could share the examples that you had in mind, that would be really helpful. Thanks :)

For me, what came to mind was [this](https://github.com/weaveworks/eksctl/blob/main/pkg/ctl/cmdutils/configfile.go).

[2022-02-17 12:01] cPu1 commented on #4627
Yes, the loader code is one example. Another one is: https://github.com/weaveworks/eksctl/blob/main/pkg/eks/api.go#L370

[2022-02-17 12:51] nikimanoledaki commented on #4627
I've added a TODO list in the description of this ticket to capture what was discussed in today's stand up.

[2022-02-17 12:58] #4616 closed

[2022-02-18 06:37] ryok-0319 opened #4810 "Karpenter pod craches due to empty CLUSTER_NAME and CLUSTER_ENDPOINT"
**What were you trying to accomplish?**
I was trying to deploy Karpenter using eksctl.

**What happened?**
`eksctl create cluster -f cluster.yaml` failed with the error
`Error: failed to install Karpenter: failed to install Karpenter chart: failed to install chart: timed out waiting for the condition`

I checked the cluster and found the Karpenter pod's status was `CrashLoopBackOff` because of emp

[2022-02-18 06:54] ryok-0319 commented on #4810
Thank you for your quick response.
I completely understand the cause now, I'll close this issue

[2022-02-18 06:54] #4810 closed

[2022-02-18 11:17] cPu1 opened #4813 "`update-build-image-tag` erroneously adds a leading `/` to the Dockerfile"
When updating the build image tag using `update-build-image-tag`, the `BUILD_IMAGE` ARG in [Dockerfile](https://github.com/weaveworks/eksctl/blob/main/Dockerfile#L1) erroneously gets a leading `/` in the image reference. Instead of `weaveworks/eksctl-build:<hash>`, it updates it to `/weaveworks/eksctl-build:<hash>`.

Summary
- Related comment https://github.com/weaveworks/eksctl/pull/4812#discussi

[2022-02-18 11:20] Himangini commented on #4302
Closing this since we have merged the PR https://github.com/weaveworks/eksctl/pull/4781 for Unmanaged Nodegroups support

[2022-02-18 14:38] Skarlso commented on #4804
NOW finally the PR is ready. I fixed all the issues I could find and managed to have a working Karpenter cluster.

[2022-02-18 15:22] nikimanoledaki commented on #4655
This is a good survey, and really _any_ step towards refactoring this monster is a good start.

You set out some good initial steps that can be taken. One suggestion on a first pass is to create a list with these action items (e.g. `move  x to y`) so that we can act on them e.g. create new tickets.

[2022-02-18 15:34] Himangini opened #4816 "EKSCTL SURVEY 2022 ✨ 📓 ✨"
### Hello Community 👋🏻

We hope that `eksctl` is making it easier for you to manage your EKS clusters 😊 .

We ran a survey last year and we had amazing responses, thank you for participating 🎉
This year we are back again to know more about how you use `eksctl` and your thoughts on Gitops. We would love your feedback in understanding how `eksctl` can help you.

If you have 5 mins, please check out

[2022-02-18 15:48] aclevername commented on #4655
thanks!

I've added some emojis to the different sections to try to make it clear what should be moved. I think rather than re-listing all the funcs to be moved, perhaps sub-tasks for tackling each file might be a easier way to split the work up?

[2022-02-18 15:48] pyromaniac3010 commented on #4804
That's great news! Thanks for your hard work @Skarlso !
Unfortunately I don't have a go dev environment to compile and test it.
Could you provide a linux binary somewhere? dropbox?
I will then test everything on monday.
Otherwise I will have to wait till this is merged into the next release ;-)

[2022-02-18 16:02] Skarlso commented on #4655
What I would do and I think this is something that you are trying to do as well, is the following:

- set up different providers for different things that we use that are aws specific such as: `eks` provider, `ec2` provider, `ssm` provider, etc
- make a provider for our own things as well such as cluster stack parsing, or template handling, etc
- make a root provider handler which has all the prov

[2022-02-18 16:12] Skarlso commented on #4804
@pyromaniac3010 there you go mate https://www.dropbox.com/s/apxnv72q24jjtjc/eksctl.tar.gz?dl=0

Have fun. :)

[2022-02-21 09:53] cPu1 commented on #4437
What you're trying to achieve does not make much sense with eksctl. You're running eksctl as a pod which is given access to Kubernetes resources via a service account. However, eksctl does not authenticate with Kubernetes via the in-cluster `ServiceAccount` token mounted at `/var/run/secrets/kubernetes.io/serviceaccount`. Instead, it obtains access to Kubernetes resources via the mapping specified

[2022-02-21 10:19] nikimanoledaki commented on #4627
I can start working on a PR to move `ClusterConfig` validation out of `1. pkg eks`. A separate PR could start to tackle `2.` as part of this ticket as well. However, `3. ConfigLoaderBuilder struct & commonClusterConfigLoader struct` might need more planning in order to get it right. @cPu1 WDYT?

[2022-02-21 10:45] nikimanoledaki commented on #4627
I'm starting with the 2 funcs in `pkg/eks/api.go` and go from there.

[2022-02-21 10:49] pyromaniac3010 commented on #4804
@Skarlso GREAT JOB!
Cluster was created successfully and karpenter 0.6.3 got installed and is up and running as expected!
[code]

Note to all others who are trying this with existing VPC and subnets:
Don't forget to manually add the tag "karpenter.sh/discovery: $CLUSTERNAME" to your subnets!

Thanks a lot for your work @Skarlso !

[2022-02-21 10:53] jlandowner commented on #4437
@cPu1 Thank you. It really makes sense to me!

So not only in a Pod, with correct IAM Policy and incorrect aws-auth for eksctl caller IAM Role, the same error will occur in anywhere, won't it?

[2022-02-21 11:09] cPu1 commented on #4627
Great work finding all validation code. (1) is exactly what I had in mind. Although `func errTooFewAvailabilityZones` should be replaced with the calling code (`SetAvailabilityZones`) as the function itself is merely constructing an error.

Regarding (2), I created the issue to address validation of ClusterConfig, mainly code that performs validation on ClusterConfig fields but is not called from

[2022-02-21 11:14] cPu1 commented on #4437
That's correct.

[2022-02-21 11:26] pyromaniac3010 commented on #4804
Most likely not related to karpenter but FYI:
after making some tests I again deleted my cluster and got again an error on the first run:
[code]
output of second run:
[code]
So it took two runs to successfully delete all cloudformation stacks which eksctl created.

[2022-02-21 11:32] nikimanoledaki commented on #4627
Thanks Chetan! :)

I've updated my comment to remove/update the functions that you mentioned.

Good catch re: `doCreateCluster`, it also does quite a bit of validation that should be moved. Adding it as another section.

[2022-02-21 12:09] jlandowner commented on #4437
Thanks! I close this issue.

[2022-02-21 12:09] #4437 closed

[2022-02-21 12:37] artem-nefedov opened #4821 ""eksctl update addon -f config.yaml" throws InvalidParameter (empty stack name)"
**What happened?**

Calling `eksctl update addon` causes InvalidParameter error. This is a regression issue in v0.84.0 (not reproduced with v0.83.0).

**How to reproduce it?**

1. Create cluster from a manifest with the following section:

[code]

2. Call `eksctl update addon -f cluster.yaml`, where "cluster.yaml" is the same manifest (no changes in content).

**Logs**

[code]

**Anything else we

[2022-02-21 17:27] aclevername commented on #3215
I've had a playaround with migrating 1 small part of the codebase (`eksctl create addon`)  to use the `aws-sdk-go-v2`. Heres a look https://github.com/weaveworks/eksctl/pull/4820/files

### Summary
Moving to `aws-sdk-go-v2` is definitely viable, but will require a lot of small code changes

The main takeaways:
- The func names are all the same
- All the funcs now take a `context.Context` as the fi

[2022-02-21 20:04] Skarlso commented on #3215
Something to note is that our interfaces now don't need to contain every method. Just the bare minimum that we use and need. :)

[2022-02-22 06:41] Skarlso commented on #4804
Thank you for confirming! I'm out sick for a few days so I'll pick this up when I'm back.

That delete error is rather pesky. 😔

[2022-02-22 08:48] cPu1 commented on #4517
@ngoyal16, please let us know if this helped so can close the issue.

[2022-02-22 08:49] aclevername commented on #3215
That's true, but auto generating the full interface is easier than maintaining a manual list (which would be big!). Plus it helps for discovering new APIs when working on new features

[2022-02-22 09:02] Skarlso commented on #3215
I don't agree on that one. You would have to constantly re-generate the mocks if there is a new method added, which is what we do today. The purpose of a handcrafted mock is that it's precise and tailored to our needs. In general it's idiomatic in Go to not provide interfaces for the package you write and this is one of the purpose for it. Users can / should generate the mocks they need.

And the

[2022-02-22 10:37] ArturChe commented on #4821
I have faced the same issue! And was able to update it using command line args.

[2022-02-22 14:30] #4787 closed

[2022-02-22 16:27] aclevername commented on #4821
Thanks for opening the issue! This looks like a possible regression in the latest release. Can you reproduce this on `0.83.0` or `0.82.0` @artem-nefedov @ArturChe ?

[2022-02-22 16:41] artem-nefedov commented on #4821
@aclevername I already noted in the description that it's not reproduced on
0.83.0

On Tue, Feb 22, 2022, 19:28 Jake Klein ***@***.***> wrote:

[2022-02-22 17:03] aclevername commented on #4821
:facepalm: sorry my bad! Thanks. We will investigate :smile:

[2022-02-22 17:09] aclevername opened #4827 "Pin karpenter support to a specific minor"
Karpenter is a fast moving project that might have breaking changes between minors. Lets pin eksctl so that you can only install up to a specific minor. This should prevent users from installing a version of karpenter that doesn't work with eksctl.

E.g. lets say we support up to `0.6.*`:

The following configs succeed:
[code]

The following should fail:
[code]

Summary
- We will add support for p

[2022-02-22 17:27] Skarlso commented on #4827
Specify *patch. The breaking change was from 0.6.1 to 0.6.2.

[2022-02-22 21:10] ellistarn commented on #4827
You can rely on us to not make breaking changes on patch versions moving forward. We may incompat on minor versions.

[2022-02-22 21:13] Skarlso commented on #4827
@ellistarn Hey Ellis! Didn't mean to imply anything bad! :) You are still below 1, I believe you should be empowered to make choices that furthers Karpenter as you see fit.

That said, we appreciate every help we can get. 👍 And if you say we can pin to miner we'll do that. :)

[2022-02-22 21:15] Skarlso commented on #4827
@akestner Excellent! Thanks! :) sorry, I was out sick for a while, so couldn't follow discussions. :) Thank you for all the support and help.

[2022-02-23 00:24] ndegory commented on #4031
while the `aws` CLI has reverted to v1alpha1, `aws-iam-authenticator` defaults to v1beta1 since 0.5.4: https://github.com/kubernetes-sigs/aws-iam-authenticator/commit/0221afb8e2a5d14a20a93473edc4c2aa7676ce95

Using eksctl to export the kubeconfig sets the aws-iam-authenticator as the command:

[code]

[2022-02-23 01:53] #4630 closed

[2022-02-23 08:53] dobegor commented on #4031
@Himangini can we reopen this? as mentioned, aws-iam-authenticator defaults to v1beta1 so eksctl can no longer produce a working kubeconfig entry with the latest aws CLI tooling

[2022-02-23 13:53] #4439 closed

[2022-02-23 17:03] aclevername commented on #4764
I've been investigating and believe I understand the issue. When you create a cluster with `withOIDC: true`  we automatically (not visible to the user) create an additional IAMServiceAccount for the VPC-CNI. This is because this approach is much better and more secure than giving the VPC-CNI permissions to the node IAM role. Docs [here](https://eksctl.io/usage/security/#withoidc) and [here](https:

[2022-02-23 17:51] Iamtoluakin opened #4832 "Create an eksctl deployment file (eksworkshop.yaml) use in creating your cluster using the following syntax:"
[code]

This is what I got

Iamadmin:~/environment $ eksctl create cluster -f eksworkshop.yaml
2022-02-23 17:27:26 [!]  SSM is now enabled by default; `ssh.enableSSM` is deprecated and will be removed in a future release
2022-02-23 17:27:26 [ℹ]  eksctl version 0.84.0
2022-02-23 17:27:26 [ℹ]  using region us-east-2
2022-02-23 17:27:26 [ℹ]  subnets for  - public:192.168.0.0/19 private:192.168.96.0/1

[2022-02-23 18:22] pulberg opened #4833 "eksctl - Session token not found or invalid"
**What were you trying to accomplish?**

Consistently run eksctl cmds
**What happened?**

1 or 2 cmds work, then they don't work after a few min
**How to reproduce it?**

aws sso login --profile someprofile

eksctl get cluster --profile someprofile
2022-02-18 09:55:42 [ℹ]  eksctl version 0.83.0
2022-02-18 09:55:42 [ℹ]  using region us-east-2
NAME			REGION		EKSCTL CREATED
cluster	                us

[2022-02-23 18:43] Skarlso commented on #4833
Hi!

Can you see if your aws credential file gets corrupted, or if you happened to have some environment property configured that limits the session duration? Also, can you see that when that happens, do aws commands still work such as `aws sts get-caller-identity --profile someprofile`?

[2022-02-23 19:47] pulberg commented on #4833
`aws sts get-caller-identity --profile someprofile` is still working many hours later

[code]
How would I know if my aws credential file is corrupted?

[2022-02-23 21:41] jkreileder commented on #4031
Yea, please reopen.

I use this as a work-around:

[code]

[2022-02-24 06:45] Skarlso commented on #4031
I'll put this into our backlog and we'll discuss it on our next refinement meeting. Thanks!

[2022-02-24 06:52] Skarlso commented on #4572
I'll try to get this in for investigating on our next planning.

[2022-02-24 06:59] Skarlso commented on #4833
Basically just by inspecting and taking a look at the token and if it looks sane at all. :) I'll try and see if I can reproduce this.

[2022-02-24 07:44] Skarlso commented on #4031
@jkreileder I don't think it's that straight forward, right? We need to keep compatibility with older versions as well. Otherwise we risk to break everyone who isn't using latest iam authenticator.

[2022-02-24 07:47] Skarlso commented on #4031
[code]

Reproduced the problem with latest aws-iam-authenticator the cluster access no longer works.

[2022-02-24 09:10] #4483 closed

[2022-02-24 09:21] aclevername commented on #4779
thanks for opening the issue @tsunamaru . Looks like this is related to the kops package we use to generate fingerprints. Working on a fix :smile:

[2022-02-24 10:17] Himangini commented on #4031
@dobegor thanks for flagging this, we are working on a fix atm 👍🏻

[2022-02-24 11:01] Skarlso commented on #4031
For the record, aws-iam-authenticator back-pushed this until 0.5.3. The last version that's using alpha1 is 0.5.2.

[2022-02-24 12:10] #4804 closed

[2022-02-24 12:10] #4806 closed

[2022-02-24 12:11] Skarlso commented on #4804
@pyromaniac3010 Hey, this is now closed, if you feel like, you can open a more informative one with some steps if you can about the delete issue so we can investigate. :)

[2022-02-24 14:49] #4462 closed

[2022-02-24 17:44] julianogv opened #4838 "invalid CIDR block size error when creating a cluster with IPV6 and custom IPV4 cidr"
**What were you trying to accomplish?**
Trying to create a cluster with **ipFamily: ipv6** and custom **vpc-cidr**

**What happened?**
After running the command **eksctl create cluster -f cluster.yaml** the error **invalid CIDR block size 13** is raised.

**How to reproduce it?**
Create a cluster with the following config:

[code]

**Logs**
Execution log:
[code]

**Anything else we need to know?**

[2022-02-24 18:12] kr3cj commented on #3889
Thanks for the explanation @Skarlso. For anyone finding this issue in the future, we decided to just emulate what the EKS console does (since it doesn't wait which is what we want). One can just call the [UpdateNodegroupVersion](https://docs.aws.amazon.com/eks/latest/APIReference/API_UpdateNodegroupVersion.html) command and provide nodegroupName, releaseVersion, and name. We will do this from our

[2022-02-24 18:37] #4760 closed

[2022-02-25 09:41] aclevername commented on #4543
Closing for now as we agree not to do go down this route due to the implications detailed above

[2022-02-25 09:41] #4543 closed

[2022-02-25 10:51] aclevername commented on #4031
Fix will be out in 0.85.0-rc.0 later today :smile:

[2022-02-25 12:12] aclevername commented on #4821
Fix will be out in 0.85.0-rc.0 later today :smile:

[2022-02-25 12:12] aclevername commented on #4779
Fix will be out in 0.85.0-rc.0 later today :smile:

[2022-02-25 14:12] aclevername commented on #4769
I've let @mnowster know we are no longer using circleci

[2022-02-25 15:00] Skarlso opened #4847 "Unowned test is running for over two hours"
2h 21m 51s and counting.
integration/tests/unowned_cluster/unowned_cluster_test.go

Refactor this beast or at least make it several smaller chunks so they can run in parallel.

This has been surfaces thanks to @aclevername's excellent refactor work of how we run Integration Tests. :)

[code]

This is the slowest test and doesn't require an update to the cluster. It can be tested outside of unowned

[2022-02-25 18:59] Himangini commented on #4838
thanks @julianogv for reporting this bug. We will investigate this issue shortly.

[2022-02-27 04:53] AqsaMemon opened #4852 "Custom ami and overrideBootstrapCommand problem. Fail to create cluster"
[code]
I am getting an error when I use a custom ami with overrideBootstrap command. Please help where I am going wrong. Thanks

[2022-02-28 06:19] Skarlso opened #4853 "Automatically create ASG tag from nodegroup's labels and taints - Round 2"
In https://github.com/weaveworks/eksctl/pull/4785 we tied the auto generation and population of labels and taints to desired capacity = 0. A follow up discussion in the PR determined that that is sub-optimal and that it should rather always do it based on a setting. Something like `tagForAutoscaler` or `propagateASGTags: true` or something in that direction.

Summary
- So we will add `propagateASG

[2022-02-28 09:57] Skarlso commented on #4459
The only that will be required however, is that a custom AMI is set. I can't do anything unless that is done, because only then will the Managed Nodegroups not merge all the user data. @janeklb

[2022-02-28 11:53] Skarlso commented on #4459
Okay, so after rummaging in the code, the following will be done:

- if kubeletExtraConfig is provided together with `ami`, we automatically attach the following ovveride script:
[code]
- if kubeletExtraConfig is provided together with `ami` AND `overrideBootstrapCommand` kubeletExtraConfig will override whatever is defined in the bootstrap command if `kubelet-extra-args` is definied in it. The re

[2022-02-28 11:56] #4803 closed

[2022-02-28 12:32] aclevername opened #4856 "Fix Release drafter"
### Description
Atm the release drafter is spamming a lot of entries for the release drafts.
 https://github.com/weaveworks/eksctl/releases
Investigate what's going on and fix the problem so we don't end up having infinite drafts. It should replace the draft in place rather than creating a new one every time

[2022-02-28 12:59] TBBle commented on #4853
I lean towards `tagForAutoscaler` over `propagateASGTags` as that the same config option could be used to implement #2263, adding the other tags needed for the Cluster Autoscaler to recognise the node-group.

However, perhaps we want to keep those two things separate, e.g., if the user is going over the 50-tag limit, they may want to disable copying all the labels as tags, but keep the behaviour o

[2022-02-28 13:06] matti opened #4858 "releases are tagged sometimes with v prefix and sometimes without"
for example `v0.85.0` vs `0.86.0`

This kind of releasing breaks tools like `asdf` - this old issue: https://github.com/weaveworks/eksctl/issues/4199 is now broken again

Summary
- Have a look at [Chetan's pr](https://github.com/weaveworks/eksctl/pull/4765)
- we ensure that every official github release uses the v prefixed tag.

[2022-02-28 13:08] Skarlso commented on #4853
Wasn't the point that we do this automatically rather than users have to repeat themselves?

[2022-02-28 13:15] youwalther65 opened #4859 "eksctl create cluster with karpenter section fails"
**What were you trying to accomplish?**
$ eksctl delete cluster -f eksctl-ipv6.yaml

**What happened?**
Hem installation of karpenter Helm chart failed

2022-02-28 13:46:28 [ℹ]  waiting for CloudFormation stack "eksctl-my-ipv6-cluster-karpenter"
2022-02-28 13:46:28 [ℹ]  1 task: { create IAM role for serviceaccount "karpenter/karpenter" }
2022-02-28 13:46:28 [ℹ]  1 task: { create IAM role for servi

[2022-02-28 13:21] Skarlso commented on #4859
@youwalther65 Hi. The fix has been release in 0.86.0-rc. Would you mind please trying that? Thanks!

[2022-02-28 13:36] Himangini commented on #4858
@matti Thanks for opening the issue. Can you add more details on how the `asdf` is broken again? As far as I can see from the related issue that they are ignoring `v` from the release tag if exists https://github.com/elementalvoid/asdf-eksctl/pull/1.

[2022-02-28 13:44] Himangini commented on #4858
After going through the releases page I can see `v0.83` was tagged with a `v` after that all the releases are without `v`
I am guessing this might be the result of migrating the jobs. Either way, we should have a consistent way of tagging releases.

[2022-02-28 13:53] matti commented on #4858
I just noticed that suddenly my:
[code]

[2022-02-28 14:05] Skarlso commented on #4858
Great, we can close this ticket then.

If they exist, I'm sure they'll open their own tickets and then we can deal with those issues. :)

Cheers.

[2022-02-28 14:24] youwalther65 commented on #4859
Thanks, this has helped, RC works !

[2022-02-28 14:24] #4859 closed

[2022-02-28 14:30] TBBle commented on #4853
That's what I'm suggesting. Maybe what I'm suggesting isn't clear. To be succint:

For this ticket, I'm suggesting that `tagForAutoscaler: true` means "Copy tags from node labels", and for #2263, `tagForAutoscaler: true` means "Add the magic tags that enable a NodeGroup for CA".

Or conversely, if `tagForAutoscaler: true`:
- Creates tags for all the specified labels and taints
- Adds the relevant

[2022-02-28 14:41] Skarlso commented on #4853
Alrighty then. :D

[2022-02-28 14:45] matti commented on #4858
:D

[2022-02-28 14:54] pre opened #4861 "releases are tagged sometimes with v prefix and sometimes without"
I came here to open an issue as asked by @Skarlso https://github.com/weaveworks/eksctl/issues/4858#issuecomment-1054290170

Related issues:
* https://github.com/weaveworks/eksctl/issues/4199
* https://github.com/weaveworks/eksctl/issues/4328
* https://github.com/weaveworks/eksctl/issues/4858

[2022-02-28 14:54] TBBle commented on #4853
That said, and to clarify my original comment, it might also make sense for there to be two config options:

* `tagForAutoscaler: true`: Adds the [relevant magic CA tags](https://github.com/weaveworks/eksctl/blob/v0.85.0/pkg/cfn/builder/nodegroup.go#L254-L265), to enable CA to auto-scale the group
* `propagateASGTags: true`: Creates tags for all the specified labels and taints, to enable CA to sca

[2022-02-28 14:55] Skarlso commented on #4858
@pre we agree. Hence Gini's comment:

We recently switched from circleci to pure Github actions. I'm guessing something went awry during the process.

[2022-02-28 14:59] aclevername commented on #4861
thanks @pre , I'm going to re-open #4858 and close this, as I think more clarity is needed and that issue has the context.

[2022-02-28 14:59] #4861 closed

[2022-02-28 15:07] aclevername commented on #4858
Just to summarise whats happened:

- Since `0.37.0` we started tagging every release with a and without the `v` prefix. Example:
https://github.com/weaveworks/eksctl/tree/0.80.0
https://github.com/weaveworks/eksctl/tree/v0.80.0
- We pick 1 of those to be the official github release, in the case of the above example it was the one with the `v` prefix

As @pre points out we have broken which one is

[2022-02-28 18:29] Himangini opened #4862 "Refactor code to use ValidateClusterConfig"
### Description
Follow up from https://github.com/weaveworks/eksctl/issues/4627, https://github.com/weaveworks/eksctl/issues/4627#issuecomment-1044849491
Code areas that should be refactored to use `ValidateClusterConfig`

### 1. `doCreateCluster` in `pkg/ctl/create/cluster.go`
- [ ] [L143-L222](https://github.com/weaveworks/eksctl/blob/5c6580b47340ff41e8f8c3ac42e6c84a1cfdefcb/pkg/ctl/create/clust

[2022-02-28 18:44] Himangini commented on #4853
@TBBle Thanks for all the comments. The team will review and see whether this functionality fits in with the project. In the meantime, if you would like to demonstrate a solution, please open a PR. 👍🏻

[2022-02-28 21:26] eatwithforks commented on #1993
I'm also running into this issue. Ideally, ClusterConfig addon's should take in environment variable configurations to eliminate a manual step after cluster creation to edit CNI's daemonset with environment variable updates such as WARM_PREFIX_TARGET.

[2022-02-28 22:28] rothgar opened #4863 "Cannot create Bottlerocket nodegroup from cli options"
**What were you trying to accomplish?**

Create a cluster with Bottlerocket node group without using a config file.

**What happened?**

I get this error during node group creation
[code]

**How to reproduce it?**

Using `eksctl` 0.86.0-rc.0 use this command

[code]

**Logs**

**Anything else we need to know?**

If I use a config file and don't set any settings for the node group the cluster is cr

[2022-03-01 06:59] cPu1 commented on #4863
This is certainly a bug as I was able to reproduce it.

However, your CLI options do not map to the config file as eksctl creates managed nodegroups by default, whereas your config file is using self-managed (`nodeGroups`) nodegroups.

[2022-03-01 07:37] matti commented on #4858
that https://github.com/elementalvoid/asdf-eksctl/pull/6 already adapts to both.

my two cents: use v or dont, just make it consistent.

[2022-03-01 09:14] Skarlso commented on #4858
Yes. :) Just like Gini said. :)

[2022-03-01 11:47] Himangini commented on #4863
@rothgar thanks for reporting the issue. We will investigate further and work on resolving this soon. 👍🏻

[2022-03-01 12:35] #4627 closed

[2022-03-01 12:40] richzw commented on #4031
@aclevername  We still met the same error with eksctl 0.85.0

[2022-03-01 12:44] aclevername commented on #4031
@richzw sorry I got the versions mixed up, can you try `0.86.0-rc.0`

[2022-03-01 12:44] Himangini commented on #4031
I think he meant 0.86.0-rc.0, can you try that please?

[2022-03-01 12:50] richzw commented on #4031
@aclevername , We install eksctl through `brew install weaveworks/tap/eksctl` and 0.85.0 is installed.

I try to upgrade eksctl through `brew install weaveworks/tap/eksctl@0.86.0-rc.0` and `brew upgrade eksctl && brew link --overwrite eksctl`. Unfortunately, none of them are successful.

Could you please help us with how to install  0.86.0-rc.0 correctly?

[2022-03-01 12:53] aclevername commented on #4031
Unfortunately brew only points at the latest release, not RCs

you can manually download the binary here https://github.com/weaveworks/eksctl/releases/tag/0.86.0-rc.0

[2022-03-01 13:02] richzw commented on #4031
@aclevername ,

Unfortunately, we got the same error

[code]

[2022-03-01 14:27] Himangini commented on #4833
We need to reproduce this issue in order to find determine if its fixable by us or not

[2022-03-01 14:49] Himangini commented on #4406
TLDR - there's a setting in the CF template that we can pass to make this work but we need to investigate whether this is possible or not.

[2022-03-01 16:12] aclevername commented on #4863
Thanks @rothgar . Looking into it it appears as part of https://github.com/weaveworks/eksctl/pull/4809 we only tested support for `unmanaged` nodegroups (referred as `nodeGroups` in the config file).

Any `eksctl create cluster` or `eksctl create nodegroup` defaults to creating a managed nodegroup (referred as `managedNodeGroups` in the config file). To create an unmanaged nodegroup pass in the `-

[2022-03-01 16:37] kdaula opened #4865 "eksctl fix to support ARM and GPU instances"
story comment https://github.com/weaveworks/eksctl/issues/4865#issuecomment-1068986514

---
eksctl currently treats ARM and GPU instances as mutually exclusive, and this doesnt hold up with the addition of the g5g instances. We are blocked on them fixing their current logic for g5g instances, because their current implementation leads to inconsistent behavior while resolving the AMI SSM parameters

[2022-03-01 16:56] aclevername commented on #4865
Thanks for opening the issue @kdaula . I think this is the cause of that: https://github.com/weaveworks/eksctl/blob/ffed567d78deb481c9ba9411c5575db110e20bfa/pkg/ami/ssm_resolver.go#L119-L126

we should update this code to allow the combination of ARM and GPU :smile:

[2022-03-01 17:15] chazdnato opened #4867 "Creating cluster incorrectly updates kubeconfig's authentication API versions"
**What were you trying to accomplish?**
Creating a cluster. We are using `aws sso login` for credentials. Cluster creation was as follows:

[code]

**What happened?**
The cluster was created successfully, but the kube config modification step failed:

[code]

**How to reproduce it?**
1. ensure `aws` credentials are exported (i.e. `export AWS_PROFILE=foo`)
2. create the cluster: `eksctl create clus

[2022-03-01 17:17] aclevername commented on #4867
Hey @chazdnato this looks like a duplicate of https://github.com/weaveworks/eksctl/issues/4031. Can you try with `0.86.0-rc0` and see if you can reproduce it? (you will need to recreate the kubeconfig for the API vesion change to propogate). Going to close this issue as I'd rather any follow up happened in https://github.com/weaveworks/eksctl/issues/4031 :smile: thanks!

[2022-03-01 17:17] #4867 closed

[2022-03-01 17:22] chazdnato commented on #4867
My apologies! I was looking at open tickets only. I'll try updating to `0.86.0-rc0`

Cheers!

[2022-03-01 17:39] Skarlso commented on #4459
So... I can't make this work without https://github.com/awslabs/amazon-eks-ami/issues/873 being a thing in the bootstrap.sh of a managed nodegroup. Without that, anything I would do with the extra config is just overwritten. I tried doing something like this:

[code]

As a userdata script. Which works very well actually. Where `%s` is the passed in kube config. It does merge the two configs. But..

[2022-03-01 17:40] AqsaMemon opened #4868 "Using AMI and overridebootstrap with create cluster fails"
@alpana17, the argument to `/etc/eks/bootstrap.sh` needs to be the name of your cluster; in this case:
[code]
If you continue to have problems, please open a new issue.

_Originally posted by @Callisto13 in https://github.com/weaveworks/eksctl/issues/3563#issuecomment-903133321_

[2022-03-01 17:46] kr3cj commented on #3718
@akestner , yes an integration with [new EC2 Attribute Based Selection feature](https://aws.amazon.com/about-aws/whats-new/2021/10/amazon-ec2-instance-auto-scaling-ec2-spot-fleet/) would likely meet our needs as well.

This also seems related, or at least a good time, to also refer to https://github.com/aws/containers-roadmap/issues/1297 as the combination of both of these ideas would greatly redu

[2022-03-01 17:50] Skarlso commented on #4031
@Skarlso I'll take a look at this tomorrow. Thanks for waiting. There still might be a case somewhere where I missed updating the apiVersion.

[2022-03-01 17:51] Himangini commented on #4863
To summarise after discussion with AWS, we have decided to go for Option 1

cc @kdaula @Vaishvenk

[2022-03-01 18:16] AqsaMemon commented on #3563
[code]
I am getting the same issue. Can anyone help what I am missing? Thanks

[2022-03-01 18:23] chazdnato commented on #4867
p.s. `0.86.0-rc0` does what is expected, thanks for the quick responses and fix!

[2022-03-01 18:24] jimmyraywv commented on #4031
I downloaded the RC release, `0.86.0-rc.0`, and this worked for me with `eksctl create cluster...` and `eksctl utils write-kubeconfig...`. I was testing with `aws-iam-authenticator version {"Version":"0.5.5","Commit":"85e50980d9d916ae95882176c18f14ae145f916f"}` that was upgraded (brew) with `eksctl 0.85.0`.

I did not test with earlier versions of `aws-iam-authenticator`.

[2022-03-01 18:45] AqsaMemon commented on #3563
ami and bootstrap command is giving me error. failed to create cluster. Please help

[2022-03-01 19:28] Skarlso commented on #3563
@AqsaMemon What's your error?

[2022-03-01 19:35] AqsaMemon commented on #3563
**@Skarlso** node creation failure. failed to create cluster
[code]

[2022-03-01 19:46] Skarlso commented on #4031
@jimmyraywv wait, so... it... works now? Sorry, bit confused by the comment. :)

[2022-03-01 19:47] Skarlso commented on #3563
Can you please take a look at the launchtemplate and see what kind of user-data is passed in and paste that here? Maybe there is something wrong with the overwriteCommand. Your config looks okay to me so far.

[2022-03-01 19:51] Skarlso commented on #3563
Ah, also, you can try to catch early problems during bootstrap by adding this: `set -ex` to the bootstrap script. So:

[code]

[2022-03-01 19:57] AqsaMemon commented on #3563
I am trying to install gitpod self hosted on eks. I am following this link : [](https://github.com/gitpod-io/gitpod-eks-guide). I am working on eks-cluster.yaml file :[](https://github.com/gitpod-io/gitpod-eks-guide/blob/main/eks-cluster.yaml).
I do not see any launch template.
I am missing something basic or conceptual.

[2022-03-01 20:28] rothgar commented on #4863
Thanks for the investigation. I forgot that the CLI created managed nodes by default now so I can use the `--managed=false` option for now until Bottlerocket managed node groups are available.

A clearer error message would be nice to have which I think would help users debug faster.

[2022-03-01 20:35] Skarlso commented on #4031
Ah okay, gotcha. So, what should happen is as follows:

- if you create a cluster with aws-iam-authenticator with a version before 0.5.3 and THEN upgrade, kubectl commands will fail and so will eksctl ones I believe
- in order for the fix to work, you must regenerate the kube-config always, if you upgrade aws-iam-authenticator. because that's when the api version gets updated

So to summarise the

[2022-03-01 20:45] rothgar commented on #4863
Another limitation I just found testing this. It appears I can't specify my instance types with `--managed=false`

[code]

[2022-03-01 20:58] aclevername commented on #4863
I believe there's an alternative flag for unmanaged, --node-type I believe. Will check tomorrow why we restrict that flag for managed

[2022-03-01 21:11] rothgar commented on #4863
It might be because self-managed node groups are only allowed to be a single instance type? The ASG could still be multiple types but there may be another reason to limit how many instance types are used for self-managed

[2022-03-01 23:34] kr3cj commented on #3718
Would you prefer a new ticket opened for that integration, @akestner ?

[2022-03-02 03:48] richzw commented on #4031
@aclevername, after regenerating the kube config file, the kubectl command could work well now.

Since the API version of aws-iam-authenticator is upgraded from v1alpha1 to v1beta1, the kube config file must be regenerated again. And it seems there is no other workaround.

Thank you very for your help.

[2022-03-02 08:01] Skarlso commented on #4459
FWIW I submitted the necessary modification to the bootstrap script as a PR [here](https://github.com/awslabs/amazon-eks-ami/pull/875).

[2022-03-02 09:03] Skarlso commented on #4868
**@Skarlso** I am trying to install gitpod self hosted on eks. I am following this link :[https://github.com/gitpod-io/gitpod-eks-guide](https://github.com/gitpod-io/gitpod-eks-guide). I am working on eks-cluster.yaml file :[https://github.com/gitpod-io/gitpod-eks-guide/blob/main/eks-cluster.yaml](https://github.com/gitpod-io/gitpod-eks-guide/blob/main/eks-cluster.yaml).
I did not make install yet

[2022-03-02 09:03] Skarlso commented on #4868
Copied over. Continuing here.

[2022-03-02 09:04] Skarlso commented on #3563
This is just an announcement, if anyone still has problems with bootstrapping, please open a separate issue with details! :) Thank you!

[2022-03-02 09:04] #3563 closed

[2022-03-02 09:06] aclevername commented on #4031
:ok_hand: glad it worked

Full release should be out at the end of the week and available through brew then

Everyone so far seems to have reported this working with the latest RC (plus another comment in [this issue](https://github.com/weaveworks/eksctl/issues/4867#issuecomment-1055729226)). Going to close for now :smile:

[2022-03-02 11:50] #4031 closed

[2022-03-02 12:44] aclevername commented on #4863
Makes sense!

this fix will be out in the next release :smile:

[2022-03-02 12:44] #4863 closed

[2022-03-02 13:26] Skarlso commented on #4868
I think this is not eksctl specific. You are trying to use a bootstrap script which is not what they are defining in their configuration example. Their AMI is probably something specific to this installation. Please try the eksctl configuration they are providing for installing gitpod here: https://github.com/gitpod-io/gitpod-eks-guide/blob/main/eks-cluster.yaml

[2022-03-02 14:25] aravindsuram opened #4872 "eksctl mapping for the ami id in different location"
**What were you trying to accomplish?**

**What happened?**

**How to reproduce it?**

**Logs**

**Anything else we need to know?**

**Versions**

[code]

[2022-03-02 15:48] pulberg commented on #4833
I tried with the latest eksctl, same issue.  I tried using the new -d logs output, but it's just the same info that is printed on-screen, so that's not helpful.

[2022-03-02 16:02] Skarlso commented on #4833
So, I'm trying to reproduce this. I have this profile:

[code]

logged in and started using `eksctl`

[code]

You can see that several minutes expired but I can still use `eksctl`.

Further, eksctl doesn't touch authentication. It uses whatever your environment provides here: https://github.com/weaveworks/eksctl/blob/main/pkg/eks/api.go#L392

Session duration should be half an hour.

[2022-03-02 16:22] pulberg commented on #4833
We use SSO for our auth and is all controlled by AWS control tower, our AD user accounts are mapped to a "role" in control tower and that role is propagated to all of our AWS accounts (30+), that way I can use the same role across all of our AWS accounts.

Example profile -

[code]

When using SSO, the time limited credentials are put into a .json file in `/Users/pulberg/.aws/sso/cache`, the json

[2022-03-02 16:32] pulberg commented on #4833
[code]
5sec later
[code]
5sec later
[code]

[2022-03-02 16:34] Skarlso commented on #4833
Hmmm.... Try the following...

`EKSCTL_ENABLE_CREDENTIAL_CACHE=1 eksctl get cluster --profile someprofile`

[2022-03-02 16:41] Skarlso commented on #4833
We do everything that is recommended for SSO to work on the go SDK:

https://aws.amazon.com/blogs/developer/aws-sso-support-in-the-aws-sdk-for-go/

We do enable shared config here:

[code]

[2022-03-02 16:47] pulberg commented on #4833
[code]
then...
[code]
then...
[code]
then...
[code]
then...
[code]

It appears that I must use `EKSCTL_ENABLE_CREDENTIAL_CACHE=1` if I am to expect consistent results.  Is this the expected workflow or is there still something going on?

[2022-03-02 16:54] pulberg commented on #4833
[code]
then...
[code]
then...
[code]

It appears that I have to use `EKSCTL_ENABLE_CREDENTIAL_CACHE=1` to get consistent results, I know the docs say this is optional and for use with MFA, maybe we are seeing a different use-case here that requires different handling of the sso time limited token.

Thanks for working with me on this, let me know if you would like me to test any other params or gat

[2022-03-02 16:59] Skarlso commented on #4833
Yeah, I'll take a look. Maybe there is something more that we need to enable or can do on the SDK side. I see a couple of issues relating to this around the SDK. https://github.com/aws/aws-sdk-go/issues/4054

It's the end of my day today though, so I'll pick this up tomorrow and I'll try to figure out if we can help in some way other than the cred cache. :)

[2022-03-02 17:08] Skarlso commented on #4833
@Skarlso look at this one too https://github.com/aws/aws-sdk-go/issues/3186

[2022-03-02 20:39] amites commented on #1094
any updates on this?

[2022-03-03 09:31] #4858 closed

[2022-03-03 10:21] aclevername opened #4877 "migrate to aws-sdk-go-v2 [1/9]"
## Background

As part of #3215 we want to migrate to use the [aws-sdk-go v2](https://github.com/aws/aws-sdk-go-v2). This involves migrating all of the AWS API calls, roughly 500~ to use the new package. A spike was complete and its finding was documented [here](https://github.com/weaveworks/eksctl/issues/3215#issuecomment-1047099306) and that included a demo branch [here](https://github.com/weave

[2022-03-03 10:23] aclevername opened #4878 "migrate to aws-sdk-go-v2 [2/9]"
## Background

As part of #3215 we want to migrate to use the [aws-sdk-go v2](https://github.com/aws/aws-sdk-go-v2). This involves migrating all of the AWS API calls, roughly 500~ to use the new package. A spike was complete and its finding was documented [here](https://github.com/weaveworks/eksctl/issues/3215#issuecomment-1047099306) and that included a demo branch [here](https://github.com/weave

[2022-03-03 10:24] aclevername opened #4879 "migrate to aws-sdk-go-v2 [3/9]"
## Background

As part of #3215 we want to migrate to use the [aws-sdk-go v2](https://github.com/aws/aws-sdk-go-v2). This involves migrating all of the AWS API calls, roughly 500~ to use the new package. A spike was complete and its finding was documented [here](https://github.com/weaveworks/eksctl/issues/3215#issuecomment-1047099306) and that included a demo branch [here](https://github.com/weave

[2022-03-03 10:25] aclevername opened #4880 "migrate to aws-sdk-go-v2 [4/9]"
## Background

As part of #3215 we want to migrate to use the [aws-sdk-go v2](https://github.com/aws/aws-sdk-go-v2). This involves migrating all of the AWS API calls, roughly 500~ to use the new package. A spike was complete and its finding was documented [here](https://github.com/weaveworks/eksctl/issues/3215#issuecomment-1047099306) and that included a demo branch [here](https://github.com/weave

[2022-03-03 10:26] aclevername opened #4881 "migrate to aws-sdk-go-v2 [5/9]"
## Background

As part of #3215 we want to migrate to use the [aws-sdk-go v2](https://github.com/aws/aws-sdk-go-v2). This involves migrating all of the AWS API calls, roughly 500~ to use the new package. A spike was complete and its finding was documented [here](https://github.com/weaveworks/eksctl/issues/3215#issuecomment-1047099306) and that included a demo branch [here](https://github.com/weave

[2022-03-03 10:27] aclevername opened #4882 "migrate to aws-sdk-go-v2 [6/9]"
## Background

As part of #3215 we want to migrate to use the [aws-sdk-go v2](https://github.com/aws/aws-sdk-go-v2). This involves migrating all of the AWS API calls, roughly 500~ to use the new package. A spike was complete and its finding was documented [here](https://github.com/weaveworks/eksctl/issues/3215#issuecomment-1047099306) and that included a demo branch [here](https://github.com/weave

[2022-03-03 10:27] aclevername opened #4883 "migrate to aws-sdk-go-v2 [7/9]"
## Background

As part of #3215 we want to migrate to use the [aws-sdk-go v2](https://github.com/aws/aws-sdk-go-v2). This involves migrating all of the AWS API calls, roughly 500~ to use the new package. A spike was complete and its finding was documented [here](https://github.com/weaveworks/eksctl/issues/3215#issuecomment-1047099306) and that included a demo branch [here](https://github.com/weave

[2022-03-03 10:29] aclevername opened #4884 "migrate to aws-sdk-go-v2 [8/9]"
## Background

As part of #3215 we want to migrate to use the [aws-sdk-go v2](https://github.com/aws/aws-sdk-go-v2). This involves migrating all of the AWS API calls, roughly 500~ to use the new package. A spike was complete and its finding was documented [here](https://github.com/weaveworks/eksctl/issues/3215#issuecomment-1047099306) and that included a demo branch [here](https://github.com/weave

[2022-03-03 10:29] aclevername opened #4885 "migrate to aws-sdk-go-v2 [9/9]"
## Background

As part of #3215 we want to migrate to use the [aws-sdk-go v2](https://github.com/aws/aws-sdk-go-v2). This involves migrating all of the AWS API calls, roughly 500~ to use the new package. A spike was complete and its finding was documented [here](https://github.com/weaveworks/eksctl/issues/3215#issuecomment-1047099306) and that included a demo branch [here](https://github.com/weave

[2022-03-03 11:57] hatimk commented on #274
Any updates on this?

[2022-03-03 12:14] Skarlso commented on #4833
So I looked into this for several hours now. I chanced upon a thread talking about caching creds as well. The SDK itself now provides the SSO provider, but it doesn't provide the same usage of .cache like `boto` does. So we have to resort to our own caching system that I implemented. I've read the SDK usage guide around SSO we are doing the best practices regarding that. Also there is this line:

[2022-03-03 12:40] Skarlso commented on #4735
Closed by https://github.com/weaveworks/eksctl/pull/4837

[2022-03-03 12:40] #4735 closed

[2022-03-03 13:32] rwillmer opened #4888 "0.83->0.85: eksctl get clusters shows different status for "EKSCTL CREATED""
**What were you trying to accomplish?**

I wanted to list the current set of clusters, so I ran
```$ eksctl get clusters```

**What happened?**

Using 0.83, the list of clusters was given, and the correct status of "True" was given in the "EKSCTL CREATED" column

I then updated eksctl to 0.85, and repeated the command. Now the incorrect status of "False" was given for the same clusters.

**How to

[2022-03-03 13:34] Skarlso commented on #4888
Yep, I saw that...

[code]

[2022-03-03 13:55] cfloressuazo commented on #3009
Hi @ajinkya933, how did you solve this issue?

[2022-03-03 16:16] Skarlso commented on #4838
Definitely a bug. We passed in an incorrect CIDR block somehow.

[code]

Instead of

[code]

Somewhere we miscalculate something.

[2022-03-03 17:29] guessi opened #4891 "`availabilityZones` parsing broken after upgrading to eksctl 0.86.0"
**What were you trying to accomplish?**
Create a new cluster with `eksctl 0.86.0`

**What happened?**
Defined `availabilityZones` in ClusterConfig but it randomly generated subnets but not honor the YAML setting.

**How to reproduce it?**
Create a minimal ClusterConfig (see blow) then execute the command as `eksctl create cluster -f ./experimental.yaml --dry-run` and you should see bouncing `avail

[2022-03-03 17:47] guessi commented on #4891
possibly caused by https://github.com/weaveworks/eksctl/pull/4828

[2022-03-03 18:08] guessi commented on #4891
Can be reproduced by command line input as well.

<img width="780" alt="image" src="https://user-images.githubusercontent.com/984415/156625308-cba3ab61-673a-4759-9553-761a7e9407bb.png">

[2022-03-03 19:16] Skarlso commented on #4891
Hum, that is odd. I'll take a look!

[2022-03-03 19:22] Skarlso commented on #4891
Interesting, my commit just checks if the node-zones are defined or not and if yes, they should be part of the zones. But that is only if you are using not configuration! So that's probably not related. In fact, I'll try to test with a previous version, see if that works.

[2022-03-03 19:26] Skarlso commented on #4891
Oh you already did check. Nice.

[2022-03-03 19:36] #4771 closed

[2022-03-03 19:37] Skarlso commented on #4891
I undid my changes and it still keeps doing that, so that's probably not it. Looking for something else.

[2022-03-03 19:59] Skarlso commented on #4891
Found the problem. We'll deal with it tomorrow. Thank you for this nice catch!!

[2022-03-03 21:37] Legion2 commented on #4821
I have this issue with eksctl version `0.86.0`
[code]
Note: I only replace the stack name once, the second `stack ""` was already empty

[2022-03-03 21:42] Legion2 commented on #4821
With `0.85.0-rc.0` and `0.85.0` the same problem

[2022-03-03 21:58] cartermckinnon opened #4892 "Behavior of `--managed` is unintuitive (and docs are wrong)"
**What were you trying to accomplish?**
https://docs.aws.amazon.com/eks/latest/userguide/launch-workers.html
[code]

**What happened?**
This command doesn't work as documented, the value of `--managed` must be passed like `--managed=false`. I believe this is the behavior of any `BoolVarP` flag with a default value of `true`. Using a default value of `false` would result in more ergonomic usage: if

[2022-03-04 01:17] guessi commented on #4891
@Skarlso just some notes as FYIs.

- I have used the same YAML config for quite a long time (thanks for your hard work), it was worked fine before `0.86.0`.
- I've tried `us-(east|west)-[12]`, same result.
- Tried with flag `--zones` (no YAML involved), no problem.
- Tried with flag `--node-zones` (no YAML involved), bouncing.

[2022-03-04 01:58] #4700 closed

[2022-03-04 02:14] guessi commented on #4891
Test with CLI:

[code]
[code]
[code]

[2022-03-04 06:04] Skarlso commented on #4891
@guessi Yeah, the validation got refactored and somewhere in there is a bug around the azs. @nikimanoledaki Is the expert in the area, she'll know what to do. ;) Thank you for the detailed description. :))

[2022-03-04 06:07] Skarlso commented on #4892
Interesting. Thanks for pointing this out. That document is on the AWS side, but we'll flag it on our next meeting together. :)

[2022-03-04 07:02] cPu1 commented on #4892
As you noted, the usage `--managed false` is not allowed due to how boolean arguments are handled in [spf13/cobra](https://github.com/spf13/cobra).

When the `--managed` flag was added, its default value was false. But this behaviour was later changed when we made [managed nodegroups the default](https://eksctl.io/usage/managed-nodegroups-announcement/). We'll ask AWS to update the documentation.

[2022-03-04 07:09] guessi commented on #4891
@Skarlso good to know there's an undergoing process to fix it. 👍 looking forward for 0.87.0+ release.

btw, it's just IMHO, I would suggest to have a known issue section on release page to avoid ppl created cluster/node in unexpected AZs, since not all instance types are available across AZs.

[2022-03-04 07:12] cPu1 commented on #4632
That's because the EKS Managed Nodegroups API does not expose it.

[2022-03-04 07:44] Skarlso commented on #4821
Fix incoming

[2022-03-04 07:48] cPu1 commented on #4872
@aravindsuram, can you add some details to the issue? It's unclear what you're trying to achieve from the issue title. Do you mean you want to use an AMI ID that's in a region different from where you're creating a cluster? If so, that's not possible.

[2022-03-04 09:03] #4821 closed

[2022-03-04 10:15] fizzbuzzard commented on #4892
I’m on the managed nodes team, so I’ll get the docs updated. 😉

[2022-03-04 10:16] cartermckinnon commented on #4892
I'm on the managed nodes team, so I'll get the docs updated! Thanks. 😊

[2022-03-04 10:40] aclevername commented on #4856
seems to have been resolved by https://github.com/weaveworks/eksctl/pull/4873

[2022-03-04 10:40] #4856 closed

[2022-03-04 11:04] nikimanoledaki commented on #4891
Thanks for finding this quickly and for opening a really well-documented bug issue @guessi, we really appreciate it!

We'll be shipping a fix in today's RC of `0.87.0` :)

[2022-03-04 11:11] guessi commented on #4891
@nikimanoledaki thanks for speedy update 👍

[2022-03-04 11:12] cPu1 commented on #4862
Great work, @nikimanoledaki. I just have a few points to note.

Not everything in this list can/should go in `ValidateClusterConfig`. Some of the functions here interface with AWS APIs while `ValidateClusterConfig` is free of calls to external services. Additionally, the checks performed for some commands, like `create cluster` are applicable only to that command, so moving those checks to `Valida

[2022-03-04 11:14] #4891 closed

[2022-03-04 11:24] nikimanoledaki commented on #4862
I completely agree with you! :) The list was made as a result of the previous ticket, which aimed to find all areas where "standard" validation code was not used. We need to see where we go from here.

What the code areas listed above have in common is the following:
* 4/5 are in `pkg/ctl` (!)
* they repeat a lot of validation that is done in other `ctl`s/packages/`ValidateClusterConfig`
* they mi

[2022-03-04 13:12] Himangini commented on #4877
Part of this we should agree on going forward way for implementing interfaces for mocks

[2022-03-04 13:37] Skarlso commented on #4838
Ok, found that the cidrBlock is failing to parse properly on the ipv6 side. Will have a fix today.

[2022-03-04 16:14] guessi commented on #4891
[code]

[code]

[code]

[code]

[code]

Confirmed fixed, thanks 💯

[2022-03-04 16:17] Skarlso commented on #4838
Okay, I'll try to summarise the problem here in case I don't get to finish this before my holiday.

We have this function:

[code]

We are trying to use https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/intrinsic-function-reference-cidr.html which is lovely but has a caveat. The cidrBits are hardcoded. To calculate the cidrBits based on a given cidr do the following:

take the number

[2022-03-04 16:24] Skarlso commented on #4838
Ah! So, on the other path we just don't care that we loose a few ips and allocate 6 subnets with 23. :) That makes sense and makes the calculation easier. :){

[2022-03-04 16:26] Skarlso commented on #4838
Ok, so 4096/6 -> ~682 -> log2(682) -> 9.4 -> 9 -> 32-9 -> 23.

[2022-03-04 17:17] Skarlso commented on #4838
I started a fix, but it's not working fully yet. :) I'm on vacation for a couple days and will get back to this if no-ones picks it up until then. :)

[2022-03-04 19:25] pulberg commented on #4833
it looks like this is no longer working in the 0.86.0 release -

[code]

[2022-03-04 19:26] Skarlso commented on #4833
We haven't touched that area at all. 🤔

[2022-03-04 19:27] pulberg commented on #4833
well, i was using it with 0.85.0 all day yesterday, updated this morn and not working.  I will revert to 0.85.0 and test...

[2022-03-04 19:27] orsenthil commented on #1070
Assuming you are an admin, and if you are struck at deleting a cluster due to this problem. Delete from AWS EKS Console (Web UI). a) Delete the nodegroups and b) Delete the EKS Cluster.

[2022-03-04 19:27] orsenthil commented on #1081
Assuming you are an admin, and if you are struck at deleting a cluster due to this problem. Delete from AWS EKS Console (Web UI). a) Delete the nodegroups and b) Delete the EKS Cluster.

[2022-03-04 19:28] Skarlso commented on #4833
What.... the.... heck :D

[2022-03-04 19:46] NukaCody opened #4906 "eksctl 0.86 does not respect availability zone specification"
**What were you trying to accomplish?**

Deploy an EKS cluster to specific availability zones

**What happened?**

eksctl chooses random AZs

**How to reproduce it?**

I ran `eksctl create cluster --verbose 5 -f mythicaleks.yaml` where the yaml config is:

[code]

I did this with both 0.85 and 0.86. Below is the log for 0.86

[code]

Here is the log for 0.85

[code]

[2022-03-04 20:02] aclevername commented on #4906
I believe this was fixed in 0.87.0-rc0, can you give that a try please 😄 ?

[2022-03-04 20:09] NukaCody commented on #4906
Sure can, looks like 0.87.0-rc.0 fixes it:

[code]

[2022-03-04 20:09] #4906 closed

[2022-03-04 20:25] aairbag commented on #777
i am unable to see that a resolution was reached regarding adding this feature. if that is the case, please note there is still interest in being able to assign existing EIPs to NAT gateways and re-opening this issue would be much appreciated thanks!

[2022-03-04 20:26] aairbag commented on #440
i am unable to see that a resolution was reached regarding adding this feature. if that is the case, please note there is still interest in being able to assign existing EIPs to NAT gateways and re-opening this issue would be much appreciated, thanks!

[2022-03-04 20:29] Skarlso commented on #4838
The change is done and unit tested. Hopefully the team will approve it and merge it, then next week's release will contain the fix. Thank you for spotting it!

[2022-03-05 01:53] #4703 closed

[2022-03-05 13:10] Skarlso commented on #4833
@pulberg Did you have anything?

[2022-03-06 04:19] ajinkya933 commented on #3009
Hello,

I had to request gpus from AWS. I didn't have any GPUs on my end to start a nodegroups.  I raised a service request to aws team to grant me this gpu vm and then it was resolved.

[2022-03-06 15:12] ecc256 opened #4907 "How to downgrade Kubernetes version 1.21 -> 1.19 to allow fargate-profiles?"
[managing-fargate-profiles](https://eksctl.io/usage/fargate-support/#managing-fargate-profiles) has a note:

From [AWS docs](https://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html):
The highest "Amazon EKS platform version" is **eks.4** for "Kubernetes version 1.21.5.
**eks.5** is available in Kubernetes version 1.19 and below (as of now).

Could update instructions to explain how

[2022-03-07 06:45] cPu1 commented on #4907
This note is incomplete, that platform version requirement is for EKS 1.14, not for EKS versions 1.15 and above. You will be able to use Fargate profiles on EKS 1.21. We'll update the doc.

[2022-03-07 09:58] #4736 closed

[2022-03-07 14:38] #4907 closed

[2022-03-07 15:23] gdlx opened #4910 "Empty get addons as Json output should be empty array"
I'm using `eksctl get addons -o json | jq ...`  in a script to know what addons are already installed and which ones I need to install.

But when no addon is installed, I just get this:
[code]

No actual Json string is generated meaning Jq will have nothing to parse and I need to add cumbersome logic to handle this case.

Shouldn't ` eksctl get addons -o json` (and maybe other eksctl commands) hav

[2022-03-07 15:30] nikimanoledaki commented on #4888
Can confirm this bug :/ cc @Himangini

[2022-03-07 15:42] nikimanoledaki commented on #4910
Thanks for opening this issue @gdlx. I can confirm this and agree that it would be better UX and more consistent with other eksctl commands.

As an example, eksctl does return an empty array when specifying `-o yaml` with the following command:
[code]

We do welcome community PRs if you are interested :) Otherwise, someone from the team will pick this up.

[2022-03-07 16:24] cPu1 commented on #4888
A [PR](https://github.com/weaveworks/eksctl/pull/4911) has been opened to fix the issue, it'll be out in the next releaes.

[2022-03-07 17:16] #4847 closed

[2022-03-08 01:41] hq6 opened #4913 "eksctl hangs after waiting for CloudFormation stack even after CloudFormation stack is done."
Here's a cluster config. Note that we are using a VPC that has no outbound internet access.

[code]

When I run the command `eksctl create cluster -f hq6.yaml`, I get the following output.  The expected output is either success or error.
[code]

Note that CloudFormation console shows the cluster is done building, but I do not see updates to `~/.kube/config`.
The expected behavior is that a cluster

[2022-03-08 07:35] cPu1 commented on #4892
The docs have been updated: https://docs.aws.amazon.com/eks/latest/userguide/launch-workers.html

[2022-03-08 07:35] #4892 closed

[2022-03-08 09:44] #4827 closed

[2022-03-08 10:25] cPu1 opened #4914 "Migrate LoggingRetryer to be compatible with aws-sdk-go-v2"
The interface and default implementation for the [Retryer](https://pkg.go.dev/github.com/aws/aws-sdk-go-v2/aws/retry) has changed, which requires migrating the `LoggingRetryer` to be compatible with [aws.Retryer](https://pkg.go.dev/github.com/aws/aws-sdk-go-v2/aws#Retryer).

Part of https://github.com/weaveworks/eksctl/issues/4877

[2022-03-08 11:23] #4813 closed

[2022-03-08 11:41] nikimanoledaki commented on #4481
Thanks for opening this issue @harisokanovic I can confirm that I was able to reproduce this with the info provided.

After taking apart the configuration you shared with us (very detailed, thanks! ✨) I narrowed down the problem to setting a value (any value!) for `serviceIPv4CIDR` in the config file, for Windows Pods running on Windows Nodes only. I tried with managed and unmanaged Linux Nodes an

[2022-03-08 18:29] metasim commented on #3894
I'm getting it in version `0.86.0`.

[2022-03-08 18:29] kdaula opened #4916 "Create Bottlerocket Managed Nodegroup from cli options with GPU AMI types"
story https://github.com/weaveworks/eksctl/issues/4916#issuecomment-1068977544

---
Create Bottlerocket nodegroup from cli options with GPU AMI types `BOTTLEROCKET_x86_64_NVIDIA` and `BOTTLEROCKET_ARM_64_NVIDIA`
This is an extension to #4863 , and will be in-line with option 3 in [comment](https://github.com/weaveworks/eksctl/issues/4863#issuecomment-1055609051)

[2022-03-08 18:38] Himangini commented on #4916
thanks for opening the issue @kdaula 👍🏻

[2022-03-08 18:39] metasim opened #4917 "Nodegroup listing stopped working after adding/removing other nodegroups"
**What were you trying to accomplish?**

List nodegroups.

Running `eksctl get nodegroups --cluster my-cluster --region=us-east-1` results in:

    Error: getting nodegroup's kubernetes version: failed to list nodes: no nodes were found

**What happened?**
After adding and deleting some existing nodegroups, listing them stopped working.

**How to reproduce it?**

Outside of my environment, I don't

[2022-03-08 20:16] hq6 commented on #4913
Quick update. I now see the following errors on kubelet:
[code]

[2022-03-08 23:52] carlosleoliveira opened #4918 "Can't create/get iamserviceaccount"
**What help do you need?**

I was making some tests in one of my clusters and I don't know what command I have done that now I can't list my iamserviceaccounts or even get a list. I'm seeing two errors:

eksctl get:
metadata of serviceaccounts that exist in Kubernetes will be updated, as --override-existing-serviceaccounts was set
no tasks

eksctl create:
Error: getting iamserviceaccounts: no outp

[2022-03-09 02:31] hq6 opened #4919 "Does eksctl support customizing env variables for aws-node and worker nodes?"
In my environment, I need to specify the HTTP_PROXY environment variable to make EKS work correctly due to lack of outbound internet and lack of permissions to write into route tables.

Is there a mechanism to inject extra environment variables into the daemonset aws-node?
Also, there is a mechanism to run custom scripts to set up env variables on unmanaged node groups?

[2022-03-09 11:22] nikimanoledaki commented on #4481
I couldn't find any discrepancies in eksctl and went through the networking config again. I'd made a mistake in one of my tests, so I tried it again. Setting `serviceIPv4CIDR` to `10.100.0.0/16` (the default EKS Service IPv4 CIDR) works for Windows too! :)

Feel free to set it to `10.100.0.0/16` or omit this field altogether if it's not needed to avoid these kinds of networking clashes.

This fiel

[2022-03-09 11:22] #4481 closed

[2022-03-09 11:56] nikimanoledaki commented on #4917
Hi @metasim, thanks for opening this issue.

Currently eksctl finds the nodegroup by searching for the label `alpha.eksctl.io/nodegroup-name=<nodegroup-name>`. We should change the label's key to `eks.amazonaws.com/nodegroup`.

[2022-03-09 12:09] Himangini commented on #4363
@nikimanoledaki are we still blocked on this? wondering if it's a good time to address this now?

[2022-03-09 12:21] nikimanoledaki opened #4920 "[integration test flake] Cognito fails to be associated"
[code]

run (1): https://github.com/weaveworks/eksctl-ci/actions/runs/1956255379 - did not occur in the test run before or after this run.

[2022-03-09 15:12] gdlx commented on #4910
I'm not a go developer but as it seems to be a minor change, I'll take a look.

[2022-03-09 19:36] kderck commented on #735
bump

[2022-03-09 19:50] Himangini commented on #735
@kderck thanks for expressing interest in this issue. Can you provide us any details of what issues you are having currently and are you using any workarounds atm?

[2022-03-09 20:02] kderck commented on #735
@Himangini We've created a Security Group for AWS Client VPN in our Development Account that references a Security Group created in our Shared Account that has the Client VPN Endpoint which is peered with our Kubernetes Clusters VPC. We want to be able to attach the Security Group to the cluster to allow ingress from the Client VPN. To work around this I've used the additional security group refer

[2022-03-09 22:11] harisokanovic commented on #4481
Thanks. I think the `10.100.0.0/16` range should work in most cases. However, are there other ranges that would work on Windows, in the event that `10.100.0.0/16` is unavailable?

[2022-03-10 01:12] #4913 closed

[2022-03-10 01:31] hq6 opened #4924 "Allow adding a post-bootstrap command that is run after the main bootstrap script."
**What feature/behavior/change do you want?**

I want to be able to append an arbitrary (ideally inline) bash script to the UserData that is part of the LaunchTemplates for unmanaged node groups. For example, this could be an option under each nodeGroup:

[code]

**Why do you want this feature?**

I want to use eksctl to create a cluster in an environment without outbound internet access. In such

[2022-03-10 01:59] janquijano commented on #4504
I have the same issue as @rajnikantMtech

I enabled it from Console and now it just says _Updating_.

[2022-03-10 06:48] cPu1 commented on #4882
Additionally, this issue should also cover porting the request retrying mechanism used for CloudFormation API calls.

[2022-03-10 08:41] cPu1 opened #4925 "Generate interfaces for AWS SDK v2 services from structs"
eksctl heavily relies on the AWS interface types for mocking but aws-sdk-go-v2 does not provide interfaces for its API services. As part of the code generation process, interfaces should be generated from aws-sdk-go-v2 structs. [ifacemaker](https://github.com/vburenin/ifacemaker) can help with this but it suffers from [this issue](https://github.com/vburenin/ifacemaker/issues/12), therefore the so

[2022-03-10 09:12] Skarlso commented on #3894
@metasim hi!

Seems to work for me with latest eksctl.

[code]

If you have any more detail, please open an issue. We normally don't monitor closed issues. Thank you!

[2022-03-10 09:17] Skarlso commented on #4924
Hi!

Is there a reason why you aren't using `overrideBootstrapCommand`?

[2022-03-10 09:36] bgdnlp commented on #735
This is the first issue I found when searching for how to add additional rules to the eksctl generated security group. What I'm writing might not fit the intention of the OP completely. It is also likely that I'm missing something, because at least some of this seems obvious to me, but I didn't find it in the docs.

I am creating a private/internal cluster that we access over VPN. Without defining

[2022-03-10 09:39] Skarlso commented on #4919
Hi @hq6

You could use the bootstrap command to define any environment properties. For that though you would have to define a bootstrap override. Currently, there is no other way to push environment properties to aws-node. There is an existing issue in the aws-go-sdk for this here: https://github.com/aws/aws-sdk-go/issues/4159

[2022-03-10 09:40] Skarlso commented on #4918
Oh-o... I remember doing something around that part. Will take a quick look at this.

[2022-03-10 09:48] nikimanoledaki commented on #4918
Chiming in to say that there is also more info on how to use `eksctl create iamserviceaccounts` in our docs here, which might be helpful for your specific case: https://eksctl.io/usage/iamserviceaccounts/

[2022-03-10 09:58] vflaux opened #4927 "Cannot fetch nodegroups when DesiredCapacity > 0 but no node is registered"
**What were you trying to accomplish?**
Get nodegroups info
[code]

**What happened?**

[code]

**How to reproduce it?**

Create a nodegroup with DesiredCaapcity > 0 then get nodegroups before the first node is registered in the cluster.
-OR-
Create a nodegroup with a feature gate not enabled on eks apiserver (ex: CustomCPUCFSQuotaPeriod).
Nodes won't be able to register into the cluster and `eksc

[2022-03-10 11:26] Skarlso commented on #4918
@carlosleoliveira hi!

That is interesting. It looks like it wasn't me. :) But also, it looks like your stack name is somehow defined but it is empty. Like, set to empty string. That's why it can't find it. So I suggest to look for clues around that part. What was the exact command you used to fetch things? I also recommend looking at what Niki pasted in. :) Good luck!

[2022-03-10 13:02] NadavkOptimalQ opened #4929 "kube-proxy stuck on ImagePullBackOff - Requested image not found"
**What were you trying to accomplish?**
I tried adding a new node pool with ARM nodes.

**What happened?**
The node is stuck on status NotReady with this error
`container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized`

I was trying to fix this issue and I ran
[code]

I looked at the pods on kube-syst

[2022-03-10 13:30] nikimanoledaki commented on #4929
Hi @NadavkOptimalQ, how did you try to achieve this? Could you please share any steps or config file used to do this so that we can try to reproduce the error? Thank you!

[2022-03-10 13:55] #4838 closed

[2022-03-10 16:11] #4888 closed

[2022-03-10 17:45] cthrasher commented on #4206
I think I've found the cause of this issue. What I was seeing was duplicate ExecStart assignments when running 'systemctl cat kubelet'. The second one was created by the bootstrap script creating /etc/systemd/system/kubelet.service.d/10-eksctl.al2.conf which appended a dockerd ExecStart to the kubelet.service config. To work around this issue, I added commands removing that file and did a daemon-r

[2022-03-10 18:12] cthrasher opened #4930 "kubelet config overwritten when bootstrapping with containerd and custom AMI (AL2)"
This is reopening #4206 which was closed for being stale. Essentially when creating a node using a custom AMI and '--container-runtime containerd', the bootstrap script would misconfigure kubelet.service, preventing it from starting.
[code]

In /var/log/messages there would be a loop of kubelet.service failing to start identical to the logs in #4206. I found this in the kubelet daemon config:

[co

[2022-03-10 19:54] kingdonb opened #4931 "Requesting Info for Flux docs - `eksctl` manager"
Greetings, we are supporting Flux+EKS users and have found the effects of the Server-Side Apply behavior have different implications depending on which version of `eksctl` was used to create the cluster.

I would like to make sure that it is documented somewhere prominently, which version the `eksctl` CLI started using the `eksctl` manager in managedFields. This is the first version that will not

[2022-03-10 20:33] Himangini commented on #4852
Duplicate issue https://github.com/weaveworks/eksctl/issues/4868
Closing this one

[2022-03-10 20:33] #4852 closed, assigned to nobody

[2022-03-10 20:33] Himangini commented on #4868
Dupe here https://github.com/weaveworks/eksctl/issues/4852

[2022-03-11 09:33] shardul-rajhans-precisely opened #4932 "EKSCTL Delete Cluster Stuck and Awaits for VPC Created by eksctl itself."
**What were you trying to accomplish?**

EKSCTL cluster is not getting deleted after running eksctl delete command. The cluster awaits for the CloudFormation stack to get deleted. And the CloudFormation Stack is stuck for a VPC that is not being released and thus times out. This is happening even if I create the cluster and delete it without performing anything. *If the VPC is created by eksctl it

[2022-03-11 09:40] Skarlso commented on #4932
Hi @shardul-rajhans-precisely!

Thank you for the report. We are investigating the issue on our side as well. Just to confirm, the same thing happened when you tried to use 0.83.0 as well?

[2022-03-11 09:53] shardul-rajhans-precisely commented on #4932
Yes
I have experienced the same issue on 0.83.0 as well. I have not tried earlier versions of eksctl.

[2022-03-11 10:36] cPu1 opened #4934 "Migrate file-based AWS credentials caching to be compatible with aws-sdk-go-v2"
The interface for configuring a custom credentials caching strategy is different in aws-sdk-go-v2. As part of migrating to aws-sdk-go-v2, `aws.Config` needs to be constructed with a file-based credentials cache, similar to the [existing one](https://github.com/weaveworks/eksctl/blob/main/pkg/credentials/filecache.go).

Related to #4877

[2022-03-11 12:12] f0xtek opened #4935 "Additional IAM policies not being added to NodeInstanceRole when using `attachPolicyARNs`"
Hi,

I am trying to attach two additional IAM policies to a managed node group's NodeInstanceRole, 1 AWS managed policy `AWSAppMeshEnvoyAccess` and another custom policy, using the following config:

[code]

However, when creating the node group, neither the `AWSAppMeshEnvoyAccess` nor `custom-policy` IAM policies are attached to the NodeInstanceRole. The two policies are not being rendered in the

[2022-03-11 12:36] f0xtek commented on #4935
Sorry, should mention, my eksctl version is 0.86.0.

[2022-03-11 16:33] nikimanoledaki commented on #4930
Thanks for opening this issue @cthrasher, if there are any other steps needed to reproduce this error please let us know. Someone from the team will investigate soon. :)

[2022-03-11 17:17] yechiel-optimalq commented on #4929
the issue seems to be that eksctl is setting the kube-proxy version to be kube-proxy:v1.21.5-eksbuild.2...
Updating the cluster from the GUI (adding the kube-proxy addon) set the image to be 1.21.2-eksbuild.2 and then it actually works..

[2022-03-11 17:45] toonarmycaptain commented on #925
+1

[2022-03-11 20:10] kmcarol26 opened #4939 "Can't create iamserviceaccount with wildcard in the service account name"
**What were you trying to accomplish?**

I am trying to create an iamserviceaccount using a configuration file. The name of the service account is `provider-aws-*`. The `*` is required here since that is replaced with a release number. You can read more about why this is needed [here](https://github.com/crossplane/provider-aws/blob/master/AUTHENTICATION.md#:~:text=The%20default%20ServiceAccount%20

[2022-03-11 20:56] zvazquez opened #4940 "No export named eksctl-sandbox-cluster::ClusterSecurityGroupId found. Rollback requested by user."
**What were you trying to accomplish?**
Add a manage nodegroup to an existing EKS cluster

**What happened?**
While trying to add the manage nodegroup, the cloudformation process fails with the following error:

`No export named eksctl-sandbox-cluster::ClusterSecurityGroupId found. Rollback requested by user.`

**How to reproduce it?**
`eksctl create nodegroup --config-file=sandbox-mng.yaml`

sand

[2022-03-12 05:04] tanvp112 commented on #4940
What's the error detail reported at CloudFormation console?

[2022-03-12 05:14] tanvp112 commented on #4932
Any resource that is not under eksctl control and is currently associated with the VPC; must be deleted first before calling eksctl delete cluster.

[2022-03-12 05:18] tanvp112 commented on #4929
Suggest you try again with the latest eksctl version.

[2022-03-12 05:25] shardul-rajhans-precisely commented on #4932
Agreed, but what my concern is, if I just create the cluster and delete it without doing anything then it should get deleted without having manual intervention right? For simplicity, I performed just creating and deleting the cluster, and even checked which kind of resources VPC holds, the VPC is related to a security group like `FMManagedSecurityGroup*`. That's why it's holding the CloudFormation

[2022-03-12 12:27] Skarlso commented on #4939
Hi @kmcarol26.

That guide is a bit misleading, but I believe the crossplane CLI will create that or something like that. You can see in the steps that the name is actually completely different and whatever you want. The crossplane CLI needs to create that. Please confirm.

[2022-03-13 12:19] pkit opened #4941 "if serviceaccount is deleted eksctl would not re-create it"
**What were you trying to accomplish?**

[code]

**What happened?**
[code]
Although serviceaccount does not exist at all.

**How to reproduce it?**
1. Use `eksctl create iamserviceaccount` to create a serviceaccount
2. Use `kubectl delete` to delete serviceaccount
3. Run `eksctl create iamserviceaccount` again to see the "no tasks" and serviceaccount is still lost.

**Logs**

**Anything else we ne

[2022-03-13 22:37] hq6 commented on #4919
Thanks for the pointer! I can try with the bootstrap override for the unmanaged node groups.

For the aws-node issue, since it's blocked on the dependency issue, should I keep this issue open or close it?

[2022-03-13 22:40] hq6 commented on #4924
I missed it when I was looking at the schema.

I think I can use [preBootstrapCommands](https://eksctl.io/usage/schema/#nodeGroups-preBootstrapCommands) for this.

[2022-03-13 22:43] hq6 commented on #4924
Actually, looking more carefully, I think these are insufficient.

The problem is that the command I was going to add post-bootstrap requires reading the value of `API_SERVER_URL`, which is set by `eksctl`.
If I use preBootstrapCommands or overrideBootstrapCommand, it's not clear how I can get access to the value of this variable.

[2022-03-14 03:48] tanvp112 commented on #4932
Yes. To be more precise, even if you use awscli to delete the VPC that currently has hard dependency; your awscli call will also fail. This is not eksctl specific but how AWS VPC works.

This is not something eksctl will create. It reads like your VPC has [firewall manager security group](https://docs.aws.amazon.com/waf/latest/developerguide/security-group-policies.html) associated with it.

[2022-03-14 05:45] Skarlso commented on #4932
Thank you for chiming in @tanvp112!

[2022-03-14 05:51] Skarlso commented on #4929
These two versions are definitely trouble:
[code]

Please try the latest as suggested by the previous comment.

[2022-03-14 06:02] Skarlso commented on #4924
Hmm, I see no immediate reason why to NOT have a post bootstrap script. 🤔 And it even looks like it would be relatively easy to implement.

I have to discuss this with the team, but this might be doable if there are no security concerns or things like, easy to mess up everything. :)

[2022-03-14 06:04] Skarlso commented on #4924
BTW, that would mean that you would HAVE to define the override as well. We don't control the bootstrapping normally, which means, we don't really have a hook unless we execute the bootstrapping.

[2022-03-14 06:05] Skarlso commented on #4924
Oh, and of course this is only for unmanaged nodegroups.

[2022-03-14 06:07] Skarlso commented on #4919
@hq6 Yeah, it's worth having it around to increase visibility! :)

[2022-03-14 06:11] Skarlso commented on #4941
Hi @pkit!

Interesting. Do you see this line by any chance in the log output?

[code]

[2022-03-14 06:13] Skarlso commented on #925
@toonarmycaptain hi. This has been fixed with the latest version in eksctl. You have to re-create the config file for the cluster. Then it will work. Thanks.

[2022-03-14 06:15] hq6 commented on #4924
Sorry I think I'm now a bit confused about exactly which part of the UserData in each LaunchTemplate for the unmanaged node groups is considered "bootstrapping" and is overriden by overriding the bootstrap.

Is it the part after the `API_SERVER_URL` is written to a file or something else?

If it's afterwards, then it's possible that postBootstrap would be equivalent to overriding the bootstrap com

[2022-03-14 06:18] shardul-rajhans-precisely commented on #4932
Thanks for the reply @tanvp112 , Can you also help in the steps that will be required to delete the cluster after using the delete command? I tried deleting the security group which was stopping the VPC to be deleted but it gets created again and again and the delete command doesn't work. One way I found is, if I run the delete command at first and wait for the DELETE_FAILED status, then I delete

[2022-03-14 06:23] Skarlso commented on #4941
@pkit Never mind. I found the problem. Now, the question is.... is it deliberate or are we just missing a pass in over the override flag.

[2022-03-14 06:27] Skarlso commented on #4941
We filter our existing names here: https://github.com/weaveworks/eksctl/blob/main/pkg/ctl/cmdutils/filter/iamserviceaccount_filter.go#L48

Note that the actually comment on the function is incorrect too, hehe. So this filters out existing names prior to even attempting to re-create them. I think this just misses the Plan ( aka override ) flag passed in. So, in case of an override, just ignore this

[2022-03-14 06:51] Skarlso commented on #4924
Well, a postBoostrap would literally just be slapped after the bootstrap script. So if there is anything that you can do in the overridBootstrap that has the same effect then an postBootstrap doesn't make sense, yes. :/

[2022-03-14 06:52] Skarlso commented on #4924
`API_SERVER_URL` is just passed to the EKS bootstrap script such as:

[code]

[2022-03-14 07:15] Skarlso commented on #4930
Hi @cthrasher.

I can see that we introduce that drop-in systemd thing. This predates me, so I have to dig around why we have it in the first place. Besides, the TODO to remove it is there for over a year now. :))))) Let's hope we can actually remove it completely now, so we can get rid of this problem easily.

[2022-03-14 07:38] Skarlso commented on #4935
Hi @f0xtek

I have a hunch that something is getting overwritten before it can be applied. I'll try to reproduce this and see if I can. My hunch is that defining `withAddonPolicies` or at least one of its attributes has an unintended side-effect.

[2022-03-14 07:42] hq6 commented on #4924
Okay, I think I have a better sense of where I'd been confused before. Just to check my understanding, here's the whole `UserData` block:
[code]

overrideBootstrap replaces the contents of the script ` /etc/eks/bootstrap.sh`.
preBootStrap, when given, runs immediately before ` /etc/eks/bootstrap.sh`, but after `/etc/eksctl/kubelet.env` is written.

Is this correct, or are each of these in a differ

[2022-03-14 07:44] hq6 commented on #4924
If the above was correct, I was originally envisioning a `postBootstrap` option running immediately after  the invocation of `/etc/eks/bootstrap.sh`, which would imply I could specify it without needing to override the bootstrap, as you mentioned was required [here](https://github.com/weaveworks/eksctl/issues/4924#issuecomment-1066412006).

[2022-03-14 07:51] Skarlso commented on #4924
Aha, aha. I see. Yeah, makes sense. 🤔

I think it's a reasonable thing to add. Yeah, we might be okay by not defining the override. I'm just wondering what our hook is here then. We literally just clobber this together as a list of scripts. If you leave out the bootstrap part, then what's "post" in that context if that makes sense?

[code]

It's just a list of scripts and files.

[2022-03-14 07:54] Skarlso commented on #4924
Which is what I meant by, we have to define the bootstrap then, because otherwise it's just a script in the list of scripts and it would be considered as a pre... because it's just a list.

[2022-03-14 07:57] Skarlso commented on #4924
We can do that in the code, of course. I'm not saying the USER has to define it. But we will have to override it if post is defined.

Something similar is done in the terraform EKS provider.

[code]

[2022-03-14 08:04] hq6 commented on #4924
To be explicit, the code that sets up user data when bootstrap is not
overridden is a completely different code path?

On Mon, Mar 14, 2022, 12:57 AM Gergely Brautigam ***@***.***>
wrote:

[2022-03-14 08:12] Skarlso commented on #4924
Nope, we always define userData, just in different ways in different scenarios.

Whether or not you define override, the path is the same, just with an `if ng.OverrideBootstrapCommand != nil {` in between.

[2022-03-14 08:16] Skarlso commented on #4924
And I'm saying that it is technically possible, just be aware that in the background it will be overwritten. :D We are talking about the same thing here. I'm just saying that we will have to define it in the code because otherwise there is no concept of `post` because there is no hook of any kind. It's just a list of scripts. :)

[2022-03-14 08:17] Skarlso commented on #4924
So basically, if `post` is defined, we will, in the background, create an override and append the post script to it. Otherwise, it's just a script that runs before the override. Similar to what terraform does in terms of `post`.

[2022-03-14 08:20] Skarlso commented on #4935
Huh, that is weird. It's not in there, even using this config:

[code]

`AWSAppMeshEnvoyAccess` is nowhere to be seen. Interesting, I'm pretty sure this used to work.

[2022-03-14 08:26] Skarlso commented on #4935
It's `attachPolicyARNs` 🤦.

[2022-03-14 08:27] Skarlso commented on #4935
@f0xtek Sorry, this took me a while to notice, but you have a typo in how the value is written. It's `attachPolicyARNs`. With capitol ARN... :)

[2022-03-14 08:41] hq6 commented on #4924
That makes sense, thanks!

On Mon, Mar 14, 2022, 1:18 AM Gergely Brautigam ***@***.***>
wrote:

[2022-03-14 09:14] cPu1 opened #4944 "Fix Slack notifications for releases"
The release jobs were migrated from CircleCI to GitHub Actions but the functionality to send Slack notifications upon completion of the jobs is still missing.

[2022-03-14 09:18] Fantaztig commented on #3839
Sorry but I can't really agree with @tanvp112 here, starting with calling eksctl declarative when it is really the imperative nature of a cli that makes me want to use something like cdk in the first place.
Maybe things have changed over the last 6 months but it seems I can do everything with either eksctl and cdk in quite the same way. Having the configuration written down as code in cdk seems a

[2022-03-14 10:38] pkit commented on #4941
I really do not understand the logic that you have there. :)

[2022-03-14 11:04] Skarlso commented on #4941
It's basically just checking if it exists. And if it does, it will be ignored. That why you see something like this in the logs:

[code]

[2022-03-14 11:34] Skarlso commented on #4941
It checks if it exists in kubernetes.

[2022-03-14 11:37] pkit commented on #4941
But it doesn't.
Another scenario: same problem.
If I don't have permissions to create sa, the sa is not created, but the cf task stays there and any new re-run would not do anything too.

[2022-03-14 11:39] Skarlso commented on #4941
Interesting. But the error is definitely coming from there. So okay, did you see the above two lines in the log output?

[2022-03-14 11:42] pkit commented on #4941
Yup, it's immediately excluded. In the first log line.
It's never checked in k8s, because I don't see any API calls

[2022-03-14 11:45] Skarlso commented on #4941
Oh I see what's happening. So we only do that if override is false, right? And it isn't false. So it got all the existing accounts from the stack which they do, right? Because the stack is there. And then it proceeded to filter them out in the call here:

[code]

which does this:

[code]

Which is responsible for the log output. Now, we just have to find where the exclude is coming form.

[2022-03-14 11:47] Skarlso commented on #4941
It's added to the exclude list `	f.excludeNames.Insert(uniqueNames...)` in that function which is then used further down the line somewhere.

[2022-03-14 11:48] Skarlso commented on #4941
This guy filters them out:

[code]

It's really not obvious what the heck is going on in there. :D

[2022-03-14 12:00] Skarlso commented on #4941
Note that this is linking the nodegroups, but these flags are also defined on the IAM account. But I couldn't find them in the docs. :)

[2022-03-14 12:18] pkit commented on #4941
I think I've got it, should be something like this:
[code]
The problem is that `existing` is always fintered out, but in case of a stale CF task it's should not be filtered.
That's why here I always do `ForEach` on service accounts and remove the ones that not exist from the `existing` slice.

[2022-03-14 17:11] Fantaztig commented on #3839
I see, for simple projects this might be suitable. But as soon as you turn the complexity up a notch you will have to configure most of the options yourself either way. E.g. I don't want to create a new VPC with subnets as the subnets are shared or prepared through IaC already. In such cases having 60 lines of yaml for the cluster alone or 200 for the whole infra including vpcs, subnets, etc. does

[2022-03-14 17:23] pkit commented on #4941
Looks like `NewTasksToCreateIAMServiceAccounts` interface needs to be altered to support another set of SAs for "create in k8s only". Right now it will add a new CF task unconditionally.

[2022-03-14 19:51] #4655 closed

[2022-03-14 19:51] Himangini commented on #4655
Closing this ticket now. The next steps are to turn the proposal into actionable tickets

[2022-03-14 21:56] Skarlso commented on #3839
@Fantaztig Then I suggest you use whatever tool you deem necessary for this situation. For plenty of other users, eksctl seems to work fine. :)

I'm not sure I get this one. I mean, 60 lines of yaml beat 200 lines of... what code? I think. Easier to maintain too. Besides, I doubt that 200 lines is enough including all the management stuff, and security groups, connections, enis, ASG configs, addon

[2022-03-15 00:20] alexsorokin-at commented on #1253
Any updates here?

[2022-03-15 08:05] #4927 closed

[2022-03-15 08:07] nikimanoledaki commented on #4927
It'll be included in the Release Candidate this Friday! 🥳

[2022-03-15 08:21] #4910 closed

[2022-03-15 08:36] junghoon15 opened #4954 "how can i attach existing role for cluster role"
As i mentioned in title, is there any possible way to attach existing role i just created to cluster while using `eksctl create cluster` command?

i tried using below command in `cluster.yaml` file but still cluster is created with auto generated role like
`arn:aws:iam::[USER]:role/eksctl-[CLUSER_NAME]-cluster-ServiceRole-randomcode`

![스크린샷 2022-03-15 오후 5 39 08](https://user-images.githu

[2022-03-15 08:57] Skarlso commented on #1253
Pulled this into refinement to pick up and talk about. We'll see where we'll get to with this. Meanwhile, we accept contributions. :)

[2022-03-15 08:58] Skarlso commented on #4941
We'll look at this during next planning which is tomorrow and try to come up with something. Several tests will have to be altered as well and / or fixed. :)

[2022-03-15 09:01] Skarlso commented on #4954
@junghoon15 Hi. Your config is correct, but note that it's called `serviceRoleARN` and not `serviceRoleArn`.

[2022-03-15 09:04] Skarlso commented on #4954
https://eksctl.io/usage/schema/ -- take a look at the config schema for the correct spelling. :)

[2022-03-15 09:06] junghoon15 commented on #4954
@Skarlso wow...i was using `instanceRoleARN` in nodeGroups while `serviceRoleArn` in iam. you just save my time !! thx a lot

[2022-03-15 09:06] #4954 closed

[2022-03-15 09:52] aclevername commented on #4944
The credential is in the repo already, we just have to add the slack messages back into the github actions

[2022-03-15 11:39] aclevername commented on #4931
Hey @kingdonb :wave: thanks for opening the issue.

I've gone through the code (as well as looking at older eksctl tags) and can't find anywhere we consciously add the managed field tag for eksctl. I can see that we have some code for [removing it from `ServiceAccounts`](https://github.com/weaveworks/eksctl/blob/3bc088df6e8e0f59ceeaed7ccccb544f42e21855/pkg/actions/addon/create.go#L136) that are cr

[2022-03-15 13:55] matti opened #4956 "[Bug] instanceSelector can not filter out c5.metal instances"
While this is not related to eksctl directly, I'm hoping for faster escalation to the AWS EKS team and find some solution to filter out certain instance types (maybe with https://github.com/weaveworks/eksctl/issues/3718)

### What were you trying to accomplish?
run managedInstanceGroup with nodeSelector 96vcpu

### What happened?
I get both c5.24xlarge and c5.metal - c5.metal crashes due to https:

[2022-03-15 14:00] aclevername commented on #4956
Hey @matti , thanks for raising the issue.

A workaround for now might be to used the [dry-run](https://eksctl.io/usage/dry-run/) feature to generate the list of instances supported by your parameters, and then remove the troublesome types. E.g. ` eksctl create cluster -f cluster.yaml --dry-run` will generate the instances:
[code]

you can then remove the types you like and use the generated confi

[2022-03-15 14:16] Himangini commented on #4862
@Himangini and @nikimanoledaki to pair and break this ticket further down

[2022-03-15 14:21] Himangini commented on #4865
@aclevername will fill out the feature request template here

[2022-03-15 14:23] Himangini commented on #4916
@aclevername will fill out the feature request template

[2022-03-15 14:28] Himangini commented on #4701
This issue requires some investigation around the issue, we also need to check with AWS if this is unblocked now so we can get rid of the workaround implemented before.

[2022-03-15 14:50] Himangini commented on #4734
@aclevername @nikimanoledaki will fill out more information.

[2022-03-15 14:59] Himangini commented on #4944
We should add the slack notifications to the build all distros jobs as well.

[2022-03-15 15:17] Himangini commented on #4941
We will try to reproduce this issue with the following steps provided, except the 2. step, we will use eksctl to delete the service account. If we can do this successfully then suggest the same solution to the user.
[code]

[2022-03-15 15:20] pkit commented on #4941
@Himangini I'm not sure how's that the same situation though
Service account can get deleted by deleting DS or Deployment that uses it.
It cannot be fully managed by `eksctl`

[2022-03-15 15:28] aclevername commented on #4930
@cthrasher rather than using an overrideBootstrap command have you considered specify `containerd` for the `containerRuntime` field in the nodegroup configuration? https://eksctl.io/usage/container-runtime/#un-managed-nodes

[2022-03-15 15:30] Fantaztig commented on #3839
@Skarlso  Yess, I guess thats a good conclusion after all. :)
At the time of writing I was a bit bummed out about the fact that eksctl was praised to be **the** declarative tool for eks management, when I could not apply some of the changes I made in the config file without trying 4 different commands.
But then again, as you said, this is not terraform, so I have to learn the way of eksctl to appr

[2022-03-15 15:41] matti commented on #4956
thanks, good point.

[2022-03-15 19:05] Skarlso commented on #4939
That trust relationship in that guide is created via the aws tool, not eksctl.

[2022-03-15 19:10] kmcarol26 commented on #4939
@Skarlso Yes, the guide does not create the role via eksctl but I am using eksctl's [iamserviceaccounts](https://eksctl.io/usage/iamserviceaccounts/) to create an iamserviceaccount which will create an IAM role with the trust relationship. The below is the config file I used. I have used this for creating other roles with trust relationships as well, however this one has the wildcard(*) which does

[2022-03-15 19:38] kmcarol26 commented on #4939
@Skarlso The service account name  will be of the regex format `provider-aws-*` where `*` is replaced with the release number. So for example `provider-aws-11562` Since with every release the service account name will change, the Trust Relationship needs to use the StringLike condition as below:
[code]

It does not look like crossplane helm chart has a way of overriding the service account name at

[2022-03-15 20:10] Skarlso commented on #4939
It's not NOT possible, but it's highly unlikely that we will allow that. 🤔 Because of the thing, I said, about how we discover resources. We expect them to be in a specific format so we can look them up later.

In any case, I'll put this issue into refinement and see what other team members think about it. Maybe I'm missing something. :)